[2014-05-20 19:38] sgillies commented on #377
What would idiomatic access to raster data look like? Rasterio's is built around Numpy, and that's how I avoid Band objects, but the Node community doesn't have something quite as mature yet, does it?

Would Fiona's interface be useful for Node? Call an `open()` function to get a container of GeoJSON-ish data?

[2014-05-20 19:40] tmcw commented on #377
Closest would be [ndarray](https://github.com/mikolalysenko/ndarray) probably, but I don't know if that would scale well to raster-data-size datasets.

[2014-05-20 21:25] tkrajacic commented on #373
Can't TM2 export vector tiles to an mbtiles file?

[2014-05-20 21:27] animaux commented on #373
@tkrajacic My question was regarding raster mbtiles.

[2014-05-20 21:28] tkrajacic commented on #373
@animaux sorry, I misinterpreted then, but since I haven't tried out TM2 yet, I wonder if the vector tile in mbtiles format does work indeed? ;)

[2014-05-20 21:30] animaux commented on #373
As far as I understand vector tiles are a source-format rather than rendered tiles.

[2014-05-20 21:31] yhahn commented on #373
@tkrajacic yes, https://github.com/mapbox/tm2#exporting-and-uploading-a-source-mbtiles

[2014-05-20 21:32] animaux commented on #373
A bit confusing both types are called .mbtiles …

[2014-05-20 21:32] #83 closed, assigned to yhahn

[2014-05-20 21:32] tkrajacic commented on #373
@yhahn brilliant, I knew I read it somwhere already :)
@animaux Well, a `mov` file can also contain many kinds of different formats. It's just a container such as `mbtiles`

[2014-05-20 23:49] springmeyer opened #381 "ensure tests can be run cross platform"
We are currently using bash for the tests. Perhaps we could have a node.js test runner instead?

I pushed a start at this to https://github.com/mapbox/tm2/tree/cross-platform-tests but I'm seeing problematic behavior on os x. After the tests run 3-4 node processes come back from the dead, eat all my CPU, and make a second run fail hard. I presume we need to also port the client test runner to node

[2014-05-21 03:10] yhahn commented on #381
Hrm, I wonder for now if we can leave the client-side/phantom tests out of the appveyor test run? So npm test will just run mocha and only travis will run the client-side tests?

[2014-05-21 03:30] springmeyer commented on #381
:+1:

[2014-05-21 03:33] springmeyer commented on #381
nice, your change got the tests actually to run on appveyor (https://ci.appveyor.com/project/springmeyer/tm2/build/1.0.9#L813). They expose that something is broken with the windows build of gdal and also a few failing tests. There should be more output showing up for the failing tests. @BergWerkGIS  and I have observed this problem before - some loss of stderr/stdout - not sure what is going on.

[2014-05-21 06:59] wilhelmberg commented on #381
I've also seen that plugin error pop up from time to time, because node-mapnik is not able to locate `mapnik.dll`.
Don't know why. Maybe we still have a hardcoded reference to `C:\dev2` somewhere?

You could try adding the path to mapnik.dll manually and see if this solves the problem.

[2014-05-21 07:05] georgbachmann opened #382 "Having a remote source as well as a local source?"
Is is possible to have a remote source like Mapbox Streets V4 which is the default one and ADD a local shape file as a source?

I figured out that i can add a local shape file as source, but then just have that one...
What I'd like to do is to add some extra information to a source like Mapbox Streets V4.

Btw. there is no "Mapbox Outdoors" source available yet, right?

[2014-05-21 11:10] #376 closed, assigned to nobody

[2014-05-21 11:17] #321 closed, assigned to nobody

[2014-05-21 11:18] yhahn commented on #203
Going to just live with this for now. We'll test within the scope of a single page load.

[2014-05-21 11:18] #203 closed, assigned to nobody

[2014-05-21 11:20] #265 closed, assigned to nobody

[2014-05-21 12:47] #70 closed, assigned to nobody

[2014-05-21 13:10] landonreed commented on #376
Thanks!

[2014-05-21 14:51] yhahn opened #384 "url.parse() with windows paths"
One of the early assumptions of tm2 -- that source/style IDs should be represented as URIs with protocols + filepaths -- seems like it's going to meet some tough love from the windows world.

[code]

Well... that's terrifying : | Going to mull on this a bit.

[2014-05-21 15:00] yhahn commented on #384
Some clues from how browsers use `file://` on Windows:

![file](http://devproconnections.com/site-files/devproconnections.com/files/archive/devproconnections.com/content/content/145221/unsafejavascript.png)

[code]

[2014-05-21 16:18] springmeyer commented on #384
trying to do `url.parse('tmstyle:///C:/some/path');` looks more promising. In most cases in Node.js you can use forward slashes for windows.

[2014-05-22 14:25] yhahn commented on #357
@camilleanne to start sketching out the UI to hook up to this endpoint,
- Duplicate these files for a starting point

[code]
- Add a `/print` route or so that is a c/p of the style page route and switch it to use the print template https://github.com/mapbox/tm2/blob/master/index.js#L69

[2014-05-22 19:49] yhahn commented on #98
- [x] Change projection dropdown to textfield on all the `mapnik-omnivore` layer templates
- [x] Have the mapnik omnivore metadata inspection autofill the projection string

[2014-05-22 19:53] yhahn commented on #81
- [x] Add a little button using base to each layer for zooming to extent
- [x] Use a `.js-zoomtolayer` select + backbone view handler for looking up extent for the layer
- [x] Zoom/pan the map to that extent

![ne bathymetry](https://cloud.githubusercontent.com/assets/83384/3059369/b72edb6e-e1ea-11e3-9358-c90669512458.png)

[2014-05-22 19:54] yhahn commented on #245
@GretaCB here's the meta-background ticket.

[2014-05-22 19:57] yhahn commented on #171
@GretaCB this is about a different file format but touches on a very similar issue we discussed:

There may be some reason to flip the order of layer addition from:
1. Choose type of layer to add (postgis, geojson, kml, gpx, etc.)
2. Pick file for the layer

To:
1. Pick file to add (what about postgis/and other non-file type data???)
2. Edit layer(s) that are automatically defined/added

A third a

[2014-05-22 20:50] GretaCB commented on #98
@yhahn Will the projection text field autofill after uploading the file, therefore being just a read-only field?
Or...will the value of the projection text box be editable and therefore, the value within the input box changes the output of the map?

[2014-05-22 20:52] yhahn commented on #98
Not sure ... I think editing this field directly is like a super power-user-expert use case and for everyone else is basically a trap : |

[2014-05-22 20:56] GretaCB commented on #98
@yhahn
Ok, for now I will just add the straight up projection string (`+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs`) and make it read-only.

[2014-05-22 20:57] yhahn commented on #98
:+1:

[2014-05-22 21:34] springmeyer commented on #171
I would really love to support drag-and-drop in tm2. This might sound silly/off scope but its actually very very useful/fast. QGIS allows this: you drag and drop a shapefile's `.shp` and the layer is automatically added. In QGIS if you drag and drop a `.gpx` you get presented with a menu of layers to choose from. So, that is another point for just starting with "Pick a file to add" and not forcing

[2014-05-22 21:36] yhahn commented on #171
:+1:

[2014-05-22 23:11] springmeyer commented on #381
@BergWerkGIS you are exactly right. Helped me see a solution, tracking at https://github.com/mapnik/node-mapnik/issues/258

[2014-05-22 23:11] #381 closed, assigned to nobody

[2014-05-23 10:10] nilshoerrmann opened #386 "Indenting: Spaces and Tabs"
The style editor (= Codemirror) completely messes up indentation if you are using tabs (things won't line up anymore; if you create new lines, indentation combines spaces and tabs).

The interface doesn't suggest, that tabs aren't supported, so I expected both to work just fine. But it seems like spaces are prefered. If that's the case, the editor should convert tabs to the correct number of space

[2014-05-23 10:19] nilshoerrmann opened #387 "Style Errors"
If an error occurs while saving styles, there are a few usability issues:
- It's not clear to the user that an error occured actually – the map will just not update.
- The line causing the error will get a light yellow line number:
  1. the highlighting is quite unobtrusive,
  2. the highlighting might easily be out of sight (= out of your current scroll area),
  3. you won't notice the highlighti

[2014-05-23 10:25] nilshoerrmann opened #388 "Carto CSS suggestions"
Although Carto CSS looks a lot like normal CSS, most of its declarations have nothing in common with CSS. So especially if you are new to Carto CSS, it would be helpful to get on-the-fly suggestions while you're typing.

Also it would be a time saver, if the editor suggested existing variable names, as soon as you type `@` (similar to how user suggestion work here on Github).

[2014-05-23 10:26] nilshoerrmann commented on #388
The second part seems to be related to #119.

[2014-05-23 10:31] nilshoerrmann commented on #274
The editor also "forgets" to show colours sometimes, e. g. if you are editing a list of color variables, the new colour will not be shown instantely.

In this context, I noticed that it's not very easy to scan for colours because they are always at the end of a line and thus their position jumps around depending on the lenght of the different style declarations. It might be helpful to move the col

[2014-05-23 10:35] nilshoerrmann opened #389 "Editing Styles externaly"
It's possible to edit styles in an external editor but the TM2 interface doesn't catch these changes. It would be nice if the interface could either update automatically if I don't have any unsaved changes in the browser or notify me about the outside changes so I can decide what to do.

Currently, it's too easy to hit save in the browser to update the view, which will override all your external c

[2014-05-23 11:05] yhahn commented on #161
https://github.com/mapbox/tm2/issues/388

[2014-05-23 11:05] #161 closed, assigned to nobody

[2014-05-23 12:08] nilshoerrmann opened #390 "Tabs and Execution Order"
If I have style declarations for the same map feature in different files, one overriding the other, TM2 doesn't make the execution order clear: Does the file in the first tab get executed first?

If so, why can't I reorder tabs? (At least using Firefox 29 on Mavericks.)
If not so, how is the execution order determined?

[2014-05-23 12:23] yhahn commented on #390
Yes, the tabs are compiled in order.

https://github.com/mapbox/tm2/pull/233

[2014-05-23 12:23] #390 closed, assigned to nobody

[2014-05-23 12:25] nilshoerrmann commented on #390
Right, but how do I change the tab order?

[2014-05-23 13:15] samanpwbb commented on #390
@nilshoerrmann I can take a look at enabling tab ordering + ensuring cascade adjusts according to tab order. #233 is a bit of an incomplete implementation.

[2014-05-23 13:18] samanpwbb commented on #274
@nilshoerrmann yeah, the swatches have a lot of issues right now. I'll look into what I can do to remedy the situation.

[2014-05-23 16:24] digitalsadhu opened #391 "Lane lines"
Is there anyway I could roughly calculate lane information so I can go about plotting data on a map split into 2 lanes instead of a single road? My initial naive thought was to simple treat the osm node data as the middle of the road and create 2 parallel lines at a certain distance from the centre adjusting for zoom level but of course that doesn't work for anything more than the most trivial roa

[2014-05-23 18:19] samanpwbb commented on #386
Fixed with #392

[2014-05-23 18:19] #386 closed, assigned to nobody

[2014-05-23 19:12] nilshoerrmann commented on #386
Great, thanks!

[2014-05-23 23:07] GretaCB opened #393 "Disable zoom-to-layer button for non-local files"
Unable to zoom-to-layer for source from Map ID. They are no longer raw data. Since there is no way (at this point) to obtain the extent and center of a layer once it is already converted to vector tiles, there is no way to zoom-to-layer.

For now, I am going to disable the zoom-to button for non-local files.

Per voice with @yhahn , things to think about:
- Is it worth it to include extent/center

[2014-05-26 23:22] samanpwbb commented on #274
Closing, fixed this and related problems in https://github.com/mapbox/tm2/pull/394

[2014-05-26 23:22] #274 closed, assigned to samanpwbb

[2014-05-27 01:24] wboykinm opened #395 "Font expansion workflow"
It'd be nice to have some guidance on how we might request or pull-request system fonts to make them available on Mapbox-hosted TM2 packages. Obviously 90% of this ticket relates to the internal Mapbox server system, but at some point I'd like to see the options expand to include the "maybe"s on [this list](https://github.com/mapbox/tm2/issues/8). Happy to fork and pull, but again I know that TM2

[2014-05-27 01:52] yhahn commented on #395
@springmeyer is working on a way that users can include their own fonts with uploaded styles which will be a more sustainable solution than a fixed/curated list : ) Will keep you posted.

[2014-05-27 04:00] yhahn commented on #329
@camilleanne want to prep a pull req for your `512` branch?

Since https://github.com/mapbox/tm2/issues/357 will be following it up and represents a more complete UI for print, I'm thinking:
- Drop the print project pref flag and toggle UI https://github.com/mapbox/tm2/blob/512/lib/style.js#L38
- Continue to switch to @2x automatically based on `devicePixelRatio` for retina screens.
- Maybe just a

[2014-05-27 04:11] #326 closed, assigned to nobody

[2014-05-27 05:16] nilshoerrmann commented on #395
It would be interesting if I could integrate Typekit-Fonts in a project by specifying the kit ID. Not sure if it's technically possible though given that tiles are processed by Mapnik and not the browser.

[2014-05-27 09:28] camilleanne commented on #329
@yhahn cool-- I'll take a look once I get to Stockholm (~1.5 hr).

[2014-05-27 13:02] rossmeissl commented on #395
Typekit (via kit ID) would be perfect :+1:

[2014-05-27 18:16] ian29 commented on #322
this got fixed.

[2014-05-27 18:16] #322 closed, assigned to nobody

[2014-05-27 18:29] ian29 opened #396 "errors in sql query dont return user to sql editor"
in source mode:
1. make a bad edit to your sql for a postgis or sqlite source
2. read at the error
3. get returned to layers overview

ideally the sql error modal should return users to the sql editor so you dont have to click to get back to where you need to be to fix the project.

[2014-05-27 18:31] yhahn commented on #396
No to this for now -- err modals are generic and show when the error occurs and aren't going to direct UI flow beyond that.

[2014-05-27 18:31] #396 closed, assigned to nobody

[2014-05-27 18:35] ian29 opened #397 "can't export source that's reprojected on the fly"
i have a data source in a PostGIS table that's in some weird projection. in the sql editor i manage this projection difference by using `st_transform()` which works well in the source preview. when i export, however, a very small (<1MB ) mbtiles is produced with only a few empty looking tiles.

[2014-05-27 18:39] yhahn commented on #397
Hrm, tradeoffs here.

TM2 attempts to automatically detect the extent of your source which is likely failing in this case: https://github.com/mapbox/tm2/blob/master/lib/source.js#L215-L242

Workaround for now is probably to reproject the data rather than to reproject at query time -- longer term will also be to not reproject at the query level but let mapnik handle this via https://github.com/mapb

[2014-05-27 19:32] springmeyer commented on #397
Likely the reason this is failing is that by default Mapnik asks for the extent from the "geometry_table". Passing `extent_from_subquery` to the Mapnik Datasource would likely fix @ian29 's case, which is an option that tells Mapnik to accumulate the extent from the actual results of the subquery rather than the entire table.

[2014-05-28 17:28] camilleanne commented on #329
https://github.com/mapbox/tm2/pull/399

[2014-05-28 19:13] ian29 opened #400 "uploads are broken"
with this unhelpful message:

[code]

[2014-05-28 19:20] ian29 commented on #400
i believe uploads have been broken since at least late last week some time, as @ryantroyford ran into this as well.

[2014-05-28 20:21] skorasaurus commented on #400
I also ran into this as well (currently using f2090965854cc64f202f692ff45611efd19ff714 from yesterday) ; For what it's worth, I was able to work around it by packaging it to .tm2z and then uploading that through the mapbox.com mbtiles uploader (At mapbox.com/data)

[2014-05-28 21:11] willwhite commented on #400
@skorasaurus did this upload workflow work for you in the past?

[2014-05-28 21:15] #400 closed, assigned to willwhite

[2014-05-28 21:16] camilleanne commented on #400
On another note, I do not see any errors logged anywhere until I get to mapbox.com/data and I see this:
![screen shot 2014-05-28 at 8 55 39 pm](https://cloud.githubusercontent.com/assets/3952537/3111068/1b7fbb26-e6ad-11e3-9cf4-df4e66f4989b.png)

but I had gotten this:
![screen shot 2014-05-28 at 11 13 38 pm](https://cloud.githubusercontent.com/assets/3952537/3111072/24dd59e4-e6ad-11e3-8547-3347405

[2014-05-28 21:17] skorasaurus commented on #400
yes, worked for me at on May 12th as well (my only other tm2 upload still on my mapbox account), don't remember if it did before that.

[2014-05-28 21:21] willwhite commented on #400
Thanks, @skorasaurus should be fixed now.

@camilleanne it looks like your "unpacking failed" issues are a different and is likely a problem on the unpacker side rather than an issue with tm2.

[2014-05-28 21:38] skorasaurus commented on #400
confirmed, updated to master and am now able to upload directly to mapbox via tm2. :)

[2014-05-28 22:45] camilleanne opened #402 "Style thumbnail with transparency shows bucket"
In the thumbnail, a style with transparency shows bucket, should show checkboard:

![screen shot 2014-05-28 at 3 43 57 pm](https://cloud.githubusercontent.com/assets/3952537/3112014/be518594-e6b9-11e3-9e67-7ff56c27bc7e.png)

[2014-05-28 23:04] camilleanne commented on #329
Hey, merged. Huzzah.

[2014-05-28 23:04] #329 closed, assigned to camilleanne

[2014-05-29 00:13] camilleanne commented on #357
Here's a current braindump on what I'd like to see in the UI, or at least what I'm thinking about.

#### Current API:

`/static/{z},{x},{y}/{px}x{py}{scale}.{format}`
e.g. `/static/2,4,4/800x800@2x.png`

#### Future API:

something like `/static/{z}/{x,y of top-left}/{x,y of bottom-right}/{scale}.{format}`
    or
if you provide the current API, it calculates the bounds in terms of corner coordinat

[2014-05-29 04:43] aaronlidman opened #403 "Hide/fix upload button"
![screen shot 2014-05-29 at 12 39 23 am](https://cloud.githubusercontent.com/assets/58878/3114050/68bc05a0-e6eb-11e3-821e-67e5147b06b8.png)

These seem to have broken. They are showing for all users, upload should only be visible to users with tm2z access.

I can grab this later this week, or you can grab it. Yes, you.

[2014-05-29 04:52] aaronlidman commented on #403
@yhahn Do we not want to hide "Upload"? https://github.com/mapbox/tm2/commit/6ba39a9962b2cceb48d40e08558faa4f0c9cd7cd#diff-e0044d1143eba9adb7df43f567ead2bdL128

[2014-05-29 08:17] yhahn commented on #403
This is fine, I can look at fixing the visuals here and making sure users get an appropriate error message for now.

Ref https://github.com/mapbox/tm2/commit/4b36ede4689001b741ab12022ecd56b056eecd16.

[2014-05-29 13:32] wboykinm commented on #329
Whee!

[2014-05-30 01:34] willwhite opened #404 "Use v4 + api keys to request vectors tiles from Mapbox"
- tm2 should request vector tiles from Mapbox using the v4 api and api keys
- v3 mapbox streets vector tile endpoint is deprecated

[2014-05-30 13:05] clemenslermen opened #405 "Can't export .Mbtiles"
"Exporting a TM2 source project will give you an MBTiles file containing vector tiles that you can upload to Mapbox.com and use as a source for TM2 style projects."

In my TM2 there is only a "save" button on this position. After saving, there is also a "package" and "upload" button.
How can I export .mbtiles? Will they also be able to be used with leaflet and mapbox tilestream?

[2014-05-30 15:17] yhahn commented on #405
See https://github.com/mapbox/tm2/issues/373.

TM2 can export vector tiles from sources and package up styles for deployment on the Mapbox API (coming soon for all accounts).

[2014-05-30 15:17] #405 closed, assigned to nobody

[2014-05-30 19:39] GretaCB opened #407 "Add tests for zoom-to-layer, zoom, and projection UI features"

[2014-05-30 20:05] yhahn opened #409 "Source UI tests"
We'll need to add this to do https://github.com/mapbox/tm2/issues/407.

For a quick overview of how we're doing style UI tests:
- Script that runs the tests https://github.com/mapbox/tm2/blob/master/test/test-client.sh using [phantomjs](http://phantomjs.org/)
- The actual tests that run in the browser for the style UI https://github.com/mapbox/tm2/blob/master/app/test/app.test.js

Give these a qui

[2014-06-02 20:14] samanpwbb opened #410 "feature inspection on source not working"
When creating a source with a json file as a layer, click interaction to view feature data is not working, with this error:
![screen shot 2014-06-02 at 4 12 19 pm](https://cloud.githubusercontent.com/assets/108094/3152746/514dd95c-ea92-11e3-91a2-f638deeff6a2.png)

Here's the source I'm using: https://gist.github.com/samanpwbb/cc310c8651a5ba2dd344

[2014-06-02 20:14] yhahn commented on #410
Can you see if you're updated to tilelive-vector 0.12.1? See

https://github.com/mapbox/tm2/issues/376

[2014-06-02 20:19] samanpwbb commented on #410
Re-installed modules and looks like I'm using v 0.13.0 : https://github.com/mapbox/tm2/blob/master/package.json#L34

[2014-06-02 21:51] GretaCB commented on #409
Initial tests merged (https://github.com/mapbox/tm2/commit/611afb6979193226353e6ac0966291874cd0f6bd), but possibly room for more.

[2014-06-02 21:54] #81 closed, assigned to GretaCB

[2014-06-02 21:55] GretaCB commented on #407
Replaced by https://github.com/mapbox/tm2/issues/409

[2014-06-02 21:55] #407 closed, assigned to GretaCB

[2014-06-02 22:08] GretaCB opened #412 "Button to refresh metadata for file"
Add functionality for users to Refresh the metadata for a file, in the case that the file was changed.

Provide a refresh button for the user to press when ready to sync recorded metadata in TM2 with the file's changes.

[2014-06-02 22:25] GretaCB commented on #171
Is the vision to get rid of all of the separate "Configure" windows for each filetype, and have single Browse window/modal?

@yhahn What do you mean by "Edit layer(s)" above?

[2014-06-04 19:32] MateoV opened #415 "Incomplete/missing shapefile data at low zoom levels"
TM2 is having issues with a particular shapefile (link below). There is no data or incomplete data at low zoom levels where there should be. Once zoomed into z6 it is all there.

There doesn't seem to be anything obviously wrong with the file itself as it works fine in TM1 and QGIS.

_TM2 - z4_
![localhost_3000_style id tmstyle____tmp-24d269bb](https://cloud.githubusercontent.com/assets/843058/317

[2014-06-04 19:35] ian29 commented on #415
are these many, tiny polygons? i've seen some weirdness with displaying tiny polygons at low zoom levels - i assumed it was related to mapnik-side simplification but haven't investigated

[2014-06-04 19:37] MateoV commented on #415
That is what they are, yes. You might be on to something with simplification.

[2014-06-04 20:05] springmeyer commented on #415
yep, this is likely dropping of features that look to Mapnik to be smaller than a pixel.

[2014-06-04 20:16] yhahn commented on #410
^^ fixed.

[2014-06-04 20:16] #410 closed, assigned to nobody

[2014-06-04 20:21] wilhelmberg commented on #315
`EPERM, open` still exists on Windows when `app.db` does **not** exist.
After I created an empty file tm2 was able to start and load the default project.

[2014-06-04 20:31] springmeyer commented on #315
@BergWerkGIS okay, perhaps a `fs.exists` check could be added to https://github.com/mapbox/tm2/blob/master/lib/tm.js#L81-L96 to avoid that first run problem. Want to give that a shot?

[2014-06-04 20:50] wilhelmberg commented on #315
Sure.

[2014-06-04 22:44] MateoV commented on #415
Cool thanks. I'll close this if it's working as intended.

[2014-06-04 22:44] #415 closed, assigned to nobody

[2014-06-05 15:47] ajashton opened #417 "Empty state of Local Sources"
By default this will be empty for most users. There should be some text there clarifying what the panel is for. (It could be confused for a way to access local GIS files directly or so).

![screen-shot-2014-06-05-at-10-37-27](https://cloud.githubusercontent.com/assets/126952/3189922/ac0d5484-ecc8-11e3-8eb4-2e622d5c2f11.png)

[2014-06-06 13:06] guss84 opened #419 "tm2 running problem: fs.js:476"
Running node index.js gives me this error

fs.js:476
  var r = binding.read(fd, buffer, offset, length, position);
                  ^
Error: EISDIR, illegal operation on a directory
    at Object.fs.readSync (fs.js:476:19)
    at Object.fs.readFileSync (fs.js:310:28)
    at /home/gus/tm2/lib/tm.js:139:37
    at Array.reduce (native)
    at Function._.reduce._.foldl._.inject (/home/gus/tm2/node_mo

[2014-06-06 15:50] nickidlugash opened #420 "Baselayer not working?"
I can't get a baselayer to show up in my tm2 projects. I tested out multiple baselayer IDs, but otherwise am not sure what else to do to troubleshoot.

/cc @yhahn @samanpwbb

[2014-06-06 16:02] GretaCB commented on #420
@nickidlugash
When was the last time you updated your tm2? And are you getting any errors?
I'm wondering if this might have something to do with my updates.

[2014-06-06 16:25] nickidlugash commented on #420
@GretaCB I last updated yesterday, although this wasn't working before then, either. I think before yesterday, I last updated a couple of weeks ago. I don't seem to be getting any errors related to this.

[2014-06-06 16:27] yhahn commented on #420
@samanpwbb or I can take a look at this later today. @GretaCB I doubt it's related to your changes since this is a UI thing on the style editor side (not source editor).

[2014-06-06 18:42] #365 closed, assigned to samanpwbb

[2014-06-06 20:09] #420 closed, assigned to samanpwbb

[2014-06-09 16:51] apaleja opened #423 "TM2 Installation error"
`Ubuntu 12.04`     `node -v: v0.10.28`

Ran through the source install steps as described [here](https://github.com/mapbox/tm2#ubuntu-linux).

Getting the following error on `npm install`:

[code]

In case any other information I missed, `npm-debug` can be found [here](https://gist.github.com/apaleja/549679bef7caeb4ca74d) and `npm install` terminal output is [here](https://gist.github.com/apaleja/

[2014-06-09 18:17] springmeyer commented on #423
Can you provide the full output you seen in your terminal when you do `npm install`? Thanks for providing the `npm-debug` log but its actually more useful to see whats in the terminal.

[2014-06-09 18:31] apaleja commented on #423
@springmeyer , I've  updated the post with `npm install` terminal output.

[2014-06-09 21:30] springmeyer commented on #423
Thanks @apaleja - The problem is that you are running a 32 bit version of linux and I don't provide 32 bit node-mapnik binaries yet (https://github.com/mapnik/node-mapnik/issues/267).

So, the two possible solutions are:
1. You switch to a 64 bit linux installation; or
2. You install Mapnik externally, confirm that `mapnik-config` is on your path, and then proceed with the tm2 installation again.

[2014-06-10 11:47] wilhelmberg commented on #315
@springmeyer
Hmh, probably I'm missing some context here, because some strange things are going on that I don't fully understand.

tl;dr:
Inserting `if (!existsSync(filepath)) { fs.writeFileSync(filepath, ""); }`
as the first line in [dbcompact](https://github.com/mapbox/tm2/blob/master/lib/tm.js#L82) solves the problem.
Seems like a dirty hack to me, though.

---

If the `app.db` does not exist i

[2014-06-10 14:52] jczaplew opened #426 "Error: Server returned HTTP 401"
On OS X, using both the binaries and the source install instructions, I get the same error after starting TM2 and going to localhost:3000 -

[code]

In my browser, the URL redirects to `/new/style`, and I see "Error Server returned HTTP 401". I haven't worked with TM2 before, so I'm not sure if I'm doing something wrong or if there is something wrong with the current version. Any and all assistanc

[2014-06-10 14:53] yhahn commented on #426
@jczaplew as a stopgap hop to `localhost:3000/unauthorize` to reset your TM2 oauth credentials.

Will look into a fix here shortly.

[2014-06-10 15:00] jczaplew commented on #426
@yhahn That worked and I'm up and running. Thanks! Should this be considered resolved?

[2014-06-10 15:07] yhahn commented on #426
Yep, closing.

[2014-06-10 15:07] #426 closed, assigned to nobody

[2014-06-10 15:19] yhahn commented on #315
@BergWerkGIS I pushed an adjustment based on your notes to the `dbcompact-winfix` branch -- the idea being to not attempt to do db compaction (e.g. reading the db into memory and then unlinking the stale file) if the db doesn't exist in the first place.

Would love to know how it does for you -- I'll try to get tm2 up and running on a VM sometime today so I can debug more directly.

[2014-06-10 20:48] wilhelmberg commented on #315
@yhahn cannot test your adjustment: I was testing with an older commit (unfortunately don't remember which one exactly), because latest source fails at installing `node-blend`.
![tm2-blend](https://cloud.githubusercontent.com/assets/4549888/3236640/0a8d7e74-f0e0-11e3-83d9-7c8206027ccb.png)

[2014-06-11 06:46] wilhelmberg commented on #315
@yhahn I saw that your latest commit worked on [AppVeyor](https://ci.appveyor.com/project/springmeyer/tm2/build/1.0.190), so I tested on two different machines with node 0.10.26, 0.10.28 and 0.10.29.

I always deleted the tm2 folder completely and started from scratch.

With 26/28 I get varying results: sometimes `node-srs` gets rebuilt, sometimes not.
Sometimes it fails like in the screenshot of

[2014-06-11 07:17] wilhelmberg commented on #315
@yhahn I tried to get `pkg-config` working as this what abacus seems to be looking for.
I used precompiled files from here: http://www.gtk.org/download/win32.php
Error now is `No package 'libpng' found`.
Any ideas?
![abacus-pkgconfig](https://cloud.githubusercontent.com/assets/4549888/3241093/744d3856-f138-11e3-8770-e9d10316ba65.png)

[2014-06-11 08:07] wilhelmberg commented on #315
@springmeyer @yhahn

Ok, worked my way thru the commits.

This is the last one that is working for me: [Merge pull request #414 from mapbox/tv102](https://github.com/mapbox/tm2/commit/2d63d939ed8cebeda08367275c7d0d278a302b0e).

The next one ([abaculus updated for headers](https://github.com/mapbox/tm2/commit/e609ffab57683b870f70237d37f747d89c035a46)) isn't.
It fails with the `pkg-config` error.

[2014-06-11 11:44] yhahn commented on #315
@BergWerkGIS yeah, for now I've removed the `abaculus` dependency from https://github.com/mapbox/tm2/tree/dbcompact-winfix and am focusing on getting the tests pass without it. Not trying to even run the app yet : )

@springmeyer is looking at https://github.com/mapbox/node-blend/issues/48 so once that is resolved we can re-add the dep.

[2014-06-11 13:01] apaleja commented on #423
@springmeyer, I switched to 12.04 64 bit and now installation completed successfully. But when I tried to access it I am getting error `No active OAuth account`. and terminal output is :

[code]

[2014-06-11 15:29] GretaCB opened #431 "Add files: Drag & Drop"
Enable drag & drop for adding new files (discussion here https://github.com/mapbox/tm2/issues/171)

[2014-06-11 15:31] GretaCB opened #432 "Actions on layer from multi-layer source"
Users can now add a multi-layer source and view each layer independently. However, if a user deletes one of those layers then tries to re-add the file, this will result in a collision. The user would need to delete all layers from the source, and then re-add. Not the end of the world, but a bit annoying to have to delete everything.

This issue is related to a couple other new features like renami

[2014-06-11 16:06] springmeyer commented on #431
Can't wait :)

[2014-06-11 16:10] yhahn commented on #431
So one challenge here:
- what the tm2 UI is _not_ doing when you select a file in the browser is uploading it or looking at its contents.
- what the tm2 UI _is_ doing when you select a file is telling the server (and thus eventually mapnik) what absolute filepath to inspect and eventually read.

As far as I know the browser file API (which is what gets used once you drag + drop something) does not

[2014-06-11 16:49] tmcw commented on #431
Yes, this is the case. [node-webkit](https://github.com/rogerwang/node-webkit) changes this and gives you the full path, but there's no other workaround that doesn't suck.

[2014-06-11 16:52] yhahn commented on #431
Yeah node-webkit is kind of dead to me as a story atm unfortunately -- I've seen too many ppl using tm2 on servers/headlessly/not directly on their computer.

[2014-06-11 19:14] mick commented on #404
done in #413

[2014-06-11 19:14] #404 closed, assigned to mick

[2014-06-11 19:16] mick commented on #423
@apaleja did it prompt you to log in with your mapbox account?

Try going to `http://localhost:3000/unauthorize` to re auth.

[2014-06-11 19:46] apaleja commented on #423
@mike, No it didn't prompt me to login in. It redirected me to `http://localhost:3000/new/style`.
Re auth worked as you suggested. Thank you very much.

[2014-06-12 08:56] wilhelmberg commented on #315
@yhahn Ok, wasn't aware about that.

Just to let you know how the latest commit looks like on my main machine.
`npm install` is only successfull with node 0.10.29 32bit. Previous versions fail.

![tm2-npm-test-01](https://cloud.githubusercontent.com/assets/4549888/3255790/46226528-f20f-11e3-9e02-cc959a6bf889.png)

![tm2-npm-test-02](https://cloud.githubusercontent.com/assets/4549888/3255792/4ba7d1

[2014-06-12 10:04] ashleyclough opened #434 "Projection detection for WGS84 and 27700"
I currently need to manually edit the srs projection of WGS84 postgis source layers to:

+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs

What do I need to use for British National Grid 27700? I always use '+init=epsg:27700' in the projection field in TileMill 1 - what's the comparable string for TM2?

[2014-06-12 10:07] ashleyclough opened #435 "Broken style upload: drawtime max exceeded"
I've a 'broken' TM2 style: "Invalid upload. Error: drawtime max exceeded limit of 1000ms"

What does it mean and how should I look to correct it?

[2014-06-12 18:57] kjwandtke opened #436 "First TM2 install - got `No Active 0Auth account`"
I just installed TM2 and got this error:

![image](https://cloud.githubusercontent.com/assets/5872831/3262248/388c1cc0-f263-11e3-9958-174e6ccdb4bd.png)

[2014-06-12 22:08] incanus commented on #431
Correct, see background also in https://github.com/mapbox/tm2/issues/230.

[2014-06-12 22:10] incanus commented on #431
This could however be solved on a per-platform basis. For example on OS X it would be possible to:
1. Identify in the window/view that a file was being dragged in.
2. Get the full path to it.
3. Modify the DOM in some way to pass the path.

Related: https://github.com/mapbox/tm2/issues/110

[2014-06-12 22:11] incanus commented on #110
What are we currently thinking about this?

[2014-06-12 22:13] tmcw commented on #431
FWIW: is it a horrible idea to actually upload the file rather than using it in place? I picture this kind of like a powerpoint presentation: sometimes you have references to files, but usually it burns you.

This would <strike>break</strike> take up disk space with gigantic files, but with moderate ones, I almost picture this like expected / useful behavior.

Or it may be a horrible idea.

[2014-06-12 22:40] yhahn commented on #431
Putting this on ice. This is a victory lap kind of task : ) let's win all the other battles first.

[2014-06-12 22:40] #431 closed, assigned to nobody

[2014-06-16 19:02] ajashton opened #437 "buffer-size > 256"
If a layer's `buffer-size` is manually set to > 256 in data.yml, it gets automatically cut down to 256 when the project is saved in TM2. It used to be that larger values were left alone.

[2014-06-17 03:49] nickidlugash opened #438 "Static UI: Optimizing workflow using exact dimensions"
Capturing chat conversation with @camilleanne:

For printing maps, I think it will be common for users to have a final print size and dpi in mind. How can we optimize the workflow for them to create their composition under their own constraints?

Example scenario:
You want to make a print that's 9"x12" with a 0.25" bleed on all sides at the highest possible resolution (288ppi). So therefore you ca

[2014-06-17 12:25] robpvn commented on #436
I saw a comment on this in issue #423 : Try going to `http://localhost:3000/unauthorize` to re auth.

[2014-06-17 12:57] erf commented on #436
Worked for me - Thanks!

[2014-06-17 14:30] miccolis commented on #436
Closing this - the bug already has a ticket.

[2014-06-17 14:30] #436 closed, assigned to nobody

[2014-06-17 15:22] amyleew opened #439 "Print Map Testing: Workflow and Printed Results"
Last Friday, I used and printed maps with @camilleanne's [initial Print Tool](http://www.mapbox.com/labs/print-coordinates) with the goal to print a DC map at 3 different zoom levels. I combined the tool with Photoshop and used @ian29's Wheatpaste custom map design. This test was a good exercise to gauge if colors, road lines, text halos, textured patterns and text labels, etc. need finessing from

[2014-06-17 15:23] samanpwbb opened #440 "Clarify bookmark and search UI"
from https://github.com/mapbox/tm2/issues/439

[2014-06-17 15:24] #440 closed, assigned to samanpwbb

[2014-06-17 15:24] samanpwbb commented on #440
Oops, misread.

[2014-06-17 15:45] amyleew commented on #438
@camilleanne

The fact that zooming changes the dimensions so drastically seems like a big usability problem. Is there a way users can "lock" dimensions? So as they zoom it keeps that dimension and maybe re-sizes the boundaries from the center point? This is similar conceptually to the ratio idea but could be more intuitive since the actual dimensions are what user would be after.

Also is there a

[2014-06-17 16:53] nickidlugash opened #441 "Static UI: User stories for printing"
@amyleew per voice, let's identify as many different user stories for using the static UI for printing maps, and then go through the workflow of using tm2 as these users.

_A few variables to think about_
- Does the user know the exact dimensions they want?
- Is the user printing a large scale poster, or outputting smaller images to incorporate into a layout (book, report, etc)?
- Did the user des

[2014-06-17 17:17] camilleanne commented on #438
@amyleew @nickidlugash

So, as far as zooming in and maintaining dimensions goes, I was trying to stay away from that. But if you would like to see an example of it in the wild, it exists here: http://maps.stamen.com/m2i/#toner/1500:1000/12/37.7706/-122.3782

I like the idea of ratios, that makes a lot of sense to me. Constraining an image size to specific dimensions seems hard for zoom, yes, but

[2014-06-17 17:48] GretaCB opened #443 "zoom to new layer after adding"
I will add this.

[2014-06-17 18:37] incanus commented on #423
I'm seeing the same thing as @apaleja on several binary builds + source install.

Going to `http://localhost:3000/unauthorize` fixes it.

[2014-06-17 18:38] samanpwbb opened #444 "Bookmarks"
After talking with @nickidlugash - I think it would be a good idea to save bookmarks to something like a `bookmarks.yml` file that lives in project directories. This would make the hard work of finding good bookmarks persist, while also enabling easy bookmark sharing across projects and between users.

[2014-06-17 18:46] amyleew commented on #438
@camilleanne i like the constraining stamen example. i suggest it's a toggle on/off feature. if a user has a specific size and area in mind, it's ideal to set that once and then zoom in our out for detail. easier and faster than having to go back and resize on each zoom.

more is great! unless it exceeds the render size. and it's a bit disorienting. plus, for higher zooms you may want to specific

[2014-06-17 19:19] camilleanne commented on #438
@amyleew I actually strongly dislike the Stamen implementation, but that's why we're having this conversation, perspective is good :)

I'm punting on these for now for export-print-ui v2. I'd like to see how this plays out for a few days so we can make sure I'm spending time on the right tools for this. In the meantime, this is done! https://github.com/mapbox/tm2/pull/428

[2014-06-17 20:25] camilleanne commented on #357
This functionality exists now in `master`: https://github.com/mapbox/tm2/pull/428.

[2014-06-17 20:25] #357 closed, assigned to camilleanne

[2014-06-17 20:27] incanus commented on #110
Let me get a little more specific: @yhahn @springmeyer what are your current thoughts on a native app housing for TM2? As I see it, this could go in two phases:
1. Small, simple `.app` bundle for binary distribution that just kicks off the current `start.command` (on OS X). No auto-update, no subprocess management, just a dock-able launcher for the current Terminal-based one.
2. TM1-style full-on

[2014-06-17 20:30] camilleanne commented on #403
This is currently hidden because clicking on upload, even if it's not enabled on your account, gives you a 'success!' message even if nothing happened. It was very misleading.

Fixed here: https://github.com/mapbox/tm2/commit/b2be851c478cb435a605d0d9088c36ca7a17b1b4

![screen shot 2014-06-17 at 12 00 51 pm](https://cloud.githubusercontent.com/assets/3952537/3306169/62c0a64c-f65e-11e3-8e00-4a9fde28

[2014-06-17 20:35] amyleew commented on #438
@camilleanne just curious... do you dislike the overall implementation or specifically how it constraints? that's really the only part I liked...

[2014-06-17 20:44] aaronlidman commented on #403
Cool, we should fix it then. Reopening this to keep it on the radar.

[2014-06-17 21:44] ghost commented on #439
@amyleew Cool! What kind of printer did you use?

[2014-06-17 21:55] springmeyer opened #445 "Line ending warnings"
With latest master checkout, without making any changes, on OS X I now see the below changes/warnings. These appear to be due to https://github.com/mapbox/tm2/commit/94c3053dc1f2df6ef2962c4fa19f1ac453c3d90d. @yhahn before committing these changes can you shed some light on the idea behind using this .gitattributes file?

[code]

[code]

And:

[code]

[2014-06-17 21:56] yhahn commented on #445
Looks like it's too greedy -- will need to scope it. It was for Windows -- to prevent test failures when comparing fixtures that had been written with LF but were now being compared against CRLF strings.

[2014-06-17 21:57] amyleew commented on #439
@wsnook thanks! the high-quality printer at Fedex.

[2014-06-18 14:12] gravitystorm commented on #367
Yeah, I've run into the same problem when adding a non-mapbox http source, and have to edit the project.yml file by hand to make it work.

https://github.com/mapbox/tm2/blob/master/templates/modalsources.html#L46 is the template and https://github.com/mapbox/tm2/blob/master/app/style.js#L263 is the implementation for adding mapbox layers - perhaps these can be cloned and reworked for an equivalent

[2014-06-18 14:14] gravitystorm commented on #79
I'm going to close this since the codebase is now substantially different.

[2014-06-18 14:14] #79 closed, assigned to nobody

[2014-06-18 14:23] gravitystorm opened #446 "Can't work offline (again)"
It's not possible to work offline with the current version of Tilemill2. c.f. #79 and #292

When offline, http://localhost:3000/new/style gives:

`getaddrinfo ENOTFOUND`

It's trying to look up api.mapbox.com . Setting that in /etc/hosts to 127.0.0.1 doesn't help much, since tm2 then errors out on requests to e.g. `http://127.0.0.1/api/Map`

By changing various references to mapbox.com in the code

[2014-06-18 17:10] camilleanne opened #447 "OSM & other attribution in print"
Currently, there is no attribution saved in exported static maps either in metadata or on the image. How does this sit with us?

[2014-06-18 17:56] rclark commented on #445
Hmmm... the check to see if my scoping changes work would be
- no line-ending warnings
- passes tests on windows

... but appveyor fails during install -- it appears to fallback from node-pre-gyp to node-gyp and then fail to build node-mapnik: https://ci.appveyor.com/project/springmeyer/tm2/build/1.0.260

[2014-06-18 18:08] yhahn commented on #447
I think this is fine for now -- TM1 had the same situation where the user was expected to attribute appropriately in whatever context they were using the image.

Perhaps an extra feature we can add down the line is embedding of the attribution field from the in the corner of your image.

[2014-06-18 18:13] rclark commented on #445
@yhahn no luck on the `dbcompact-winfix` branch -- same mapnik compilation problem in appveyor.

[2014-06-18 18:48] ekelleyv opened #448 "Wrong quotes used in style editor"
![](http://recordit.co/ispf0sIMiq.gif)

When writing a filter, the wrong quotation mark gets inserted. This causes a syntax error until you go back and re-type the quotation mark. Happens with single and double quotes.

![](http://cl.ly/image/1p2t1f0f0O2t/Screen%20Shot%202014-06-18%20at%202.46.08%20PM.png)

[2014-06-18 23:22] rclark commented on #445
Tests are failing until @springmeyer gets a new node-mapnik for windows built. In the meantime if you're stuck with uncommitted changes to `ext/leaflet-locationfilter/img/*` files that you can't stash or undo, this is how I was able to get back on track:

[code]

[2014-06-18 23:22] #445 closed, assigned to nobody

[2014-06-18 23:24] GretaCB commented on #443
Currently in source-raster branch

[2014-06-18 23:24] #443 closed, assigned to GretaCB

[2014-06-18 23:25] #412 closed, assigned to GretaCB

[2014-06-19 16:22] GretaCB opened #450 "Inconsistent test results for test-client.sh (source-raster branch only)"
Been running into this on and off for the past couple weeks, so documenting it here.

When running `sh test/test-client.sh` only on the `source-raster` branch, I keep getting the following two errors inconsistently:

[code]

And this one, which [causes Travis to fail](https://travis-ci.org/mapbox/tm2/builds/27964069):

[code]

console.logging `l.fields` on line 30 of `app/source.js` does in fact r

[2014-06-19 20:21] samanpwbb opened #451 "Add loading indicator during upload"
I swear we had this at one point.

[2014-06-19 21:24] amyleew opened #452 "Static UI: Edit and lock pixel and inch dimensions"
Per voice w/ @camilleanne additional functionality for pixel & inch dimensions:
- editable pixel dimensions
- editable inch dimensions
- "lock"-able dimension values (so they function separate from zoom)
- save dimension values like bookmarks

/cc @yhahn @lxbarth @nickidlugash

[2014-06-19 21:27] ghost commented on #452
That sounds awesome :+1:

[2014-06-19 21:28] nickidlugash commented on #452
Great! Excited for these updates, @amyleew and @camilleanne.

[2014-06-20 00:53] camilleanne commented on #452
Alright! e222de4 gave us lockable dimensions, f8a0e414 allows you to edit the pixel & inch dimensions.

saving dimensions like bookmarks might involve some of this magic #444

go play with https://github.com/mapbox/tm2/tree/export-static-ui-v2 please!

[2014-06-20 00:57] camilleanne commented on #452
There's been some issues relating to Windows support and this work, so if the pngs for the resize handles give you issues in github, refer to this: https://github.com/mapbox/tm2/issues/445#issuecomment-46506974

[2014-06-20 04:00] samanpwbb opened #453 "'reset bounds to view' button zooms out too far on 2nd/3rd/ect click"
Continually clicking 'reset bounds to view' button zooms out more and more. Expected behavior is not zoom at all if bounds are in view.

[2014-06-20 04:05] samanpwbb commented on #453
Ah, this totally doesn't do what I thought it did at first. I get it now. Closing.

[2014-06-20 04:05] #453 closed, assigned to nobody

[2014-06-20 16:36] amyleew commented on #452
@camilleanne pulled and checked https://github.com/mapbox/tm2/tree/export-static-ui-v2 works like a charm... i'll keep testing :+1:

[2014-06-20 21:02] camilleanne opened #455 "Scale > 4 for print resolution"
We fudge a higher 'resolution' for print by increasing the size of tiles. If a 256x256 tile is assumed standard resolution, we pretend to increase the resolution by increasing the tile size to 512 (144 ppi), 1024 (288 ppi). The resulting images exported at a scale higher than 1 are still screen resolution (~72ppi), but significantly larger than they would be otherwise since they are the dimension

[2014-06-20 21:08] samanpwbb opened #456 "Color-code source list to match xray mode"
Make right listing connect more strongly to xray map:

![screen shot 2014-06-20 at 5 08 21 pm](https://cloud.githubusercontent.com/assets/108094/3345918/0a081be4-f8bf-11e3-8aa8-630e7872819c.png)

[2014-06-20 21:25] amyleew commented on #455
@camilleanne yes, 600 dpi is a good max. ppl at times go higher, but 600 dpi is actually plenty!
a good standard set: 150, 300, and 600.

also, DPI (dots per inch) and PPI (pixels per inch) are technically interchangeable but most people call it DPI and the PPI may confuse some.

[2014-06-20 22:22] camilleanne commented on #455
@amyleew I'll let you and @nickidlugash figure out dpi vs. ppi: https://github.com/mapbox/tm2/pull/428#issuecomment-46264366

[2014-06-20 23:19] camilleanne commented on #455
did some experimenting with fractional scales for tile size, the place where the tiles meet isn't very clean when you provide a fraction of a scale.

scale of 2.08:
![retired_pirate2-z8_-75 2975_-53 1336_-72 2296_-51 249_2](https://cloud.githubusercontent.com/assets/3952537/3346994/2711e208-f8d1-11e3-9bef-169d7c9d1b81.png)

Scale of 2:
![retired_pirate2-z8_-75 2975_-53 1336_-72 2296_-51 249_2 1](h

[2014-06-20 23:22] nickidlugash commented on #455
@amyleew I think PPI is technically correct, as it correlates to the pixel dimensions. (DPI is a measurement for print resolution and I think doesn't come into play this early in the workflow). I'll double check when I'm on my computer, but I believe photoshop uses "PPI" in its "image size" modal.

Also +1 for 150, 300, 600.

[2014-06-20 23:24] nickidlugash commented on #455
@camilleanne so no 150, 300, 600? Or are there options for cleaning up tile edges?

[2014-06-20 23:27] camilleanne commented on #455
@nickidlugash this was just my first pass at it. It's just not going to be as simple as just saying "okay, 150ppi should be 2.08 scale" and sending that over. I need to take a look at mapnik and see what I can do.

[2014-06-20 23:28] springmeyer commented on #315
after #457 appveyor builds are now showing errors in the logs (https://ci.appveyor.com/project/Mapbox/tm2/build/1.0.4#L990) - which look similar to @BergWerkGIS's logs above.

[2014-06-20 23:30] camilleanne opened #458 "Scale for text/features"
Capturing a conversation with @amyleew & @springmeyer.

Create a separate scale value for text, halos, and other features that increase in size during tile size scaling in a way that is not desirable for print.

![scale](https://cloud.githubusercontent.com/assets/3952537/3347052/d6e3178c-f8d2-11e3-88e7-8f599a8f1f98.png)

[2014-06-21 00:59] springmeyer opened #459 "Enforce single node-mapnik at startup?"
Different or duplicated versions of C++ modules can create crashy conditions out of the blue during development. We've all hit this even if we didn't know it. Most recently @camilleanne was smartly using npm link to bring in tilelive modules into tm2 but this created multiple copies of node-mapnik in the local tree.

![](https://s3.amazonaws.com/uploads.hipchat.com/81832/615717/pciIzixbMMX9r3Q/Scr

[2014-06-21 02:37] yhahn commented on #458
Hmm, let's talk about this next week. I'm strongly opposed to an additional value here because it undermines what the actual carto CSS styles mean (basically, nothing -- someone can come mess with the "text/line" scale and completely alter your design).

To address these use cases I think either the fractional scale factor or making adjustments directly to styles makes more sense.

[2014-06-22 02:50] yhahn commented on #455
@camilleanne my first guess at making non-integer scale factors work would be to "snap" a float scale factor to the nearest value that gives integer tile dimensions in both tilelive-vector and abaculus.

One possibility is that the seams above are visible because tile px sizes and tile x/y offsets (in abaculus) need to be even to the pixel. So hopefully using a scale value that multiplies to an ev

[2014-06-22 03:27] amyleew commented on #458
@yhahn text/halo/lines are consistently printing too large in my testing... because web text looks best at around 14pt but printed text looks best around 8-9pt. i asked @camilleanne about the scale factor tool from TM1, thinking a workflow enhancement to the TM2 print tool could be a function/slider that will globally scale down text/halo/lines without having to re-code each instance in CSS.

[2014-06-22 03:43] yhahn commented on #458
@camilleanne @amyleew I didn't do a very good job of explaining the background behind this response -- here's a bit more context.

### In vector tile-based design, tile-size is the critical unit

Unlike when designing in a graphics editor or on the web a map designer is actually working with the constraint of map tiles.

When a CartoCSS style specifies that certain text labels are `16` at a certai

[2014-06-22 03:58] yhahn commented on #458
Last thought here is -- imagine a huge map poster printed that looks like this:

![postermap](https://cloud.githubusercontent.com/assets/83384/3350591/6f280ece-f9c0-11e3-816c-7eccf76c2775.png)

Is this a
- a 200,000x500,000px scale poster with cartocss that defines 30,000px text size? or is it
- a 200,000x500,000px scale poster with cartocss that defines 30px text size but at scale=1000?
- does it

[2014-06-22 04:17] yhahn opened #460 "Upgrade mapbox.js when ready"
- [x] Drop middleware with basemap creation
- [x] Geocode using api token + mapbox-places-v1
- [x] Drop basemap option from projects
- [x] Review custom @2x tile handler code, maybe can be dropped

I can take a look at this when you have a beta/dev build (?) ready. cc @jfirebaugh

[2014-06-23 14:38] yhahn opened #461 "Remove templates UI"
![nuke-templates-ui](https://cloud.githubusercontent.com/assets/83384/3359015/03a51802-fae4-11e3-89c8-fb36e6240e29.png)

Let's nuke the templates/interaction UI. We can leave the `.yml` templating functionality so that pro users can still add these in at the code level if they want.

[2014-06-23 14:42] yhahn opened #462 "Polish/rethink early carto docs"
![cartodocs](https://cloud.githubusercontent.com/assets/83384/3360501/83b6ee80-faf3-11e3-8ece-a9845ae22c21.png)

The carto reference is great. The first 40% of prose/examples/text not sure.

We haven't rethought this content from the ground up in quite some time and I'm curious if it actually helps anybody. OTOH
- Less text, maybe exactly 1 example that makes your eyes say: OH this is like CSS
- T

[2014-06-23 16:12] ghost commented on #462
Based on my experiences (primarily with TM1) with using CartoCSS I think it would be great to have a comprehensive reference that shows everything you can do with CartoCSS in a pretty compact format where it's easy read through the whole thing from start to finish. I'm thinking syntax guide + full function reference.

[edit: removed some comments whose time has not yet come]

[2014-06-23 16:44] jfirebaugh commented on #460
@yhahn v2.0.0-beta1 is released on the CDN and ready for you.

[2014-06-23 17:22] ghost commented on #458
@amyleew and @camilleanne I'm not sure if I ever articulated it this plainly ^^ when we were discussing things like this last week, but I'm inclined to agree that things ought to work this way (not sure to what extent they do now, but that's a different issue).

The one point that I'd add is, I think it would be great to have the UI provide assistance for picking the correct scale factor based on

[2014-06-23 17:27] amyleew commented on #458
@yhahn thanks for the clarification! i'll look to carto css as the best method for text/line/label control. and share use case / workflow examples as they come up.

[2014-06-23 18:08] camilleanne commented on #458
@yhahn thanks for a more detailed explanation. Even after working on this I realize I have a very limited understanding of the larger paradigms at work and choices already made.

I agree that these changes should be in the cartocss. It seems easier to add a slider, but that's deceptive. It would be nice to see some patterns in carto come out of this work for print and web, maybe relying heavily on

[2014-06-23 21:06] samanpwbb commented on #461
Covered in https://github.com/mapbox/tm2/pull/465 - awaiting merge.

[2014-06-23 22:42] camilleanne commented on #455
@yhahn correct as always. fixed in b9f73742f

@nickidlugash @amyleew any reason to keep 72ppi around? right now it looks like:

![screen shot 2014-06-23 at 3 40 24 pm](https://cloud.githubusercontent.com/assets/3952537/3365051/9cdf3d48-fb27-11e3-889c-ca61f067e720.png)

[2014-06-23 23:13] ghost commented on #455
I like that export tab.

[2014-06-24 05:49] yhahn commented on #315
https://github.com/mapbox/tm2/pull/468

appveyor builds are now completing and passing. This gets us CI for the server component of tm2 -- next up for me is seeing if we can get our browser tests running + passing on windows.

[2014-06-24 11:44] #461 closed, assigned to samanpwbb

[2014-06-24 13:33] #72 closed, assigned to nobody

[2014-06-24 13:57] amyleew commented on #458
@camilleanne @yhahn completely agree. perhaps, a print.mss and web.mss which include the elements that are change depending on respective final output. i'll continue to work towards those use case scenarios as i print.

[2014-06-24 15:08] ajashton commented on #281
In addition to not showing any results, search now messes up the css (in both master and design-adjustments):

![](http://i.imgur.com/PmGf7Dx.png)

[2014-06-24 15:11] samanpwbb commented on #281
Ya - this needs a refactor. Will take a look.

[2014-06-24 17:40] yhahn commented on #458
:+1:

[2014-06-24 17:40] #458 closed, assigned to nobody

[2014-06-24 19:46] yhahn commented on #315
https://github.com/mapbox/tm2/pull/469

client-side testing in place. I haven't actually used the app on windows much and I see that as the next step as our tests are far from comprehensive.

[2014-06-24 20:08] samanpwbb commented on #460
@yhahn I am not sure how to get access to the api token. Do you think you could point me in the right direction?

[2014-06-24 20:33] #377 closed, assigned to sgillies

[2014-06-24 22:02] #452 closed, assigned to nobody

[2014-06-24 22:03] camilleanne commented on #455
just merged https://github.com/mapbox/tm2/pull/454 which has options: 150ppi, 300ppi, 600ppi. lets open another ticket if we need to bring back 72/screen res for some reason.

[2014-06-24 22:03] #455 closed, assigned to nobody

[2014-06-24 22:23] wilhelmberg commented on #315
This is, what it looks like on my machine (cannot add any data :sob: ):
![tm2](https://cloud.githubusercontent.com/assets/4549888/3379227/0b1167fc-fbee-11e3-92ad-08d523f6ea3d.png)

[2014-06-25 00:07] amyleew opened #470 "Static UI: Image Capture Button"
talked with @nickidlugash on this and she had a good point on why this works this way... _BUT_ wonder if it disorients users more than helps them.
#### use case:  print a bookmarked location, DC
- select the bookmark, screen jumps to location, DC
  ![screen shot 2014-06-24 at 7 51 05 pm](https://cloud.githubusercontent.com/assets/4587826/3379982/284cc7b4-fbfb-11e3-8193-30ffd76b86b8.png)
- in setti

[2014-06-25 00:12] camilleanne commented on #470
@amyleew Interesting, I hadn't spent much time thinking about the flow between style/image. It's not actually 'resetting to the previously printed bounds', it's just setting the center of the map in the print view to the center passed to the print view by the style view, and that center is the center coordinate for the last time you saved the style. (don't read that sentence out loud. she sells se

[2014-06-25 00:37] samanpwbb commented on #460
Covered in https://github.com/mapbox/tm2/pull/471

[2014-06-25 00:37] #460 closed, assigned to samanpwbb

[2014-06-25 00:40] samanpwbb commented on #470
Agree with @amyleew about the zoom out upon clicking 'reset bounds' button is disorienting. I couldn't really figure out what it did for a while. The "center bounds" button feels more useful and understandable.

[2014-06-25 00:40] amyleew commented on #470
@camilleanne  i see why you made it zoom out. but now that why have the 'center bounds' function (which is awesome! and maybe 'center bounds to view' as the name), do we even need 'reset'?

users will be looking to alter the output dimensions as well as area to output. this interaction, is now much more intuitive since 1) they can edit the dimensions in right side panel and 2) set the bounds to 'c

[2014-06-25 15:49] samanpwbb commented on #444
New plan:
- ~~Add history to search for user-based "bookmarking".~~
- Create a central repository of useful bookmarks and build a UI for accessing them in TM2. Right off the bat, everyone will know where to look for unique features or be able to quickly navigate between major cities.

[2014-06-25 17:49] samanpwbb commented on #444
This is what we should do:
![screen shot 2014-06-25 at 1 41 27 pm](https://cloud.githubusercontent.com/assets/108094/3389123/1113fbda-fc91-11e3-83a5-bf44f721e811.png)

Having personal bookmarks is going to be important, especially if the print use case catches on.

[2014-06-25 17:58] skorasaurus commented on #444
as a tilemill (and now tm2) user for >2 years. I am loving this.

There's been so many times that I'm brainstorming and testing a new design and wanted to quickly see how it would look in different areas.

[2014-06-25 18:34] camilleanne commented on #470
Cool, lets lose the 'reset bounds to view' button for now. Since the dimensions are so easily modifiable, it's pretty superfluous. https://github.com/mapbox/tm2/commit/b415e35073c72bcc4acc0658d6cc4cf6c25105f1

That doesn't solve the confusion around where you end up on the map when you select the 'image' button.

[2014-06-25 18:38] #438 closed, assigned to nobody

[2014-06-25 18:39] camilleanne commented on #438
https://github.com/mapbox/tm2/pull/454 seems to have fixed this

[2014-06-25 18:40] amyleew commented on #470
Ideally the functionality would keep the user on the same screen as they navigate between both the Styling UI and Printing UI.

[2014-06-25 21:22] samanpwbb commented on #444
More working through this problem.

Combine user bookmarks with search into one compact convenient feature:
![searchbookmark](https://cloud.githubusercontent.com/assets/108094/3391867/cab95928-fcae-11e3-98fe-ce7220be59ae.png)

Saved / curated "bookmarks" become a "gazetteer" feature for extensive documenting + browsing of Maps:
![gazetteer](https://cloud.githubusercontent.com/assets/108094/3391850

[2014-06-25 23:17] samanpwbb commented on #462
Carto reference should be the first thing you see. This is generally useful while working on a map style, even for experienced users. It's annoying to have to scroll past the top 40%. I think we should totally cut it for now.

I like the idea of including nothing but the link to the external manual + one example at the top (maybe moving a more extensive intro to carto to onboarding stage???). I'll

[2014-06-25 23:21] yhahn opened #472 "Source uploads"
Per @camilleanne's notes:
- After export finishes, offer user **Download** or **Upload to Mapbox** options
- Upload job should ideally fit into the same API as export jobs (https://github.com/mapbox/tm2/blob/master/lib/tm.js#L302)
- Ideally we can reuse large portions of code for representing progress, displaying it, etc.
### TODOs
- [x] @yhahn Look into switching TM2 to tilelive streams https://g

[2014-06-26 07:11] nilshoerrmann commented on #462
It would be helpful to have a more dynamic documentation that filters automatically based on the given context:
1. When I edit styles, it would be good to automatically see the documentation of the property I'm currently at.
2. When I type, auto-completion of properties and value suggestions would make most documentation look-ups superfluous.

Personally, I don't think TM2 needs to display the ful

[2014-06-26 18:44] bsudekum opened #474 "Clicking profile pictures is not intuitive"
Clicking the profile icon is not an intuitive way to find show map styles/source data. The UI is getting pretty crowded but I do not think it should be buried in it's current location. Perhaps it would better fit in as a pill button with `Settings` and `Save`.

Clicking the user profile image should probably only bring up auth/remote sources.

cc @samanpwbb

![](https://i.cloudup.com/bBpXFJ_nJS-30

[2014-06-27 04:52] yhahn commented on #69
Fixed via tilelive upgrade.

[2014-06-27 04:52] #69 closed, assigned to aaronlidman

[2014-06-27 04:53] #95 closed, assigned to nobody

[2014-06-27 04:55] yhahn commented on #245
@GretaCB did this.

[2014-06-27 04:55] #245 closed, assigned to GretaCB

[2014-06-27 04:57] yhahn commented on #234
https://www.mapbox.com/developers/vector-tiles/mapbox-streets/ for now.

[2014-06-27 04:57] #234 closed, assigned to nobody

[2014-06-27 04:57] #251 closed, assigned to nobody

[2014-06-27 04:58] yhahn commented on #135
https://github.com/mapbox/tm2/issues/323

[2014-06-27 04:58] #135 closed, assigned to nobody

[2014-06-27 05:00] yhahn commented on #435
@ashleyclough this is the API's current (and cryptic) way of saying that your style is too slow -- it takes some of the tiles longer than 1s to render.

Look into simplifying your style or data and keep an eye on how quickly tiles render as you're working.

[2014-06-27 05:00] #435 closed, assigned to nobody

[2014-06-27 05:01] yhahn commented on #249
Not going to do this, we're designing around exclusive states for now.

[2014-06-27 05:01] #249 closed, assigned to samanpwbb

[2014-06-27 05:35] yhahn commented on #75
https://github.com/mapbox/tm2/issues/156

[2014-06-27 05:35] #75 closed, assigned to nobody

[2014-06-27 05:48] yhahn opened #478 "Save validation"
Currently style + source saving is good about normalizing and filling in defaults but doesn't actually validate much.

Be strict and test.

[2014-06-27 11:50] gravitystorm commented on #462
I've taught a few people tilemill 1, and always explain the documentation in the same way - I even did the same thing at sotm-eu a few weeks ago:

https://www.youtube.com/watch?feature=player_detailpage&v=W7La0UXec3A#t=1976

I explain that the 'manual' is a good place for when you're learning tilemill, and the 'carto reference' is something that you return to over and over while working on the sty

[2014-06-27 15:39] yhahn commented on #472
## Normalizequest

Goals: return a standard stream to track progress. Drop custom progress stuffs and be compatible with [progress-stream](https://github.com/freeall/progress-stream).

### mapbox-upload refactor

https://github.com/mapbox/mapbox-upload

Drop the custom task eventemitter that's returned and just pass back the main file readstream. Let the start/end actions (getting creds, putting m

[2014-06-27 17:59] camilleanne opened #480 "Add mapid to source data.yml"
With Source uploads happening (#472), there should be a reference to the mapid in data.yml.

[2014-06-27 18:07] bsudekum opened #481 "Export source data hangs at 100%"
![](https://i.cloudup.com/Yf6vjOaLTG-3000x3000.png)

No `download mbtiles` button. No errors in console.

Most recent pull: https://github.com/mapbox/tm2/commit/705c628cce5adeafd30d8ee5d52081a48d9775c2

cc @yhahn

[2014-06-28 04:32] #481 closed, assigned to nobody

[2014-06-28 16:05] gravitystorm opened #482 "Setting per-layer max/minzoom for shapefile layers?"
https://github.com/mapbox/tm2/pull/337 removed the ability to set max/minzoom per layer, and in the comments mentions a trick using postgis functions instead.

I think there should be a UI for adding max/minzoom for shapefile layers. As far as I understand, without this you would need to edit the tm2source definitions by hand to avoid ending up with e.g. lots of buildings in the z8 tiles when crea

[2014-06-29 15:07] gravitystorm opened #483 "Saving a source strips out minzoom/maxzoom from existing tm2sources"
Related to #482 and #337

b95eba1740d43abe8f0327bcd10b9da5f4f9864f removed the minzoom and maxzoom properties from the `deflayer` reference list. Since this is [used as a filter when saving](https://github.com/mapbox/tm2/blob/d7db88f7f6d379244124cbef8f015a80799805ff/lib/source.js#L161), it has the side effect of stripping out any per-layer minzoom and maxzoom parameters that have been manually add

[2014-06-29 15:59] blairdgeo opened #484 "Missing templating for utf-grid"
It could be me, but I no longer seem to be able to find where I can access configuration for templating utf grids in TM2.  Thoughts?  I am working in the master branch. Thanks.

[2014-06-30 21:01] yhahn commented on #367
Taking.

[2014-06-30 21:20] samanpwbb opened #488 "Back button from error should take user to either source or style"
Right now, error screen always returns user to style, even if they were in source mode when they hit the error.

[2014-06-30 22:53] samanpwbb opened #489 "remove geojson & shapefile layer templates?"
Can we cut https://github.com/mapbox/tm2/blob/master/templates/layergeojson.html and https://github.com/mapbox/tm2/blob/master/templates/layershape.html now that we have https://github.com/mapbox/tm2/blob/master/templates/layerogr.html ?

[2014-06-30 23:16] yhahn commented on #489
- shapefile template is still in use
- @GretaCB geojson is using ogr now ya? When you add topojson will it also be via ogr?

[2014-06-30 23:21] samanpwbb opened #490 "more readable / user friendly projection form?"
@GretaCB any ideas for making this a little more comprehensible for those not versed in projections?

![screen shot 2014-06-30 at 7 19 50 pm](https://cloud.githubusercontent.com/assets/108094/3437263/00d32d3e-00ad-11e4-92a0-b17ff3d45f2c.png)

A design that provides some more hints to users as to how to interact with this would be nice as well. Can we bring back a drop down + have a flag if the lay

[2014-06-30 23:24] samanpwbb opened #491 "Fix code editor text colors in source mode"
@ian29 just clued me in to the fact that the SQL query code area is miscolored.

[2014-06-30 23:25] yhahn commented on #490
This is a read-only field now for most datasources and is displayed basically for debugging when the field is autodetected.

We probably just need to style it better so it's clear it's read-only in these cases.

[2014-07-01 05:48] yhahn commented on #472
@camilleanne https://github.com/mapbox/tm2/pull/492 is merged into `direct-upload` now. After doing that refactor I think i'd recommend adding `progress-stream` to `mapbox-upload` and having _that_ be the readstream returned may be the most promising approach. I think it could replace the task object and just hang out until it gets piped to at upload time.

Similar to the previous approach, things

[2014-07-01 14:24] yhahn opened #493 "Simplify tmp style/source logic"
Possibly bad thought that I had this morning but worth some study:
- tmp style continues to be an in-memory thing
- use a single stable tmpid for tmp style (tmstyle:///tmp) rather than a volatile one
- this is the id that gets used for new styles, and when creating a new style it clears out an old style at `tmp` if it's there first

[2014-07-01 14:51] samanpwbb opened #494 "retina xray tiles not loading"
http://localhost:3000/source/6/32/23@2x.png?id=mapbox:///mapbox.mapbox-bathymetry-v1,mapbox.mapbox-streets-v4,mapbox.mapbox-terrain-v1,saman.uljqyqfr&hx3bzgqd
**404s.**

http://localhost:3000/source/6/32/23.png?id=mapbox:///mapbox.mapbox-bathymetry-v1,mapbox.mapbox-streets-v4,mapbox.mapbox-terrain-v1,saman.uljqyqfr&hx3bzgqd
**works.**

[2014-07-01 16:01] ajashton opened #495 "improve flow for changing style source"
Say I'm working on a style that's compositing a few layers, eg `aj.map-aopvneiaw,mapbox.mapbox-streets-v5,aj.npejwxit` and I want to change one of the layers to something else. I can't edit the current source string or even copy & paste it from anywhere in the UI, I need to retype the whole thing. (I might be doing this often on a project as I switch between different dev versions of a source I'm

[2014-07-01 16:04] ajashton commented on #158
The delete buttons got removed a while back. Was it intentional, or can we restore them?

[2014-07-01 16:12] ian29 opened #496 "always show mapid when viewing source(s)"
i often need/want to know what mapid i'm styling - would be great to always display this in the sources/layers list:

![](http://cl.ly/image/1G0I1o0T1212/Image%202014-07-01%20at%2012.09.47%20PM.png)

[2014-07-01 16:14] GretaCB commented on #489
@yhahn geojson is using ogr mapnik datasource, yes. The topojson question is [still pending](https://github.com/mapbox/mapnik-omnivore/issues/8#issuecomment-47542642). My guess is topojson will also be using ogr, but not 100% certain.

@samanpwbb the geojson template can go.

[2014-07-01 17:34] srsjojo opened #497 "Web Service(s) Support?"
Hello,

I was wondering if you had any plans to support consuming web mapping services like  WMS, TMS, WFS, WCS, or REST?

Thanks,
~Stephen

[2014-07-01 17:36] yhahn commented on #497
No, TM2 only works vector tile sources:

https://github.com/mapbox/tm2#what-are-vector-tiles

It's on our list to add UI support for non-mapbox vt sources https://github.com/mapbox/tm2/issues/367.

[2014-07-01 17:36] #497 closed, assigned to nobody

[2014-07-01 18:04] samanpwbb opened #498 "optimize fonts in font panel"
We're loading dozens of individual font images in the font panel and it causes slowdown when opening. How practical would it be to sprite these and only require a single image load?

[2014-07-01 18:08] yhahn commented on #498
Need to mull. Sprites sound both promising and unpromising -- it'll require a huge image rerender every time you add a font/switch projects with a different set of fonts ...

[2014-07-01 18:17] wboykinm commented on #395
@springmeyer @yhahn Any word on this? Any chance [this talk of sprites](https://github.com/mapbox/tm2/issues/498) is related?

Don't underestimate how much of the preprocessing (sprite generation, say) users would be willing to do to make custom fonts available :)

[2014-07-01 18:18] yhahn commented on #395
Yes, "coming soon"

[2014-07-01 18:29] yhahn commented on #498
Per chat, one idea to try is nesting fonts in families in the DOM so we can hide/show them in groups and also eliminate the scrollbar of death.

If I look at this probably my first stab will be for some known list of suffixes (regular/bold/semibold/italic/book/etc.), chopping them off, and considering the previous part of a font name its "family".

[2014-07-01 18:51] amyleew opened #500 "Static UI: Bounds lock not firm"
@camilleanne in prepping this style, i noticed that the bounding lock button is not actually locking the proportions accurately.

when i _lock_ a dimension, then drag the top left corner to move it over my area on the map... it slightly resizes the locked dimensions.

**gif walkthru:**
![print-bounding-lock](https://cloud.githubusercontent.com/assets/4587826/3447053/204e1d4e-0149-11e4-9984-ef50e35

[2014-07-01 19:04] #367 closed, assigned to yhahn

[2014-07-01 19:06] yhahn commented on #462
Closing for now per @samanpwbb's work. Next round will be reframed with more actionables.

[2014-07-01 19:06] #462 closed, assigned to samanpwbb

[2014-07-01 19:28] wboykinm commented on #395
Will now see air quotes whenever fonts come up . . .

[2014-07-01 19:35] yhahn commented on #395
Yes, "soon" use of "custom" "fonts" will be "available" in your "styles" especially if you send "@springmeyer" "craft" "beer"

[2014-07-01 21:01] samanpwbb commented on #489
removed geojson. :+1:

[2014-07-01 21:01] #489 closed, assigned to nobody

[2014-07-01 21:02] samanpwbb commented on #494
fixed with https://github.com/mapbox/tm2/pull/502

[2014-07-01 21:02] #494 closed, assigned to nobody

[2014-07-01 21:09] yhahn commented on #498
Def addresses the perf issues. Will PR for review -- we can tweak the family grouping logic in further iterations I think.

[2014-07-01 21:15] #498 closed, assigned to yhahn

[2014-07-01 21:33] samanpwbb commented on #474
Fixed.

[2014-07-01 21:33] #474 closed, assigned to samanpwbb

[2014-07-01 21:34] samanpwbb commented on #191
Closing for now - search is acceptable.

[2014-07-01 21:34] #191 closed, assigned to samanpwbb

[2014-07-01 21:35] samanpwbb commented on #281
Works now.

[2014-07-01 22:51] #384 closed, assigned to nobody

[2014-07-01 22:59] mikemorris opened #504 "Cursor in source inspector mode"
Currently it's always a grabby hand, should this change to a pointer when hovering over clickable data points?

[2014-07-01 23:05] samanpwbb opened #505 "Make 'create style from source' button awesome"
![screen_shot_2014-07-01_at_7_02_29_pm](https://cloud.githubusercontent.com/assets/108094/3450122/c861dcda-0173-11e4-9e9f-6a01eabae7af.png)

Right now, clicking this button creates a new style with a reference to a local source. This is great! Until you decide you want to use that style, in which case you hit a dead end with no clear route forward.

_instead_

what if we:

Check if the source has

[2014-07-01 23:06] samanpwbb opened #506 "Disallow upload + inform user about styles with local sources."
If user has style that references a local source:
1. Add a warning in settings about the fact that the style is referencing local sources.
2. Disable upload and package buttons.

[2014-07-01 23:09] samanpwbb opened #507 "Add starter style selection step after clicking 'new style'"
Give user a choice of starter styles:
![screen shot 2014-07-01 at 7 10 33 pm](https://cloud.githubusercontent.com/assets/108094/3450159/dbb963ce-0174-11e4-91f5-af887f741081.png)

Styles to include:
- Good old default starter style
- OSM Bright
- Something with terrain?
- Something with satellite?
- A totally blank canvas?

[2014-07-01 23:15] ian29 commented on #507
+1

[2014-07-01 23:30] samanpwbb commented on #491
@ian29 can you post a screenshot here.

[2014-07-01 23:36] ian29 commented on #491
![](http://cl.ly/image/311R1E041t39/Image%202014-07-01%20at%207.35.19%20PM.png)

[2014-07-02 00:34] camilleanne commented on #500
@amyleew isn't web-mercator awesome? It's getting stretchy near the poles-- if you notice, the resize handles on the left and right sides aren't exactly centered anymore. That's because of [this magic](http://en.wikipedia.org/wiki/Mercator_projection#mediaviewer/File:Mercator_projection_SW.jpg) that makes the boxes near the equator square the ones near the poles all rectangular and long. Notice th

[2014-07-02 01:15] wboykinm commented on #395
Waiting for drone delivery to be available. The man lives remote.

[2014-07-02 03:01] yhahn commented on #504
No, not for now.

[2014-07-02 03:01] #504 closed, assigned to nobody

[2014-07-02 15:00] ashleyclough opened #508 "No binary builds since 11 June"
When can we expect a new binary build?

[2014-07-02 15:02] yhahn commented on #508
Will look into it -- in the meantime building from source is actually pretty painless:

https://github.com/mapbox/tm2#source-install

[2014-07-02 17:07] ian29 opened #512 "`bounds` input in UI"
currently to limit export bounds you have to add a `bounds` object to `data.yml`. ideally you could do this in the source/settings pane. also the wsne order would be great since i can never remember them.

[2014-07-02 17:09] yhahn commented on #512
No, you are power user so be one : ) This is autodetected for exports otherwise.

[2014-07-02 17:09] #512 closed, assigned to nobody

[2014-07-02 19:24] amyleew commented on #500
@camilleanne and sneaky too... thanks for once again working your magic!

[2014-07-02 19:32] GretaCB commented on #490
@samanpwbb
Related discussion: https://github.com/mapbox/tm2/issues/98

It's pretty much just a "window" into the source's projection.

As far as styling it to signify read-only, we could:
- add "(read-only)" to the Title
- grey out the background of the input box
- and not allow this to happen when a user clicks on it:
  ![screen shot 2014-07-02 at 3 22 18 pm](https://cloud.githubusercontent.com/

[2014-07-02 19:36] GretaCB commented on #490
@samanpwbb @yhahn
If the above style suggestions seem ok, I can implement those today.

[2014-07-02 19:38] samanpwbb commented on #490
@GretaCB ya, you should be able to just add `readonly disabled` attributes (not classes) to the element and it'll make what you want happen.

[2014-07-02 19:39] wboykinm commented on #490
I have yet to see the happy medium between "Text box with defs" and the usual GIS selector-beast:

![2014-07-02_1537](https://cloud.githubusercontent.com/assets/735463/3461262/91ff85fe-0220-11e4-840e-9cf86f784587.png)

[2014-07-02 20:38] GretaCB commented on #409
Update:
When running `test/test-client.js`, getting the following error...

[code]

**Is anyone else seeing this error?**

According to PhantomJS's Crash Reporting page, a person is to "attach" the `.dmp` file to a new issue, but it is impossible to attach it since Github doesn't allow attaching a `.dmp` file. Also, they prefer that the .dmp file be converted to a stack trace, but this can only be

[2014-07-02 20:52] yhahn commented on #409
I'll look into this -- likely the changes I made to get our client-tests running Windows is triggering something that breaks in Mac OS X.

Fun times : )

[2014-07-02 21:33] #98 closed, assigned to GretaCB

[2014-07-02 21:33] yhahn commented on #490
@GretaCB got it

[2014-07-02 21:33] #490 closed, assigned to GretaCB

[2014-07-02 21:35] yhahn commented on #505
Grabbing for coordination with https://github.com/mapbox/tm2/issues/472

[2014-07-02 21:35] yhahn commented on #456
u did it

[2014-07-02 21:35] #456 closed, assigned to nobody

[2014-07-02 21:39] GretaCB commented on #409
Thanks for taking a look @yhahn ! Let me know if I can help in any way.

[2014-07-02 21:42] yhahn commented on #508
@ashleyclough binary builds will return sometime in the future but you should be good to go off a straight install.

[2014-07-02 21:42] #508 closed, assigned to nobody

[2014-07-02 22:34] amyleew opened #513 "Add "tips" to New TM2 UI"
The ["tips"](https://github.com/mapbox/tm2/blob/master/HOWTO-cartoCSS.md) section that lived at the top of the old UI docs were super helpful. Can they be tossed back in under the Misc. category at the bottom?

//cc @samanpwbb @yhahn @nickidlugash

[2014-07-02 22:34] yhahn commented on #513
I think they got moved here? https://github.com/mapbox/tm2/blob/master/HOWTO-cartoCSS.md

[2014-07-02 22:36] amyleew commented on #513
I meant in the UI. Could be useful for newer users.

[2014-07-02 22:37] samanpwbb commented on #513
New users, we will have good thorough outside of app documentation.

It is worth experimenting with boiling down some of the tips, like functions/operations into more reference-y format and bring them back.

[2014-07-02 22:40] yhahn commented on #513
@amyleew background here: https://github.com/mapbox/tm2/issues/462

The content needs a go-over and then we can figure out if it really does belong in the UI or not.

[2014-07-02 22:43] samanpwbb commented on #387
Started this in [`error-alert` branch](https://github.com/mapbox/tm2/compare/error-alert?expand=1):

![screen shot 2014-07-02 at 6 41 55 pm](https://cloud.githubusercontent.com/assets/108094/3463468/024ffb90-023a-11e4-88eb-ad2058056fff.png)

Not properly implemented, but it'll work well with a bit of polish.

[2014-07-02 22:58] amyleew commented on #513
@yhahn  yeah... still think the overview is essential, esp. for trouble-shooting. could be it's own tab beneath docs so it's a quicker to find. called syntax or guide as @wsnook said. it's just super helpful when you're learning... maybe i won't care as much in a few months!

it's the difference between _how to style data_ and _how code CartoCSS_.

[2014-07-03 02:10] camilleanne commented on #472
@yhahn I'm curious about calling `unpipe` on progress-streams, because it's a writable stream, so it doesn't have that method, right? It's an available event. http://nodejs.org/api/stream.html#stream_event_unpipe

[2014-07-03 03:18] yhahn commented on #472
Yeah so the progress stream is a duplex stream,

[code]

i.e. it's a writable stream to A and a readable stream to B.

I'm finding that in the case of the export, calling unpipe() on progress-stream stops it from writing to `B` (the MBTiles file). It was an open question whether the progress-stream would then know to stop reading from A. In my tests this is the case -- progress-stream sucks a litt

[2014-07-03 09:01] #403 closed, assigned to yhahn

[2014-07-03 09:02] yhahn commented on #258
style uploads are in place, follow https://github.com/mapbox/tm2/issues/472 for sources

[2014-07-03 09:02] #258 closed, assigned to aaronlidman

[2014-07-03 18:19] camilleanne commented on #472
https://github.com/mapbox/mapbox-upload/blob/source-upload/index.js#L111-L112

alright, it seems that the unintended consequence of refactoring for request changed `A -> prog -> B`, to `((file -> prog) -> multipart/form-data) -> request`,  `prog.unpipe()` doesn't seem to stop anything but stop progress-stream from reporting. `prog.end()` causes a "write after end" error.

Pausing the request seems

[2014-07-04 00:55] camilleanne opened #515 "Sources broken in tm2"
on the most recent pull from master (b0122ece0c7) all my sources turn black after importing as soon as I save. If I try to export them they are redonkulously small (20-30kb). Not sure yet where they're going.

I also can't add new data, it just stays black and nothing actually seems to be imported, but the data.yml looks fine.
![borkedsource2](https://cloud.githubusercontent.com/assets/3952537/347

[2014-07-05 05:13] palmerj opened #516 "Support OGC Geopackage format in source editor"
Would be great to have this. GDAL/OGR 1.11 now supports this. GDAL/OGR 2.0 will also better support this format with spatial index reading.

[2014-07-05 15:24] l4u opened #517 "Export vector tiles in source settings"
There's an "export vector tiles" button under source (instead of style) settings.
The output seems to be rasterized images stored in .mbtiles instead of vector tiles in pbf.

[2014-07-05 16:26] #517 closed, assigned to nobody

[2014-07-06 14:03] skorasaurus opened #518 "MapBox Streets V4 listed as default in remote layer source menu"
I noticed that when  I create a new project, mapbox streets v5 will be used as the default remote layer source.
If I were to delete it inadvertently, when I go back to add it through the layers menu, v4 is listed instead of v5.

see gif as example:
![gifrecord_2014-07-06_095848](https://cloud.githubusercontent.com/assets/955351/3489110/3e009210-0516-11e4-8b6e-cba1ef9b4633.gif)

[2014-07-08 14:39] tmcw commented on #516
If this is transparently supported via OGR, let's do it. Otherwise, this is not an easy format to build on.

[2014-07-08 14:42] tmcw commented on #388
This is already supported in TM1, needs to be ported.

[2014-07-08 14:44] tmcw commented on #448
Are you using OSX Mavericks and you haven't unchecked this:

![2014-07-08 at 10 43 am](https://cloud.githubusercontent.com/assets/32314/3511262/5163b280-06ae-11e4-8c6d-efd44ce8acc4.png)

We probably need some more code to ensure that this _really terrible idea from Apple_ does not impede progress.

[2014-07-08 14:46] tmcw opened #521 "Source: could not detect min/max zoom"
![2014-07-08 at 10 46 am](https://cloud.githubusercontent.com/assets/32314/3511292/996d40f0-06ae-11e4-8d8e-fba7ee153e8a.png)

Getting this on trying to add a new GeoJSON file as a source.

[2014-07-08 16:58] ekelleyv commented on #448
Yup I have that on. All text editors seem to get it right, so it may just be a matter of switching those particular characters out with their sane alternatives.

[2014-07-08 17:58] wboykinm commented on #448
Well this explains a lot . . .

[2014-07-08 20:51] yhahn commented on #515
^^ @GretaCB looks like the biggest culprit. Apparently `disabled` on a form element omits it from form value collection O___o

Writing tests for this now.

[2014-07-08 20:56] GretaCB commented on #515
Oh man, I killed TM2 single-handedly. But good catch. http://www.coderanch.com/t/485380/HTML-CSS-JavaScript/Disabled-field

[2014-07-08 23:44] camilleanne commented on #472
Mapbox-Upload  + Tasks have been integrated.

Now, if a source is uploaded to mapbox.com, a mapid is recorded in data.yml. We can check for a corresponding mapid on mapbox.com. If none exists (because the map has been deleted), the source can be uploaded again. If a change has registered in the source, then the source can be uploaded to update that map.

Currently this system has a bunch of holes

[2014-07-09 01:28] yhahn commented on #472
@camilleanne per voice, next up with the goal of getting all this wonderful work into `master`:
- [x] testing export/upload UI in TM2
- [x] mapbox-upload release
- [x] merge into master

[2014-07-09 16:04] gravitystorm commented on #483
For what it's worth, I've patched this in my own version of tm2 ( https://github.com/gravitystorm/tm2/commit/d476e0a49977cc51918ec0de45134109487c285b and https://github.com/gravitystorm/tm2/commit/51bdd2ba552ec366ed282376f33f9dfe885ee2ec ), using hidden form inputs for the tm2source forms to preserve whatever is hand-specified in the source yaml file but without creating any UI.

Is this an approa

[2014-07-09 16:04] yhahn commented on #483
@gravitystorm yes, I think that makes sense

[2014-07-09 16:24] gravitystorm opened #523 "More details on 'pro' font usage?"
tm2 now [comes with 'pro' fonts](https://github.com/mapbox/tm2/blob/c02cb8a95a1dea1cfe88b3d340b560a844102b23/package.json#L36), but with little information about them. I don't think there's a public repo for them so I'm posting this here instead.

The readme[1] states "The license covers use of these fonts for Mapbox Studio only." I'm guessing I can substitute 'Mapbox Studio' and 'tm2' here, but e

[2014-07-09 17:05] yhahn commented on #523
Yes, I'll look into documenting how the app license (in each individiual font dir) applies in specific cases.

In general right now consider their use available for:
- Designing styles in TM2
- Deploying those styles to Mapbox as a Mapbox user
- Printing/exporting static images from TM2

All other uses and any redistribution of the fonts in forks or other packages that are not TM2 is strictly proh

[2014-07-09 19:11] amyleew opened #524 "Add CMYK color values as Export for Print"
@camilleanne  - Can we add the functionality of exporting CMYK color values instead of RGB color values? This is specifically helpful when printing the color Black. CMYK values render a "Rich Black" which absorbs on the paper better and is more legible. It essentially adds a bit of CMY into the K. RGB values are just 100% K.

//cc @lxbarth @nickidlugash @jjhurlock

[2014-07-10 23:13] camilleanne opened #525 "Data.yml losing characters"
I've been writing tests for source.upload wherein source.save is called several times, modifying [data.yml](https://github.com/mapbox/tm2/blob/direct-upload/test/fixtures-export/data.yml). At the beginning of the test, `attribution` was `"&copy; John Doe 2013."` but inbetween these tests it becomes just `John Doe 2013`.

Looks like if source.save is called multiple times, something unexpected happ

[2014-07-10 23:39] camilleanne opened #526 "Source: New Layer import takes forever to error"
I've noticed on some .shp files I've tried to import that I will try to submit the file and clicking the button doesn't seem to do anything. That's because it's made this request `http://localhost:3000/metadata?file=/Users/camille/Downloads/ne_10m_graticules_all/ne_10m_graticules_30.shp` and it's still pending and waiting. Eventually (a minute or two later) you see "(failed)
net::ERR_EMPTY_RESPONS

[2014-07-11 00:08] ghost commented on #526
do you use sync or async io calls for reading those files?

[2014-07-11 00:10] ghost commented on #526
and are you familiar with all the events for http://nodejs.org/api/stream.html#stream_class_stream_readable ?

[2014-07-11 00:16] yhahn commented on #526
@camilleanne can you add these hangers to a branch in https://github.com/mapbox/mapnik-test-data/tree/master/data/shp and @GretaCB or I can take a look?

[2014-07-11 15:49] tmcw opened #527 "Font coverage preview"
See https://github.com/mapbox/node-fontnik/pull/57 + https://github.com/mapbox/font-scope - we could quickly show a preview of language & geo coverage of a specific font stack.

[2014-07-11 15:50] yhahn commented on #527
Awesome idea.

[2014-07-11 16:12] GretaCB commented on #526
@camilleanne Looks like there are a couple things happening in `mapnik-omnivore`:
- This bug you found helped me find a callback error. Woot!
- `mapnik-omnivore` is having trouble setting min/max zoom for these graticule sources. I'm looking into this now.

[2014-07-11 17:06] GretaCB commented on #521
hey @tmcw , mind sending me the GeoJSON file? I can take a look at what's going on in `mapnik-omnivore`

[2014-07-11 17:49] mikemorris commented on #527
:+1:

I've talked with @nickidlugash before about how this could be quite helpful.

[2014-07-11 19:05] nickidlugash commented on #527
Yes! :thumbsup: @mikemorris and I literally talked about implementation of this exact tool two days ago @tmcw Let me know if you're jumping on this – I'd love to help out.

[2014-07-11 19:18] camilleanne opened #528 "Style upload doesn't complete"
Seems that if you upload a style to mapbox.com that breaks or errors (e.g. uploading a style with a local source) the 'loading' class isn't removed and an error or end to the upload doesn't occur, but there is almost immediately an error on mapbox.com/data.

update: it does complete with an error after a looong (~2.5 minutes) with the same error as #526

[2014-07-11 19:22] camilleanne commented on #528
Also, we can probably get around this particular error for uploading local sources with #506

[2014-07-11 19:24] camilleanne commented on #451
This can be wrapped up into the next iteration of #472 since upload now returns a progress object that can be more helpful than a spinner.

[2014-07-11 19:33] GretaCB opened #529 "Zoom to layer button in Style UI"
Sometimes having difficulty locating my source data, unless I know which city it's in and Search for that location.

[2014-07-11 19:34] yhahn commented on #529
@GretaCB fyi you will run into same issue as https://github.com/mapbox/tm2/issues/393 here.

[2014-07-11 22:45] GretaCB commented on #526
@camilleanne this issue should be fixed with my [last tm2 update](https://github.com/mapbox/tm2/commit/45d2f331052fee37ce436761d5ef4554d43c802e) (fixed mapnik-omnivore).

[2014-07-11 22:45] #526 closed, assigned to nobody

[2014-07-12 00:36] #528 closed, assigned to nobody

[2014-07-15 01:38] lbud opened #530 "Source data zoom availability seems wrong"
These aren't actually all available at z0+, are they?
![screen shot 2014-07-14 at 6 38 06 pm](https://cloud.githubusercontent.com/assets/3170312/3579494/b8d3d8de-0bc0-11e4-9321-08bfc98828c5.png)

[2014-07-15 03:19] yhahn commented on #530
No, looks like a UI issue where it's interpreting no data on zoom level ranges as "everywhere yeah!" Will take a look.

[2014-07-15 14:07] ebrelsford opened #532 "Error when Mapbox account's profile name is not populated"
I got this error when I logged in to TM2 with a Mapbox account with no `name`:

[code]

![selection_014](https://cloud.githubusercontent.com/assets/375002/3585714/3b78d9f2-0c29-11e4-8819-3b0ae151e37c.png)

Pressing `back` just gets the same error again.

[2014-07-15 17:11] ingalls commented on #281
I'm afraid this still doesn't work in firefox.

[2014-07-15 17:28] ajashton opened #533 "Close button always visible in Firefox"
![](http://i.imgur.com/v80OK1v.png)

[2014-07-15 21:40] skorasaurus opened #534 "feature: 'save as' button for existing projects"
If I want to modify an existing project and save it under a new name, the current workaround would be to copy the existing project's folder in a file manager/terminal, rename it, then reopen in tm2.

A 'save as' feature to rename the projects folder while preserving the original project's name and files would be nice.

I ran into this while customizing the osm-bright tm2 project for my own needs.

[2014-07-16 00:15] camilleanne commented on #505
@yhahn this would go great with a 'dirty' flag in data.yml that says 'upload before you continue,' or if we could diff what's local and what's on mapbox.com

[2014-07-16 12:17] yhahn commented on #472
That was fun : ) Will open a new ticket once serialized streams is in place upstream in tilelive.

[2014-07-16 12:17] #472 closed, assigned to nobody

[2014-07-16 14:37] ian29 commented on #472
:O \o/

[2014-07-16 17:30] rclark commented on #178
@samanpwbb would it list only curated sources, or would it list a user's own sources as well? Could this also provide a simple way for users to build a composite data source?

[2014-07-16 20:37] camilleanne commented on #505
@samanpwbb could you review https://github.com/mapbox/tm2/compare/sourcetostyle as a quick patch for the trap part of this now that we have source uploads (https://github.com/mapbox/tm2/pull/531)?

[2014-07-17 07:57] lxbarth opened #535 "Login fails on self-signed certificates"
Reported from a Mapbox customer. Is this something we can fix / create a workaround for?

[2014-07-17 16:35] samanpwbb opened #536 "Refresh map on initial datasource import?"
In source mode, after clicking 'select' on a data source import, the map should be refreshed. Right now, post 'select' user is in a state where they see that they've added the data source, but the 'fields' panel is incorrectly showing them that there are no available fields + the map doesn't show the source. To edit fields, user needs to click 'done' and then inspect the source again.

[2014-07-17 16:37] samanpwbb opened #537 "Automatically fit to bounds on initial data import"
In source mode, when a data source is first imported, map should fit to bounds of that source. This will provide a gut-check for the user that the data is what they expected it to be, and be in line with the user's intention, which is likely to work with this new source.

[2014-07-17 16:48] samanpwbb opened #538 "show but disable 'create style from source' link if unsaved project"
This link is hidden when making a new source:
![screen shot 2014-07-17 at 12 47 51 pm](https://cloud.githubusercontent.com/assets/108094/3616359/2014b820-0dd2-11e4-8f4d-cd38eb15eae2.png)

I'd prefer if we used this pattern instead:
![screen shot 2014-07-17 at 12 47 06 pm](https://cloud.githubusercontent.com/assets/108094/3616349/0be874f4-0dd2-11e4-9ea8-aa5c3b5461e4.png)

Rather than hiding the 'cr

[2014-07-17 17:05] samanpwbb commented on #505
![screen shot 2014-07-17 at 12 49 16 pm](https://cloud.githubusercontent.com/assets/108094/3616373/4ecf937e-0dd2-11e4-8ac6-bd29aa4eebba.png)

Short term I think this is okay. I would change the actions though. Make one prominent and one secondary, and remove the "no," and "yes," parts from the buttons.

![screen shot 2014-07-17 at 1 05 51 pm](https://cloud.githubusercontent.com/assets/108094/36165

[2014-07-17 17:12] yhahn commented on #505
lol. so many plans

[2014-07-17 17:56] camilleanne commented on #505
Yes, so many plans for the flow. In the meantime I fixed my spelling error. Is that first line too big?
![screen shot 2014-07-17 at 10 54 00 am](https://cloud.githubusercontent.com/assets/3952537/3617168/a6da12f2-0ddb-11e4-98ee-1bbdc7ff71e1.png)

[2014-07-17 17:59] samanpwbb commented on #505
See this now, not sure we need the second line 'would you like to proceed with a local source' - or if we do need it, move it below the 'upload to mapbox' button. _Lastly_ nitpick: I would use little icons instead of big icons, and the `harddrive` rather than `folder` icon for the 'use source locally' button.

[2014-07-17 18:02] camilleanne commented on #505
this is why you're here, saman.
![screen shot 2014-07-17 at 11 01 35 am](https://cloud.githubusercontent.com/assets/3952537/3617243/792be208-0ddc-11e4-942e-d9c703505acb.png)

[2014-07-17 20:51] heyitsgarrett opened #540 "Introduce ability to find bounds of data within style interface"
The "find data" button in the Source interface is amazing:

![2014-07-17 at 1 48 pm](https://cloud.githubusercontent.com/assets/200357/3619352/f7d577ba-0df3-11e4-87bd-45f8be11daa3.png)

... but I find myself digging around in the style interface after importing that third-party data. Can we have a toggle-able reference layer or discovery button for individual data sources?

[2014-07-17 21:06] GretaCB commented on #540
Hey @heyitsgarrett , I agree (https://github.com/mapbox/tm2/issues/529).

A source's metadata is no longer available once it's converted to vector tiles, which is why this hasn't been added in the Style UI yet. It may be worth adding metadata to the `vector_layers` object.

This issue seems to be problematic for any layer only visible beyond z6 or so, like city data or equal/smaller size. And city

[2014-07-17 21:07] #505 closed, assigned to camilleanne

[2014-07-22 01:10] GretaCB commented on #521
mapnik-omnivore was erroring out for tiles that didnt end in a 1,1 tile when iterating down through the number of tiles. Fixed.

[2014-07-22 01:10] #521 closed, assigned to nobody

[2014-07-22 01:13] GretaCB commented on #537
If I understand correctly when you say "source mode", I think this is related to https://github.com/mapbox/tm2/issues/540

[2014-07-22 01:14] samanpwbb commented on #537
This issue is asking to "force" the `js-zoom-to` function right away when a datasource gets imported.

[2014-07-22 01:20] GretaCB commented on #537
Ah, I already have that in the source-raster branch. I'll add it to master right quick.

[2014-07-22 01:27] GretaCB commented on #537
Done.
https://github.com/mapbox/tm2/commit/1834d32f10e742f14491b985059a5e5fd1a29609

[2014-07-22 01:27] #537 closed, assigned to nobody

[2014-07-23 14:51] karenzshea opened #542 "crash after upload to mapbox.com"
Got this error after uploading custom data source to mapbox.com. Data uploaded fine, but local app crashed.

[2014-07-23 16:33] ian29 opened #543 "indicate geometry type in layer inspector"
As more people start using vt sources that they did not create, indicating which type of geometry (point/line/polygon/geometry/raster) is contained in each layer will make styling more straightforward.

this can be as simple as the geometry icons in tilemill:
![](http://cl.ly/image/3b3K2J27341z/Image%202014-07-23%20at%2012.30.03%20PM.png)

[2014-07-23 17:17] yhahn commented on #543
y it's not perfect given mixed geometry types but I think mapnik attempts to detect this atm based on the first feature in the ds.
- [ ] include geometry type metadata from mapnik in mapnik-omnivore metadata
- [ ] add geometry type to vector_layers metadata when exporting, in local sources (validate this in tilelive.js)
- [ ] update UI to show this

[2014-07-23 20:19] karenzshea opened #544 "UI: ambiguous 'done' button in data source editor"
I find the 'Done' button under the 'Configure' tab to be misleading in the custom data source editor. If it saves changes maybe it should say save?

I've also considered maybe not having a 'Done' or 'Save' button there at all if we already have a 'Save' button in the left side navigation and the keyboard 'command save' option too. Too many choices? Perhaps a more effective option would be to visua

[2014-07-23 21:16] karenzshea opened #545 "UI: ambiguous 'x' button in data source editor"
![screen shot 2014-07-23 at 5 12 53 pm](https://cloud.githubusercontent.com/assets/5521326/3680366/2ac0bc48-12ae-11e4-8bbe-588153dee0b9.png)

Even if the 'Done' button weren't there for saving, the 'x' in the top corner of this layer editing screen feels a bit like closing out of something without saving, but as I understand it, it just moves you out of editing that layer and back to the list of a

[2014-07-24 16:29] tmcw opened #546 "What is the id of a layer?"
![2014-07-24 at 12 29 pm](https://cloud.githubusercontent.com/assets/32314/3691162/aec88bf0-134f-11e4-8bc3-0a56e817424b.png)

[2014-07-24 16:52] yhahn commented on #546
or this

[2014-07-24 16:58] tmcw commented on #546
?

[2014-07-24 16:58] tmcw commented on #546
If it's OGRGeoJSON, can we add a `#` in front?

[2014-07-24 16:59] yhahn commented on #546
y sounds good

[2014-07-24 20:30] heyitsgarrett opened #547 "Add favicon"
Favicons are the future.

[2014-07-24 21:02] ajashton opened #548 "Hitting Esc on a modal should not also close the panel"
I do this a lot:
1. Edit a SQL query in source mode and make a syntax error
2. View the helpful error modal
3. Instinctively it escape to dismiss the modal
4. Modal is gone, but so it the layer edit panel

Would be cool if Esc could just dismiss the modal.

[2014-07-24 22:04] springmeyer commented on #543
Noting: currently geometry type detection against vector tiles is a no-op: https://github.com/mapbox/mapnik-vector-tile/blob/6ed7f9f8495bf04e13808e068125a543a53280bf/src/vector_tile_datasource.hpp#L366-L369

[2014-07-25 00:25] camilleanne commented on #515
@GretaCB has this been fixed?

[2014-07-25 00:31] GretaCB commented on #515
yes

[2014-07-25 00:32] #515 closed, assigned to nobody

[2014-07-25 19:50] yhahn opened #552 "Serialtiles refactoring backlog"
@camilleanne brain dump, pls change/update/addto as you see fit.
- [ ] ~~consolidate export + upload methods in source lib, they are nearly identical...~~
- [x] move upload/export actions to buttons in source editor, let's leave export/upload page separate for now tho
- [x] dirty flag... can go/die?
- [x] see if mapid logic can be simplified
- [x] update/add to client side tests
- [x] travis/appve

[2014-07-28 15:10] heyitsgarrett opened #553 "Move print UI into style editor"
A pain point is switching contexts between the styling interface (i.e. hiding or showing certain styles or labels) and the 'Export Image' pane.

Ideally, we preserve state (zoom level, bounding box, crop) as you toggle between modes without having to rely on the bookmarking interface, which doesn't suffice for fast switching.

[2014-07-28 15:11] heyitsgarrett opened #554 "Export Image: Remember previous settings"
Related: #553

Remember settings (bounding box size, location, crop, resolution, etc) when reentering this state from the style interface.

[2014-07-28 15:15] yhahn commented on #553
Let's sketch this as moving the export image UI into the main style editor so the state is shared. Should be simpler than trying to move the state back and forth.

[2014-07-28 15:15] heyitsgarrett opened #555 "Export to 300 ppi instead of 72 ppi"
Is it possible to export an image as actual encoded 300ppi  rather than a 72ppi that must be resized post-process?

[2014-07-28 15:21] yhahn commented on #555
Ref http://www.libpng.org/pub/png/book/chapter11.html#png.ch11.div.8
- [ ] either node-mapnik/mapnik level API for this or small node module to add this to a PNG by straight buffer manipulation
- [ ] test in photoshop/other programs to make sure this is what users will be expecting

[2014-07-28 15:46] skorasaurus commented on #518
still applicable in https://github.com/mapbox/tm2/commit/ad319e1dff91c1027fe9d2c7448f71bcb91b94c3
but now mapbox streets 4.0 and 4.2.0-dev are listed in the remote sources.

[2014-07-28 18:32] ian29 opened #557 "source mode no longer detects wgs84"
on ad319e1 - after adding a new PostGIS layer that failed to render as xray in source mode, i noticed the proj4 string indicated that the layer was in Web Mercator, but the layer's geometry is definitely WGS84, and is labelled as such in the PostGIS database.

The only current work arounds are (a) to reproject the geometry in the database or (b) to past in the proper Proj4 WGS84 definition

[2014-07-28 19:36] yhahn opened #558 "All-numeric strings being number-ified by yaml.dump/parse"
Per @camilleanne's vetting, any of our string fields are subject to be encoded as numbers in yaml leading to some bad type busting:

[code]
- [ ] look into fixing this in https://github.com/mapbox/js-yaml/compare/scalar-styles
- [ ] maybe dust off old scalar-styles pull request and try to get merged upstream : |

[2014-07-28 20:00] #285 closed, assigned to nobody

[2014-07-28 20:04] #423 closed, assigned to nobody

[2014-07-28 20:12] yhahn commented on #532
Can't reproduce -- let me know if there's any more details that could help track this down here.

[2014-07-28 20:12] #532 closed, assigned to nobody

[2014-07-28 20:21] #518 closed, assigned to nobody

[2014-07-28 20:31] yhahn commented on #130
Taking over here.
- [x] add tests for all the keybindings
- [x] close out

[2014-07-28 20:42] yhahn commented on #409
We're in a good spot here. Closing.

[2014-07-28 20:42] #409 closed, assigned to nobody

[2014-07-28 21:53] camilleanne opened #559 "Create style from source -- error in cartocss schema"
Sometimes (not sure yet what is causing), the layers are not correctly ID'd from a remote source and replaced by mapid instead.
e.g.

[code]

[2014-07-28 21:55] yhahn commented on #559
@nickidlugash ran into this -- needs a fix on the Mapbox API side (the carto is being written before the upload is finished processing so there's no vector_layers metadata available yet).

[2014-07-28 22:00] yhahn commented on #552
https://github.com/mapbox/tm2/pull/560

[2014-07-28 22:00] #552 closed, assigned to nobody

[2014-07-28 22:08] #538 closed, assigned to nobody

[2014-07-28 22:28] yhahn opened #561 "Update style/source client tests to use Real (tm) projects"
With recent refactoring should be possible for source/style project tests to incorporate actions that were previously not tested because of tmp-project nature.
- [x] style/source saving
- [x] style upload
- [ ] create style from source action
- [ ] source layer rename
- [ ] source layer rename no-op
- [x] style package dl blocked with local source

[2014-07-28 22:29] yhahn commented on #507
Taking

[2014-07-28 22:33] yhahn commented on #506
Some notes:

### Always prompt from source editor

The use of the source mapid in this action has surprise-trapped a few people.
- https://github.com/mapbox/tm2/blob/master/app/source.js#L545-L546

I'm wondering if we should try _always_ prompting on this action -- if there is a mapid:

[code]

If not, the current

[code]

### Block from style editor

Block local sources from being packaged here:

[2014-07-28 22:34] #45 closed, assigned to yhahn

[2014-07-28 23:08] #478 closed, assigned to yhahn

[2014-07-29 01:23] camilleanne commented on #500
@amyleew finally had some time to take a look at this.

I've got a hacky first draft in the mercator-adjust branch of tm2 (https://github.com/mapbox/tm2/compare/mercator-adjust), but there are some dragging issues related to recalculating to maintain an unskewed rectangle. I'll continue investigating, but there may need to be a lesser of two evils choice.

[2014-07-29 01:51] #493 closed, assigned to yhahn

[2014-07-29 01:57] yhahn commented on #402
Fixed

[2014-07-29 01:57] #402 closed, assigned to nobody

[2014-07-29 02:08] yhahn commented on #446
This is working again. Will mull on whether automated testing of this is reasonable to do.

[2014-07-29 02:08] #446 closed, assigned to yhahn

[2014-07-29 02:59] #451 closed, assigned to nobody

[2014-07-29 10:54] yhahn commented on #156
https://github.com/mapbox/tm2/pull/562

[2014-07-29 10:54] #156 closed, assigned to nobody

[2014-07-29 11:47] #171 closed, assigned to nobody

[2014-07-29 12:32] kottmann opened #564 "Build fails with checksum error"
I updated to the latest version n(1ef56320c957f3a368372c7acedecdbbf99936a4) but now building fails with a checksum error.

Here is the error I get on Fedora 20:

npm install
...
<snip>

Error: shasum check failed for /home/xyz/tmp/npm-30393-yxwc42Im/1406636590386-0.7470777868293226/tmp.tgz
npm ERR! Expected: 7a1b1db81f4188056b1801f139d646d136015e68
npm ERR! Actual:   0651ed56153ee10ebe7b0e069bd5c5

[2014-07-29 12:35] kottmann commented on #542
I experienced the same problem. In addition to the error on the command line the web ui doesn't give any indication that the server crashed. The ui just shows the progress bar at 100%.

[2014-07-29 12:37] #130 closed, assigned to aaronlidman

[2014-07-29 13:48] kottmann opened #565 "Error when canceling a source upload to mapbox"
I tried to upload a source to mapbox, after sometime I decided to click on "Cancel". Just after pressing it the following error was written to the console:

Error: Can't set headers after they are sent.
    at ServerResponse.OutgoingMessage.setHeader (http.js:689:11)
    at ServerResponse.res.setHeader (/home/xyz/git/tm2/node_modules/express/node_modules/connect/lib/patch.js:59:22)
    at next (/h

[2014-07-29 14:55] nerik opened #566 "Custom fonts"
I'm not sure if it's considered an issue, in case it's not I'm sorry, but :
- I haven't found any other way to use custom fonts other than placing them to node_modules/mapbox-studio-default-fonts/. Is there any other way? Is it documented somewhere?
- any project with custom fonts uploaded to Mapbox appear as 'Broken' in Mapbox's 'Data' page

Thanks !

[2014-07-29 14:58] yhahn commented on #566
See https://github.com/mapbox/tm2/issues/395

[2014-07-29 14:58] #566 closed, assigned to nobody

[2014-07-29 15:13] amyleew commented on #500
@camilleanne - pulled mercator-adjust but can't really tell the difference? where should i be testing?

[2014-07-29 15:22] yhahn commented on #323
https://github.com/mapbox/tm2/pull/568

[2014-07-29 15:22] #323 closed, assigned to yhahn

[2014-07-29 15:23] ian29 commented on #323
\o/

[2014-07-29 15:32] camilleanne commented on #500
So you're only going to see those issues from the gif above closer to the poles where geographic space has been skewed to fit into a rectangular space -- and you'll only see it going north to south, or south to north, the west/east dimensions are unaffected. The fix I made only kicks in if the dimensions are locked. What I noticed last night is when you place the bounding box up near one of the po

[2014-07-29 16:01] yhahn commented on #178
https://github.com/mapbox/tm2/commit/8125eae8b2019b6639a7772baab9443b94f37192

[2014-07-29 16:01] #178 closed, assigned to nobody

[2014-07-29 16:01] #158 closed, assigned to samanpwbb

[2014-07-29 18:01] yhahn opened #569 "Print UI tests"
Per voice. A few steps here:
- [x] add an entry to test to a print page URL here https://github.com/mapbox/tm2/blob/master/test/test-client.js#L37-L41
- [x] on said page add additional scripts when in test mode to be run https://github.com/mapbox/tm2/blob/master/templates/style.html#L361-L365
- [x] define tests like in https://github.com/mapbox/tm2/blob/master/app/test/app.test.style.js, but for p

[2014-07-29 19:52] camilleanne commented on #500
@amyleew alllriiiight, ignore what I said earlier, I figured it out and it's working fine. I'm going to wrap this pull request in with some other print fixes (like tests https://github.com/mapbox/tm2/issues/569)

[2014-07-29 19:53] amyleew commented on #500
@camilleanne good job :+1:

[2014-07-29 21:04] springmeyer commented on #555
I've discussed this with @amyleew to help me understand the problem more. Here's my summary:
- We can start embedding the target dpi in the metadata for the images produced directly by mapbox-studio via mapnik.
- The pixel dimensions needed for 300 dpi at a given page size will not change: in code this is independent from the dpi metadata and still the responsibility of abaculus and the mapbox-stu

[2014-07-29 21:50] yhahn commented on #382
- Once a local source is uploaded to Mapbox the Mapbox API can composite them together
- Default source for mapbox vector terrain + streets added here https://github.com/mapbox/tm2/commit/8125eae8b2019b6639a7772baab9443b94f37192

[2014-07-29 21:50] #382 closed, assigned to nobody

[2014-07-29 22:55] asherkin commented on #382
While it's great that the Mapbox API can composite them together - that's not a local source.

[2014-07-30 00:55] camilleanne commented on #470
Rolling this into https://github.com/mapbox/tm2/issues/553

[2014-07-30 00:55] #470 closed, assigned to nobody

[2014-07-30 09:06] nerik commented on #395
We'll have to wait for the FAA's green light apparently?
http://techcrunch.com/2014/02/04/the-faa-shuts-down-beer-delivery-drone/

In the meantime @springmeyer, if you want to taste our excellent 'Bière de l'Ourcq', please give me your address. I'm serious about this.

[2014-07-30 15:38] KP opened #574 "Select and style specified raster source bands"
In TileMill 1, you can import imagery and specify the band you'd like to load in the advanced options field (for instance, band=1). This technique is useful for color correction as documented here:

https://www.mapbox.com/tilemill/docs/guides/color-correction-rgb-imagery/

It'd be great to be able to select a specified raster band from remote sources (mapbox.satellite). Not sure I have a specific

[2014-07-30 17:03] #569 closed, assigned to camilleanne

[2014-07-30 17:13] #500 closed, assigned to camilleanne

[2014-07-30 17:25] yhahn commented on #495
This field is prepopulated making it easier to add/remove mapids.

[2014-07-30 17:25] #495 closed, assigned to nobody

[2014-07-30 17:35] #437 closed, assigned to nobody

[2014-07-30 17:37] #557 closed, assigned to nobody

[2014-07-30 17:38] #491 closed, assigned to samanpwbb

[2014-07-30 17:44] springmeyer commented on #555
As detailed over at mapnik/mapnik#2322, it looks easy to support embedding dpi metadata for png, jpeg, and tiff and not actionable for webp.

[2014-07-30 18:16] yhahn commented on #533
nevermore

[2014-07-30 18:16] #533 closed, assigned to nobody

[2014-07-30 18:26] yhahn commented on #524
Not low hanging and would require a dive in mapnik. Let's do this conversion in other programs for now.

[2014-07-30 18:26] #524 closed, assigned to camilleanne

[2014-07-30 20:03] #488 closed, assigned to nobody

[2014-07-30 21:07] yhahn commented on #419
Not able to reproduce -- would love more details/or info.

[2014-07-30 21:07] #419 closed, assigned to nobody

[2014-07-30 23:17] camilleanne commented on #561
test for package dl (might be fudging it a bit): https://github.com/mapbox/mapbox-studio/commit/35d5a451deb85dd5d2fb4f534b017cc45694a0ef

[2014-07-30 23:18] yhahn commented on #561
works for me

[2014-07-30 23:36] yhahn opened #581 "Investigate getport"
Max is using https://www.npmjs.org/package/getport in dat. Maybe worth consideration?
- If user specifies port explicitly in command line use it and fail hard if it can't be used
- Otherwise, grab a port in some range of ports

We'll want to do this to at least avoid getting blocked on 3000 which is super common.

[2014-07-30 23:46] #506 closed, assigned to camilleanne

[2014-07-30 23:48] jfirebaugh commented on #581
`server.listen(0)` will also auto-select an unused port.

[2014-07-30 23:50] jfirebaugh commented on #581
Hmm, actually I'm reading stuff that says it's not guaranteed to be unused.

[2014-07-31 07:56] pnorman opened #583 "Working with custom sources without connecting to mapbox"
I'm looking at using TM2 with custom sources, without connecting to a Mapbox account. How can I do so?

[2014-07-31 13:06] yhahn commented on #583
@pnorman this isn't possible atm, mostly for our own sanity as developers (ie. to avoid if/else branches evwhere in the code).

The Mapbox account is only used for uploading to Mapbox in the source editor which I'm assuming you won't need to do, so using a free account will be fine.

[2014-07-31 16:08] yhahn commented on #581
https://github.com/mapbox/mapbox-studio/pull/587

[2014-07-31 16:08] #581 closed, assigned to nobody

[2014-07-31 16:57] yhahn commented on #554
@camilleanne prob we can stuff these in `_prefs`

[2014-07-31 19:31] pnorman commented on #583
Does this also mean that it's now impossible to use TM2 offline?

[2014-07-31 19:32] yhahn commented on #583
No, once you have oauth credentials (which are stored locally) you can work offline.

[2014-07-31 19:34] pnorman commented on #583
Is there documentation of what you need to do besides `npm install` to get TM2 working, e.g. pre-trip?

[2014-07-31 19:35] yhahn commented on #583
Not atm, if you would like to add a HOWTO would be much appreciated https://github.com/mapbox/mapbox-studio

[2014-07-31 19:49] yhahn opened #592 "--rogue"
- [ ] turn off analytics
- [ ] populate oauth settings with fake user/credentials

@pnorman would a `--rogue` flag or so that does this work for you?

[2014-07-31 20:05] pnorman commented on #592
Well, I'd prefer a different flag, but yes, something which makes it able to work completely offline would be good, and probably also help with testing

[2014-07-31 20:05] yhahn commented on #592
Are you volunteering? : )

[code]

[2014-07-31 20:10] pnorman commented on #592
I thought about `--offline`, but it's not entirely offline, as if you specify an online-only vector tile source, of course it'll fetch from it. `--detached`? Sort of implies a detached process. `--isolated`?

[2014-08-01 12:55] yhahn opened #594 "Windows UI testing"
Overall had good success. Made a style + source. Notes from last run through.
- [x] file browser back button is broken
- [x] projects show up multiple times in history (prob needs path normalization) (https://github.com/mapbox/mapbox-studio/pull/603)

[2014-08-01 16:35] caged opened #595 "Allow use of multiple sources"
There doesn't appear to be a way to use multiple sources.  I have many scenarios where I'd like to use the Mapbox street+terrain layers combined with additional layers from local sources.

As a concrete example, I have a building dataset for Portland, OR that contains many more buildings and much more detail than the default building dataset included in the official Mapbox source.  I'd love to "tu

[2014-08-01 16:37] yhahn commented on #595
See https://github.com/mapbox/mapbox-studio/blob/master/HOWTO-styles.md#compositing-remote-sources

[2014-08-01 16:37] #595 closed, assigned to nobody

[2014-08-01 16:38] caged commented on #595
Perfect!  Thanks.

[2014-08-01 18:23] #553 closed, assigned to camilleanne

[2014-08-01 18:23] #554 closed, assigned to camilleanne

[2014-08-01 20:24] mpmckenna8 commented on #583
I tried to do a get up and running with tm2 post http://whywhathowdo.blogspot.com/2014/04/tilemill-2-quick-start-for-os-x.html but it's mainly focused at an osx homebrew crowd. I think a few things might have changed too.

[2014-08-01 20:30] yhahn commented on #583
@mpmckenna8 install instructinos here are up to date:

https://github.com/mapbox/mapbox-studio/blob/master/README.md#install

[2014-08-01 21:43] pnorman commented on #583
This issue is also focused on the plane trip scenario, where you need to download everything you will need in advance, because internet access is unavailable or extremely expensive.

[2014-08-03 19:05] caged opened #600 "Source export is unexpectedly slow"
I've read this disclaimer, but I'm seeing exports that will likely take days on very simple datasets.  I've imported [Natural Earth graticules at 1º (6.2mb)](http://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/physical/ne_10m_graticules_1.zip) (zip) and selected a single zoom level at 12 and left the default buffer for the layer at 8.

When trying to export this, I'm gettin

[2014-08-03 19:13] yhahn commented on #600
Hrm, hard to say OTOH -- I get similar results with 12-12 but off the bat this seems like pretty poor settings for this dataset.
- z12-12 is a lot of tiles (16777216)
- the dataset is not detailed enough to warrant this -- you will probably not be able to notice the difference between this and a z0-8 export or so
- resource utilization (`htop`) seems good in both cases

[2014-08-03 19:31] caged commented on #600
@yhahn oh, interesting.  It'd be great to have this number visible somewhere before the export to keep people from shooting themselves in the foot.  I swapped zoom levels down to `2-4` and saw very quick export times, more along the lines of what I would expect.  Perhaps exporting 17mm tiles just takes a long time! :no_good:

[2014-08-04 01:02] #594 closed, assigned to nobody

[2014-08-04 02:53] srsjojo opened #604 "Odd geometry"
After importing OSM data to postgres and adding it as a local source I get odd, oversimplified geometry showing up:

![screen shot 2014-08-03 at 9 29 51 pm](https://cloud.githubusercontent.com/assets/7338435/3792655/827af08c-1b7f-11e4-996c-b66005d4735d.png)

Here is the same data loaded in QGIS:

![screen shot 2014-08-03 at 10 37 15 pm](https://cloud.githubusercontent.com/assets/7338435/3792683/58

[2014-08-04 02:55] yhahn commented on #604
Try setting a higher maxzoom on your source. See https://github.com/mapbox/mapbox-studio/blob/master/HOWTO-sources.md#project-settings for more information.

[2014-08-04 02:55] #604 closed, assigned to nobody

[2014-08-04 11:28] mberg opened #609 "Save to Mapbox instead of Upload to mapbox after initial upload?"
Just a minor suggestion, I think it might make more sense to say "Save to Mapbox" instead of upload.  I understand upload initially. After that, it feels like I'm just saving updates of my style to Mapbox (updating) even though I realize in the background it's a re-upload.

![screen shot 2014-08-04 at 2 24 56 pm](https://cloud.githubusercontent.com/assets/57921/3796480/2d721412-1bca-11e4-9b52-4e08

[2014-08-05 00:01] yhahn opened #611 "Windows uninstaller does not remove deep deep deep paths"
There are super-deep node_modules paths that the window uninstaller fails to remove. Attempts like this https://github.com/mapbox/mapbox-studio/commit/87c1f9a8dc184b766420517ba1bbfd61dc8dd520 ended in failure.

Try again another time.

[2014-08-05 00:15] yhahn opened #612 "Use mapbox studio version number in plist"
Follow up to:

https://github.com/mapbox/mapbox-studio/commit/f63817eb66bcb922dcac4a9f65d2b6167018e8e9

Use the package.json version number or gitsha in plist file.

[2014-08-05 06:34] wilhelmberg commented on #611
@yhahn
What a coincidence, just yesterday I tried to get rid of the same problem:

https://github.com/BergWerkGIS/delete-directory-tree
https://github.com/BergWerkGIS/delete-directory-tree/releases/tag/0.1

It can be used like this: `delete-directory-tree [/Q] <directory>`

At the moment the release linked above is x64 and depends on the .NET Framework 4.5, as my language of choice is `C#` and I w

[2014-08-05 10:56] yhahn commented on #611
@BergWerkGIS yes -- currently I am running into this in the context of our uninstaller so I will have to see if this can be run from there:

https://github.com/mapbox/mapbox-studio/blob/atom-child/scripts/mapbox-studio.nsi#L111

I will let you know how it goes and report back here.

[2014-08-05 11:44] yhahn commented on #612
@camilleanne ready for some bash action : D

[2014-08-05 12:52] #530 closed, assigned to nobody

[2014-08-05 12:56] yhahn commented on #393
Going to look at adding validation to this upstream in `tilelive.js` and then we can start exporting this property with vector tiles to unlock

https://github.com/mapbox/mapbox-studio/issues/529

[2014-08-05 15:21] wilhelmberg commented on #611
Just pushed a [new delete-tree version](https://github.com/BergWerkGIS/delete-directory-tree/releases/tag/0.2).
This one resets hidden and read-only attributes for folders and files (if current user has the rights to do so) before deleting.

Also had my first try on a [C++ version](https://github.com/BergWerkGIS/delete-directory-tree/blob/master/delete-directory-tree-cpp/delete-directory-tree-cpp.

[2014-08-05 16:21] yhahn commented on #564
Usually this means npm had a crummy download on a bad connection. Reopen if persists.

[2014-08-05 16:21] #564 closed, assigned to nobody

[2014-08-05 16:22] yhahn commented on #529
More deets on https://github.com/mapbox/mapbox-studio/issues/540

[2014-08-05 16:22] #529 closed, assigned to nobody

[2014-08-05 16:30] yhahn opened #616 "Update OS X signing for Yosemite"
https://developer.apple.com/library/prerelease/mac/technotes/tn2206/_index.html#//apple_ref/doc/uid/DTS40007919-CH1-TNTAG205

No actions atm. Will require an os x version update from travis.

cc @incanus

[2014-08-05 16:33] yhahn commented on #315
Closing this out in favor of more specific tickets now.

[2014-08-05 16:33] #315 closed, assigned to yhahn

[2014-08-05 16:36] yhahn commented on #507
https://github.com/mapbox/mapbox-studio/pull/614

[2014-08-05 16:36] #507 closed, assigned to yhahn

[2014-08-05 17:47] ajashton commented on #609
"Save" could set false expectations - a project uploaded to Mapbox is not a copy or backup of the .tm2 project. What's uploaded to Mapbox is a tm2z package, and you cannot go backwards from tm2z -> .tm2 / CartoCSS if you lose the original local copy.

Perhaps even "Upload" is not clear enough in this regard and should be "Export style to Mapbox" or something.

[2014-08-05 17:52] yhahn opened #617 "LICENSE + version files"
Update 'em from the atom-shell defaults when building.

[2014-08-05 17:54] ajashton commented on #600
Apart from the large number of tiles, part of the problem is likely the lack `.index` file, the special type of index that Mapnik uses for Shapefiles. This can be created with the `shapeindex` command-line utility (provided by Mapnik) and will greatly speed up shapefile exports.

[2014-08-05 18:01] heyitsgarrett opened #618 "Can't change layer name after importing a source"
After importing a file that was converted using ogr2ogr, I can't change the layer name, which is problematic when other sources have the same name:

![1407260496](https://cloud.githubusercontent.com/assets/200357/3815921/fdae6d06-1cc9-11e4-9fed-6037665c8c62.png)

[2014-08-05 18:07] mberg commented on #609
But if you modify a style,  the next typical step will be to apply those
changes to mapbox no?   Each time I hit upload I'm not creating a new
project just updating it right?
On Aug 5, 2014 8:47 PM, "AJ Ashton" notifications@github.com wrote:

[2014-08-05 19:04] yhahn commented on #618
https://github.com/mapbox/mapbox-studio/pull/619

[2014-08-05 19:04] #618 closed, assigned to nobody

[2014-08-05 19:08] GretaCB opened #620 "Adding raster and non-raster layers in same project should display error"
Having raster and non-raster layers in the same project makes the non-raster layers disappear...for now. Should [display a message to the user](https://github.com/mapbox/mapbox-studio/blob/master/app/source.js#L284), but missing the [hidden datasource type input](https://github.com/mapbox/mapbox-studio/blob/079f4bd2e7fd4637c304a524bda7dac8d260d49f/templates/layeritem.html#L8).
- [x] add UI test fo

[2014-08-05 20:06] yhahn commented on #110
- .app: We've gone with `atom-shell` for this across x3 platforms.
- auto updates: There's https://github.com/atom/atom-shell/blob/master/docs/api/auto-updater.md but it's only on os x atm. Let's wait and see what the atom team does -- ie. whether they do auto-updating on windows/linux as well or not. It would be great to have a single API across the platforms for this.

[2014-08-05 22:08] jfirebaugh opened #621 "can we avoid triggering OS X firewall dialog?"
Is there a way to listen to only local loopback requests, so as to avoid this dialog when you launch for the first time with Mac OS Firewall enabled:

![image](https://cloud.githubusercontent.com/assets/98601/3819622/b313438e-1cec-11e4-8941-87fa62beed8f.png)

There shouldn't be any reason Mapbox Studio needs to accept non-localhost traffic, and in fact for security reasons it should not be allowed

[2014-08-05 22:15] yhahn opened #622 "Demo adjustments"
Per @camilleanne's observations.
- [x] Nuke localstorage check. Because it's buggy and doesn't play well with flexible ports.
- [x] Look into explicit trigger, maybe from docs menu.
- [x] Add an easy way to exit (close button or so)

[2014-08-05 22:20] bsudekum opened #623 "Cannot close application with ⌘ + q"

[2014-08-05 22:44] incanus commented on #110
Awesome! Excellent to be able to leverage three-way platform consistency stuff without duplicating work.

Also Squirrel.Mac (what auto updates are based on) is interesting — never heard of this; basically every OS X project I've ever seen in the past 6-8 years has used either Sparkle (what we use on TM1) or rolled their own for whatever reason (or the App Store, of course).

[2014-08-06 00:05] camilleanne commented on #617
60ea2376

[2014-08-06 00:05] #617 closed, assigned to camilleanne

[2014-08-06 00:06] camilleanne commented on #612
60ea237

[2014-08-06 00:06] #612 closed, assigned to camilleanne

[2014-08-06 00:40] incanus commented on #623
I'm nabbing this with a couple other very light surgical OS X tweaks.

[2014-08-06 00:40] incanus commented on #621
Yes. Related: https://github.com/mapbox/tilemill/issues/2224

[2014-08-06 00:54] #623 closed, assigned to nobody

[2014-08-06 00:57] jfirebaugh commented on #621
I'm curious if doing [`server.listen(port, "127.0.0.1")`](http://nodejs.org/api/http.html#http_server_listen_port_hostname_backlog_callback) (i.e. listening only on localhost) is enough to avoid the prompt entirely.

[2014-08-06 07:09] wilhelmberg opened #626 "Windows: no borders, not resizeable, not useable for average user"
On my W7 64bit, with three monitors in protait mode (1080x1920 each), MapBox Studio sticks to the main monitor with a window size of 960x600 and doesn't have any borders.

With the mouse, I cannot resize or move it arround.
It works via keyboard, but I don't think the average user will be aware of this functionality:
**Move:** Press Alt+Space -> Move -> use cursor keys to move arround
**Resize:**

[2014-08-06 07:41] wilhelmberg opened #627 "Windows: Crash when adding data source with EPSG:31254"
Adding data with EPSG:4326 works.

When I try to add this shapefile (http://www.BergWerk-GIS.at/dl/mapbox/Seilbahn.zip) the proj4 string is correctly identified:

[code]

http://spatialreference.org/ref/epsg/31254/

As soon as I click on `Done` MBStudio crashes.

Maybe it could also be a problem with the path used:

[code]

[2014-08-06 08:08] wilhelmberg commented on #627
Sorry!
Reading the docs definitely helps :smirk:

[code]

[2014-08-06 08:51] wilhelmberg commented on #611
@yhahn FYI:
New [release of delete-directory-tree](https://github.com/BergWerkGIS/delete-directory-tree/releases).
Include .Net/Cpp x86/x64.

[2014-08-06 12:43] yhahn commented on #621
Sounds good, let's give this a try today.

[2014-08-06 12:53] ashleyclough opened #628 "Invalid upload - Error: Unpacking failed."
I'm getting lots of 'Invalid upload - Error: Unpacking failed' errors, even from the simplest styling package. Any idea what may be causing the problem?

[2014-08-06 13:00] yhahn commented on #626
Hrm, @BergWerkGIS that is def weird -- in my testing so far the window gets title and border and so avoids all these problems.

I will see if I can get on W7 to test.

[2014-08-06 13:01] yhahn commented on #627
Hrm, that text is old : )

[2014-08-06 13:13] wilhelmberg commented on #626
I don't have any special multi-monitor window managers or display drivers or any other kind of software that messes with the appearance of windows.
Only thing: I'm using the classic design that mimics WinXP.

[2014-08-06 13:43] wilhelmberg commented on #626
On vanilla W8 it looks much better:

![mapbox-studio_w8](https://cloud.githubusercontent.com/assets/4549888/3827625/86895c9e-1d6f-11e4-9312-8a25aad0fe65.png)

[2014-08-06 13:57] yhahn commented on #628
@ashleyclough hm, would you mind uploading an export of your tm2 style as a tm2z package for review?

[2014-08-06 14:07] ashleyclough commented on #628
Here: https://www.dropbox.com/s/zh9p1qw0vfnmnj7/os_streets_places.tm2z

[2014-08-06 14:28] yhahn commented on #628
@ashleyclough it looks like your style is using sources that do not perform well at lower zoom levels. I would recommend setting your minzoom to z9 or 10 or so on your style.

I will look into improving the source creation to warn if vector tiles become too large for rendering.

[2014-08-06 17:39] #622 closed, assigned to yhahn

[2014-08-06 17:43] mberg commented on #609
Sorry back again.

So I fixed it so it renders in studio properly.  However, when I upload to
mapbox it says the dataset is broken.

I'm guessing it's because the data source (23MB) is well past the 2000
point limit.

So it that limit brand new?  If so, it's a serious serious bummer.  The
point of mapbox is being able to create big maps.  2000 points is still
leaflet country.   Is this just a limi

[2014-08-06 17:46] yhahn commented on #609
@mberg the 2000 point limit does not apply to vector source uploads. It looks like your upload failed for a different reason:

You'll want to make sure your style performs well as you design by keeping an eye on the drawtimes on your map -- usually this is due to dense low zoom tiles that should use simplified data or can be omitted entirely.

[2014-08-06 17:55] #628 closed, assigned to nobody

[2014-08-06 17:56] #600 closed, assigned to nobody

[2014-08-06 18:01] mberg commented on #609
Young - awesome thanks for the clarification.  That's great, great news.

Just curious is that relate to the number of points for when people are
annotating maps using the mapbox interface?

So just as reference it's happening when I'm trying to style this layer.

ona.57a05d11

This is map of enumerated structures (from space) basically households that
are going to be targeted for malaria spraying

[2014-08-06 18:14] yhahn commented on #609
Yes, the feature limits described on https://www.mapbox.com/plans/ are for the online editor.

Yes, for point-based maps this is a common problem where at lower zoom levels  you often may attempt to represent thousands or millions of points in a single tile. We have some approaches to this internally but the solutions are complex -- we are still working on ways to make this accessible and easy to

[2014-08-06 18:23] mberg commented on #609
Thanks this is helpful.

On point limit, I'd probably add a bit of a disclaimer as I think you'll
probably freak a lot of people like me out.

On number #2 what query method are you using?   If you give me a brief
description I can research it.

I'm basically maxing out at 2500ms so the 1000 ms is pretty limiting.  I'm
sure there's good reasons for your limits.  Until you come up with more
user fr

[2014-08-06 18:23] yhahn commented on #621
https://github.com/mapbox/mapbox-studio/commit/df9027d5ad9e2a8513048d7501e670c2b37d4fe3 seemed to work for me on a test mac.

@jfirebaugh when you are bored want to give it a whirl?

[2014-08-06 22:51] yhahn opened #630 "Refactor source tests to start from blank project"
Let's do this tomorrow.

cc @GretaCB

[2014-08-07 07:43] wilhelmberg commented on #626
I checked on two other W7 machines (with default W7 Areo theme): no borders.

[2014-08-07 11:47] yhahn commented on #626
@BergWerkGIS I'm guessing this is an upstream issue in [atom-shell](https://github.com/atom/atom-shell) so we should confirm.
- [ ] Grab latest atom-shell here (we're still on 0.15.1 but easy to upgrade) https://github.com/atom/atom-shell/releases
- [ ] Confirm whether the problem occurs on the atom-shell placeholder app
- [ ] If it does, let's cut a ticket

[2014-08-07 13:36] wilhelmberg commented on #626
@yhahn
Yes, you are correct, it is an upstream issue:

atom shell 0.15.1:
![atom-shell-0 15 1](https://cloud.githubusercontent.com/assets/4549888/3842479/a22aec6a-1e37-11e4-961b-8ebc8784f7da.png)

atom shell 0.15.4:
![atom-shell-0 15 4](https://cloud.githubusercontent.com/assets/4549888/3842485/ad1ce4a2-1e37-11e4-8180-ee209ba26ae8.png)

[2014-08-07 13:38] knownasilya opened #631 "Appveyor badge broken"
README looks yucky with a broken image. Should be an easy fix (would fix if the image url was predictable).

[2014-08-07 14:13] yhahn commented on #626
Ok sweet, we can look into updating to 0.15.4 today.

[2014-08-07 15:11] yhahn commented on #626
@BergWerkGIS want to give https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-ia32-atom0154.exe a shot?

[2014-08-07 16:45] wilhelmberg commented on #626
Yeeessssss!

![mapbox-studio-atom0154](https://cloud.githubusercontent.com/assets/4549888/3845405/2b393b1e-1e52-11e4-8d8f-16bef8ec3db8.png)

[2014-08-07 16:46] yhahn commented on #626
w00t

[2014-08-07 16:46] #626 closed, assigned to nobody

[2014-08-07 21:06] springmeyer opened #633 "Better feedback when opening large rasters"
I have a 1.3 GB geotiff I tried to add as a source layer.  After choosing the file in the browser and hitting `select` mb-studio appears to do nothing at all. I'm still able to click around and try selecting other files. After about 40 seconds then the browser window closed and presented the error `Failed to set min/max zoom`.

[2014-08-08 08:52] g12n opened #634 "Export Image Pattern size/resolution"
The size of a patter is absolute.
In Carto is no to set the tile-size of a polygon-pattern-file.

This results in Problems when exporting an image. The pattern shrinks down more and more, relative to it's surrounding map.

[2014-08-08 09:20] g12n commented on #634
# Example of the effect of resolution on pattern

| 300ppi | 600ppi |
| --- | --- |
| ![osm bright 2-z10_6 221_53 2085_7 0175_53 7146_4](https://cloud.githubusercontent.com/assets/57556/3854615/1693e8de-1eda-11e4-99cd-44b77796280c.jpeg) | ![osm bright 2-z10_6 221_53 2085_7 0175_53 7146_8](https://cloud.githubusercontent.com/assets/57556/3854616/1a755f32-1eda-11e4-8600-c5f85fb22fb6.jpeg) |

In Core

[2014-08-08 17:50] yhahn commented on #633
@GretaCB want to start by adding a loading class to the modal here and removing when evthing is complete (either success/error) ?

https://github.com/mapbox/mapbox-studio/blob/master/app/source.js#L228

@springmeyer if you can link to the source raster @GretaCB can prob debug where the detection's failing.

[2014-08-08 18:25] pnorman opened #635 "Mapbox auth redirects to localhost"
When going through the auth prorcess, I get sent to `http://localhost:3000/oauth/mapbox...`, even though I started at `http://10.149.14.xxx:3000/...`

[2014-08-08 18:58] springmeyer commented on #634
Mapnik 3.x just landed support for scaling patterns and for patterns being based on svg. Mapbox-studio will be upgrading to Mapnik 3.x very soon. I'll ping back here when a new build is ready to test. Until then see some of the action over at https://github.com/mapnik/mapnik/issues/1010.

[2014-08-11 00:29] TheMapSmith opened #637 "Request: Collapsable CartoCSS"
It would be nice to be able to collapse the code so that when you get a really big style sheet you don't have to scroll so much.

[2014-08-11 01:47] springmeyer commented on #73
Note: the final solution I arrived at to avoid this issue was https://github.com/mapnik/node-mapnik/commit/e21503b34bce8b084fb027dfb66eaf5ce18c8b17. But overall this only ever a problem with source installed node-mapnik + externally compiled mapnik on 10.9 and luckily this is much more of a rare case now that node-mapnik ships with https://github.com/mapbox/node-pre-gyp binaries.

[2014-08-11 05:50] springmeyer commented on #611
@BergWerkGIS - great work on getting this working + a c++ version.

I see two challenges in integrating an tool like `dtt.exe` inside the Mapbox studio uninstaller

1) Can NSIS, which auto-builds the installer, call out to a separate program to do work like deleting directories? I sounds like it should be able to call out in a subprocess: http://stackoverflow.com/questions/11708779/exec-vs-execwai

[2014-08-11 06:05] springmeyer commented on #535
Can you get any more details about what the error was. It might be similar to mapbox/tilemill#2393

[2014-08-11 08:24] wilhelmberg commented on #611
Reading the SO post, it seems to me that `ExecWait` is the way to go (for node_modules) and then use NSIS `RMDir` for the main directory.

[2014-08-11 13:49] tristen opened #639 "Copyright author"
On the darwin build the LICENCE at the top of the document reads:

[2014-08-11 13:52] tristen opened #640 "Add file extensions to `version` and `LICENCE`"
This is tiny but ... In the Darwin build there's no file extension on those `version` and `LICENCE` files which prevents me from previewing them in spotlight or having them default to a text reader.

[2014-08-11 15:09] yhahn commented on #639
What build was this in? I'll do a more recent build today -- I think @camilleanne fixed this here https://github.com/mapbox/mapbox-studio/blob/master/scripts/build-atom.sh#L65-L66

[2014-08-11 15:56] tristen commented on #639
The build cited here: https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-darwin-x64-fcaf7c2.zip

[2014-08-11 15:58] yhahn commented on #639
Sweet, this has been fixed since.

[2014-08-11 15:58] #639 closed, assigned to nobody

[2014-08-11 19:00] drewbo opened #642 "Image-filter doesn't obey zoom level restrictions"
I'm trying to conditionally blur the hillshade layer (demonstration at zoom-level 10 so it shouldn't matter whether it's commented out or not:

![mbs-issue-demo](https://cloud.githubusercontent.com/assets/7108211/3880968/9c3c0f14-2189-11e4-8dfc-bf2d590373af.gif)

Still using the browser hosted version if that's relevant.

[2014-08-11 19:14] ajashton commented on #642
This is a limitation of how Mapnik and CartoCSS work. `image-filters` (like `comp-op`) is a style-level property, meaning it will always apply to the whole style regardless of filters. To work around this you can create multiple style attachments - see [this example](https://github.com/mapbox/mapbox-outdoors.tm2/blob/master/style.mss#L164-L206).

[2014-08-11 19:17] drewbo commented on #642
Awesome, thanks

[2014-08-11 19:17] #642 closed, assigned to nobody

[2014-08-11 21:36] karenzshea opened #643 "Mapbox Studio uploader and raster sources"
I've uncovered a little problem with raster sources in Mapbox Studio.

I was working with a geotiff I needed to first reproject with gdal via `gdalwarp -s_srs EPSG:27700 -t_srs EPSG:3857 SX99.TIF 25k_new.tif` into web mercator. From the Mapbox Studio application I add it as a new layer, save and then hit 'Upload to Mapbox'. The file is uploaded online and I get this message.
![itFails](https://clo

[2014-08-11 21:37] #542 closed, assigned to nobody

[2014-08-12 07:46] artemp opened #645 "intermittent crashes while zooming/panning"
I'm getting intermittent crashes while browsing maps  (OS X):

[code]

or

[code]

[2014-08-12 14:34] yhahn commented on #643
It looks like the minzoom on this project was set to 0 making it too small at that size to show up at all and leading to an upload with 0 tiles.

This should be fixed once https://github.com/mapbox/mapnik-omnivore/pull/23 is rolled into a new omnivore release.

[2014-08-12 15:50] #620 closed, assigned to GretaCB

[2014-08-12 16:51] yhahn opened #646 "Image raster source support"
Image raster sources (that are not composited with vector sources) are currently broken. The fix is somewhat complex.
- [x] source.js should stop setting vector_layers for image sources. This is basically a hack/wrong and is in place to smooth over consumption of these sources. (https://github.com/mapbox/mapbox-studio/blob/master/lib/source.js#L338-L339 should be undefined)
- [x] format pbf is wro

[2014-08-12 18:10] GretaCB commented on #646
New branch is at https://github.com/mapbox/mapbox-studio/tree/raster_local

[2014-08-12 19:18] jfirebaugh opened #647 "can't delete a style"
Clicking the garbage can icon here switches to that style, rather than deleting it.

![image](https://cloud.githubusercontent.com/assets/98601/3896192/56c81b7c-2255-11e4-907c-bfd2845197a7.png)

[2014-08-12 19:28] tmcw commented on #637
CodeMirror [can do this](https://codemirror.net/demo/folding.html). There's a lot of user preference in whether and how this is available, though.

[2014-08-12 19:32] jfirebaugh commented on #647
This is due to a bad style; will ticket separately.

[2014-08-12 19:32] #647 closed, assigned to nobody

[2014-08-12 19:36] heyitsgarrett commented on #92
@ajashton What kind of layer do you see here? A simplified version of Mapbox Streets?

[2014-08-12 19:42] dbaldwin opened #648 "Error when accessing localhost after install"
I've been using TM2 for some time and recently installed the mapbox-studio project. Upon starting the server and accessing http://localhost:3000 I was redirected to: http://localhost:3000/source?id=tmsource:///Users/db/Downloads/hydro.tm2source with the following error:

Shape Plugin: shapefile '/Users/db/Downloads/_hydro_source_files/TX_Large_Waterbodies_20140605.shp' does not exist

This was an

[2014-08-12 19:43] #281 closed, assigned to samanpwbb

[2014-08-12 19:45] tmcw commented on #447
Yeah, would stray away from doing this - feels too similar to the north-arrow case, in which anyone who cares enough to print high-dpi maps will also want to do something custom

[2014-08-12 19:56] #388 closed, assigned to nobody

[2014-08-12 20:00] tmcw commented on #448
Unfortunately other text editors are native applications, whereas this is a web app, so we are beholden to Chrome's amount of control here, which appears to be nil.

[2014-08-12 20:04] #546 closed, assigned to nobody

[2014-08-12 20:07] tmcw commented on #391
Hm, this is a tough issue - I'd probably solve it by joining all roads, buffering them to make them into thin polygons, and then turning the polyline boundaries into lines. But that's a pretty hacky solution.

Closing, since this is far outside the scope of mapbox-studio, which is a design tool and doesn't do spatial analysis of this type - look to [python+Shapely](https://pypi.python.org/pypi/Sha

[2014-08-12 20:07] #391 closed, assigned to nobody

[2014-08-12 20:09] tmcw commented on #389
Iffy on this one - although it's a very nice thing to aim for, editors do not have consistent behavior in terms of how and when they save to files, and a proper user experience that permits editing from two places simultaneously would be very tough to pull off.

[2014-08-12 20:10] srsjojo commented on #389
In my experience, getting mapbox-studio to see the changed files required restarting the program. Sometimes page refreshes work as well.

[2014-08-12 20:20] tmcw commented on #311
PR in https://github.com/mapbox/mapbox-studio/pull/649

[2014-08-12 20:20] #311 closed, assigned to nobody

[2014-08-12 20:21] tmcw commented on #389
Ah, looks like @mick actually pulled together the code for this: https://github.com/mapbox/mapbox-studio/pull/398

[2014-08-12 20:24] tmcw commented on #635
Caused by [this line](https://github.com/mapbox/mapbox-studio/blob/5b995bca2ed047a620e2b133a77756eeb491db75/lib/oauth.js#L18) - not sure if there's a solid way to autodetect this value.

[2014-08-12 20:30] tmcw commented on #125
Looks like this moved and is now complete and very fancy dancy

![2014-08-12 at 4 29 pm](https://cloud.githubusercontent.com/assets/32314/3897183/828be16c-225f-11e4-83f8-ba25e669404f.png)

[2014-08-12 20:30] #125 closed, assigned to nobody

[2014-08-12 20:31] samanpwbb commented on #125
Almost too fancy dancy.

[2014-08-12 20:35] heyitsgarrett commented on #125
It's very fancy dancy and very disruptive-ancy. I will raise some issues in a new ticket.

[2014-08-12 20:37] tmcw commented on #125
![fun2](https://cloud.githubusercontent.com/assets/32314/3897286/6c9f25a2-2260-11e4-9bec-b2e45d7c68af.gif)

But it's so much funn

[2014-08-12 20:46] heyitsgarrett opened #650 "Only open color picker when clicking actual color, not hex value"
Refs https://github.com/mapbox/mapbox-studio/issues/125#issuecomment-51973519

I found myself clicking into a hex color to quickly change a color to a different hex value, or highlighting to replace it with a copy-pasted hex. The fancy dancy color picker coming up is a bit disruptive for us old school "touch-and-typers" and even after saving to see the changes, the color picker lingers like an awk

[2014-08-12 20:53] ajashton commented on #648
You can clear your settings and project history by removing or renaming the file `/Users/db/.tilemill/v2/app.db` then restarting Mapbox Studio. You will need to re-authorize your Mapbox account at that point.

If you're comfortable editing a minified json file you could also just find specific references to the broken project and remove them from app.db.

[2014-08-12 21:04] samanpwbb commented on #650
The behavior is definitely not ideal right now. This would be doable, but would requiring modifying the plugin: https://github.com/mapbox/mapbox-studio/blob/master/ext/inlet.js#L1065-L1083 - and I'm not sure we want to go there.

[2014-08-12 21:29] srsjojo commented on #650
+1 @heyitsgarrett

Alternatively: Enable/disable the Fancy Dancy©  color picker in settings somewhere

[2014-08-12 21:49] jfirebaugh opened #651 "better validation for source URLs"
If you put a bad URL into the Sources dialog and click "Update", you can get some interesting/confusing behavior.

E.g. a URL which is a 200 but doesn't send TileJSON --> cryptic parse error.

Or https://a.tiles.mapbox.com/v4/jfire.hj4lo84b.json (v4 API URL without access token) --> JS error, and Mapbox Studio is de-authorized.

[2014-08-12 21:57] jfirebaugh opened #652 "Add source button should be named "Add", not "Update""
"Update" sounds like it will change the currently selected source.

[2014-08-12 21:59] dbaldwin commented on #648
Thanks AJ, that got me going. Much appreciated!

[2014-08-12 21:59] #648 closed, assigned to nobody

[2014-08-12 22:58] yhahn commented on #650
No.

[2014-08-12 22:58] #650 closed, assigned to nobody

[2014-08-12 23:17] #447 closed, assigned to nobody

[2014-08-12 23:17] #448 closed, assigned to nobody

[2014-08-12 23:21] yhahn commented on #646
Let's pause on this. Need to mull on the right approach some more here.

[2014-08-12 23:21] yhahn commented on #643
https://github.com/mapbox/mapbox-studio/commit/82be54faa8deb4b836339247f6ef2be25392ad2b

[2014-08-12 23:21] #643 closed, assigned to nobody

[2014-08-12 23:28] yhahn commented on #92
Let's not work on this right now -- this would affect how the xray style works upstream in tilelive-vector and don't think it makes sense for this to require more contextual data than your actual data layer.

[2014-08-12 23:28] #92 closed, assigned to nobody

[2014-08-13 00:06] springmeyer commented on #611
Great, feel free to give this a try in a branch. Travis will run things so you can test it.

[2014-08-13 14:21] karenzshea commented on #652
I probably am overlooking some important usefulness, but I'm wondering if we need to have it at all.

'Add'-ing a source from there on the /data page means uploading an entirely new set of .mbtiles, which is more or less the same as adding a source from 'Upload data' and deleting the old one.

[2014-08-13 15:58] ian29 opened #654 "SQLITE_CANTOPEN on startup/auth"
From a user running windows build fcaf7c2

[2014-08-13 16:09] pnorman opened #655 "Saving source clobbers comments in YAML"
When editing a layer in the YAML and saving the source, mapbox-studio removes any comments in the YAML.

To reproduce
1. Clone [natural-earth-tm2](https://github.com/mapbox/natural-earth-tm2)
2. Edit `natural-earth.tm2source/data.yml` to add a comment in a layer
3. Open `natural-earth.tm2source` in mapbox-studio
4. Edit a different layer
5. Save

The comment is now gone.

[2014-08-13 16:33] tmcw commented on #655
I don't think [most implementations](https://github.com/nodeca/js-yaml) would allow you to permit comments in YAML for parsing and generation... this might not be fixable in any simple way.

[2014-08-13 16:58] pnorman commented on #655
Any YAML implementation needs to permit [comments](http://www.yaml.org/spec/1.2/spec.html#id2767100) - but comments must not have any effect on the serialization tree or representation graph.

This is the old problem of a configuration file that can either be written to by hand or by a GUI. I guess the solution here is to never edit `data.yml` through the GUI, but only with a text editor.

[2014-08-13 16:58] #655 closed, assigned to nobody

[2014-08-14 15:18] GretaCB commented on #540
@yhahn
I've started exploring https://gist.github.com/yhahn/c3748cad2fd42fc1afdc#mapbox-studio-vector_layers-metadata-boost and trying to familiarize myself with the Style side of Mapbox Studio.

I understand that vector_layers info for remote sources are grabbed from the [returned TileJSON](https://github.com/mapbox/mapbox-studio/blob/master/lib/source.js#L394-L406). And I will need to apply cent

[2014-08-14 19:16] jfirebaugh opened #657 "should be able to add a source layer with spaces in the name"
![image](https://cloud.githubusercontent.com/assets/98601/3925424/558c6c7a-23e7-11e4-9669-20b9412abcfd.png)

[2014-08-14 20:38] pnorman opened #659 "Divide by zero with !pixel_width!"
With SQL like

[code]

I get a divide by zero error.

[code]

I'm reporting this here rather than Mapnik because the [equivalent SQL](https://github.com/pnorman/openstreetmap-carto/commit/d8afe6fc0c4d5b104a7726d49634b1001a667a8e) works fine in TM1.

The solution might be a change in Mapnik or a change mapbox-studio.

[2014-08-14 20:49] springmeyer commented on #659
I doubt it has anything to do with either Tilemill or Mapbox-studio. This post (http://sqlbrain.wordpress.com/2009/10/06/avoid-sql-divide-by-zero-errors-by-using-nullif/) seems to indicate that it happens only when no rows are returned. So the lack of error in Tilemill may be because some rows are being returned.

[2014-08-14 20:59] mwanee opened #660 "Getting error when launching Studio"
From both the app and from within Terminal, I'm getting an error message when trying to launch Studio.

![screen shot 2014-08-14 at 1 47 43 pm](https://cloud.githubusercontent.com/assets/5572214/3926903/c0f39a52-23f5-11e4-976e-f019f51cc45b.png)

cc @samanpwbb @yhahn @dnomadb

[2014-08-14 22:00] incanus commented on #660
@mwanee This happened to me and in my case it was based on an old TM2 preference. Try moving yours aside.

If you're ok with Terminal, you want to rename or move aside `~/.tilemill/v2`.

For Finder, you can do this with `Shift-Command-G`, then entering `~/.tilemill`, then renaming the `v2` folder in that window. Then restart Studio.

[2014-08-14 22:04] mwanee commented on #660
thanks @incanus -- literally 1 minute before you posted this, Will & Saman helped me get it up and running!

[2014-08-14 22:04] #660 closed, assigned to nobody

[2014-08-14 22:34] GretaCB commented on #540
Just fyi @yhahn , for remote sources, I refactored mapnik-omnivore a bit to add the new values to vector_layers.
https://github.com/mapbox/mapnik-omnivore/tree/more_metadata

After deploying [unpacker to staging with this branch](https://github.com/mapbox/unpacker/tree/vector_layers), tileJSON now has extent, center and valid min/max zooms set in vector_layers. [Example](http://api-maps-staging.ti

[2014-08-15 20:12] springmeyer commented on #565
perhaps related: #645

[2014-08-15 21:20] mojodna opened #662 "ctrl-e opens the export window instead of going to the end of a line"
My fingers are wired for readline / emacs key bindings and I keep accidentally opening the export window when meaning to jump to the end of a line.

[2014-08-15 22:56] camilleanne opened #663 "Improve workflow for creating style from custom source"
**Current flow for creating styles from custom sources:**
If local source (that can be uploaded to remote):
New Source -> Add layer -> Save As -> Create style from this source -> (begin styling with prefilled carto based on `vector_layers`)

If only remote source:
New Style -> Start a new style project -> Layers -> Change Source -> (erase irrelevant Mapbox Streets cartoCSS) -> (write new carto bas

[2014-08-15 23:02] camilleanne commented on #662
Oh. Since I am not a member of the Church of Emacs that didn't occur to me.

[2014-08-15 23:31] mojodna commented on #662
More OS X text field key bindings here: https://coderwall.com/p/usc8qg

[2014-08-16 02:24] samanpwbb commented on #49
Done.

[2014-08-16 02:24] #49 closed, assigned to samanpwbb

[2014-08-16 02:26] samanpwbb commented on #662
We should be able to scope export window to command key (metaKey) only, so ctrl (ctrlKey) still works for navigating code.

I'm not a linux user. @mojodna you guys have a metaKey?

[2014-08-18 05:53] samanpwbb opened #667 "On panning or zooming map in export mode, zoomedto is wrong"
Shows load time display, and on click, boots user out of export mode:
![screen shot 2014-08-18 at 1 53 04 am](https://cloud.githubusercontent.com/assets/108094/3948035/f2d7188e-269b-11e4-8d1f-bacc438fe032.png)

[2014-08-18 14:00] wboykinm commented on #395
@yhahn @springmeyer Is there a roadmap for bringing [all of the fontfont](https://www.fontfont.com/fonts#utf8=%E2%9C%93&weight=250%2C1000&width=1%2C10&intended_use=All&sortorder=2) families online? I just pulled the latest build and I only (!) see ~100 of them.

And Dane is getting some Heady Topper the next time he wanders east.

[2014-08-18 17:22] #640 closed, assigned to nobody

[2014-08-18 17:31] camilleanne commented on #645
Hm. Also seeing it in Travis https://travis-ci.org/mapbox/mapbox-studio/jobs/32877720

[2014-08-18 19:06] camilleanne commented on #645
Also running in to this error intermittently when toggling between modals -- however, can't really replicate:

[code]

[2014-08-18 19:24] nickidlugash opened #670 "Reorder buttons in 'Settings'?"
Currently the buttons are ordered like this:

![screen shot 2014-08-18 at 3 15 34 pm](https://cloud.githubusercontent.com/assets/5607844/3956535/3cfe063c-270c-11e4-97f2-2c4611ab5cd4.png)

I think it makes more sense for 'Download package' to be the second button, since this and 'Upload to Mapbox' outputs the same file type, while 'Export image' creates different file types.

[2014-08-18 19:24] springmeyer commented on #645
@camilleanne - thanks for looking into this. The error `Can't parse message of type` is coming out of the google protobuf parser and likely means that a truncated or otherwise corrupt tile is being passed to mapnik - which may mean some network problem / failed tile fetch is not being caught earlier on.

[2014-08-18 19:59] springmeyer commented on #395
@wboykinm no plans that I'm aware of to bring more online. As far as custom fonts in general I'm closing in on support and will update this ticket hopefully by the end of this week with details.

[2014-08-18 20:26] camilleanne commented on #670
I agree :thumbsup:

[2014-08-18 20:32] samanpwbb commented on #670
Related: I don't like that there's an export image button here and also an export image button in the top right corner. Can we pick one? If I were to pick, I would keep the top right button and drop it from the list in settings, since it's behavior is different from the other settings actions.

[2014-08-18 20:44] #667 closed, assigned to nobody

[2014-08-19 00:07] camilleanne opened #671 "Fonts are fuzzy on retina screen"
Font samples in the fonts pane look fuzzy and crummy. They look great on the map, but not in the side panel (compare the crisp `1 font` label on the right to the font preview).

![screen shot 2014-08-18 at 5 04 21 pm](https://cloud.githubusercontent.com/assets/3952537/3959847/b546d2b8-2734-11e4-87f9-dace8d589436.png)

[2014-08-19 01:32] incanus opened #672 "add OS X help menu"
We're doing a custom OS X menu here:

https://github.com/mapbox/mapbox-studio/blob/master/index-shell.js#L77

We should add a `Help` menu with a link to online resources at the very least. This is because the `Help` menu automatically gets a search field in OS X that allows searching over _all_ menu items:

![screen shot 2014-08-18 at 6 31 52 pm](https://cloud.githubusercontent.com/assets/17722/39

[2014-08-19 04:18] #671 closed, assigned to nobody

[2014-08-19 17:40] #439 closed, assigned to nobody

[2014-08-19 21:33] #221 closed, assigned to nobody

[2014-08-19 22:11] samanpwbb opened #677 "codemirror errors + color picker conflict"
![2014-08-19 18_11_17](https://cloud.githubusercontent.com/assets/108094/3973918/c05acc40-27ed-11e4-9059-38759e9c3e1c.gif)

Thinking we might want to just kill the color picker plugin for now. CC: @yhahn

[2014-08-19 22:12] yhahn commented on #677
zlol that was short lived : )

[2014-08-19 23:03] yhahn opened #680 "Log to a file"
When in shell mode log to a file by default to make debugging simpler.

[2014-08-19 23:18] yhahn opened #681 "mapnik.node not found on particular Windows"
Ran into this with @teddyumd at maptime.

Windows 7 professional x64.

Will investigate more.

cc @springmeyer

[2014-08-19 23:20] springmeyer commented on #681
Hmm, shoot. node-mapnik@1.4.12 (currently referenced in master) should provide windows binaries. If you saw an error message let me know.

[2014-08-19 23:40] jczaplew opened #683 "Object # has no method 'filter'"
When I start Mapbox Studio, I see this error in the browser. If I log out of my Mapbox account and log back in, I still receive the error.

In the terminal it looks like this:

[code]

[2014-08-20 05:58] peterqliu opened #684 "Unintentionally deleting multiple bookmarks"
When user adds bookmarks with identical lat-lng's to "My Places", deleting one of them clears the others. Can be a problem if the user wants to clear unintended duplicates, but keep just one.

[2014-08-20 11:45] samanpwbb commented on #684
We should delete based on index of item not name.

Saman

[2014-08-20 14:05] yhahn commented on #681
@springmeyer hrm, so the file existed and the same build was working on other windows machines. Interestingly the error was about the file not being found (though the path was correct), not a C++ module require error.

[2014-08-20 14:43] #387 closed, assigned to samanpwbb

[2014-08-20 14:55] #444 closed, assigned to samanpwbb

[2014-08-20 16:28] #684 closed, assigned to samanpwbb

[2014-08-20 17:34] savannahjune commented on #683
I'm getting the same error. I starting seeing this after I installed the lastest version a couple days ago. In addition to the TypeError pasted above, I get these warnings when installing:

npm WARN package.json dirty@0.9.9 No repository field.
npm WARN package.json mapbox-outdoors@1.0.0 No repository field.
npm WARN package.json mapbox-studio-default-source@1.0.0 No repository field.
npm WARN pac

[2014-08-20 18:36] yhahn commented on #683
Hm, this is a bug in a previous db format that should be fixed now but the migration doesn't appear to work for everyone. Workaround is to remove your app db -- on Mac OS X/linux:

[code]

[2014-08-20 18:42] #677 closed, assigned to nobody

[2014-08-20 18:56] #672 closed, assigned to nobody

[2014-08-20 19:03] jczaplew commented on #683
This worked well. Thanks!

[2014-08-20 19:03] #683 closed, assigned to nobody

[2014-08-20 19:17] springmeyer opened #689 "Travis on OSX: shasum check failed"
It seems that travis on OSX either has network issues or there is some other mysterious problem because frequently after tagging new node-mapnik (or other versions) I see errors on travis like:

[code]

This can be caused by tagging with node v0.11.x (like https://github.com/aws/aws-sdk-js/issues/336) but I'm 100% certain I tagged with node v0.10.31.

I see that if I restart the job on travis it w

[2014-08-20 19:39] yhahn opened #690 "(cheapsauce) app update alert"
Per voice, think about a way to do a cross-platform app update _warning_ -- ie. you open up mapbox studio and it sends you to a screen that alerts you that a new release is available.

This is a stopgap until atom-shell's update api is available across platforms.

Braindump sketch:
- [x] when publishing a build, if it's for a tag (not a commit gitsha or branch) write the build version number to a

[2014-08-20 19:45] jczaplew opened #691 "Can't upload, export, or download"
OS X 10.9.4, cloned mapbox-studio an hour ago. If I create and save a source (locally), and then create and save a style, I am unable to upload to Mapbox, export an image, or download a package, as the options are disabled. Hopefully I'm just missing a step in the process - presumably something with not having a map ID? I'm not seeing an errors in the console or terminal.

![screen shot 2014-08-20

[2014-08-20 19:59] yhahn commented on #691
Yep, just save your project.

[2014-08-20 20:05] jczaplew commented on #691
Is there another saving step besides saving the source and the style?

[2014-08-20 20:19] yhahn commented on #691
Nope -- but note hitting (ctrl+s) is not the same as clicking `Save as` to save the project to disk (it's still just in memory until you do the last step).

[2014-08-20 20:50] jczaplew commented on #691
(Really, really sorry for how slow I am) Is clicking `Save as` the same as clicking the `Save` icon?
![screen shot 2014-08-20 at 3 49 19 pm](https://cloud.githubusercontent.com/assets/1739551/3987957/7f42ec7e-28ab-11e4-90f2-8bdcb1630860.png)

[2014-08-20 21:43] savannahjune commented on #683
Worked for me as well. Thanks!

[2014-08-21 03:08] yhahn commented on #691
@jczaplew hrm, if those options are disabled and your project is saved then it sounds like this is a bug. Does this happen to you for all style/source projects you're working on?

(The **Save** button is only labeled **Save as** when you first start a new project)

[2014-08-21 14:15] jczaplew commented on #691
Yes. Just to verify, I repeated the process again -
1. Create new source
2. Add shapefile
3. Select "Save as..." and save it locally
4. Select "Create style from this source"
5. Modified default style
6. Select "Save as..."
7. Saved style locally
8. Select "Settings", and the upload/export/download options were still disabled

[2014-08-21 14:29] pnorman opened #695 "Expose min/max scale for source layers"
Mapnik supports `<MaxScaleDenominator/>` and `<MinScaleDenominator/>` for layers in XML files, but TM2/mapbox-studio doesn't expose a way to set the min or max zoom for a layer, just for the source overall.

Exposing this would allow layers unsuitable for low or high zooms to be restricted to zooms where they work.

[2014-08-21 14:54] yhahn commented on #695
Some background: https://github.com/mapbox/mapbox-studio/pull/337

[2014-08-21 14:59] pnorman commented on #695
So how do I do this?

#483 indicates that TM2 won't preserve it in the yaml and editing the XML doesn't help either, since it's regenerated on any change.

[2014-08-21 15:00] yhahn commented on #695
https://github.com/mapbox/mapbox-studio/pull/337#commitcomment-6272089

[2014-08-21 15:03] yhahn commented on #695
Current situation is definitely not ideal and we're looking at ways to make this easier to use. The per-layer zoom restrictions encouraged people to split their layers arbitrarily based on zoom levels e.g.

[code]

Which is less than ideal for users of the vector tiles. Goal is to give folks a good way to merge these into a single layer with appropriate data at each zoom level.

[2014-08-21 15:07] pnorman commented on #695
No - that's how I change the results of a query based on zoom, which is a different issue.

To take an example, I don't want an address point layer at _all_ at low zooms.

[2014-08-21 15:42] yhahn commented on #695
[code]

?

[2014-08-21 15:45] pnorman commented on #695
That still creates the layer but with zero objects, which is different functionality than not creating the layer. It also is specific to PostGIS data sources and doesn't work with shapefiles (#482).

[2014-08-21 15:46] yhahn commented on #695
Say more about this? We have to this point been keeping layers consistent across all zoom levels in mapnik vector tiles even if they are empty.

[2014-08-21 15:49] pnorman commented on #695
If you specify a `<MaxScaleDenominator/>` or `<MinScaleDenominator/>`, Mapnik will not create the layer if it lies outside those scales. I want to be able to do that without manually editing XML.

[2014-08-21 15:55] yhahn commented on #695
Is there's a concrete reason having an empty layer would not be functionally equivalent for your use case?

[2014-08-21 17:17] camilleanne commented on #691
@jczaplew the source you are using -- did you upload it to Mapbox.com or are you styling it from a local source?

Upload, Export, and Download are disabled for styles referencing a local source that has not been uploaded to Mapbox.com. A reference to a source stored locally on your machine wouldn't mean anything once uploaded since Mapbox.com would not have access to it.

Make sure the source you

[2014-08-21 18:43] jfirebaugh opened #697 "broken links in Source quickstart"
https://www.mapbox.com/mapbox-studio/source-quickstart/

Several links to HOWTO-introduction.md that 404.

[2014-08-21 19:00] #631 closed, assigned to nobody

[2014-08-21 19:15] yhahn commented on #697
Nuked 'em, this page is for doing stuff not clicking yourself away.

[2014-08-21 19:15] #697 closed, assigned to yhahn

[2014-08-21 19:40] GretaCB commented on #540
@yhahn @samanpwbb
Added a [zoom-to-layer button in the Style UI](https://github.com/mapbox/mapbox-studio/tree/zoom-style), but struggling with the layout. Not sure what the best positioning of the button should be...

![screen shot 2014-08-21 at 3 39 06 pm](https://cloud.githubusercontent.com/assets/1209162/4002262/ee4623ec-296a-11e4-8510-cde934dc1bf4.png)

[2014-08-21 19:41] yhahn commented on #540
hrmmm

[2014-08-21 20:38] nickidlugash opened #700 "Automate 'Places' updates"
We should implement a system to automatically update the 'Places' bookmarks when [the gazetteer repo](https://github.com/mapbox/gazetteer) gets updated.

/cc @yhahn

[2014-08-21 20:49] ajashton commented on #691
Ran into related issues just now:
1. Export Image should not be disabled for styles that use a local source.
2. Changing from a local source to a remote source & saving does not re-enable export/upload until Studio is restarted (or refreshed in browser mode).

[2014-08-21 21:37] GretaCB commented on #540
@yhahn @samanpwbb
- Changed the icon back to crosshair, so as not to overload marker (Places).
- Matched positioning of zoom-to and color with the Source UI.
- Lengthened the color box a bit, so it's easier to see and correlate with each layer.

**Source UI**
![screen shot 2014-08-21 at 5 28 28 pm](https://cloud.githubusercontent.com/assets/1209162/4003885/276d433e-297b-11e4-87d2-39b736d489ac.png)

[2014-08-21 21:39] yhahn commented on #540
:+1: guess we gotta get the tilelive.js validation going : )

[2014-08-21 21:43] samanpwbb commented on #540
This looks great.

I'm a little concerned with longer color swatches: they might interfere with long layer names. Did you feel it out with a range of sources + a smaller screen size?

[2014-08-21 21:45] GretaCB commented on #540
Hmm, good point @samanpwbb . I might just move the swatches to the left a bit.

[2014-08-21 21:48] samanpwbb commented on #540
Keep vertical gutters on the left and right consistently 10px if you can:
![screen shot 2014-08-21 at 5 46 56 pm](https://cloud.githubusercontent.com/assets/108094/4004087/d452c816-297c-11e4-9439-242677b95e4c.png)

[2014-08-21 23:22] camilleanne opened #701 "Clearing Attribution Field and saving doesn't clear attribution"
If you clear the Attribution field for a style or a source and save, it doesn't not save an empty value to project.yml but preserves the old one.

[2014-08-21 23:51] camilleanne commented on #701
I take that back, it's only for styles.

[2014-08-22 15:22] yhahn opened #703 "Password field for postgis datasource"
Yep : )

[2014-08-22 15:44] #703 closed, assigned to yhahn

[2014-08-22 18:30] nickidlugash opened #706 "Source inspector popups do not include info for overlapping geometries in same layer"
If there are more than two geometries in the same data layer occupying the same area, clicking on the area seems to only bring up information about the geometry that was rendered first (i.e. the one on the bottom).

E.g., in the mapbox-terrain-v1 hillshade layer, all `class='full_shadow'` geometries are placed on top of `class='medium_shadow'` geometries, and when you click on them you only see in

[2014-08-22 20:57] yhahn commented on #680
https://github.com/mapbox/mapbox-studio/pull/708

[2014-08-22 20:57] #680 closed, assigned to nobody

[2014-08-22 20:59] yhahn opened #711 "Windows testing reliability"
Needs more investigation. Things I'm seeing:
- appveyor is considerably less reliable than running on my local VM
- even on local VM certain fs operations don't always seem to be complete when node says they are, e.g. (`fs.writeFileSync(foo)`, `fs.readFileSync(foo)` error 1/20 times!)

[2014-08-22 21:00] samanpwbb commented on #700
Done with #710

[2014-08-22 21:00] #700 closed, assigned to samanpwbb

[2014-08-22 21:01] springmeyer commented on #711
Ugh. I wonder if node v0.11.x might behave better?

[2014-08-22 21:13] incanus opened #712 "conflicting keybindings"
I realize that `Control` can be used in place of `Command` (`⌘`) for these, but they do still override the system-wide standards.

![screen shot 2014-08-22 at 2 09 00 pm](https://cloud.githubusercontent.com/assets/17722/4017465/a8913e5a-2a40-11e4-93d9-062239cee154.png)
- `Command + H`: Hide app
- `Command + Shift + H`: Hide other apps

I'd recommend:
- `Command + ?` for help
- Passing through `Com

[2014-08-22 21:16] tjperry07 commented on #654
Same issue on Windows

[2014-08-22 23:32] yhahn commented on #646
Did this.

[2014-08-22 23:32] #646 closed, assigned to nobody

[2014-08-22 23:32] #621 closed, assigned to nobody

[2014-08-22 23:46] #701 closed, assigned to nobody

[2014-08-23 00:40] lbud opened #715 "Incorrect keybindings"
Related to https://github.com/mapbox/mapbox-studio/issues/712 but figured I'd ticket separately as this is more bug than recommendation —

Cmd+H is supposed to hide Mapbox Studio?, but it actually just toggles open/closed the docs, which I imagine is part of what @incanus was getting at?
![screen shot 2014-08-22 at 5 36 34 pm](https://cloud.githubusercontent.com/assets/3170312/4019119/951c62d8-2a5

[2014-08-23 00:46] incanus commented on #715
Exactly.

And `Control + H` _is_ traditionally backspace — see numerous references to `^H^H^H` in lore...

[2014-08-23 04:43] savannahjune opened #716 "Source Upload Crashes"
Each time I try to upload a local source to Mapbox, it fails in the 80 percents and I get this error:

[code]

[2014-08-23 06:13] springmeyer commented on #716
Thanks for the report. Can you open up /Users/Savannah/Library/Logs/DiagnosticReports and look for any recent files and post them to https://gist.github.com for us to take a closer look at? If there are files there they will show what exactly crashed causing the 'segmentation fault'.

[2014-08-23 06:42] samanpwbb commented on #272
@yhahn I started this with https://github.com/mapbox/mapbox-studio/compare/layer-list-up

One thing to figure out first: there are a couple competing concepts around sources right now:
- Configuring layers in the project.yml doesn't have any concept of separate sources - everything just goes in one flat list.
- The 'sources' object in the style template on the other hand assumes multiple sources.

[2014-08-23 06:55] samanpwbb commented on #272
One more thing: In preparation for work on layer re-ordering, would it also make sense to automatically save data layers to and then read them from a project's yaml file?

[2014-08-23 10:00] MaksVasilev opened #717 "OAuthError (ETIMEDOUT) on login"
1) run ./atom from console
2) press «Connect» button and login to mapbox
3) press «Allow» button to authorize mapbox-studio in your account
4) have error on console:

{ [InternalOAuthError: Failed to obtain access token]
  name: 'InternalOAuthError',
  message: 'Failed to obtain access token',
  oauthError: { [Error: connect ETIMEDOUT] code: 'ETIMEDOUT', errno: 'ETIMEDOUT', syscall: 'connect' } }

[2014-08-24 01:59] yhahn commented on #272
**b** is the way to go. There is no representation of the ingredient sources once they're composited together in vector tiles and we shouldn't pretend that there is.

@samanpwbb let's punt on any plans to actually edit the layer list in this fashion and focus on just showing customizations if a power user has provided them.

[2014-08-24 02:32] #690 closed, assigned to nobody

[2014-08-24 02:58] yhahn commented on #110
Closing for now via https://github.com/mapbox/mapbox-studio/pull/698.

Will revisit when atom-shell's updates api develops or gives indication it won't be what we need.

[2014-08-24 02:58] #110 closed, assigned to nobody

[2014-08-24 02:59] #56 closed, assigned to yhahn

[2014-08-24 02:59] yhahn commented on #119
Not going to do this.

[2014-08-24 02:59] #119 closed, assigned to nobody

[2014-08-24 03:00] yhahn commented on #480
@camilleanne did this

[2014-08-24 03:00] #480 closed, assigned to nobody

[2014-08-24 03:01] yhahn commented on #523
https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-common-questions.md#what-cancant-i-do-with-pro-fonts

[2014-08-24 03:01] #523 closed, assigned to nobody

[2014-08-24 03:02] yhahn commented on #513
@ajashton moved over his great carto guides here https://github.com/mapbox/mapbox-studio/tree/mb-pages/docs

[2014-08-24 03:02] #513 closed, assigned to nobody

[2014-08-24 14:48] stephankn opened #718 "atom.exe Entry Point Not Found on Windows"
Installed v0.0.4 on Windows Vista 64 bit.

Trying to launch Mapbox Studio produces the following error message before the application is forcefully closed.

[code]

[2014-08-24 15:51] stephankn commented on #718
you should not call this on Windows previous of Win7.
Refer to this:
http://msdn.microsoft.com/en-us/library/windows/desktop/dd317326%28v=vs.85%29.aspx

[2014-08-24 17:08] savannahjune commented on #716
Okay, I posted two of them here: https://gist.github.com/savannahjune/cd113fc63cfac1f6aed2

Thanks!

[2014-08-24 17:34] springmeyer commented on #716
Thanks! Looks like the segfault is a side effect of the first error 'Object is not a function'. @yhahn any idea what might cause an aws-SDK error like this?

[2014-08-24 19:27] springmeyer commented on #716
perhaps related: https://github.com/nathanpeck/s3-upload-stream/issues/10

[2014-08-24 20:38] junosuarez commented on #691
Also seeing this bug on the windows build (win32-ia32-v0.0.4) - using local source, export is disabled for style.

[2014-08-25 03:47] yhahn commented on #718
@stephankn can you confirm whether this occurs in the latest atom-shell release (the app wrapper we are using)? May be an upstream issue that needs fixing there.

https://github.com/atom/atom-shell/releases

[2014-08-25 07:07] stephankn commented on #718
Tt also crashes with atom-shell v0.15.9. Suppose there is code missing to not call RegisterTouchWindow on unsupported versions.

I think it's an issue with Chromium. Does it support Vista at all?

If not: Instead of simply crashing a proper error message should be displayed. Best already in the installer that dependencies are not met.

[2014-08-25 07:30] stevage opened #719 "Changing 'maxzoom' property of PostGIS layer not reflected in style"
I'm just trying Mapbox Studio for the first time. I created a source project with a couple of layers connected to a PostGIS server over the net, and it renders like this:

![screenshot 2014-08-25 17 00 01](https://cloud.githubusercontent.com/assets/678344/4026971/8d72f3f2-2c25-11e4-9791-ee9c8a312ad9.png)

After some investigation, I think the workflow that causes this problem is:
1. Create PostGIS

[2014-08-25 08:24] wilhelmberg commented on #718
I can confirm, that it is an upstream issue.

[2014-08-25 12:34] yhahn commented on #719
@stevage you probably need to
1. bump up the maxzoom of your source and save,
2. click `Refresh` in the layers panel of your style to clear any cached data

More info here on how maxzoom affects your source data https://www.mapbox.com/mapbox-studio/source-manual/#overzooming

[2014-08-25 18:34] samanpwbb commented on #670
@nickidlugash this is an easy change to make and suggest as a pull request: https://github.com/mapbox/mapbox-studio/blob/mb-pages/templates/style.html#L146-L163

[2014-08-25 18:35] samanpwbb commented on #547
mapbox studio gets packaged up as an app. This is not needed.

[2014-08-25 18:35] #547 closed, assigned to samanpwbb

[2014-08-25 18:37] yhahn commented on #670
Do we even need the export image button anymore?

[2014-08-25 21:53] tmcw commented on #712
Same as #715

[2014-08-25 21:53] #712 closed, assigned to nobody

[2014-08-25 21:55] tmcw commented on #662
This isn't a unix thing, it's present in all normal textareas in osx, and in bash. We shouldn't use e for export - let's use something like `ctrl+shift+s`, which is used by [photoshop](http://helpx.adobe.com/content/dam/help/attachments/PhotoshopCC-KBSC.pdf) as save-as.

[2014-08-25 22:00] tmcw commented on #527
Status: getting coverage tables is complete, but I haven't had the bandwidth to write a fast enough script that would turn OSM Planet -> grids of character frequencies worldwide. Would be a 'fun challenge' for someone with hella osmium c++ skills

[2014-08-25 22:05] TheMapSmith opened #721 "SQL char_length() not working?"
Hey guys,
I'm trying to use the `char_length()` sql function in a query for a layer and even though the field shows up just fine in the "Fields" section of the source configuration when I click on the map I don't see the field list. Instead I see the numbers 0-10.

Query:
`(select way,coalesce(highway,aeroway) as highway,ref,char_length(ref) as length,
       case when bridge in ('yes','true','1')

[2014-08-25 22:19] TheMapSmith commented on #721
Sorry, figured it out. The sqlite function is `length()`. I also had to change my field name to `len` to avoid the reserved word `length`

[2014-08-26 02:58] #721 closed, assigned to nobody

[2014-08-26 02:59] #85 closed, assigned to nobody

[2014-08-26 03:00] #450 closed, assigned to nobody

[2014-08-26 04:36] yhahn commented on #657
https://github.com/mapbox/mapbox-studio/pull/723

[2014-08-26 04:36] #657 closed, assigned to nobody

[2014-08-26 06:50] stevage commented on #719
I did click `refresh`, and I've just tested again now, no good.

[2014-08-26 14:35] #670 closed, assigned to nickidlugash

[2014-08-26 14:36] yhahn commented on #715
@samanpwbb do you want to do a review of keybindings here or should I?

[2014-08-26 14:38] yhahn commented on #691
Addressed by https://github.com/mapbox/mapbox-studio/pull/722

[2014-08-26 14:38] #691 closed, assigned to nobody

[2014-08-26 14:42] samanpwbb commented on #715
@yhahn I can do another round of keybinding reviews today.

[2014-08-26 17:22] GretaCB commented on #633
Jumping on this....three weeks later :/

[2014-08-26 20:07] GretaCB commented on #633
Merged. https://github.com/mapbox/mapbox-studio/pull/725

[2014-08-26 20:07] #633 closed, assigned to GretaCB

[2014-08-26 21:22] wboykinm opened #726 "Projects not rendering"
Well, not totally blank - the background color is still being rendered:

![2014-08-26_1717](https://cloud.githubusercontent.com/assets/735463/4051935/a233d9a4-2d66-11e4-8d7b-44cc0e4e917e.png)
- Nothing being reported at the console (+ no crash).
- This is happening for all projects.
- My last mapping-related action was to edit the colors of the shields (of a project based on OSM Bright 2) in GIMP.

[2014-08-26 21:30] yhahn commented on #726
@wboykinm update to the latest version and re-npm install (clear out your node_modules directory before).

We had some breaking changes in deps around ~0.0.3.

[2014-08-26 22:27] gabrielflorit opened #727 "How to add interactivity"
Hello,

This is most likely user error, but I can't figure out how to add interactivity to my source?style? Not sure how to get started.

Gabriel

[2014-08-26 22:34] GretaCB opened #728 "Support 16-bit tiffs"
Tried uploading a local 16-bit tiff and no good:
![screen shot 2014-08-26 at 6 31 54 pm](https://cloud.githubusercontent.com/assets/1209162/4052876/e98dc210-2d70-11e4-83f0-eb523fb13b25.png)

@kapadia suggested scaling the pixel values into 8-bit values before displaying, since computer screens can't display all values in a 16-bit image.

[2014-08-27 00:42] wboykinm commented on #726
That did it. Thanks! And that's a pretty sweet trick how you managed to persist the Map IDs of my existing projects :)

[2014-08-27 00:42] #726 closed, assigned to nobody

[2014-08-27 02:04] btcnash opened #730 "Can't set headers after they are sent"
Mapbox Studio @ http://localhost:3000/
[libprotobuf ERROR google/protobuf/message_lite.cc:123] Can't parse message of type "mapnik.vector.tile" because it is missing required fields: (cannot determine missing fields for lite message)

http.js:689
    throw new Error('Can\'t set headers after they are sent.');
    ^
Error: Can't set headers after they are sent.
    at ServerResponse.OutgoingMessage

[2014-08-27 13:56] ashleyclough opened #731 "Calculate extents of PostGIS-loaded data"
All my postgres WGS84 data sources show extent of '-180,-85.0511,180,85.0511' which looks more like the entire globe rather than the UK-based data that should be something like '-8.58,49.89,1.76,60.85' reported by postgis.

Should the subtle 'zoom to extent' marker icon use the extents values? It would make finding my source data easier.

[2014-08-27 14:07] yhahn commented on #731
Yes, postgres layers currently don't have their extents properly autodetected for them. Something to look into.

[2014-08-27 16:19] tmcw commented on #730
Duplicate of #645

[2014-08-27 16:19] #730 closed, assigned to nobody

[2014-08-27 16:21] tmcw commented on #645
My 2c here: looks like [vtile.parse](https://github.com/mapbox/tilelive-vector/blob/master/backend.js#L160-L163) is throwing an exception that's uncaught, causing express/connect to send out its automatic 'fail response' [before we try to set a cookie](https://github.com/mapbox/mapbox-studio/blob/mb-pages/lib/server.js#L172).

[2014-08-27 16:23] pnorman commented on #635
Perhaps from the browser. If not, an optional command-line parameter for the external IP and port would cover it. Thanks to routers, both the IP and port could be different.

[2014-08-27 17:15] tatsvc opened #733 "Mapbox Studio Landing page design issues"

[2014-08-27 17:18] #733 closed, assigned to nobody

[2014-08-27 17:26] #548 closed, assigned to samanpwbb

[2014-08-27 17:26] #662 closed, assigned to samanpwbb

[2014-08-27 17:26] #715 closed, assigned to nobody

[2014-08-27 17:32] samanpwbb commented on #496
I wrapped a fix for this into https://github.com/mapbox/mapbox-studio/pull/729

[2014-08-27 17:32] #496 closed, assigned to samanpwbb

[2014-08-27 19:39] samanpwbb opened #735 "Add fail state to code search"
If 0 results found, let user know.

[2014-08-27 20:10] yalefox commented on #716
I'm having the same problem. Any updates on when this might be fixed? Thanks!

[2014-08-28 13:49] yhahn commented on #110
Looks like at least 2/3 platforms are being targeted.
- https://github.com/Squirrel
- https://github.com/atom/atom-shell/pull/614

[2014-08-28 15:42] tristen opened #737 "Cannot read property 'accesstoken' of undefined"
From a user running v0.0.5:

Also tried revoking access on account and going through the process again with no luck.

[2014-08-28 15:44] yhahn commented on #737
Please have the user post a copy (in a gist) of `~/.mapbox-studio/app.log`.

[2014-08-28 15:58] yhahn commented on #681
@springmeyer I can reproduce this error on the IE9/Win7 VM from https://www.modern.ie/en-us/virtualization-tools.

The `mapnik.node` file definitely exists and running just a bare node process and attempting to `require()` it leads to the same error message:

[code]

[2014-08-28 16:06] yhahn commented on #681
NM, (headsmack) it was the need to install the visual c++ redistributable (http://www.microsoft.com/en-us/download/details.aspx?id=40784).

Going to research whether the installer can do this...

[2014-08-28 16:13] springmeyer commented on #681
Aha. The installer was doing it previously but TileMill was still depending on the 2010 one. We need 2013 now.

[2014-08-28 17:16] yhahn commented on #681
https://github.com/mapbox/mapbox-studio/pull/738

[2014-08-28 17:16] #681 closed, assigned to nobody

[2014-08-28 22:16] incanus opened #740 "keybinding: Select All"
Text fields don't allow _Select All_ (OS X shortcut: `Cmd-A`) due to lack of an _Edit_ menu entry. This is something I use constantly.

TextEdit for comparison:

![screen shot 2014-08-28 at 3 15 29 pm](https://cloud.githubusercontent.com/assets/17722/4083861/df29bd9c-2f00-11e4-9aad-596f57938835.png)

[2014-08-28 22:21] #740 closed, assigned to nobody

[2014-08-28 23:04] incanus opened #741 "file save / download dialog should have sane default"
When you go to save a static image, package, etc., you get a native file save dialog:

![screen shot 2014-08-28 at 4 02 10 pm](https://cloud.githubusercontent.com/assets/17722/4084316/79761412-2f07-11e4-8ccb-24e4b96752f4.png)

However, this just pre-fills with the extension, which starts will a dot and as such will get saved as a hidden file if nothing else is done.

It also defaults to the hard d

[2014-08-28 23:19] incanus commented on #741
Possibly related, though it looks like currently we just leave it up to the Chromium core to prompt for unrecognized binaries.

https://github.com/atom/atom-shell/blob/master/docs/api/dialog.md#dialogshowsavedialogbrowserwindow-options-callback

[2014-08-28 23:22] yhahn commented on #741
FYI this is all handled here:

https://github.com/mapbox/mapbox-studio/blob/mb-pages/app/atom.js

and is a client-side hack/stopgap for a developing atom-shell API around intercepting/handling requests.

[2014-08-29 17:20] samanpwbb opened #742 "blank codemirror on refresh/first open"
When first opening a style, I see:
![screen shot 2014-08-29 at 1 14 54 pm](https://cloud.githubusercontent.com/assets/108094/4093772/b48306fc-2fa0-11e4-9566-22fdee8be545.png)

Need to click the tab to access the style. Happens for all projects.

[2014-08-29 17:35] mikemorris commented on #742
CodeMirror has some bug around needing to call `.refresh()` if it starts in a hidden `div`

https://github.com/prose/prose/blob/4f803867a5ad4cd8b019176839ca5f5e8889ed29/app/views/file.js#L347

http://stackoverflow.com/questions/17086538/codemirror-content-not-visible-in-bootstrap-modal-until-it-is-clicked
https://github.com/angular-ui/angular-ui-OLDREPO/issues/245

[2014-08-29 17:42] samanpwbb commented on #742
Fixed by https://github.com/mapbox/mapbox-studio/commit/e4ab6ff86891b47cfd5155350c33376feb2dd54d

[2014-08-29 17:42] #742 closed, assigned to nobody

[2014-08-30 21:39] samanpwbb opened #745 "prefix ids of layer entries in source mode"
Ran into this disaster with a source named "map" and again with a layer named 'full:
![screen shot 2014-08-30 at 5 38 28 pm](https://cloud.githubusercontent.com/assets/108094/4100303/1f2029b6-308e-11e4-9feb-693143c3fd1e.png)

[2014-08-31 01:34] tristen opened #746 "Add fonts UI"
A full blown interface or some direction on how to add fonts would benefit here.

![2014-08-30 at 9 30 pm](https://cloud.githubusercontent.com/assets/61150/4100718/ddbb8e2c-30ae-11e4-99af-a056dcfa0ead.png)

[2014-08-31 02:38] tristen opened #747 "Stronger relationship between "Add" and Places"
The add button looks like it's on the same hierarchy as the others.

![2014-08-30 at 10 34 pm](https://cloud.githubusercontent.com/assets/61150/4100823/9b8e8cc6-30b7-11e4-9366-4f7c7d9ba8ea.png)

To make the relationship stronger:
- The background of the "Add" button could be darker?
- Use a plus (+) icon instead of spelling out "Add"

[2014-08-31 03:20] tristen opened #748 "re-uploading a style creates a new style"
I would expect after creating a map --- making style adjustments and clicking **"Upload to Mapbox"** would update the existing map. Instead, it creates a brand new "Style" & Map ID.

[2014-08-31 07:44] peterqliu commented on #747
Agreed. I suggest

1) returning Places to the left sidebar (since it's not an action dealing with the current map view, but one that's toggling a new view), and

2) changing Add to "Add New Place", in order to strengthen the connection between the two buttons

[2014-08-31 14:56] KcKal commented on #737
Hey there, I've had the same issue on a Windows machine and I'm running v0.0.6 and did a quick gist for you. The issue worked out precisely in the same fashion as it did for the user above.

https://gist.github.com/KcKal/f684010b2c2849b2a89a

[2014-08-31 19:01] yhahn commented on #746
https://github.com/mapbox/mapbox-studio/issues/395

[2014-08-31 19:01] #746 closed, assigned to nobody

[2014-08-31 22:35] samanpwbb opened #749 "Updated OGR datasource doesn't clear old fields"
Nothing in this layer has a 'type' field, but type still shows up in the fields. An earlier version of this layer _did_ have a 'type' field:

![screen shot 2014-08-31 at 6 34 42 pm](https://cloud.githubusercontent.com/assets/108094/4103443/0e2972bc-315f-11e4-8ebc-acfd331e0d51.png)

[2014-09-01 00:38] samanpwbb opened #750 "Clicking 'upload to mapbox' should reset upload screen"
I made a change to a geoJSON source, clicked 'upload', and hit this screen:
![screen shot 2014-08-31 at 8 36 43 pm](https://cloud.githubusercontent.com/assets/108094/4103708/3dbd27a6-3170-11e4-8487-328a6e3d43e6.png)

To upload, I needed to click the 'redo upload' button.

[2014-09-01 00:44] yhahn commented on #750
Refactoring the state management around this this is not a priority. Click **redo upload** for now.

[2014-09-01 00:44] #750 closed, assigned to nobody

[2014-09-01 01:13] cartdeco opened #751 "Windows 7 atom.exe permissions error"
Hi Guys,

Am trying to run Mapbox-studio v 0.0.6 on Windows 7 and can't get past this:

![image](https://cloud.githubusercontent.com/assets/2177209/4103794/f21d4024-3174-11e4-9fda-b14d56cd636f.png)

Any clues on how to fix?

[2014-09-01 01:54] yhahn commented on #748
https://github.com/mapbox/mapbox-studio/pull/752

[2014-09-01 01:54] #748 closed, assigned to nobody

[2014-09-01 03:30] yhahn commented on #747
Let's keep this where this is now and see how users actually interact with this feature. The interaction isn't perfect but it only takes using it once or twice to figure out how it works.

[2014-09-01 04:12] KcKal commented on #654
Ditto on this problem. Windows 8.

[2014-09-01 04:15] yhahn commented on #654
@KcKal any chance you could gist your logs like you did here? https://github.com/mapbox/mapbox-studio/issues/737#issuecomment-53990331

Thanks in advance.

[2014-09-01 04:23] KcKal commented on #654
Easy. Unfortunately though, not a whole lot of info in the log file:

https://gist.github.com/KcKal/7bc399075daa59028ca5

[2014-09-01 04:37] yhahn commented on #654
Hrm, looking into this and seeing a few possible culprits (http://sqlite.1065341.n5.nabble.com/Random-error-SQLITE-CANTOPEN-on-Windows-XP-SP2-with-sqlite3-exec-td10529.html), in particular:
- TortoiseSVN
- Antivirus scanners

If you're running anything like this that might be scanning/reading these files it would be great to know if the issue occurs when they are disabled -- not as a long term sol