[2015-03-30 12:52] martin-eberle commented on #1249
Anything new about this Issue?

[2015-03-30 13:35] wilhelmberg commented on #1297
No, this hasn't regressed.
Installer presents error message and doesn't continue if Studio is already/still running.

There must have been another reason, e.g. un-installer didn't remove everything, because error `Procedure entry point not found` from https://github.com/mapbox/mapbox-studio/issues/1286 usually happens when DLLs don't match.

Closing, because I couldn't reproduce and installer chec

[2015-03-30 13:35] #1297 closed, assigned to nobody

[2015-03-30 13:53] fradeve commented on #1080
:+1:

[2015-03-30 14:43] courierjournal commented on #1249
I just sent my project to you. I've tried wiping MB Studio from my system, reinstalling, and setting up a new project from scratch. Still no luck. This is just a really simple project, create a new one and pick a style. Not sure whats going on and why the server won't take it.

[2015-03-31 16:29] leffjesh commented on #1290
yes, select button was unresponsive when cutting a pasting a full path to shapefile and when browsing to a folder and selecting a shapefile with an ampersand in the name.   no error reported.  When browsing folders, a folder with an ampersand doesn't allow me to double click and explore its contents.

[2015-03-31 18:14] courierjournal commented on #1249
So I tried exporting the file from MB studio to a .tm2z file and manually uploading to the site and it still doesn't work.  I can't believe marteb and I are the only ones experiencing this. It's definitely an OSX related issue. I can take that same file and move it over to a Win 7 machine, open it in MB Studio, and upload the project successfully.
![untitled-1](https://cloud.githubusercontent.com/

[2015-04-01 14:31] springmeyer commented on #1249
@courierjournal - thanks for all the details you've been providing. We are working on a fix and will let you know when you can expect this to start working.

[2015-04-01 15:02] alexcroox opened #1299 "Mapbox geodata"
I'm interested in adding some of these optimised public sources of data to my map:

https://www.mapbox.com/tilemill/docs/manual/mapbox-geodata/#mapbox_geodata

However it references importing these into TileMill, the project that this one is supposed to replace. I can't find in the Mapbox studio interface where to browse/add these?

[2015-04-01 15:10] springmeyer commented on #1299
They are not available in the form of shapefiles in Mapbox Studio - instead Mapbox Studio provides more and better data built-in, in the form of vector tiles. So, the way we look at this is that Mapbox Studio fundamentally comes with better data built-in. See https://www.mapbox.com/developers/vector-tiles/mapbox-streets/ for all the details of the built-in data that is what is available to you whe

[2015-04-01 15:11] ajashton commented on #1299
If you still want to use Natural Earth data, we also have created an example source project for it that you can use and build on: https://github.com/mapbox/natural-earth-tm2/

Be sure to also read the [source quickstart](https://www.mapbox.com/mapbox-studio/source-quickstart/), [source manual](https://www.mapbox.com/mapbox-studio/source-manual/), and [PostGIS manual](https://www.mapbox.com/mapbox-

[2015-04-01 15:14] alexcroox commented on #1299
I've been trying to import kml files to mapbox studio but the app either fails to add them, or quickly stops responding. They are 19MB and 64MB files ("Regional fisheries bodies, large marine divisions). Would you recommend I try adding them to tile mill so they are baked into image tiles instead of too many vectors for mapbox studio to handle?

[2015-04-01 21:52] springmeyer opened #1300 "Update to node-mapnik 3.2.1"
node-mapnik@3.2.1 is upcoming very small release that will have binaries which include https://github.com/mapnik/mapnik/issues/2745. This is a ticket to remember to update once node-mapnik 3.2.1 is released.

[2015-04-01 22:06] springmeyer opened #1301 "Update changelog for v0.2.8"
v0.2.8 brings in a big Mapnik update and major Mapnik-omnivore refactor. Let's make sure to capture key things in the changelog.

/cc @GretaCB

[2015-04-01 22:10] springmeyer commented on #1284
Consistently seeing this: it appears to happen for individual vector tile requests that are large. I presume what is happening is that the sqlite db is taking a long time to write the file and cannot service the request. I'm finding that if I open up the failed request url it always works the second time (once the data is cached)

![screen shot 2015-03-31 at 11 41 08 am](https://cloud.githubuserco

[2015-04-02 06:45] greens231 commented on #1198
same here on yosemite

[2015-04-02 06:47] wilhelmberg commented on #1299
@alexcroox try the following:
- convert your kml to a shape file: **`ogr2ogr -f "ESRI Shapefile" out.shp YOUR.kml  -t_srs EPSG:3857`**
- run `shapeindex` on your shape file: **`shapeindex out.shp`**
  - `shapeindex` can be found in this directory: `C:\Program Files\mapbox-studio\resources\app\node_modules\mapnik\lib\binding\node-v11-win32-x64`

Depeding on what operating system you are on and how

[2015-04-02 06:54] willwhite commented on #1198
@greens231 is your system clock set? What time does it read and what timezone are you in? Thanks!

[2015-04-02 06:58] willwhite commented on #1249
Is there anything unusual about your installation - specifically around paths? I'm seeing that the example files provided are prefixed with a relative path, which is unexpected and is causing the API to reject the file as unrecognized.

[2015-04-02 08:17] stefda opened #1303 "Application closes right after start"
Mapbox Studio shows the initial screen with the spinner upon start, then closes.

Issue is identical for both Mapbox Studio x86 and x64 v0.2.7 on Windows 7 64-bit OS.

The issue can be resolved by deleting the files `app.db` and possibly `app.db.compacted` from the directory `C:\Users\<name>\.mapbox-studio`. However, the files are recreated upon the next start and the application will fail to load

[2015-04-02 08:26] wilhelmberg commented on #1303
@stefda

Could you
- post your `app.log`, also in the `.mapbox-studio` folder
- start Mapbox Studio from the command line and post the output

Starting Mabox Studio from the commandline:
https://github.com/mapbox/mapbox-studio/wiki/Windows-Troubleshooting#start-mapbox-studio-from-the-commandline

[2015-04-02 08:46] greens231 commented on #1198
yes my clock was off by 17 minutes. Hadn't noticed. Thanks

[2015-04-02 08:50] martin-eberle commented on #1249
I dont’t think so. It’s a „standard“ OS X 10.10 setup. And i tried a windows 8.1 pc as well and had the same problem…

[2015-04-02 10:15] wilhelmberg commented on #1249
@marteb
Are you behind a cooperate proxy/firewall?
Some of these enterprise solutions often fiddle with web requests and change them in unexpected ways.

If yes, could you try with a direct connection to the internet?

[2015-04-02 10:28] stefda commented on #1303
Here are the contents of my app.log

[code]

And here's the cmd output:

[code]

[2015-04-02 10:43] wilhelmberg commented on #1303
That's strange.

Please try this:
- make sure via Task Manager that there are no running `node.exe` or `mapbox-studio.exe` processes
  - if there are, kill them
- open command prompt
- `cd "C:\Program Files\mapbox-studio\resources\app"`, ENTER
- type `vendor\node index.js`, ENTER

Does it also exit?
- If yes, is there more output in the console?
- If not, open your browser (Chrome would be best, b

[2015-04-02 11:15] martin-eberle commented on #1249
No, i’m not behind a proxy or a firewall. I also tried different internet connections but the problem is always the same.

[2015-04-02 13:00] stefda commented on #1303
Running `.\vendor\node index.js` gives the following error:

[code]

[2015-04-02 13:01] courierjournal commented on #1249
I don't have anything unusual as far as my install goes that I know of. I have a bunch of dev stuff installed, but I'm not sure how that would affect pathing relative to mapbox. Some sort of change made to 10.10 maybe? Or since it's happening to @marteb on a windows machine maybe something funny with  Atom?

@BergWekrGIS we _are_ behind a corporate firewall. However using the same connection on a

[2015-04-02 14:56] wilhelmberg commented on #1303
Normally this should be resolved by deleting `app.db.compacted` (as you've already mentioned in your original post).

Could you once more verify that this happens every time?
- verify that no `node.exe` `mapbox-studio.exe` processes are running
- delete `app.db` and `app.db.compacted`
- start Mapbox Studio via `vendor\node index.js`
- "exit" studio via pressing `Ctrl+c` on the commandline
- start

[2015-04-02 18:31] springmeyer commented on #1299
@alexcroox - I agree with @BergWerkGIS's recommendation that if you convert KML to a different format it should load well. Another option is to convert to GeoJSON and to install this development build of Mapbox Studio: https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-4abb776.exe. It includes an optimized GeoJSON reader. I would welcome your help testing, so let me know if you

[2015-04-03 00:03] rhansson commented on #1286
Same problem when upgrading to 0.2.7 on Windows 7. Re-installing works.
Note: Hadn't fully started Studio yet. Only the dialog prompting to upgrade

[2015-04-03 07:43] wilhelmberg commented on #1286
@rhansson Thanks for letting us know.
The upgrade dialog is already part of Mapbox Studio.
Normally, the installer should bail out when Studio (Upgrade dialog) is still running.

[2015-04-03 15:03] springmeyer commented on #1111
let's track this at #1156

[2015-04-03 15:03] #1111 closed, assigned to nobody

[2015-04-04 09:29] stefda commented on #1303
Oddly enough, Studio now starts consistently (by following your procedure or by selecting it's icon from the menu). The one thing that has changed since I reported the problem is that I have deleted all Projects, Styles and Data from my Mapbox account.

I have managed to partly recreate the issue when I tried to upload tiles into my Mapbox account and the app crashed. Then, upon startup, I would g

[2015-04-05 05:25] simudream opened #1305 "After loading a remote project and zooming out I get a https not supported. Expected "http" error"
This error is happening on my yosemite mac running latest brew node

sudo npm start

npm ERR! Darwin 14.1.0
npm ERR! argv "node" "/usr/local/bin/npm" "start"
npm ERR! node v0.12.2
npm ERR! npm  v2.7.5
npm ERR! code ELIFECYCLE
npm ERR! mapbox-studio@0.2.7 start: `./index.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the mapbox-studio@0.2.7 start script './index.js'.
npm ERR! This is most l

[2015-04-05 11:49] wilhelmberg commented on #1303
Thanks for the analysis.
I tried the mentioned data set, but didn't encounter any problems.

When working with lots of data, it is highly recommended to work with PostGIS to have more control over how much data is processed into vector tiles.
A guide to get you started, can be found here:
https://www.mapbox.com/mapbox-studio/postgis-manual/

Some best practices before you add a shapefile to Mapbox

[2015-04-06 03:03] stephankn commented on #878
I had an old version of Mapbox Studio and never noticed this problem. After being absent for a while I recently updated to 0.2.7. Now I can't type "{" or "[" in the style editor any more.

Mapbox Studio 0.2.7.
Windows 8.1 64bit
English US System language
Region German
German (IBM) keyboard

input on codemirror.net works fine.

Quite sad as this renders Mapbox Studio practically useless.

[2015-04-06 11:18] stefda commented on #1303
Thanks for the tips, it all makes sense. I guess we can close this. If I encounter the same issue in the future I'll revisit the post and add new information.

[2015-04-07 00:04] stevemcf opened #1306 "Style Quickstart web Tutorial-- "JS-YAML" Error from UTF Grid Interactivity step"
Hello,
I'm going through the Mapbox Style QUickstart Tutorial at https://www.mapbox.com/mapbox-studio/style-quickstart/#uploading

I am running into a JS-YAML error that stops me from re-opening the project after I've made the suggested changes to the text in the project.yml file. (Not sure why these changes are in a photo in the tutorial where the other changes are in copyable text).

The photo I

[2015-04-07 06:34] martin-eberle commented on #1249
@willwhite can you tell me, where in the uncompressed files you found „that the example files provided are prefixed with a relative path“? Is it possible to fix this by hand in the .mss files?

[2015-04-07 06:57] #1303 closed, assigned to nobody

[2015-04-07 17:20] amyleew commented on #1306
@stevemcf - You've got a  `+` instead of `=` for your `a href` tag. Full code:

[code]

[2015-04-07 19:46] stevemcf commented on #1306
Worked like a charm! Thanks for the sharp eyes @amyleew!

[2015-04-07 19:46] #1306 closed, assigned to nobody

[2015-04-08 17:44] stevemcf opened #1307 "Point data from csv file not visible in data preview (following steps from Mapbox Studio Source Quickstart)"
Hello,

I am trying to create a webmap of point data on U.S. universities. I followed the tutorial at https://www.mapbox.com/mapbox-studio/source-quickstart/ with no trouble using the linked Earthquake data. However when I try to follow the same steps using my own csv (which has point data with x/y coordinates in columns headed "latitude" and "longitude"-- these are the third and fourth columns--

[2015-04-08 18:16] amyleew commented on #1307
@stevemcf - What happens when you click the 'Zoom to extent' icon? ![image](https://cloud.githubusercontent.com/assets/4587826/7051923/67a902b6-ddf9-11e4-9d4a-7ec52a3e506e.png)

[2015-04-08 18:24] stevemcf commented on #1307
@amyleew - it's same as in the pictures above-- a black rectangle.

[2015-04-08 18:25] amyleew commented on #1307
Add this data's Configure panel screenshot @stevemcf

[2015-04-08 18:37] stevemcf commented on #1307
Here it is @amyleew

![configurepanel](https://cloud.githubusercontent.com/assets/11825966/7052465/b9429288-ddfc-11e4-80f1-fd49db7d0de3.JPG)

[2015-04-08 19:07] duncangraham commented on #1206
Hey @planemad after uploading you should check https://www.mapbox.com/uploads/?source=data. At certain times and with certain datasets It takes a bit of time to process data. We could be doing a better job to inform and educate users that the data is processing/propagating. I'll cut a PR for this.

[2015-04-08 19:32] duncangraham commented on #1206
closed with https://github.com/mapbox/mapbox-studio/pull/1308

[2015-04-08 19:32] #1206 closed, assigned to nobody

[2015-04-08 19:53] wilhelmberg commented on #1307
@stevemcf Is it possible to share your csv file that we can have a look?
If you want to share privately send to wilhelm@mapbox.com

[2015-04-08 20:11] wilhelmberg commented on #1307
@stevemcf another thing:
Are you using the latest version of Mapbox Studio?
The path to your csv looks a bit strange with forward `/` and backward `\` slashes.
This shouldn't happen with the latest 0.2.7.
Try removing `C:` and replacing `\` with `/`.
Does this help?

[2015-04-08 20:31] stevemcf commented on #1307
@BergWerkGIS thanks! I'll send the csv along to you just now. I assume I have the latest version as I just downloaded it two days ago. I just tried taking out the c: and switching the slash, but it didn't seem to change anything. Might it work better if the file wasn't parked in a google docs folder?

[2015-04-08 20:36] wilhelmberg commented on #1307
@stevemcf thanks, got it.
Looks the same (black in black) on my machine.
Will investigate.

[2015-04-08 20:49] wilhelmberg commented on #1307
@stevemcf

If you remove the colum `the_geom` it works.

Mapbox Studio gets confused because of `latitude`/`longitude` and `the_geom`.
When Mapbox Studio loads the csv it also looks for a column that has `geom` in its name and prefers that one over lat/lng fields.
It expects to find a WKT string in the `geom` column, which isn't the case with your file, and cannot display any data.

[2015-04-08 20:54] stevemcf commented on #1307
Aha! Splendid! Thanks for sussing that one out Wilhelm. @BergWerkGIS

Best,
Steve

[2015-04-08 20:54] #1307 closed, assigned to nobody

[2015-04-08 21:14] wilhelmberg opened #1309 "CSV: no error with lat, lng and non-wkt geom columns"
refs [Mapbox Studio: Point data from csv file not visible in data preview](https://github.com/mapbox/mapbox-studio/issues/1307)

The user had `longitude`, `latitude` and `the_geom` columns in the csv.
`the_geom` did not contain WKT.

Mapnik [prefers WKT field over lat/lng fields](https://github.com/mapnik/mapnik/blob/master/plugins/input/csv/csv_datasource.cpp#L772-L808), but the WKT field could n

[2015-04-09 08:59] anderser commented on #1249
I have the exact same issue on version 0.2.7 on Mapbox Studio on Mac OS X. I have sent a version of the tm2z file to support at mapbox if that helps.

[2015-04-10 07:39] mnquintana opened #1310 "Cannot navigate to directory with ampersand in Browse files"
Steps to reproduce:
1. Click Projects > Browse
2. Try to navigate to folder with `&` in the name by double clicking or pressing enter

Mapbox Studio 0.27.0
Mac OS X 10.10.3

[2015-04-10 10:10] martin-eberle commented on #1249
We upgraded to a paid „standard“ plan but it still doesn’t work. Is there any workaround for this issue?

[2015-04-13 19:52] GretaCB commented on #1249
Hi @marteb @anderser @courierjournal ,

You should now be able to upload your styles to your accounts. The problem was related to a particular `tar` header produced when zipping your styles. Let me know if you run into any other issues.

[2015-04-13 23:35] #1249 closed, assigned to nobody

[2015-04-14 06:12] martin-eberle commented on #1249
Yes, it works. Great! :)

[2015-04-14 15:06] springmeyer commented on #1165
Returning to this. Looks like there are multiple causes of this bug. One was fonts with characters in the `.ttf` name like spaces which was fixed by #1196. The others are:
- Using absolute paths to a `font-directory` on breaks silently (at least on OS X).  This is because paths must be relative (which I did not realize in my testing) due to this join: https://github.com/mapbox/mapbox-studio/blob/9

[2015-04-14 15:15] wilhelmberg commented on #1165
A "broken" display of fonts might also be due to the representation of the image of the font being cached.

On Windows, the font display re-appeared after doing:
- exit Mapbox Studio, if it is running
- delete all files in `%USERPROFILE%\AppData\Roaming\mapbox-studio\Cache`
- delete all files in `%USERPROFILE%\AppData\Roaming\mapbox-studio\GPUCache`
- delete all files in `%USERPROFILE%\.mapbox-stu

[2015-04-14 15:18] springmeyer commented on #1165
Great discovery @BergWerkGIS - it sounds like this issue may be completely fixed then and just a caching problem. Therefore users of previous versions of studio that hit the original bug will simply have to clear their atom shell cache. I'm going to close this as fixed.

[2015-04-14 15:18] #1165 closed, assigned to nobody

[2015-04-14 21:39] jaketangosierra opened #1311 "Crash on OS X 10.10.3, when exporting .mbtiles file"
Hi,

When I try to export an MBTiles file from Mapbox Studio 0.2.7 on OS X 10.10.3, the entire application crashes. I'm trying to use a PostGIS source with a custom query (which joins a parent table with 2 children tables). If needed, I can send a copy of this somehow, but it's relatively big (the child tables are OSM data for MN, and the parent table subsets them for our application's purposes).

[2015-04-14 21:43] springmeyer commented on #1311
This is probably the "failing extent" calculation bug (#966). I would recommend installing mapbox studio from source using latest github because we've recently fixed this. Would you be up for trying that route? (https://github.com/mapbox/mapbox-studio#install-from-source)

[2015-04-14 21:45] jaketangosierra commented on #1311
Sure, I'd be happy to do that, and I'll report back.

Thanks!

On Tuesday, April 14, 2015, Dane Springmeyer notifications@github.com
wrote:

[2015-04-14 22:10] jaketangosierra commented on #1311
After following the instructions you linked, and going to load the source that I had last time, map box crashed, and this is log output:

and the nom-debug.log says:

I'm trying to install node 0.10 and try this again, just to ensure that it's not a versioning issue

[2015-04-14 22:17] springmeyer commented on #1311
right, node v0.12.0 is not supported yet, please stick to 0.10 until #1209 is closed.

[2015-04-14 22:28] jaketangosierra commented on #1311
The proper node version worked, now I'm running into a postGIS error, but that looks like it's a config thing on my end. Will there be a new build in the near future?

[2015-04-14 22:33] springmeyer commented on #1311
please share your postgis error - it might be solvable via https://github.com/mapbox/mapbox-studio/compare/postgis-srid. Yes, a new release is coming, but more PostGIS testing is one thing that needs to happen first so any details you can provide would be great.

[2015-04-14 22:43] jaketangosierra commented on #1311
using the query

After re-arranging the order of the tables in the join, I got a different error about not being able to find geometry 'linestring'. All this together looks like a union in the way I was trying to do it doesn't fit into what mapbox studio is expecting

After messing around with the query a little bit, I'm going to use different sources for each join I need to do.

[2015-04-15 14:01] #1311 closed, assigned to nobody

[2015-04-15 15:28] Ventricule opened #1312 "Cannot Upload to Mapbox : "An upload is already active""
Hello,
Since one hour when I want to export to Mapbox I have this error : "An upload is already active". Can't understand why. Nothing big to upload. I tried to restart Mapbox and computer, nothing changed. Is there a way to watch mapbox currents tasks ?
The only google response to this error is a tweet : https://twitter.com/hiemil/statuses/556084872562085888

[2015-04-15 15:33] samanpwbb commented on #1258
@springmeyer the project input field is not a real field. What is happening is you are essentially just clicking on the page and then pressing delete. 'Delete' is the default keybinding for back page. We could disable the default behavior of 'delete' ?

[2015-04-15 17:03] simudream commented on #1305
problem on my end closing issue

[2015-04-15 17:03] #1305 closed, assigned to nobody

[2015-04-16 13:57] springmeyer commented on #1209
Been debugging mbstudio vtile exports in person with @BergWerkGIS and @tmpsantos using intel vtune. Preliminary results seem to suggest that windows is launching an extreme number of threads (> 30-40) for exports and causing malloc performance to suffer. Because node v0.12.x uses a libuv version with a new model for threads on windows, I'm picking up this ticket to push it over the edge. The last

[2015-04-16 19:19] springmeyer commented on #1167
Flagging that I just saw "Renaming atom.exe no longer breaks native modules." in the atom shell changelog: https://github.com/atom/atom-shell/releases/tag/v0.23.0. Not sure if that means this is fixed for node.exe or not upstream....

[2015-04-16 22:50] springmeyer commented on #1209
@BergWerkGIS - node v0.12.x seems to work: https://travis-ci.org/mapbox/mapbox-studio/builds/58828609. Branch in place to start testing at https://github.com/mapbox/mapbox-studio/compare/node-v12?expand=1.

But for your local testing purposes all you need is latest `mb-pages` branch.

Be aware that https://github.com/mapbox/mapbox-studio/blob/mb-pages/scripts/vendor-node.sh is currently broken but

[2015-04-17 09:40] mattwl opened #1313 "Can't add composite layers"
Trying to add composite layers in Mapbox studio via Layers > Change Sources

For example, I have a custom layer (remotely hosted on Mapbox server) and want to add it to the project along with mapbox.mapbox-streets-v5

It will only let me add one (even if  I separate with commas in text box), no error given. Clicking apply then nothing happens.

[2015-04-17 09:47] wilhelmberg commented on #1209
using node 0.12.0 with `mb-pages` gives:
![image](https://cloud.githubusercontent.com/assets/4549888/7199757/7b37f184-e4f7-11e4-8026-2aad345f3d8f.png)

[2015-04-17 10:26] springmeyer commented on #1313
try, while studio is running, going to http://localhost:3000/ in your web browser. This will access studio directly - then try the operation again and see if you get a better error. The problem is probably that the error is not visible due to #805

[2015-04-17 12:05] petzlux commented on #860
Okay, just tried 0.2.7 and my problem remains.

My ghetto workaround is to use my mobile phone tethering connection to be able to login when booting up, and then I can disconnect once Studio is open and I can work !

PS: For my needs, I only work with local data, and OSM data and Mapbox account functionality are not in use ... I can understand why you'd want users to work with a Mapbox account, bu

[2015-04-18 01:53] mattwl commented on #1313
Works when I use the http://localhost:3000/ version. Therefore, I'll use localhost. Still not working via software version (I'm using Mac OS X).

[2015-04-18 13:23] lucaswoj opened #1314 "Provide incremental updates"
Downloading an entirely new X00 MB binary after every update is annoying. Many applications nowadays provide really seamless updates, sometimes entirely in the background (e.g. Google Chrome) and sometimes with a simple "Install and Restart" dialog box (e.g. Rdio). It would be nice if Mapbox Studio updates were that easy!

[2015-04-18 21:10] springmeyer commented on #1314
@yhahn @incanus and others discussed the idea of sparkle-style "install and restart" updates and concluded that we'd want something cross-platform (windows + osx + linux) and that something did not exist. Atom-shell, for example, only supports OS X in its auto-updater: https://github.com/atom/electron/blob/master/docs/api/auto-updater.md.

[2015-04-20 17:53] mnquintana commented on #1204
Possibly related to https://github.com/atom/atom/pull/6438#issuecomment-94522788 (Mapbox Studio's executable is called `atom` right now)

[2015-04-20 23:46] mnquintana commented on #1314
@springmeyer There is a Squirrel for Windows too (https://github.com/Squirrel/Squirrel.Windows), but no Squirrel for Linux unfortunately. For that it might be better to set up official PPA / COPR repositories for Ubuntu and Fedora, respectively, and let the OS handle updates.

[2015-04-21 07:00] techieshark opened #1315 "support proxy authentication"
I'm working behind a proxy which requires authentication and Mapbox Studio isn't working in that context.

(I'd love to just change the network settings but I'm working on a project for the Dept of Education in New South Wales, Australia and don't have immediate control over the network.)

In issue #860 (general proxy support), there is [a comment](https://github.com/mapbox/mapbox-studio/issues/86

[2015-04-21 07:17] Forna73 opened #1316 "Railways and more"
Hi!
Railways shows up only from zoom 12 and above (13, 14...)
I need to get them starting from zoom 10... how could I get?
I tried with:
# road [class='major_rail'][zoom>=10]

[2015-04-21 07:38] nerik commented on #1312
Same here.
Account : compta@lrqdo.fr
OSX 10.10.2
Mapbox Studio Version 0.2.7

[2015-04-21 09:15] wilhelmberg commented on #1315
@techieshark can you share some details about the proxy?
Do you know if it's squid or another software?
Are there PAC scripts being used?
How do you authenticate with other programs?

[2015-04-21 10:08] Ventricule commented on #1312
Finaly, some hours later, it worked.

[2015-04-21 11:12] Forna73 commented on #1316
Ok Guys!
I'm becoming a little crazy learning something only by examples without a real manual.
As above I need also to style type=trunk in the #road layer.
I can't understand how to do that!

My project is limited to zoom level 10, 11 and 12 but I'm thinking there are features in some way hardcoded to show only at predetermined zoom level.

Hel please!

[2015-04-21 11:20] samanpwbb commented on #1316
@Forna73 not all data is available at all zoom levels in Mapbox Streets. Railways are visible starting at zoom 12.

To get a better sense of data availability, use x-ray mode:

![screen_shot_2015-04-21_at_1_17_44_pm](https://cloud.githubusercontent.com/assets/108094/7251149/e851a2a4-e828-11e4-9054-d4239dbfa40c.png)

If you want rail at higher zoom levels, you will need to [create your own data sou

[2015-04-21 11:21] #1316 closed, assigned to nobody

[2015-04-21 12:12] Forna73 commented on #1316
Thx... I don't understand why an important feature like railways aren't showed at the same zoom level as motorways.....

And what about the the second question? the trunk type for roads?

thanks

[2015-04-21 13:03] samanpwbb commented on #1316
xray mode is interactive, you can explore by clicking on features:

![screen shot 2015-04-21 at 3 02 50 pm](https://cloud.githubusercontent.com/assets/108094/7252691/9863cb32-e837-11e4-90e1-f4ded5af1886.png)

Documentation for mapbox sources is at https://www.mapbox.com/developers/vector-tiles/mapbox-streets/

[2015-04-21 14:12] samanpwbb commented on #1207
Studio docs have been re-organized, closing.

[2015-04-21 14:12] #1207 closed, assigned to nobody

[2015-04-21 15:52] Forna73 commented on #1316
Sorry but I didn't understand the answer...
I know about the xray mode. infact I discovered that #road has also 'type' feature viewing this.
What I wish to know is How can I style all 'main' roads that are type = trunk

[2015-04-21 16:13] springmeyer commented on #1314
@mnquintana - thanks, good idea

[2015-04-21 16:23] KoGor opened #1317 "UI improvement: better indicate 500kb limit for vector tiles"
Version: mapbox-studio-linux-x64-v0.2.7

In mapbox studio in "footer" we can see some average(mean?) value for vector tiles at particular zoom level. Mapbox api limits us with 500kb individual tile size at any zoom level. But during loading tiles we can see how average value changing and for a while it could exceed 500kb and then became less then limit. It is confusing because we won't see orange

[2015-04-22 04:50] techieshark commented on #1315
@BergWerkGIS according to whatismyproxy.com, "The header: HTTP_X_BLUECOAT_VIA is present", which seems to indicate we're behind a Blue Coat system. We don't use any proxy auto config / PAC scripts. I'm on a Mac, and have the proxy address + my authentication info in the system's Network Preferences.

Chrome uses the system's proxy config automatically. Command line programs I use like git have the

[2015-04-22 09:56] wilhelmberg commented on #1315
@techieshark thanks for providing additional information.

I'm planning on looking into the proxy issue again as soon as I've set up one for testing (hopefully next week).

Although I'm not confident that Blue Coat will be supported any time soon.
Details about Blue Coat were already discussed in #860.

Short version: it seems to have an internal white list of user agents.
If a software doesn't ha

[2015-04-22 10:03] techieshark commented on #1315
@BergWerkGIS Interesting! Thank you for the info and for looking into this. Let me know should you need anything else from my end.

[2015-04-22 13:44] willwhite opened #1319 "TypeError: Cannot set property 'xml' of undefined"
Rapidly loading the new project page, such as http://localhost:3000/new/style?id=tmpstyle:///Users/willwhite/mapbox-studio/node_modules/mapbox-studio-default-style can trigger the following crash:

[code]

![crash](https://cloud.githubusercontent.com/assets/93564/7275835/6f38ae1a-e906-11e4-9921-b22084c28270.gif)

[2015-04-22 14:05] springmeyer commented on #1319
I'm not sure if this hits the same codepath (or even invokes sources) but if it does https://github.com/mapbox/mapbox-studio/issues/1284 might be related.

[2015-04-22 15:01] stvno commented on #1227
I have the same problem, I was trying to create a postgis source from a 16M buildings database and it crashed while trying to preview the datasource. Afterwards I couldn't get it working, I have restarted the computer, removed and reinstalled Mapbox Studio to no effect.

Windows 7 64bit, mapbox studio 0.2.7

error when starting from commandline:
C:\Program Files\mapbox-studio>[7604:0422/165652:INF

[2015-04-22 15:30] stvno commented on #1227
After some experimenting I discovered that removing app.db.compacted did the trick.

First I removed app.db, which made it possible to start mapbox studio once, and produced the above error the next times. Removing app.db.compacted allowed me to use the original app.db (which I had copied elsewhere).

[2015-04-23 14:12] geochetan opened #1320 "Custom Fonts are not displaying in the Fonts list."
I have imported 3 Fonts
1. Libre Baskerville Regular
2. Libre BaskerVille Bold
3. Libre Baskerville Italic

And they are invisible  under **Your Fonts** until you click on it.

![screen shot 2015-04-23 at 7 34 14 pm](https://cloud.githubusercontent.com/assets/6770741/7298867/f60d0302-e9ef-11e4-8e78-a3139c192b2b.png)

[2015-04-23 22:17] TheMapSmith opened #1321 "Packaged app won't authorize"
Just updated my repo and things stopped working a la #1296

Completely deleted the repo and re-cloned and ran `npm install` with apparently no issues. [npm install gist](https://gist.github.com/TheMapSmith/66ebd4288ffbc7a46644)

`npm start` returns "Error: Cannot find module 'mapnik'" [gist](https://gist.github.com/TheMapSmith/e119750f04f8fec9c834)

So I downloaded the packaged app and got a "Conn

[2015-04-23 23:28] willwhite commented on #1321
It looks like there is a double slash in that request URL. Try opening `~/.mapbox-studio/app.db` and check for a trailing slash for the `MapboxAPIAuth` setting. It should be set to `https://api.mapbox.com` and not `https://api.mapbox.com/`.

[2015-04-24 00:27] TheMapSmith commented on #1321
Thanks @willwhite. I'm not sure how to open the `app.db` file, so I fixed the URL in the browser to do the authorization. Now I'm getting an "Authorization Failed" message when I do that, but when I look at my account on mapbox.com I see a new authorization for Mapbox Studio.

Edit: Realized I just had to open it in Atom. Removed the trailing '/' from the `MapboxAPIAuth` setting fixed both the pac

[2015-04-24 08:20] willwhite commented on #1321
Great, glad there was some improvement.

Which specific error are you hitting when you run with `npm start`? Is your repo up-to-date with mapbox-studio master?

[2015-04-24 10:39] TheMapSmith commented on #1321
It appears that trailing slash made all the difference. Doing a fresh clone and `npm install` resolved it.

Thanks!

[2015-04-24 10:39] #1321 closed, assigned to nobody

[2015-04-24 10:43] geohacker commented on #1320
@chtnha thanks for grabbing this. Couple of things to keep in mind when you report a bug -
1. Mention the version of Mapbox Studio.
2. Platform (OS X/Windows/Linux).
3. Steps to reproduce the problem.

[2015-04-24 11:02] TheMapSmith commented on #1291
This was fixed with either a fresh clone and install or one of the updates.

[2015-04-24 11:02] #1291 closed, assigned to nobody

[2015-04-24 11:10] samanpwbb commented on #1291
Great, :+1: - pretty sure this was a webkit bug affecting our modal, where the element was visually hidden but still occupying space on the page.

[2015-04-24 11:28] geochetan commented on #1320
@geohacker  The details are as follows.
1. **Mapbox Studio** Version 0.2.7
2. Platform (**OS X Yosemite**) Version 10.10.3
3. Here there are 4 steps
   - Create a new folder _Fonts_ in **.tm2** (Here I have created **Studio Practice.tm2**) folder of your project.
     ![screen shot 2015-04-24 at 4 44 51 pm](https://cloud.githubusercontent.com/assets/6770741/7317709/4858506a-eaa1-11e4-925f-f1ef5471

[2015-04-24 11:30] springmeyer commented on #1320
See also #1165

[2015-04-24 12:08] geohacker commented on #1320
@springmeyer Interesting point about the cache. Though @chtnha just got his computer setup with Studio.

[2015-04-24 17:11] geografa opened #1322 "Add error handling to 'Change source' form field"
When changing sources in Studio, if a sources have a space in the comma-separated list, no error is thrown.
- [ ] add tip on usage to copy below the form
- [ ] add error handling if a space is used

![no-space](https://cloud.githubusercontent.com/assets/134753/7324251/a11a7e86-ea69-11e4-82ae-a04a80f9fbf2.png)

[2015-04-24 17:16] geografa commented on #1322
Hmm.. looks like this is in place. Testing this now on other browsers.
![fixed](https://cloud.githubusercontent.com/assets/134753/7324368/c312f9c2-ea6a-11e4-9663-3f24257f42a2.png)

[2015-04-24 17:25] ajashton commented on #1322
See #805 - that type of warning is not supported by atom shell.

[2015-04-27 22:50] lyzidiamond commented on #1072
@ljbade I know this is from long long ago, but do you feel like you understand them better? Have you taken a look at the new materials? Would love to hear about the last six months and how your understanding has increased. :smile:

[2015-04-28 04:08] nyurik opened #1323 "Autoload local source changes when editing styles"
When designing a style, I frequently need to change the SQL of the local source. Switching back and forth is very inconvenient, so I could simply open another instance of the studio to edit the source. Yet, the first instance is oblivious of the source changes, and does not show them even if I switch to the source in the first instance (potentially causing me to loose my changes).

I think node's

[2015-04-28 04:24] nyurik commented on #1323
A quick and dirty hack would be to edit resources/app/lib/source.js and comment out line 99: if (cache[id]) return callback(null, cache[id]); - this way CTRL+R can be used to refresh the style result after saving it in the second schema editing instance.

[2015-04-28 04:45] springmeyer commented on #1323
Thanks for the feedback and ideas! Just about to head off for the night so I'll just share a few tips:
- if you access studio via your web browser at http://localhost:3000 (note: it will be port 3001 if something is already running on 3000) then you can use browser tabs to load up sources and styles at the same time (just keep Studio running in the background).
- Another source of caching is a loc

[2015-04-28 14:30] samanpwbb commented on #1323
Wonder if there is a small change we cna make to make teh purpose of the refresh icon clearer in the UI, cc: @amyleew

[2015-04-28 14:52] nyurik commented on #1323
@springmeyer thanks for the browser idea, i should have thought of that! :)  As for refresh button - I seems very useful if mbtiles are remote, or when the actual source of data changes (e.g. SQL db update), but I think dynamic updates are much better (e.g. opening screens side by side, and clicking save instantly updates the other screen).  Thanks for all the replies!!!

[2015-04-28 19:49] marcioaguiar commented on #1080
Can somebody, at least, answer if this is possible? I want to go from tilemill to mapbox-studio, but I didn't find a way to automate my uploads.

[2015-04-28 20:01] yhahn commented on #1080
From your studio directory (if you have a git clone of the repo) you can do the following:

[code]

Where `bridge://<absolute path to your project data.xml>` is the source project you want to export and `mbtiles://<path to the destination mbtiles>`.

You can then programmatically upload this file to the Mapbox API with https://github.com/mapbox/mapbox-upload.

[2015-04-29 12:37] marcioaguiar commented on #1080
Thanks, @yhahn !

[2015-04-29 13:23] lliss opened #1324 "Provide installation instructions for Linux"
Download the latest build zip file from https://www.mapbox.com/mapbox-studio/#linux. Unzip.
Now what?

[2015-04-29 16:06] jmcbroom opened #1325 "crashes with exit code 8 on upload/export to MBTiles"
I'm trying to upload a source with layers from PostGIS -- Mapbox Studio shuts down immediately as soon as I click "upload to Mapbox" or "export to MBTiles". I've tried deleting app.db, ~/.mapbox-studio, and the program itself. any ideas?

[2015-04-29 16:22] springmeyer commented on #1325
This is a bug in the current release. It is fixed in the development code (https://github.com/mapbox/mapbox-studio/pull/966#issuecomment-85589626). So, possible workarounds for you until we find time for a new release:
- Build from source: https://github.com/mapbox/mapbox-studio#install-from-source
- Very carefully edit your `C:\Program Files\mapbox-studio\resources\app\lib\source.js` file with th

[2015-04-29 16:45] jmcbroom commented on #1325
the development version is working - thanks for the quick reply.

[2015-04-29 16:45] #1325 closed, assigned to nobody

[2015-04-30 10:37] ghost opened #1326 "Source data missing"
I created a new source, added a data layer which appeared correctly and can be edited/styled locally.
 However when I upload it to Mapbox and copy the map ID into my style project as a layer, the layer can't be edited and doesn't appear in the data tab.

Thanks

![capture](https://cloud.githubusercontent.com/assets/11286036/7411114/3d8c3544-ef78-11e4-97bb-fdba35475172.jpg)

[2015-04-30 15:08] anandthakker commented on #1080
@yhahn This is helpful; one question about it: when I try this, it fails because the `bridge:` protocol hasn't been registered with tilelive.  How is that supposed to happen?

_EDIT:_ to clarify, it's straightforward to [do this in node code](https://github.com/mapbox/tilelive-bridge#usage); I'm wondering specifically about the CLI.

[2015-04-30 15:12] yhahn commented on #1080
@anandthakker will tilelive.js will auto-register the bridge protocol if it can find tilelive-bridge as an adjacent dependency -- ie. if they're both installed to the same node_modules directory (as they should be in a normal mapbox-studio install) or if they're both installed globally.

[2015-04-30 15:36] anandthakker commented on #1080
@yhahn ah, that makes sense--thanks!

(It turns out the auto-registering was failing because of mapnik binding / node version issues)

[2015-05-01 04:42] jasonferrier opened #1327 "Error: getaddrinfo ENOTFOUND when working offline"
Mapbox Studio v0.2.7 on OS X 10.10.2

Seems to be related to #446

Here's the relevant section from _~/.mapbox-studio/app.log_

[code]

![Mapbox error when there is no internet connection](http://i.imgur.com/UFlYd2e.png)

[2015-05-01 04:55] springmeyer commented on #1327
This should be fixed by https://github.com/mapbox/mapbox-studio/pull/1318

[2015-05-01 05:05] jasonferrier commented on #1327
Thanks, I'm subscribed to #1318, so I'll close this for now.

[2015-05-01 05:05] #1327 closed, assigned to nobody

[2015-05-01 18:58] nyurik opened #1328 "Update coordinates when draging"
Please update coordinates when dragging the map, not after the drag is finished. Makes navigation much easier in some cases.

[2015-05-01 19:00] nyurik opened #1329 "Coordinate ordering is inconsistent"
Coordinates in the upper right corner are in one order, but if i copy them and search the map with them, they get reversed. Please make them consistent when copy/pasting. Thanks!

[2015-05-01 20:46] springmeyer commented on #1329
@amyleew noticed this too and is planning to fix. Thanks for creating a ticket!

[2015-05-02 03:17] jak2030 opened #1330 "Documentation for exporting mbtiles to png/jpg/json rather than pbf"
I've failed to find documentation that explains how to specify the kind of format when exporting to `.mbtiles`. I am attempting to implement a workflow of PostGIS --> Mapbox Studio --> Tilestache, but
- Tilestache doesn't support `.pbf`
- Tilemill doesn't work on my computer (OS X 10.10.2)

If this is a simple GUI issue, I apologize for missing an explanation about how to do this! Otherwise, I wou

[2015-05-02 03:38] jmoe commented on #727
That link seems broken now. Is viewing the markdown in the PR the only option now?

[2015-05-02 03:40] gabrielflorit commented on #727
@jmoe see here: https://www.mapbox.com/guides/style-quickstart/#utfgrid

[2015-05-02 05:08] jmoe commented on #727
That's great, thanks!

[2015-05-04 12:20] danstowell commented on #1324
I am having this problem too. Inside the zip file I see some DLLs, some folders with JS files. I can't work out how to run the darn thing.

Are there files missing from the download? I have no idea. The readme on the github is missing from the linux download so maybe there are more things missing.

[2015-05-04 14:34] Forna73 opened #1331 "Rivers' Labels"
Hi!
I'd need  rivers' and lakes' labels at zoom starting from 10, 11 and 12. Is it possible to get them?

[2015-05-04 15:07] #1330 closed, assigned to nobody

[2015-05-04 16:29] wilhelmberg commented on #1326
@Fraser91

First thing would be to check at https://www.mapbox.com/uploads/ if the upload was successful or it is still being processed.

Also, if the upload was successful you should see the map ID in  Mapbox Studio above the `Upload to Mapbox` button, e.g.:

![image](https://cloud.githubusercontent.com/assets/4549888/7457229/3eb44c70-f28b-11e4-95b5-63988d752937.png)

[2015-05-04 22:52] Alessandro-Barbieri commented on #1324
I think

cd mapbox-studio
~~npm install
npm start~~

[2015-05-05 06:53] danstowell commented on #1324
@Alessandro-Barbieri sorry but that's not right. `npm install` fails, complaining that there's no `package.json`.

I actually discovered I need to execute `./atom`. Not obvious.

[2015-05-06 11:13] ljbade commented on #1072
Hmm I haven't had a chance to play with studio for while but I eventually worked out how all the pieces fitted.

[2015-05-07 15:10] rtburg opened #1332 "Install mapbox-studio-darwin-x64-v0.2.7 fails with QGIS open"
Download and initial open of mapbox-studio-darwin-x64-v0.2.7 on OSX 10.10.23 failed when QGIS 2.6.1 was open.
Mapbox loads correctly when QGIS closed.
Opening QGIS after Mapbox is open causes no problems. Both remain open.
On subsequent opening of Mapbox when QGIS is open all is well.

[2015-05-07 16:11] springmeyer commented on #1332
Interesting - thanks for reporting. This is certainly unexpected. Can you say more about how it "failed". Did the mapbox studio installer run without errors but the app just did not start?

[2015-05-07 18:03] springmeyer opened #1333 "Test failures around semver"
Need to re-tag a bunch of modules that depend on node-pre-gyp that has an old semver version. This will take some time to trickle in, so going to comment these test in the meantime to unblock people that are hitting this.

[code]

[2015-05-07 18:14] springmeyer commented on #1333
- [ ] node-gdal: https://github.com/naturalatlas/node-gdal/issues/105
- [x] node-srs: https://github.com/mapbox/node-srs/issues/51
- [x] mapbox-studio: ef1d591
- [x] express: b706005

[2015-05-07 18:57] springmeyer opened #1335 "Test failure with latest mb-pages branch"
[code]

This looks very similiar to what I though I fixed with the help of @GretaCB in https://github.com/mapbox/mapbox-studio/commit/c0730db6223f4edbfb23d891f680e8632297474a. It was a fix followup to https://github.com/mapbox/mapbox-studio/commit/1ccf37cb1701c753a711c0484aa65c34476df08d

[2015-05-07 19:01] springmeyer commented on #1335
Okay, confirmed that this is because node-mapnik 3.2.0 does not yet have this fix from upstream mapnik: https://github.com/mapnik/mapnik/issues/2745. So, this test will be failing until we upgrade to node-mapnik 3.3.0: https://github.com/mapnik/node-mapnik/milestones/v3.3.0

[2015-05-07 19:10] rtburg commented on #1332
Sorry, yes. The installer ran without errors, the app started with its gray screen but then crashed within a few seconds. Of course, it may have had nothing to do with QGIS.

[2015-05-07 20:18] gagecarto commented on #830
@yhahn - looking for the link you reference but its broken.

[2015-05-07 20:45] springmeyer commented on #830
@gagecarto moved to https://www.mapbox.com/guides/style-manual/#custom-layer-order /cc @amyleew

[2015-05-07 21:05] jeromoney opened #1337 "Labels with UTFGrid interactivity are placed in different locations in Studio vs. Online"
I followed the [instructions on adding labels](https://www.mapbox.com/guides/style-quickstart/#utfgrid) to my map. In Studio, they show up as the instructions display, right where the user clicked. However, the online map shows them in the upper right corner. The HTML source shows "pin-topright" so it seems to be doing what it's told. Not sure if there is a way to override this behavior in the HTM

[2015-05-08 02:44] springmeyer opened #1339 "Upgrade to Electron"
We should upgrade to Electon (aka newest atom-shell). Reasons include:
- Finally Electron provides 64 bit windows versions
- Release notes mention lots of fixed crashes

[2015-05-08 03:46] #1335 closed, assigned to nobody

[2015-05-08 13:06] stvno opened #1340 "maxzoom-slider still has max 16"
In mapbox-studio 0.2.7 win64 the maxzoom slider for a new source only goes to 16. The changelog for 0.2.7 states 'Update minzoom / maxzoom maximium slider value to 16 from 22', but if I check the code *) the maximum is still 16, which prevents users from making tilesets beyond zoomlevel 16.

*) https://github.com/mapbox/mapbox-studio/blob/mb-pages/templates/source.html#L94

[2015-05-08 13:20] stvno commented on #1340
Oh never mind I read it the wrong way around, I assumed the idea was to increase the maxzoom to 22, but instead it was decreased to 16. Any particular reason to disallow the higher zoomlevels?

[2015-05-08 13:20] #1340 closed, assigned to nobody

[2015-05-08 15:08] Alessandro-Barbieri opened #1341 "fail to build from source on gentoo"
On gentoo I cloned the repository and the launched the command npm install --build-from-source inside the dir, but fails.
Output here
https://gist.github.com/Alessandro-Barbieri/ce9039621a099ce6c666

[2015-05-08 15:37] springmeyer commented on #1341
Gentoo is not a platform we've packaged binaries for and so you are correct to pass `--build-from-source`. It is failing because you don't have Mapnik installed. I recommend running on Ubuntu Trusty because then you don't need the `--build-from-source` and you don't need Mapnik installed. If you are determined to run on Gentoo, then first start by building Mapnik. Create issues at https://github.c

[2015-05-08 15:37] #1341 closed, assigned to nobody

[2015-05-08 16:25] ajashton commented on #1340
Most data should not need a maxzoom higher than 16 due to [overzooming](https://www.mapbox.com/guides/source-manual/#overzooming). Even if you want to display the data at higher zoom levels, most street-level map data only needs a maxzoom of 14 or 15.

If you really do need a higher maxzoom you can manually set one in data.yml, but we've updated the limits in the UI to cut down on the number of da

[2015-05-08 16:28] springmeyer commented on #1340
What about adding this to the changelog and docs /cc @amyleew

[2015-05-08 16:52] aaronlidman opened #1342 "Composite sources should tolerate spaces"
![screen shot 2015-05-08 at 12 52 10 pm](https://cloud.githubusercontent.com/assets/58878/7541162/14106e1a-f581-11e4-912a-af640edb8e95.png)

Just a burr that gets me every time. The form for creating a new project should tolerate spaces when a user specifies multiple sources.

[2015-05-08 17:38] springmeyer commented on #1342
:+1:

[2015-05-08 18:23] Eldrac opened #1344 "[Windows] Adding datasource from root of C drive failing"
Using Mapbox Studio 0.2.7 on Windows 7.

For ease of importing I just dropped a .geojson file I wanted to upload at the root of my C drive, eg C:\foo.geojson. Importing there failed with the error "Error: Error obtaining layer names". As soon as I moved the same file to a deeper directory the upload went through fine. Had the same error with a .csv file I tried to upload as well. Not sure if OS sp

[2015-05-08 18:46] springmeyer commented on #1344
Thanks for the report. I think @BergWerkGIS diagnosed the cause the other day, but I'm not clear on what the needed fix is. /cc @BergWerkGIS - is this ticketed yet?

[2015-05-08 19:35] lyzidiamond commented on #1342
This is something that comes up in HelpScout quite a bit too.

[2015-05-08 19:53] springmeyer commented on #805
@camilleanne @yhahn - any thoughts on what is lowest hanging and feasible to move on here? #1342 reminds me of how nice it would be to fix this so that errors are not silent.

[2015-05-08 19:54] springmeyer commented on #1342
Thanks @lyzidiamond - see also #805 which is a compounding issue atm.

[2015-05-08 20:00] ajashton opened #1345 "test/middleware.test.js segfaults on newStyle"
`middleware.test.js` runs fine for me in `v0.2.7` but with the latest `mb-pages` I'm hitting a segmentation fault at newStyle:

[code]

[2015-05-08 20:53] ajashton commented on #1345
Had conflicting versions of node-mapnik thx to caching. `rm -r node_modules; npm cache clean; npm install` fixed it.

[2015-05-08 20:53] #1345 closed, assigned to nobody

[2015-05-09 10:10] stvno commented on #1340
I thought so too, but setting the maxzoom in data.yml or even data.xml is quite tricky because everytime you open the source in mapbox-studio the maxzoom is overwritten by the application. In the end I modified template/source.html with a higher maxzoom to prevent it from overwriting the maxzoom in data.yml

I'm aware that with overzooming zoomlevel 16 is normally fine, it was just a very specific

[2015-05-09 12:05] lliss commented on #1324
I actually was not able to run the atom file for some reason. I had ended up manually running the server by going into `rousources/app` and then running the main js file via node:
`node index.js` which runs a server on localhost:300 and allowed me to use the application via my browser.

[2015-05-11 17:14] amyleew commented on #1340
@stvno - Make sure Studio is closed when you update your data.yml. When you restart Studio there should be no overwrite issues.

[2015-05-11 22:59] peterqliu opened #1346 "Need dialog when unable to cull latlng from CSV's"
When trying to upload [a CSV](https://docs.google.com/spreadsheets/d/1xLqCN8r3wYFAurUqENFqWheEOkb32P_jcYwMGqykZ-w/edit#gid=0) with latitude and longitude together in a single column(`the_geom`), Studio fails to parse the location data. Needs an error dialog here.

[2015-05-12 01:59] ghost commented on #1315
Bluecoat NTLM here. Mapbox Studio is logging a 500 error. Chrome/Chromium should have no issues authenticating with our proxy (I'm posting from a Chrome session now).

[code]

And in the log:

[code]

Notes:
Users here _do not_ know the proxy address, username or password. The proxy address is done via DHCP/PAC/Group Policy and credentials are grabbed using SSPI. Again, Chrome/Chromium should have

[2015-05-12 19:23] urbanhop commented on #1190
Same problem here.

Win 8.1 clean install
VS CTP 5 and then update to
VS CTP 6 (RC)

Diagnosis:

**1. running vendor/node index.js causes this exception message box:**

node.exe - System Error

The program can't start because APPCRT140.dll is missing from your computer. Try reinstalling the program to fix this problem.

**2. I have these 2 entries:**

![vc red](https://cloud.githubusercontent.com/

[2015-05-13 00:04] amyleew commented on #1329
@nyurik - Fix is merged with `mb-pages` and will be included in v0.2.8 release.

[2015-05-13 00:04] #1329 closed, assigned to nobody

[2015-05-13 03:49] amyleew opened #1351 "Source mode docs in UI"
Add **Docs** tab with reference list in Studio under **Settings**, similar to in _style mode_ with CartoCSS reference. Include basic definitions of PostGIS database fields, example SQL code snippets for queries, and general trouble-shooting tips.

![image](https://cloud.githubusercontent.com/assets/4587826/5923016/2a9cbd80-a61e-11e4-9d6f-a38f65be76b0.png)

/cc @springmeyer

[2015-05-13 06:45] wilhelmberg commented on #1190
@urbanhop

Did you update to CTP 6 or RC?
RC is the lastest at the moment.

Problem is, that our provided binaries are still being built with VS2014 CTP4, requiring an install of VS2014 CTP4 or the CTP4 vcredist.

As there is no stable release of VS2015 yet, an install of a newer version, e.g. VS2015 RC1, automatically removes all previously installed 2014/2015 vcredists in the background, thus re

[2015-05-13 07:05] wilhelmberg commented on #1315
@voltagex sorry I missed your post, could you try to just start Mabox Studio (don't do anything there) and then go to Chrome http://localhost:3000 ?
Any success?

[2015-05-13 07:15] wilhelmberg commented on #1315
@voltagex
Would be great if you could try this proxy-enabled version of Mapbox Studio linked here:
https://github.com/mapbox/mapbox-studio/issues/860#issuecomment-65508867
and tell me, if it works.

But beware, it is quite old (Dec 2014).

At the moment, I don't see any chance to support Bluecoat in the near future as one of its features seems to be blocking programs with uncommon user agents.
Map

[2015-05-13 07:21] ghost commented on #1315
Will try it tomorrow. It's not even connecting to the proxy at this point
but I don't believe user agent filtering is in effect where I am.

[2015-05-13 09:42] urbanhop commented on #1190
Sorry, I am on RC now, so I guess it was:

Win 8.1 clean install
VS CTP 5 (maybe, not sure)
VS CTP 6
VS RC

Got Mapbox Studio running in a Hyper-V machine and will wait until things stabilize. Visual C++ libraries at the time of new releases are a hassle, for me you dont need to hurry fixing this issue.

Btw, find it cool to use an electron based application, looks and feels good.

[2015-05-13 09:46] wilhelmberg commented on #1190
@urbanhop
great that you have the option to use a Hyper-V machine.
Microsoft provided us with quite a bumpy ride going through all those CTPs.
Hope that things have stabilized with the RC and that RTM will not provide new challenges.

[2015-05-14 01:08] ghost commented on #1315
@BergWerkGIS this "works" - as in it hits my local chaining proxy (which is handling NTLM auth) and gets to the OAuth screen. Is it possible to provide a newer build? It goes back to the first Connect screen after I hit "Allow".

[2015-05-14 01:11] techieshark commented on #1315
@BergWerkGIS bummer, but thanks for looking into this.

Bluecoat's strategy seems better at preventing people from using legitimate (but non standard) tools like Mapbox Studio rather than enforcing real security - it sounds like if a malicious program wanted to get through the firewall, it'd just change its user agent from 'Terminator Virus' or whatever to 'Internet Explorer'.

[2015-05-14 01:17] ghost commented on #1315
My solution is to use Fiddler to chain to the corporate proxy. It can
rewrite user agents if need be.

[2015-05-14 06:50] wilhelmberg commented on #1315
Yes, I'm planning on another deep dive into the proxy problem during the coming weeks.
But, at the moment I'm not able to specify an exact time frame.

[2015-05-16 00:08] geografa opened #1354 "Point 'Documentation' link in Docs modal to guides"
Point 'Documentation' link in Docs modal to [guides](https://www.mapbox.com/guides/getting-started-studio/)

![mapbox_studio](https://cloud.githubusercontent.com/assets/134753/7663734/e5e4e076-fb24-11e4-8b4d-d32507ef079b.png)

Currently goes to https://www.mapbox.com/mapbox-studio/

[2015-05-17 16:18] rakucmr opened #1355 "how to export mbtiles that containt vector tiles"
I'm trying to import shapefiles from http://download.geofabrik.de/europe.html, what style should I use?
After import I want to export them in mbtiles format, but the tiles should be vector so I can use them with your mapbox-gl javascript version.
Can I do this? Or do you have other way to export vector mbtiles for a hole country?

[2015-05-18 11:22] 0004c commented on #1339
Also you have to upgrade to io.js, because Electron based on this node fork. However as we know, Node Foundation and io.js will be merged soon https://github.com/nodejs/io.js

[2015-05-18 14:39] amyleew commented on #1355
@raku The simpliest process: [download your data](http://download.geofabrik.de/europe.html) in `.shp.zip` format then upload the `.shp.zip` directly to your Mapbox account [uploads page](https://www.mapbox.com/uploads/) or use [Mapbox Upload API](https://github.com/mapbox/mapbox-upload) via the command line. This will convert your data into vector tiles. After your data is successfully, use the pr

[2015-05-19 18:57] #1354 closed, assigned to amyleew

[2015-05-20 14:28] tmcw opened #1357 "Upload validate before uploading"
https://github.com/mapbox/mapbox-upload-validate/blob/dead4b7fd72ff98f1a6f90e44e57b3cbc09a8498/lib/validators/mbtiles.js#L94-L97

Could we run this check before uploading from mapbox-studio so that we upload fewer tilesets that will immediately be caught by mapbox-upload-validate

[2015-05-21 13:15] wilhelmberg commented on #878
@stephankn There's a workaround, if you have a keyboard with a numeric keypad, you can use `Alt` codes to create the missing braces:
- Press (and keep pressed) `Alt`
- Type numeric code of character you want
- Release `Alt`

`Alt` + `123` => `{`
`Alt` + `125` => `}`
`Alt` + `91` => `[`
`Alt` + `93` => `]`

---

Progress report:
- I concentrated on `}` (works) and `{` (doesn't work)
- same problem

[2015-05-21 21:29] fontophilic commented on #860
Hi there,

I was able to download and open the proxy enabled app from the command line, sign in and get asked to authorize mapbox. Great! Click accept, and it spits me back to the "Connect to your Mapbox
account to get started." screen. Over and over again. My account dashboard on Mapbox.com doesn't show any connected apps.

Here's my app.log

<Thu, 21 May 2015 20:39:43 GMT> Mapbox Studio @ http:/

[2015-05-22 11:09] strech345 commented on #1060
i need it too!
wo have some pools to install ;-)

[2015-05-22 12:26] MathiasVersichele opened #1360 "#road[type='trunk_link'] selector not working"
The following section in my cartocss should style trunk_link segments in the same way as trunk segments:

//Trunks
# road[type='trunk'], #bridge[type='trunk'], #road[type='trunk_link'], #bridge[type='trunk_link'] {

  line-color: @orange_dark;
  [zoom>=5] {line-width: 1;}
  [zoom>=14] {line-width: 1.5;}
  [zoom>=16] {line-width: 2;}
}
# tunnel[type='trunk'], #tunnel[type='trunk_link'] {

  line-co

[2015-05-22 15:36] MarkWS opened #1361 "after updating to 2.7 MBS fails to start"
after updating to 2.7 MBS is failing to start-up. (just the splash screen then it's gone)
Win 7 Pro 64bit
any ideas?

[2015-05-22 15:55] wilhelmberg commented on #1361
@MarkWS

Could you post your `app.log`?
And [start Mapbox Studio from the commandline](https://github.com/mapbox/mapbox-studio/wiki/Windows-Troubleshooting#start-mapbox-studio-from-the-commandline) (both ways) to see, if we can get more information about what's failing?

[2015-05-22 16:08] MarkWS commented on #1361
did not work from the command line either.
whats the best way to send the app.log, it's rather long.

[2015-05-22 16:19] wilhelmberg commented on #1361
Yes, this is expected, but did you see any additional information on the command line?
Any difference in using
- `mapbox-studio.exe` and the program coming up, or
- `vendor\node index` and then going to http://localhost:3000 in your browser?

Every line should have time stamp.
You can remove old entries from before it started to fail and post only the ones that are current.

[2015-05-22 16:31] MarkWS commented on #1361
thanks Wilhelm,
this is what I'm getting from the command line;
![cmd](https://cloud.githubusercontent.com/assets/8440284/7775132/a4d69e82-006d-11e5-8eff-59b295297851.JPG)

[2015-05-22 16:32] MarkWS commented on #1361
as for the app.log, the last entry is from yesterday when MBS worked and before we updated, which was this morning:
<Thu, 21 May 2015 16:54:55 GMT> Mapbox Studio @ http://localhost:3000/

[2015-05-22 16:33] MarkWS commented on #1361
sorry, here it is un-formated:
Thu, 21 May 2015 16:54:55 GMT> Mapbox Studio @ http://localhost:3000/

[2015-05-22 19:19] MarkWS commented on #1361
have removed 2.7 and re-loaded 2.6 and we are still having the same problem.
There is no entry in the app.log so it's not even running through the start-up process enough to write to the app.log

[2015-05-22 22:51] ajashton commented on #1360
How are you styling normal streets? Is it possible that style is overriding the trunk_link style?

The OSM Bright 2 project is working as intended - it has no special style for trunk_link, they are meant to look like normal roads.

[2015-05-23 09:28] wilhelmberg commented on #1361
Please verify, that no `mapbox-studio.exe` or `node.exe` processes are running.

Then, via command line:
- `cd "C:\Program Files\mapbox-studio\resources\app"`
- `vendor\node index.js`

Wait a few seconds.

Do you see `Mapbox Studio @ http://localhost:3000/`?

**If yes:**
- open your browser
- go to `http://localhost:3000/`
- does it work?

**If no:**
- share the console output
- then go to `Contro

[2015-05-23 09:34] wilhelmberg commented on #860
@fontophilic could you share some information about your proxy?
e.g. software and version used?

[2015-05-23 16:43] MarkWS commented on #1361
Thanks Wilhelm.
it did not work so here is a screen shot of the command prompt:
![capture](https://cloud.githubusercontent.com/assets/8440284/7784973/32213d36-0138-11e5-87ff-5267e0641758.JPG)

and a screen shot of Visual C++ we have loaded:
![capture](https://cloud.githubusercontent.com/assets/8440284/7784976/5e0dbc9e-0138-11e5-9dca-2964022b538f.JPG)

Thanks for your help.
Mark

[2015-05-23 19:41] ebegaj opened #1362 "Can't see my marks on the map"
I opened a blank source, added a CSV file and did all of the directions that i learned from your earthquake tutorial. I uploaded it to MapBox (still some issues with the 100%), opened a new project with a Map Style and changed the source to the one i uploaded and save.

At this opened i couldn't figure out why they didn't appear on the map, so i created a new stylesheet and added the same CartoCSS

[2015-05-23 20:01] springmeyer commented on #1362
I tried your file locally and things look okay:

![screen shot 2015-05-23 at 12 59 53 pm](https://cloud.githubusercontent.com/assets/20300/7785600/b23d7ee0-014b-11e5-8fdc-2b8eb14b8e9d.png)

I'm running the development build of studio installed like https://github.com/mapbox/mapbox-studio#install-from-source. It may be that this is a bug you are hitting that is fixed and just needs to trickle into

[2015-05-23 20:05] ebegaj commented on #1362
Without a map style it works. But i need a map behind them so i can see all the streets.

[2015-05-23 20:28] springmeyer opened #1363 "Improve /new/style behavior when source is not ready"
A major trap is:
- create a new source with small data to try out studio
- uploads to mapbox.com quickly
- go to create a new style from that remote source
- ERROR: you'll hit a blue page with:

![screen shot 2015-05-23 at 1 25 43 pm](https://cloud.githubusercontent.com/assets/20300/7785667/3fcf730a-014f-11e5-885a-5a51791a4c81.png)

The user might think they did something wrong, and waste time tro

[2015-05-23 21:44] rclark commented on #1363
Studio can poll an API endpoint for information about the user's upload that is being processed, and keep polling until the endpoint tells you it is complete. @samanpwbb has worked on this flow in other places and might be able to drop something into studio relatively quickly?

[2015-05-23 22:13] springmeyer commented on #1362
/cc @geografa can help on tuesday.

[2015-05-23 22:15] ebegaj commented on #1362
Alright thank you.

[2015-05-24 12:11] MathiasVersichele commented on #1360
That was indeed the problem. Should really stop mixing the class and type attributes of the road layer... Thanks !

[2015-05-25 19:18] galkamax commented on #727
I get the feeling I am just overlooking something simple, but I don't see a project.yml file. My .tm2source directory has only a data.yml file, which does not have an "interactivity_layer:" parameter.

I tried adding it anyway, but that does not seem to have worked.

Any suggestions?

Thanks.

[2015-05-26 14:06] amyleew commented on #727
@galkamax - You'll find the project.yml and `interactivity_layer` in the map style directory's `.tm2` folder. The UTFgrid is defined by map _style_ instead of in the data _source_ which is the `.tm2source` directory.

[2015-05-26 15:47] galkamax commented on #727
Completely missed that there were two directories. Thanks a lot for the quick response.

[2015-05-26 21:38] wilhelmberg commented on #1362
@ebegaj
Have you styled your points correctly as markers? e.g.

[code]

![image](https://cloud.githubusercontent.com/assets/4549888/7824054/573c7eb2-0400-11e5-8d1e-9fc5c99fcd12.png)

[2015-05-26 21:51] ebegaj commented on #1362
@BergWerkGIS wow!! No i haven't. So what you did was to replace the earthquake CartoCSS with:

#TrafficSignals {
  marker-width: 10;
}

?

[2015-05-27 09:39] wilhelmberg commented on #1361
@MarkWS
Hm, that's strange, everything looks fine (except the error of course).

There are only two things left I can think of at the moment:

1.)
- as always, make sure, that Mapbox Studio or a part of it is not running in the background (either reboot or check for mapbox-studio.exe and node.exe processes and terminate them).
- download https://mapbox.s3.amazonaws.com/windows-builds/try-bundled-v

[2015-05-27 10:43] wilhelmberg commented on #1362
@ebegaj
I started from scratch and didn't use the earthquake example.

With these steps you should be able to reproduce (abridged version of https://www.mapbox.com/guides/source-quickstart/):
- new source project
- add `TrafficSignals.csv`
- save
- settings
  - set `Minzoom` to e.g. `6` as at lower zoom level it doesn't really make sense to have data available
  - Upload to Mapbox
- goto https://w

[2015-05-27 15:29] meule commented on #1009
@ajashton Thank you for your answer. It's not something we wanted to hear, but it's better than nothing.

I'm excited with your styles and want to use them for my own Vector Tile Server based on OSM data. However it's impossible now.

Could you please share some mapping rules from OSM tags/sizes to Classes and Types (in any form)? Or you specially made those styles to use with Mapbox services only

[2015-05-27 18:25] ebegaj commented on #1362
@BergWerkGIS
You sir are my hero! Thank you!

[2015-05-27 20:51] derekmpeterson opened #1364 "Export does not honor manual PostGIS extents for layer"
PostGIS source layers have an option for "Extent", allowing the user to crop the extent of the layer to be different than that of the source table.  This seems to work perfectly within the tool.

However, when exporting vector tiles, this value is ignored, and the process queries the table to find the dataset's extents:
    SELECT ST_XMin(ext),ST_YMin(ext),ST_XMax(ext),ST_YMax(ext) FROM (SELECT ST

[2015-05-27 21:02] derekmpeterson commented on #1364
I should note that the reason I noticed this is simply because my "fedlands" dataset is so massive (containing polys for the entire USA) that the export process never moves beyond 0.1%.

[2015-05-28 14:09] MarkWS commented on #1361
What if we just remove the .mapbox-studio located in the \users folder, I think that worked last time this happened.

Then just need to re-login to the Mapbox site and reload our maps, but that’s not that big a problem.

From: Wilhelm Berg [mailto:notifications@github.com]
Sent: Wednesday, May 27, 2015 3:39 AM
To: mapbox/mapbox-studio
Cc: MarkWS
Subject: Re: [mapbox-studio] after updating to 2.7 M

[2015-05-28 14:54] wilhelmberg commented on #1361
Of course, that's worth a try.
Let me know, if it helped.

[2015-05-28 15:23] MarkWS commented on #1361
this worked.
so I copied out (just in case) the .mapbox-studio folder out of the \users dir.
then restarted MBS and accepted the log-in credentials. Then I had to go and re-load the projects once MBS started, not a big deal as we only have 8 active map projects.

[2015-05-28 15:45] wilhelmberg commented on #1361
Very strange. Can't image why upgrading would destroy `.mapbox-studio` folder.

Could you share the faulty `.mapbox-studio` folder, that I can replicate and pinpoint the cause?
wilhelm@mapbox.com

[2015-05-28 15:46] wilhelmberg commented on #1361
Great, that this worked!

[2015-05-28 15:50] MarkWS commented on #1361
I sure can, how should I share it? Do you have an e-mail I can just zip and send it over.

[2015-05-28 17:11] wilhelmberg commented on #1361
Yes, I do have an email. See above :smile:

[2015-05-28 17:28] MarkWS commented on #1361
Okay, it’s attached.

Mark

From: Wilhelm Berg [mailto:notifications@github.com]
Sent: Thursday, May 28, 2015 11:12 AM
To: mapbox/mapbox-studio
Cc: MarkWS
Subject: Re: [mapbox-studio] after updating to 2.7 MBS fails to start (#1361)

Yes, I do have an email. See above   <https://assets-cdn.github.com/images/icons/emoji/unicode/1f604.png>

—
Reply to this email directly or view it on GitHub <https:

[2015-05-29 08:50] tshelianthus opened #1365 "Timed out after 5000ms"

[2015-05-29 08:50] tshelianthus opened #1366 "Timed out after 5000ms"
Timed out after 5000ms

[2015-05-29 10:37] wilhelmberg commented on #1361
@MarkWS you obviously started two instances of Mapbox Studio at the same time.
Sometimes they interfere and leave a `app.db.compacted` behind in `.mapbox-studio` folder.

After deleting `app.db.compacted` I could start without problems.

[2015-05-29 10:37] #1361 closed, assigned to nobody

[2015-05-29 16:06] MarkWS commented on #1361
so if this happens again just removing the app.db.compacted would do the trick?

If so that’s great, thanks Wilhelm.

Mark

From: Wilhelm Berg [mailto:notifications@github.com]
Sent: Friday, May 29, 2015 4:38 AM
To: mapbox/mapbox-studio
Cc: MarkWS
Subject: Re: [mapbox-studio] after updating to 2.7 MBS fails to start (#1361)

@MarkWS https://github.com/MarkWS  you obviously started two instances of

[2015-05-29 16:40] wilhelmberg commented on #1361
Yes, this is one of the first things to check.
Sorry, that I missed it, but somehow I thought, I already had suggested that, but rereading this issue proves me wrong.

[2015-05-29 17:05] geotrek commented on #1366
any resolution?

[2015-05-31 12:22] wilhelmberg commented on #1366
@tshelianthus @geotrek
Are you behind a proxy?

[2015-05-31 12:33] wilhelmberg commented on #1365
see https://github.com/mapbox/mapbox-studio/issues/1366

[2015-05-31 12:33] #1365 closed, assigned to nobody

[2015-05-31 14:16] wilhelmberg commented on #1118
Stale, closing.

[2015-05-31 14:16] #1118 closed, assigned to nobody

[2015-05-31 14:25] #969 closed, assigned to nobody

[2015-05-31 14:29] wilhelmberg commented on #627
Nope, works.

[2015-05-31 14:29] #627 closed, assigned to nobody

[2015-05-31 14:37] wilhelmberg commented on #1097
Solution is to display some points on all zoomlevels.
How to control point density:
https://www.mapbox.com/guides/postgis-manual/#controlling-label-density

[2015-05-31 14:37] #1097 closed, assigned to nobody

[2015-06-01 15:40] geotrek commented on #1366
Yes, we tried the proxy enabled.exe and that didn't work. We had the regular .exe. 0.2.7 working, and then the timed out after 5000ms error just started showing up?

[2015-06-02 08:37] kmandov opened #1367 "Missing "orange" warning while reaching the tile size limit"
Hi,

I am uploading a custom data source to Mapbox.

According to Mapbox Studio the tiles are within the 500K limit for zoom levels(11-16). The orange warning is missing:
![no-warning](https://cloud.githubusercontent.com/assets/2805297/7931605/aa2cefd4-091a-11e5-8162-a33ded0746f2.PNG)

...but when I actually upload the data source, there's an error:
![limit-exceeeded](https://cloud.githubuserconte

[2015-06-02 15:16] bkfunk opened #1368 "In Mapbox Studio, when adding new layer, can't browse to network drives on Windows"
When looking for source files to add as new layers, the browse window only allows you to go to the C root, not to other drives.

[2015-06-02 15:17] bkfunk opened #1369 "After running Mapbox studio as administrator, program crashes and won't open again"
I tried running Mapbox studio as an administrator on Windows 7, and the program opened but then immediately quit. From then on, I couldn't open it even normally.

[2015-06-03 06:44] georgbachmann opened #1370 "Multiple local sources"
Am I missing something or is it just not possible to have multiple local sources? I have a vector source and like to add some rasters but that's not allowed in one source. And I can't figure out how to add a second local source to my project?!?
Isn't this possible?

[2015-06-03 18:20] titaozge opened #1371 "Uploading my KML file"
Hi,
When I upload my KML file, it shows the points with an order which is not correct.
![screen shot 2015-06-03 at 21 19 59](https://cloud.githubusercontent.com/assets/12201378/7967963/54357020-0a36-11e5-9e56-58d43d7923ab.png)

[2015-06-04 14:45] node4 opened #1372 "Support proxy authentication (Can't connect to the MapBox API)"
Have you setup proxy authentication yet? I am attaching the screenshot.
![2015-06-04 10_44_11-mapbox studio](https://cloud.githubusercontent.com/assets/12520599/7986677/d5d7860c-0aa6-11e5-9ea0-fb3427359e33.png)

[2015-06-04 15:21] springmeyer commented on #1372
Proxy support is still in development and not in an official release. See https://github.com/mapbox/mapbox-studio/issues/860#issuecomment-73123122 for the latest dev build to help test.

[2015-06-04 15:21] #1372 closed, assigned to nobody

[2015-06-05 08:31] wilhelmberg commented on #1369
@bkfunk
- Make sure via Task Manger that there are no `mapbox-studio.exe` or `node.exe` processes running.
- Then delete folder `%USERPROFILE%\.mapbox-studio` (<- paste this into the address bar of Explorer).
- Start Mapbox Studio.

Does it work now?

[2015-06-05 08:36] wilhelmberg commented on #1368
Accessing other drives is in the works and should be available with the next release.

In the meantime you could try to mount that drive into a folder on `C:`, ([Technet: Assign a mount point folder path to a drive](https://technet.microsoft.com/en-us/library/cc753321.aspx))

[2015-06-05 08:45] wilhelmberg commented on #1371
@titaozge
What do you mean with `an order which is not correct`?
What did you expect and what did you get?

Could you share your KML, that we can replicate?

[2015-06-05 09:18] wilhelmberg commented on #1367
@kmandov
It seems, the size display is a mean value of all the currently visible tiles.
Pan around and see how the values change.

I assume you are using some kind of file (shape, geojson, kml, ...) as your custom data source.
These having the disadvantage that a lot of data gets stuffed into a single tile at lower zoom levels, as all data is always available.
At zoom 11 these footprints cannot ev

[2015-06-05 09:42] wilhelmberg commented on #1367
refs #1317

I think the tile size display is broken.

/cc @camilleanne maybe here: https://github.com/mapbox/mapbox-studio/commit/639c0cb9575e5d1c62da25474bc1726339705f79

---

13MB GeoJSON with ~14,000 features.

**Zoom level 14**, I expect to see bigger tile sizes and warning:

![image](https://cloud.githubusercontent.com/assets/4549888/8003136/240870d8-0b75-11e5-8abe-5eba12114691.png)

**Zoom l

[2015-06-05 14:39] kmandov commented on #1367
Thanks @BergWerkGIS

I am indeed using a shapefile and it is true that at smaller zoom levels there is a lot of data stuffed into single tiles.

What I find strange is that I don't see a warning from Mapbox Studio about the reached limit. Is that a bug or I am missing something?

[2015-06-05 14:46] kmandov commented on #1370
It is not possible to combine local sources in Mapbox Studio. In order to "composite" (combine) sources, you need to upload them.

Mapbox Studio accepts mapbox ids or a single tilejson url.

A workaround would be to use https://github.com/tnightingale/tilelive-vector-composite and tessera to combine different local sources and expose them via single tilejson url.
See here: https://github.com/mapbo

[2015-06-05 15:21] georgbachmann commented on #1370
Problem is that my GeoTiffs are 100GB+ ... But I'll have a look at the tilelive-vector-composite. Thanks!

[2015-06-08 15:17] wilhelmberg opened #1374 "Windows installer: installs into wrong "Program Files" directory"
On an x64 machine x86 installer installs into `C:\Program Files` and not `C:\Program Files (x86)` as it is supposed to be.

These lines should take care of it:
https://github.com/mapbox/mapbox-studio/blob/c5c21df2b3442166bb7f82a68a60c86bac5f576e/scripts/mapbox-studio.nsi#L88-L91

It worked before, don't know, why it doesn't anymore.

[2015-06-08 16:57] wilhelmberg commented on #1374
Fixed with https://github.com/mapbox/mapbox-studio/pull/1373

[2015-06-08 16:57] #1374 closed, assigned to wilhelmberg

[2015-06-08 17:27] mnquintana opened #1376 "Show progress bar when loading large source datasets into memory"
I just tried loading a ~30MB source dataset (GeoJSON) in Mapbox Studio as a new layer in a source project, only to find that it took ~20s to load, but with no visual indication that it was loading anything. Until the long load time was done, I had figured that the file was malformed in some way. It would be awesome to have some kind of progress bar when opening large datasets.

[2015-06-09 15:43] wilhelmberg commented on #878
@flemmens @yhahn @springmeyer @gendronb @amyleew @stephankn

**FINALLY!!!**
After spending endless days (and some nights) on stepping through MapBox Studio and codemirror I found it.

The events for `{` and `[` get swallowed by the shortcuts to switch between tabs.

---

That's what the sequence of events looks on my keyboard, when I press `{` (AltGr+7).

![image](https://cloud.githubusercontent.c

[2015-06-09 16:58] springmeyer commented on #878
Incredible work @BergWerkGIS!!!

[2015-06-09 17:28] wilhelmberg commented on #878
Thanks :rocket:

[2015-06-10 08:32] #878 closed, assigned to nobody

[2015-06-10 14:50] amyleew commented on #878
Nice work @BergWerkGIS!!!

[2015-06-10 15:09] wilhelmberg commented on #878
@amyleew thanks, :smiley: :smiley: :smiley:

Do you use tab shortcuts?
How many tabs do you have in an average project?

Do you think, people will have more than 6 and want to switch between them?

[2015-06-10 17:23] annacerf opened #1378 "Bringing layers from an existing map project into mapbox?"
I have a map project under my account on MapBox that was made in TileMill.  I copied the Map ID into MapBox and it opens the map without any of the layers/ CartoCSS visible.  I want to make simple changes to the CartoCSS (which I have locally) to then take effect.  The map runs online but the only change that registers (and does change the online map) is changing the basemap.  Within the project,

[2015-06-10 19:56] springmeyer commented on #1378
TileMill projects are not compatible with Mapbox studio. If you want to combine into a single map layers created in each application then you could use Mapbox.js to refer to each of them via tile urls. Is that helpful? For further questions like this please reach out to https://www.mapbox.com/help/.

[2015-06-10 19:56] #1378 closed, assigned to nobody

[2015-06-10 21:55] stephankn commented on #878
I never used tab shortcuts. Was not aware of them. Don't need them.

Avoiding hard-coded key-codes sounds like a good idea in general as long as you don't know what keyboard layout they might conflict with.

Is the following a possible solution?
http://www.w3.org/TR/DOM-Level-3-Events/#keys

[2015-06-11 12:07] wilhelmberg commented on #878
@stephankn thanks, UI Events (formerly DOM Level 3 Events) might help. We will take a look.

Have you tried my suggested solution?
Does it work for you now?

[2015-06-11 13:41] annacerf opened #1379 "TILEMILL question: how to open an MBTILES file on TileMill?"
I need to make some small edits to a TileMill project done last summer.  Because of this I can't use mapbox. I have both the MBTILES file saved locally on my computer and the file uploaded both under my "data" and "projects" on the mapbox website.  However, when I log into TileMill I can't find where to either upload the project or access it from the mapbox website/my account.  Any ideas? Thank yo

[2015-06-11 15:53] wilhelmberg commented on #860
@springmeyer @yhahn

Seeing a light at the tunnel, that this long standing quest will finally come to an end.
I just got Mapbox Studio working with proxies by using a `TileJSON` version that uses [`request`](https://github.com/request/request) instead of `node-get`.

_If the signature of the `asBuffer` function doesn't change there, no changes are required within MapBox Studio._

So, waiting for:

[2015-06-12 06:25] stephankn commented on #878
I can confirm that after commenting out the last case block in style.js as you suggested keys work.

I just looked around that file and found some codes I thought they might be layout dependent.
Tried Ctrl + / which should open help and Ctrl + \ which is supposed to open settings,

Both didn't work. No big issue for me, but likely same root cause.

On German layout for "/" you press Shift+7. So Th

[2015-06-12 07:52] wilhelmberg opened #1380 "Make shortcuts keyboard layout independent"
background in #878

---

Shortcuts (e.g. switching tabs, open settings, ...) are hard coded to `en-US` keyboard layout key codes.
On other keyboard layouts (e.g. `de-DE`) some characters have different key codes, thus rendering the shortcuts unusable or even blocking some basic functionality (like in #878).

---

Investigate, if `UI Events` can be used to solve this:
http://www.w3.org/TR/DOM-Level

[2015-06-12 07:53] wilhelmberg commented on #878
@stephankn thanks for confirming.
I've opened a new issue (#1380) to address this.

[2015-06-12 16:26] wheredoesyourmindgo opened #1381 "Multiplication Error with PostgreSQL"
Why is mapbox unable to multiply the following correctly?  Answer should look more like  13,776, not 103,776.  I'm very perplexed.

![capture](https://cloud.githubusercontent.com/assets/3316678/8134552/f276efca-10e4-11e5-8941-0a1803e13014.PNG)

[2015-06-12 16:55] wheredoesyourmindgo commented on #1381
update: 137.76 \* 79.84 AS debugval2 gives me a sane answer, but multiplying anything higher than 79.84 such as 79.85 gives me an incorrect number

[2015-06-12 21:17] Firenze11 opened #1382 "Crashing when uploading a shapefile"
Mapbox Studio crashed when I uploaded a .shp file which has a .prj file of "NAD_1983_StatePlane_Massachusetts_Mainland_FIPS_2001" ( https://github.com/Firenze11/empty_public_repo )

[2015-06-12 21:17] springmeyer commented on #1382
@Firenze11 - the shapefile you posted only has a `.shp` and `.prj` but a valid shapefile also needs files ending in `.shx` and `.dbf`.

[2015-06-12 21:30] Firenze11 commented on #1382
Gotcha, now it seems to work with all of the 4 files. Thanks!

[2015-06-13 01:54] gcoop opened #1383 "Timeout after 5000ms"
I keep getting the timeout error when using Mapbox. Often immediately after I open it. I can reproduce on demand by trying to add a custom source or by trying to create a new project with the dark base layer.

If I open the dev tools it looks like many of the requests are returning a 500. Requests like: http://localhost:3000/new/style?id=tmpstyle:///Applications/Mapbox%20Studio.app/Contents/Resour

[2015-06-13 01:54] #1382 closed, assigned to nobody

[2015-06-13 02:30] gcoop commented on #1383
I'm not behind a proxy or firewall :)

[2015-06-13 02:52] springmeyer commented on #1383
Thanks for the report @gcoop. The styles are stored locally but they depend on vector tiles dynamically downloaded from tile.mapbox.com. My hunch is this due to slow network between you and tile.mapbox.com or some unexpected latency on the mapbox end. Can you let us know if it persists tomorrow or next time you try the app? /cc @willwhite

[2015-06-13 03:40] gcoop commented on #1383
Hmmm no requests to tile.mapbox.com

![screen shot 2015-06-12 at 8 38 17 pm](https://cloud.githubusercontent.com/assets/266345/8142868/fbf197b8-1142-11e5-989a-62b94bf554a6.png)

I ran a speed test on my line and I'm getting 50mbps down and 10 up.

[2015-06-13 03:50] gcoop commented on #1383
Ok something really odd is happening for me, it must be local. If I connect to a VPN it works fine...

[2015-06-14 21:19] aborruso opened #1384 "mapbox-studio-win32-x64-v0.2.7 does not run"
Hi,
I have installed mapbox-studio-win32-x64-v0.2.7 on Windows 8.1, on a 64 bit machine

When I run it, I see a window for a short time (fractions of a second), and then nothing happens.

Any suggestions for me?

Thank you

[2015-06-15 07:11] wilhelmberg commented on #1384
**[EDIT]**
The steps outlined here are **not valid for newer versions**.
Try these instead: https://github.com/mapbox/mapbox-studio-classic/issues/1466#issuecomment-141938779
**[EDIT]**

Hi @aborruso

Please try the following:
- download this archive ([vcredist_x64-mini.7z](https://mapbox.s3.amazonaws.com/windows-builds/visual-studio-runtimes/vcredist-VS2014-CTP4/vcredist_x64-mini.7z)) to a place

[2015-06-15 09:55] wilhelmberg commented on #860
@bebud @petzlux @stev-0 @thhomas @guzmanlopez @DerekOverlock @cjgage @fontophilic @tshelianthus @geotrek

I've now tried a different approach to crack the proxy problem.

Could you try this new experimental version and tell me, if it works for you?
**Remember:** you have to set your proxy settings on the command line and start Mapbox from there.

**Downloads:** [Linux](https://mapbox.s3.amazonaws.

[2015-06-15 09:57] wilhelmberg commented on #1366
@geotrek

0.2.7 never worked with proxies.

Maybe something changed with your internet connection or this is due to slow network between you and tile.mapbox.com or some unexpected latency on the mapbox end.

Can you let us know if it still persists next time you try the app?

Otherwise you could try the new proxy enabled test version I just published.
Download links and instructions: https://githu

[2015-06-15 09:59] wilhelmberg commented on #1315
@techieshark @voltagex

Would be great, if you could give the latest proxy test version a spin and let me know how it goes.

Downloads and instructions https://github.com/mapbox/mapbox-studio/issues/860#issuecomment-112001682

[2015-06-15 10:02] wilhelmberg commented on #1224
Stale, closing.

Latest (as of today) status on proxy enabled Mapbox Studio: https://github.com/mapbox/mapbox-studio/issues/860#issuecomment-112001682

[2015-06-15 10:02] #1224 closed, assigned to nobody

[2015-06-15 10:11] thhomas commented on #860
This new version works for me.

[2015-06-15 13:22] wilhelmberg opened #1385 "Make sure all modules use same node-pre-gyp version before publishing"
On Windows `MAX_PATH` is just [260 characters](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247%28v=vs.85%29.aspx#maxpath).

Thus, failing `"postinstall": "npm dedupe node-pre-gyp"` might leave paths, that are longer than the limit and render Mapbox Studio unusable:
https://github.com/mapbox/mapbox-studio/pull/1373#issuecomment-110071688

[2015-06-15 13:23] wilhelmberg commented on #860
Thanks for checking @thhomas this is good news.

[2015-06-15 13:31] guzmanlopez commented on #860
Sorry @BergWerkGIS, I can't try because I'm not behind a proxy anymore!
Congrats for your work.

[2015-06-15 13:32] wilhelmberg commented on #860
@guzmanlopez great way you solved that problem :smirk:

[2015-06-15 19:23] camilleanne commented on #1367
@BergWerkGIS looks like the orange boxes/calculation of tile size is actually handled here: https://github.com/mapbox/mapbox-studio/blob/mb-pages/app/lib.js#L41-L122

investigating -- not sure if anything's changed recently though.

[2015-06-15 23:33] springmeyer opened #1386 "tm.dbcompact: Error: Could not load corrupted row"
Appveyor/windows tests have been failing since #1292 was merged.

The failing line is: https://github.com/mapbox/mapbox-studio/blob/c5c21df2b3442166bb7f82a68a60c86bac5f576e/test/tm.test.js#L81

Resulting in:

[code]

[2015-06-17 20:26] springmeyer commented on #1386
per https://github.com/mapbox/mapbox-studio/pull/1292#issuecomment-112691371, @BergWerkGIS is going to take a look at this.

[2015-06-19 00:44] springmeyer opened #1388 "Loading source hangs UI"
Seen with studio latest and while viewing in Google Chrome.

To replicate:
- Download and load in this geojson file https://gist.github.com/springmeyer/6764a14744b0929736bc
- After choosing file and clicking `select` the modal closes okay
- But after that the entire UI is hung and unresponsive

Debugging indicates that `map.fitBounds` never returns https://github.com/mapbox/mapbox-studio/blob/mb-p

[2015-06-19 00:56] springmeyer commented on #1388
This may be another manifestation of #1254

[2015-06-19 01:03] springmeyer commented on #1388
Leaflet master does not suffer from a hang, confirmed with this test:

[code]

[2015-06-19 01:23] springmeyer commented on #1254
dropping by to say I can still replicate a 3-4 second hang using http://cl.ly/0l402E2B2t29 if animation is enabled with fitBounds. Also I though #1388 might be related but the 3-4 second hang still happens with the fix for #1388 (clamping bounds to valid wgs84 range) when animation is on.

[2015-06-19 01:24] springmeyer commented on #1388
clamping bounds fixes this (will commit fix in a moment). Confirmed that clamping bounds does not fix https://github.com/mapbox/mapbox-studio/issues/1254#issuecomment-113335328 so that issue is not directly related/not the same.

[2015-06-19 01:38] laurenancona commented on #1388
This just started happening to me yesterday, and now Studio 0.2.7 is occasionally unresponsive on load. Notably, this began after firing up a local server on 7000 for an Angular app in development with Browsersync - Studio was open and it got booted into Chrome, overriding the other app.

[2015-06-19 01:40] laurenancona commented on #1388
The Angular app _is_ using leaflet/mapbox.js (with some workarounds to keep directives from swallowing events). Not sure if that's at all relevant, but thought it worth mentioning.

[2015-06-19 03:01] springmeyer commented on #1388
Hi @laurenancona! Hmm, I cannot think of how an angular app running on 7000 would bother studio on 3000. Let me know if you find out any more info.

[2015-06-19 07:09] andrewharvey opened #1390 "UI hangs at mbtiles export when Source is non WGS84/web merc projection"
In Mapbox Studio if I use a SHP file of a projection which isn't WGS84 / Web Mercator it seems to run into some issues exporting this Source to mbtiles prior to uploading to Mapbox.com. It may well be that using such a projection isn't supported but there are no warnings about this.

In fact the layer displays fine and I can even create styles from it without a problem.

I did some debugging and f

[2015-06-19 10:19] wilhelmberg commented on #1390
@andrewharvey generally speaking, all projections supported by proj4, should be supported by Mapbox Studio.
However, some projections seem to be causing problems when reprojected on the fly from within Mapbox Studio.

When using shapefiles (for bigger data we recommend PostGIS) it really helps if you preprocess them before loading into Mapbox Studio.

In particular, preprocess:
- projection
- enco

[2015-06-19 10:38] andrewharvey commented on #1390
@BergWerkGIS

WGS84.shp was the one that works (so I could be sure it was the projection that was the issue). I didn't run into any crashes myself I could pan and zoom the Source.

Yeah the workaround is to reproject, but this should probably be fixed within Mapbox Studio to either work correctly with data in this projection, or warn the user first that it's not supported/what the problem is.

I f

[2015-06-19 11:11] wilhelmberg commented on #1390
:100:% agreed, we are working on it, but the problem is intermittent and we haven't been able to exactly pinpoint the real reason.
Like, see above, two different stack traces for two consecutive crashes.

[2015-06-19 11:35] andrewharvey commented on #1390
The problem I described is repeatable and it seems from what I could determine that the reason is one line of code expects the coordinates to be in WGS84 but values are actually being provided in the native coordinate system, as I described.

[2015-06-19 11:48] wilhelmberg commented on #1390
True, I've read your comment and appreciate your detective work, but the wrong coordinates really come from calling into proj4 via C++ in node-mapnik.

For most of the cases proj4 is able to reproject, but for some unfortunately not, and then the original coordinates are returned.

We were not yet able to pinpoint, what those **some** have in common and how to work around that, when calling into p

[2015-06-19 12:23] andrewharvey commented on #1390
I see, so in the ds.extent() call from ./lib/source.js you're saying these should be WGS84 rather than the same projection as the source SHP file?

Just testing out mapnik with python here...

It seems the datasource is in NZMG and it's envelope() is reported in NZMG, and the reprojection happens when you set a different layer.srs. (again just my understanding from what I've read and tried out).

[2015-06-19 12:25] springmeyer commented on #1390
@andrewharvey @BergWerkGIS - thanks for the great, small testcase and the investigations.

To confirm: @andrewharvey are you running Mapbox Studio `v0.2.7` or are you running latest from mb-pages/github?

My hunch is you are running from github as I can see that the bug you describe (not projecting source extents correctly into epsg:4326) likely happened in https://github.com/mapbox/mapbox-studio/

[2015-06-19 12:34] andrewharvey commented on #1390
latest from github

Oh yes, before you had getExtent(ds, l.srs) which must have gotten the extent of the datasource in the layer's projection, wonder why it was changed?

[2015-06-19 20:10] springmeyer commented on #1390
capturing chat with @GretaCB - next actions:
- [x] integrate the `NZ_Coastline_NZMG.shp` into a testcase for this bug - @andrewharvey okay if we add it to https://github.com/mapbox/mapnik-test-data? (@GretaCB)
- [x] Add back reprojection of the extent from source projection to EPSG:4326 - We can pull code into studio like https://github.com/mapbox/mapnik-omnivore/blob/master/lib/shape.js#L91-L98.

[2015-06-19 20:20] andrewharvey commented on #1390
@springmeyer Sure, it's public domain data.

Thanks.

[2015-06-20 01:12] camilleanne commented on #1367
So I did some fiddling with an extract of OSM and haven't been able to reproduce this. Could either @BergWerkGIS or @kmandov share with me your datasource that's seen this issue? The berlin extract I was using has very defined bounds, I'm wondering if data sets that are more organic in bounds/shape but still dense are more prone to this.

What I did find is that the calculation requires requires t

[2015-06-20 10:54] wilhelmberg commented on #1367
@camilleanne sure, I used the one referenced here:
https://github.com/mapnik/mapnik/issues/2873#issuecomment-106766945

[2015-06-20 20:40] urbanikj opened #1391 "Mapbox Studio won't upload Map Style"
I have paid for the standard plan and when I try and upload a map style it tell me it won't do it because I need to upgrade my plan.  I have no map styles uploaded at this point.  This is ridiculously frustrating - I am using the latest version of Mapbox Studio and I would like to know what the problem is and how to fix this asap.  Thank you.

[2015-06-22 11:00] wilhelmberg commented on #1390
FYI:
Minimal test case with this data:
https://github.com/BergWerkGIS/mapnik-proj4-crashes

---

I've noticed when adding the data in WGS84 and NZMG is doesn't align properly in Mapbox Studio.

![image](https://cloud.githubusercontent.com/assets/4549888/8271813/3b62aba0-182b-11e5-967d-3ba5a63fd10a.png)

Manually adding `+towgs84=59.47,-5.04,187.44,0.47,-0.1,1.024,-4.5993` to the NZMG layer in `dat

[2015-06-22 14:55] jdvenegas commented on #860
I have this same issue, I entered

SET HTTP_PROXY=http://YOUR-PROXY-SERVER:80
SET HTTPS_PROXY=https://YOUR-PROXY-SERVER:80
cd C:\Program Files\mapbox-studio
mapbox-studio.exe

into the command prompt and still was given the same error message of

Cannot find Mapbox API at https://a.tiles.mapbox.com

[2015-06-22 15:52] wilhelmberg commented on #860
@jdvenegas Just to make sure that I understand your problem correctly, you
- installed the special build of Mapbox Studio (`mapbox-studio-win32-x64-proxy-tilejson-with-request.exe`) referenced [above](https://github.com/mapbox/mapbox-studio/issues/860#issuecomment-112001682)
- replaced `YOUR-PROXY-SERVER:80` with your real proxy settings

Correct?

[2015-06-22 15:58] jdvenegas commented on #860
@BergWerkGIS Precisely

[2015-06-22 16:02] jdvenegas commented on #860
@BergWerkGIS I am not quite sure if 80 is my proxy server port, it says 80 in the proxy server port line when I go to internet options > connections > LAN Settings. However, the "Automatically detect settings" box is checked, and I'm not sure if that implies anything.

[2015-06-22 22:59] springmeyer commented on #1091
the `sudo` may be the problem: try without `sudo` as per https://github.com/npm/npm/issues/3497. Please create new issues if still having problems and share the **entire** terminal output. The `Cannot find module` is not helpful: to know the cause of that we need the install logs.

[2015-06-22 22:59] #1091 closed, assigned to nobody

[2015-06-22 23:17] springmeyer commented on #459
done in #1202

[2015-06-22 23:17] #459 closed, assigned to nobody

[2015-06-23 05:14] kmandov commented on #1367
@camilleanne Yes. I have used the NYC Building Footprints. You can get the shapefile here: https://data.cityofnewyork.us/download/tb92-6tj8/application/zip

[2015-06-23 06:36] wilhelmberg commented on #860
@jdvenegas Do you know anything about your proxy?
e.g.
What proxy (Squid, Bluecoat, ...) is used?
If there are any special filtering rules (e.g. User agent strings, IP-addresses, ...)?
Anything else.

[2015-06-23 08:53] wilhelmberg commented on #860
@jdvenegas to find out more about your settings, I've created a little program that tries to read proxy settings from the system.

No PAC or credential detection yet, but could you run [windows-detect-proxy.exe](https://github.com/BergWerkGIS/windows-detect-proxy/raw/master/binary/windows-detect-proxy.exe) and share a screenshot of the output?

[2015-06-23 13:54] jdvenegas commented on #860
![print](https://cloud.githubusercontent.com/assets/13002145/8307667/dbb6e644-198d-11e5-93c5-5a90ea77e98f.png)

[2015-06-23 13:55] jdvenegas commented on #860
I ran the program you gave me and it gave me that info.

[2015-06-23 13:55] jdvenegas commented on #860
So it appears I have no proxy, I think?

[2015-06-23 14:25] wilhelmberg commented on #860
@jdvenegas thanks for testing.
Yes, you do have a proxy.

According to the screenshot, please try

[code]

Would be really helpful, if you could download  [windows-detect-proxy.exe](https://github.com/BergWerkGIS/windows-detect-proxy/raw/master/binary/windows-detect-proxy.exe) once again and share another screenshot?
I just updated it a few minutes ago.

[2015-06-23 14:34] jdvenegas commented on #860
![preint2](https://cloud.githubusercontent.com/assets/13002145/8308563/75e3818c-1993-11e5-8298-271f946277e4.png)

[2015-06-23 14:35] jdvenegas commented on #860
I ran

SET HTTP_PROXY=http://10.150.1.109:8080
SET HTTPS_PROXY=https://10.150.1.109:8080
cd C:\Program Files\mapbox-studio
mapbox-studio.exe

in the command line and I received the same error as before unfortunately

[2015-06-23 14:57] wilhelmberg commented on #860
@jdvenegas thanks for running the program again.

I made a typo above.
It should be just `http://10.150.1.109:8080`, even with `SET HTTPS_PROXY`.
Like so:

<pre>
SET HTTPS_PROXY=<b>http</b>://10.150.1.109:8080
</pre>

[2015-06-23 15:11] jdvenegas commented on #860
Well I was able to login, without that error message. But now it asks to authorize my account, I click agree but it just goes back to the connect page. Here is the authorize page I am at when I click on accept (or agree)
![print3](https://cloud.githubusercontent.com/assets/13002145/8309425/94a20cba-1998-11e5-9e8d-269c4a6d27ee.png)

[2015-06-23 15:17] jdvenegas commented on #860
Also, for clarification, I should just be entering the following statement into the command prompt:

SET HTTPS_PROXY=http://10.150.1.109:8080
cd C:\Program Files\mapbox-studio
mapbox-studio.exe

Correct?

[2015-06-23 15:21] wilhelmberg commented on #860
@jdvenegas you need both: `HTTP_PROXY` and `HTTPS_PROXY`.

[code]

[2015-06-23 15:25] jdvenegas commented on #860
Alright, I entered that in the command prompt, but again it asks me to agree to authorize my account I click allow and it brings me back to the connect page

[2015-06-23 15:58] wilhelmberg commented on #860
Start Mapbox Studio again and when it shows the authorization page run `windows-detect-proxy.exe`, but enter `http://localhost:3000` into the field `Target URL`.
Does it say `no proxy` or display an address?

[2015-06-23 16:05] jdvenegas commented on #860
It says no proxy

[2015-06-23 16:13] wilhelmberg opened #1393 "Authorization loop with proxy on Windows"
Continuation of https://github.com/mapbox/mapbox-studio/issues/860#issuecomment-114538577
Using special build https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-proxy-tilejson-with-request.exe

[2015-06-23 16:20] wilhelmberg commented on #1393
@jdvenegas Please do the following

[code]

Then open your browser at http://localhost:3000.
Then try to authorize again.
If authorization doesn't work, try again.
If it doesn't work on second try, share the output you got on the console.

**Important:** to not get other errors afterwards:
When you have done the above end Mapbox Studio, either by pressing `Ctrl+C` in the console or closing the con

[2015-06-23 16:21] wilhelmberg commented on #860
@jdvenegas as your connection problem is not that easy to solve, let's continue on a dedicated issue:
https://github.com/mapbox/mapbox-studio/issues/1393

[2015-06-23 18:34] jdvenegas commented on #1393
This is what I did:

1) enter the following in the cmd prompt:
 SET HTTP_PROXY=http://10.150.1.109:8080
SET HTTPS_PROXY=http://10.150.1.109:8080
cd C:\Program Files\mapbox-studio
mapbox-studio.exe

This loaded MapBox Studio

2) enter the following in the cmd prompt:

SET HTTP_PROXY=http://10.150.1.109:8080
SET HTTPS_PROXY=http://10.150.1.109:8080
cd "C:\Program Files\mapbox-studio\resources\app"
v

[2015-06-23 20:40] wilhelmberg commented on #1393
Interesting, after 1) it's normally not possible to do 2) -> only one instance of Mapbox Studio allowed.

Please redo your steps 2), 3), 4) and 5) and _share a screenshot_ of the messages that appear on the console where you entered `vendor\node index`.

Additionally go to `%USERPROFILE%\.mapbox-studio` (<- paste this into the address bar of file explorer) and share the file `app.log`.
If it is to

[2015-06-23 20:47] jdvenegas commented on #1393
![print 4](https://cloud.githubusercontent.com/assets/13002145/8316825/8905f0fe-19c7-11e5-91e0-df2bc94d2633.png)

[2015-06-23 20:49] jdvenegas commented on #1393
I can't find app.log there, only the data base file and a text file. The text file says:

<Tue, 23 Jun 2015 20:42:38 GMT> Mapbox Studio @ http://localhost:3000/
{ [InternalOAuthError: Failed to obtain access token]
  name: 'InternalOAuthError',
  message: 'Failed to obtain access token',
  oauthError: { [Error: connect ETIMEDOUT] code: 'ETIMEDOUT', errno: 'ETIMEDOUT', syscall: 'connect' } }
<Tue,

[2015-06-24 21:47] freewheelCarto opened #1394 "Crashes randomly at different times, with local sources - windows 7 64bit"
I am running in to an issue where Mapbox Studio crashes at random times, but consistently.  Often, it occurs when trying to upload a local source to Mapbox account, but sometimes it crashes during any part of using the 'local source' functionality. Using shapefiles as the source.

I have uninstalled and installed.  I looked through other issues that mentioned crashing.  I've run Studio as admin an

[2015-06-24 22:40] springmeyer commented on #1394
First thing to try would be to reproject your shapefiles to EPSG:3857 or EPSG:4326. Then try loading into a fresh project. Let me know if you still experience crashes after doing that. The reason I recommend this is we are aware of a crash possible on windows during reprojection from source projections that are not the two above.

[2015-06-25 10:13] wilhelmberg commented on #1394
@freewheelCarto

You can reproject your shapefiles in QGIS:
- `right click on layer -> Save as...`
- click on the icon that looks like a globe with a hat on it
- type `3857` in the new dialog
- click `WGS84 / Pseudo Mercator` -> `OK`

The `Save vector layer as...` should then look like this:
![image](https://cloud.githubusercontent.com/assets/4549888/8352025/4f3a3b34-1b32-11e5-8639-4f90cb5561c6.pn

[2015-06-25 11:12] wilhelmberg commented on #1393
@jdvenegas I was finally able to replicate your problem.
Will post here, when I find a solution.

[2015-06-25 11:13] jdvenegas commented on #1393
Fantastic! Your help is greatly appreciated.

[2015-06-25 12:23] freewheelCarto commented on #1394
Thanks for the responses, Indeed my sources are in different projection. I will save as the recommended and confirm if that solves my issues.

[2015-06-25 13:24] wilhelmberg commented on #1393
As a temporary workaround, till we have solved the authentication behind a proxy:

Is it possible for you to connect your computer to the internet without proxy just once?
After successful authorization you should be good to go, even when behind a proxy.

[2015-06-25 13:41] jdvenegas commented on #1393
I will try to do this soon, thank you.

[2015-06-25 14:07] jdvenegas commented on #1393
That worked, thanks for that tip.

[2015-06-25 14:16] wilhelmberg commented on #1393
Perfect! Thanks for letting me know.

[2015-06-25 15:22] ajashton commented on #1391
Hi @urbanikj - for issues related to your account please email help@mapbox.com and provide your Mapbox username. Someone will be able to look into things from there. Sorry for the trouble.

[2015-06-25 15:22] #1391 closed, assigned to nobody

[2015-06-25 23:14] GretaCB commented on #1390
Fix is merged to `mb-pages` branch. Closing.

[2015-06-26 07:59] wilhelmberg commented on #1390
Reopening, not fully fixed until https://github.com/mapbox/mapnik-vector-tile/issues/122 lands.

[2015-06-26 12:37] freewheelCarto commented on #1394
This appears to have solved the issue.  Thanks, closing issue.

[2015-06-26 14:42] springmeyer commented on #1394
Great to hear. Thanks for testing @freewheelCarto. For now I'm going to re-open this issue as the crash when reprojecting is not yet fixed. Will close this once we have a solution to that over at https://github.com/mapbox/mapnik-vector-tile/issues/127.

[2015-06-26 15:42] springmeyer opened #1395 "Incorrectly aligned NZ coastline data"
Breaking out of https://github.com/mapbox/mapbox-studio/issues/1390#issuecomment-114066244

Sounds like the projection in the .prj might be wrong - if that is the case then nothing needs to be done. But I do notice this file has a .qpj - so I'm reminded of https://github.com/mapbox/tilemill/issues/2128.

TODO:
- [ ] figure out if preferring the qpj fixes this issue and if so they start respecting

[2015-06-26 15:42] springmeyer commented on #1390
@BergWerkGIS ticketed separately at https://github.com/mapbox/mapbox-studio/issues/1395

[2015-06-26 17:22] springmeyer opened #1397 "Upgrade to node-mapnik@3.4.0"
When it is ready: https://github.com/mapnik/node-mapnik/milestones/v3.4.0

[2015-06-26 17:29] springmeyer commented on #1390
Closing now. Thanks @andrewharvey @GretaCB @BergWerkGIS for all the testing and fixes!

To recap:
- Mapbox Studio latest `mb-pages` had a temporary regression (that never impacted an official release) whereby the UI could not detect the right extent for custom data. This was fixed in https://github.com/mapbox/mapbox-studio/pull/1392
- node-mapnik 3.3.0 had a regression in the ability to transform

[2015-06-26 17:29] #1390 closed, assigned to nobody

[2015-06-27 23:17] laurenancona commented on #1371
@titaozge Is your KML file, by chance, one exported from a Google map? I recently ran into the same issue, and when I opened the KML file in a plaintext editor, I found that for some reason, Google would export a few points with coordinates, and then simply stop. The features were there, but with no location attribute. The source of the export had point features that were correctly displayed. I'm

[2015-06-27 23:59] laurenancona commented on #1388
Thanks, @springmeyer!
So it turns out, after some testing, that my problematic sources are really just any project I've tried to set custom layer order. Tried all permutations of closed/open/restart when editing YAML, listing every avail layer, only some layers, etc. Whenever a custom order is assigned, Studio crashes trying to open the project. Example styles where this has happened: `laurenancon

[2015-07-02 19:35] mnquintana opened #1399 "Choose more obscure port to run Mapbox Studio"
This may be a bit of an edge case because I'm a developer, but most applications I work on locally run on port 3000 or 3001... and Mapbox Studio seems to run on port 3001, so there's often a clash if I happen to have Mapbox Studio open. Would it be possible to choose a less common default port for Mapbox Studio?

[2015-07-02 20:41] springmeyer commented on #1399
You can change the port by starting studio on the command line and passing the `--port` option. Relevant code at https://github.com/mapbox/mapbox-studio/blob/mb-pages/index-server.js#L19-L24

[2015-07-02 23:18] MaxSem opened #1400 "On SQL errors, "errors" cookies can get too large"
Version 0.2.7. When an SQL error happens during tile generation and the query is long, MBS serves HTTP responses that are theoretically valid but in practice choke some clients:

[code]

Chrome fails to load these tiles with ERR_RESPONSE_HEADERS_TOO_BIG. Firefox handles these requests and in Firebug it can be seen that the culprit is the error cookie that contains the same error concatenated sever

[2015-07-02 23:47] springmeyer commented on #1400
Thanks for reporting @MaxSem - was not aware this was happening. The duplicate concatenation sounds like a bug that needs fixed. But are your errors also really large? Can you tell?

[2015-07-06 19:25] 1ec5 opened #1401 "Application suddenly quits when uploading source"
Mapbox Studio quits any time I hit the “Upload to Mapbox” button on a local Postgres-backed source (not every source, however). The application doesn’t crash; this is the only thing printed to the console:

[code]

Mapbox Studio 0.2.7 on OS X 10.10.4.

[2015-07-06 19:28] springmeyer commented on #731
this was fixed as part of https://github.com/mapbox/mapbox-studio/pull/1199

[2015-07-06 19:28] #731 closed, assigned to nobody

[2015-07-06 19:29] springmeyer commented on #1401
This is a known bug in 0.2.7, was fixed in https://github.com/mapbox/mapbox-studio/pull/1199, and will be working in 0.2.8

[2015-07-06 19:31] springmeyer commented on #1401
specifically the bug was that for complicated reasons we cannot know the extent of postgis local source layers, and now this crash is avoided by defaulting to the global extent at https://github.com/mapbox/mapbox-studio/blob/mb-pages/lib/source.js#L333

[2015-07-08 01:00] mnquintana opened #1402 "Add ability to upload replacements"
Currently, if you click the big "Upload to Mapbox" button, it always creates a new Style. However, as Styles are limited based on your plan, this can quickly hit the limit if you're iterating quickly on a map style. The only way to upload a replacement for an existing map style is via the web UI. It would be incredibly useful and time-saving to have this in Mapbox Studio.

[2015-07-08 16:02] kphaneuf commented on #1393
Hello @BergWerkGIS I am having the same problem with accessing mapbox studio.  I have read all your comments on the different strings and still have no success.  Any way you can try to help me figure out a solution?  Thanks!

[2015-07-08 16:11] wilhelmberg commented on #1393
@kphaneuf can you connect to the internet without proxy just once, for authorization?
Afterwards Mapbox Studio should work just fine with proxies (the special version linked above - hope to get this into the next release).

[2015-07-08 16:12] kphaneuf commented on #1393
To do that do I just go to internet properties>connections>LAN Settings and unclick proxy server?

[2015-07-08 16:23] kphaneuf commented on #1393
@BergWerkGIS if so I tried that and still got the same error when trying to connect to mapbox studio:
Cannot find Mapbox API at https://a.tiles.mapbox.com

[2015-07-08 18:18] vkurchatkin commented on #1399
+1. Also for some reason when Mapbox Studio is started and then I start a server on port 3000 it doesn't fail with EADDRINUSE. It behaves as if it listening on port 3000, but in fact Mapbox Studio is listening. Have been bitten by this more than once.

[2015-07-08 18:53] kphaneuf commented on #1393
@BergWerkGIS is there an address or something I can give IT to allow it through the firewall/proxy?

[2015-07-08 18:57] jdvenegas commented on #1393
@kphaneuf If your company has guest wifi you can try to login to MapBox Studio using the guest wifi.

[2015-07-08 18:58] jdvenegas commented on #1393
Guest wifi usually doesn't carry the proxies that the employee wifi carries.

[2015-07-08 19:04] kphaneuf commented on #1393
@jdvenegas Unfortunately my desktop doesn't have wifi. :/

[2015-07-09 08:36] wilhelmberg commented on #1393
@kphaneuf

Instructions apply to the special proxy enabled test build:
https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-proxy-tilejson-with-request.exe

I don't think, that this will do the trick.
It just tells your computer to **not** use a proxy and if your company does not provide direct internet access, you won't be able to connect to the internet even with a browser.

Bac

[2015-07-09 12:24] mnquintana commented on #1080
:+1: Getting an official CLI would be extremely helpful for automation.

[2015-07-09 15:24] kphaneuf commented on #1393
Thanks I will try the second option then the first.  I will let you know if I have any success! Thanks again!

[2015-07-09 18:19] ajashton opened #1403 "UI / yml ordering mismatch for newly-added source layers"
Using latest `mb-pages` in source mode
1. Add a new layer & save it. It appears at the top of the layers list in the UI.
2. If you look at the yml/xml at this point, the new layer will be the first in the layers list, ie the bottom of the stack.
3. Refresh / restart Studio and the new layer is now at the bottom of the layers list in the UI.

[2015-07-09 18:51] springmeyer opened #1404 "Avoid breakage when Visual Studio 2015 installed"
The current release of Mapbox Studio v0.2.7 includes libraries internally that depend on Visual Studio 2014 CTP 4. This is fine is most cases. The libraries are installed on the system when the Mapbox Studio installer runs. And then Mapbox studio can use them and benefit from high performance rendering features that leverage the C++11 Standard (only available in pre-release Visual Studio versions)

[2015-07-09 22:52] techieshark commented on #1315
@BergWerkGIS Thanks for your work on this! I've been bike touring in New Zealand and don't have access to the system behind the proxy, but I'll talk to @Lilith-Palmer to see if anyone else can test this out over there.

[2015-07-10 03:13] andrewharvey opened #1405 "Can't open GeoTIFF with DEFLATE or JPEG compression"
`Error: Error creating Mapnik Datasource: Invalid raster: could not open the file` when trying to load in a GeoTIFF with DEFLATE compression (-co COMPRESS=JPEG also has the same issue, but LZW works).

Tested on latest mapbox-studio from git, although issue is probably in underlying library?

To reproduce,

<pre>
$ wget http://naciscdn.org/naturalearth/50m/raster/HYP_50M_SR.zip
$ unzip HYP_50M_SR.

[2015-07-10 04:23] springmeyer commented on #1405
are you seeing this on a 64 bit linux machine?

[2015-07-10 04:31] andrewharvey commented on #1405
@springmeyer Yes

[2015-07-10 06:33] springmeyer commented on #1405
Thanks. I'm unable to replicate on OS X locally. So it must be something specific about the way I'm building GDAL on linux. Hmmm....

[2015-07-10 06:37] andrewharvey commented on #1405
I'm using my own build rather than the precompiled binary, so I'll do some more tests to see if it's something to do with my build and compare with the official precompiled.

[2015-07-10 06:52] springmeyer commented on #1405
Oh. Good to know. I also just tried to replicate on linux and could not. It seems likely this is a build issue on your end then if you are not using the precompiled node-mapnik.

[2015-07-10 13:06] andrewharvey commented on #1405
I just tried the official `mapbox-studio-linux-x64-v0.2.7.zip` build on a Debian Jessie VM and this time, the original HYP_50M_SR.tif works, but the one with DEFLATE compression now gives the error `Error: Invalid gdal source. Error opening dataset`.

I don't even have system gdal libraries installed, so I don't think it's conflicts there.

I'll try it on an Ubuntu 15.05 64bit VM and see what happ

[2015-07-11 03:35] andrewharvey commented on #1405
On a clean Ubuntu 15.05 64bit VM with the official `mapbox-studio-linux-x64-v0.2.7.zip` build, the original HYP_50M_SR.tif works, but the one with DEFLATE compression now gives the error `Error: Invalid gdal source. Error opening dataset.`.

[2015-07-11 10:39] wilhelmberg commented on #1405
Same error message (`Error: Invalid gdal source. Error opening dataset.`) with Mapbox Studio 0.2.7 on Windows.

[2015-07-11 11:22] sagazluiz opened #1406 "Can´t open mapbox-studio in Win 7 64bits"
------ WHAT'S YOUR ENVIRONMENT?
I'm on a French Windows 7 Enterprise 64bit.
I downloaded the 64bit installer, version 0.2.7,
from https://www.mapbox.com/mapbox-studio/

------ WHAT'S YOUR DATA?
I have no data

------ WHAT HAVE YOU DONE SO FAR?
All the following steps
https://github.com/mapbox/mapbox-studio/wiki/Windows-Troubleshooting
.

------ WHAT DO YOU WANT TO ACHIEVE?
How can I fix and start

[2015-07-11 11:31] wilhelmberg commented on #1405
I [adjusted gdal-tiling-bench](https://github.com/mapbox/gdal-tiling-bench/compare/mbs-1405) to this test case and `node-mapnik@3.1.4` doesn't seem to have a problem with the deflated file.

[2015-07-12 11:38] wilhelmberg commented on #1406
@sagazluiz thanks for your detailed report.

Please try this:

Make sure via Task Manager that no `mapbox-studio.exe` or `node.exe` processes are running.
If there are, and you already have exited Mapbox Studio please kill them via right click in Task Manager.

1.) download
https://mapbox.s3.amazonaws.com/windows-builds/visual-studio-runtimes/vcredist-VS2014-CTP4/vcredist_x64-mini.7z

2.) extract

[2015-07-12 15:39] marescotti2 opened #1407 "Interactivity for marker mapbox Studio"
Hello everyone,
are about 3 months I try to make interactive markers loaded in mapbox Studio with  negative results. The format is GeoJSON with all properties (color marker, title, description), while seeing the points on the map, all the features are not shown and are not clickable. The markers are more than 2000 then I would use Mapbox Studio as database. How can I do?

Thank you in advance for

[2015-07-13 00:39] sagazluiz commented on #1406
Hi BergWerkGIS,
Thank you so much for your attention! It worked.

[2015-07-13 00:39] #1406 closed, assigned to nobody

[2015-07-13 08:38] planemad opened #1408 "Studio does not open folder names with a hash character"
Was trying to add a geojson data layer from a folder titled `Task #1200`, the studio browse dialog would not open it to allow me to select the files. Once the folder was renamed to `Task 1200`, I was able to browse into it to select the files.

![untitled](https://cloud.githubusercontent.com/assets/126868/8645849/9003c2e0-2968-11e5-8464-304ed063ed3a.gif)

[2015-07-13 17:23] cleversprocket opened #1409 "Studio hangs trying to render line-geometry-transform: skewX(90);"
I have no idea what `line-geometry-transform: skewX(90);` will actually look like, I was just plugging in different values to see what it does. I had to remove the line in the .mss file so Studio could work again.

[2015-07-13 18:21] springmeyer commented on #1409
@cleversprocket - thanks a ton for the report. That should definitely not hang. I've replicated the problem locally and will be fixing shortly.

[2015-07-14 10:13] artemp commented on #1409
@springmeyer @cleversprocket - this is fixed in mapnik-core :
https://github.com/mapnik/mapnik/commit/6d6cb15b4547539152c488fb7bfe7f9506c48d9a

[2015-07-14 15:49] dcar5323 commented on #1384
I didn't post the question, but I had the same problem and this did solve my issue.  Thanks!

[2015-07-14 15:56] wilhelmberg commented on #1384
@dcar5323 Great, thanks for letting me know.

[2015-07-14 20:35] #1409 closed, assigned to nobody

[2015-07-15 09:35] aborruso commented on #1384
@BergWerkGIS it works, thank you very much.

I'm sorry to reply so late: I missed the notification.

[2015-07-15 09:35] #1384 closed, assigned to nobody

[2015-07-16 00:05] mailiam commented on #1408
also does not open folder/file with non-latin character

[2015-07-16 23:10] since1968 opened #1412 "Place cursor in first input of modal window"
Please consider placing the cursor in the first input of a new modal window. For example when you create a new CartoCSS tab.

Current behavior:
- click +
- modal window opens
- user must move mouse and click into "stylesheet name" text input

Desired behavior:
- click +
- modal window opens
- cursor is active in text input so user can type right away without touching mouse

Tested on OS X.

![plac

[2015-07-16 23:14] since1968 opened #1413 "Newly created tab should be active"
Please consider making a newly created CartoCSS tab active.

Current behavior:
- Name tab and click "new tab"
- New tab is created but current tab is still active. User will want to type in the new tab instead.

Desired behavior:
- Name tab and click "new tab"
- New tab is created AND the new tab should be active.

Thanks.

![we_just_created_custom_tab_so_it_should_be_selected](https://cloud.githu

[2015-07-17 14:28] llc12300913 opened #1414 "arcgis to mapbox studio"
Hello everyone,i am a beginner of mapbox studio.i want to import shp file in the mapbox studio,but a error "vector layer[0] id must be a string of 255 characters or less" upon to me.
How can i solve this problem?

[2015-07-17 15:07] springmeyer commented on #1414
Hi there @llc12300913 - sorry about the problem, but thanks for reporting it here. Would it be possible to share the shapefile you are hitting this with? You can get in touch by email with me at dane@mapbox.com

/cc @geografa

[2015-07-17 19:09] MarkWS opened #1415 "Adding in web fonts"
We have been asked if we can use this font for some features listed on the map.
https://www.google.com/fonts/specimen/Roboto
Does anyone know if MBS allows an outside font call? If so please help.
Thanks, Mark

[2015-07-17 19:26] wboykinm commented on #1415
@MarkWS We've been using custom fonts via static .otf files. I see that Google makes [Roboto .ttf files available here](https://github.com/google/roboto/tree/master/out/RobotoTTF), and they should work as well. Basically place them in the `projectname.tm2/fonts/` folder and then they'll be packaged and served along with the rest of the style.They've got [some good documentation on this](https://ww

[2015-07-17 19:31] MarkWS commented on #1415
this will work for now. this would be a nice feature to have as we have a client that pays for fonts on Fonts.com and thats tracked by a URL and a user key. but for now this will work. Thanks Bill.

[2015-07-17 19:40] wboykinm commented on #1415
:+1:

[2015-07-17 19:42] MarkWS opened #1416 "Strange rendering issue online, but not in MBS"
We changed around our color palette a bit and are now having a strange rendering issue online that is not showing up in MBS. Here's a screen shot online:
![capture1](https://cloud.githubusercontent.com/assets/8440284/8755597/6d19bf40-2c89-11e5-8cf5-e03582d26f3c.JPG)
and in MBS of the same area ;
![capture2](https://cloud.githubusercontent.com/assets/8440284/8755619/95bac32c-2c89-11e5-920d-4368b94b

[2015-07-17 20:32] MarkWS commented on #1416
well, it fixed itself, still a bit strange..

[2015-07-17 20:32] #1416 closed, assigned to nobody

[2015-07-17 20:39] MarkWS opened #1417 "Cant zoom past z10 but max zoom in MBS is z19"
I'm having issues zooming past z10 online, in MBS we have the zoom set to 19 and can zoom up to 19 within MBS. Also in the Styles section of our account, the zoom level matches that of MBS settings. Any ideas?

[2015-07-19 12:38] wilhelmberg commented on #1190
**Applies to current version 0.2.7 of Mapbox Studio**
**Upcoming releases won't have this problem**

**Problem:** an install of Visual Studio 2015 messes with the c++ runtime needed by Mapbox Studio.

**Solution:**

1.) download
https://mapbox.s3.amazonaws.com/windows-builds/visual-studio-runtimes/vcredist-VS2014-CTP4/vcredist_x64-mini.7z

2.) extract `vcredist_x64-mini.7z` into
C:\Program Files\m

[2015-07-19 12:38] #1190 closed, assigned to wilhelmberg

[2015-07-20 17:46] bkfunk commented on #1369
Works now, thanks!

[2015-07-20 17:46] #1369 closed, assigned to nobody

[2015-07-20 19:36] flippinGeo opened #1418 "Tile cache - styles on remote sources"
This is an issue I've been encountering on a frequent basis and makes the typical MBS workflow nearly impossible.

Many of my remote styles will not display for full tileset making it nearly impossible to style a remote source. It only displays a few tiles at random zoom levels. I've tried recreating the style, and the source. The only way I can see my source well enough to style is if I work off

[2015-07-21 08:47] conmanet opened #1419 "How to show the labels of aeroways like Openstreetmap in Mapbox Studio"
I'm using Mapbox Studio to create a Mapbox style.

However, I don't know how to show the labels of aeroways like [Openstreetmap](http://www.openstreetmap.org/#map=16/16.0520/108.2044).

You can see the labels are showing on the right side.

![The labels are showing on the right side](http://i.stack.imgur.com/eTJc4.jpg)

[2015-07-21 09:35] llc12300913 commented on #1414
Thanks for the reply! I've resolved the problem.The reason is my shp file name consists of numbers.

[2015-07-21 17:03] geografa commented on #1414
Glad to hear @llc12300913 ! Added this to our list of error message improvements.

[2015-07-21 17:03] #1414 closed, assigned to nobody

[2015-07-23 03:14] mnquintana commented on #389
Are there any updates on this? I'd really like to be able to edit styles in an external editor (Atom, in my case) and have those changes reflected in Mapbox Studio, in particular because I've found the internal editor to be not quite powerful enough for my taste.

[2015-07-23 11:30] northlandiguana opened #1420 "Meltdown if PostGIS table dropped"
Working on a project involving PostGIS tables, I dropped a table to replace it with an updated table that I gave a new name. This caused Studio to throw a blue window error, and upon closing the error it takes you straight to the new project page with no "back" button or opportunity to view the remaining data! Do I seriously have to start over completely building a new data source from scratch bec

[2015-07-23 20:54] danb4r commented on #860
Hi. Having the same proxy issue here using Ubuntu Linux 14.04 LTS x64.. after I press "Connect" the screen goes blank.

This is what I get at the terminal:

[code]

Proxy is not dropping connection to api.mapbox.com:443, as when I opened the browser at 'https://api.mapbox.com/' I get a response:

[code]

I used the HTTP_PROXY and HTTPS_PROXY environment variables with username and password, as sta

[2015-07-24 06:43] wilhelmberg commented on #1420
You could try to open `data.yml` in your source directory with a text editor and delete (or edit) the lines belonging to your changed layer.

Does this work for you?

[2015-07-24 06:57] wilhelmberg commented on #860
@myktux

1.
Can you connect to the internet without a proxy in order to `connect` (authorize) just once?

2.
Afterwards you should be able to connect through proxies with this dev build (hope to get into the next release):
https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-linux-x64-proxy-tilejson-with-request.zip

Does this work for you?

[2015-07-24 08:16] arifklk commented on #1371
@titaozge You can transform  .KML file to .SHP with QGIS easily. It makes the file more flexible for Mapbox.

[2015-07-24 10:29] arifklk commented on #1419
It seems not possible for now because there is no defined "Runway Name" data type imported to Mapbox interface.

Maybe you can create a custom data which includes only Aeroway names and you can use it as an additional source layer.

[2015-07-25 12:43] pandapi opened #1421 "Change source window would not load"
I'm trying to style my source, but the input field would not load, so I cannot enter my map ID. It just keeps showing the wheel even after a few minutes. I have a Macbook Pro 13-inch, Mid-2012 running OS X Yosemite, and I have version 0.2.7 of Mapbox Studio. Thanks!

[2015-07-25 13:32] rjourde commented on #1421
I'm experiencing the same issue on iMac End-2012 running OS X Yosemite and Mapbox Studio 0.2.7.
From the application log:
`<Sat, 25 Jul 2015 13:30:37 GMT> error 500 { [Error: 404 GET https://api.mapbox.com/api/Map?account=rjourde&_type=tileset&private=true&access_token=xxxx] method: 'GET', url: '/history.json' }`

[2015-07-26 10:13] flemmens opened #1422 "How to define a bounding box to export tiles to mapbox account ?"
Hi,

I have a concern regarding the way tiles are exported to Mapbox account.

I have a big map with a lot of custom data, so it takes several hours to generate the mbtiles, then again several hours to export the result to my Mapbox account, which is perfectly normal. The problem is for updates. Of course, it is out of question to re-generate the entire world just because some tiles have changed,

[2015-07-26 14:15] conmanet commented on #1419
@arifklk Do you know how to do that?

[2015-07-26 16:06] arifklk commented on #1419
It depends what kind of data do you need but you are gonna need some GIS software experience. For example if you need just one or two airports, you can create your own file with Google Earth or QGIS. Or maybe you can get a total planet data or World Roads data etc. and delete the data other than Aeroway Roads.

Maybe more practical ways could be generated. But as I said it is totally up to data ty

[2015-07-27 20:50] cbdunc2 opened #1423 "MapBox Studio (mapbox-studio-win32-x64-v0.2.7.) won't open"
Hello!

Upon opening mapbox studio my cursor shows the loading sign, then a dialog box opens and closes immediately (no text can be seen in the box).

I have un-installed and re-installed with my intial download as well as re-downloaded and re-installed. Problem persists.

Any ideas?

Thanks in advance for the help.

[2015-07-27 21:01] wilhelmberg commented on #1423
Let me know, if this helps:
https://github.com/mapbox/mapbox-studio/issues/1406#issuecomment-120710691

[2015-07-27 21:05] wilhelmberg commented on #1394
Cause of reprojecting crash was fixed in proj4:
https://github.com/OSGeo/proj.4/commit/2b5b97942016c2f18a0992b934d1b6b460391dac

[2015-07-27 21:05] #1394 closed, assigned to nobody

[2015-07-27 21:16] cbdunc2 commented on #1423
Hmmmm. Sorry I didn't see that topic - however I am getting this error:

!   C:\Users\Cameron\Downloads\vcredist_x64-mini.7z: Cannot open C:\Program Files\mapbox-studio\resources\app\appcrt140.dll
    Access is denied.
!   C:\Users\Cameron\Downloads\vcredist_x64-mini.7z: Cannot open C:\Program Files\mapbox-studio\resources\app\concrt140.dll
    Access is denied.
!   C:\Users\Cameron\Downloads\vcre

[2015-07-27 21:19] wilhelmberg commented on #1423
Try to extract the files to a temporary folder and then copy them.
This should give you an UAC prompt.

[2015-07-27 21:34] cbdunc2 commented on #1423
Hmmm. I extracted into a temp folder then copy&pasted the files (vcamp140.dll, vccorlib140.dll, vcomp140.dll and vcruntime140.dll) into the two locations and delted the roaming folder. Now I get the same dialogue box but with a loading icon for about 1/2 a second then it closes. Any more suggestions?

Thanks so much for your help.

[2015-07-27 22:03] wilhelmberg commented on #1423
There are 8 files in the download:

[code]

Did you copy them all or just the four you mentioned?
All 8 have to be copied into both folders:

[code]

You can leave the roaming folder as is, don't delete it.

[2015-07-27 22:13] cbdunc2 commented on #1423
Berg - great I didn't see the other 4 files!

It appears to be working now. Thanks!

Cameron

[2015-07-27 22:34] wilhelmberg commented on #1423
:+1:

[2015-07-27 22:34] #1423 closed, assigned to nobody

[2015-07-28 22:31] andmimey opened #1424 "Mapbox Studio Crashes on Windows 10"
Window appears and then disappears. Does not work under compatibility mode, either.

[2015-07-29 01:00] springmeyer commented on #1424
See https://github.com/mapbox/mapbox-studio/issues/1423 for the potential problem and solution in the near term.

[2015-07-29 06:11] andmimey commented on #1424
Wow - thank you!

[2015-07-29 06:11] #1424 closed, assigned to nobody

[2015-07-29 06:23] wilhelmberg commented on #1424
Perfect!
Thanks for reporting back.
We hadn't had a chance yet to test on Windows 10.

[2015-07-29 13:49] danb4r commented on #860
I decided to wait for the next release. In the mean time I tried outside the proxy and had a good go with the app. Thank you, Berg.

[2015-07-29 16:29] ghost commented on #1190
Wow, unlucky me. Just installed vs community followed by mapbox-studio. Really wish it threw the error with a proper warning (It simply closed on start) Running the exe through commandline gave the pipe error (which landed me at this page) and then the .dll error after following your guide. Hope the new version is released soon.

[2015-07-29 18:59] wilhelmberg commented on #1190
@small-mallet great this solved it for you.
VS2015 unfortunately breaks the Mapbox Studio install.
Working on the new release with full steam.

[2015-07-31 15:35] ajashton commented on #1415
Unfortunately web font licensing and distribution systems are not compatible with Mapbox Studio, which is much more comparible to Photoshop than HTML & CSS as far as font rendering is concerned. Web fonts are licensed to be temporarily stored on the computer of the person viewing the website, but custom fonts for Studio styles need to be stored on the servers that are generating the tile images.

[2015-07-31 15:35] #1415 closed, assigned to nobody

[2015-08-02 10:13] wilhelmberg commented on #1404
Till the next release is out, **a _temporary_ workaround for Mapbox Studio _0.2.7 64bit_ is to**:
- download https://mapbox.s3.amazonaws.com/windows-builds/visual-studio-runtimes/vcredist-VS2014-CTP4/vcredist_x64-mini.7z
- extract `vcredist_x64-mini.7z` to a temporary folder, e.g.: `C:\MBSDLLs` (can be deleted afterwards)
- copy all DLLs from `C:\MBSDLLs` into

[code]
- copy all DLLs from `C:\MBSD

[2015-08-03 15:50] k1wiosm opened #1425 "Mapbox-studio crashes when opening it"
I am running Windows 10 64-bits, athough this was ocurring also before updating from Windows 8.1 64-bits.

As soon as I run the app, it crashes. I have tried running it from console and I get this:

When trying 'vendor\node index.js' I get an alert saying this. Nothing on console:

[2015-08-04 07:55] wilhelmberg commented on #1425
@k1wiosm please try this https://github.com/mapbox/mapbox-studio/issues/1404#issuecomment-127011952 and tell me if it works for you?

[2015-08-04 08:52] k1wiosm commented on #1425
It works!

Thank you

[2015-08-04 09:01] wilhelmberg commented on #1425
Perfect!
Thanks for letting me know.

[2015-08-04 09:01] #1425 closed, assigned to nobody

[2015-08-04 10:19] planemad commented on #1419
@conmanet you can export the data from OSM itself with the name and ref tags like http://overpass-turbo.eu/s/aM0

Then create a new datasource with it in Studio, and include it in your style project for styling. You can use this guide for help: https://www.mapbox.com/guides/source-quickstart/

[2015-08-04 10:20] #1419 closed, assigned to nobody

[2015-08-04 13:09] nmirkov commented on #1422
you can use this command:
./node_modules/tilelive/bin/tilelive-copy bridge:///home/ubuntu/data.xml --bbox=minlon,minlat,maxlon,maxlat nameOfdB.mbtiles

The data.xml has to have the structure with absolute paths to your shape files (you can check this when you save source from Mapbox Studio.

This way you specify bounding box and it is much faster method.
Dependecies are:
- tilelive
- tilelive-brid

[2015-08-07 14:32] slibby commented on #1404
@BergWerkGIS That workaround worked like a charm for me - thanks for updating the issue.

[2015-08-07 14:59] wilhelmberg commented on #1404
@slibby Perfect!
Thanks for lettings us know, that this worked for you.

[2015-08-07 16:50] jbrwn commented on #1288
@zerebubuth @yhahn
I am running into this issue as well in mapbox studio 0.2.7 OSX.  I ran into this trying to use non mapbox remote sources but even using a mapbox tilejson uri fails:

[code]

![screen shot 2015-08-07 at 10 32 50 am](https://cloud.githubusercontent.com/assets/1198377/9140640/f6024126-3cef-11e5-9f72-4e749042a817.png)

I realize that this is a fringe use case for mapbox studio but

[2015-08-07 19:33] kriscarle commented on #995
I'm also getting this error when using PostGIS. The message in the console is:

[code]

It looks like it may be related to #393? zoomToLayer is only implemented for local data?

A work-around is to add some sort of base layer data, e.g. a country boundaries shapefile, so you can find your data on the map. Then once you've centered the map and saved it you can remove the base layer.

[2015-08-08 15:57] ksweetie opened #1426 "Windows 8.1 Mapbox Studio hangs on install"
I'm trying to install mapbox-studio-win32-x64-v0.2.7.exe on Windows 8.1, and it's hanging close to the end of the setup. Here's what it looks like:

![image](https://cloud.githubusercontent.com/assets/2036284/9151107/34e1c4e4-3dbc-11e5-9019-49c0cdac7ea6.png)

I tried running the installer as Adminstrator with the same results. Any ideas?

[2015-08-09 07:26] wilhelmberg commented on #1426
@DynamicDyno Never seen this exact installer hang before, but do you have `Visual Studio 2015` or the `2015 C++ Redistributable / vcredist` installed?
We are experiencing some problems when the above software is installed.
We are working hard on a new release to avoid this.

As a workaround could you try this:

1.)
Run installer till it hangs

2.)
Copy folder `C:\Program Files\mapbox-studio` to a

[2015-08-09 18:45] humanitariandata commented on #1242
I am having the exact same error when running the following command on this style:

/usr/bin/tl copy -z 6 -Z 6 -b "2.532935 6.437926 2.560045 6.508226" tmstyle://./mapbox-studio-humanitarian-print.tm2 mbtiles://./tiles.mbtiles

npm ls mapnik shows:
digidoc@digidoc:~/osm$ npm ls mapnik
/home/digidoc/osm
└─┬ tl@0.4.0
  └─┬ abaculus@1.2.0
    └── mapnik@3.3.0

Any help is appreciated

[2015-08-10 13:49] springmeyer opened #1427 "Ensure startup errors show when linux app started via ./atom"
This may be a dupe ticket, but creating just to make sure this gets attention before next release.

Specific example of what we need to solve in a more friendly way is when a Linux user running oldish linux hits:

[code]

^^ no idea why this user could not write to the shell.log. And the `exited with 8` is not very helpful. Ideally a more actionable error would be printed.

The real error in this

[2015-08-10 13:57] springmeyer commented on #1242
@rodekruis - I see you are using https://github.com/mojodna/tl. So the most appropriate place for help is https://github.com/mojodna/tl/issues.

[2015-08-12 18:11] benkerr opened #1428 "duplicate layer name overwrites existing"
when setting up multiple layers for data source, if you rename a layer the same as an existing layer, it overwrites existing with no warning.

[2015-08-13 06:57] animaux commented on #1414
Same goes for geojson.

[2015-08-13 09:04] Jeff37 commented on #898
Dear Springmeyer,

I'm trying to build mapbox-studio from source following your instructions (on Ubuntu 14.04 LTS 32 bits). It failed at:
~/sources$ npm install mapnik
npm http GET https://registry.npmjs.org/mapnik
npm http 200 https://registry.npmjs.org/mapnik
npm http GET https://registry.npmjs.org/mapnik/-/mapnik-3.4.2.tgz
npm http 200 https://registry.npmjs.org/mapnik/-/mapnik-3.4.2.tgz
npm ht

[2015-08-13 14:04] deepankverma opened #1429 "Mapbox v 0.2.7 flashes on start then exits"
Hi,
I tried to use mapbox v0.2.7, but the application keeps on flashing for 1 second before disappearing again on running .exe. I'm using win 8.1.
I've also tried it on Mac and win 7.

WIN 7: In this case there is no flashing of window, but a blank window appears  which stays as it is in one of the PC.
In another PC, Window shows content, but on clicking "connect" it shows error that it can't conn

[2015-08-13 14:17] wilhelmberg commented on #1429
@deepankverma, you are hitting two known issues:

1.)
An install of new Visual Studio 2015 breaks Mapbox Studio 0.2.7.
A workaround is described here:
https://github.com/mapbox/mapbox-studio/issues/1404#issuecomment-127011952

Also, Mapbox Studio 0.2.8, that should not have any problems with VS2015 installed, will be out during the next weeks.

2.)
Proxies are a problem as Mapbox Studio relies on

[2015-08-13 18:30] deepankverma commented on #1429
Yeah workaround did just fine. Thanks a lot for that.
But with proxy thing, still no success.
Will this new version of studio allow proxy connections?

[2015-08-15 09:23] wilhelmberg commented on #1429
Yeah, proxies are still a problem.

Currently, to work through proxy, you have to use [this special build](https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-proxy-tilejson-with-request.exe) as desribed here: https://github.com/mapbox/mapbox-studio/issues/1393#issuecomment-119874790

Upcoming version will include the fixes of the special build.
**One problem remains:** first sta

[2015-08-15 16:10] P4z commented on #1404
Thanks for this _quick'n'dirty_ but **useful** workaround, @BergWerkGIS ! Hope to see new release very soon.

In the meantime I created a very simple installation package as my NSIS homework for even easier application of your solution. The [libraries archive](https://crazy-tronners.com/P4/mapbox/mapbox.v0.2.7.x64-VS2014CTP4.7z) is available as a [self-extracting binary](https://crazy-tronners.com

[2015-08-18 19:58] springmeyer opened #1430 "Upgrading mapbox-studio-default-style breaks tests"
If `mapbox-studio-default-style` is bumped from 1.x to 2.x then this breaks the tests like:

[code]

What appears to be the cause is that tilelive cannot fetch the `mapbox://mapbox-streets-v6` added in: https://github.com/mapbox/mapbox-studio-default-style/commit/b91d133dde2d62c564071fdcb8330cefc9cf8b66

@yhahn @ajashton - any idea why this would be (why v6 fetch would fail?)

[2015-08-18 20:00] springmeyer opened #1431 "Underscore chaos and upgrade test breakages"
Lots of dupes of underscore currently:

[code]

And if `1.8.x` is used at the top level then the tests start failing like:

[code]

[2015-08-18 20:20] yhahn commented on #1430
Yes, we currently mock the Mapbox API for our tests -- this mapid would need to be provided in https://github.com/mapbox/mapbox-studio/tree/mb-pages/test/fixtures-mapboxapi (or we could/should switch to encrypted creds and real use of Mapbox API).

[2015-08-19 10:53] wilhelmberg opened #1432 "Inconsistent test behaviour"
Happens locally and on AppVeyor.
Sometimes all tests pass, sometimes these fail (timing issues?):

---
### [SOLVED] EPERM, rename app.db

**---EDIT---**
Gave the tm server some time to turn on and off, before continuing with the tests, e.g.

<pre>
    tm.config({
        log: false,
        db: path.join(tmppath, 'app.db'),
        tmp: path.join(tmppath, 'tmp'),
        fonts: path.join(tmppath,

[2015-08-19 14:54] wilhelmberg commented on #1432
closing, inserted solutions inline above.

[2015-08-19 14:54] #1432 closed, assigned to nobody

[2015-08-19 15:39] springmeyer opened #1433 "Failing test only on linux with node v0.10.30"
We currently have 3 jobs passing in the vs2015 branch (upcoming release) and only one failing: https://travis-ci.org/mapbox/mapbox-studio

That failing job has one failing test:

[code]

Both @BergWerkGIS and I wonder if this is the same node v0.10.x bug seen elsewhere (api-maps).

[2015-08-19 16:25] springmeyer commented on #1433
upgrading to node v0.10.40 solves this failing test: https://travis-ci.org/mapbox/mapbox-studio/builds/76305474

[2015-08-19 16:34] wilhelmberg opened #1434 "Windows: remove manual download of phantom.exe@2.0.0"
https://github.com/Medium/phantomjs is still at buggy, phantomjs 1.9 (causing failing tests), because no Linux binaries are available.

Remove manual download once an updated package is available.

[2015-08-20 18:05] springmeyer commented on #1433
Thanks @jakepruitt! This issue is now resolved by df18660343676ceff8e and 856103c

[2015-08-20 18:05] #1433 closed, assigned to nobody

[2015-08-20 18:08] jakepruitt commented on #1433
Awesome, thanks for doing the update in mapbox-studio!

[2015-08-20 18:50] springmeyer commented on #1404
noting that https://github.com/mapbox/mapbox-studio/compare/vs2015 is the branch that @BergWerkGIS  has been working on that will solve this and with the latest commit we've moved to node v0.10.40 and all tests are passing on travis and windows /cc @GretaCB @flippmoke

[2015-08-21 11:46] wilhelmberg commented on #1397
dev version as of today includes 3.4.3

[2015-08-21 11:46] #1397 closed, assigned to nobody

[2015-08-21 11:53] wilhelmberg commented on #1426
Upcoming release will not have this `vcredist` install problem.

[2015-08-21 11:53] #1426 closed, assigned to nobody

[2015-08-21 11:55] #1362 closed, assigned to nobody

[2015-08-21 11:58] wilhelmberg commented on #1363
@rclark @samanpwbb
Any news on this?
We are trying to get the next version out as soon as possible.

`vs2015` is the branch I'm working on for the release:
https://github.com/mapbox/mapbox-studio/tree/vs2015

[2015-08-21 12:03] wilhelmberg commented on #1351
@amyleew any news on this?
We want to release a new version soon.
https://github.com/mapbox/mapbox-studio/tree/vs2015 is the branch I'm working on.

[2015-08-21 12:04] wilhelmberg commented on #1339
@springmeyer what are your thoughts about this for the upcoming release?

[2015-08-21 12:05] wilhelmberg commented on #1300
current dev version is already using 3.4.3.

[2015-08-21 12:05] #1300 closed, assigned to nobody

[2015-08-21 12:14] wilhelmberg commented on #824
merged into current dev branch:
https://github.com/mapbox/mapbox-studio/pull/1435

[2015-08-21 12:14] #824 closed, assigned to springmeyer

[2015-08-21 15:08] amyleew commented on #1351
@BergWerkGIS - It's good to go! Working branch: https://github.com/mapbox/mapbox-studio/pull/1387. New [PR to merge with `vs2015`](https://github.com/mapbox/mapbox-studio/pull/1436)

[2015-08-21 15:30] rclark commented on #1363
The trouble as I see it is that when you quickly create a new style from the unfinished remote source, you're making requests to read the map from one api endpoint, but you have to ping a completely different endpoint in order to know if the processing is finished yet. Further, on the client side you may not know the relationship between the mapid (to make the style request for tiles) and the uplo

[2015-08-23 08:39] wilhelmberg commented on #1363
Makes sense, thank you for clearing that up.

At first glance, I thought, this is perfect, but, what, if the user want's to prepare several sources?
Wouldn't be a good idea to keep them locked, waiting for the processing to finish, when they want to do something else locally.

How about just adding a message, e.g.:

[code]

[2015-08-24 03:29] nyurik commented on #1268
This bug has hit us as well - without the 'Accept-Encoding': 'gzip'  in the tilejson/lib/tilejson.js - `TileJSON.prototype.get`, our caching server (Varnish) automatically sends an uncompressed response PBF tile, even though the backend performs the nasty hack of always returning the compressed pbf even if accept-encoding was not set.

From the looks of it, tilejson lib could use [request lib](htt

[2015-08-24 10:12] wilhelmberg commented on #1268
@nyurik We are already testing tilejson with request https://github.com/mapbox/node-tilejson/tree/request

Is there a public endpoint for me to try with the latest Mapbox Studio dev build?
You could also mail it to me: `my-first-name AT mapbox DOT com`

[2015-08-24 13:52] nyurik commented on #1268
@BergWerkGIS i have created a test point at http://ns512621.ip-167-114-156.net/osm/pbfinfo.json  -- it points to the port 4000, which is NOT behind varnish. If you remove the port, it will go via varnish, and will uncompress the data on the fly.  Thanks!
P.S. I am testing with the github master version of the studio, because the 2.7 removes the host name.

[2015-08-24 14:27] nyurik commented on #1268
One more thing - I enabled it via Varnish on https://maps.wikimedia.org/osm/pbfinfo.json, but because Varnish cached the old data for today, it has to be cache busted with https://maps.wikimedia.org/osm/pbfinfo.json?a -- but query params are not supported by mapbox studio for some reason.

[2015-08-24 15:38] wilhelmberg commented on #1268
@nyurik Thanks, I'm able to replicate:
via `4000` :white_check_mark:
via `80`: :x:

`vs2015` is the branch I'm currently working on for the next release.
https://github.com/mapbox/mapbox-studio/tree/vs2015
Would be great, if you could take a look and let me know, if you stumble upon any other bumps with that branch.

[2015-08-24 17:45] nyurik commented on #1268
@BergWerkGIS I pulled that version, but its not working -- image_reader: can't determine type from input data  (which is the same error i got when mapnik gets uncompressed data i think).

You can use https://maps.wikimedia.org/osm/a/pbfinfo.json as more stable (behind varnish)
ATTENTION:  The link would not work with any non wmf referrer - so copy paste it instead of clicking it

P.S. Feel free to

[2015-08-24 19:54] wilhelmberg commented on #1268
@nyurik sorry, for any misunderstanding.
I'm able to replicate the problem, but haven't solved it yet.
`vs2015` is the branch I'm currently working on for the next release.
I just thought you might be interested in trying it, as it contains some other updates, like `node-mapnik@3.4.3` and others.

[2015-08-24 20:28] nyurik commented on #1268
Gotcha, will try it, thanks!  Are you on IRC?

[2015-08-24 20:44] wilhelmberg commented on #1268
Not really on IRC, mainly communicating via Github issues.

[2015-08-24 21:13] nyurik commented on #1268
ok, thx.  I have updated [this server](http://ns512621.ip-167-114-156.net:4000/osm/pbfinfo.json) to always use nonVarnished (hacked) method, and the official maps.wikimedia.org will always use varnish

[2015-08-24 21:30] ajashton commented on #1188
[Link added](https://github.com/mapbox/guides/commit/642016496cfd62430958a11896b9a4e8bca88e88) and [main readme updated](https://github.com/mapbox/postgis-vt-util/blob/master/README.md)

[2015-08-24 21:30] #1188 closed, assigned to ajashton

[2015-08-25 08:04] wilhelmberg commented on #1404
For workaround with current 0.2.7 see [above](https://github.com/mapbox/mapbox-studio/issues/1404#issuecomment-127011952).

Next release will include needed files.

[2015-08-25 08:04] #1404 closed, assigned to wilhelmberg

[2015-08-25 09:23] #1401 closed, assigned to nobody

[2015-08-25 12:35] arp242 opened #1437 "Place cache files in proper directory on Linux"
Related to #1173, "Place cache files in proper directory on OS X":

In Linux, cache files are in `~/.config/mapbox-studio/Cache` and `~/.config/mapbox-studio/GPUCache` .

This is annoying for the same reason as outlined in the other issue: making backups of `~/.config` will now include these (useless) cache files.

The proper location for this in `~/.cache` or the value of the  `$XDG_CACHE_HOME` e

[2015-08-25 14:50] wilhelmberg commented on #1385
Only module right now is `node-gdal`.
Request dropped here:
https://github.com/naturalatlas/node-gdal/issues/118

---

@springmeyer
Any ideas how to stop build if `"postinstall": "npm dedupe node-pre-gyp"` is not able to dedupe?

Unfortunately it does not set an `%ERRORLELVEL%`:

![image](https://cloud.githubusercontent.com/assets/4549888/9469786/3aebadb0-4b49-11e5-98a2-283403d7979b.png)

[2015-08-25 17:32] wilhelmberg commented on #1385
Added, `node-pre-gyp` to the module pre-tests.

[2015-08-25 17:33] wilhelmberg commented on #1351
Thanks, @amyleew, looks nice.

[2015-08-25 17:33] #1351 closed, assigned to amyleew

[2015-08-25 18:53] #1429 closed, assigned to nobody

[2015-08-25 18:57] #1383 closed, assigned to nobody

[2015-08-25 18:59] wilhelmberg commented on #1386
no seeing this error anymore.

[2015-08-25 18:59] #1386 closed, assigned to wilhelmberg

[2015-08-25 19:03] wilhelmberg commented on #1380
Partly solved by allowing tab shortcuts for `1`to `6` only.
Aiming for a proper solution in a future release.

[2015-08-26 08:06] wilhelmberg commented on #1388
@laurenancona are you still experiencing these problems?

I couldn't find the mentioned ids (`laurenancona.95b33dda`, `laurenancona.e8146fe3`), neither as style nor as source.

I tried some of your sources with the latest dev build of Mapbox Studio and they work fine:

![image](https://cloud.githubusercontent.com/assets/4549888/9488278/09f7fa5c-4bd9-11e5-8bf4-1db2562ef5e4.png)

Could you point me

[2015-08-26 19:31] duizendnegen commented on #1190
Same here, also resolved by copying the DLLs. Leaving this comment in a hope that this issue ranks higher up on search engines. When starting Mapbox, window disappears immediately.

[2015-08-28 06:16] bitbangr commented on #1214
I just tried running Mapbox Studio 0.2.7 with Max OS X 10.10.5 and I also get the blank white application screen. I also deleting the app.db file and application support/mapbox-studio directory with no luck.

Disappointing as I spent quite a bit of time updating to the latest OS X so that I could run this app.

[2015-08-28 08:28] wilhelmberg commented on #1268
@nyurik here's a dev build, could you try it and let me know, how it works for you?
Both your endpoints worked for me.

Please empty the Mapbox Studio cache folder before you use one of those versions:

*nix: `~/.mapbox-studio/cache`
Windows: `%USERPROFILE%\.mapbox-studio\cache`

https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-linux-x64-vs2015.zip
https://mapbox.s3.amazonaws.com/mapbox

[2015-08-28 10:05] arifklk opened #1439 "How Can I Edit Same Map from Another Computer?"
Hello,

I was using Mapbox Studio to edit my custom data for a long time. Today I have a troubleshoot with starting Mapbox Studio on my MacOSX 10.10.5 computer (It is not because of MB Studio, probably some system files are damaged after a critical process by me). The thing is I can reach the datas and folders of projects I am working on but I can not open the Mapbox Studio, so I am planning to do

[2015-08-28 16:07] nyurik commented on #1268
Is that the same code as in github? I would rather try it by "git pull"

[2015-08-28 16:21] nyurik commented on #1268
![image](https://cloud.githubusercontent.com/assets/1641515/9551453/2abacfe2-4d66-11e5-8389-1e37421f0da5.png)
(unrelated to the discussion, but confusing nevertheless)

[2015-08-28 16:24] nyurik commented on #1268
I tried custom build with the https://maps.wikimedia.org/osm/pbfinfo.json  -- works fine, thanks!  github seems to be behind the custom build

[2015-08-28 20:09] wilhelmberg commented on #1268
@nyurik sorry for the confusion. It's the first dev build of the next version.
If you prefer `pull` its in the `vs2015` branch.

[2015-08-28 20:09] wilhelmberg commented on #1268
Great that it works for you, too.
Thanks for testing.

[2015-08-31 06:09] bitbangr commented on #1214
Not sure if this will help anyone else but I found that I did not have "localhost" parameter set in my hosts file in my Mac environment.

Edit your hosts file (For me it was located at /private/etc/hosts)

and add the following line to it

127.0.0.1       localhost

I was able to get from a blank white screen to the Mapbox studio.

Also If you have installed other Web servers/services like MAMP/MA

[2015-09-01 05:04] gommo commented on #1408
Also with & character

[2015-09-02 01:22] amyleew opened #1443 "Style create button"
Styled create button with the `button` class.

![image](https://cloud.githubusercontent.com/assets/4587826/9620999/32696ee2-50ef-11e5-9480-bb3323652846.png)

/cc @flippmoke

[2015-09-03 14:14] amyleew commented on #1443
Fixed https://github.com/mapbox/mapbox-studio/pull/1444

[2015-09-03 14:14] #1443 closed, assigned to amyleew

[2015-09-03 14:15] amyleew opened #1446 "Fix all buttons"
Add `button` style class to all buttons in Studio

/cc @flippmoke

[2015-09-03 14:17] katydecorah commented on #1446
@amyleew I found and fixed a couple buttons in #1445

[2015-09-03 14:19] amyleew commented on #1446
nice thanks @katydecorah

[2015-09-03 15:32] NickHeiner opened #1447 "Error: Error calculating min/max zoom: Bounds invalid"
I am using Mapbox Studio `0.2.7`. I am seeing an error, but I'm not sure how to fix it.
### Repro steps
1. Launch Mapbox studio
2. Click "projects"
3. Create a new project
4. Select "Blank source"
5. Click "+ New layer"
6. Choose a `geojson` file that contains the following:

[code]

**Expected**: I see my feature in the source viewer.
**Actual**: I get the following error:

![mapbox error](https:

[2015-09-03 15:38] #1439 closed, assigned to nobody

[2015-09-03 19:33] #1301 closed, assigned to nobody

[2015-09-04 20:41] jrweinb opened #1449 "UTF Grid Does not work for Large Datasets"
Hello,

When uploading a map with a large dataset from geojson (4 datasets each around 150MB), the interactivity layer utfgrid is rendering wrong. Instead of representing each shape in a corresponding image tile with a different ascii character, it is using the same ascii character for all shapes and the result is inaccurate and incomplete interactivity data. It should be noted that when inspectin

[2015-09-06 18:30] jrweinb commented on #1449
FYI - I solved this issue by using tippecanoe to create an mbtiles and then uploaded using the upload api. However, the issue within Mapbox Studio still exists.

[2015-09-07 12:34] Ranajay opened #1450 "Cannot find Mapbox API at https://a.tiles.mapbox.com"
When I am trying to launch the Mapbox Studio, in the landing page it says Connect to Mapbox. I click on Connect option and the above error message comes. Any suggestion to resolve it?

[2015-09-07 14:15] wilhelmberg commented on #1450
@Ranajay Are you behind a proxy?

[2015-09-08 10:12] wilhelmberg commented on #975
Works for me :smirk:

![image](https://cloud.githubusercontent.com/assets/4549888/9732273/cdbfd6be-5622-11e5-976a-d34105cb94e0.png)

[2015-09-08 10:12] #975 closed, assigned to nobody

[2015-09-08 12:51] #1388 closed, assigned to nobody

[2015-09-08 12:57] wilhelmberg commented on #1268
It's working for Mapbox Studio with branch https://github.com/mapbox/node-tilejson/tree/request-mbs

Closing as the integration of requestjs into node-tilejson still seems to need some more time and testing (evaluation of consequences/breaking changes in other modules):

https://github.com/mapbox/node-tilejson/issues/37
https://github.com/mapbox/node-tilejson/pull/39
https://github.com/mapbox/node

[2015-09-08 12:57] #1268 closed, assigned to wilhelmberg

[2015-09-08 13:12] wilhelmberg commented on #1385
Every modules uses `node-pre-gyp@0.6.9`

[2015-09-08 13:12] #1385 closed, assigned to wilhelmberg

[2015-09-08 14:08] wilhelmberg commented on #1446
@amyleew any buttons left?
I'm currently working on this branch
https://github.com/mapbox/mapbox-studio/tree/v0.2.8-alpha

[2015-09-08 15:12] springmeyer commented on #1156
This was fixed by https://github.com/mapbox/mapbox-studio/commit/8c07114cbee13043a3071ba08cf11dd16187f060. Obviously returning the default extent will lead to more tiles being rendered, so this solution is not totally ideal. But we can handle that issue separately.

[2015-09-08 15:12] #1156 closed, assigned to yhahn

[2015-09-08 15:37] springmeyer commented on #1430
going to stick with v5 styles right now, so will revert the above commit.

[2015-09-08 15:43] springmeyer commented on #1430
revert done in https://github.com/mapbox/mapbox-studio/commit/4218ea49c1b5a352bcffea4a83bb388b9f9d4cfb

[2015-09-08 15:43] #1430 closed, assigned to nobody

[2015-09-08 17:28] wilhelmberg commented on #1060
Installer now supports option `/S` (case sensitive, big S) to silently install/uninstall.

Will be available in the upcoming **`0.2.8`** release.

Use like this `start /wait mapbox-studio-win32-x64-v0.2.8.exe /S` to be able to check `%ERRORLEVEL%` for success/failure.

[2015-09-08 17:28] #1060 closed, assigned to wilhelmberg

[2015-09-08 23:04] amyleew commented on #1446
Looks good @BergWerkGIS

[2015-09-08 23:04] #1446 closed, assigned to amyleew

[2015-09-08 23:10] springmeyer commented on #1430
followup revert to keep the tests passing https://github.com/mapbox/mapbox-studio/commit/e9a8fdf3d8c68d0f831a4e80540e9e62fbfbe068

[2015-09-09 06:30] wilhelmberg commented on #1446
Thanks :+1:

[2015-09-09 07:42] vindev01 commented on #1069
Hi, its been a while since this post. Has a proxy supported version released yet?

[2015-09-09 07:51] wilhelmberg commented on #1069
@lancevin13 not yet, but it should arrive in a few days.
Unfortunately proxies are not supported 100% yet: if you've already used it, everything will be fine.
But the very first start on a completely new install still has to be done without proxy.

[2015-09-11 13:46] wilhelmberg commented on #1447
@NickHeiner I can replicate with the latest dev build of Mapbox Studio.
Looking into it ....

[2015-09-11 15:42] andfinally commented on #73
Thanks! springmeyer's workaround worked for me too

[2015-09-12 10:54] NickHeiner commented on #1447
Awesome. Thanks.

[2015-09-14 03:13] cloud-tribal opened #1452 "App not working"
Hi,

Just downloaded the app.
App not working.
Connect button takes forever.
Clicking create map times out after 5000ms

Anybody face these same issues ?

[2015-09-14 07:09] wilhelmberg commented on #1452
@cloud-tribal are you behind a proxy?

[2015-09-14 12:43] wsf1990 opened #1453 "why can't I export tiles to local disk?"
I use the Mapbox Studio on windows, But I can't export the tile data to local disk?Dose it must work on the server?

[2015-09-14 12:58] wilhelmberg commented on #1453
@wsf1990 any error message?

[2015-09-14 13:05] wsf1990 commented on #1453
I cant find the function or the menu to export,Do you have the usage of studio?Many Thanks!

[2015-09-14 13:28] wilhelmberg commented on #1453
Links to tutorials are on the main page of this repository:
https://github.com/mapbox/mapbox-studio#getting-started

You can export vector tiles from a Source Project (after saving):

![image](https://cloud.githubusercontent.com/assets/4549888/9850770/25f85c08-5af5-11e5-9894-c6a9ffe7def0.png)

[2015-09-14 13:55] wsf1990 commented on #1453
Thanks！I'll try it next day!Thanks

[2015-09-14 15:56] four43 commented on #983
This would be a really useful feature for us as well. It shouldn't be too hard to resolve something like `tmsource://../../my-source.tm2source` from the current script right? Or am I missing the complexity in this?

[2015-09-15 00:44] wsf1990 commented on #1453
Dear BergWerkGIS：
 I have tried to export,It's success,but why this mbtiles just have raster tile not vector tile?the table of grid_data is empty.Dose it need any settings?

[2015-09-15 08:17] wilhelmberg commented on #1453
I'm not quite sure I understand correctly, but are you saying that there are raster tiles in the exported mbtiles?

There shouldn't. It should contain vector tiles only, as you exported from the Source Project.

If you want to get raster tiles, you might want to look into @mojodna 's [tl](https://github.com/mojodna/tl).

You can pass an Mapbox Studio Style Project to it and get raster tiles:
https

[2015-09-15 12:06] wilhelmberg commented on #1368
Upcoming release will allow to browse to other drives.

[2015-09-15 12:06] #1368 closed, assigned to nobody

[2015-09-15 18:21] kirsch8 commented on #1452
Hi,

I am having the same problem! What exactly does it mean to be behind a proxy?

[2015-09-15 20:46] JesseCrocker opened #1454 "Max value for layer buffer slider is 64, but sometimes larger values are needed"
Mapbox-streets-v6 uses a buffer of 256 on some layers.

[2015-09-16 10:16] wilhelmberg commented on #1452
A proxy is a server that sits between your machine and the internet, used to cache or filter requests made to other servers:
https://en.wikipedia.org/wiki/Proxy_server

In case you are working in an enterprise environment, chances are high, that you connect to the internet via a proxy.

What does http://amibehindaproxy.com/ say?

[2015-09-16 10:55] freenerd opened #1456 "v0.2.8 missing assets on S3"
- [Some hours ago](https://github.com/mapbox/mapbox-studio/commit/aaa51902f114c73f4a31f15e5211c3ec87ec93f8) we changed the download link on https://www.mapbox.com/mapbox-studio/ to the new `v0.2.8`.
- As reported [on twitter](https://twitter.com/phirate/status/644095720903958528) and verified by me, there was no asset for `v0.2.8` on S3 though, thus leading to a broken download
- I've rolled back

[2015-09-16 11:01] freenerd opened #1457 "Before publish check that asset is download-able"
To prevent https://github.com/mapbox/mapbox-studio/issues/1456 in the future, the tests should make a request to the release asset URLs and fail if an asset is not `200 OK`.

Something like this, not sure where to place in code though:

[code]

/cc @GretaCB

[2015-09-16 12:15] wilhelmberg commented on #1456
Fixed!

@GretaCB FYI:

you tagged correctly and used the commit sha for that tag, but the build scripts use the GITSHA provided in the commit message and not the latest tag.
Thus creating downloads like `mapbox-studio-win32-x64-c63610c1141e292f2f8fbfb9e76ec3e1e8324800.exe`.

GITSHA in commit message can be branch name, commit sha or tag.

Correct commit message would have been: `[publish v0.2.8]`.

[2015-09-16 12:15] #1456 closed, assigned to GretaCB

[2015-09-16 12:26] wilhelmberg commented on #1177
Stale, did not occur lately.
Maybe due to `proj4 setlocale` fix.

[2015-09-16 12:26] #1177 closed, assigned to nobody

[2015-09-16 12:51] GretaCB commented on #1456
Thanks for jumping on this @freenerd and @BergWerkGIS!

[2015-09-16 15:01] wsf1990 commented on #1453
Thanks!
I means when I exprot mbtiles and download to local disk,I open the mbtiles by sqlite program,But I found that the view of grid_data is empty,Is this view stored vector tiles?the view of tiles have the data of raster tiles,So I suppose that can it export vector tiles!
Thanks!

[2015-09-16 17:08] wheredoesyourmindgo opened #1458 "Mapbox Studio Classic, postgis-vt-util"
After updating mapbox studio to 2.8, select layers can't seem to utilize the mapnik scale_denominator and bbox tokens, used in conjunction with [postgis-vt-util](https://github.com/mapbox/postgis-vt-util).  Something broke.

[code]

[2015-09-16 23:15] flemmens opened #1460 "Unable to add two custom layers in project.yml"
I have two custom layers saved in pbf mbtiles. Everything is working fine if I use a single layer:
source: "mbtiles:/home/data/a.mbtiles"

However, when I try to use two layers, I got the following error message:
source: "mbtiles:/home/data/a.mbtiles,mbtiles:/home/data/b.mbtiles"
Error: SQLITE_CANTOPEN: unable to open database file

I tried several notations:
source: "mbtiles:/home/data/a.mbtiles,

[2015-09-17 00:30] nyurik opened #1461 "Layers/change source does not allow query strings"
The text box at the bottom of the "Change Source" in "Layers" does not allow URLs with query strings, e.g. it allows
`https://maps.wikimedia.org/osm/pbfinfo.json`
  but does not allow
`https://maps.wikimedia.org/osm/pbfinfo.json?a`

[2015-09-17 00:51] cmahlke opened #1462 "App crashes on launch"
I downloaded the latest version of Mapbox Studio:

https://www.mapbox.com/mapbox-studio/#darwin

It crashes as soon as I launch it.

My environment:
OS X (10.9.5)

I successfully installed the same binary on another machine (OS X) and it launches.  Although, the difference is that on this machine I:
1) removed an older version of Mapbox Studio (0.2.7 I think) by dragging to the trash
2) cloned the

[2015-09-17 06:27] cmahlke commented on #1462
I followed this issue:

https://github.com/mapbox/mapbox-studio-classic/issues/1214

Deleted the app.db file and it worked!

[2015-09-17 06:27] #1462 closed, assigned to nobody

[2015-09-17 07:29] #1453 closed, assigned to nobody

[2015-09-17 09:42] Forna73 opened #1463 "Mapbox Studio Classic v0.28 doesn't open project file"
Hi!
Just after update to v0.28 from 0.27 I can't open my project anymore.
The error message is: Couldn't open file at C:\Users.....\project.yml

[2015-09-17 10:03] wilhelmberg commented on #1458
It worked for me with this SQL:

[code]

Could you try updating [postgis-vt-util](https://github.com/mapbox/postgis-vt-util) and see if this helps?

[2015-09-17 10:12] wilhelmberg commented on #1463
Does this happen, when you click on the list of previously opened projects, or if you browse to the project via `Browse`?

[2015-09-17 10:45] Faethor commented on #1450
@BergWerkGIS
 Hi there, got the same problem. I test your suggestions on post 860 https://github.com/mapbox/mapbox-studio-classic/issues/860
i got no proxy server (but it's from my workstation, maybe others restrictions)
No automatic configuration script
Can't ping a.tiles.mapbox.com, requests send but none received
I can  access https://a.tiles.mapbox.com through a web browser, from chrome it say

[2015-09-17 11:17] wilhelmberg commented on #1460
@flemmens are your sure, it works with 1 mbtiles file?
I couldn't even get it work with 1 on Windows or Linux and 0.2.7 or 0.2.8.
Which version are you using?

[2015-09-17 11:27] wilhelmberg commented on #1450
@Faethor thanks for the detailed information.

Since you cannot `ping` from the command line, I think there **is** something blocking your requests to `https://a.tiles.mapbox.com`

1.)
Can you look at those sites and see, if they think you are behind a proxy:
http://amibehindaproxy.com/
http://www.lagado.com/proxy-test
http://whatismyipaddress.com/proxy-check

2.)
Try to uncheck `Automatically det

[2015-09-17 11:34] flemmens commented on #1460
Yes it works fine with a single mbtiles. However I use studio only to create the mbtiles, the render is done on my server with tilelive-vector and some other mapbox/mapnik components so I am not sure which one cause the error. What is the right syntax to add several custom layers in the project.yml ?
When using mapbox served tiles, you can use a comma to separate the layers, it seems this does not

[2015-09-17 12:06] wilhelmberg commented on #1460
I don't think this is going to work that way (2 mbtiles in `source` of `project.yml`).

You'd probably have to have an instance of `tilelive-vector` for each mbtiles file, then merge the resulting vector tiles and then do the styling/rendering.

[2015-09-17 13:00] flemmens commented on #1460
I also tried with several "Layer" sections in the project.yml but it does not work either. To have multiple instances of tl-vector is not really an option, actually this is what I was doing until now but it is not efficient, and if it works with multiple mapbox hosted sources, it should work also with local sources as the render process is the same. I probably will have to check and update the sou

[2015-09-17 13:38] Faethor commented on #1450
@BergWerkGIS
Thanks a lot for your response :)
none of these site detect a proxy server
After unchecking the Automatially detect settings, no access to  https://a.tiles.mapbox.com/ or other internet website

[2015-09-17 14:13] Forna73 commented on #1463
Hi!
Both of them!

Il 17/09/2015 12:12, Wilhelm Berg ha scritto:

[2015-09-17 14:38] wilhelmberg commented on #1460
@flemmens I asked the `tilelive-vector` pros: it is not possible to pass in 2 mbtiles at once.
You have to merge them together yourself.
This is also how it is done when specifying multiple mapbox hosted sources: they are combined on the server.

[2015-09-17 14:38] #1460 closed, assigned to nobody

[2015-09-17 14:46] wilhelmberg commented on #1463
Strange, I couldn't replicate this with my projects (downgraded and upgraded to verify).

Style and Source Projects?

Do you have spaces in your path?
That shouldn't be a problem, but could you try to move the project folder into another folder with no spaces, just to verify?
e.g. into `C:\testproject\`

[2015-09-17 14:46] flemmens commented on #1460
Ok thanks, in the meanwhile I found a simple solution using tilelive-merge, so the work is done in the background and I can use a single project and style sheet. However it should probably be a good thing to have the possibility to add more than one mbtiles source as this is a very common situation to use multiple sources to render a map.

[2015-09-17 14:54] wilhelmberg commented on #1450
Thanks, now we know for sure, there is something blocking your traffic.

In case there is an IT department where you are, best guess would be to ask them.

If this is not the case, you might have an additional firewall (Norton, McAfee, ...), that you have to configure manually.
Or switch off temporarily to see, if it works then.

[2015-09-17 15:13] Faethor commented on #1450
Deactivate my Windows firewall from Avira Antivrius, no change. no ping return from a.tiles.mapbox.com
I'll try to reach our IT guy.
Thanks a lot

[2015-09-18 01:19] george-azzari opened #1464 "Mapbox Studio Classic V 0.3.0 crashes at startup (Mac OS X)"
Hi devs,

Just downloaded Mapbox Studio Classic V 0.3.0 for Mac OS X and it keeps crashing at startup. I am on Yosemite 10.5.5 (MacBook Pro 2015).

Any suggestions?

Cheers,
George

[2015-09-18 07:09] Forna73 commented on #1463
Hi!
Any space in file name nor in project name.
I tried to move the folder but nothing.
I just installed the 0.30 and nothing...
I didn't try to downgrade cause I don't know how to get the 0.27.

2015-09-17 16:46 GMT+02:00 Wilhelm Berg notifications@github.com:

[2015-09-18 11:22] wilhelmberg commented on #1463
Hm, any special characters in path of file names maybe?

Any chance you could share your project, that I can have a look at it?
You can make it available as download somewhere or send it to me: `<MY-FIRST-NAME> AT mapbox DOT com`.

In case you want to check with old `0.2.7`:
https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-v0.2.7.exe

[2015-09-18 15:29] Forna73 commented on #1463
I opened the files with notepad++ and with the new mapbox I restarted
from scratch copying and pasting the rules I wrote.
... so I have a fresh file.

Il 18/09/2015 13:22, Wilhelm Berg ha scritto:

[2015-09-18 20:05] wheredoesyourmindgo commented on #1458
I'm using the latest version of postgis-vt-util.sql.  I'm only having this issue with certain layers.  There are other layers in this datasource that use the same WHERE clause in conjunction with Z() and oddly they are working fine.

[2015-09-18 21:08] #1464 closed, assigned to nobody

[2015-09-19 07:39] wilhelmberg commented on #1458
@springmeyer @flippmoke any ideas?

[2015-09-19 08:08] wilhelmberg commented on #1463
Do I understand correctly, that you re-created `project.yml` by copying the contents of it into a new `project.yml`?
And that solved the error?

[2015-09-19 18:24] brianbancroft opened #1465 "Mapbox studio won't open in Ubuntu 14.04 LTS"
Hi there,

I've had problems installing and running Mapbox Studio Classic on a fresh install of Ubuntu 14.04 LTS. When I download the program and run Atom, the program opens for a half-second then closes.

I am unable to find the app.log or shell.log in the mapbox studio directory or after a general search, but I've found a npm.log in one of the subdirectories.

[code]

Thanks for any assistance!

[2015-09-19 21:52] Forna73 commented on #1463
I started a New project, created the styles and pasted the content of each
one  by copying the rules with notepad++ and saved the project.
Il 19/set/2015 10:08, "Wilhelm Berg" notifications@github.com ha scritto:

[2015-09-20 06:57] wilhelmberg commented on #1465
If you cloned from Github, you probably forgot to run `npm install`:
https://github.com/mapbox/mapbox-studio-classic#install-from-source

If you downloaded from
https://www.mapbox.com/mapbox-studio-classic/#linux
extract the archive, `cd` into the extracted directory and run `./atom`.

[2015-09-20 13:40] brianbancroft commented on #1465
I attempted both methods before writing this issue.

I've since reformatted and installed a fresh version of studio-classic on a fresh install of Ubuntu. The problem persists: I attempt to run Mapbox Studio via ./mapbox-studio-linux-x64-v0.3.0/atom, the window pops up for a fraction of a second, then closes again.

[2015-09-20 16:57] wheredoesyourmindgo commented on #1458
I'm going to close this ticket.  After using Mapbox Studio Beta, I've concluded that the way forward for me would be to simply upload GeoJSON files to Mapbox, in lieu of using Mapbox Studio Classic and postgis-vt-util to accomplish this. So basically I will:
`psql ... -c '"select * from "some view that outputs a geojson featurecollection"' -o /tmp/layer1`
`psql ... -c '"select * from "another view

[2015-09-20 16:57] #1458 closed, assigned to nobody

[2015-09-20 17:26] wilhelmberg commented on #1463
Interesting, never had this before.
Thanks for letting us know, should I ever occur again.

[2015-09-20 17:26] #1463 closed, assigned to nobody

[2015-09-20 17:40] wilhelmberg commented on #1465
@brianbancroft could you check again in `~/.mapbox-studio`, if you find `app.log` and/or `shell.log` and paste their contents here.

Please try the following to see, if we get more information this way:

[code]

Is there an error message or a message like `Mapbox Studio @ http://localhost:3000/`?
If error message, post it here.
If no error message, open your browser (preferably Chrome) at http://l

[2015-09-20 17:42] wilhelmberg commented on #1458
Thanks for letting us know.
Great choice: new Mapbox Studio will be the future of creating maps.

[2015-09-21 09:37] inclanfunk opened #1466 "Crash on Startup"
After upgrading from version 2.8 to 3, Mapbox Studio would not start. I un-install, re-install the ultimate version several times, restart the computer but nothing will do. I also try to run the soft with Admin privileges without success.
I have been reading post relative to the .mapbox-studio folder and app.db but in my case, the folder does not even exist.
When I try to launch the app, the first

[2015-09-21 10:03] ferranferrer commented on #1466
Hi everyone
I had same problem this morning when upgrading from 2.8 to 3.0. I use windows 8.1 64 bits.
I'm going to try the following solution.

Regards

[2015-09-21 10:07] inclanfunk commented on #1466
Which following solution?

[2015-09-21 10:13] ferranferrer commented on #1466
Sorry
This
https://github.com/mapbox/mapbox-studio-classic/issues/1384
But didn't work.
Obviously dll were version related and didn't function on Mp 3.0.

[2015-09-21 10:44] wilhelmberg commented on #1466
The workaround described in #1384 is **not valid** for `0.3.0`!
Please remove all files, that were extracted from the zip linked there.

---

Try the following steps instead:
- look into `%USERPROFILE%\.mapbox-studio` (<- paste this into the address bar of file explorer)
- if there is an `app.db.compacted`, delete it
- check via Task Manager that there are no running processes of
  - `node.exe` or

[2015-09-21 11:21] ferranferrer commented on #1466
Thanks Berg.
This worked it.
I have a personal Mapbox account and also working in a Client's account.
I have followed your instructions -the last ones ;-)- and Mapbox runned ok but I had 'connection not allowed' message when tried to connect. See below images.
Then I came back to web Mapbox studio and reset my password and succesfully connected with Mapbox Studio desktop with my account. After thi

[2015-09-21 12:28] brianbancroft commented on #1465
Hi there,

After running "node index.js" in the directory you've passed my way, I find the following problem:

[code]

In the ./mapbox-studio-linux-x64-v.0.3.0/ directory, I've found no app.log or shell.log file. I believe I may be looking in the wrong directory, but I'm unsure where else to look.

[2015-09-21 12:54] wilhelmberg commented on #1465
@brianbancroft you forgot `./vendor/`:

<pre>
<b>./vendor</b>/node index.js
</pre>

[2015-09-21 12:55] wilhelmberg commented on #1465
The log files are not in `./mapbox-studio-linux-x64-v.0.3.0/`, they should be in

<pre>
<b>~/</b>.mapbox-studio
</pre>

[2015-09-21 13:53] brianbancroft commented on #1465
Thanks for sticking with me so far :)

So for the first reply I didn't forget the vendor directory.

For the second reply, thanks for staying with me. I've found what you're looking for. App.log only has one line: `<Sun, 20 Sep 2015 13:34:09 GMT> Mapbox Studio @ http://localhost:3000/`. I tried running this on Firefox while I was waiting for chrome to download. Here, I was able to log in, and now

[2015-09-21 13:53] #1465 closed, assigned to nobody

[2015-09-22 09:17] palmerj commented on #574
Is this likely to be implemented at all. Current stands as a barrier to move from Tilemill to Mapbox studio for us.

[2015-09-22 09:32] inclanfunk commented on #1466
Sorry to re-open but I cannot follow the workaround as I do not have the .mapbox-studio created after a fresh install...
About the command line, vendor\node index.js give a node.exe system error saying "api-ms-win-crt-runtime-l1-1-0.dll is missing" try to re-install the programme to solve this issue."

[2015-09-22 10:08] palmerj commented on #1160
We would also like this feature as it was possible in Tilemill

[2015-09-22 10:56] palmerj opened #1467 "Ability to export project mapnik XML"
Like Tilemill it would be good to be able to export the project (both the sources or sources+styles) to mapnik XML for use in third party rendering systems that use mapnik as backend.

[2015-09-22 11:28] wilhelmberg commented on #1466
@inclanfunk ah, so `fresh install` means you cloned from Github?

Then you need to install the [`Visual C++ Redistributable for Visual Studio 2015`](https://www.microsoft.com/en-us/download/details.aspx?id=48145).

[2015-09-22 16:40] inclanfunk commented on #1466
Nope I download it from there:
https://www.mapbox.com/mapbox-studio-classic/#win32

[2015-09-23 11:49] wilhelmberg commented on #1467
Look into the style and source folders of your projects.
Is this what you need?

[2015-09-23 12:22] wilhelmberg commented on #1466
@inclanfunk That is really strange, I just downloaded, installed and verified that the 32bit installer version works for me.

Could you check, if `api-ms-win-crt-runtime-l1-1-0.dll` is in

[code]

and in

[code]

[2015-09-23 13:48] katydecorah opened #1468 "Cannot upgrade to 0.3.1"
@flippmoke Mapbox Studio Classic is telling me to upgrade to 0.3.1

![image](https://cloud.githubusercontent.com/assets/2180540/10046589/91cc5400-61d7-11e5-9cbd-de55610d588d.png)

But the website is still on 0.3.0

![image](https://cloud.githubusercontent.com/assets/2180540/10046566/782f829c-61d7-11e5-8c96-afbf20572a54.png)

[2015-09-23 13:59] flippmoke commented on #1468
This was my mistake, we ran into a problem mid release with l linux where it failed to run and I thought I had reversed this... I guess it did not, I am looking to solve this ASAP

[2015-09-23 18:53] flippmoke commented on #1468
@katydecorah this should be fixed now

[2015-09-23 18:53] #1468 closed, assigned to nobody

[2015-09-23 20:17] peterbodo commented on #1466
Hey, I have the same problem than @inclanfunk
@BergWerkGIS The file you have descibed is not there (with hyphens), It is with underlines:
api_ms_win_crt_runtime_l1_1_0

what to do next? :)

Thanks

[2015-09-23 20:23] peterbodo commented on #1466
Now I have renamed that file, but now the next error message does not find the win-core-timezone file.

shall I rename them all changing underlines to hyphens?

[2015-09-23 20:27] wilhelmberg commented on #1466
@peterbodo y, renaming all files in **both** directories would be necessary.

It is probably easier to install  [`Visual C++ Redistributable for Visual Studio 2015`](https://www.microsoft.com/en-us/download/details.aspx?id=48145), which should solve this, too.

[2015-09-23 22:27] peterbodo commented on #1466
@BergWerkGIS

Thanks, I could not download Visual C++, It just did not start downloading. For any case I have renamed the files in Program Files, but I do not have a Program Files (x86) Folder at all.

I have tried to run. Now it works for 5-6 secs, before it disappears.

I have tried in CMD as well

C:\Program Files\mapbox-studio\resources\app>vendor\node index.js

module.js:356
  Module._extensi

[2015-09-23 22:32] wilhelmberg commented on #1466
@peterbodo sorry, typo: the second path was also meant to be `C:\Program Files`.
Could you you look again in

[code]

and rename there, too?

[2015-09-23 22:35] peterbodo commented on #1466
@BergWerkGIS
yep thanks.
Are these exactly the same files?
Can I just copy them?

[2015-09-23 23:10] peterbodo commented on #1466
@BergWerkGIS
and it works now. Thx!

[2015-09-24 01:17] inclanfunk commented on #1466
Please confirm if it works renaming all the files of both folder or just
the api-ms-win-crt-runtime-l1-1-0.dll

Thanks

[2015-09-24 07:36] peterbodo commented on #1466
@inclanfunk
Rename them all!
I mean the api ms win files

[2015-09-24 08:59] inclanfunk commented on #1466
And can I copy the renamed one from _C:\Program
Files\mapbox-studio\resources\__app\vendor_ to _C:\Program
Files\mapbox-studio\resources\app\node_modules\mapnik\lib\binding\node-v11-win32-ia32
? Thanks_

[2015-09-24 09:00] wilhelmberg commented on #1466
@peterbodo @inclanfunk
I've re-published the 0.3.1 release.
Download again from https://www.mapbox.com/mapbox-studio-classic/ and reinstall.
Then it should work without renaming.

[2015-09-25 00:35] inclanfunk commented on #1466
Still not working.
Install without trouble, launch... start to load... 3 second later close by
itself.
Any ideas? Thanks.

[2015-09-25 09:19] wilhelmberg commented on #1466
@inclanfunk could you again try the steps outlined [above](https://github.com/mapbox/mapbox-studio-classic/issues/1466#issuecomment-141938779)?

Im especially interested in the output after `vendor\node index.js`.

[2015-09-25 09:40] inclanfunk commented on #1466
Sure...

On vendor\node index.js command, the result is:

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: OK, read

[2015-09-25 10:23] wilhelmberg commented on #1466
Oh, that's a vague error message.

Are you sure, you terminated any `node.exe` and/or `mapbox-studio.exe` processes that were still running, before you tried?

I just checked with two more W7 machines and Mapbox Studio Classic worked on them.

The only things to try I can think of at the moment are (repeating `vendor\node index.js` test for each):
- delete `.mapbox-studio` folder, `%USERPROFILE%\.

[2015-09-25 12:14] wilhelmberg commented on #1466
I've setup another fresh and vanilla W7 32bit VM and tested the 0.3.1 release: it worked.

[2015-09-25 14:49] heaversm opened #1469 "can't export tm2 file?"
Hi - Is there no longer a way to export a tm2 file from mapbox studio? Or mbtiles? I can only seem to get a tm2z file, which don't seem to be understood by other mapping applications.

[2015-09-25 21:18] pdwelker commented on #1466
Howdy
I'm new to MapBox running Windows 7 at 64bits. Downloaded and installed the latest version 0.3.1 yesterday. Same problem as above: program opens, loading circle spins then the window vanishes.

I have worked through the above troubleshooting to no avail:
-searched %USERPROFILE%.mapbox-studio and deleted app.db.compacted
-checked Task Manager for running .exe
-then ran the cdm and recieved th

[2015-09-26 08:57] wilhelmberg commented on #1466
@pdwelker your error means Mabox Studio Classic cannot write to `app.db`.

These are the possible reasons:
- `node.exe`/`mapbox-studio.exe` processes are still running and blocking the file
- a left over `app.db.compacted` is still there
- somehow the permissions to `%USERPROFILE%\.mapbox-studio` are screwed

Since you've already looked into 1. and 2. I suggest you
- verify 1. again
- delete `%USE

[2015-09-29 16:06] zer0cok3 opened #1470 "MapBox Studio Classic 0.3.1 - kartotherian/osm-bright.tm2"
When i try to open the style kartotherian/osm-bright.tm2 the error message appears: "Failed to load fonts from: node_modules/osm-bright-fonts/fonts/ in Map"

[2015-09-29 16:40] wilhelmberg commented on #1470
Have you followed the instructions for installing the fonts, like outlined in the ReadME?
https://github.com/kartotherian/osm-bright.tm2#viewingediting-this-style

Since you are using the @kartotherian [version of `osm-bright`](https://github.com/kartotherian/osm-bright.tm2), it might be a good idea to post your question over there.

[2015-09-30 01:35] linnybsailor opened #1471 "Mapbox Studio v0.3.1 application for Windows 64 bit appears to start with a spinning indicator but then it immediately closes"
PROBLEM: I open the Mapbox Studio v0.3.1 application. It appears to start with a spinning indicator in the application box but then it suddenly closes. Repeat attempts to open have the same result

I have uninstalled and reinstalled. Problem still persists.

Cheers,
LB

------ WHAT'S YOUR ENVIRONMENT?
Windows 7 - 64bit
I downloaded the 64bit installer, version 0.3.1
from https://www.mapbox.com/map

[2015-09-30 09:53] wilhelmberg commented on #1471
@linnybsailor thanks for the detailed report.

Unfortunately #1406 and #1423 are only valid for **0.2.7** and do more harm than good with versions +0.2.8.

Please try the following:
- uninstall Mapbox Studio Classic
- make sure, that `C:\Program Files\mapbox-studio` is really gone
  - the files you copied manually might still be there
  - if the directory still exists, delete it completely
- reins

[2015-09-30 13:01] linnybsailor commented on #1471
Thank you for the prompt response!

I have followed your above directions. Attached is the error message.

![croppercapture 192](https://cloud.githubusercontent.com/assets/14898867/10193514/9e46f990-6751-11e5-9366-9f719f063976.jpg)

[2015-09-30 13:20] wilhelmberg commented on #1471
@linnybsailor please try this:
- delete `%USERPROFILE%\.mapbox-studio` <- paste this into the address bar of File Explorer to find it
- make sure, that it is really gone, e.g. press F5 to refresh the folder listing
- run `vendor\node.exe index.js` again

Still errors?

[2015-09-30 13:42] linnybsailor commented on #1471
Followed the above. Doesn't appear to have errors any longer - see attached

![croppercapture 193](https://cloud.githubusercontent.com/assets/14898867/10194551/6878b55a-6757-11e5-9968-0bd3fd146d00.jpg)

The application still opens briefly and quickly closes when I tested again.

[2015-09-30 14:07] wilhelmberg commented on #1471
ok, seems to be working now (`Mapbox Studio @ http://localhost:3000/`).

Problem is, you cannot have two instances running at the same time.

Either you start
- via `node.exe index.js`
  - open your browser at http://localhost:3000 and use Mapbox Studio Classic there
  - go back to the console when you are finished and press `Ctrl+c` to quit Studio or close the console window
- or via the Programs

[2015-09-30 16:20] pdwelker commented on #1466
@BergWerkGIS after deleting the entire .mapbox-studio folder completely and re-running the vendor\node index, I received the http://localhost:3000/ in the command prompt.

Mapbox opened and connected in the browser on the second attempt. After this I stopped (ctl+c) mapbox in the command prompt. When clicking on the shortcut Mapbox now opens successfully! It works! Thank you!

One more question: W

[2015-09-30 16:50] wilhelmberg commented on #1466
@pdwelker Great, that it works now.

Mapbox Studio Classic is always the same (localhost).
The shortcut starts a bundled browser displaying localhost:3000, so that you don't have to go to the command line, start it there and then manually open your own browser.

[2015-09-30 19:59] linnybsailor commented on #1471
Your first option worked! Thank you so much

[2015-09-30 19:59] #1471 closed, assigned to nobody

[2015-10-01 05:07] GeertClaes commented on #976
I just downloaded and installed the latest version of MapBox Studio and it crashes on startup just as the op described.  Does one still need to patch this using the workaround described by @BergWerkGIS above??

[2015-10-01 15:25] Forna73 opened #1472 "MapBOX 0.3.1 doesn't open old projects"
Here wht it tells me when I try to open old project.

Couldn't open file at C:\Users\Stefano\Documents\LAVORI IN
CORSO\GIS\MapBox\project\VFRv080.tm2\project.yml

I tried to rename without spaces or underscore or something else.

The only way is to pen my styles with noptepad ++ and copy and paste on a new basis...

It's sturting to be annoying...

[2015-10-02 07:16] wilhelmberg commented on #976
@GeertClaes no, these instructions are obsolete now.

Please try the following:
- make sure (via Task Manager) that no `node.exe` or `mapbox-studio.exe` processes are running. If there are, kill them
- open a console:
  - press: Windows key + r
  - type `cmd`
  - ENTER
- `cd "C:\Program Files\mapbox-studio\resources\app"`
- `vendor\node.exe index.js`

What is the result of the above procedure?
- I

[2015-10-02 07:42] wilhelmberg commented on #1472
@Forna73 could you share a not-working project, that I can take a look at what's going on?

[2015-10-02 08:52] Forna73 commented on #1472
Hi!
Here you are.

2015-10-02 9:42 GMT+02:00 Wilhelm Berg notifications@github.com:

[2015-10-02 11:05] wilhelmberg commented on #1472
@Forna73 seems the attachment didn't make it. Maybe easiest way is to zip the project and mail it to <my-first-name> AT mapbox DOT com.

[2015-10-02 11:14] GeertClaes commented on #976
I did get go through the steps and I did get
<Fri, 02 Oct 2015 11:03:35 GMT> Mapbox Studio @ http://localhost:3000/

I opened the browser at http://localhost:3000/

It showed a page asking to "Connect to your Mapbox account to get started."  When clicking the Connect button the following error popped-up:

<Fri, 02 Oct 2015 11:05:20 GMT> error 500 { [Error: Cannot find Mapbox API at ht
tps://a.tile

[2015-10-02 11:45] wilhelmberg commented on #976
New naming: Previous offline `Mapbox Studio` became `Mapbox Studio Classic`.
New online version (https://www.mapbox.com/mapbox-studio/) is just `Mapbox Studio`.

Two problems:
- there cannot be two running instances of Mapbox Studio Classic at the same time. Either you start it via console or via the application shortcut. So it is expected to crash via application shortcut if you also started it v

[2015-10-02 12:37] Forna73 commented on #1472
It was a zipped file !?
I'll try again...

2015-10-02 13:05 GMT+02:00 Wilhelm Berg notifications@github.com:

[2015-10-02 12:50] wilhelmberg commented on #1472
@Forna73 it seems the attchment is removed, when you answer to an issue via email.
Please try directly to `<my-first-name> AT mapbox DOT com`.

[2015-10-02 13:18] GeertClaes commented on #976
I have a feeling this will not work because we are indeed behind a proxy but the connection uses  a pac configuration file.