[2014-12-03 05:53] TheMapSmith commented on #1086
I haven't been able to figure it out yet, but MBS saves every state of your style somewhere. (app.db maybe?)  You can tell by getting your style id, making some changes, and then trying to re render the old style id by url. It will show the old style even if it's not the current live version.

Maybe one of the wizards around here could help you out with that.

[2014-12-03 17:04] guzmanlopez commented on #860
On Linux Mint Debian Edition (LMDE):

Same error:

500 'GET' '/oauth/config?MapboxAPITile=https%3A%2F%2Fa.tiles.mapbox.com' 'Error: Cannot find Mapbox API at https://a.tiles.mapbox.com'

[2014-12-03 23:07] wilhelmberg commented on #860
@bebud @petzlux @stev-0 @thhomas @guzmanlopez

Could you try this version and let me know, if it works for you:

Windows:
https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-proxy-enabled.exe

Ubuntu 14.04:
https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-linux-x64-proxy-enabled.zip

OS X:
https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-darwin-x64-proxy-ena

[2014-12-04 01:18] geografa commented on #876
I'm cleaning up this source quickstart. Looks way out of date. Will tackle others this week.

[2014-12-04 10:48] thhomas commented on #860
Some changes but still an error:

`[7134:1204/113046:INFO:CONSOLE(0)] "The page at 'https://www.mapbox.com/authorize/?response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauth%2Fmapbox&client_id=d8e0abd43fdbafe43c4fdc6059039595bd95518c4982050662d94c134c5538ea' was loaded over HTTPS, but displayed insecure content from 'http://cotads.adscale.de/ads/pixel/1by1.png': this content should a

[2014-12-04 10:56] petzlux commented on #860
Also still doesnt work for me. Where can I see the detailed logs ?

[2014-12-04 11:05] behboud commented on #860
tried on Windows. Got Authorization failed.

[2014-12-04 11:50] guzmanlopez commented on #860
Thanks BergWerkGIS, but I tried on LMDE and it didn't work.The GUI freezes.

guzman@dinara5058:~/Downloads/mapbox-studio-linux-x64-proxy-enabled$ ./atom

[5317:1204/094424:ERROR:browser_main_loop.cc(162)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
[5317:1204/094424:WARNING:proxy_c

[2014-12-04 16:38] wilhelmberg commented on #860
@petzlux
in `~/.mapbox-studio/app.log` or `C:\Users\<YOUR-USER-NAME>\.mapbox-studio\app.log`, depending on your OS.

@bebud
are you sure, you used correct credentials?

@thhomas
looking at the log it seems that you are using `http://myproxy:myport/`, could you replace those with real settings?

@guzmanlopez
thanks, I'll have another look to check if the proxy authentication parameters get passed a

[2014-12-04 17:17] andrzejkiszka commented on #1006
1A11K

[2014-12-04 20:28] yhahn commented on #1085
@MarkWS you'll want to include these fonts in your project's style directory itself so they get packaged up with the style, for example in a `fonts` folder. Then use a relative path when using the `font-directory` rule:

[code]

[2014-12-04 20:39] MarkWS commented on #1085
We have this path in our style directory:
![dir](https://cloud.githubusercontent.com/assets/8440284/5305637/aad65800-7bba-11e4-853c-56212612a47c.JPG)
and the fonts we are using are loaded there.
they also show up under the fonts tab > Your Fonts.
So I must be missing something here.  Thanks, Mark

[2014-12-04 20:41] yhahn commented on #1085
@MarkWS the font files need to be in your style project directory. For example, it may be

[code]

[2014-12-04 20:49] MarkWS commented on #1085
great, that worked. i was one folder off for the font folder.
Thanks.
but now I'm getting this error on the MapBox site
![error](https://cloud.githubusercontent.com/assets/8440284/5305809/514af654-7bbc-11e4-8218-aeddda44ff39.JPG)

[2014-12-04 21:10] #1085 closed, assigned to nobody

[2014-12-04 21:12] MarkWS opened #1087 "Invalid Upload; RangeError"
I'm getting this after I upload to the MapBox site:
![invalid upload](https://cloud.githubusercontent.com/assets/8440284/5306173/7169539c-7bbf-11e4-8585-4cc2999b4ec1.JPG)

[2014-12-04 21:17] yhahn commented on #1087
Are there very large fonts or other large files in your project? There's currently a 750k limit (compressed) on style uploads.

[2014-12-04 21:20] MarkWS commented on #1087
Yes, we have 2.2megs of fonts in that directory. That’s only 5 fonts with a total of 43 faces (Book, Oblique, Bold, etc)

Can we increase the limit somehow?

[2014-12-04 21:33] yhahn commented on #1087
Are you using all the combinations of fonts? The smaller the style the more rapidly it can be deployed to servers -- we may be increasing this limit in the future but not drastically.

[2014-12-04 21:41] MarkWS commented on #1087
I’ve removed all the faces we are not using. We have it down to 3 fonts with a total of 14 faces and that’s just under 750k. in fact it’s 680k

Thanks, Mark

[2014-12-04 21:43] MarkWS commented on #1087
so an increase would be helpful.

[2014-12-04 21:46] yhahn commented on #1087
:+1:

[2014-12-04 21:49] MarkWS commented on #1087
thanks young.
but now I'm getting this and this folder was removed long ago. There is no reference to it in any of the style sheets. ideas?
![again](https://cloud.githubusercontent.com/assets/8440284/5306798/ab52ff04-7bc4-11e4-8ab9-75bb7c2aea5a.JPG)

[2014-12-04 22:10] MarkWS commented on #1087
I removed MBS and reloaded the program and that seems to have solved the problem.

[2014-12-04 23:04] MarkWS commented on #1087
Correction, I've removed MBS 3 times now and I'm still receiving this error. The folder listed above was removed long ago and there is no reference to it in the style sheets. Any ideas. it's driving me crazy!!!

[2014-12-04 23:07] geografa commented on #876
Noticing there's no asset/img folder for mb-pages. Is that intentional? I was about to swap out images but should I continue just dropping them in Github and grabbing the URL?

[2014-12-04 23:07] yhahn commented on #876
yep, https://github.com/mapbox/mapbox-studio/blob/mb-pages/CONTRIBUTING.md#documentation

[2014-12-04 23:19] wilhelmberg commented on #860
New version, same procedure (console and env vars) and [links as above](https://github.com/mapbox/mapbox-studio/issues/860#issuecomment-65508867).

Please try and let me know.
Sorry, no proxy authentication yet.

[2014-12-05 05:45] orthodoc opened #1089 "Failed to upload to S3 error and crash"
When I attempt to upload a data source to mapbox through studio, the progress bar hangs on at 0.1% for a long time. After a while it crashes with no output.

Error log is as follows:

[code]

Only if I reduce the zoom range to 16 or below, does a successful upload happen in an inconsistent way.
Mapbox Studio v 0.2.0
Ubuntu 14.04 64 bit on Apple MBA

[2014-12-05 08:03] petzlux commented on #860
Nope :-(

[code]

[2014-12-05 08:11] thhomas commented on #860
I replaced in log my company info by fake one that is why you saw http://myproxy:myport/.

I tried the new version, now I can access the pages. But when I choose a style, I get a 500 error:
`500 'GET' '/new/style?id=tmpstyle:///Volumes/Vol-Users/Users/ttilak/Downloads/mapbox-studio-darwin-x64-proxy-enabled%202/Mapbox%20Studio.app/Contents/Resources/app/node_modules/mapbox-studio-wheatpaste' 'Error

[2014-12-05 16:02] springmeyer opened #1090 "Next release: Supporting HTTP proxies + usability"
Http proxy support is coming thanks to @BergWerkGIS and this will be big for many users. Once proxy support has landed (#860) I think a new release would be excellent. Timing TBD, maybe next week maybe early January.

What other low hanging tasks could we hit at the same time to hit to improve usability? Possible options that just came up in chat with @BergWerkGIS and @samanpwbb:
- Save global sta

[2014-12-05 16:03] springmeyer commented on #1069
Going to close this, let's track proxy support at #860.

[2014-12-05 16:03] #1069 closed, assigned to nobody

[2014-12-05 16:05] springmeyer commented on #535
This problem is clearly due to lacking proxy support, but we are working on getting this working now: let's track at #860.

[2014-12-05 16:05] #535 closed, assigned to nobody

[2014-12-05 16:06] springmeyer commented on #717
Thanks for this report. We are working on proxy support over at #860.

[2014-12-05 16:06] #717 closed, assigned to nobody

[2014-12-05 16:13] springmeyer commented on #850
bump @flemmens - have you had a chance to try v0.2.0 yet?

[2014-12-05 16:13] #850 closed, assigned to nobody

[2014-12-05 16:16] springmeyer commented on #941
We had sporadic reports of this for studio v0.1.5 and v0.1.6 but none since the v0.2.0 release. Will close this issue, but please create a new issue if you see this again @dalekunce. I'll note that it could occur for a variety of reasons. One that may occur again is if you are offline so anyone testing make sure you are connected to the internet :)

[2014-12-05 16:16] #941 closed, assigned to nobody

[2014-12-05 16:47] flemmens commented on #850
Hi Dane,

We do not use studio anymore, this product does not fit our needs. We use a custom version of Tilemill and several tools we have designed.

[2014-12-05 16:56] guzmanlopez commented on #860
I couldn't:

guzman@dinara5058:~/Descargas/mapbox-studio-linux-x64-proxy-enabled$ ./atom
[6482:1205/144950:ERROR:browser_main_loop.cc(162)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
[6482:1205/144950:WARNING:proxy_config_service_linux.cc(83)] Proxy authentication parameters ignor

[2014-12-05 17:02] crackernutter opened #1091 "Cannot find module mapnik_settings.js"
Trouble installing on Ubuntu 14.04 (Trusty).  Have run npm install --build-from-source  and have deleted node_modules and tried npm install again (works fine), but npm start always seems to fail because of "Cannot find module '/home/ubuntu/mapbox-studio/node_modules/mapnik/lib/binding/node-v11-linux-x64/mapnik_settings.js'"
Suggestions?

[2014-12-05 17:03] #1079 closed, assigned to nobody

[2014-12-05 18:21] crackernutter commented on #1091
I had to manually also run npm install mapnik, sqlite3, mbtiles, and mapnik-omnivore in order to get npm start to work. However, now I get Mapbox Studio @ http://localhost:3000 but no UI comes up.  Any suggestions here?

[2014-12-05 19:35] #1087 closed, assigned to nobody

[2014-12-05 19:39] MarkWS opened #1092 "Has anyone imported Aviation Charts yet?"
if so could you flow some ideas our way? we have a project where we would like to somewhat re-produce what http://skyvector.com/ is producing. Thanks, Mark

[2014-12-05 19:42] springmeyer commented on #1091
Can you step back and try `npm install` again without the `--build-from-source` and share the error (the whole terminal output)? It should work out of the box without source installs on trusty so I wonder if there was just some network blip that caused a problem.

[2014-12-05 19:44] springmeyer commented on #850
@flemmens okay, thanks for the followup.

[2014-12-05 19:47] SeanMaday commented on #1092
I am processing a few FAA aviation charts now actually!

My workflow looks like this:
- Use [nearblack](http://www.gdal.org/nearblack.html) to make the collar (border) of the image transparent
- Use [gdalwarp](http://www.gdal.org/gdalwarp.html) to reproject the images into EPSG:3857
- Import the images into Studio

[2014-12-05 19:55] MarkWS commented on #1092
Thanks Sean, I’ll start to look into this.

We will eventually overlay some limited flight paths and I can’t find a source for this either, other than http://flightaware.com/ . They charge $250 per tail number per year. Wondering if you have stumbled upon any sited that’s archiving this kind of data.  Thanks ~ Mark

[2014-12-05 21:37] gendronb commented on #878
Just installed the latest version yesterday, they don't work for me either : {, [, ], }

Windows 7 Pro...

[2014-12-05 22:52] wilhelmberg commented on #860
Could you try the new version of today and let me know, how it goes?
[Same links and procedure as described above.](https://github.com/mapbox/mapbox-studio/issues/860#issuecomment-65508867)

[2014-12-06 00:01] duncangraham opened #1093 "Studio silently fails with an interactivity layer/template mismatch"
If I have a template and interactivity layer defined that don't match one another, studio will silently crash.

[code]

![crash](https://cloud.githubusercontent.com/assets/865298/5325082/ba161c96-7c97-11e4-93ab-b8a8c3e0ffaa.gif)

if I have just a template or just an interactivity_layer defined, studio will start without any errors (even if the layer doesn't exist).

cc @camilleanne

[2014-12-06 07:56] orthodoc commented on #1089
This is what I did to overcome the problem:

Reduced the lower end of the zoom leve insteadl. Installed mapbox-studio via node. Exported the project to mbtiles. Downloaded the mbtiles file to the hard drive. Must mention here that this was not happening when working with the binary distribution. A big file that took some time uploading to the mapbox account. Direct uploading to the mapbox account

[2014-12-06 20:27] jameslaneconkling opened #1094 "Source upload fails silently when project user and current session user don't match"
not a big deal, but could probably justify an error prompt or the account sign in dialogue.

[2014-12-08 08:32] thhomas commented on #860
Seems to be working for me now.

[2014-12-08 13:28] guzmanlopez commented on #860
It didn't work for me on LMDE:

guzman@dinara5058:~/Descargas/mapbox-studio-linux-x64-proxy-enabled$ ./atom

[4938:1208/112522:ERROR:browser_main_loop.cc(162)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
[4938:1208/112522:WARNING:proxy_config_service_linux.cc(83)] Proxy authenticat

[2014-12-08 16:10] wilhelmberg commented on #860
@thhomas great!

@guzmanlopez

That seems to be an upstream issue that has been unresolved [since 2009](https://code.google.com/p/chromium/issues/detail?id=16709).

Could you try:

[code]

and then use your browser of choise to visit `localhost:3000`

[2014-12-08 16:39] guzmanlopez commented on #860
@BergWerkGIS

It seems it's working now! Thanks a lot!

[2014-12-08 17:05] wilhelmberg commented on #860
@guzmanlopez great!
Now that you are authenticated, could you try running `./atom` again and see if this works.

[2014-12-08 19:28] guzmanlopez commented on #860
@BergWerkGIS

Perfect, now it works with atom!!!

[2014-12-09 14:56] wilhelmberg opened #1096 "Allow refreshing on postgis layers"
0.2.0 installer on Win8.1:

![image](https://cloud.githubusercontent.com/assets/4549888/5359207/cfccb2ee-7fbb-11e4-8a18-5d5eb9dcebb2.png)

[2014-12-09 15:09] springmeyer commented on #1096
Do you see if this for all data types or just postgis?

[2014-12-09 15:30] wilhelmberg commented on #1096
Good catch:
Shapefile layers are good:

![image](https://cloud.githubusercontent.com/assets/4549888/5359848/a6ef071e-7fc0-11e4-8720-e2d2ab544f0f.png)

[2014-12-09 15:42] samanpwbb commented on #1096
This is intentional: https://github.com/mapbox/mapbox-studio/blob/c6d309fcf39da9a49e7d85988bccd418bf395bc3/templates/layeritem.html#L22-L24

I always figured there was a technical reason why we can't / don't need to refresh postgis layers.

Next action is either:
- add an empty state that lets user know that this layer is not refreshable for non-refreshable layers
- fix the upstream issue and allo

[2014-12-09 15:49] wilhelmberg commented on #1096
Would be great to have refreshable postgis layers.
Like I changed the SQL query several times to get my layer right and every time I had to switch back and forth between projects or exit and restart studio.

[2014-12-09 16:24] springmeyer commented on #1096
@GretaCB what would be needed to get all datasource types refreshing? (I see that 25dbc7d61de5a9bd4bc9a5905da0ef985810121b#diff-082e75c951874a76bd6fd98b4000253b might just need pushed forward a bit more?)

[2014-12-09 16:25] springmeyer commented on #1096
realizing now why I was confused about https://github.com/mapbox/mapbox-studio/issues/981#issuecomment-62492636 (the refresh was there for a time but did not work /cc @amyleew).

[2014-12-09 16:33] ashleyclough opened #1097 "Source clipped on remote"
I'm experiencing clipping of point data at the extreme east and west of my UK source data on remote.

Source data file, westernmost points all visible (64 buffer, extents: -180,-85.0511,180,85.0511):

![original source](https://cloud.githubusercontent.com/assets/912721/5361047/a0ff7924-7fc0-11e4-9afc-8cbb4c439d55.png)

Points when using remote source in style - looks like clipping on a tile bounda

[2014-12-09 20:23] wilhelmberg commented on #1097
@ashleyclough are you using a postgis layer with scale dependent filtering of features?

Have you tried re-uploading the points? Maybe there was a problem during transfer.

[2014-12-09 22:12] ashleyclough commented on #1097
Yes, it is using postgis scale dependent filtering - it is the only way to get so many points to work as a source across a large range of zoom levels. Could that be the problem?

I've re uploaded it but the same thing happens.

[2014-12-10 09:10] ashleyclough commented on #1097
It looks to me that whether a tile contains data is ascertained by its content at the lowest zoom level (6 in my case). As there are no large towns in the areas above, my data in the area only appears at zoom levels >9.

I've now reworked the SQL query to return small villages at level 6 and the tiles display correctly, even though the village points visibility isn't until zoom 12.

I suppose a so

[2014-12-10 16:39] wilhelmberg commented on #1097
Your map is beautiful.

You are right about the cause of your problem.
This is a known issue at the moment with trying to be as speedy as possible.

[2014-12-10 19:36] GretaCB commented on #1096
@springmeyer A single layer postgis source should be refreshable. Multi-layer sources cannot be refreshed because it wasn't clear how we would handle updates to individual layers, while also retaining the current state of the entire source.

So if someone removed a layer, then hit the refresh button, `mapnik-omnivore` would be called and put all the layers back. It was a punt :)

[2014-12-10 19:41] yhahn commented on #1096
Hrm, note the refresh here is a bit confusing as it's not the same as "refresh this layer's vector tiles" -- I think it does an operation like updating mapnik-omnivore's autodetection of the layer's various params.

[2014-12-10 21:12] springmeyer commented on #1096
Cool, I'll dig into this.

[2014-12-10 21:59] metsfan commented on #1009
Sorry to refresh this topic, but I have yet to receive an answer on this, and I would like to know if maybe I should remake this post in another venue, or if maybe someone from the MBS team could let me know if there is any way that I could get my hands on a complete list of classification buckets used in MBS.  Thank you.

[2014-12-11 11:10] stefda opened #1099 "PostGIS layer - Missing required field "table" (type=land) for layer "postgis""
Configuring a PostGIS layer on Windows 7 (64bit) throws the following error upon clicking the done button:

**Missing required field "table" (type=land) for layer "postgis"**

Here are screenshots from the layer conficuration

![studio1](https://cloud.githubusercontent.com/assets/212397/5393112/cdf92144-8125-11e4-940f-597ae5b6ed17.png)

![studio2](https://cloud.githubusercontent.com/assets/212397/

[2014-12-11 11:35] stefda commented on #1099
My bad, I forgot to insert the SQL query underneath the field and table settings

[code]

[2014-12-11 11:35] #1099 closed, assigned to nobody

[2014-12-11 13:47] niguloto opened #1100 "Clearer error message when source: key is misformatted"
Hi everyone,

I'm new to MapBox n MapBox Studio and I'm having a hard time with this issues I get on the website. >>> ERROR: id must be a string with the format account.handle.

I'm building my map on MapBox Studio but every time I upload to Mapbox my edited Style (upload that seems to complete perfectly) when I go on the website and try to access my style it shows no preview image other than an e

[2014-12-11 13:58] yhahn commented on #1100
What is the value of the `source:` field in your style's `project.yml` file?

[2014-12-11 14:35] niguloto commented on #1100
source: "mapbox:///mapbox.mapbox-streets-v5,niguloto.87794015"

niguloto.87794015 is a custom source I made and uploaded to MapBox always through MapBox Studio

[2014-12-11 14:40] yhahn commented on #1100
@niguloto it looks like there's a trialing comma in the upload of this map:

[code]

When it should be

[code]

Could you remove the comma and try again?

[2014-12-11 14:49] petzlux commented on #860
Nope :-(

[code]

[2014-12-11 14:51] niguloto commented on #1100
Thanks yhahn, that solved it!

Such a stupid mistake; I did not realize that the comma at the end was not supported as a separator for the last source id :-/

[2014-12-11 14:54] yhahn commented on #1100
Awesome. Sorry for the confusing error message -- leaving this open until we add a clearer error message for this.

[2014-12-11 16:05] behboud commented on #860
@BergWerkGIS
works on windows :)

[2014-12-11 18:20] wilhelmberg commented on #860
@bebud  great to hear.

@petzlux could you tell me a bit more about your proxy? Like what software are you using or are you aware of other special settings?

[2014-12-11 18:21] ajashton opened #1101 "soften tabs in the sql editor"
The SQL query editor in source mode handles automatic indentation with spaces, but if you hit the tab key an actual tab character is inserted. The CartoCSS editor inserts spaces either way - can we make the query editor like that?

[2014-12-11 22:11] ian29 commented on #1101
YES PLZ

[2014-12-12 00:37] savannahjune opened #1102 "Studio crashing during upload, S3 related?"
Hello,

Studio is crashing for me while I try to upload a source.  It's happened four times at this point, and I've pasted the application logs below.

Thanks,
Savannah

[code]

[2014-12-12 15:57] pnorman opened #1103 "Unexpected token"
When passing a URL of a tilejson, I get the error "Unexpected token".

The JSON is

[code]

This appears to be valid TileJSON

[2014-12-15 02:51] yelper commented on #824
A quick fix might be to create a NTFS symlink (`mklink` on the command line) on C:\ to the data directory. I do agree that this needs to be fixed, however!

[2014-12-15 10:55] mcmillan commented on #1091
We're also seeing this. Using the following code to provision a Vagrant 64-bit Trusty box:

[code]

...and then running `npm start` yields the following:

[code]

[2014-12-15 14:58] artemp opened #1104 "Modals don't vertically scroll"
_Pedantic_

`Projects -> New Project`

![mapbox-studio-dialog-cutoff](https://cloud.githubusercontent.com/assets/59056/5437808/3acd03da-8473-11e4-9eb2-36ca26601db3.png)

[2014-12-15 15:14] samanpwbb commented on #1104
What were you expecting the positioning / sizing to be? This is intended to be a centered modal.

[2014-12-15 15:25] artemp commented on #1104
@samanpwbb - the screenshot above demonstrates what I see e.g the bottom row in 'New Style' dialog is obscured. To rectify this I need to resize main window and then all looks great. So I don't know if this is dialog size or main window size issue. I guess I'd expect 'centered modal' to centre vertically as well as horizontally. Current layout gives a false impression there can be more styles hidi

[2014-12-15 16:47] crackernutter commented on #1091
I tried npm install again (without build from source), and I got the same error.  The only things that worked for me is manually running npm install for mapnik, sqlite3, mbtiles, and mapnik-omnivore

[2014-12-15 18:00] ryanwalker118 commented on #482
+1 for this feature. We need a way to set a min/max zoom per layer in a tm2source built from multiple Shapefiles. Looks like this is only doable if layers are coming from a PostGIS db?

[2014-12-15 18:02] ryanwalker118 commented on #695
We're running into issues when building a tm2 source with shapefile layers with too much data at high zoom levels and no way to screen them out. We can't upload our source to mapbox because of the 500k tile size limit. For example, we don't need city labels at z0-z4, and if we could screen this out in the source editor in studio, we could address these data size issues.

[2014-12-15 19:42] pnorman commented on #482
Yes. I know of these workarounds
1. Load the data into a PostGIS DB
2. Patch MBS
3. Use an external editor, but being careful about MBS overwriting your changes
4. Use an alternative program for compiling YAML to Mapnik XML and generate vector tiles from that

[2014-12-15 19:48] samanpwbb commented on #1104
Ahhhh, I just checked this out. The modal is supposed to scroll. I'm pretty sure a base version update will fix this.

[2014-12-15 21:15] nickidlugash opened #1105 "Tooltips in xray mode don't persist when style uses UTFgrid interactivity"
The tooltips used to display the UTFgrid interactivity seem to be interfering with the xray mode tooltips for displaying data:

![studio-xray-tooltips](https://cloud.githubusercontent.com/assets/5607844/5444053/3595d5b6-8475-11e4-93d0-d038420999f1.gif)

[2014-12-16 08:02] petzlux commented on #860
@BergWerkGIS

Unfortunately, the proxy is not under my control, nor even under our departments control. We have had difficulty with other software to make it work. Under Python, the problem was that some versions of urllib do not send a proper User-Agent, and our proxy needs a https request to have a proper user agent to let it through. Same with NPM,  where it only works with NPM v2 or higher.

H

[2014-12-16 12:26] gravitystorm commented on #482
I currently do 2,3 and 4 above.

[2014-12-16 19:25] wilhelmberg commented on #860
@petzlux thanks for the information. Unfortunately there are still some questions left to replicate your proxy in our environment.
- Do you know which software is used as proxy?
- Would it possible to provide the configuration of the proxy? (Of course all sensitive information stripped) E.g. `squid.conf`, if squid is used.
- What does `proper user agent` mean? Would faking a common browser agent h

[2014-12-17 16:47] MarkWS opened #1107 "terrain-v2 not working"
anyone having trouble loading the new Terrain V2 that was released last week?
I've changed the source from v1 to v2 and the terrain disappears.
I'm also have problems with another terrain map where the layers are listed as 'Locked'.
it says "Source Locked (custom layer order)" how to unlock, I've not changed the layer order?

[2014-12-18 14:47] petzlux commented on #860
@BergWerkGIS

Here are some answers:
- The proxy used is https://www.bluecoat.com/products/proxysg-secure-web-gateway
- I dont have access to the config, and wouldn't get it even if I asked ... :-(
- AFAIK, yes faking a common user-agent should help. Does mapbox studio add a user-agent already ?
- AFAIK, changing user-agent is the only change that helped so far in other cases.

[2014-12-18 22:41] #1104 closed, assigned to samanpwbb

[2014-12-19 18:23] rclark opened #1110 "Preflight uploads with mapbox-upload-validate"
If we use [mapbox-upload-validate](https://github.com/mapbox/mapbox-upload-validate) to preflight uploads to mapbox.com, we may be able to catch some errors (e.g. your .tm2z is too big) and provide immediate feedback to the user.

Would this be better done here or in [mapbox-upload](https://github.com/mapbox-upload)?

[2014-12-19 18:26] samanpwbb commented on #1110
Sounds like a better solution to the problem #1022 is trying to solve. Giving users good feedback about their projects before upload would be huge.

[2014-12-19 18:28] samanpwbb commented on #1090
Saving state in file browser is done here: #1109 , should be merged today.

[2014-12-19 18:29] rclark commented on #1110
Hmm we should try this @samanpwbb but we should also keep in mind that mapbox-upload-validate is not a 100% guarantee that your upload will succeed: it doesn't check every tile, so there's a chance we'll still need to get feedback to the user after the processing is attempted.

[2014-12-19 19:31] peterqliu commented on #1107
@MarkWS regarding terrain, check out this [blog post](https://www.mapbox.com/blog/terrain-mapbox-studio/). Make sure to update your terrain styling to reflect the v2 update.

As for the layer ordering, you can edit the layers by going into the `.tm2` folder on your computer, and opening `project.yml`. Inside you will see the list of layers.

[2014-12-19 21:17] MarkWS commented on #1107
Thanks Peter,
the blog post helped, we just removed all our coding and replaced it with the sample so that seems to have solved that. Although we will loose our custom style that we created on for the v1 but shouldn't be too hard to recreate it for v2 so thank you.

[2014-12-19 22:02] #1107 closed, assigned to nobody

[2014-12-20 23:22] rclark opened #1111 "Failure to detect extent --> crash"
With a postgis layer and the following yml, I was able to browse my source but I couldn't export it

[code]

Failure occurred in [lib/source.js](https://github.com/mapbox/mapbox-studio/blob/953ecc35ff6eca3fb5f1caf099ec46f85e86c60c/lib/source.js#L310) when `extent` was undefined.

[Requesting extent from mapnik-omnivore](https://github.com/mapbox/mapbox-studio/blob/953ecc35ff6eca3fb5f1caf099ec46f85

[2014-12-21 11:28] TheMarex opened #1112 "Ship with mapbox-studio.dekstop on linux"
For linux (deskop) applications it is canonical to ship with a `.desktop` file that can be placed in `/usr/share/applications/`. A `mapbox-studio.desktop` file could look like this:

[code]

Icons can be placed in `/usr/share/icons/hicolor/{16x16,32x32,64x64,scalable}/apps/mapbox-studio.{png,svg}`.

[2014-12-21 21:05] ljbade commented on #1090
Can I also request a button for creating a folder: https://github.com/mapbox/mapbox-studio/issues/1071

[2014-12-22 20:10] camilleanne commented on #1081
Errors are supposed to end up here: https://github.com/mapbox/mapbox-studio/blob/mb-pages/app/export.js#L38-L40 but something might be blocking it

[2014-12-22 20:16] camilleanne commented on #1083
duplicate of https://github.com/mapbox/mapbox-studio/issues/1084

[2014-12-22 20:16] #1083 closed, assigned to nobody

[2014-12-28 21:36] ljbade opened #1114 "Very slow upload of point data"
I have been working on uploading some point data to Mapbox.

For some reason the second time I upload the data it is very slow. It uses 100% of the CPU but only managed 1-4 tiles/sec. The progress counter stays stuck at 0.1%.

The first time I upload the data it only takes 1 minute to upload.

[2014-12-28 21:48] ljbade commented on #1114
It takes about 30 minutes and jumps from 0.1% to 100%.

[2014-12-30 18:10] gagecarto commented on #824
This would be a really helpful feature of MapBox Studio

[2015-01-06 05:53] jameslaneconkling opened #1116 "MapboxStudio crashes when geom field is named 'centroid'"
I'm pretty sure `centroid` isn't a [reserved keyword](http://www.postgresql.org/docs/9.3/static/sql-keywords-appendix.html).

Have tried this w/ two different source projects, with code that looks something like the following:

[code]

In each case, swapping out `centroid` for the generic `geom` resolves the issue.  Maybe `centroid` is a reserved word in MBStudio PostGIS queries?

[2015-01-07 20:46] dchadney commented on #974
My installation was working fine on version 1.5. Just upgraded to v0.2.0 and now it's crashing every time I open it. Tried uninstalling, deleting the directory, replacing gdal.node and node.exe, installing in C:\Program Files (x86)\mapbox-studio and in C:\Program Files\mapbox-studio.... nothing works. I am on Windows 7.

[2015-01-07 20:54] springmeyer commented on #974
@dchadney can you fetch the logs (which are located in a fill called `app.log` in your user's directory in a folder called .mapbox-studio) and post them here?

[2015-01-08 02:10] camilleanne opened #1117 "Mapbox studio orphan processes"
somehow, somewhere, mapbox studio didn't exit properly:

![screen shot 2015-01-07 at 6 08 20 pm](https://cloud.githubusercontent.com/assets/3952537/5656878/628de06a-9698-11e4-989c-f446819231f7.png)

cc @yhahn

[2015-01-08 02:23] camilleanne commented on #1117
per convo with @springmeyer these processes don't seem to be busy or hung, just not properly stopped by atom-shell. I can make more of them happen by opening and closing the mapbox studio desktop app enough times. TBD is whether or not closing the app before it's fully loaded makes this more likely to happen or not.

[2015-01-08 02:31] springmeyer commented on #1117
Don't know what is wrong but noticing https://github.com/mapbox/mapbox-studio/blob/mb-pages/index-shell.js#L34. I wonder in what scenario `server` would be undefined on that line?

[2015-01-09 07:52] mohsentaleb commented on #956
I'm also looking for log file path in windows.

[2015-01-09 07:57] mohsentaleb opened #1118 "Windows: Crash on Upload Source/Download Mbtiles"
May be I can provide the backtrace/log for further investigation if you tell me the log path in Windows.
@springmeyer

[2015-01-09 11:58] wilhelmberg commented on #1118
You find the file `app.log` in `C:\Users\<YOUR-USER-NAME>\.mapbox-studio`, or paste `%USERPROFILE%\.mapbox-studio` into Explorer's address bar.

[2015-01-09 12:03] wilhelmberg commented on #956
@discursives @mohsentaleb
`%USERPROFILE%\.mapbox-studio`
See [here](https://github.com/mapbox/mapbox-studio/issues/1118#issuecomment-69325780)

[2015-01-09 12:28] mohsentaleb commented on #1118
Ok, I test that crashing situation again and nothing is put in log file. Any other options to increase the level of verbosity?

[2015-01-09 12:41] wilhelmberg commented on #1118
Sorry, no easy way to increase verbosity.
Seems in your case that the crash happens so fast/unexpected that nothing gets written to the log file.

Would be of great help, if you could work through this gist (does require some time and effort).

https://gist.github.com/BergWerkGIS/534a5e74301c5607af5c

Let me know, if you need further assistance.

[2015-01-09 14:23] ashleyclough opened #1119 "Issues with OS X 10.10.2 beta?"
My Mapbox Studio (v0.2.0) has stopped uploading and exporting source data files: direct upload gets to 100% but never reports completion and exporting asks for a download location but never creates the .mbtiles file. I've not had the issue previously but am using the latest 10.10.2 developer beta - could this be the cause? Nothing is written into the app log.

[2015-01-09 15:04] mkawalec commented on #1102
I'm getting the same error on linux

[2015-01-09 17:34] mtirwin commented on #944
Looks like we've isolated the error. Doesn't happen when accessing Studio through the browser, only when trying to download through the Atom environment.

`Uncaught TypeError: Cannot read property 'show' of undefined atom.js`

[2015-01-09 17:38] mtirwin commented on #1119
Download bug being addressed at #944.

[2015-01-09 17:42] mtirwin commented on #1119
Scratch that – looks like this is entirely a duplicate of #944.

[2015-01-09 18:06] ashleyclough commented on #1119
It's not quite the same - running studio in the browser does at least allow me to export the mbtiles but it still fails with direct uploading.

[2015-01-09 18:14] ashleyclough commented on #944
It's not quite the same thing - whilst running directly in the browser does indeed allow me to export the mbtiles, I still can't do a direct upload.

[2015-01-09 18:37] ashleyclough commented on #1119
It turns out it had been failing on upload processing because of too much data - your new data page that hides the history behind the upload button instead of the previous inline view had not allowed me to see the error. Even so, I had to manually delete the project reference in the data.yml in order to provoke a clean upload - reusing the previous reference after the initial fail resulted in no r

[2015-01-09 18:41] willwhite opened #1120 "Monitor processing of uploads"
There are two phases to uploading a file to Mapbox:
1. Uploading the file to our servers
2. Waiting for the servers to process the file

Right now, Mapbox Studio treats an upload as complete after step 1. However, the upload isn't really "complete" until after step 2.

This is confusing from a user's perspective, because Mapbox Studio will claim an upload is "finished" but the upload won't appear

[2015-01-09 19:12] willwhite commented on #1119
Thanks, those details are very helpful.

We are working to fix this on the mapbox.com side and are [considering making this information available in Mapbox Studio directly](https://github.com/mapbox/mapbox-studio/issues/1120) as well.

I believe there is an Mapbox API error that is preventing you from re-using an id that previously errored. This is not intended and I'll look into fixing. [This iss

[2015-01-09 23:36] amyleew commented on #878
Windows 7 SP1 ... same error

[2015-01-12 16:40] Mcgrupp34 opened #1123 "Apply sources doesn't work"
I have a remote source I am trying to add to a style I am working on, but when I press apply after putting the map ID in, nothing happens. The apply button does not work. OSX 10.9.5.
![screen shot 2015-01-12 at 11 40 08 am](https://cloud.githubusercontent.com/assets/3867961/5706535/cb614590-9a4f-11e4-90c8-46c9c2ebd487.png)

[2015-01-12 20:27] ajashton commented on #1009
Sorry for leaving this so long. The short answer is no, we do not currently have a list of exactly how OSM tags map to properties in Mapbox Streets.

For some layers there are rather complex rules checking for the presence and absence of many tags, as well as looking at things other than tags such as the size/type/location of the geometry. Even for simpler layers it would take some time to compile

[2015-01-13 01:46] GretaCB commented on #1123
Looks like there is a space between the listed sources (after the comma). If you hit Apply with a space in between sources, you should see a pop up similar to this:

![screen shot 2015-01-12 at 8 45 03 pm](https://cloud.githubusercontent.com/assets/1209162/5714820/f0aa48d2-9a9b-11e4-8437-9295809ca10a.png)

Try removing the space.

[2015-01-13 10:50] mohsentaleb commented on #1118
Did all the steps till "Debug -> Go".
A command Shell opens with text `Mapbox Studio @ http://localhost:3000` on it but app doesn't start (I even waited for 5 minutes) to let me work with it and reproduce the crash situation.

[2015-01-13 11:41] wilhelmberg commented on #1118
@mohsentaleb
Great! Looking forward to your input.
Just open a browser at http://localhost:3000

[2015-01-13 11:52] mohsentaleb commented on #1118
@BergWerkGIS App is halted at exporting mbtiles.. and here's the logs:
http://pastebin.com/LB5eFUGc

[2015-01-13 12:01] wilhelmberg commented on #1118
@mohsentaleb Thanks!

Could you repeat the steps and also issuing theses commands after the crash before sending the log file?

https://gist.github.com/BergWerkGIS/534a5e74301c5607af5c#after-the-crash

[2015-01-13 12:08] mohsentaleb commented on #1118
@BergWerkGIS oh shoot, my bad.
There you go: http://pastebin.com/pGErMcWt
Please let me know if you also need the dump file. It's quite bulky.

[2015-01-13 12:20] wilhelmberg commented on #1118
@mohsentaleb could you try once again?
But, after the crash click on `Debug -> Go` three times (if that command is still available).

How big is the dump file?

[2015-01-13 12:31] mohsentaleb commented on #1118
@BergWerkGIS done: http://pastebin.com/QFT3JnaA
clicking on `debug -> go` after crash does nothing much. Outputs in console: `No runnable debuggees error in 'g'`
Uncompressed dump file is ~160MB, compressed: 33MB

[2015-01-13 12:39] wilhelmberg commented on #1118
@mohsentaleb thanks, but it seems the call stack is corrupted and the listed methods are not correct.
I would need the dump to see if I can get more information out of it.
Could you provide it somehow?

[2015-01-13 12:40] wilhelmberg commented on #1118
BTW, are you using the latest 0.2.0 of Mapbox Studio?
https://www.mapbox.com/mapbox-studio/#win64

[2015-01-13 12:53] mohsentaleb commented on #1118
@BergWerkGIS Yes, I'm using the latest 32-bit version. (on Windows 7 - 32bit)
Dump file: http://www.mohsentaleb.com/mbs-crash.rar

[2015-01-13 13:02] wilhelmberg commented on #1118
@mohsentaleb Thanks for the dump file, will take a look.

Ah, 32bit. I would strongly recommend switching to 64bit (if that is possible for you), we've had some issues with node 32bit.

Could you monitor the memory usage of node.exe in the task manager and see if it goes towards 1GB and then crashes?
That's the limit for node 32bit.

Are you using a shapefile based project?
You could try to use `s

[2015-01-13 13:08] mohsentaleb commented on #1118
@BergWerkGIS Well, I've also tested it on a 64bit machine with no luck.
I just reproduced the crash, while watching node.exe process and it didn't came up more than 84MB.

I'm using PostgreSQL as my source.

[2015-01-13 13:19] wilhelmberg commented on #1118
hm, very strange, there isn't any useable information in the dump file either.

Would it possible for you to provide "a perfect testcase" with db-dump, source- and style projects?

Like describe here:
https://github.com/mapnik/mapnik/wiki/A-perfect-testcase

[2015-01-13 13:39] mohsentaleb commented on #1118
@BergWerkGIS Well it's not that easy. The database is quite large (500K+ rows) and I'm not sure if a small portion of its rows would simulate the whole situation. Though I'm going to try it at least once and narrow down the rows to see how things would go. Will let you know soon.

Meanwhile is there any command line options to export tmstyle projects of mapbox studio to Mbtiles to skip the GUI and

[2015-01-13 14:00] wilhelmberg commented on #1118
**commandline export:**
As far as I know. that feature is not yet available (maybe @springmeyer  can chime in?).

**postgis:**
I suppose all your spatial (and other) indices are set and up to date?

You could try adding `geom && !bbox!` to your queries like so:

[code]

If could also try limiting your data using `z()` or `labelgrid()` functions defined in `lib.sql` from this repo:
https://github.c

[2015-01-13 14:23] mohsentaleb commented on #1118
@BergWerkGIS
Yes, all indexes are up to date.
I'll play with those helper functions. Thanks.

[2015-01-13 22:17] springmeyer commented on #1118
Thanks for this testing and all the details @mohsentaleb. Can you double check this one more time? In other words: confirm that the 64 bit version does truly crash and how much memory it is using before it does. I'm surprised that only 84 MB was in use (this makes it seem like the app was not actually doing anything).

[2015-01-14 01:19] camilleanne commented on #1120
I saw this one coming -- there are a couple of solutions that I can see off the top of my head:
1) add a bit of ui fairy dust to the export interface that once the upload is complete and the task has hit 100% a spinning "processing upload" screen is shown until the second response gets back to Mapbox Studio.
2) Can the upload actually be canceled still at the processing stage? Should the task end

[2015-01-14 01:38] samanpwbb commented on #1120
Mapbox Studio could listen for changes to the user's upload listing and report back when something changes. This would be useful not just for reporting failures but also for reporting when an uploaded source is ready to be used.

[2015-01-14 01:47] willwhite commented on #1120
Yeah, per chat with @samanpwbb we are focusing on making the workflow smoother between Studio and Mapbox.com first. Then we can see if this kind of tighter integration is needed.

[2015-01-14 09:02] mohsentaleb commented on #1118
@springmeyer Just checked that in 64bit version and it was consuming only 132MB of RAM.

[2015-01-14 16:41] mnquintana commented on #1112
:+1: It's quite unclear how to properly install this thing (for a Linux noob like me)

[2015-01-14 20:00] camilleanne opened #1125 "Packaged Studio + configured mapbox api inconsistencies"
Sometimes when Mapbox Studio is configured with an Atlas API endpoint the `isMapboxAPI` flag isn't correctly tripped leading to the wrong modals being shown to the Offline User. Without the `isMapboxAPI` flag, all of the UI changes from https://github.com/mapbox/mapbox-studio/pull/1046 are ineffective.

[2015-01-14 20:02] camilleanne opened #1126 ""change source" broken for Offline User"
When Studio is correctly configured for Atlas integration (see #1125), the "change layer" menu hangs and displays a 500 error in the developer console.

[2015-01-14 20:19] camilleanne commented on #1123
@Mcgrupp34 Currently Atom Shell (the package around Mapbox Studio as a desktop app) doesn't support the error message you see in @GretaCB's screenshot (#805) so there isn't good feedback for formatting errors. We're working on getting better feedback for this, in the meantime, make sure there aren't any spaces between your map ids.

[2015-01-14 20:23] Mcgrupp34 commented on #1123
Did the trick, thank you.

On Wed, Jan 14, 2015 at 3:19 PM, Camille Teicheira <notifications@github.com

##

Zack Walker
Cartographer

888 Brannan St
San Francisco,CA 94103

See my favorite listing https://www.airbnb.com/rooms/239790

[2015-01-14 22:02] amyleew opened #1127 "Embedding timestamps in the app.log"
Can we embed timestamps in the `app.log`? Would make quickly deciphering whether the errors are meaningful and recent or old and unimportant. Very useful in helping a customer troubleshoot.

cc @springmeyer

[2015-01-14 22:14] amyleew opened #1128 "Failed login saved (oauth error)"
Login error with Studio when failed user login is saved.

[code]

cc @springmeyer

[2015-01-14 22:14] amyleew opened #1129 "`undefined` accountLevel hangs Studio (oauth error)"
Failed user login saved as`undefined` accountLevel and Studio just hangs. Should trigger new login. (re: https://github.com/mapbox/mapbox-studio/issues/1128)

[code]

cc @springmeyer

[2015-01-14 22:38] springmeyer commented on #1129
Were you able to trigger the problem locally too (by intentionally editing `~/.mapbox-studio/app.db`)?

[2015-01-14 23:08] amyleew commented on #1129
@springmeyer No! It did stall for a bit then Studio launched. I'm requesting his `~/.mapbox-studio/app.db` for further investigation.

[2015-01-14 23:10] #1123 closed, assigned to nobody

[2015-01-14 23:22] springmeyer commented on #1129
Okay, curious. Good call on getting the `app.db` before deleting.

[2015-01-14 23:40] camilleanne commented on #1125
This is happening because #1046 didn't make it into the 0.2.0 release. Not a bug, just an oversight.

[2015-01-14 23:40] #1125 closed, assigned to camilleanne

[2015-01-14 23:43] camilleanne commented on #1126
This is occurring because #1046 didn't make it into `0.2.0` -- this will be fixed in the next release. Offline users not connected to the internet were attempting to make contact with mapbox.com to populate the change layer modal. https://github.com/mapbox/mapbox-studio/blob/mb-pages/lib/middleware.js#L21 redirects them to atlas.

[2015-01-14 23:43] #1126 closed, assigned to camilleanne

[2015-01-14 23:46] amyleew commented on #1129
@springmeyer Here is the `app.db`

[code]

Looks like it was deleted before, would an error even read here for `oauth`?

[2015-01-14 23:49] springmeyer commented on #1129
that app.db looks normal and should not cause errors. Is the user still hitting it with that?

[2015-01-15 00:37] wheredoesyourmindgo commented on #1024
What should I plug into that {tmstyle} parameter?  I tried "username.map_id" and "map_id" but i get the following msg in my browser.

Error: Invalid style protocol

My url looks like:
http://localhost:3000/static/18/-120.1734,39.2812,-120.1659,39.2895@1x.png?id=my-awesome-username.abc12345

[2015-01-15 00:58] camilleanne commented on #1024
@wheredoesyourmindgo what that `{tmstyle}` parameter should be is a lot less clear if you are using the packaged version of Mapbox Studio because the url bar isn't visible in the desktop version, but if you're building Mapbox Studio from github you'll see your `tmstyle` in the navigation bar of your browser:

![screen shot 2015-01-14 at 4 55 39 pm](https://cloud.githubusercontent.com/assets/395253

[2015-01-15 01:09] wheredoesyourmindgo commented on #1024
Awesome += 1; //thanks!

[2015-01-15 02:36] camilleanne opened #1131 "Update geocoding"
We're still geocoding against `mapbox.places-v1` and there is no support for offline users on Atlas.

https://github.com/mapbox/mapbox-studio/blob/mb-pages/lib/server.js#L554

[2015-01-15 06:43] esisa commented on #944
Same thing happens for me with Mapbox Studio 0.2.2

[2015-01-15 15:10] amyleew commented on #1129
@springmeyer That solved it. Studio starts now with no "unauthorized client" error.

[2015-01-15 17:33] ste-goldstein opened #1132 "Style not being uploaded to Mapbox account"
After clicking "Upload to Mapbox" button to upload the style, the green "Upload complete" message appears, and a style id is given.

But the style does not show up on my Mapbox account.

I repeated the process a few times from start to end (loading data, uploading vector tiles and creating style), creating new projects, with no success.

I also tried accessing the style from a web map, but I get a

[2015-01-15 19:15] willwhite commented on #1132
@skualos can you check your upload history for errors? Visit https://www.mapbox.com/data/ and click on "upload" in the top right.

[2015-01-15 19:38] willwhite opened #1133 "Studio error log should include stack traces"

[2015-01-15 20:17] ste-goldstein commented on #1132
Indeed, I have an error message from each time I tried to upload:
"At least one tile exceeds the draw time limit of 1000ms. Please optimize your styles."
Should I close this issue as it seems to be related with
https://github.com/mapbox/mapbox-studio/issues/1120 ?

[2015-01-15 20:37] camilleanne commented on #1133
I'm going to grab this and #1127

[2015-01-15 20:48] #1131 closed, assigned to nobody

[2015-01-15 21:01] springmeyer commented on #1127
Also logging the error/return code would be handy to know if the application exited normally (error code 0) or abnormally (some other number)

Something like:

[code]

[2015-01-15 21:24] willwhite commented on #1132
Yes, let's track the core issue on https://github.com/mapbox/mapbox-studio/issues/1120. @skualos thanks for confirming and apologies for the confusion.

[2015-01-15 21:24] #1132 closed, assigned to nobody

[2015-01-15 22:32] willwhite commented on #1129
This was an Mapbox API issue.

[2015-01-15 22:32] #1129 closed, assigned to nobody

[2015-01-15 22:33] willwhite commented on #1128
Appears to be a duplicate of https://github.com/mapbox/mapbox-studio/issues/1129.

[2015-01-15 22:33] #1128 closed, assigned to nobody

[2015-01-16 10:11] maximeCony commented on #1024
@camilleanne I need to add directions to the static maps. Do you know how I should proceed to add geojson support?

[2015-01-16 15:32] sbma44 opened #1137 "Studio won't load when gdal-sosi homebrew package is installed"
I've experienced this myself, but now see a user replicating it:

https://twitter.com/oeon/status/556097316189270017

![image](https://cloud.githubusercontent.com/assets/31717/5778656/e86d215e-9d6a-11e4-86ce-0a6a2c0cb3c1.png)

[2015-01-16 21:05] wboykinm opened #1138 "Can't access auth screen"
I'm not convinced it's unrelated to #1137, but just had studio blow up after updating. The process:
- `git pull`
- `npm start` gave me this:

[code]
- `npm install` gave me this:

[code]
- then another `npm start` and visit to localhost:3000 auto-directed me to an apparently-dead project:

![2015-01-16_1602](https://cloud.githubusercontent.com/assets/735463/5784339/59184202-9d99-11e4-840e-8df8d41c

[2015-01-16 21:06] yhahn commented on #1138
@wboykinm try

[code]

We had a little dependency musical chairs.

[2015-01-16 21:16] wboykinm commented on #1138
zing.

![2015-01-16_1615](https://cloud.githubusercontent.com/assets/735463/5784556/fc6bcb94-9d9a-11e4-8a23-10f8f1245662.png)

Thanks @yhahn!

[2015-01-16 21:16] #1138 closed, assigned to nobody

[2015-01-16 22:44] glw commented on #898
Hi I am trying to accomplish the same thing as the OP, except Im using Xubuntu 14.0.1, node 0.10.35, and npm 1.4.28. I have installed mapnik, according to your instructions. Then tried to run `npm install mapnik` - that failed. So I set attempted to set my PATH, `export PATH=$PATH:/usr/bin/mapnik-config` , restarted and ran `npm install mapnik` again, which failed again. I am assuming that mapnik

[2015-01-16 22:54] springmeyer commented on #898
Please start an issue at node-mapnik issue tracker for help: https://github.com/mapnik/node-mapnik/issues

No actually we're currently in a heavy dev cycle so node-mapnik requires latest Mapnik master (future 3.x).

[2015-01-16 23:09] cossatot commented on #1120
It'd be really helpful if Mapbox Studio were able to figure out if the max tile size is exceeded before commencing with the upload, and maybe offering a warning or a (default) option to cancel.  If the data is going to be rejected, why go ahead with the upload, when that can take minutes to tens of minutes for large datasets?

[2015-01-16 23:27] Rub21 opened #1139 "Export as image in MS-Ubuntu doesn't Work"
I was trying to do a image from map in Ubuntu 14.04, but when I press `Ctrl + alt+s`, not appear the window for export as image,I tried on Windows 7 the same thing and it [working](https://cloud.githubusercontent.com/assets/1152236/5786049/19d715b4-9dad-11e4-8121-9086b6a9509b.JPG)

[2015-01-16 23:37] springmeyer commented on #1139
/cc @ajashton whom I think has run into this and might know the cause/workaround.

[2015-01-16 23:54] ajashton commented on #1139
The only thing I can think of would be if you are using a local vector tiles source in Ubuntu but not Windows https://github.com/mapbox/mapbox-studio/issues/975

[2015-01-17 01:30] samanpwbb commented on #1120
@cossatot ~~I have this started in https://github.com/mapbox/mapbox-studio/pull/1022 - will get it merged soon :)~~ Just merged, so it'll be in the next release

[2015-01-17 03:55] cossatot commented on #1120
@samanpwbb Awesome, looking forward to it.

[2015-01-19 02:01] glw commented on #898
Ok, thank you.

[2015-01-19 10:15] wilhelmberg commented on #974
@dchadney

If `app.log` does not contain any useful information, it would of great help for us, if you have the time to work through this gist:
[Debug Mapbox Studio](https://gist.github.com/BergWerkGIS/534a5e74301c5607af5c)

Let me know, if you need further assistance.

[2015-01-20 01:59] jhubley opened #1140 "white screen, not loading after opening with mac package 2.2"
Hi,

I downloaded the latest mapbox studio package for mac (mapbox-studio-darwin-x64-v0.2.2). I didn't have any previous versions of mapbox studio. My processor is 64 bit (Intel Core 2 Duo) and I'm using OSX Yosemite.

When I open the application, I get a white screen with a spinning gray circle for a couple of seconds, and then it goes away and I just have a white screen. There is a menu bar with

[2015-01-20 02:53] jhubley commented on #1140
Never mind! I realized the issue was that I changed some stuff around in my hosts file for my virtual server config, and that's why localhost:3000 wasn't loading... Now it's working fine.

[2015-01-20 02:53] #1140 closed, assigned to nobody

[2015-01-20 03:05] springmeyer commented on #1140
@jhubley aha, great. Glad you figured it out!

[2015-01-20 21:58] amyleew opened #1141 "Places do not save or close."
Studio v0.2.2 has an error saving and showing the Places UI.

Places are not saved just loads... but does not save.
![image](https://cloud.githubusercontent.com/assets/4587826/5827002/2e05d6ea-a0c5-11e4-8038-a79d14f9c725.png)

And UI covers close button so the only way to exit is clicking a different tab.
![image](https://cloud.githubusercontent.com/assets/4587826/5826966/f072e476-a0c4-11e4-9ea0-f

[2015-01-21 18:55] camilleanne commented on #805
Still nothing as of [v0.20.7](https://github.com/atom/atom-shell/releases/tag/v0.20.7) of atom-shell.

[2015-01-21 19:28] springmeyer opened #1142 "html anchors missing from doc pages"
It would be great to be able to link, for example, directly to `Attachment Ordering` at https://www.mapbox.com/mapbox-studio/symbol-drawing-order/

But currently anchors are missing so the best fallback is to just use the github wiki which is not optimal: https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-symbol-drawing-order.md#attachment-ordering

[2015-01-21 19:49] springmeyer commented on #805
@camilleanne - what about creating a ticket at atom-shell tracker?

[2015-01-21 20:08] camilleanne commented on #1117
@springmeyer One thing that seems to happen is that if you quit Mapbox Studio/Atom Shell from the dock that doesn't trigger the `window-all-closed` event for atom and the server + process aren't killed, but the shell is.

![screen shot 2015-01-21 at 12 06 46 pm](https://cloud.githubusercontent.com/assets/3952537/5844101/3b997d7e-a166-11e4-89a1-651d59ccb7b4.png)

[2015-01-21 23:51] #1117 closed, assigned to nobody

[2015-01-21 23:52] camilleanne commented on #956
now in `CONTRIBUTING.md`

[2015-01-21 23:52] #956 closed, assigned to nobody

[2015-01-21 23:52] camilleanne commented on #1127
added in #1135

[2015-01-21 23:52] #1127 closed, assigned to nobody

[2015-01-21 23:53] camilleanne commented on #1133
added in #1135

[2015-01-21 23:53] #1133 closed, assigned to nobody

[2015-01-21 23:59] camilleanne commented on #805
https://github.com/atom/atom-shell/issues/1043

[2015-01-22 16:59] samanpwbb opened #1144 "Corrupt bookmarks yml file"
It's possible for yaml files to be broken and prevent saving to bookmarks file. I have a project with: `!<tag:yaml.org,2002:js/undefined>` as it's only content.

https://github.com/mapbox/mapbox-studio/commit/99c2b6efb5a308fdacb0070834b3faed8f61ed6e does fix the problem by falling back to empty bookmarks array if the yml can't be read, but:
- This could be originally caused by something happening

[2015-01-22 17:05] yhahn commented on #1144
Is this not caught + errored? Looks like we have at least some expectation in our tests for these scenarios: https://github.com/mapbox/mapbox-studio/blob/mb-pages/test/style.test.js#L325-L331

[2015-01-22 17:06] samanpwbb commented on #1144
@yhahn i am thinking this project was created with an older version of studio, we originally launched places without the validation check.

[2015-01-22 18:35] duncangraham commented on #1142
@springmeyer Yea I've noticed this too. I'll fix this today and tomorrow.

[2015-01-22 19:51] #1141 closed, assigned to samanpwbb

[2015-01-22 19:52] samanpwbb commented on #1144
Should be fixed now, mapbox studio doesn't make empty project.yml's any more

[2015-01-22 19:52] #1144 closed, assigned to nobody

[2015-01-22 22:00] camilleanne commented on #805
Looks like we're going this one on our own:
https://github.com/atom/atom-shell/issues/1043#issuecomment-70952338

[2015-01-23 08:41] mdiener21 opened #1146 "crash on Windows 7 32bit on export .mbtiles"
uploaded a 190 MB   geotif   (.tif) and that worked but as I try to export to .mbtiles, it runs and runs then is done.  Click download then boom   EPERM, stat 'C:\Users\mdiener.mapbox-studio\cache\export-23b8681d.mbtiles'   looks like  a permissions problem on my machine :)

[2015-01-23 11:51] wilhelmberg commented on #1146
@mdiener21
Could you try:
- close Studio
- delete contents of `C:\Users\mdiener\.mapbox-studio\cache\` manually
- start Studio
- export again

[2015-01-23 17:45] amyleew opened #1147 "Add embedding fonts to Studio docs"
### Embedding Fonts

While we include directions for _embedding your own font_ directly in Mapbox Studio. There has been some confusion with this process. It could be helpful to include to also it the Studio docs, like on the [Style Quickstart](https://www.mapbox.com/mapbox-studio/style-quickstart/) page.

Any objections @ajashton @geografa ?

![image](https://cloud.githubusercontent.com/assets/45

[2015-01-23 17:47] yhahn commented on #1147
:+1: @amyleew want to add a final step after [Labelling roads](https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-style-quickstart.md#labelling-roads) that walks the user through downloading a font, adding it to their project and using it?

[2015-01-23 17:53] amyleew commented on #1147
@yhahn Sure! :+1: I know a well-made, _free & open-source_ font collective to download from [League of Moveable Type](https://www.theleagueofmoveabletype.com/).

[2015-01-23 21:03] lxbarth opened #1148 "Overloaded term "project""
What's a project in Mapbox Studio is not a project on Mapbox.com.

![](http://dl.dropboxusercontent.com/s/kb769f3albqcr39/Screen%20Shot%202015-01-23%20at%204.02.51%20PM.png)

[2015-01-23 21:12] yhahn commented on #1148
We will be changing this on the mapbox.com side.

[2015-01-23 21:12] #1148 closed, assigned to nobody

[2015-01-24 02:55] springmeyer opened #1149 "Support TopoJSON files with .topojson extension"
The file filtering regex in the filebrowser is too strict which makes it seem like `.topojson` is not supported.

[2015-01-24 03:10] springmeyer commented on #805
I think we should remove all html input pattern validation altogether. The regexes for the file browser in particular are quite limiting and we should just keep it simple by showing all files and depending on mapnik-omnivore to throw if they are not valid to be opened - refs #1149.

[2015-01-24 04:00] springmeyer opened #1150 "Filebrowser: Support opening .gdb as a "file""
We should support the FileGDB format like TileMill. To get this working I need a hand understanding how to add a special case for directories with `.gdb` in the name to be able to open them correctly.
### background
- Upcoming `mapnik-omnivore` supports digesting this format (https://github.com/mapbox/mapnik-omnivore/pull/73)
- But its not possible to test in Studio because the "Select" button is

[2015-01-24 16:10] yhahn commented on #805
Hrm, we use html 5 input validation for more things than just file browser filetypes. We'll have to mull on a good approach to this one.

[2015-01-26 09:03] mdiener21 commented on #1146
I deleted the contents of both \cache   and \tmp   than ran it again all looks good.  Then click download, popup open I pick a location, click save...then nothing happens, no crash and now download found.

  I have tried to save in many different locations with always the same results.   The \cache folder does however include a new file called export-7a7cde30.mbtiles with 6 M  in file size.

[2015-01-26 11:27] wilhelmberg commented on #1146
Is it possible that you share your TIFF?
At the moment we are hunting down some hard to find errors specific to Windows and any data to reproduce errors would be helpful.

I suppose your TIFF is properly georeferenced?
Is it in WebMercator (EPSG:3857)?
If not, you could try to re-project your TIFF to WebMercator before adding it to Mapbox Studio, that it doesn't have to reproject on the fly.

Othe

[2015-01-26 19:38] camilleanne commented on #805
I agree with @yhahn because of issues like #1123. So we can make [our own notifications](http://developer.telerik.com/featured/building-html5-form-validation-bubble-replacements/) (I've already looked into this, it's not that bad), or we can make the change source interface better.

[2015-01-27 16:43] aaronpdennis commented on #824
We're trying to teach Mapbox Studio in a class at a large university. In the computer labs, students only have limited access to the C:\ drive. We'll be able to save there, but it would be much more useful if we could access other drives.

[2015-01-27 17:38] springmeyer commented on #824
@aaronlidman thanks, we are planning on getting this working soon.

[2015-01-28 00:25] tylermcgowan opened #1152 "Image export ignores line-spacing and marker-transform"
Two issues that have come up lately;
Setting a custom line spacing (negative value) for a city label, and moving the location of a marker (marker-transform: translate();) both work in Mapbox Studio, but upon exporting the PNG, they're ignored. Marker is back in the same location, and line-spacing back to default.

![styled in mapbox studio](https://cloud.githubusercontent.com/assets/1067193/593017

[2015-01-28 01:14] springmeyer commented on #1152
Thanks for reporting. Are you applying those properties at specific zoom levels? What might be happening is that the static export things it is at a different zoom level and the same selectors are not evaluated. node-mapnik supports calling applications passing in a custom `scale_denominator` which is the Mapnik internal representation for a zoom level. I'd need to check to see if abaculus (the in

[2015-01-28 19:47] Rub21 opened #1154 "MS doesn't calculate extension from db postgres"
I am doing a map using INEGI data and i've exported a shapefile file to postgres database, and then called the data form Mapbox studio finally I've exported  the vectortiles to Mapbox.com.

I looked for a solution and found how to fix that error:

https://github.com/Rub21/inegi-map/issues/1, it was easy, **but   I think Mapbox studio should  be calculate the extension when call data from database

[2015-01-28 21:56] duncangraham commented on #1142
PR here: https://github.com/mapbox/mapbox-studio/pull/1155

[2015-01-28 21:56] #1142 closed, assigned to nobody

[2015-01-29 00:32] yhahn opened #1156 "mapnik-omnivore may return error when detecting extent"
https://github.com/mapbox/mapbox-studio/blob/mb-pages/lib/source.js#L306

`results` here can be an error. Handle accordingly. Ran into this working with @andreasviglakis

[2015-01-30 08:30] nilshoerrmann opened #1157 "Logout button hidden"
If you have a long name in your profile, Mapbox Studio will not show the logout button on the project tab: due to line breaking, the link will be hidden outside of the visible area of the app.

[2015-01-30 18:59] geografa opened #1158 "Allow custom templates for new styles"
When making a new style, ability to set a custom source would benefit users making numerous styles from commonly used (non-Mapbox) sources.

[2015-01-30 19:44] geografa opened #1159 "Adding shp issues Shape plugin error (Windows 7/64bit using 2.2)"
Original issue: user receives error in Windows 7/64bit install (2.2) when adding any shp:

`Shape Plugin: shapefile 'c:/Program Files/mapbox-studio/resources/app/node_modules/mapbox-studio-default-source/\Users\Jake\Desktop\AllStates/AllStates_Proj.shp' does not exist`

The path seems to get garbled. Opening and creating new projects is no problem. Per chat, [possibly related](https://github.com/m

[2015-01-31 09:06] wilhelmberg commented on #1159
Cannot reproduce.

Tried
- W7/64bit
- W8.1/64bit
- folder location
  - directly on `C:\`
  - on the desktop
- with underscores in the filename

[2015-02-01 13:10] tsauerwein opened #1160 "Raster and vector layers in the same source project"
Currently, if you try to add a raster layer to a source project with vector layers, you are seeing the error message:

It would be great if you could have raster and vector layers in the same source. Especially since you can not use multiple local sources in a style project, see #368.

[2015-02-01 21:14] aaronpdennis commented on #113
I think this is an issue I've run into several times. If I try to change the order or rename a layer for a custom source I am currently working with in a style, I don't see those changes reflected in the layers panel of the style editor. Clicking refresh for the remote source doesn't help. I find that I instead have to create an entirely new style project, reference the sources as I was doing, and

[2015-02-03 19:56] springmeyer commented on #171
Noting that this issue was closed because both mapnik-omnivore and node-gdal came online and allowed support for formats like GPX which has multiple layers (#926). However unlike GPX many other multi-layer formats may have a different projection per layer (like postgis, filegdb, etc). Tracking this issue at https://github.com/mapbox/mapnik-omnivore/issues/72

[2015-02-03 20:16] #1157 closed, assigned to nobody

[2015-02-03 21:39] #944 closed, assigned to samanpwbb

[2015-02-04 06:26] springmeyer opened #1165 "Custom font name invisible"
Trying to load a custom font I noticed something is perhaps broken with the current display.

See with mbstudio latest + chrome Version 40.0.2214.94 (64-bit) (not using atom-shell.app)

1) After adding `font-directory` to my style the changes from the `To embed your own fonts in your style` to `Your fonts ..... 1 font`.

2) Clicking on `Your fonts` give me this view which lacks a face name:

![scr

[2015-02-04 06:29] yhahn commented on #1165
Hrm does this happen for other fonts? Looks a bit like this font is named using characters that it itself doesn't support ... (each font displays its own name for the preview atm)

http://www.wazu.jp/gallery/views/View_UnikurdJino.html ?

[2015-02-04 06:39] springmeyer commented on #1165
@yhahn good point, that may be the case for this font (@nbaghm do you know if this font has any latin character coverage?). However @yhahn I'm seeing that even locally for DejuVu fonts I'm not getting a visual rendering.

[2015-02-04 08:31] JoseSanchezDiaz opened #1166 "Crash after updating"
Hello:
I have just update mapbox to the latest versión and I get this error window when trying to open.
I'm running Windows 8.1 64 bits on a dell workstation.
Any idea of waht is happening?
![sin-titulo-1](https://cloud.githubusercontent.com/assets/8362349/6037141/472a1244-ac50-11e4-93cd-d105ef6a85b2.jpg)

[2015-02-04 08:40] springmeyer commented on #1166
@JoseSanchezDiaz - thanks for reporting. This is a bug that slipped into the release. We'll work to release a new version tomorrow that fixes this. The problem should be fixed by https://github.com/mapbox/mapbox-studio/commit/52c1e626640ed7585ede7c1e5cb921fcb61dad11 but we'll need till tomorrow to test fully.

[2015-02-04 08:40] springmeyer commented on #1166
/cc @geografa @amyleew

[2015-02-04 10:34] springmeyer commented on #1166
@JoseSanchezDiaz - I'm headed to bed here. But I created a quick build with the fix I referenced above. Can you test to see if this works for you? https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-fix-windows-startup.exe

[2015-02-04 11:25] JoseSanchezDiaz commented on #1166
Hello @springmeyer
Thanks for the quick answer!

After installing this new version the app doesn't open or show any message.
Tryed to come back to 2.2 version and I'm having the same problem.

[2015-02-04 13:10] ljbade commented on #1027
I think a count of the number of tiles would be great, rounded to a postfix, e.g. k m

[2015-02-04 14:31] JohnRbk commented on #1111
Seeing the same error on mapbox-studio 0.2.4

[code]

[2015-02-04 18:17] CenturyGIS commented on #1166
Echoing @JoseSanchezDiaz - I got the same error, and the test build you posted above @springmeyer  results in nothing initializing.

[2015-02-04 23:42] springmeyer commented on #1166
Okay, we're looking into this. Thanks for the patience. Will post back when we have another working build to test.

[2015-02-05 04:00] springmeyer opened #1167 "Better handling of zombie node.exe"
Quick braindump while I'm debugging on windows.

Currently if there are zombie mapbox-studio.exe running when you try to re-install this will block the installer from running: https://github.com/mapbox/mapbox-studio/commit/f3415c0c066b5534326f72319bb594c3f4bf4c5c.
- Improvements: help users know they need to restart if they are blocked (or to stop zombies in task manager)

But `node.exe` zombies c

[2015-02-05 04:02] springmeyer commented on #1166
@JoseSanchezDiaz @CenturyGIS - can you test this new build (it works for me in all testing):
- https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-win-fix.exe

Note: you should 1) restart your machine, 2) delete the `.mapbox-studio` folder inside your home directory, and then 3) install and test the new installer, 4) let me know if it works

/cc @duncangraham  @camilleanne

[2015-02-05 05:21] springmeyer opened #1169 "v0.2.5 release"
@camilleanne's fix 5a5e753154f808af802 looks good so I merged into master after testing that it works for me on Windows.

I'm too blurry-eyed to release tonight, but I think master is ready to push out to v0.2.5 to get windows fixed for everyone.

@willwhite @samanpwbb @yhahn - can one of you take on tagging v0.2.5 tomorrow morning?

Note: Windows users that tried v0.2.4 will likely have zombie pr

[2015-02-05 05:30] springmeyer commented on #1166
accidentally auto-closed this from a pull request. Will keep open until I hear confirmation that things are working with the test build for @JoseSanchezDiaz and @CenturyGIS

[2015-02-05 06:23] WojciechJasinski commented on #1166
The latest version (https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-win-fix.exe) works great.

[2015-02-05 07:36] yhahn commented on #1169
Ok, sounds good. @springmeyer @camilleanne guessing I should roll this back:

https://github.com/mapbox/mapbox-studio/blob/mb-pages/app/lib.js#L17-L22 ?

[2015-02-05 09:03] JoseSanchezDiaz commented on #1166
Hello @springmeyer
It works perfect!
Thanks!!!

[2015-02-05 14:10] CenturyGIS commented on #1166
I'm still not able to get it to work. Once installed I attempt to launch Mapbox Studio and the Studio window opens for about 3 seconds, displays the loading icon, and then crashes with no other error reporting

[2015-02-05 15:15] springmeyer commented on #1166
@CenturyGIS I think you missed step 1 or 2 above (https://github.com/mapbox/mapbox-studio/issues/1166#issuecomment-72990706).

[2015-02-05 15:25] CenturyGIS commented on #1166
@springmeyer - derp. I did each of those actions, just not in the sequence specified. Everything is fully functional.

Thanks for following up.

[2015-02-05 15:27] springmeyer commented on #1169
@yhahn yes looks like debugging code to me.

[2015-02-05 16:45] yhahn commented on #1167
Will give some thought to this -- seems like one of the main problems atm is that db compaction requires file deletion, something that is contentious when other processes have a handle on the file on windows. I'll think about ways to avoid deletetion when doing db compaction or maybe finding a different way of storing our db entirely to avoid the issue.

[2015-02-05 17:06] yhahn commented on #1169
Publishing now https://travis-ci.org/mapbox/mapbox-studio/builds/49626051

[2015-02-05 17:06] #1169 closed, assigned to nobody

[2015-02-05 17:15] #1147 closed, assigned to amyleew

[2015-02-05 18:55] DerekOverlock commented on #860
Can someone build a new proxy-enabled version that matches what's on mapbox.com? It seems that they are different versions (besides one allowing for proxies).

[2015-02-05 19:37] springmeyer commented on #1156
See also #1111

[2015-02-05 20:13] springmeyer commented on #860
@DerekOverlock - I just updated the branch we are using to to test things. If things look good them I'll build another package that will be available perhaps later today at the same links at above (https://github.com/mapbox/mapbox-studio/issues/860#issuecomment-65508867).

[2015-02-05 20:43] springmeyer commented on #860
@DerekOverlock tests passed so I pushed a new build. So https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-proxy-enabled.exe should be updated in about 30 minutes. Download it then to try again.

[2015-02-05 20:51] ljbade opened #1171 "Hillshade upload froze at 96.4%"
I was uploading a 26GB BigTIFF hillshade (using bigtiff branch) and first time I uploaded it did ~10 tiles/sec and got to 96.4% where it froze with no log messages.

I restarted the upload and the second time it did ~2000tiles/sec (occasionally stopping at 1tile/sec) and made it to 100%.

@springmeyer suggested adding UI to show if it is processing the tiles or uploading them.

[2015-02-05 21:00] springmeyer commented on #1171
thanks for ticketing. It would be really nice to prevent this odd behavior and in the meantime understand what is causing it. Can you also consider running `perf top` during the times studio looks stuck and sharing its output (https://github.com/springmeyer/profiling-guide)?

[2015-02-05 21:12] DerekOverlock commented on #860
@springmeyer, kudos for response time. Works great. Thanks!

[2015-02-05 21:20] springmeyer commented on #860
\o/

[2015-02-05 22:58] ljbade commented on #1171
@springmeyer I did look at top (but forgot to copy). I recall seeing studio at 0.7% at the top and not much else, except for the occasional aws jumping to number two.

[2015-02-05 23:47] tkrajacic opened #1173 "Place cache files in proper directory on OS X"
Currently Mapbox Studio places its cache files under `~/Library/Application Support/Mapbox Studio/Cache/`

This is bad for two reasons:
- The system has a dedicated directory for cache files in ~/Library/Caches which is expressly available for that purpose.
- The directory currently used will be backed up by Time Machine, which is a nuisance and completely pointless imho.

I would suggest either p

[2015-02-06 07:22] springmeyer commented on #1171
@ljbade `perf top` is what I'm interested in not `top` because `perf top` will show what c/c++ level functions are being called, if any. If no C/C++ functions are active and studio is at 0.7% then the hang is in JS land rather than C, which is a start for debugging.

[2015-02-06 09:52] ljbade commented on #1171
Ah, I see. Haven't had another freeze yet, but will be uploading more raster data tonight.

[2015-02-06 22:50] springmeyer commented on #1084
looks like @amyleew just hit this one https://travis-ci.org/mapbox/mapbox-studio/jobs/49805107#L1371. Seems like it rarely happens but still happens....

[2015-02-06 23:00] grignani opened #1175 "GeoJSON support for Static endpoint"
Hi,

We're trying to create a image with multi-stops walking directions using GeoJSON data.

We've tried the static maps API, but our URL is too long and the API rejects it–as the limit seems to be around 2,000 characters.
 `http://api.tiles.mapbox.com/v4/{mapid}/{lon},{lat},{z}/{width}x{height}.{format}`.

It seems that we could use Mapbox Studio running on localhost/server, but we couldn't find

[2015-02-08 15:35] cjgage commented on #860
Hi, I'm getting this problem when trying to start up Mapbox Studio:

![image](https://cloud.githubusercontent.com/assets/10909539/6097098/30113704-afa7-11e4-81ba-6d6beb5ec88c.png)

Tried following the comments above but not techy enough (or authorised) to start playing around with proxy settings. @springmeyer I installed your link but same outcome.

Are there any other solutions?

Thanks

[2015-02-08 16:34] wilhelmberg commented on #860
@cjgage

Have you set the environment variables and started Studio from the command prompt?
Like this https://github.com/mapbox/mapbox-studio/issues/860#issuecomment-65508867

[2015-02-08 17:32] wilhelmberg commented on #1167
I think compaction is not the only problem. `node.exe`/`mapbox-studio.exe` cannot be deleted/replaced if they are still running. Un-/Installer shouldn't continue anyway if files cannot be removed/added. Haven't tested this though.

I think suggesting a reboot is a safer instruction.
People will have to think about what other programs are running on their machine and don't blindly kill all processe

[2015-02-09 09:11] cjgage commented on #860
Thanks @BergWerkGIS  - where do I enter this code?

[2015-02-09 09:12] wilhelmberg opened #1177 "Windows: GDAL_DATA and PROJ_LIB not set correctly"
@springmeyer @yhahn

For studio's `node.exe` process `%PROJ_LIB%` should point to

[code]

and `%GDAL_DATA%` should point to

[code]

which they do not.

**Bonus task:**
Consolidate the shared data that ships with different modules e.g. `node-mapnik\share\gdal` and `node-srs\lib\srs_data`.

---
### PROJ_LIB

When starting Studio on a vanilla machine `%PROJ_LIB%` is set to

[code]

When there is ot

[2015-02-09 09:33] wilhelmberg commented on #1146
@mdiener21

Another thing for you to try (see also https://github.com/mapbox/mapbox-studio/issues/1177):
- Update to the latest version. Would be great if you could use 64bit. https://www.mapbox.com/mapbox-studio
- Open command prompt
- enter `echo %PROJ_LIB%`
- if this shows a path, enter
  - on Win 32bit: `SET PROJ_LIB=C:\Program Files\mapbox-studio\resources\app\node_modules\mapnik\lib\binding\

[2015-02-09 09:47] wilhelmberg commented on #860
@cjgage
On the command prompt.
- Press the Windows key (see screenshot below)
- type `cmd`
  - on Win7 you should see `cmd.exe`, click on it
  - on Win8/8.1 you should see `Command Prompt`, click on it
- Then enter the commands outlined here https://github.com/mapbox/mapbox-studio/issues/860#issuecomment-65508867
- don't forget to replace `YOUR-PROXY-SERVER:PORT` with your real proxy settings

![i

[2015-02-09 10:06] cjgage commented on #860
@BergWerkGIS  getting this result:
![image](https://cloud.githubusercontent.com/assets/10909539/6104189/3f718cc0-b043-11e4-9fd4-5a8744840731.png)

[2015-02-09 10:48] wilhelmberg commented on #860
@cjgage did you also see `Cannot find Mapbox API` error or did Studio exit immediately?

[2015-02-09 11:38] cjgage commented on #860
Immediate exit

[2015-02-09 11:38] cjgage commented on #860
@BergWerkGIS immediate exit

[2015-02-09 11:54] wilhelmberg commented on #860
@cjgage any additional information in `%USERPROFILE%\.mapbox-studio\app.log` (except `
Mapbox Studio @ http://localhost:3000/`)?

[2015-02-09 12:41] cjgage commented on #860
@BergWerkGIS
<Mon, 09 Feb 2015 10:11:25 GMT> Mapbox Studio @ http://localhost:3000/
<Mon, 09 Feb 2015 10:11:32 GMT> error 500 { [Error: Cannot find Mapbox API at https://a.tiles.mapbox.com]
  method: 'GET',
  url: '/oauth/config?MapboxAPITile=https%3A%2F%2Fa.tiles.mapbox.com' }

[2015-02-09 15:51] wilhelmberg commented on #860
@cjgage

Could you open a command prompt like before and enter:

[code]

What's the output?
Are these the same settings you used for `SET HTTP_PROXY=` and `SET HTTPS_PROXY=`?

[2015-02-09 16:06] wilhelmberg commented on #860
@cjgage
When you enter `netsh winhttp show proxy`, what does that give you?

[2015-02-09 16:14] cjgage commented on #860
@BergWerkGIS "Direct access (no proxy server)."

[2015-02-09 16:16] wilhelmberg commented on #860
@cjgage
And what's the output of

[code]

[2015-02-09 16:38] cjgage commented on #860
@BergWerkGIS nothing just blank prompt

[2015-02-09 16:45] wilhelmberg commented on #860
@cjgage Then you probably don't have a proxy?!

2 things to try:

1.
Again on the command prompt, what does `ping a.tiles.mapbox.com` give you?

2.a.
go into Internet Explorer -> click on gear icon on top right (Tools) -> Internet options -> Connections -> LAN settings
Post a screenshot of the last dialog.

2.b.
If you can click on `Advanced` on the last dialog, also post a screen shot of the dial

[2015-02-09 16:58] cjgage commented on #860
@BergWerkGIS ![image](https://cloud.githubusercontent.com/assets/10909539/6110890/ca469f00-b07c-11e4-861a-99bdc7727e6a.png)

[2015-02-09 17:01] cjgage commented on #860
@BergWerkGIS
![image](https://cloud.githubusercontent.com/assets/10909539/6110936/2224a442-b07d-11e4-8bf4-141811f8684b.png)

[2015-02-09 17:01] cjgage commented on #860
@BergWerkGIS
![image](https://cloud.githubusercontent.com/assets/10909539/6110961/560090f0-b07d-11e4-9be2-ebff00c59ca5.png)

[2015-02-09 17:06] wilhelmberg commented on #860
@cjgage
Ahhhh, automatic configuration script.
Enter the URL from the `Address` field of the second screenshot (`Use automatic configuration script`) into a browser address field.
This should download a file.
Save the file and open it with a text editor and look for `PROXY` within that.
These are the settings you should use with

[code]

[2015-02-09 17:19] cjgage commented on #860
@BergWerkGIS
No download unfortunately  - just unable to load page

[2015-02-09 17:36] wilhelmberg commented on #860
@cjgage wow, never had that before.
Your environment seems pretty locked down.

What do you see, when you try to access https://a.tiles.mapbox.com/ with your browser?
It should be `{"api":"mapbox"}`.

If that's not the case, then there might be firewall restrictions and `*.mapbox.com` might be blocked and not accessible.
Then you would have to talk to your IT-Department to let traffic through to `

[2015-02-09 19:03] springmeyer commented on #1177
Thanks for uncovering this lurking problem @BergWerkGIS. It sounds like good short term steps are:
- add debugging output to node-mapnik, node-gdal, and node-srs that console.log what they are setting these env variables to and if they were set beforehand. Such that at the least the logs will show when variables are being clobbered.
- consider moving on https://github.com/mapbox/node-srs/issues/49

[2015-02-09 19:21] wilhelmberg commented on #1177
@springmeyer I agree on short term steps and on implementing some, now native, modules as wrappers arround existing other native modules.
Will reduce possible problems/conflicts greatly.

But I think good long term solution will be difficult, as (I suppose) we can never guarantee the order modules are combined and are loaded:
e.g. `mapnik` loads and sets its env vars and then `srs` loads.
For `srs

[2015-02-09 22:51] amyleew commented on #1027
Inline copy to define function and give tips on how to use it. Thoughts? @samanpwbb @springmeyer

![image](https://cloud.githubusercontent.com/assets/4587826/6117597/a0751344-b083-11e4-91db-ff7ad29ee121.png)

Can you explain? Will it function similar to file size over zoom level (seen below) and be based on cached tiles in view or be more generic value?

![image](https://cloud.githubusercontent.co

[2015-02-09 22:52] amyleew commented on #1026
Added inline copy explaining functionality and giving tips on defining it based on feature type.

![image](https://cloud.githubusercontent.com/assets/4587826/6117295/663f9a02-b081-11e4-96d6-66838bf6cbf5.png)

cc @samanpwbb @springmeyer

[2015-02-09 22:59] springmeyer commented on #1177
I agree.

Good option to keep in mind, but not easy to maintain. So let's not move on that yet.

One other idea:
- every module that needs GDAL_DATA or PROJ_LIB set, dynamically sets it ONLY if it is not already set in the ENV.
- then studio could set the environment settings itself after maybe moving all files (from node-srs, node-mapnik, node-gdal, etc) into a single known location.

This would

[2015-02-09 23:19] springmeyer commented on #1167
I agree, and have been recommending reboot. I only provide that detail for those that might understand it, but yeah, I'll stop :)

So, I don't know why there is a `node.exe` that studio starts actually. Ideally we could have everything have a custom name. Perhaps the `node.exe` is the atom shell process? @BergWerkGIS do you think we could rename that one too by either renaming the binary or settin

[2015-02-09 23:19] ljbade commented on #1027
@amyleew, yeah it is similar in a way to the file size indicator (which I only discovered recently BTW).

I was thinking along the lines of more a generic values, ie the number of tiles instead of file size, but perhaps it should be file size? Number of tiles can be easily calculate but file size is harder.

The main idea is to have something that gets very huge as you slide the slider to the righ

[2015-02-09 23:20] ljbade commented on #1027
Perhaps even a a colour hint, ie slider turns yellow/red as you get into the ridiculous number of tiles range.

[2015-02-09 23:25] amyleew commented on #1027
per chat w/ @yhahn @samanpwbb
- expand help copy to best practices
  - _i.e._ point data minzoom shouldn't start until 9+, highest maxzoom is rarely 14+
- limiting slider values to optimal range and zoom levels outside that can altered manually in project.yml

[2015-02-09 23:29] amyleew commented on #1027
@ljbade the issue with generating a tile size is that it may not be exact to the particular data set and it'll be hard to determine in the settings tab. better to teach the process for determining the best values and work on building future functionality into the tool itself.

[2015-02-10 03:49] stevage opened #1178 "Source data upload stuck at 100%"
Basically exactly the same symptoms as #481.

![screenshot 2015-02-10 14 41 11](https://cloud.githubusercontent.com/assets/678344/6121252/74f3479e-b133-11e4-8bcf-e805fd5ca7ce.png)

Running version 0.2.4 on OSX Mavericks.

[2015-02-10 04:03] stevage opened #1179 "A better default save directory than ~ on OSX?"
By default, MBS wants to save project files in my home directory. This feels a bit weird and wrong.
Perhaps it could default to "~/Mapbox Studio/" or at least ~/Documents or something?

[2015-02-10 04:43] stevage opened #1180 "polygon-pattern-file with remote URL doesn't work"
This code:

`polygon-pattern-file:url("http://freeseamlesstextures.com/images/4-old-brick-background-thb.jpg");`

(following the onboard documentation)

gave:

`file could not be found: '/Users/stevebennett/vicroads-purple.tm2/http://freeseamlesstextures.com/images/4-old-brick-background-thb.jpg' in style 'water' in PolygonPatternSymbolizer`

Using a local file worked fine.

0.2.5 on OS X Maverick

[2015-02-10 06:52] wilhelmberg commented on #1167
Yes, maybe renaming to `mbx-node.exe`/`studio-node.exe` would make things easier.
`node.exe` is the actual server process, see third screenshot.
I don't think a different process.title for sub processes will show up in the standard Windows Task Manager.

---

This is the Mapbox Studio 0.2.5 process tree on **Win7**:
![image](https://cloud.githubusercontent.com/assets/4549888/6122633/ad65503c-b0f6-

[2015-02-10 07:08] wilhelmberg commented on #1177
It would work. Like it already does for `GDAL_DATA`. That one gets overriden to `srs\lib\srs_data` just for Studio's process.

One way to detect if an env var is already set (system wide or for the current user), would be to query those registry keys and check, if the corresponding key exists.
But that would be **very** Windows-only. :smirk:

[code]

[2015-02-10 08:17] ljbade commented on #1027
Limiting the range in the UI but allowing override in the YML is a great compromise. Keeps it simple.

[2015-02-10 08:19] ljbade commented on #1027
I wouldn't limit the min zoom though since it doesn't have that much of an impact on generation time since anything too big in the single tile will error anyway. Although I did notice Map Studio does not complain until a vector tile is 64MB, where as after upload unpacker complains about > 200kb.

[2015-02-10 11:06] cjgage commented on #860
@BergWerkGIS  Yes I do get {"api":"mapbox"}

Is there a glimmer of hope or do I still have to speak to IT?

[2015-02-10 12:09] wilhelmberg commented on #860
@cjgage `yes/maybe` and probably `at the moment no`.

**yes/maybe:**
The mystery is hidden in the `automatic configuration script`.
It contains the settings for the proxy and is dynamically downloaded by the browser.
If you could somehow manage to download that file (_maybe try another browser like Chrome or Firefox_), you should be able to get the values to set the environment variables correctly

[2015-02-10 12:35] cjgage commented on #860
@BergWerkGIS I use Chrome anyway but gave IE a go for good measure - neither downloaded a text file unfortunately.

I think at this stage I will concede defeat but will check back from time to time to if there has been any solutions.

Really appreciate your efforts in trying to get it working for me though. Thanks.

[2015-02-10 13:38] wilhelmberg commented on #860
@cjgage ahhh, `defeat` - that hurts :smirk:
It's a pity, that you could not download the PAC file.

Sure, no problem.

[2015-02-10 15:39] ajashton commented on #1180
This is an oversight in the documentation. CartoCSS itself does not support loading web resources - in TileMill this was handled by the `millstone` module, but we aren't using that in Mapbox Studio and all resources should be local. I've updated the online documentation in bc5eeac0d1e45595c203d13798d3d9fdccfee972 - did you see a web URL reference anywhere else?

[2015-02-10 15:53] yhahn commented on #1167
@springmeyer @BergWerkGIS if we rename our node binary we should do it across all 3 platforms to keep this code consolidated:

https://github.com/mapbox/mapbox-studio/blob/mb-pages/index-shell.js#L9

[2015-02-10 20:34] mdiener21 commented on #1146
I will give it another go tomorrow in the office thx.  Sorry I cannot share the TIFF :( customer data not for public eyes

[2015-02-10 20:59] stevage commented on #1180
Ah, that makes sense. If I run into something similar elsewhere I'll let you know.

Any plans to include Millstone or a successor? I found it pretty convenient in Tilemill.

[2015-02-12 10:26] franckalbinet opened #1183 "Failed to parse expression in style 'country_label' in TextSymbolizer"
Mapbox Studio version: 0.2.5
OSX: 10.9.4

When trying to add custom text containing space I get the following error:
"Failed to parse expression: "Brunei Darussal" in style 'country_label' in TextSymbolizer"

MSS for custom country names code for OSM is the following:

[code]

Did I miss something ?

[2015-02-12 11:30] 3c opened #1184 "Crash on Startup"
System Windows 7 64-bit OS.
Version: 0.2.5

I found the path is "C:\Program Files\mapbox-studio"  not  "C:\Program Files (x86)\mapbox-studio" ,is this the problem ?  but installing is auto ,I can't select path

I install and uninstall many times, result is same ,crash on startup

[2015-02-12 13:53] michaelsteffen opened #1185 "Removing source causes crash"
I have a style that works fine with 3 sources (custom data source + mapbox.mapbox-terrain-v1 + mapbox.mapbox-streets-v5).  When I remove the first source, Studio crashes and then crashes on start. Manually re-adding the first source in project.yml makes everything work again.

[2015-02-12 15:38] ajashton commented on #1183
In order to distinguish it as literal text as opposed to an expression, you will need to quote Anguilla with both double and single quotes:

[code]

[2015-02-12 16:41] antoniolocandro opened #1186 "Be able to set different 'Viewports' to export to image"
I think it would be great if you can have different 'viewports' at different parts of the map to export like bookmarks.

Use case. I styled a US map but needed to export 3 different images...Alaska, Hawaii and Continental USA, current procedure is I need to set the export box each time I needed one, but what if I tweak something and want to export again? I would need to do the process again which

[2015-02-12 16:46] samanpwbb commented on #1186
Hey @antoniolocandro this feature exists:

![screen_shot_2015-02-12_at_11_43_55_am](https://cloud.githubusercontent.com/assets/108094/6172068/9bb67836-b2ac-11e4-881b-bd040d2f4505.png)

It will be saved to "places":

![screen shot 2015-02-12 at 11 44 03 am](https://cloud.githubusercontent.com/assets/108094/6172073/a25d3fd0-b2ac-11e4-9a52-753b22acf0fe.png)

And you can actually copy + paste these bo

[2015-02-12 16:46] #1186 closed, assigned to nobody

[2015-02-12 17:20] michaelsteffen commented on #1185
Here's the error code from console:

[code]

[2015-02-12 17:31] springmeyer commented on #1185
Sounds like another case of possible corruption of the `~/.mapbox-studio/app.db` file. Can you try replicating again and then:
- move `~/.mapbox-studio/app.db` aside and see if restarting then works again
- if so, can you post your app.db here (it's json) after stripping anything sensitive?

[2015-02-12 17:47] antoniolocandro commented on #1186
I was thinking more of the box you use to export the image, you need to set crop bounds each time you want to export a different extent. I don't see the option you gave works for that maybe I am missing something

![optimized-selection](https://cloud.githubusercontent.com/assets/4627073/6173321/90bebe52-b2ac-11e4-820b-88033ece7b4b.png)

[2015-02-12 18:01] springmeyer commented on #1185
per chat with @michaelsteffen - he's going to try to reduce a testcase. He found that removing `app.db` did allow Studio to start, but of course Studio would still crash once he accessed the same project. The problem appears to be that editing the `layers` puts the style out of sync in a crashy way when it simply needs to provide some modal notice about what in the style needs removed (that might

[2015-02-12 18:04] franckalbinet commented on #1183
Perfect. It makes sense.
Thanks so much!

[2015-02-12 18:07] #1183 closed, assigned to nobody

[2015-02-12 18:07] samanpwbb commented on #1186
Ahh, sorry. I should have read closer.

How inconvenient is it to:
1. Save the map locations for your crops to 'places'
2. make your first crop and then click 'lock dimensions' and export.
3. Lock dimensions is preserved, so you can then jump to your next saved place, enter export mode, and click the 'center' button to move the crop area.

[2015-02-12 18:14] michaelsteffen commented on #1185
Doesn't seem to be the stylesheet.  I've whittled the offending project down to a single stylesheet that contains just the following:

[code]

The crash is still reliably reproducible by deleting one source.

[2015-02-12 18:36] springmeyer commented on #1185
o_0

[2015-02-12 19:02] michaelsteffen commented on #1185
Indeed

[2015-02-12 19:19] willwhite commented on #1082
We fix a regression on the Mapbox API side that we issuing credentials with shorter expirations. This should be fixed now.

[2015-02-12 19:19] #1082 closed, assigned to nobody

[2015-02-12 19:40] michaelsteffen commented on #1185
Could the problem have to do with the fact that the offending source belongs to someone else's Mapbox account? Adding sources to this project works fine, as does deleting either of the other two sources currently in the project.

[2015-02-12 20:44] springmeyer commented on #1185
I have no idea. Thanks get getting us this far. I presume @samanpwbb might know or have ideas about the issue.

[2015-02-13 08:27] mdiener21 commented on #1146
sorry 64Bit Win would be nice but I cannot expect my customer to do the switch..ie re-install windows. Path is a problem because I use it for osgeo4w...C:\Users\mdiener>echo %PROJ_LIB%
C:\OSGeo4W\share\proj
which I am using for other projects...but I will switch it over for the test...PS. I also run a Ubuntu Machine and all works nice there! silly Windows, but we need it for some customers :+1:

[2015-02-13 09:17] mdiener21 commented on #1146
Results are in status "Does not work" :   I used gdalwarp to convert to epsg:3857 and opened it up in QGIS to check all was good and it was good.  Then downloaded the newest mapbox 32 bit version 2.2.5..did all the fun steps as before...click download .mbtiles  then it simple never ends...I had to kill the process after 30min of doing nothing.

[2015-02-13 09:54] mdiener21 commented on #1146
Update: I restarted my machine and ran it again just for fun and it worked !!  why I have no idea, I did the same steps 1 to 1 as before...more Windows fun...this helps nobody unfortunately

[2015-02-13 10:28] wilhelmberg commented on #1146
Glad you got it working. Maybe there were some zombie processes left from the upgrade. We had such problems with the previous installer.

Sorry, for the Windows inconvenience, but, rest assured, we **are** working on it.

And, you are not alone, I also stumbled over the W7 32bit machines of some customers (LaRegK :smirk: ).

[2015-02-13 10:28] #1146 closed, assigned to nobody

[2015-02-13 11:43] wilhelmberg commented on #1184
@3c

`C:\Program Files\mapbox-studio` is correct.
You are on a 64bit machine and installed the 64bit version of Studio.

Did you upgrade from a previous version without a reboot?
There could be some zombie processes hanging and blocking a clean install/start.

Could you try to:
- reboot
- delete `app.db` in `%USERPROFILE%\.mapbox-studio` <-- copy this into the address bar of the file explorer.
- i

[2015-02-13 12:32] planemad opened #1187 "Highlight queried feature in the data inspector"
While conducting workshops on studio, many students were not sure which object was being inspected, since there is an overlap of features in dense area.

 Suggested improvements:
1. Highlighting the actively inspected element
2. Change from hand tool to pointer for more precise clicking

[2015-02-13 20:21] tylermcgowan commented on #1152
Thanks @springmeyer The line-spacing was applied at a specific zoom level (>=12), however I exported at the same zoom level.

In the original images posted, the second line "North Vancouver" is further away from "District of" in the second picture. You can use the green line for reference. I gave it a line-spacing of -8 to tighten up the leading, but it seems to be ignored on export.

My latest te

[2015-02-15 02:20] lxbarth opened #1188 "postgis-vt-utils ?"
Our docs refer to a "postgis-vt-utis" that is nowhere to be found on the internet if it happens to be missing.

Docs say "This will require the z() function provided by the postgis-vt-utils package." https://www.mapbox.com/mapbox-studio/postgis-manual/

Studio says "Postgis Plugin: ERROR:  function z(numeric) does not exist
LINE 2:   z(3.40282e+38) >= 10 AND"

Google says: https://www.google.com/w

[2015-02-15 02:28] lxbarth commented on #1188
Realized this meant to say "postgis-vt-util" without the "s".
- [x] Fix docs, link mention of postgis-vt-util to proper place.  https://github.com/mapbox/postgis-vt-uti ?
- [x] Add installation instruction on https://github.com/mapbox/postgis-vt-util

[2015-02-15 02:45] lxbarth opened #1189 "UNION ALL example broken"
This example is broken, the () shouldn't be around each select statement but the entire subquery. @ajashton  - am I missing something here?

![screen shot 2015-02-14 at 9 43 39 pm](https://cloud.githubusercontent.com/assets/98233/6201896/90d1bbe6-b492-11e4-95e3-21de114f1f24.png)

Better:

[code]

[2015-02-15 06:22] JayDouglass opened #1190 "Unable to create pipe "\\.\pipe\chrome.24676.0.173299390" in client mode: The system cannot find the file specified. (0x2)"
Fresh install on windows 8. When I run mapbox-studio.exe I get:

C:\Program Files\mapbox-studio>[24676:0215/001629:INFO:CONSOLE(0)] <Sun, 15 Feb
2015 06:16:29 GMT> Mapbox Studio exited with 3221225781.
[23504:0215/001629:WARNING:ipc_channel_win.cc(309)] Unable to create pipe "\.\p
ipe\chrome.24676.0.173299390" in client mode: The system cannot find the file sp
ecified. (0x2)

[2015-02-15 16:42] ajashton commented on #1189
Ya the current example is wrong. Your fix is correct, but original intention might have been something like below which is what the user would have to do if they want to add an `ORDER BY` to any of the subqueries (a common need).

[code]

[2015-02-15 16:48] ajashton commented on #1188
Proper link and installation instructions are included in the [Getting Started](https://www.mapbox.com/mapbox-studio/postgis-manual/#getting-started) section, but can be added other places as well.

[2015-02-16 09:59] 3c commented on #1184
still crash ..

I have installed 0.1.5 ,it's ok

[2015-02-16 18:57] springmeyer commented on #945
@bsudekum - As you move tilemill also to Atom shell - could you take a look at this? The key first question is how to have atom-shell crashlogs sent to Mapbox rather than the atom-shell developers.

[2015-02-16 23:10] bsudekum commented on #945
Per chat, we're going to make a log endpoint for applications to a place to post log data. This will be hit after [tilemill/atom](https://github.com/mapbox/tilemill/tree/atom) is merged.

[2015-02-17 16:09] samanpwbb commented on #1180
No plans - all assets that you want to include in the style need to be in the style project folder.

[2015-02-17 16:09] #1180 closed, assigned to nobody

[2015-02-17 16:59] alex88 commented on #382
Would be a nice thing to have

[2015-02-17 17:47] samanpwbb commented on #1185
I tried to reproduce this and was not able to.

@michaelsteffen where you making these changes with the web UI or in the project yml file? If you still remember, it would be super helpful for you to detail the steps you took before hitting the error.

[2015-02-17 18:10] samanpwbb commented on #1002
Lets keep this as is for now.

[2015-02-17 18:10] #1002 closed, assigned to nobody

[2015-02-17 18:11] #990 closed, assigned to nobody

[2015-02-17 19:05] samanpwbb commented on #1185
Same as https://github.com/mapbox/mapbox-studio/issues/1093

[2015-02-17 19:05] #1185 closed, assigned to nobody

[2015-02-17 20:04] springmeyer commented on #1167
Realizing that renaming `node.exe` only windows probably works if all addons' are recompiled against that re-named binary (which is not practical) - more details at https://github.com/iojs/io.js/issues/751.

[2015-02-17 20:51] samanpwbb commented on #1179
I am fine with `~/` - And this would be slightly complicated to implement/test, so closing.

[2015-02-17 20:51] #1179 closed, assigned to nobody

[2015-02-17 21:16] wilhelmberg commented on #1167
Under these circumstances it doesn't make sense.
We would have to have a `dedicated studio build` and a `public build` of all native modules.

[2015-02-17 21:36] springmeyer commented on #1167
Agree. So, we'll need to find a different way to identify a running `node.exe` that represents the studio server process.

[2015-02-17 21:46] wilhelmberg commented on #1167
When the zombies attacked, where there just the `node.exe`'s left, or also `mapboxstudio.exe`?

2 ideas:
- check the parent process: like in the screenshot. Each process has information about its parent process. If parent is mbstudio, kill it. Or, better, kill process tree of parent
- check path of process image:
  - `\Program Files\mapbox-studio` for x86 studio on x86 OS and x64 studio on x64
  -

[2015-02-17 22:46] #1101 closed, assigned to samanpwbb

[2015-02-17 22:48] ian29 commented on #1101
\o/

[2015-02-17 23:14] MarkWS commented on #1184
I'm having the same problem. 0.2.5 installed correctly, then when I started a New Project and saved it. MBS would not re-start, just crashes. It's something with the 'new project' but don't know how to remove without MBS starting up.

[2015-02-17 23:16] springmeyer commented on #1184
@MarkWS - find the `.mapbox-studio` folder in your user directory and try removing the `app.db` inside. Then let me know if Studio is able to start again?

[2015-02-17 23:26] MarkWS commented on #1184
Yes, that worked and I've reconnected my account and loaded back in the projects. thanks.

[2015-02-17 23:30] MarkWS commented on #1184
Dane, do you know the maximum number of fonts you can have in a directory, is it 16?

[2015-02-17 23:37] springmeyer commented on #1184
There is no limit on # of fonts that I'm aware of (though @samanpwbb might have added a limit I'm unaware of). Rather the limit you are likely experiencing in on the size of the project upload. So, the smaller the font size the more font faces you can load.

[2015-02-17 23:38] #1184 closed, assigned to nobody

[2015-02-17 23:59] MarkWS commented on #1165
It happens with all fonts. We have a number of projects that have custom fonts, the font is there just displayed in black, so it's not visible until you roll over it or select it. It's been a bug since v2 was released which supported a font directory

[2015-02-18 00:11] MarkWS opened #1194 "Crash on Startup"
I know the last issue was closed but we are still unable to start up.
I've removed the `app.db` file in the `.mapbox-studio` user directory and the program will start up. But then only once, so we are having to remove the `app.db` file each time to get the program to load.
Have reverted to v 0.2.2 and it's the same issue there, crash while loading.
Win 7 Pro 64bit

[2015-02-18 00:13] springmeyer commented on #1185
see also #1194

[2015-02-18 00:17] springmeyer commented on #1194
@MarkWS - Can you also try restarting your machine? See if that helps?

If not then the problem is likely that a project file has become invalid. By default Studio opens to the last project you edited and so if the last project is broken this can prevent Studio from opening. Removing the `app.db` temporarily works around this by stopping Studio from opening the last project immediately. But if you

[2015-02-18 00:20] #938 closed, assigned to samanpwbb

[2015-02-18 00:21] #1105 closed, assigned to samanpwbb

[2015-02-18 00:24] MarkWS commented on #1194
restart didn't help.
and this doesn't seem related to the projects. once we remove the `app.db` file the program loads. Then we 'connect' to our account, 'allow' in the authorize page and in the new project page we chose 'blank source'
then close MBS and it will not start up. so we have not loaded any projects and only started with a blank source without saving it.

[2015-02-18 00:26] samanpwbb commented on #1185
@springmeyer i think #1194 is different. This is fixed by https://github.com/mapbox/mapbox-studio/pull/1195

[2015-02-18 00:33] samanpwbb commented on #1194
@MarkWS are you using [templates and interactivity layers](https://www.mapbox.com/mapbox-studio/style-quickstart/#utfgrid-interactivity) in any of your styles?

[2015-02-18 00:40] MarkWS commented on #1194
No, we are not.

[2015-02-18 08:44] wilhelmberg commented on #1194
Can you verify via `Windows Task Manager` that there are no `mapbox-studio.exe` or `node.exe` processes running after the crash?

![image](https://cloud.githubusercontent.com/assets/4549888/6244292/b8f527f4-b751-11e4-830b-a148551695de.png)

If there are any, please kill them, via `Right Click -> End Process Tree` before proceeding.

---

Maybe some kind of permission problem?
Could you try to remo

[2015-02-18 08:53] wilhelmberg commented on #1194
When you are on the command prompt, enter those commands:

[code]

Do they output a path, like `C:\some\other\program\GDAL-DATA` or `%GDAL_DATA%`?

[2015-02-18 15:47] #1093 closed, assigned to samanpwbb

[2015-02-18 17:09] MarkWS commented on #1194
removal of the `.mapbox-studio` folder in the `users` dir worked.
the program did not crash on start-up when using v 0.2.2
upgraded to v 0.2.5 and it seems to be working fine. Will be working in MBS all day so I'll keep you posted.

[2015-02-18 17:16] MarkWS commented on #1165
here is a screen shot using v 0.2.5 and the custom font type fill is black.
![capture 1](https://cloud.githubusercontent.com/assets/8440284/6252335/c86deed2-b756-11e4-86af-b2ef283c84f0.JPG)
but the fonts are there, just simply need to click on them and the highlighted font appears;
![capture 2](https://cloud.githubusercontent.com/assets/8440284/6252353/f1e27bac-b756-11e4-9827-8ea21256a150.JPG)
a m

[2015-02-18 19:11] #1026 closed, assigned to amyleew

[2015-02-18 19:11] #1027 closed, assigned to amyleew

[2015-02-18 19:12] amyleew commented on #1027
Merged :+1:

[2015-02-18 19:12] amyleew commented on #1026
Merged

[2015-02-19 14:31] ItsJoeTurner opened #1197 "Search not working"
Search is hanging in MBS. Our local network is blocking the search, but I'm not sure why? I tethered my iPhone to my iMac and the search resumed. Here's a GIF: http://cl.ly/3u380B1s0y1g

[2015-02-19 15:07] samanpwbb commented on #1197
Can you [activate developer tools](http://cl.ly/image/360w3b1r451l), and look in the error console to see what kind of error you're getting?

[2015-02-19 15:10] ItsJoeTurner commented on #1197
@samanpwbb Sure, here's the error: http://cl.ly/image/391O132X0419 - Looks like its being blocked.

[2015-02-19 17:50] amyleew opened #1198 "Style upload error: multipart request time skewed"
Tracking a style upload error Windows 7 Professional, Mapbox 0.2.0, Corei7.

[code]

[2015-02-19 20:55] MarkWS opened #1200 "Crash when uploading custom map data to MapBox Server"
We've added in custom data (shapefiles) and saved that to the local dir.
After saving when choosing "Upload to Mapbox" MBS crashes.
Win 7 Pro, MBS v0.2.5

[2015-02-19 21:23] MarkWS opened #1201 "Is it possible to unlock the layer order when using Streets style"
Is it possible to unlock the layer order when using Streets style (or Outdoors, Run/Bike/Hike) so we can add custom data to map or are all the styles that utilize "terrain" sources locked?

[2015-02-19 21:30] samanpwbb commented on #1201
If you want to make modifications to these templates, you need to edit the project.yml file: https://www.mapbox.com/mapbox-studio/layer-and-data-order/#custom-layer-ordering

[2015-02-19 21:30] #1201 closed, assigned to nobody

[2015-02-19 22:20] MarkWS commented on #1194
more on this issue. I would consider this closed. the removal of the `.mapbox-studio` folder has solved this problem.

[2015-02-19 22:28] springmeyer commented on #1200
Can you please provide your log file? (%USERPROFILE%/.mapbox-studio/app.log)

[2015-02-19 22:31] MarkWS commented on #1200
no log file but there is a DB file, is that what you're looking for, if so how to send?

[2015-02-19 22:37] MarkWS commented on #1200
Sorry Dane, found it. Whats the best way to send?

[2015-02-19 23:42] MarkWS commented on #1200
here is a screen shot, let me know if you need the entire file and how to send.
![capture](https://cloud.githubusercontent.com/assets/8440284/6278712/5578c6a8-b856-11e4-9fd7-440dbb92daea.JPG)

[2015-02-20 07:16] #1194 closed, assigned to nobody

[2015-02-20 07:28] wilhelmberg commented on #1200
@MarkWS a couple of things for you to try with your shapefiles:
- **projection**

Are your shapefiles already in Web Mercator projection (EPSG:3857)?
If not, please reproject them before adding them to the project, this takes the load off of Mapbox Studio to do this on the fly.
You can change the projection with `QGIS` or with `ogr2ogr`:
`ogr2ogr -f "ESRI Shapefile" in.shp out.shp -s_srs EPSG:<CUR

[2015-02-20 10:03] ItsJoeTurner commented on #1197
Fixed this by manually unblocking the code mentioned above on our Firewall. Not sure why it was blocked, as it seemed to happen after updating Mapbox.

[2015-02-20 10:03] #1197 closed, assigned to nobody

[2015-02-20 16:18] MarkWS commented on #1200
Thanks Wilhelm, this worked great.
We reprojected the files again to EPSG:3857 (which they were) and encoded UTF-8 and they uploaded fine. We did not need to adjust the Shapeindex but may try that as well. Thanks.

[2015-02-20 16:18] #1200 closed, assigned to nobody

[2015-02-20 16:47] MarkWS commented on #1201
Hi Saman,
We added in a layer to the `project.yml` file but are getting this error on start-up.
Do you see anything that's incorrect with this URL string?
`Invalid characters in layer https://api.tiles.mapbox.com/v4/markwstroud.9bfc50d3.json?access_token=pk.eyJ1IjoibWFya3dzdHJvdWQiLCJhIjoiZmpqZk96TSJ9.5RmV0G2zZoCg_JQ2G6n4Gw`

[2015-02-20 18:32] mnquintana opened #1204 "Ubuntu Launcher treats Mapbox Studio as an Atom window"
I'm guessing this is because Mapbox Studio is also running on [atom-shell](https://github.com/atom/atom-shell), but if [Atom](https://atom.io) is installed and you launch Mapbox Studio, it opens as a new Atom window instead of as a separate application.

**Steps to reproduce:**
1. Install Atom
2. Launch Mapbox Studio by double-clicking the `atom` executable in the Linux download
3. Mapbox Studio w

[2015-02-20 21:30] geografa opened #1205 "Unable to replace Style at Starter plan level"
When making a modification to an existing Style and uploading to a Starter account, Studio prompts to upgrade to Basic. Should allow for updates or replacement of Style.

![mapbox_studio](https://cloud.githubusercontent.com/assets/134753/6309669/0b8db014-b926-11e4-8100-1785e65186d2.png)

[2015-02-20 22:22] MarkWS commented on #1178
Steve, We had a similar problem where MBS was crashing on upload. @BergWerkGIS recomend this and it worked great. We did not need to adjust the shapeindex, just the projection and the encoding. Might give this a go:

[code]

Are your shapefiles already in Web Mercator projection (EPSG:3857)?
If not, please reproject them before adding them to the project, this takes the load off of Mapbox Studio t

[2015-02-21 09:36] planemad opened #1206 "Source layers do not update in a style project"
Changes made to source projects do not seem to immediately reflect in the style project that use them.

After making changes to the source project, I save and upload it, and the changes show when the data is viewed online.  However when I switch to the style project in studio that uses this source, there is no update even after refreshing the data source, removing and adding the source as well as

[2015-02-23 02:37] tmcw opened #1207 ""Mapbox Studio" documentation link links to the same page as /mapbox-studio"
![2015-02-22 at 9 36 pm](https://cloud.githubusercontent.com/assets/32314/6322068/f22643aa-bada-11e4-80ae-9625f98bde76.png)

This link just links to the page that it's on.

[2015-02-23 04:21] springmeyer opened #1208 "Tests for atom-shell startup"
We learned recently (#1166) that it is possible for all appveyor tests to pass even if the the windows app is completely unable to start. In the case of #1166 I think was happened was the server process started up not the shell (which left the server as a zombie).

To protect against releasing another broken build we need to:
- [ ] Dig into what happened in more detail in order to figure out where

[2015-02-23 04:31] yhahn commented on #1208
Yes -- we currently don't have any tests around the atom shell startup process (wonder if we can do this headlessly or if that is its own can of worms...)

We'll have to dig into this to see what's possible -- in the meantime we should consider any changes to the atom shell portion of studio something someone must test manually on all 3 platforms.

[2015-02-23 04:33] springmeyer commented on #1208
@yhahn we used to test tilemill startup like [this](https://github.com/mapbox/tilemill-builder-osx/blob/master/build2.sh#L124-L139). Maybe a good place to start would be to add a cheap test like this to travis and mock ways that the shell might fail to start on unix.

[2015-02-23 04:35] yhahn commented on #1208
Sounds good. I bet we can monitor the app log as well to get a feel for if the app is starting (but hanging) or getting to other stages of startup.

[2015-02-23 04:52] springmeyer opened #1209 "Node v0.12.x support"
I see no rush to officially move to node v0.12.x, however taking steps to start testing against node v0.12.x would be wise because:
- [x] ~~0.12.x might (untested) help solve support for logging on windows via the shell (reverted in https://github.com/mapbox/mapbox-studio/pull/1168)~~
- [x] 0.12.x includes performance improvements that may help large studio exports. In particular windows memory pr

[2015-02-23 17:22] bsudekum commented on #1208
@springmeyer I do like the look of this a lot:

[code]

When you say 'tests' are you talking about tests that run on every start or unit testing?

[2015-02-23 17:34] springmeyer commented on #1208
@bsudekum unit tests that run on travis/appveyor every commit.

[2015-02-24 03:39] votivate commented on #974
I was experiencing the issue of MapBox Studio closing immediately after opening in Win 7 and discovered that it started working when I uninstalled, manually deleted the .mapbox-studio folder in my C:\Users\user folder, then reinstalling. It started opening fine after that.

[2015-02-24 11:10] relet opened #1211 "Win7/64-bit: crash on 'Download MBtiles'"
Creating tiles from a single PostGIS table. I have the source project saved, open mapbox studio, select 'settings', 'Download MBTiles', then the client exits with code 8.

[code]

I checked a few of the tickets that may be related.
There is nothing in the file `app.log`:

[code]

Restarting the machine, and deleting the cache manually had no effect.
I can create a copy of the dataset if that helps

[2015-02-25 07:05] wilhelmberg commented on #1211
@relet could you give some more information about your machine?
- OS
  - version?
  - 32bit/64bit?
- Mapbox Studio
  - version?
  - 32bit/64bit?

You could try deleting `%USERPROFILE%\.mapbox-studio` (<-- enter this into the address bar of file explorer) completely (you will have to re-authenticate afterwards).

If that doesn't help, it would be great if you could go through these steps and provid

[2015-02-25 07:56] relet commented on #1211
Windows 7 64bit (Enterprise ) as the ticket says, Mapbox Studio is also 64bit.

Deleting the stored settings had no effect.

None of the environment variables are set.

procdump yields:

[code]

https://drive.google.com/file/d/0B7wcsWcf-oh1di1fVklwZk1mQWM/view?usp=sharing

[2015-02-25 09:43] springmeyer commented on #1156
Also just replicated: I think this is happening because the `geometry_table` is not able to be detected. This was failing silently but will start to fail harder (beforehand) after https://github.com/mapnik/mapnik/commit/4a1f4a9b5ea30b79dfd7dfa9f683ef57c52f3278 because `geometry_table_` is unknown/undetected for complex queries. So the solution is to either require `geometry_table` be supplied or r

[2015-02-25 22:02] miccferr commented on #856
@camilleanne I second @markiliffe and @flemmens request.

Actually I've seen quite a share of confusion on the interwebz regarding Studio's Local Sources.

For instance, you are saying that "..regarding compositing multiple sources, you can only composite remote sources".
But in the GUI if I browse to Layers -> Change Source -> Local there's a (possibly)misleading text indication under the "local

[2015-02-25 22:33] camilleanne opened #1212 "Update composite note on toggle from remote to local source"
see comment here: https://github.com/mapbox/mapbox-studio/issues/856#issuecomment-76070288

We do not inform the user that you cannot composite local sources.

[2015-02-25 23:15] camilleanne commented on #856
@flemmens + @markiliffe Mapbox Studio is "Tilemill 2" -- Tilemill being for the creation and styling of raster tiles and Mapbox Studio for the creation and styling of vector tiles. The use case you put forth (huge amounts of proprietary data that you cannot distribute, but would benefit from Mapbox data and layers) is a good candidate for [Atlas Server](https://www.mapbox.com/enterprise/atlas/) wh

[2015-02-26 04:14] springmeyer commented on #1156
Running this patch locally and seems to be working:

[code]

[2015-02-26 07:51] wilhelmberg commented on #1211
@relet

yeah, sorry. I somehow missed that :smile:

Thanks for sending the the dump file.
I now I have an entry point where to start investigating.

Is it fine with you, if I send a special debug build version (hopefully tomorrow) and you repeat the above process?

[2015-02-26 08:03] relet commented on #1211
Sure can do. :)

[2015-02-26 18:19] amyleew commented on #1078
@lyzidiamond Still running into this issue? Got another instance of this on OS Yosemite.

[2015-02-26 18:36] duncangraham commented on #1212
I made/merged this PR a few weeks back that fixes this: https://github.com/mapbox/mapbox-studio/pull/1174

This will be bundled into the next release, right?

[2015-02-26 18:37] camilleanne commented on #1212
Yessir! thanks @duncangraham!

[2015-02-26 18:37] #1212 closed, assigned to nobody

[2015-02-26 22:16] lyzidiamond commented on #1078
Woah @amyleew, totally forgot I opened this.

I haven't tried in a while, but I can later today.

[2015-02-26 23:33] amyleew commented on #1078
@lyzidiamond cool! I'll add the log if he's still having the issue.

[2015-02-27 12:58] wilhelmberg commented on #1190
@JayDouglass

I had the same problem today

It occurred after installing `Visual Studio 2015 CTP6`.
CTP **6** seems to seriously mess up the system as I'm also not able to compile some software now.

Did you install some new software recently?

Could you try the following to see, if we get additional error messages?
- Open command prompt
  - Windows Key + `r`
  - type `cmd`, press Enter
- type `cd

[2015-02-27 13:33] wilhelmberg commented on #1211
@relet

I got a file for you (~90MB download, extracts to +2.2 **GB**):
https://mapnik.s3.amazonaws.com/dist/dev/node-v11-win32-x64.7z

Please replace the folder `node-v11-win32-x64` in

[code]

with the contents of the 7z-file.

Then run these steps again: [Part 1 - Debug Mapbox Studio](https://gist.github.com/BergWerkGIS/6385afd9f6e240eeb074).

[2015-02-27 15:03] relet commented on #1211
With the debug version, I get an error that my geometry_table does not exist, which is correct. I accidentally entered the database name.

[code]

And it does not let me open the previously saved tm2source file. Trying to recreate the mistake results in the same error.

Now I'm just a bit puzzled as to why the non-debug version let me create the file with a nonexistant geometry_table, and actually

[2015-02-27 16:23] wilhelmberg commented on #1211
I've used latest node-mapnik source to create the debug package and node-mapnik **3.1.5** landed some changes concerning detection of geometry_table:
`Improved auto-detection of geometry_table from sql subselects for PostGIS plugin`
https://github.com/mapnik/node-mapnik/blob/master/CHANGELOG.md#315

The current download of **`Mapbox Studio 0.2.5`** ships with **`node-mapnik 3.1.2`** and doesn't ye

[2015-02-27 17:54] relet commented on #1211
Yes, the export works fine now. Thank you for helping out! :)
On 27 Feb 2015 17:23, "Wilhelm Berg" notifications@github.com wrote:

[2015-02-27 18:15] wilhelmberg commented on #1211
Perfect! :rocket:

You are welcome.

[2015-02-27 18:15] #1211 closed, assigned to nobody

[2015-02-27 18:27] wilhelmberg commented on #1190
@JayDouglass

I verified with a vanilla Windows install that `Visual Studio 2015 CTP 6` causes Mapbox Studio to stop working.

Even uninstalling CTP 6 and re-installing Mapbox Studio didn't solve this for me.

[2015-02-27 19:00] JayDouglass commented on #1190
I have Visual Studio community edition installed on that machine, so it looks like it's related to any Visual Studio install.

[2015-02-27 19:58] wilhelmberg commented on #1190
@JayDouglass Can you elaborate on which version of Visual Studio **exactly**?

For me, the problems just started after installing `VS 2015 CTP 6`.

If you are not sure about which version you have, you could post a screen shot of the dialog that comes up, when you click: `Help` -> `About Microsoft Visual Studio`.

[2015-02-27 20:14] JayDouglass commented on #1190
I've had two versions of Visual Studio installed on that machine. VS2013 Professional, and currently VS2013 Community (http://www.visualstudio.com/en-us/news/vs2013-community-vs.aspx).

[2015-02-28 07:16] wilhelmberg commented on #1190
@JayDouglass

I haven't experienced any problems with VS 2008, 2010, 2012, 2013 and 2015 CTP2 to CTP5.
It just seems that the latest `VS2015 CTP6` is causing troubles and changing the operating system in undocumented ways.
So you are on the safe side concerning VS.

Could you try the following steps to see, to see if we get additional error messages?
- Open command prompt
  - Windows Key + `r`
  -

[2015-03-02 07:44] mikmaks97 opened #1214 "Mapbox Studio 0.2.5 running on OSX Yosemite 10.10.2 crash on startup"
Hello,
I've been working with Mapbox Studio on my Macbook for the past few weeks and everything has been loading fine, but when I tried to launch it today, it starts, the wheel spins on a white background and then it crashes. And this has been happening every time I try to launch. I tried deleting Mapbox and redownloading the zip several times, I've tried restarting my computer, but none of this h

[2015-03-02 10:46] jimutt commented on #824
Any updates on this? As map data can take up pretty large amounts of disk space it feels quite restraining to be limited to only using the c-drive.

[2015-03-02 16:46] erosenberg commented on #1214
Same here...

[2015-03-02 22:48] springmeyer commented on #824
@BergWerkGIS - is this still on your radar? If not, I can take a look: let me know.

[2015-03-03 00:26] springmeyer opened #1217 "Support user provided `srid` value for postgis layer sources"
Currently if a data.yml includes `srid` Studio will strip the value when you save the source. I presume the problem is that the HTML forms do not include an input for `srid` and so it is dropped when saving.

[2015-03-03 01:19] springmeyer opened #1218 "Developer docs on how to manually test on windows"
Currently it is ideal to manually test the Windows app before releasing a new build (due to https://github.com/mapbox/mapbox-studio/issues/1208#issuecomment-75488300). By "manually test" we mean just run the installer on a windows machine and make sure the application starts and is generally usable.

So, we need some better docs about how anyone can quickly do this.

My opinion is that testing on

[2015-03-03 01:42] springmeyer commented on #1090
closing this since we are planning releases that don't need to wait for #860 to move (note: #860 is not moving currently because of other priorites and the overall challenge of the task).

[2015-03-03 01:42] #1090 closed, assigned to nobody

[2015-03-03 01:44] springmeyer commented on #1156
Noting that #1199 takes a different approach and starts throwing (https://github.com/mapbox/mapbox-studio/pull/1199/files#diff-ae2e9ce210cf8e5e189658fb547ddc8aR310). So, we'll want to confirm that whatever was originally causing the null extent is fixed. Otherwise we'll just be replacing the current error with a new error.

[2015-03-03 01:45] springmeyer commented on #1208
@bsudekum - interested in working on this or have other ideas?

[2015-03-03 02:22] TheMapSmith opened #1219 "Read the latest style state ID"
Is there a way to read the latest ID of the style?

For example when you examine a single tile image the URL ends in:

`?id=tmstyle:///path/foo.tm2&i6so0ae0`

Is there a way to access the `i6so0ae0` property without opening the style in browser and inspecting the image of a single tile?

Bonus: Is there a history of those IDs stored for east style somewhere?

Thanks!

[2015-03-03 03:01] yhahn commented on #1218
@springmeyer hrm, at least in my experience in doing Windows development with Studio I've muched preferred having a VM. Testing on an EC2 may make sense if you're just trying to see if things work but as soon as you hit a bug and you want to work on fixing it being able to work locally seems like a perk.

Here's the gist I shared with @camilleanne, @samanpwbb and @bsudekum for getting set up on a

[2015-03-03 03:04] springmeyer commented on #1218
@yhahn true. I guess what I'm proposing is a really low cost method of just testing startup and basic functioning and not a solution to help do deep-dive debugging.

However personally I only use an EC2 now for deep-dive debugging because I have one set up with sublime and other tools and setting up one locally has too much mental resistance.

Anyway, just synced up with @bsudekum on this. We spit

[2015-03-03 03:05] yhahn commented on #1218
:+1: to EC2s for CI like this flow -- I wonder though whether this could come after the victory lap @bsudekum was planning on for abstracting a lot of our app building/testing CI to be shared between tilemill + studio?

[2015-03-03 06:00] brianburkett commented on #1214
Same boat

[2015-03-03 06:14] springmeyer commented on #1214
@brianburkett can you share your Mapbox Studio logs? Open up `~/.mapbox-studio/` and grab the `app.log` and `shell.log`, paste them to https://gist.github.com/, and share the link here. Thanks!

[2015-03-03 06:28] brianburkett commented on #1214
@springmeyer sure, here ya go.

app.log: https://gist.github.com/brianburkett/ce33da6dce5c23a4395c
shell.log: https://gist.github.com/brianburkett/69ee343fcdfb9e5a382c

Though these logs don't appear to show any issues, I won't pretend like I know any better.

Please note that the app did just started working for a bit. I tried it again just after I commented and it worked for a bit. Then I closed

[2015-03-03 06:41] springmeyer commented on #1214
@brianburkett thanks. Next thing to try: when you hit the blank screen again (while it is hung), go and open `Activity Monitor.app`. Sort the processes by name and look for any named `Mapbox Studio` or `mapbox-studio`. You should have one of each. Let me know if you see two of either one.

After that:

1) try deleting `~/Library/Application Support/mapbox-studio/` and restarting - does the app wor

[2015-03-03 06:48] brianburkett commented on #1214
I’ve got 2 of the mapbox-studio process.

Deleted both the dir in App Support, and the app.db file. I still have the white screen of death.

[2015-03-03 07:06] springmeyer commented on #1214
Okay, can you stop the white screen. Then I presume you'll still have only one `mapbox-studio` process then visible in Activity Monitor.app? If so quit the process by clicking the `X` in the upper left of Activity Monitor. Then try restarting again - does the app work?

[2015-03-03 07:21] wilhelmberg commented on #1218
No need to turn off firewall or fiddle with IE options/network zones.
Just disable `IE Enhanced Security` in Server Manager:
http://blog.blksthl.com/2012/11/28/how-to-disable-ie-enhanced-security-in-windows-server-2012/

I think two machines would be good:
- one vanilla AMI: to see if it works on a clean machine
- one saved instance: to simulate the update process

I think there should be some kin

[2015-03-03 08:01] wilhelmberg commented on #824
@springmeyer y, still on my radar, but I would like to keep focused on current tasks for the rest of this week to finally get them out and running.
Don't know if it's too late for the planned 0.2.6 milestone, but I could look into this issue next week.

[2015-03-03 09:58] jimutt commented on #824
Sounds great that you're still having this on your mind! My SSD-drive which I use mainly for the OS doesn't really want me to put a lot of GIS-data on there as well ;) Though I understand if there are other tasks you consider more important than this one but I'm sure there are many people who would appreciate the possibility of using other drives.

[2015-03-03 15:47] Reach-Above commented on #1159
Same issue on windows 7/32bit (2.2) install. Try adding 3 or more shapefiles and wait. 30-60 mins until you try adding another shapefile. New projects work for a bit and then this error starts occuring. Overcame issue by manually adding in path .shp name when adding a new layer.

Shape Plugin: shapefile 'c:/TEMP/NaturalEarth/2/Studio_v2.tm2source/\TEMP\NaturalEarth\2\10m_physical/ne_10m_graticules

[2015-03-03 16:07] ohsk commented on #1149
@springmeyer was just trying to use some `.topojson` files that have been generated using [Mike Bostock's Topojson converter](https://github.com/mbostock/topojson/wiki/Introduction). Mapbox Studio seemed to recognize smaller topojson files just fine (without attributes, though), but wasn't able to load / make visible datasets over 40MB. Is that part of this bug, or should Mabox Studio currently be

[2015-03-03 17:46] mikmaks97 commented on #1214
Alright, so thank you very very much! Here's the funny thing: when you specified to delete app.db and mapbox-studio in application support, I found app.db and deleted it, but I don't have mapbox-studio in my application support. But deleting app.db restored everything to working order at least for me :) Thank you so much @springmeyer again.

[2015-03-03 17:50] mikmaks97 commented on #1214
Deleting app.db works for me, but I can't open the project I was working on because that is what seems to crash Mapbox. It's fine, I didn't get far, I'll just redo it, but if that helps, that's what was causing my crashing.

[2015-03-03 18:17] springmeyer commented on #1149
@ohsk thanks for the details. This bug is purely about the lack of support for the `.topojson` extension name. So, TopoJSON files with a `.json` extension should work fine already.

Can you create two new issues for those problems? For the lacking attributes, please post a small file testcase. And for the large problem, can you share the commands/example of how you created?

We should be able to f

[2015-03-03 19:14] ohsk commented on #1149
Gotcha, can do!

[2015-03-03 19:48] ohsk opened #1220 "TopoJSON files lacking attributes"
#### When uploading `.topojson` files to new Mapbox Studio source projects, the layers seem to lack attributes other than `id`.

I've been trying to generate `.topojson` files from shapefiles using [Mike Bostock's Topojson converter](https://github.com/mbostock/topojson/wiki/Introduction). Here are the initial shapefile and the generated `.topojson`:
[`tl_2010_us-aska_WGS84.shp`](https://github.co

[2015-03-03 20:31] ohsk opened #1221 "Large TopoJSON files not displaying"
#### `.topojson` files I've been using that are over 40MB seem to properly load as new layers, but don't seem to display properly.

The `.topojson` file was generated from a shapefile using [Mike Bostock's Topojson converter](https://github.com/mbostock/topojson/wiki/Introduction). Here is the generated file:
[`tl_2010_us-west_NAD83_1e6.json`](https://github.com/ohsk/topojson-shp-testing/blob/mast

[2015-03-03 20:42] springmeyer commented on #1220
Thanks. Can you create a very small file that replicates the issue?

[2015-03-03 22:53] ohsk commented on #1220
Sure, [this Hawaii file](https://github.com/ohsk/topojson-shp-testing/blob/master/json/tl_2010_us-hawi_WGS84.json) should be more manageable.
When viewed on GH, you can see the attributes associated with the `.topojson`:
![image](https://cloud.githubusercontent.com/assets/1689222/6474380/0c7dc08a-c1b5-11e4-8522-c0d225b7f076.png)

[2015-03-03 23:26] springmeyer commented on #1220
Thanks @ohsk - Mapbox studio uses OGR internally (through Mapnik) to read TopoJSON files. It looks like OGR is discarding the attributes. I've filed a ticket at the GDAL/OGR bug tracker on this: http://trac.osgeo.org/gdal/ticket/5870

[2015-03-04 00:52] wheredoesyourmindgo opened #1222 "Missing Vector Tiles After Uploading to Mapbox"
I'm trying to figure out why my vector tiles look fine in Mapbox Studio in the source editor prior to upload, however, after upload they don't all appear in the style editor.

![source view](https://cloud.githubusercontent.com/assets/3316678/6475998/89db3cc8-c1c5-11e4-97be-f09e50656ffe.PNG)
![style view](https://cloud.githubusercontent.com/assets/3316678/6476001/8e6f5256-c1c5-11e4-82f7-24ac4104048

[2015-03-04 01:06] springmeyer commented on #1222
@wheredoesyourmindgo - can you share the sql you are using to query the features which have gone missing? The issue is likely the "pyramid" tile exporting that Studio does internally whereby if a tile lacks any data then all "children" (tiles below it at higher zooms) are skipped.

[2015-03-04 01:22] springmeyer opened #1223 "Tests: tests hang and never exit if a source upload fails"
If I run `./node_modules/.bin/tape test/source.test.js` with incorrect AWS keys the tests output the following and then hang. This is minor, but makes it hard to debug the failing tests:

[code]

[2015-03-04 01:23] #1223 closed, assigned to nobody

[2015-03-04 02:20] MatthewAW opened #1224 "Can't open mapBox Studio 0.2.5 on OSX"
having issues getting started.
After a long wait with the spining white screen I get the blue screen connect prompt. Hitting connect I get (after several minutes) a screen saying:
"Cannot find Mapbox API at https://a.tiles.mapbox.com" and a prompt to list error here

any suggestions?
Thanks

[2015-03-04 04:17] wheredoesyourmindgo commented on #1222
@springmeyer - I'm using the [postgis-vt-utils package](https://github.com/mapbox/postgis-vt-util)
Layers look like this..
_city-boundary_
`(SELECT *
         FROM mapbox.city_boundary_ms
         WHERE z(!scale_denominator!) <= 18
 ) AS bndy`
_row-parcel_
`(SELECT *
         FROM mapbox.row_parcel_ms
         WHERE z(!scale_denominator!) >= 16 AND z(!scale_denominator!) <= 18
) AS row_parcel`
_pa

[2015-03-04 07:50] tmpsantos opened #1225 "Renaming a project only updates after reloading the project"
After renaming a project and saving, if you click on the "Projects" button at the lower left corner, the project shows in the list with the old name. After reloading (i.e. click on the project name or restart Mapbox Studio) the new name is displayed.

[2015-03-04 07:54] tmpsantos opened #1226 ""Save as" dialog UI is inconsistent"
When saving a project for the first time, at the "Save as" dialog, you are asked to fill the "style name" instead of the "project name".

I found it misleading because the end result is a directory with the project data instead of a single CartoCSS file.

[2015-03-04 08:38] tmpsantos commented on #1226
The current implementation is probably correct I guess, because it could be a style project or a source project.

[2015-03-04 08:38] #1226 closed, assigned to nobody

[2015-03-04 14:00] wheredoesyourmindgo commented on #1222
Maybe I should try moving City Boundaries to the bottom of this order?

[2015-03-04 14:25] wilhelmberg commented on #1224
@MatthewAW are you behind a proxy or a filtering firewall?

[2015-03-04 16:43] makella commented on #1158
Hello,
I just wanted to check-in on this to see if it is something that is still being considered as an enhancement to Mapbox Studio.  I'm finding myself needing this more and more!

Thanks,
mamata

[2015-03-04 17:13] wilhelmberg commented on #1190
@JayDouglass

Another thing to try, could you look into `Control Panel -> Add/Remove Programs` and see if you have one or several

[code]

entries?

Like this:
![image](https://cloud.githubusercontent.com/assets/4549888/6488731/becd8bc8-c299-11e4-803b-f5d5ca905c37.png)

If yes, please try these steps:
- take a screenshot of the entries (I'm primarily interested in the version number, e.g. `14.0.22

[2015-03-04 19:33] cwodwrth opened #1227 "Windows 8.1/mapbox-studio-win32-x64-v0.2.5 Crash"
So Mapbox Studio crashed while I was trying to save my project, and now it just loads up, does the spinning wheel, and crashes. I've rebooted, uninstalled/reinstalled, nothing is working. Any thoughts?

Here is my error when running from the cmd line:

C:\Program Files\mapbox-studio>[1272:0304/133239:INFO:renderer_main.cc(211)] Renderer process started
[4628:0304/133240:INFO:CONSOLE(0)] <Wed, 04 M

[2015-03-04 19:44] springmeyer commented on #1227
@cwodwrth - thanks for the report and sorry about the trouble. Can you:

1) Describe your project more so I can get some ideas about why it crashed? Is it a "source" or a "style"? If a "source" then what kind of data format and size of data were you loading in? If a "style" then what sort of styling were you doing before it crashed?

2) To fix the startup issue, find the `.mapbox-studio/app.db` fi

[2015-03-04 19:51] cwodwrth commented on #1227
Sorry, I was saving my Style - I had just changed the color of a variable using the color picker and saved, and it just hung so I had to force close it.

It's now working again, after running it from the cmd line and crashing, I restarted from the shortcut and it started working again, so apparently something changed unbeknownst to me and it's back to working!

[2015-03-04 20:04] springmeyer commented on #1227
@cwodwrth - okay, interesting. I've not heard another report of a case like this. So can you keep a close eye on this and if it happens again post back here with additional details?

[2015-03-04 20:05] cwodwrth commented on #1227
Yes, of course. Thanks for addressing this so quickly.

[2015-03-04 21:55] geografa opened #1228 "Pasting text from the clipboard fails on 0.2.5/windows 7"
Text from the clipboard does not paste in MapBox Studio 0.2.5 on windows 7/64 bit.

[2015-03-04 23:32] wheredoesyourmindgo commented on #1222
Dropping the use of z(!scale_denominator!) resolves the issue.

[2015-03-05 07:24] wilhelmberg commented on #1228
@samanpwbb
Is it possible to honor path pasted into the `Browse files` dialog?

Replicated via these steps:

Tried:
- fresh start of Mapbox Studio
- `Project -> New Project -> Source: Create custom vector tiles -> Blank source`
- `New Layer`
- Copied path from Explorer via Ctl-C
- Pasted via Ctrl-V into dialog `Add a new datasource`
- Clicked `Browse`
- Directory opened is the last directory used,

[2015-03-05 08:48] springmeyer commented on #1057
@incanus this is causing this (seemingly harmless) error for me that pops up when the app starts:

![screen shot 2015-03-05 at 12 47 32 am](https://cloud.githubusercontent.com/assets/20300/6501771/4ee47ffa-c2d1-11e4-9041-4acaa47b5cc6.png)

[2015-03-05 10:45] tmpsantos opened #1229 "Adding a .geojson with space in the name makes Mapbox Studio behave strangely"
When I tried to add a layer called "united states.json" to my custom source, the layer ended up into to the list but I was not able to click on it anymore to edit the properties or save the project.

When closing and opening the project again, the layer is not there. No error message is shown.

[2015-03-05 12:35] tmpsantos opened #1230 "Not able to add layers with filenames containing diacritical signs"
The file is listed on the add layer dialog, can be selected an the name goes to the text box, but clicking on the Select button doesn't do anything.

Example:
São_Tomé_and_Príncipe.geojson

[2015-03-05 13:09] samanpwbb commented on #1228
@geografa Sounds bizarre. No idea what could be causing this off the top of my head.

@BergWerkGIS that sounds like a separate issue. I will look into it when I get the chance.

[2015-03-05 13:20] wilhelmberg commented on #1228
Oh my, I completely misunderstood.
Y, pasting into style editor works for me, no problems.

[2015-03-05 14:20] tmpsantos opened #1231 "Add support for adding multiple layers at once"
I'm creating a custom source with 100+ layers based on .geojson files. Would be nice if I could add them all at once (instead, I had to create a script to generate the source). I tried pressing shift and hold but it didn't work, at least on Linux.

[2015-03-05 16:38] incanus commented on #1057
Dupe & already addressing in https://github.com/mapbox/mapbox-studio/pull/1182.

[2015-03-05 16:38] #1057 closed, assigned to nobody

[2015-03-05 17:09] samanpwbb opened #1233 "Doesn't NPM install with node v0.10.36"
Failed to install with v0.10.36, I moved back to v0.10.0 and installed fine.

[2015-03-05 17:24] samanpwbb commented on #1233
Update: this might just be my computer.

[2015-03-05 17:24] #1233 closed, assigned to nobody

[2015-03-05 19:10] samanpwbb commented on #1230
this issue and https://github.com/mapbox/mapbox-studio/issues/1229 are both easy to fix. I can't get mapbox studio to run locally so i can't test my work, but I have this started here: https://github.com/mapbox/mapbox-studio/pull/1235

If you wanted to test it out, that would be super helpful :)

[2015-03-05 22:06] mireille-raad opened #1237 "Wrong font name breaks Mapbox Studio"
I was trying to add a custom font. The font name didn't show in the menu, so I thought I'd add it manually.
I then got a load series of errors and I couldn't edit the style anymore.

I thought of opening the project file in sublime and removing references to the font and the mapbox studio stopped working and gave me access errors.

The only solution left was re-downloading mapbox again. After the

[2015-03-05 23:14] #1230 closed, assigned to samanpwbb

[2015-03-05 23:16] samanpwbb commented on #1231
Oops, wrong issue, reopening.

[2015-03-05 23:16] samanpwbb commented on #1229
Closed with https://github.com/mapbox/mapbox-studio/pull/1235

[2015-03-05 23:16] #1229 closed, assigned to samanpwbb

[2015-03-05 23:22] leffjesh opened #1238 "Windows + PostGIS: Bad connection"
I'm having trouble adding PostGIS data to MapBox Studio 2.5 on Windows 7.   I'm using all the same settings from my TileMill project which was working fine.  See attached image.  Error message is

"Postgis Plugin: Bad connection
Connection string: 'host=localhost port=5432 dbname=postgis20 user=postgres connect_timeout=4'".
As you can see in the image I can connect just fine to the postgis databas

[2015-03-05 23:23] leffjesh commented on #1238
I saw on the forum that you have had some problems with Windows + PostGIS.  Unfortunately, I don't have the option of running this on Linux or MacOSX.

[2015-03-06 08:32] springmeyer commented on #1222
Using `z()` is fine. The trick is that you need to be careful to maintain some data at each zoom level so that the tiling scheme does not skip deeper zoom levels. So, if you only want data to start showing up at z22 you need to at least provide some data at all previous zooms (no matter how small, could be just one point). This requirement can lead to sql query design patterns like unioning differ

[2015-03-06 10:16] wilhelmberg commented on #1238
@leffjesh

First advice on Windows, reboot :smirk:

If that doesn't help, could you describe your data a bit?

Like:
- how many rows are in each table you are adding?
- how many attributes does each table have?
- which custom sql functions do you use to reduce the size of your data, e.g. `label_grid()`, `z()`, ...

[2015-03-06 16:28] wheredoesyourmindgo commented on #1222
@springmeyer I've been using the z() as a hack to use multiple datasets in a single tm2 source as a means of a workaround for "Tile exceeds maximum size of 500k at z#. Reduce the detail of data at..." upload errors that I get when I upload particular layers up to Mapbox at lower zoom levels.  I'm starting to wonder if using z() as a workaround for such errors should be avoided, instead, moving lay

[2015-03-06 16:48] leffjesh commented on #1238
Thanks for getting back.  I figured out the problem.   Mapbox Studio was not properly handling the case where no password is provided in the connection settings.  See below for details

First a note for others on how I debugged this.  I enabled connection logging on my PostgreSQL install by editing postgresql.conf.  I found that Mapbox studio appeared to be forcing a password when there was none f

[2015-03-06 18:14] jwitcoski commented on #1159
Same error.

There error occurs when I browse to the file...
It should be:
/Temp/buildings/buildings.shp
but it comes up as:
\Temp\buildings/buildings.shp

![capture1](https://cloud.githubusercontent.com/assets/5134087/6530839/544c9040-c402-11e4-8344-9d2000edf0a1.JPG)

![mapstudycapture](https://cloud.githubusercontent.com/assets/5134087/6530942/19355522-c403-11e4-815b-d1c74cf8a273.JPG)

[2015-03-06 18:33] springmeyer commented on #1238
@leffjesh - thanks for sharing how you fixed the problem - surely will benefit many others. If you still have some bandwidth to debug a bit what I would recommend trying is to remove passing  a value of `host` ( I think you must be providing `localhost`?) So try leaving that blank. Postgres may be requiring a password when connecting over localhost but not when connecting over a local socket. At l

[2015-03-06 19:43] leffjesh commented on #1238
Omitting the hostname when running on localhost did not help, nor did omitting both port and hostname with my user without a password.   With my user that requires a password I was able to omit the hostname and/or port successfully.

[2015-03-06 19:58] springmeyer commented on #1238
@leffjesh thanks for trying. Mapbox studio uses libpq internally, so it should be working exactly the same (same defaults, etc) as `psql` on the command line. So I'm not sure what is different. Our libpq build script is [here](https://github.com/mapbox/windows-builds/blob/master/scripts/build_libpq.bat) and we use  [9.4.0](https://github.com/mapbox/windows-builds/blob/79d8e6fbd00d639a697ec8e1bf284

[2015-03-06 22:03] springmeyer commented on #1238
This helped uncover a subtle bug in Mapnik whereby the explicit error message returned from Postgres was not being reported. So instead of `Bad connection` after https://github.com/mapnik/mapnik/issues/2725 a better message will be reported. So, this means @leffjesh that the upcoming version of studio may help us uncover the reason for the issue. I'm going to close this ticket for now since I don'

[2015-03-06 22:03] #1238 closed, assigned to nobody

[2015-03-06 22:25] leffjesh commented on #1238
Thanks @springmeyer.  By the way, I'm running 9.2.4.  If I get time to upgrade (not likely unless required) then I'll let you know if that helps this issue.

[2015-03-08 15:15] ninaignaczak commented on #1214
This exact same thing is happening to me too. I only have one mapbox-studio process. Deleted the Application Support dir in ~/Library. HELP!

UPDATE: FOUND and deleted the app.db, re-downloaded, now it's working.

[2015-03-09 08:02] wilhelmberg commented on #1159
@Reach-Above @jwitcoski
Is it possible for you to upgrade to latest Mapbox Studio (0.2.5 at the moment) and try again?

https://www.mapbox.com/mapbox-studio/

[2015-03-09 09:48] cellum opened #1242 "Failed to find font face 'Open Sans Bold' in FontSet 'fontset-0' in FontSet"
when I run mapbox-studio in node, the startup page send error: Failed to find font face 'Open Sans Bold' in FontSet 'fontset-0' in FontSet. Authorizing works but when I make new project (for example osmbright), I got same error about fonts..

best,
kalle

[2015-03-09 18:07] Reach-Above commented on #1159
Downloaded latest build and issue persists.

[2015-03-09 19:51] springmeyer commented on #1211
If anyone else hits this one thing to try is to edit https://github.com/mapbox/mapbox-studio/blob/mb-pages/lib/middleware.js#L168 and add a `console.log` to print any error that occurs there. If an error does occur there it should then show up in the `~/.mapbox-studio/app.log`. My hunch is that there are a variety of different errors that might cause a source to not show up and that they may not b

[2015-03-09 20:41] springmeyer opened #1244 "Error in source during style rendering truncates error"
Using a local style and a local source (backed by a postgis layer) when a syntax error happens in the source postgis layer the style UI shows a truncated error message:

![screen shot 2015-03-09 at 1 39 52 pm](https://cloud.githubusercontent.com/assets/20300/6563895/e647af6e-c661-11e4-8abb-5b055c91ef7a.png)

It looks like it is splitting on newlines and only showing the last line.

[2015-03-10 03:31] camilleanne opened #1245 "Windows new source layer fails without error"
On Windows 8.1 and 7, adding a new layer in sources fails without an error. I've been able to trace it back to https://github.com/mapbox/mapbox-studio/pull/1235

cc @springmeyer @samanpwbb @mtirwin

[2015-03-10 14:38] camilleanne commented on #1245
also on osx:
![screen shot 2015-03-10 at 10 37 14 am](https://cloud.githubusercontent.com/assets/3952537/6577056/84c01e56-c711-11e4-9de0-3623753524c1.png)

[2015-03-10 17:16] #1245 closed, assigned to nobody

[2015-03-10 20:56] wheredoesyourmindgo commented on #1222
I believe I understand how this all works now.  What I will do in the future, when using z() to omit certain layers from lower zoom levels, is include a boundary that covers the entire extent of all the layers that will be found in that source project.  My issue appears to be that I was only drawing the city boundaries at lower zoom levels, and then, when "turning on" parcel boundaries at higher z

[2015-03-10 20:56] #1222 closed, assigned to nobody

[2015-03-12 13:38] wilhelmberg commented on #824
@flemmens @MarkWS @jimutt @aaronpdennis @gagecarto @yelper @Reach-Above

Would you mind a try, if you are able to access other drives with this version:
64bit: https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-windrives.exe
32bit: https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x86-windrives.exe

---

@yhahn

Since you are assigned, could you review?

https://

[2015-03-12 21:50] skellytt opened #1248 "Windows 8.1/mapbox-studio-win32-x64-v0.2.6 Crash"
I have tried to upload my styles to MapBox but MBS always crashes with the following error - "Mapbox Studio exited with 3221225477.", an access violation of some sorts. This occurs whether I try to "Upload to MapBox" or "Create Style from Source". Can any help me out with this?

[2015-03-13 08:52] martin-eberle opened #1249 "„Upload to Mapbox“ fails with „Unknown filetype“"
Project is saved locally and i want it to upload to mapbox. When i hit the „Upload to Mapbox“ button, an error message oocurs and says: „Unknown filetype“.

There is enough space in my mapbox account and the style upload limit should as well be okay.

I’m using the latest Mapbox Studio version 0.2.6 on Mac OS X 10.10.2 (14C1510)

[2015-03-13 09:06] wilhelmberg commented on #1248
@skellytt
I just tried with W8.1 and Mapbox Studio 0.2.6 64bit and uploading a style as well creating a new style worked for me.

Can you describe what you are doing in more detail?
- what type of source are you using? Shape files, PostGIS, ...
- are you trying to create a style from a local source or a remote source

Look into `%USERPROFILE%\.mapbox-studio` (<-- paste this into the address bar of

[2015-03-13 10:59] skellytt commented on #1248
The sources are shape files and I am using local source to create the style.
Here is the output from the app.log:

[2015-03-13 11:52] ashleyclough opened #1250 "Create style from remote source broken in 0.2.6"
When using the 'create style from source' and selecting the newly-created remote source, v0.2.6 creates a default 'Mapbox Street v5' project rather than using the requested remote source layer. Everything worked fine in 0.2.5.

[2015-03-13 12:08] wilhelmberg commented on #1248
Please try the following:
- upload source
- create style from uploaded source
- upload style

[2015-03-13 13:45] courierjournal commented on #1249
Same issue here. Although oddly it only occurs in OSX version. Switched to Windows and was able to upload my project successfully.
![mbstudio_bug](https://cloud.githubusercontent.com/assets/7317231/6639404/b64871c0-c965-11e4-9820-d9d6464f0832.jpg)

[2015-03-13 16:24] samanpwbb commented on #1250
I can confirm that this is happening with the app. I'm sure it was introduced with https://github.com/mapbox/mapbox-studio/pull/1232

[2015-03-13 16:46] samanpwbb commented on #1250
When running Studio in the browser, this is not an issue.

I thought this was related to https://github.com/mapbox/mapbox-studio/pull/1232 but the route to create a new style from source uses `newStyle` and should be unchanged by the PR: https://github.com/mapbox/mapbox-studio/blob/8f4992d1739570a83f1c4dbc4702ea39b0009b02/lib/middleware.js#L78-L86

@camilleanne do you have any idea what's up here?

[2015-03-13 18:23] springmeyer commented on #824
@BergWerkGIS I'm happy to review, I've assigned to myself. I'm still learning how to add tests to studio. That is the next thing this needs.

[2015-03-13 19:49] pnorman opened #1251 "Support localconfig"
A frequent need is to adjust some datasource parameters such as file paths, database names, database hosts, passwords, or vector tile source locations.

The way that has evolved to do this is [localconfig](https://github.com/kosmtik/kosmtik#local-config) which can be used to replace parameters. This has proved superior to [CartoCC](https://github.com/yohanboniface/CartoCC) because it does not requ

[2015-03-13 19:51] pnorman commented on #1251
cc @yohanboniface

[2015-03-13 20:11] wilhelmberg commented on #1159
I did this without problems:
- added 3 shape files
- waited 70 minutes
- aded another shape file

@Reach-Above @jwitcoski

Are you using shortcuts or [hard links](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365006%28v=vs.85%29.aspx) to your shapefiles?

[2015-03-13 20:12] jwitcoski commented on #1159
same issue persists, will add 3 shapefiles and now will wait a few hours.

On Mon, Mar 9, 2015 at 4:02 AM, Wilhelm Berg notifications@github.com
wrote:

[2015-03-14 09:57] skellytt commented on #1248
Thanks for your response;however, every time I try to upload anything the application crashes at various percentages of upload but no more than 15%.

[2015-03-15 01:06] tedmcdo opened #1252 "Image filter blur: blocky rendering at certain percentages"
I have been trying to create a smooth gradient like effect with my #landuse.park layer. I am using image-filters:agg-stack-blur(); to create this effect. However, after going above about 30% on the blur, the smooth blur starts to abruptly cut off in some areas (you can see it in the attachment). This happens at all zoom levels.

Am I doing something wrong?

![screen shot 2015-03-14 at 5 43 30 pm](

[2015-03-15 01:33] springmeyer commented on #1252
you are not doing anything wrong. for blurring to be seamless - because rendering is per tile - the underlying data in the vector tiles needs to be buffered. for example if the tiles have a buffer of 8 then it is safe to use a radius x and radius y of up to 8. any higher and you will see these kinds of blocky artifacts.

[2015-03-15 02:23] tedmcdo commented on #1252
Makes sense, thanks.

[2015-03-15 02:23] #1252 closed, assigned to nobody

[2015-03-15 09:09] wilhelmberg commented on #1248
@skellytt

Sometimes we are experiencing problems with shape files on Windows.

Could you verify
- shape files are in WebMercator projection (`EPSG:3857`)
- shape files are `UTF-8` encoded
- `shapeindex` has been applied

Details on how to convert your shape files can be found here:
https://github.com/mapbox/mapbox-studio/issues/1200#issuecomment-75199819

Afterwards:
- create a new source project

[2015-03-15 15:46] mushon commented on #1214
hmmm… I have the same problem both with 0.2.5 and with 0.2.6
I've tried all of the suggestions here but none of them worked.
Deleted both `~/Library/Application Support/mapbox-studio/` and `~/.mapbox-studio/app.db` and it didn't work. Monitored the Activity Monitor, but the two processes open and close together. I tried running MapBox Studio in `localhost:3000/` but nothing there either…
My logs a

[2015-03-15 18:52] brianburkett commented on #1214
I still haven't been able to get it working either.

[2015-03-16 03:11] stevage commented on #61
Just trying to get this to work and not having much luck.
1. I have a vector tile source running using PGrestAPI. (It seems to work, using their mapbox-leaflet plugin, but I don't know for certain that it actually conforms to the Mapbox Vector Tiles spec)
2. Create a tilejson file hosted at http://emscycletours.site44.com/dataguru/melbourne-buildings-test.json
3. Create new project, paste the URL

[2015-03-16 23:42] springmeyer commented on #1214
@mushon and @brianburkett - I'm sorry you are still having trouble. @mushon your logs looks okay - the errors showing up only appear to be normal error messages from using the style editing and making typos and are otherwise normal. I think to be able to solve your issues I'll need to find a way to replicate them locally on my machine. So, if you could share any other details you can think of that

[2015-03-17 00:57] Brideau opened #1254 "Cannot Pan/Zoom On Loaded Data"
I'm new to MapBox Studio and was giving the [Quickstart](https://www.mapbox.com/mapbox-studio/source-quickstart/) a try to see if I could get that to work. I can get as far as loading the Earthquake data and clicking "Done", but it doesn't allow me to do anything after that. The screen just stays here and doesn't allow me to pan/zoom:

![screen shot 2015-03-16 at 9 51 29 pm](https://cloud.githubus

[2015-03-17 01:58] Brideau commented on #1254
Update:
When I run the network profiler in chrome while clicking around, I notice that each click is making a GET request to: _http://localhost:3000/source/3,21.09375,-4.390228926463384.json?id=tmpsource:///[A bunch of my directories]/mapbox-studio-0.2.6/node_modules/mapbox-studio-default-source&bf3e06c6_ that returns an empty object.

I have also found a way to get it working consistently: right

[2015-03-17 02:14] samanpwbb commented on #1007
Haven't seen after upgrading phantom version.

[2015-03-17 02:15] springmeyer commented on #1254
@Brideau - thanks for your research. So to confirm: you see this even in chrome or firefox if you load up http://localhost:3000 ?. When it happens next can you open up Activity Monitor and check to see if the processes named `mapbox-studio` are doing anything significant in terms of CPU (or whether they appear idle)?

[2015-03-17 02:20] Brideau commented on #1254
Yes, I've tried it in both Chrome v40 and Firefox v35 with the same result loading it from http://localhost:3000 and the mapbox-studio process is completely idle.

[2015-03-17 09:35] mushon commented on #1214
It started working again. I'm not sure how and why.
Anyway, here's the process sample: https://gist.github.com/mushon/90bac2f7565864eb0b57

[2015-03-17 12:42] Brideau commented on #1254
Another update: I had a friend reproduce the same issue on a 2012 MacBook Pro also running Yosemite, so perhaps its a OS X specific problem?

[2015-03-17 12:55] rclark commented on #1254
@GretaCB and I encountered this yesterday. It appeared to be dataset-dependent for me, although I believe @GretaCB saw this happen for any data she threw at it. For me, a particular TIF file exhibited this behavior, but another geojson file did not.

Will investigate more today and try to pin down a reproducible example.

[2015-03-17 14:28] wilhelmberg commented on #1159
@jwitcoski @Reach-Above @springmeyer @geografa

I was finally able to reproduce:

**Tested with latest 64bit version available at https://www.mapbox.com/mapbox-studio (0.2.6 as of today).**

![image](https://cloud.githubusercontent.com/assets/4549888/6688113/326d7c84-ccb1-11e4-8d8d-8ee9175519dd.png)

![image](https://cloud.githubusercontent.com/assets/4549888/6688115/38f92116-ccb1-11e4-8813-ff3029

[2015-03-17 15:03] trevorpowell opened #1255 "Update prompt appears with HTML for new version when behind firewall requiring authentication"
This just happens because I am behind a firewall requiring authentication to access external websites. Mapbox Studio shows the encoded HTML of the authentication page instead of the new version string.
![screen shot 2015-03-17 at 9 57 41 am](https://cloud.githubusercontent.com/assets/525402/6690171/d5bc0f4c-cc8c-11e4-811b-9d36e49d11ee.png)

[2015-03-17 15:09] trevorpowell commented on #1255
Should note this also happens if I am using the latest version, presumably because there is a comparison of the two version strings and they always differ because of the HTML. Maybe a regex check on the latest version string and don't show the prompt if it fails.

[2015-03-17 22:09] amyleew commented on #1250
@samanpwbb still an issue in browser for me.

[2015-03-17 22:12] samanpwbb commented on #1250
I'll try to look into this more later this week.

[2015-03-17 22:36] tmcw commented on #1103
Needs more information, like the URL in particular or a longer backtrace of what data exactly triggered the error where.

[2015-03-17 22:47] camilleanne commented on #1250
Took a quick stab at this and found:
1) In the packaged version of `v0.2.6` I downloaded from mapbox.com, I can reproduce this with both `local` and `remote` sources regardless of how many times I've attempted to create a new source from a style (same source every time)
2) If I run Mapbox Studio pulled from `mb-pages` checked out at either latest _or_ `v0.2.6` with the same version of `atom-shell`

[2015-03-17 23:21] leffjesh opened #1257 "Windows + Mapbox Studio 0.2.6: Source upload succeeds, but is not online"
I am not able to successfully upload a source project from mapbox studio 0.2.6 on windows despite all messages indicating success.

Steps to reproduce:

-new project with three shapefiles (all are in web mercator, UTF-8, and have shapeindexes) (by the way, i was hoping to use PostGIS instead of shapefiles, but ran into blocking bugs there as well, separate ticket though)
-set zoom to min-9, max-14

[2015-03-18 00:19] GretaCB commented on #1254
I was seeing this behaviour for all files I tried. This bug seemed odd to me because I wasn't experiencing it a few weeks ago on `mb-pages` branch. Today I tried out versions all the way back to mid-february to see if I could corner a particular commit, but the bug didn't go away.

Per chat with @rclark , tried to corner possible Leaflet incompatibilities and ended up [creating a branch](https://g

[2015-03-18 00:24] leffjesh commented on #1257
I think this was ultimately an issue of the 500k tile size limit.

https://www.mapbox.com/mapbox-studio/common-questions/#what-are-the-file-size-upload-limits

  I adjusted minzoom to 11 and the issue went away, though I also created a new user because the old one was having trouble loading the upload history, which is probably it's own bug but beyond my scope.

[2015-03-18 00:27] leffjesh commented on #1257
reopened because I'm hoping that MapBox studio can produce an error message in this case.  :)

[2015-03-18 04:19] Brideau commented on #1254
@GretaCB Tried installing and running your branch, but it didn't seem to fix the problem on my end by the looks of it unfortunately.

[2015-03-18 05:25] springmeyer opened #1258 "Pressing delete triggers leaving source editor"
To replicate:
1.  Create new source
2. Load in Geojson
3. Put text cursor in the projection input field
4. Press delete to try to clear the text
5. Studio abruptly leaves the page and goes back to the previous page

I gather this is happening because you are not supposed to edit the projection of a GeoJSON (although we should allow this). Either way I can't see any reason why the `delete` key shou

[2015-03-18 06:35] springmeyer commented on #1250
Odd: what about pushing a new test build from a branch tomorrow and see if it suffers from the problem? I looked through `build-atom.sh` tonight and don't see anything obvious that would cause the packaged build to behave differently. I notice we pass `--production` to the `npm install` but that should not matter...

[2015-03-18 11:40] wilhelmberg commented on #1257
@leffjesh

What other issues do you have with usage of PostGIS?
Couldn't find any issue by you despite #1238

You might be interested how to massage your data with PostGIS to get below the 500k limit:
https://www.mapbox.com/mapbox-studio/postgis-manual/

[2015-03-18 14:19] mtirwin commented on #1250
Able to reproduce. Studio (program not browser) keeps the Mapbox Streets v5 css style even when I change the source ID.

[2015-03-18 14:35] leffjesh commented on #1257
Thanks for getting back.  I'll post the other ticket later today.

[2015-03-18 14:37] wilhelmberg opened #1259 "Enable shell logging for Windows"
refs https://github.com/mapbox/mapbox-studio/issues/1208 https://github.com/mapbox/mapbox-studio/pull/1168 https://github.com/mapbox/mapbox-studio/issues/1166

@springmeyer  FYI

Tried https://mapbox.s3.amazonaws.com/node-cpp11/blockingio/v0.10.33/x64/node.exe but that didn't change anything.

What I've found so far (`shell.log` already exists):

Mapbox Studio works as expected, if I reduce [log.j

[2015-03-18 16:23] MattKiazyk opened #1260 "Studio 0.2.6, Mac - stuck uploading style if error"
Hi,

This morning I've been updating a source/style. At one point I had an error in my style, but I guess I had tried to upload it.

At this point, my mapbox studio won't allow me to upload a (now fixed) style:

![screenshot 2015-03-18 11 21 04](https://cloud.githubusercontent.com/assets/1119565/6713514/e2271144-cd60-11e4-9f71-9a1717b5eb24.png)

looking at the console the follow errors appear:

![

[2015-03-18 16:30] MattKiazyk commented on #1260
Ignore this ticket.

The upload on the website eventually finished (after about 10-15 minutes) and everything is working as it should.

[2015-03-18 16:30] #1260 closed, assigned to nobody

[2015-03-18 19:15] amyleew opened #1261 "Mapbox Studio 0.2.6: Source upload succeeds, still loading online (yosemite)"
Upload "succeeds" in Studio, but still loading 40+ minutes later on Mapbox.com. Can't cancel.

![upload](http://g.recordit.co/JvVPHW9u91.gif)

Studio allows me to upload a style, now I've got an upload queue:

![que](http://g.recordit.co/02jMv4UczS.gif)

(similar but without postgis connection https://github.com/mapbox/mapbox-studio/issues/1257)

/cc @willwhite

[2015-03-18 19:38] amyleew commented on #1250
@camilleanne @springmeyer

@mtirwin and I found a work around in Studio, launch a template style then add layer as local source and connects just fine. Maybe it's not an atom issue?

![image](https://cloud.githubusercontent.com/assets/4587826/6717677/b0ab9472-cd84-11e4-8a28-4eda5caa76a5.png)

[2015-03-18 19:41] amyleew commented on #1261
Finally got an error... but upload queue is still going.

![image](https://cloud.githubusercontent.com/assets/4587826/6717755/2b0ffb7c-cd85-11e4-846d-cad858c4ff2d.png)

[2015-03-18 19:59] amyleew commented on #1261
Fixed!

[2015-03-18 19:59] #1261 closed, assigned to nobody

[2015-03-19 00:09] camilleanne commented on #1250
@springmeyer and I figured it out -- the space in `Mapbox Studio.app` in the working directory of the packaged app turns into `Mapbox%20Studio.app` here: https://github.com/mapbox/mapbox-studio/commit/b064544dbdaf07e367411df343b773723547c1c5#diff-d7dfcb350720309421bbb465055aafdfR169.

This should be not a big deal to fix, however, it's indicative of a larger problem with middleware silently failin

[2015-03-19 00:13] camilleanne opened #1262 "Middleware silently failing"
In #1250, middleware was silently failing so it took a long time for us to track down a url format bug that is keeping styles from getting loaded.  The middleware can't load the correct style [here](https://github.com/mapbox/mapbox-studio/blob/b064544dbdaf07e367411df343b773723547c1c5/lib/middleware.js#L139), so it fails silently and defaults to the tmp style.

@springmeyer said he'd found other ex

[2015-03-19 10:31] wilhelmberg opened #1263 "Shell hangs when spawn of server process fails"
When `shellsetup()` is not able to [spawn the server process](https://github.com/mapbox/mapbox-studio/blob/a8b2416a9f46aff1811c4b509366c7414e16b731/index-shell.js#L32) an error message appears

![image](https://cloud.githubusercontent.com/assets/4549888/6728443/229ede36-ce2a-11e4-9024-820f9a87a85c.png)

but loading of shell continues and Mapbox Studio seem to hang with the spinning wheel.

If spaw

[2015-03-19 12:00] yhahn commented on #1250
@camilleanne @springmeyer thanks for tracking this down.

Because we're using project filepaths as IDs it's critical that there's only one way to represent a path internally to the same project.

Instead of using `url.format` everywhere I've sketched out an approach where a very early middleware is used to unencode any escaped URL params and normalize paths for windows discrepancies -- see here ht

[2015-03-19 14:26] amyleew commented on #1250
thanks for tracking this down @springmeyer @camilleanne

[2015-03-19 14:34] mtirwin commented on #1250
Goodbye :bug:.

![](http://i.giphy.com/ZxrpYTevDLmmY.gif)

[2015-03-19 16:06] wilhelmberg commented on #1259
Should be done with https://github.com/mapbox/mapbox-studio/pull/1265
Waiting for review.

[2015-03-19 21:22] wilhelmberg commented on #878
@flemmens @gendronb
Do you have `English US` as keyboard language in your Windows system settings?
Or another language?
I'm able to type the missing characters when I switch keyboard language to `English US`

---

As the codemirror samples on the web all work with my German language setting, I suppose the characters get swallowed somewhere in the `carto.css` definition.
The key codes are different

[2015-03-19 21:46] pnorman opened #1268 "Accept-encoding not sent by MapBox Studio"
I finally did the packet logging to verify the MBS bug mentioned in https://github.com/mapbox/vector-tile-spec/issues/27#issuecomment-66721004

MapBox Studio does not send Accept-Encoding with its requests for vector tiles, but gzipped tiles served with Content-Encoding: gzip are expected (https://github.com/mapbox/vector-tile-spec/issues/27#issuecomment-66670565).

Without an Accept-Encoding fiel

[2015-03-19 21:52] bcamper commented on #1268
Thanks for the cc

[2015-03-20 12:52] Brideau commented on #1254
@springmeyer Any update on this? Right now I can't use MapBox Studio on any of my machines which is holding up a few projects.

[2015-03-20 14:08] samanpwbb commented on #1254
1. I tested with a handful of `shp` files (ranging from 1 MB to 100 MB) and `geojson` files (ranging from a few KB to a few MB). Problem occurred with 2 of the shp files, one 3.8MB and one 326KB. Not consistently, and for varying amounts of time (sometimes unresponsiveness would last until i quit, sometimes just a couple seconds). Didn't run into the problem with the larger shape files.
2. Only th

[2015-03-20 16:57] rclark commented on #1254
Little bits of info trickling in as I'm debugging:
- @samanpwbb I can recreate the issue with your shapefiles
- I'm noticing that when the `ne_10m_lakes` is added to the map, there's a call made to:
  `js
  map.setView([15.64277067591253, 5.594398736198173], 1);
  `
  ... but the zoom / center of the map remains unchanged: `[0, 0], 3`. No `viewreset` or `move` events are fired.
- clicking the `+`

[2015-03-20 20:39] samanpwbb commented on #1007
Client tests are stalling on phantom for me again.  Tried phantom versions 1.9.16, v1.9.11, v1.9.10, v1.9.8 no luck.

_Edit: restarted my computer and now tests are working. Clearly, this is something on my end so I'm going to close._

[2015-03-20 20:45] #1007 closed, assigned to nobody

[2015-03-20 22:39] samanpwbb commented on #1254
I have a good fix in place here: https://github.com/mapbox/mapbox-studio/pull/1270 - but it'd be nice to know this is actually covered by tests.

@rclark I tried triggering this bug via tests, and no luck. Here's my attempt:
https://github.com/mapbox/mapbox-studio/tree/map-test

I tossed a shp file i know has issues (http://cl.ly/0l402E2B2t29) into `node_modules/mapnik-test-data/data/shp` and even

[2015-03-21 02:34] springmeyer opened #1272 "Uncaught Reference error in app/atom.js does not present modal"
I noticed that a programmer error in `app/atom.js` will result in a hang. For example if `filePath` were misspelled I would expect the exception to trickle up to a modal UI so the user could easily report the bug. Currently it only ends up in an application hang and an error in the console:

[code]

[2015-03-21 02:39] springmeyer commented on #1272
Looks like atom-shell supports custom uncaught error handlers that we could potentially hook into: https://github.com/atom/atom-shell/commit/fe78c17ea6a2a37f8a9f74eca9b82e89dd290ec8. This raises the question: why is atom's default one not being invoked in this case?

[2015-03-21 08:08] wilhelmberg commented on #1272
I think, because:
- there are several processes and the exception doesn't get passed around as it should
- error gets swallowed in [`renderer/lib/init.js`](https://github.com/atom/atom-shell/blob/master/atom/renderer/lib/init.coffee#L81), because no `uncaughtException` listener is attached to `global.process` for the renderer:

[code]

Doing `global.process.emit 'uncaughtException', error` indepen

[2015-03-21 08:35] wilhelmberg opened #1273 "Browse file dialog fails to display long paths correctly"
If the path doesn't fit next to `<-` it jumps down into the file list:

![image](https://cloud.githubusercontent.com/assets/4549888/6764347/6266ee08-cfad-11e4-8f0e-d157f48eb14e.png)

[2015-03-22 02:45] rxb949 opened #1274 "mapbox-studio-win32-x64-v0.2.6"
I have hard time to install this package. I had mapbox-studio-win32-x64-v0.2.5, and worked fine. When I tried to upgrade it, the studio does not work, it just would not open at all.  I had uninstalled and reinstalled this version, but no luck to load it once I click on the icon. Does anyone know how to fix it?

[2015-03-22 03:47] springmeyer commented on #1274
Can you please find the log file, paste it to https://gist.github.com/, and then share the link here? The log file is at `~/.mapbox-studio/app.log`.

After that try:

1) restarting your machine
2) removing the `.mapbox-studio/app.db` in your user directory
3) Try opening studio again. Does the app start then?

[2015-03-22 05:42] owen1370 opened #1275 "exporting terrain data from mapbox"
im having trouble finding a way to export vector information of the terrain data from mapbox. im an architecture student and i need vector information so i can import them into Adobe Ai and save it as an Ai file so i can then import that data into my 3D modeling software (rhinoceros 5) in order to recreate an accurate 3D landscape for my project.

does anyone know how i would be able to gain acces

[2015-03-22 09:28] wilhelmberg commented on #1274
@rxb949  Paste `%USERPROFILE%\.mapbox-studio` into the address bar of File Explorer to easily get to the files mentioned by @springmeyer

[2015-03-22 14:20] mushon commented on #1214
@springmeyer I'm afraid it's broken again. For no identifiable reason. Deleting `~/Library/Application Support/mapbox-studio/` and `~/.mapbox-studio/app.db` does nothing. This is especially irritating as it happens to me when I'm trying to teach Mapbox Studio to my students and it doesn't help me build their trust in the stability of the system. :(
Anyway I'm attaching a gist with the samples for

[2015-03-22 14:39] ninaignaczak commented on #1214
Mushon, cartoDB works much better, is far easier to use and is more
reliable.

On Sun, Mar 22, 2015 at 10:20 AM, Mushon Zer-Aviv notifications@github.com
wrote:

##

______________________________
Nina Misuraca Ignaczak
Writer + Editor
www.nina-writes.com
@ninaignaczak https://twitter.com/ninaignaczak
LinkedIn http://www.linkedin.com/pub/nina-ignaczak/11/1b4/836/
ninaignaczak@gmail.com
(313)-409-0

[2015-03-22 17:08] #1254 closed, assigned to nobody

[2015-03-23 05:27] #1273 closed, assigned to nobody

[2015-03-23 07:33] springmeyer opened #1277 "Unable to open shapefile with chinese characters in filename"
TileMill supported this - after much hard work. Basically non-latin characters are common in file paths and file names for many windows users so it is important to be unicode aware. It looks like the source file validation is breaking silently due to #805 and related to #1149. I hit this using the node-mapnik test data:

![screen shot 2015-03-23 at 12 28 58 am](https://cloud.githubusercontent.com/

[2015-03-23 07:53] springmeyer opened #1278 "Saving style with local source leads to blank map"
Seen with the latest `space-walk` 64 bit windows binary on Win 7 in atom-shell app. This feels similiar to #1250 but creating a new issue here since I think #1250 should be fixed in the `space-walk` test build.

Steps to reproduce:
- created a local source from a world-merc shapefile
- exported to mbtiles as part of testing #1277
- created a new style from the source
- preview of new style worked

[2015-03-23 07:54] springmeyer commented on #1250
noting: my understanding is that this should be fixed by #1267. But in testing #1267 I hit another one: #1278

[2015-03-23 08:24] springmeyer opened #1279 ""Report on Github" link opens new atom-shell window"
Instead I think it should open in the users web browser.

![screen shot 2015-03-23 at 1 23 47 am](https://cloud.githubusercontent.com/assets/20300/6776412/49f5c674-d0fb-11e4-91f9-b74c58aac57e.png)

[2015-03-23 08:36] springmeyer commented on #1278
Debugging more: I found that the project.xml and project.yml actually has the right path stored to the local source. So it must be something wrong with loading it and falling back?

![screen shot 2015-03-23 at 1 34 26 am](https://cloud.githubusercontent.com/assets/20300/6776525/f8c9b9d4-d0fc-11e4-8d02-d6832ad3a6e8.png)

[2015-03-23 08:39] yhahn commented on #1278
y, just found the leakey flow: https://github.com/mapbox/mapbox-studio/commit/a24eaa89caa0e6e024f3e2aaa8641baa7d92eb53
- Gets set to backslashey path here: https://github.com/mapbox/mapbox-studio/blob/space-walk/app/style.js#L366-L367
- Style is loaded + cached using req.body.id which has backslashey path

Will sleep on whether to normalize the req.body (stopgap commit above) or whether we should

[2015-03-23 08:46] springmeyer commented on #1278
Great, was about to comment with a bit more detail. Going to sleep in a sec so just in case its valuable in the morning I found:
- styles, after being saved, would have their paths flipped to use backslashes.
- if I restarted studio then the styles would magically start working
- However: the print icon was still gray'ed out

[2015-03-23 17:51] yhahn commented on #1278
Wound up going with both approaches (normalize paths in `req.body`, normalize file listing from `tm.dirfiles`).

https://github.com/mapbox/mapbox-studio/pull/1267

Will roll a new package for testing.

This is coming from the `on-local` class here https://github.com/mapbox/mapbox-studio/blob/mb-pages/templates/style.html#L307. Not sure what the reasoning behind this was but let's deal with that se

[2015-03-23 18:43] amyleew opened #1280 "Layer limit w/ 4 composite VTs"
Studio is bumping out final layer in 4 VT composite between Mapbox Streets v5 and 3 single layer VTs. Seems to layer max issue, same 3 VTs + Mapbox Terrain v2 works fine.

![studio_layermax](https://cloud.githubusercontent.com/assets/4587826/6787547/005db250-d16a-11e4-8f7e-74189814ddda.gif)

[2015-03-23 20:00] springmeyer opened #1281 "Print icon incorrectly disabled?"
This is happening with local sources. As per https://github.com/mapbox/mapbox-studio/issues/1278#issuecomment-85122632 it is unclear if this needs to be disabled for any good reason.

[2015-03-23 20:00] springmeyer commented on #1278
closing this as I've tested @yhahn's latest `space-walk` build from `2015-03-23 18:50:33` and the problem is solved. ticketed minor print icon issue at #1281

[2015-03-23 20:00] #1278 closed, assigned to nobody

[2015-03-23 20:05] springmeyer commented on #1250
fixed by #1267

[2015-03-23 20:05] #1250 closed, assigned to nobody

[2015-03-23 20:07] springmeyer opened #1282 "Changelog for v0.2.7"
Ticket to track quick dev of a changelog:

Changes were https://github.com/mapbox/mapbox-studio/compare/8f4992d173...17e948eec

[2015-03-23 20:10] samanpwbb commented on #1281
Based on this commit by @camilleanne, looks like this was intentional: https://github.com/mapbox/mapbox-studio/commit/cfa190d88070b05ac33c945ee960bda19834baad

[2015-03-23 20:15] springmeyer commented on #1281
closing as duplicate of #975

[2015-03-23 20:15] #1281 closed, assigned to nobody

[2015-03-23 20:31] springmeyer commented on #1280
Okay, so am I understanding right that you have 3 custom layers and adding in a 4th leads to of the previous 3 to dissapear? That is pretty odd :)

[2015-03-23 20:38] springmeyer commented on #1262
Update here:
- Yes, I've seen (with mapbox-streets locally) that a debugging change like https://github.com/mapbox/mapbox-studio/compare/middleware-conspiracy will reveal `SQLITE_BUSY` errors that otherwise go silent.
- However I've run that same patch a couple times while testing #1267 and found no console logs showing up. So, I think I was on the wrong track to expect they would.
- So, let's kee

[2015-03-23 20:39] amyleew commented on #1280
@springmeyer  I have 3 **custom VTs** each with only one layer... Perhaps I'm hitting a max layers per project cap?

[2015-03-23 20:41] springmeyer commented on #1249
Can both of you try again now and let us know if you are still seeing this problem? It may have been a temporary problem with mapbox.com /cc @willwhite

[2015-03-23 20:43] springmeyer commented on #1242
@cellum - so did you do a source install of mapbox-studio from github? If so the problem may be that you have duplicate node-mapnik versions in your build tree. Try doing:

[code]

And share the result. This will give me a sense of what the problem might be.

[2015-03-23 20:44] springmeyer commented on #1237
@migheille - sorry for the trouble. Can you share what Mapbox Studio version you tried to use and on what operating system?

[2015-03-23 20:45] springmeyer commented on #1282
aafb737957ef57aefb6f90378a5743021489644e and 314692ad56dedb1bb8e5bceabbf6729abad1c5e5

[2015-03-23 20:45] #1282 closed, assigned to nobody

[2015-03-23 21:45] rxb949 commented on #1274
Removal of the app.db under userprofile did the trick.  Thank you both.

[2015-03-23 21:46] geografa opened #1283 "upgrade notice says download 0.2.7 but download page still says 0.2.6"
When clicking the 'Download to update' link from within Mapbox Studio in v0.2.6, link goes to Mapbox Studio page and download link says 0.2.6.

[2015-03-23 21:56] yhahn commented on #1283
coming soon

[2015-03-23 22:10] springmeyer commented on #1274
@rxb949 - great, also when you upgrade to 0.2.6 or 0.2.7 the app will no longer default to opening the last used project. it may be that you have a broken project and the app was crashing when it tried to return to it. If this is so then you may still hit a crash when you manually navigate to the project. If so, then please create a new issue describing the project in detail and what kind of data

[2015-03-23 22:10] #1274 closed, assigned to nobody

[2015-03-23 23:51] yhahn commented on #1283
All builds are complete and releases are up.

[2015-03-23 23:51] #1283 closed, assigned to nobody

[2015-03-24 05:19] springmeyer opened #1284 "Error: SQLITE_BUSY: database is locked"
I'm seeing `Error: SQLITE_BUSY: database is locked` errors occurring when requesting vtiles via mapbox-gl-js. In my case the source is a slow to respond postgres databases of osm coastline data. I'm creating this issue to track two issues: 1) Why is this error happening and can we prevent it? and 2) why is the error silent and not obvious without manual print statements to debug (see below)?

Orig

[2015-03-24 05:19] springmeyer commented on #1262
tracked down the line numbers of errors, now tracking at #1284

[2015-03-24 05:19] #1262 closed, assigned to springmeyer

[2015-03-24 07:43] martin-eberle commented on #1249
In Mapbox Studio version 0.2.6 and in version 0.2.7 the error is till the same. :-(

[2015-03-24 16:49] springmeyer commented on #1249
@marteb - ok, thanks for testing. Can you share what level plan you are on?

/cc @samanpwbb @willwhite - could this error be happening do to plan level restrictions?

[2015-03-25 08:51] martin-eberle commented on #1249
The account i tested with is a on a „Starter“ plan level but it is the first style i want to upload and, according to the plan, 1 custom style is allowed.

[2015-03-25 15:46] northlandiguana opened #1285 "JS-YAML: named tag handle cannot contain such characters at line 23, column 24"
My PostGIS database requires a password with exclamation points (!). I got this error when I went tried to save my datasource, with text indicating that the ! character in my database password was the offending character. I am not the database owner and would prefer not to change my password anyway.

[2015-03-25 15:55] springmeyer commented on #1285
Take a look at the `Note: Protecting your PostGIS password` section at https://www.mapbox.com/tilemill/docs/guides/postgis-work/ which gives the details on using .pgpass to avoid having to manually set the password.

[2015-03-25 18:20] sainsb opened #1286 "Entry point not found ~MakeWeak~"
Got this intense message today when trying to install the new version of MBS over the top of the old version...
![image](https://cloud.githubusercontent.com/assets/1097798/6831966/cd31135e-d2e0-11e4-9a5f-5a9c72aa7ad4.png)

[2015-03-25 18:25] springmeyer commented on #1286
@sainsb - wow, thank for reporting.  So you saw this at install time or after the install the first time you tried to start the app? Can you share what version of Windows you are running?

[2015-03-25 21:21] sainsb commented on #1286
After install trying to start the map.
Win7

Uninstalled and reinstalled and it works. I'm thinking the contingency step of removing the old version when installing a new one is faulty - or maybe it's just something about the way I am. :)

thanks Dane - u da man

[2015-03-25 21:58] courierjournal commented on #1249
Still doing it for me even with 0.2.7 in OSX 10.10.2. We're on a premium plan. The developer console reports this error `Failed to load resource: the server responded with a status of 422 (Unprocessable Entity)`

**Additional info**: This is the query it's executing: `http://localhost:3000/style.upload.json?id=tmstyle:///Users/courierjournal/test.tm2`. Running that string in a browser yields `Cann

[2015-03-25 23:32] springmeyer commented on #1286
wild, that is great that you fixed it, but not sure why. I wonder if mapbox studio was running when you when to run the upgrade maybe? (or perhaps one of its subprocesses was runaway in the background). Then the install may have only worked partially... This should not happen (we try to catch this situation in the installer) but perhaps is not fully working.

[2015-03-26 04:32] willwhite commented on #1249
Thanks for the reporting this issue. I'm not able to replicate it at the moment, but an example file could help. Can you click "download package" and send the resulting file to support@mapbox.com? Please include your mapbox.com username. That should help us narrow down the problem faster.

Thanks!

[2015-03-26 06:16] wilhelmberg commented on #1286
The error suggests, that there was an old version of Atom-shell still being loaded.
So, yes I think Mapbox Studio was still running, when the upgrade process was started.

I suggest to exit Mapbox Studio automatically as soon as the upgrade link is clicked.

[2015-03-26 07:54] martin-eberle commented on #1249
You should have got an email.

[2015-03-26 14:28] sainsb commented on #1286
Yes, can confirm, old version was running. sorry for the trouble.

[2015-03-26 17:56] zerebubuth opened #1288 "Middleware drops host part of source URI"
In `lib/middleware.js`, the function `normalizePaths` drops the host portion of the URI for the `id` and `source` entries in the body object. This means that if your source is a remote TileJSON URI on a different host, then any attempt to save the style results in an error saying "Invalid URL".

For the specific case that I am experiencing, the patch below fixes it. However, I assume `normalizePat

[2015-03-26 18:16] yhahn commented on #1288
@zerebubuth sorry about that -- do you want to roll a branch/PR for this change? I added a bunch of testcases to cover the issues we were seeing (read: Windows paths) so if your change handles those correctly then I think all that would be left to do would be to add some tests for sample hostnames that you expect to work with your changes.

https://github.com/mapbox/mapbox-studio/blob/mb-pages/tes

[2015-03-26 19:15] cwodwrth opened #1289 "Downloading fails to remember path"
I don't know if this happened in 0.2.6 or 7, because it was working for certain in 0.2.5, but when you download a map, the "Save Image" dialog doesn't seem to remember the last path used. Likewise, it no longer recalls the last project you were working on and pulls up a "Basic" style.

[2015-03-26 19:33] zerebubuth commented on #1288
Sounds good. I'll prepare a PR.

[2015-03-26 20:46] leffjesh opened #1290 "ampersand in file path causes failure to load shapefile on Windows"
Using Mapbox Studio 0.2.7 on Windows, I was unable to add a shapefile to a source project when the shapefile had an `&` in the file path.  In my case it was in a folder named `T&E Species`.  Renaming the folder to remove the `&` fixed the issue.

[2015-03-26 21:18] TheMapSmith opened #1291 "Changing sources breaks mouse input in Chrome"
Hello,

For some reason when I add my remote source to the Basic Map template, MBS just sits there doing nothing. No spike in processing/memory/network activity. No error message. The page just becomes unresponsive.
- Mid-2010 MBP with OSX 10.9.5
- Chrome Version 41.0.2272.104 (64-bit)
- Latest MBS version

[Process sample](https://gist.github.com/TheMapSmith/88b2526fc6d873744a41)

I'm able to add

[2015-03-26 22:50] lyzidiamond opened #1293 "Remove link to raw github content in PostGIS Manual"
@amyleew There's a link to the `lib.sql` file in [postgis-vt-util](/mapbox/postgis-vt-util) in the PostGIS manual as a raw github file. These links are unreliable -- we should be hosting it somewhere else and linking to it there. /cc @katydecorah

[2015-03-26 23:07] amyleew commented on #1293
@lyzidiamond Public gist?  /cc @katydecorah

[2015-03-26 23:09] lyzidiamond commented on #1293
@amyleew or even just hosting it on the website file structure somewhere

[2015-03-26 23:10] springmeyer commented on #1290
Thanks for the report: can you describe the exact point that failed? Was it that the `select` button was unresponsive? Basically curious if this is the same as #1277

[2015-03-26 23:11] amyleew commented on #1293
@lyzidiamond :thumbsup:

[2015-03-26 23:18] ajashton commented on #1293
lib.sql is updated from time to time and it would be nice to not have to think about mirroring updates to static website files. How unreliable is the raw link / in what way? What about just linking to the postgis-vt-util repo?

[2015-03-26 23:40] lyzidiamond commented on #1293
Okay, so, in this case it doesn't matter, but GitHub serves all of its content via these `raw.githubusercontent` links as MIME type `text/plain`, which can be an issue if you're trying to use it as a CDN. But in this case it's probably not a huge deal, cos it's just a file download... right? Maybe?

[2015-03-26 23:51] springmeyer opened #1295 "Bunk app.db leads to `ECONNREFUSED` error"
Not sure if this is user error of some kind or a lurking bug. All I know so far is what I've experienced:
- Work with studio for a while in offline mode (starting via `node ./index.js`)
- go away, restart studio and come back to find the UI loads fine but all tile requests are failing
- in developer tools go to the tile URLs, load one up, and find it is failing with `ECONNREFUSED`
- poke around an

[2015-03-27 01:08] wboykinm opened #1296 "Mapnik failure on reinstall"
I've been running mapbox studio for a year now on my mac, pulling updates to my local repo and reinstalling as necessary. Unfortunately it looks like I may have just blown things up today - I pulled updates and tried to start but it threw this:

`Error: Cannot find module '/Volumes/Faraday3/github/mapbox-studio/node_modules/mapnik/lib/binding/node-v14-darwin-x64/mapnik_settings.js'`

So I cleared

[2015-03-27 06:41] springmeyer commented on #1296
Right, we don't support node v0.12.x yet, so if you are building yourself with `npm install` do make sure you are using v0.10.x. After that I also recommend watching for when #1287 lands. Until it does there is another potential breakage related to duplicate node-mapnik versions getting placed with `npm install`.

[2015-03-27 09:52] #1286 closed, assigned to nobody

[2015-03-27 13:50] wboykinm commented on #1296
@springmeyer Got it - that worked; thanks!

[2015-03-27 13:50] #1296 closed, assigned to nobody

[2015-03-27 15:44] wilhelmberg opened #1297 "Windows: QuickFix: Mapbox Studio should close itself after link to upgrade is clicked"
Problem:
- user gets upgrade message
- clicks on upgrade
- browser pops to front
- user downloads new installer
- user has forgotten about running Mapbox Studio in the background
- user runs installer
- installer cannot overwrite all files, **but doesn't fail or notify user**
- user cannot start new Mapbox Studio, like here:
  https://github.com/mapbox/mapbox-studio/issues/1286

**Quick fix:**
If

[2015-03-27 16:28] springmeyer commented on #1297
I confirmed this worked at one time: https://github.com/mapbox/mapbox-studio/commit/f3415c0c066b5534326f72319bb594c3f4bf4c5c. Maybe it regressed somehow?

[2015-03-27 19:28] amyleew commented on #1293
@lyzidiamond Yes, just download. I'll let as is.

[2015-03-27 19:28] #1293 closed, assigned to nobody

[2015-03-30 10:31] permanyer opened #1298 "Failed to create a multipart upload on S3: Inaccessible host"
Failed to create a multipart upload on S3: {"message":"Inaccessible host: `tilestream-tilesets-production.s3.amazonaws.com'. This service may not be available in the`us-east-1' region.","code":"UnknownEndpoint","region":"us-east-1","hostname":"tilestream-tilesets-production.s3.amazonaws.com","retryable":false,"originalError":{"message":"getaddrinfo ENOTFOUND","code":"NetworkingError","errno":"ENOT