[2014-09-01 04:53] KcKal commented on #654
Don't have TortoiseSVN, and only have the lameass "Windows Defender" that comes with Windows 8. Turned that badboy off as well, to no avail.

[2014-09-01 04:54] yhahn commented on #654
Nice : ) thx for the datapoints -- will keep digging.

[2014-09-01 05:00] KcKal commented on #654
No worries. Got a new product/project launch for which studio would be rather perfect so I'm pretty keen to get into it. :)

[2014-09-01 09:26] yanaybrook commented on #654
Got the same issue. Windows 8

[2014-09-01 12:01] wilhelmberg commented on #654
Windows 8:
I just get `Access denied` error.

app.log:

[code]

[2014-09-01 12:03] wilhelmberg commented on #654
W8: If I start MapBox Studio as Administrator it works.

[2014-09-01 12:04] wilhelmberg commented on #654
2nd run as normal user is successful.

[2014-09-01 12:24] wilhelmberg commented on #654
W7: No problems.

Interesting thing:
I deleted `c:\Program Files (x86)\mapbox-studio` and `~/.mapbox-studio` before installing 0.0.6 and it still knows my user name.

[2014-09-01 23:07] samanpwbb opened #753 "Allow user to select long attribute values in popups"
Don't truncate this:
![screen shot 2014-09-01 at 7 06 46 pm](https://cloud.githubusercontent.com/assets/108094/4112514/c502b03e-322c-11e4-9ea1-e64894e64d0b.png)

Makes it impossible to copy.

[2014-09-02 13:45] lunaeidolon commented on #737
My app.log, same error.

[app.log](http://cl.ly/XKVp)

[2014-09-02 17:15] springmeyer commented on #654
noting that there was [this bug](https://github.com/mapbox/node-sqlite3/pull/283) in node-sqlite3 but as far as I can see neither mbstudio or node-mbtiles is using `sqlite3.cached.Database()`.

[2014-09-02 17:35] springmeyer commented on #654
good description, if old, of one cause of this problem: http://svn.haxx.se/dev/archive-2003-10/0136.shtml

[2014-09-02 17:39] brunosan commented on #728
Rescaling is the best option.
For background, almost no instrument actually uses the whole 16 bit range. E.g. [Landast 8](http://landsat.usgs.gov/landsat8.php) is 12bits (0-4096) rescaled to 16bit (actually 0-55000, less than 2^16), so when doing `gdal_translate -ot Byte -scale 0 55000 0 255` you are ok. Landsat 7 is 8bit but after LEDAPS is 12 bit, ...

The [longer answer](https://github.com/mapb

[2014-09-02 18:47] samanpwbb opened #755 "Emphasize open-able files in file browser"
The gray ones are the ones you can open:

![screen shot 2014-09-02 at 2 46 15 pm](https://cloud.githubusercontent.com/assets/108094/4123775/7f1e91d2-32d1-11e4-8908-a3226414413a.png)

This is a bit backwards (and my fault upstream in base... but not sure about an easy solution besides override base in mapbox studio).

[2014-09-02 18:55] springmeyer commented on #755
:+1 this has tripped me up too.

[2014-09-02 19:13] ian29 commented on #330
havent seen this for months, closing.

[2014-09-02 19:13] #330 closed, assigned to nobody

[2014-09-03 14:11] KP commented on #395
Super excited about custom fonts! Any update on when this may be possible?

[2014-09-03 16:32] wilhelmberg opened #756 "Uninstaller doesn't remove Program Files directory"
After using the uninstaller this directory structure is still there:
![mstudio-orphan-diretories](https://cloud.githubusercontent.com/assets/4549888/4137525/e5a192e0-3387-11e4-8627-e89fcbb92c3b.png)

[2014-09-03 16:33] yhahn commented on #756
@BergWerkGIS same as https://github.com/mapbox/mapbox-studio/issues/611 right?

[2014-09-03 16:37] wilhelmberg commented on #756
More or less, yes.
I was under the impression that with #611 there are several directory trees that are left behind.
Now it's only the folder `integration` (and the path leading to it).
If this is a double, please close.

[2014-09-03 16:42] yhahn commented on #756
Yep.

[2014-09-03 16:42] #756 closed, assigned to nobody

[2014-09-03 17:40] yhahn commented on #737
Should be fixed in next release by above.

[2014-09-03 17:40] #737 closed, assigned to nobody

[2014-09-03 17:41] yhahn commented on #659
Pls reopen if it's clear this is a studio-specific issue.

[2014-09-03 17:41] #659 closed, assigned to nobody

[2014-09-03 17:41] samanpwbb commented on #745
I kept running into this so I made a local fix. My fix prefixes the ID of the layer with 'item-'. This requires doing a lot of `$(this).attr('id')` -> `$(this).attr('id').split('item-').pop();`.

@yhahn I know it's not in line with patterns elsewhere in the app, but might be cleaner to just use another attribute to store the layer name besides ID?

[2014-09-03 17:43] #609 closed, assigned to nobody

[2014-09-03 17:46] yhahn commented on #133
@samanpwbb implemented display of custom layer order in UI.

[2014-09-03 17:46] #133 closed, assigned to nobody

[2014-09-03 18:05] pmwalker1990 commented on #654
First time trying to open Mapbox Studio, got this error. Haven't successfully opened the software at all, unfortunately.

[2014-09-03 18:09] yhahn commented on #745
yez

[2014-09-03 18:16] wilhelmberg commented on #654
@pmwalker1990
Have you tried starting it as Admin?
`Right click -> Run as Adminstrator`
For then on I could run it normally.

[2014-09-03 18:18] wilhelmberg commented on #654
Update from my side:
In the meantime I've tried it with vanilla installs (all 64bit) of
- W8
- W8 SP1
- W8.1

No errors.

[2014-09-03 18:22] wilhelmberg commented on #751
It seems you are on 32bit Window 7, correct?
Or did you manually choose **not** to install into `C:\Program Files (x86)`?

[2014-09-03 19:18] pmwalker1990 commented on #654
Just did a fresh install and tried opening as admin, still getting the same error. Unfortunately, I'm new to the community, so I'm still learning how everything works. In other words, I don't have much to offer in terms of troubleshooting the problem.

[2014-09-03 20:41] pnorman commented on #659
Thinking about it, you might be right. A pixel width of 0 is absurd, and that's probably coming from Mapnik?

Ya, I've ended up using `NULLIF` to work around the divide by zero error. It might screw up the Tilemill data display, but I don't use that anyways.

That's specific to that situation, where if no rows are returned, `COUNT(*)` is 0, so you get a division by zero. In this situation it's a d

[2014-09-03 20:57] #745 closed, assigned to samanpwbb

[2014-09-03 22:14] TheMapSmith commented on #634
It looks like this issue also applies to pixel based arguments such as `translate()`. Notice the tree shadows in 1x vs 4x. I had to manually pull up an 4x tile and keep fiddling with the `translate()` to figure out how to align the shadow for print.
![107911@1x](https://cloud.githubusercontent.com/assets/8357118/4142278/edd3e542-33b6-11e4-925e-0c9485b116f8.png)
![107911@4x](https://cloud.githubuse

[2014-09-03 22:36] yhahn commented on #727
The backstory here is that utfgrid is fast becoming a legacy technology -- the vector tile js library used by mapbox GL makes it easy to access the data in PBF vector tiles directly in the browser in a much more powerful way without an intermediary utfgrid/json format.

Until GL is prime time and ready though, studio has some behind the scenes way for you to enabled interactivity on projects. We n

[2014-09-03 22:37] yhahn commented on #484
https://github.com/mapbox/mapbox-studio/issues/727

[2014-09-03 22:37] #484 closed, assigned to nobody

[2014-09-03 22:59] gabrielflorit commented on #727
Thanks for the note. It's incredible that "utfgrid is fast becoming a legacy technology" - a testament to how fast you guys move. Mapbox Studio is pretty amazing.

[2014-09-04 00:28] KcKal commented on #737
Yeap, I edited the few lines of code on local and it worked for me.

On Thu, Sep 4, 2014 at 3:40 AM, Young Hahn notifications@github.com wrote:

[2014-09-04 00:29] KcKal commented on #654
I tried that, but didn't work for me. W8.1
ᐧ

On Thu, Sep 4, 2014 at 4:16 AM, Wilhelm Berg notifications@github.com
wrote:

[2014-09-04 02:40] wheredoesyourmindgo commented on #727
It appears there are some parameters such as interactivity_layer and template named in the project.yml file for Style specifics.  Could this be a place to add such behavior?  I haven't been able to get this to work but maybe someone else can.

[2014-09-04 14:44] nathanpeck commented on #716
Hi, I'm the maintainer of s3-upload-stream. I don't think nathanpeck/s3-upload-stream#10 is relevant because that was an issue in s3-upload-stream introduced in versions 0.5.0 and fixed in version 0.6.1

mapbox-studio is using mapbox-upload, which is using s3-upload-stream version 0.4.x, so the version of s3-upload-stream being used does not contain that issue.

I can't entirely rule out an issue

[2014-09-04 14:46] yhahn commented on #716
Wow @nathanpeck thanks for chiming in across projects. We'll look into updating to 0.6.1 next.

[2014-09-04 14:51] samanpwbb opened #765 "Errors reported on wrong lines"
I often run into this issue.

Error occurs on my first stylesheet:
![screen shot 2014-09-04 at 10 50 05 am](https://cloud.githubusercontent.com/assets/108094/4151094/ed9212fc-3442-11e4-943a-24bc3cf11d36.png)

Error reported on a different line on a different stylesheet:
![screen shot 2014-09-04 at 10 50 00 am](https://cloud.githubusercontent.com/assets/108094/4151087/e784f000-3442-11e4-91c2-8fad4f

[2014-09-04 14:55] yhahn commented on #711
Tracked down a few of these issues last night. Things like this handle differently on appveyor than our VMs:

https://github.com/mapbox/mapbox-studio/commit/8654d6e9c70729c9cef0539ecc1d8014aa9b1583

Remaining issue seems to be phantomjs runs sometimes segfaulting, something I see on Mac OS X travis runs sometimes as well.

[2014-09-04 14:55] nathanpeck commented on #716
@yhahn Sure thing. If you are able to confirm that it is an issue with s3-upload-stream let me know and I'll fix it ASAP. I haven't seen anything like this issue to date, however.

[2014-09-04 15:33] MarkWS commented on #654
Update:
Myself and Ian (at MapBox) started this thread.
I spent about two hours yesterday trying to figure out why MapBox Studio (MBS) is not referencing the SQLite DB that is loaded with the software.

Our findings:
• We tweaked the mbtiles.js and the node.js  file constructor. In the node.js we modified line 54 and 55 if 'err return path' instead of 'err object' which is as most of you know is '

[2014-09-04 15:53] yhahn commented on #654
@MarkWS thanks for your detailed notes -- we've been looking into this over the past few days and your report is giving me some ideas for more things to try. Will keep you posted.

[2014-09-04 16:39] yhahn commented on #654
@MarkWS we're looking at this now and it's def not fixed in 0.0.7. At least one possible cause of this is having a _username folder with a space or other non alphanumeric characters in it_. I think we'll have a fix for this shortly but if you want to test this hypothesis (by using a username without a space character) it would be very helpful.

[2014-09-04 16:52] MarkWS commented on #654
Yes, still not working with v0.7 and this is the error:

![capture](https://cloud.githubusercontent.com/assets/8440284/4152978/bf7cbfe6-3453-11e4-8c10-49fdbc37b4a4.JPG)

I see the path is now being displayed, which is nice. At least we know where the problem is occurring.

[2014-09-04 16:53] yhahn commented on #654
@MarkWS great, will have a v0.0.8 for you to test later today.

[2014-09-04 17:38] samanpwbb opened #767 "right edge of line hidden by scrollbar in code panel"
![screen shot 2014-09-04 at 1 37 36 pm](https://cloud.githubusercontent.com/assets/108094/4153561/406352e0-345a-11e4-9616-66181634bbfa.png)

[2014-09-04 22:19] yhahn commented on #144
Done.

[2014-09-04 22:19] #144 closed, assigned to nobody

[2014-09-04 22:51] yhahn commented on #654
@MarkWS and others -- there's a new v0.0.8 release for windows available here:

https://www.mapbox.com/mapbox-studio/#win32

It has an important fix that may address this issue in some cases and have better error messages that will help us track down remaining issues if not. Let me know how it goes for you!

[2014-09-05 05:03] KcKal opened #769 "http 400 error when adding source to studio on linux"
Keep getting an http 400 error whenever I try to add another source to studio. Adding a source from a mapbox project with username.projectid setup (kckal.j9dkmd33 for the curious cats) and all I get is a cryptic http 400 error.

Here's the gist: https://gist.github.com/KcKal/88c5e0a1b989cfdbfa84

[2014-09-05 10:14] alexkurtz opened #770 "Export MBTiles locally"
Hi! I would like to know if it is (or will be) possible to create tiles that can be stored locally (for example, to locally test a server) without having to upload to Mapbox.

[2014-09-05 14:16] yhahn commented on #769
@KcKal are you compositing this map with another (ie. does your input say `mapbox.mapbox-streets-v5,kckal.j9dkmd33`) ? If so it's likely you're hitting this error:

[code]

You cannot composite mapbox editor projects (kckal.j9dkmd33) with vector sources (mapbox.mapbox-streets-v5) as only the latter is an actual raw datasource.

I'll look into making the error message more meaningful here.

[2014-09-05 14:18] yhahn commented on #770
Studio only exports vector tiles in to MBTiles files -- you can render these on your own server in conjunction with a style if you like but they are not static image files like you may be used to.

We're viewing static image files for maps as a legacy approach to web maps at this point. Hidpi/retina devices and on-device rendering makes it necessary to serve 256x256, 512x512, 150+ dpi images on th

[2014-09-05 14:18] #770 closed, assigned to nobody

[2014-09-05 14:20] MarkWS commented on #654
v0.0.8 seems to have solved this problem.
I can now start MBS!
Thanks Young!

[2014-09-05 16:25] yhahn commented on #654
@KcKal @pmwalker1990 @tjperry07 @yanaybrook would be great if you could try the new release out and confirm (or deny) the fix.

[2014-09-05 23:26] camilleanne opened #773 "Race condition on end of upload"
While investigating uploads found a race condition where [`source.info`](https://github.com/mapbox/mapbox-studio/blob/mb-pages/lib/source.js#L380-L455) is being called in the middle of `source.save` writing `data.yml` to disk, so `source.info` outputs `null` and errors as `null` is invalid YML.

This causes the end of the upload to hang indefinitely in the UI, even though the upload completed succ

[2014-09-05 23:58] mick commented on #773
@camilleanne I was just uploading a source and it hung in the UI at 100%, and mapbox.com now says it is broken

[2014-09-06 00:02] camilleanne commented on #773
@mick can you open up your developer tools and tell me if you see a 500 error in there?

[2014-09-06 00:04] mick commented on #773
Sorry I had already restarted the upload.

[2014-09-06 00:25] mick opened #774 "warn about large vectors before or during upload."
Spending 20mins rendering and uploading tiles only to find out that you cant use them on mapbox.com because they are too big could be prevented if mapbox studio could warn the user as the tiles are being rendered.

[2014-09-06 00:26] yhahn commented on #774
y looking at this upstream.

[2014-09-06 00:26] #774 closed, assigned to nobody

[2014-09-06 01:42] pmwalker1990 commented on #654
Everything is working now! Thank you so much! Can't wait to start using it.

[2014-09-06 18:03] samanpwbb opened #776 "Style mode map center is wrong"
We're doing some bad things with the map container div, causing bookmark jumps, the UI display, and map-zooms to behave unexpectedly.

See how my map container is _not_ centered and the width of the container is much larger than the visible map:
![screen shot 2014-09-06 at 2 01 41 pm](https://cloud.githubusercontent.com/assets/108094/4176007/04c680c6-35f0-11e4-832f-5f0e7e284e20.png)

[2014-09-06 21:01] yhahn commented on #776
The map width is purposeful and is how the fullscreen mode works (just CSS transforms of other panes/shifts).

It's positioning is probably not centered as a result of the min-width refactor from a few iterations ago.

[2014-09-06 21:07] yhahn commented on #776
@samanpwbb going to close this -- reopen if you see a way to have this work while having min-widths on ui container elements. Basically as you resize the window the positioning of the map would have to change to maintain an exact visual center.

[2014-09-06 21:07] #776 closed, assigned to nobody

[2014-09-07 10:18] yanaybrook commented on #654
Its working also for me... seems to solve the problem.
Thanks a lot for your help... Will create some awesome maps now :)

[2014-09-07 12:05] yhahn commented on #654
Great, closing.

[2014-09-07 12:05] #654 closed, assigned to nobody

[2014-09-07 19:17] samanpwbb commented on #272
This is done.

[2014-09-07 19:17] #272 closed, assigned to nobody

[2014-09-08 05:35] KcKal commented on #769
Got it. Yeah, tbh, I was just trying to add another layer for markers (which I have in kml), couldn't seem to do it when I hit local and thought I'd give adding the project as a source a go, but clearly that doesn't work either.

Then this might just be a support question, vs an issue here, but it would be nice to have an obvious way to do that.

[2014-09-08 15:10] yhahn opened #783 "Bigger better thumbs"
- Use abaculus so it's accurate to project center, not just a nabbed tile
- At least 512x512 with @2x scale? Should we go bigger?

cc @camilleanne @samanpwbb

[2014-09-08 15:32] yhahn opened #784 "mapnik3 branch"
JFDI so @samanpwbb and others can start playing around.

[2014-09-08 17:19] incanus opened #785 "source creation dead end"
`Projects > Sources > New source`

Then try to do pretty anything else with the app ever again _besides_ create a custom source. Exception: switch to making a new style instead.

[2014-09-08 17:52] yhahn commented on #785
What are you expecting here?

[2014-09-08 18:04] incanus commented on #785
This discourages experimentation, as if you accidentally click here and don't want to / can't yet add a source, you have to quit the app to move on. Contrast with the top-right `x` to _Start a new style project_, open any of the left-hand drawers, browse the filesystem, etc.

[2014-09-08 18:12] yhahn commented on #785
k, not concerned about this. https://github.com/mapbox/mapbox-studio/commit/3a5b3a251fef8cb500566165d2ab60d2c8446e81#commitcomment-7697357 manages expectations better with a pit of despair thumbnail for new sources.

[2014-09-08 18:12] #785 closed, assigned to nobody

[2014-09-08 18:20] samanpwbb opened #787 "cmd+s -> 'save as' if available"
On new sources / styles, the first attempt at a cmd+s should trigger the 'save as' not 'save' function.

[2014-09-08 18:20] yhahn commented on #787
Mmm... disagree. Let's discuss.

[2014-09-08 18:24] yhahn commented on #787
No.

[2014-09-08 18:24] #787 closed, assigned to nobody

[2014-09-08 18:42] samanpwbb opened #788 "Clarify to user that styles/sources are temporary until 'save as'"
Follow up to #787

Do this:
![screen shot 2014-09-08 at 2 42 05 pm](https://cloud.githubusercontent.com/assets/108094/4190702/e8633ffc-3787-11e4-98db-30e6799f0fbf.png)

(in spirit, not like.. actually like this). More strongly differentiating the 'save as' and 'save' buttons might be the key.

[2014-09-08 18:52] incanus commented on #788
Combined with this is the fact that you don't get an indication of unsaved state ever in the app. As just one OS cue, typically on OS X you get a "dirty window" indicator:

![screen shot 2014-09-08 at 11 50 38 am](https://cloud.githubusercontent.com/assets/17722/4190862/33327e52-3789-11e4-8dc5-4ff7bbf097b2.png)

[2014-09-08 18:56] camilleanne commented on #783
how are the current thumbs made?

[2014-09-08 18:59] incanus opened #789 "never lose unsaved work"
Related to https://github.com/mapbox/mapbox-studio/issues/788#issuecomment-54868752 it is possible to lose various work. One example:
1. Edit a source
2. Change its description, but don't save yet
3. Click elsewhere in the app, such as `Projects > Select a saved style`
4. Lose source description edits

[2014-09-08 19:03] incanus commented on #789
@samanpwbb classified this problem in general thusly:

[2014-09-08 19:03] yhahn commented on #789
Ya this is not accurate actually.

You'll notice that changing the description + leaving the field (`change` event) does trigger the `onunload` prompt. We'll likely need something closer to just a straight up content to previous state comparison to determine whether things have changed.

[2014-09-08 19:09] yhahn commented on #783
https://github.com/mapbox/mapbox-studio/blob/mb-pages/lib/style.js#L362-L382

[2014-09-08 19:09] camilleanne commented on #755
What's the chance we could have an icon for .tm2 and .tmsource that's not a folder when viewing in mapbox studio?

[2014-09-08 19:10] yhahn commented on #755
Good call

[2014-09-08 19:13] incanus opened #790 "styles out of date"
If you publish a custom ~~source~~ style, then click the new map ID, you are taken to `/styles`. However, there is a lag time between this possible initial open and the style showing up — not even a "processing" indication.

![anigif-1410203578](https://cloud.githubusercontent.com/assets/17722/4191268/343ec9b0-378c-11e4-996f-d69c77bad65b.gif)

[2014-09-08 19:16] yhahn commented on #790
You're publishing a style. The link for this is fixed in mb-pages.

[2014-09-08 19:17] incanus commented on #790
Sorry, first line should have read `If you publish a custom style`, so this stands. Not a busted link, but rather a data delay issue.

[2014-09-08 19:20] yhahn commented on #790
o ic. This is a Mapbox API issue, going to reticket internally.

[2014-09-08 19:20] #790 closed, assigned to nobody

[2014-09-08 20:47] samanpwbb opened #792 "Easier/more self-explanatory source change UI"
This screen is confusing + makes it difficult to make composite sources:
![screen shot 2014-09-08 at 4 29 11 pm](https://cloud.githubusercontent.com/assets/108094/4192323/d2771a74-3796-11e4-8458-58562555c1e9.png)

You can't copy layer IDs and it's not that obvious what the purpose of the field at the bottom is or how to use it.

I see two ways to make this a smoother:
#### Option A
1. Click a list

[2014-09-08 20:48] karenzshea opened #793 "New data source from Postgis opens to wrong tab"
![screen shot 2014-09-08 at 12 02 09 pm](https://cloud.githubusercontent.com/assets/5521326/4192553/fef3a142-3798-11e4-8c78-c5aba7391b9d.png)

This pretty minor – when adding a new layer from postgis in a data source project, the first page you land on is the 'SQL' page but the tab indicates you're on 'Configure'. It fixes itself after clicking around to another tab. Happens most of the time for m

[2014-09-08 20:50] samanpwbb commented on #793
The real bug here is, I believe, that the active panel is not correctly reset when you close the layer pane and then re-open a different layer.

[2014-09-08 20:51] yhahn commented on #792
y, per our last discussion let's go for A.

[2014-09-08 20:55] camilleanne opened #794 ".tm2 files hidden in Style 'save-as' modal"
There are at least 20 or so .tm2 folders/styles in this directory, but I can't see them when saving a style, so I can neither save over an older style with the same name, or make sure I'm avoiding an existing namespace.

I will get an error however, if I try to use an existing name, but I won't know until I get the error that there is a conflict.
![screen shot 2014-09-08 at 1 52 34 pm](https://clo

[2014-09-08 20:57] incanus commented on #788
Related:
- Tie to source fill being edited: https://github.com/atom/atom-shell/blob/master/docs/api/browser-window.md#browserwindowsetrepresentedfilenamefilename
- Mark window dirty: https://github.com/atom/atom-shell/blob/master/docs/api/browser-window.md#browserwindowisdocumentedited

[2014-09-08 21:25] #773 closed, assigned to camilleanne

[2014-09-08 21:46] incanus commented on #755
Depending how far down the hole you want to go:

https://github.com/atom/atom-shell/blob/master/docs/api/dialog.md#dialogshowopendialogbrowserwindow-options-callback

[2014-09-08 22:59] savannahjune opened #795 "Cannot add local sources"
When I update to the latest version yesterday, I lost the ability to choose and upload local sources. I have data in the mapbox studio folder locally, but there is no option to add it. Remote sources are behaving normally. Perhaps I'm missing something, but I recall adding local sources from this screen before.

Thanks :)

![upload issue](https://cloud.githubusercontent.com/assets/2073292/4194235/

[2014-09-08 23:20] yhahn commented on #795
@savannahjune hmm... did you upgrade from pre 0.0.4? There was a config directory change from 0.0.4 on:

https://github.com/mapbox/mapbox-studio/blob/mb-pages/CHANGELOG.md#004

You should be able to repopulate Mapbox Studio's history of your local sources by browsing for them and opening them up.

[2014-09-09 01:06] camilleanne commented on #716
@savannahjune @yalefox I've updated Mapbox Upload to use the latest version of s3-upload-stream to rule that out as an issue -- if you wouldn't mind downloading 0.0.9 from www.mapbox.com/mapbox-studio and trying to upload a source again.

[2014-09-09 05:25] samanpwbb opened #797 "Cannot remove remote sources"
Click delete button:
![screen shot 2014-09-09 at 1 15 49 am](https://cloud.githubusercontent.com/assets/108094/4196967/82d393c2-37e0-11e4-8284-db8bf92afd15.png)

So far so good:
![screen shot 2014-09-09 at 1 15 55 am](https://cloud.githubusercontent.com/assets/108094/4196968/8416e7b6-37e0-11e4-8344-901a7994cd1c.png)

Then, it doesn't do anything. Source persists in view list. No errors in console.

[2014-09-09 05:34] yhahn commented on #797
Seems like a problem that arises because we're mixing two different things into one place here. This should probably either act as a history list or as an api-based list, not both.
- If it were purely history it would make sense to make all entries permanently removable.
- If it is purely API then nothing is removable from studio and also nothing (remote) gets introduced to the list based on your

[2014-09-09 05:44] samanpwbb commented on #797
Here's my sense:
1. Most importantly, users will want access to _their_ stuff on /data, plus a set of sources that mapbox studio ships with (streets, terrain). This is more like an API list.
2. Secondarily, users want access to sources that they don't own but that they've added in the past.
3. What I think is least important for this list are composite sources (especially when #792 happens).

This

[2014-09-09 05:48] yhahn commented on #797
Cool, will sketch making the remote list your stuff + the 3 mapbox vendor sources and no remove action.

[2014-09-09 15:44] springmeyer opened #798 "Places does not work if port 3000 is not available"
If something else is running on port 3000 when mbstudio opens the app starts fine (due to getport magic after #587) but it appears that the places functionality silently fails (seen on workshop participants mac - after stopping other node.js server on 3000 and restarting mbstudio places started working). I noticed `app/print.js` also looks like it has a hardcoded `localhost:3000`

[2014-09-09 16:16] samanpwbb commented on #755
Doing this in `design-cleanup`:
![screen shot 2014-09-09 at 12 14 54 pm](https://cloud.githubusercontent.com/assets/108094/4205041/9ff85cb0-383c-11e4-996e-20da408e8f67.png)

[2014-09-09 16:20] samanpwbb commented on #276
Find and replace doesn't exist any more.

[2014-09-09 16:20] #276 closed, assigned to nobody

[2014-09-09 16:22] samanpwbb commented on #112
If I understand this issue correctly, this is working right now:
![screen_shot_2014-09-09_at_12_21_34_pm](https://cloud.githubusercontent.com/assets/108094/4205138/6c0b9592-383d-11e4-8482-7ee5826b8541.png)

[2014-09-09 16:22] #112 closed, assigned to nobody

[2014-09-09 17:29] tristen commented on #798
Related? I was running Mapbox Studio on port `3001` and after saving a place "Bogata Colombia", making an edit and saving I got this error:

![screen shot 2014-09-09 at 11 33 32 am](https://cloud.githubusercontent.com/assets/61150/4206011/b219e260-3846-11e4-85a6-933a1977b639.png)

Opening studio in the browser instead didn't throw any errors.

[2014-09-09 17:38] tristen opened #799 "Emphasize zoom level in the editor"
Knowing the zoom value when designing a map is an important part of the workflow. Right now it its:
1. Tucked between lat, lng and render time which is secondary info at best.
2. A muted grey
3. Its prefixed with a `z` not `zoom` which takes some brain to know what that means.

Even knowing where it is I have to search for it every time:

![2014-09-09 at 1 30 pm](https://cloud.githubusercontent.co

[2014-09-09 17:47] yhahn commented on #798
@tristen not related...

[2014-09-09 17:57] samanpwbb opened #800 "ensure valid coordinates with bookmarks"
Looks line coordinates aren't wrapping:

![](https://cloud.githubusercontent.com/assets/61150/4206011/b219e260-3846-11e4-85a6-933a1977b639.png)

[2014-09-09 18:15] camilleanne commented on #798
@springmeyer I ran another unrelated thing on port 3000, and ran Mapbox Studio on 3001 and Places worked fine. The print hardcoding is a bug tho

[2014-09-09 18:54] nickidlugash commented on #799
Agreed. 1. and 2. in particular I think are issues.

[2014-09-09 19:22] camilleanne opened #804 "Style/source name pattern matches '+'"
this pattern [`[\w+\d+\.\s\/_-]+`](https://github.com/mapbox/mapbox-studio/blob/mb-pages/templates/modalbrowsersave.html#L11) will match a style name like `alpha+beta.tm2`, but that's not a valid file name for studio. Seems to only be a problem for the `+` character.

![screen shot 2014-09-09 at 11 58 46 am](https://cloud.githubusercontent.com/assets/3952537/4207438/69904c22-3856-11e4-9f6a-3b14afe

[2014-09-09 19:27] samanpwbb commented on #804
Hm, we use this pattern for checking valid source names: `(([\w+-]+\.[\w+-]+,?)+|(https?:\/\/.*))` - `[\w+-]` means any alphanum characer, or '-' or '+'. Should we prevent users from using '+' character?

[2014-09-09 19:28] yhahn commented on #804
Let's exclude + for now since browsers like to turn + into a space (`%20`).

[2014-09-09 19:53] wboykinm commented on #799
Thirded. I always lose a few seconds surfacing from my UI reflexes to find the dang thing.

[2014-09-09 20:13] camilleanne commented on #804
A `+` in a source layer name will also cause an `invalid source protocol` error so I'm going to strip those out for now as well.

[2014-09-09 20:30] camilleanne opened #805 "Format notification missing in packaged version"
This isn't showing up when the entered name doesn't match the pattern:

![screen shot 2014-09-09 at 1 16 22 pm](https://cloud.githubusercontent.com/assets/3952537/4208326/3b7cc960-385f-11e4-847a-f52e076a5753.png)

cc @yhahn

[2014-09-09 20:32] yhahn commented on #805
Yeah, this is the HTML5 validation warning coming from Chrome/Firefox/etc. Guessing atom-shell/chromium upstream hasn't implemented/exposed this yet.

Next task here would be poking around upstream and seeing what the plan is for this (we're also not fully up to date on atom-shell so maybe we start by upgrading).

[2014-09-09 21:07] camilleanne commented on #798
Not sure what was going on with the workshop participants mac, but I don't think it was because port 3000 was unavailable. Haven't been able to replicate that.

fixing print.js bug here: https://github.com/mapbox/mapbox-studio/pull/806

[2014-09-09 21:07] #798 closed, assigned to camilleanne

[2014-09-09 21:16] camilleanne commented on #805
It's not in [0.16.2](https://github.com/atom/atom-shell/releases) yet.

[2014-09-09 21:37] camilleanne commented on #783
https://github.com/mapbox/mapbox-studio/pull/802

[2014-09-09 21:37] #783 closed, assigned to camilleanne

[2014-09-09 21:57] springmeyer commented on #798
All I know is what I saw:
- He clicked on places and saw no maps appear and no errors (we did not look in the logs)
- He had an express server running on port 3000 from a different workshop demo
- He stopped that server and restarted mbstudio and then the places started working

If you can't replicate then perhaps places being broken was a side effect of some other javascript error.

[2014-09-09 22:19] #804 closed, assigned to camilleanne

[2014-09-09 22:19] camilleanne commented on #804
#807

[2014-09-09 22:45] camilleanne commented on #794
Looks like .tm2 files are hidden in [Style](https://github.com/mapbox/mapbox-studio/blob/mb-pages/app/style.js#L338) and [Source](https://github.com/mapbox/mapbox-studio/blob/mb-pages/app/source.js#L150) save modals, but you can see .tm2source files in the source save modal.

Is there a reason for this?

[2014-09-09 22:46] samanpwbb commented on #794
Sounds like a bug.

[2014-09-10 01:45] ajashton opened #809 "No image export progress indicator from atom-shell"
1. Run Studio from atom-shell
2. Open a style and export a PNG or JPG image
3. File save prompt appears, but when you enter a name and hit save the resulting file is 0 bytes.

The image export works as expected when running Studio via a web browser.

[2014-09-10 01:47] yhahn commented on #809
Are you exporting a large image? It might just be taking a very long time (file starts at 0 bytes) and there is no visual indicator atm that things are still working.

[2014-09-10 01:49] ajashton commented on #809
ah ok, that's it

[2014-09-10 01:53] yhahn commented on #809
Cool, we'll have to revisit the upstream issue in atom-shell that the current handler is a workaround for.

[2014-09-10 02:28] #652 closed, assigned to samanpwbb

[2014-09-10 02:28] #755 closed, assigned to samanpwbb

[2014-09-10 02:28] #792 closed, assigned to samanpwbb

[2014-09-10 02:28] #799 closed, assigned to samanpwbb

[2014-09-10 14:43] samanpwbb commented on #753
Fixed.

[2014-09-10 14:43] #753 closed, assigned to samanpwbb

[2014-09-10 14:44] samanpwbb commented on #417
Added.

[2014-09-10 14:44] #417 closed, assigned to samanpwbb

[2014-09-10 16:27] camilleanne commented on #794
#810

[2014-09-10 16:27] #794 closed, assigned to nobody

[2014-09-10 17:21] bengolder opened #811 "Failed to find font face 'Komika Hand Bold' in style 'place_label' in TextSymbolizer"
Just downloaded Mapbox Studio and opened it on OS X 10.9.4. Tried to open the Comic! example and I received this error message.

[2014-09-10 17:25] bengolder commented on #534
Just tried using the existing 'Save As' dialog when opening an existing project, and it could really use more of the standard file save dialog options. For example, there doesn't appear to be a way to create a new folder.

![screen shot 2014-09-10 at 1 24 04 pm](https://cloud.githubusercontent.com/assets/451510/4222021/723cb356-390f-11e4-8249-fcab52c9d129.png)

[2014-09-10 17:26] yhahn commented on #811
@ajashton https://github.com/mapbox/mapbox-studio-comic.tm2/commit/7d7c189e45cdcaad0450d2c6070f78490512ebe3 ?

[2014-09-10 17:34] duncangraham commented on #811
It looks like the font is called "Komika Title Bold" but in the .mss it's being referenced as "Komika Hand Bold"

[2014-09-10 17:34] yhahn opened #812 "Tests for example styles"
Load 'em all up to avoid https://github.com/mapbox/mapbox-studio/issues/811.

[2014-09-10 17:58] camilleanne opened #813 "Thumbnails are the right image but are not getting scaled correctly"
They need a `background-size: 100%` or something

![screen shot 2014-09-10 at 10 48 28 am](https://cloud.githubusercontent.com/assets/3952537/4222464/fbe9f5ba-3913-11e4-90fc-f9bae0a60789.png)

[2014-09-10 18:05] camilleanne opened #814 "Loose Leaf style attribution"
Defaults to TM2.

![screen shot 2014-09-10 at 11 03 11 am](https://cloud.githubusercontent.com/assets/3952537/4222560/c9d77560-3914-11e4-8fe4-92653040ec7c.png)

cc @tristen

[2014-09-10 18:11] camilleanne commented on #812
Also, double check attribution

[2014-09-10 18:15] esisa opened #815 "Error in sources/styles panel"
After upgrading to 0.1.0 I get the text in the sources/style panel partly underneath the thumbnail

![skjermbilde 2014-09-10 kl 20 13 20](https://cloud.githubusercontent.com/assets/660586/4222779/7afa06b8-3916-11e4-9597-a3a9439d89ce.png)

[2014-09-10 18:20] samanpwbb commented on #815
Can you try quitting and re-opening Mapbox Studio? I am almost certain this is a caching issue related to the upgrade.

[2014-09-10 18:21] esisa commented on #815
Correct :-)

[2014-09-10 18:21] #815 closed, assigned to nobody

[2014-09-10 18:22] yhahn commented on #812
@camilleanne ha ya..., what are you going to test for?
- [x] assert that mapid is empty or unset
- [ ] ~~assert that ? about attribution~~

[2014-09-10 18:40] yhahn commented on #814
@tristen can you make a PR that updates the looseleaf version?

[2014-09-10 19:01] #813 closed, assigned to samanpwbb

[2014-09-10 19:27] yhahn commented on #814
I got this in an upcoming PR.

[2014-09-10 19:27] #814 closed, assigned to nobody

[2014-09-10 19:31] #811 closed, assigned to ajashton

[2014-09-10 19:31] yhahn commented on #812
https://github.com/mapbox/mapbox-studio/pull/819

[2014-09-10 19:31] #812 closed, assigned to nobody

[2014-09-10 20:06] #793 closed, assigned to samanpwbb

[2014-09-10 22:36] samanpwbb commented on #788
Just voiced with @yhahn - plan moving forward is to break out separate 'refresh' and 'save' functions.
- Save would continue to work as it does now, with one notable exception: first save triggers save as.
- Add a 'refresh' function that passes style and source updates to the map but doesn't save them to disk.

[2014-09-11 09:00] flemmens opened #824 "Unable to access local drives other than C: ?"
When I try to open a local .shp file, there is no way to select the drive letter, it only display the C:\, is there any way to select the drive ?

[2014-09-11 11:50] #800 closed, assigned to samanpwbb

[2014-09-11 13:39] kkaefer opened #825 "Incremental updates"
We should investigate incremental updates to avoid having to redownload 150MB for every minor update.

[2014-09-11 13:49] yhahn commented on #825
Only interested if there's a well maintained solution for this on all 3 platforms : ) Closing, reopen if you find that!

[2014-09-11 13:49] #825 closed, assigned to nobody

[2014-09-11 13:55] kkaefer commented on #825
Maybe Google Courgette: http://www.chromium.org/developers/design-documents/software-updates-courgette?

[2014-09-11 16:08] MarkWS commented on #824
Same on my end, would be nice to have access to other dirves.
Win 7 Pro

[2014-09-11 16:12] MarkWS opened #826 "Program Crashes when selecting the "Fonts" tab"
Win 7 Pro
MBS v0.1.0
The program crashes when selecting the "Fonts" navigation tab on the top left.
v.0.0.8 did not crash but 0.0.7 did.
Seems the bug is back.

[2014-09-11 16:16] yhahn commented on #826
@MarkWS interesting -- could you post `app.log` again?

[2014-09-11 17:24] yhahn opened #827 "Update+test atom-shell"
Looks like there've been some fixes esp on the windows side. Look into this for the next release.

[2014-09-11 18:33] yhahn opened #828 "Windows: sophos scanner considers atom.exe harmful"
Tracking the upstream atom-shell issue here: https://github.com/atom/atom-shell/issues/651

No known workarounds atm in Mapbox Studio (other than disabling these scanners).

[2014-09-11 19:28] cappelaere opened #829 "Project saved in Styles?"
Using Mapbox-Studio, I can upload a project to Mapbox and get a Map ID.  However, when I go to web and log in, the project is loaded under "Styles" and not "Projects".
Am I doing something wrong in the GUI?
Thanks.
Pat.

[2014-09-11 19:31] willwhite commented on #829
Hi Pat,

That is expected behavior. Styles upload from Studio will appear on the Styles tab of mapbox.com.

Will

[2014-09-11 19:31] #829 closed, assigned to nobody

[2014-09-11 19:35] cappelaere opened #830 "Mapbox outdoors locked?"
I select a new project and Mapbox Outdoors style.
Then go to Layers to add a data source
at the top, it says: "Source locked (custom layer order)" and I cannot change source.
It works with at least with Basic and OSM Bright 2 styles...
Thanks.
Pat.

[2014-09-11 19:37] yhahn commented on #830
Yes, this is an advanced feature that Mapbox Outdoors uses to customize the layer order/instances from the vector tile source (https://github.com/mapbox/mapbox-studio-mapbox-outdoors.tm2/blob/master/project.yml#L19-L44).

I'll add this to our docs in an advanced section.

[2014-09-11 19:41] cappelaere commented on #830
Thanks.  Please let me know how to work around this to get a terrain background for the maps.  This is really cool to have to show floods.  I will be showing this feature to NASA Servir at end of month in Huntsville.  Great work.

[2014-09-11 19:44] cappelaere commented on #829
I was really expecting to upload a project though and see it in the “projects” section.
How do I do that then?
Thanks,
Pat.

On Sep 11, 2014, at 3:31 PM, Will White notifications@github.com wrote:

[2014-09-11 19:58] willwhite commented on #829
Mapbox.com projects are different from Mapbox Studio Styles so they are each listed on their respective tabs. It is not possible to customize the UI in this way.

[2014-09-11 20:04] cappelaere commented on #829
But Studio allows me to add a data source to a style and save it (as a style).  This does not seem that different to me from a project. In my case, I want to show flood maps and have them hosted on Mapbox.  What would be the right flow?
Thanks.
Pat.

[2014-09-11 20:16] cappelaere commented on #829
It does say that this is a Map Studio that is replacing TileMill for vectors.  So I am expecting to be able to use it for my vector projects. Is this wrong?  or is it not quite ready yet?

[2014-09-11 21:09] willwhite commented on #829
Sorry for the confusion. I think the terminology is not completely clear right now. Studio Styles use vector tiles for their data sources and are created/edited using the Mapbox Studio desktop app.

Meantwhile, mapbox.com projects use a different rendering technology and can only be edited on Mapbox.com. They don't interact with Mapbox Studio or vector tiles.

Once you upload your Studio style it

[2014-09-11 21:19] cappelaere commented on #829
Will,

Thank you for clarification.  This is a little confusing but you guys are running at the speed of light.
Since my flood maps are in geojson format, they can be vectorized and used as a data source in a “style”.
I am fine with uploading them as “styles” for the time being (and avoid confusion)
So I just need to have issue with Mapbox Outdoors  #830 resolved at some point or work around it.
T

[2014-09-11 22:14] yhahn commented on #727
https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-advanced-features.md#utfgrid-interactivity

Sorry for the delay.

[2014-09-11 22:14] #727 closed, assigned to yhahn

[2014-09-11 22:15] yhahn commented on #830
@cappelaere added docs for what's going on here:

https://www.mapbox.com/guides/style-manual/#custom-layer-order

For your specific case you'll want to do two things:
1. Add the mapid of your additional vector tile source to the end of the `source:` field, e.g.

[code]
2. Add one or more entries to `layers:` for the custom layers you want to style.

[2014-09-11 22:15] #830 closed, assigned to yhahn

[2014-09-11 23:35] standyro opened #834 "Source Quickstart style bug when uploading layers"
Experienced this UI/style bug when following the <a href="https://www.mapbox.com/mapbox-studio/source-quickstart/">Source Quickstart tutorial</a> and uploading a data layer. Fixes itself by clicking add one now, and closing window.

<img src="http://i.imgur.com/qmlf6fY.png" title="Hosted by imgur.com" />

[2014-09-12 03:51] cartdeco commented on #751
Yes 32 bit. Have solved the problem. This seems to be related to the Sophos virus scanner issue. Disabling Sophos in the Services panel fixes this.

[2014-09-12 04:52] pnorman commented on #659
A layer with this in SQL works fine in TileMill, so it looks studio specific. I'm not sure if it should be fixed here or upstream in Mapnik.

[2014-09-12 05:54] yhahn commented on #751
@cartdeco ok, this is an instance of https://github.com/mapbox/mapbox-studio/issues/828 ?

Going to close here and track there -- reopen if not the case.

[2014-09-12 05:54] #751 closed, assigned to nobody

[2014-09-12 05:58] #827 closed, assigned to nobody

[2014-09-12 14:32] cappelaere opened #836 "center zoom value must be greater than or equal to minzoom x"
I was trying to adjust my settings minzoom to something > 0 and save the style when I got that error.
It is not obvious how to change the center zoom value here....
It would be great to be able to save the style at current center and zoom values with min/maxzoom defined in the settings.  It does not seem to do this.
Thanks.
Pat.

[2014-09-12 15:37] yhahn commented on #828
Good notes upstream here: https://github.com/atom/atom-shell/issues/651#issuecomment-55415391

Next action: look into signing atom.exe the way we do for our installer.

[2014-09-12 19:23] mikeseeh commented on #718
We have the same problem on Windows 7.

[2014-09-12 21:55] savannahjune opened #837 "Cannot start Mapbox Studio version Darwn x64-v0.1.1"
I cannot start Mapbox Studio version Darwn x64-v0.1.1 either from downloading it from https://www.mapbox.com/mapbox-studio/#darwin or by cloning it from github.

When I download via github I get this error from npm-debug.log:

0 info it worked if it ends with ok
1 verbose cli [ 'node', '/usr/local/bin/npm', 'start' ]
2 info using npm@2.0.0-alpha-5
3 info using node@v0.10.31
4 verbose node symlink

[2014-09-13 10:40] mapperfr commented on #836
Same problem here !

[2014-09-13 16:39] yhahn commented on #837
Hi @savannahjune -- we're having trouble reproducing this issue which always makes it tougher to debug : ) Let's start by trying to get your `git clone` working -- could you post the output of the command

[code]

From the directory you cloned mapbox-studio to?

[2014-09-14 21:21] peterm95018 opened #839 "Connecting to Postgis"
In my local setup, I've had TileMill interacting with postgis. I'm unable to connect Studio to postgis without this error, missing required field "table" (type=data) for layer "postgis".

[2014-09-14 23:35] peterm95018 commented on #839
Ok. After pasting a known good query into the textfield under SQL, I made a successful connection. This can be closed. It might be helpful to label the textfield with 'Table or subquery' as it appears in TM.

[2014-09-14 23:35] #839 closed, assigned to nobody

[2014-09-15 10:49] ashleyclough opened #840 "Overlaid transparent polygons across tile borders"
In TileMill I was able to render a single layer of overlapping polygons in a single data source to produce a range of composite colours on a blue-neutral-green spectrum. I can't find a suitable data buffer value that will allow me to reproduce the effect in Mapbox Studio - I've tried 0 and 64 and a range of intermediate values but always get tile join lines as shown in the image.

Each individual

[2014-09-15 14:02] yhahn commented on #840
@ashleyclough I've not seen this issue before with transparent polygons. To rule out one of the possibilities could you set your map's image format to **png (24-bit)** if it isn't already? It's possible the 8-bit alpha png generation is squashing some of the transparency out of different tiles.

[2014-09-15 14:22] ashleyclough commented on #840
That's sorted it - all now rendering correctly. Thanks.

[2014-09-15 14:23] yhahn commented on #840
:+1:

[2014-09-15 14:23] #840 closed, assigned to ian29

[2014-09-15 15:32] ashleyclough opened #841 "Where is gridLayer/utf interactivity data?"
Where is embedded data and how do I get to it with the mapbox.js API? Is read from a source or a style? In TileMill we were able to attach 'teaser' data that could be interrogated by the JS API - the data is in my source files but the current version of Studio and its documentation doesn't seem to mention it (or at least I can't find it).

[2014-09-15 15:34] yhahn commented on #841
https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-advanced-features.md

[2014-09-15 15:34] #841 closed, assigned to nobody

[2014-09-15 15:47] samanpwbb opened #843 "[source mode] Refresh map preview after delete"
After deleting a layer, layer still displays in xray preview until you take another action that refreshes the map.

[2014-09-15 15:48] yhahn commented on #843
@samanpwbb can you roll these into a quest ticket that is about all actions in source mode leading to refresh? We have like half a dozen piecemeal tickets that skirt the issue.

[2014-09-15 15:48] samanpwbb commented on #843
:+1:

[2014-09-15 17:38] samanpwbb opened #844 "[source + style] refresh quest"
### Style usability adjustments:
- [x]  Divide saving to disk and refreshing into separate actions. `cmd+s` -> saves to disk, ~~`cmd+r`~~ `cmd+space` (for now?) -> refreshes map view.
- [x] Ensure alert notice is triggered if user tries to exit screen if work is unsaved (even if it's fully 'refreshed').
- [x] Add a visually disabled, 'saved' state to save button so user always knows if work is alr

[2014-09-15 17:39] samanpwbb commented on #544
Replaced by https://github.com/mapbox/mapbox-studio/issues/844

[2014-09-15 17:39] #544 closed, assigned to karenzshea

[2014-09-15 17:40] samanpwbb commented on #843
Replaced by https://github.com/mapbox/mapbox-studio/issues/844

[2014-09-15 17:40] #843 closed, assigned to nobody

[2014-09-15 17:40] samanpwbb commented on #536
Replaced by https://github.com/mapbox/mapbox-studio/issues/844

[2014-09-15 17:40] #536 closed, assigned to nobody

[2014-09-15 17:40] samanpwbb commented on #545
Replaced by https://github.com/mapbox/mapbox-studio/issues/844

[2014-09-15 17:40] #545 closed, assigned to karenzshea

[2014-09-15 17:43] samanpwbb commented on #719
With #844 ambiguities around whether a change to a layer is applied or not would go away.

I'm not sure what this source is supposed to look like @stevage so I can't say if there are other bugs at play here as well.

[2014-09-15 17:53] samanpwbb commented on #788
Replaced with https://github.com/mapbox/mapbox-studio/issues/844

[2014-09-15 17:53] #788 closed, assigned to nobody

[2014-09-15 17:54] samanpwbb commented on #749
This was an issue on my end.

[2014-09-15 17:54] #749 closed, assigned to nobody

[2014-09-15 17:55] samanpwbb commented on #767
Codemirror panel is also problematic in source mode (notice the vertical scrollbar:
![screen shot 2014-09-15 at 1 31 10 pm](https://cloud.githubusercontent.com/assets/108094/4275968/66a8c3f4-3d01-11e4-88ac-36de0cd32de1.png)

[2014-09-15 17:59] samanpwbb commented on #146
@yhahn did this:
![screen shot 2014-09-15 at 1 59 02 pm](https://cloud.githubusercontent.com/assets/108094/4276052/ffb16eac-3d01-11e4-9091-c06522406aad.png)

[2014-09-15 17:59] #146 closed, assigned to nobody

[2014-09-15 17:59] ian29 commented on #146
hooray its back! cc @karenzshea

[2014-09-15 19:55] yhahn commented on #836
Addressed in #842.

[2014-09-15 19:55] #836 closed, assigned to yhahn

[2014-09-15 19:55] #279 closed, assigned to yhahn

[2014-09-16 07:21] yhahn commented on #844
@samanpwbb got through the first chunk of this on the style side in `refreshquest`. Will focus on source editor tomorrow.

Went with `ctrl+space` for now because `ctrl+r` is refresh in browsers. `ctrl+spaces` isn't great either (I think this is often taken for locale switching) but is less overloaded in the context of a browser I think.

[2014-09-16 18:30] yhahn commented on #828
Should be addressed in v0.1.2 release. https://www.mapbox.com/mapbox-studio/#win32

[2014-09-16 18:30] #828 closed, assigned to yhahn

[2014-09-16 21:24] MarkWS opened #847 "Importing old TileMill projects"
Has anyone imported their old TileMill projects into MBS and if so can you enplane how?
We have some projects that reference a local DB so I don't think we can just cut and past the CSS
I'm still on v0.1 so this and accessing other drives may be resolved by now.

[2014-09-17 00:26] wboykinm opened #849 "Add Natural Earth remote sources"
It was always nice that Tilemill had the Natural Earth sources on a CDN with easy access. @GretaCB @yhahn - would it be crazy onerous to serve those from a Mapbox vector tile endpoint? Graticules and bathymetry in particular would be useful to just have at the ready, and they can't take up even a fraction of the bandwidth occupied by streets, terrain and satellite.

[2014-09-17 00:27] wboykinm commented on #847
FWIW I've mostly been copying the `.mss` bits and pasting them in, then sorting out what sources can be made available. The sources architecture has changed a lot, making a project port difficult to envision.

Related is #849

[2014-09-17 08:50] flemmens opened #850 "Application crashes when adding new layers"
I am unable to load some data from a postgis database. It works well when adding small tables (for instance a list with countries boundaries) but when I try to add bigger tables (ie. a table containing 1M polygons with administrative regions divisions), it begins to load some parts, then the program crashes and closes itself. When I relaunch it 2-3 times, sometimes it continues to load the missing

[2014-09-17 08:57] flemmens commented on #850
And also a small thing, could you please keep the information of postgis connection as for now we have to re-enter all the parameters each time we connect a new table, it is really annoying. In Tilemill we can create favorites with connection settings, we didn't find anything like this in studio.

[2014-09-17 14:56] yhahn commented on #850
@flemmens thanks for your notes -- we've run into stability issues between Studio + PostGIS on windows as well (vs. a very stable experience on OS X and Linux). If it's an option for you to use either OS X or Linux as a workaround it's what I would suggest until we get to the bottom of windows+postgis instability.

[2014-09-17 15:47] yhahn opened #851 "Uninstall before installing"
Installer needs to check for an existing mapbox-studio install and prompt the user / remove it if present.

[2014-09-17 16:26] jeichert opened #853 "Exporting Images at z18+"
Been trying to export images at z18 a few times, only 49% of image size, however it seems to hang, and never finish exporting, while at z17 it exports immediately.  Anyone else have this issue?

[2014-09-17 16:34] flemmens commented on #850
Ok thanks, we will wait for the update then. Actually the current Windows version is absolutely not usable, it crashes every 5 min for various reasons (sources import, styling, export), we were not able to complete even a small project.

[2014-09-17 16:43] yhahn commented on #850
@flemmens if you could send or post the `app.log` file from the `.mapbox-studio` folder in your user's home directory that would be very helpful.

I've not run into crashes like you're mentioning so your logs will definitely help for debugging what things are triggering crashes.

[2014-09-17 16:53] camilleanne commented on #853
@jeichert Large images (49% can still be 10,000 x 10,000 pixels) require stitching many tiles together and may take a couple of minutes to complete. There may be a condition where that process is interrupted however, and may hang. Are you navigating anywhere else within Mapbox Studio or something similar while waiting for the export?

[2014-09-17 17:08] savannahjune commented on #837
Hi @yhahn ,

Sure thing, here's the output from the directory:

[code]

Thanks,
Savannah

[2014-09-17 17:20] savannahjune commented on #795
@yhahn No, I updated from the previous version.  I haven't lost any project's sources, as I saved them in a separate place when updating, but was unable to add any new local sources.  However, since then this issue has become more pressing: https://github.com/mapbox/mapbox-studio/issues/837 This can rest for a while since it probably won't persist in the latest version once I get it running.

[2014-09-17 19:58] flemmens commented on #850
Sure, here is the log:

Mapbox Studio @ http://localhost:3000/
Error: EPERM, readdir 'C:\Documents and Settings'
Error: EPERM, readdir 'C:\Documents and Settings'
Error: EPERM, readdir 'C:\Documents and Settings'
Mapbox Studio @ http://localhost:3000/
Mapbox Studio @ http://localhost:3000/
Mapbox Studio @ http://localhost:3000/
Error: Failed to find font face 'Komika Hand Bold' in style 'place_lab

[2014-09-17 20:10] samanpwbb opened #854 "auto-centering is too far zoomed in"
When adding new sources, especially those with broad geographic bounds, I usually end up with this screen:

![screen shot 2014-09-17 at 4 09 48 pm](https://cloud.githubusercontent.com/assets/108094/4310460/a6dade48-3ea6-11e4-9904-27806b8cfe08.png)

[2014-09-17 20:16] GretaCB commented on #849
Hey @wboykinm , thanks for the note. We're currently working on [getting Natural Earth vector data into Mapbox Studio](https://github.com/mapbox/natural-earth-tm2).

[2014-09-17 20:16] #849 closed, assigned to nobody

[2014-09-17 20:51] ian29 opened #855 "no save modal for unchanged default style or source project"
if you land on a the default style or source projects, and then try to navigate away, you'll be prompted to save your changes. dont show this modal for untouched default projects

![](http://cl.ly/image/3T3D1f0p2w2V/Image%202014-09-17%20at%204.49.37%20PM.png)

cc @samanpwbb

[2014-09-17 20:53] yhahn commented on #855
Cool, we just need to nuke the changed classes from:
- https://github.com/mapbox/mapbox-studio/blob/mb-pages/templates/style.html#L38
- https://github.com/mapbox/mapbox-studio/blob/mb-pages/templates/source.html#L29

and update tests.

[2014-09-17 20:59] wilhelmberg commented on #851
May I suggest to only prompt the user if he's about to downgrade.
Otherwise remove old version silently and install new one.
How does this sound?

[2014-09-17 22:03] flemmens opened #856 "Sources Map ID error"
Another bug in Windows version:

In the Layers tab, if I try to change the source, the map ID displayed is incorrect.
For instance, my map is: "tmsource://c/Users/FLP/Countries.tm2source"
When I go to local source, then choose my map in the list, it displays:
"tmsource://c:/Users/FLP/Countries.tm2source", with a : after the c, which is incorrect, the source won't load, I have to manually correct t

[2014-09-17 22:41] samanpwbb opened #858 "Dead end if save errors"
Tried to save a project with a reference to a nonexistent svg file. When first attempting to 'save as', I get an error about the missing file and it seems like I was not able to save. Then, I try to 'save as' again and see:
![screen shot 2014-09-17 at 6 38 34 pm](https://cloud.githubusercontent.com/assets/108094/4312578/c02ce35e-3ebb-11e4-8ed7-5d86b410bfee.png)

hit this again with a simple carto

[2014-09-17 22:42] yhahn commented on #858
zxvlkj

[2014-09-18 00:11] wboykinm commented on #849
:+1:

[2014-09-18 01:45] ianshward commented on #837
@savannahjune could you try installing an older version of NPM, like 1.4.27, remove the node_modules folder, and do a fresh `npm install`?  This is somewhat of a shot in the dark, based on unexpected behavior I saw today using NPM 2.0.0 and node 0.10.31, but with a different node project.

[2014-09-18 03:36] savannahjune commented on #837
switched npm versions. latest error:

npm ERR! Error: ENOENT, open '/Users/Savannah/mapbox-studio/node_modules/package.json'
npm ERR! If you need help, you may report this _entire_ log,
npm ERR! including the npm and node versions, at:
npm ERR!     http://github.com/npm/npm/issues

npm ERR! System Darwin 13.3.0
npm ERR! command "node" "/usr/local/bin/npm" "start"
npm ERR! cwd /Users/Savannah/mapbo

[2014-09-18 08:57] runsnowdonia opened #859 ".gpx file not autodetecting projection when adding source"
Attempting to add .gpx file as layer in new source in Mapbox Studio. The .gpx file looks fine, however when adding it as a layer the Projection is listed as: +init=epsg:4326 and when the 'fields' tab is clicked the following: "No available fields. Make sure your layer is referencing valid data."

.gpx file content:

![gpsbabel 18092014 100145](https://cloud.githubusercontent.com/assets/8612588/431

[2014-09-18 14:20] behboud opened #860 "OAuth proxy"
We have a coporate proxy. Trying to run mapbox studio we get following error:

[code]

I think this is because of the oauth not using http_proxy environment variable. Is there a workaround?

[2014-09-18 14:24] yhahn commented on #837
^^ @savannahjune it looks like you might have run `npm install` from the `mapbox-studio/node_modules` directory. You'll want to cd back to the `mapbox-studio` directory and from there:

[code]

[2014-09-18 15:37] yhahn commented on #854
Upstream in mapnik-omnivore.

[2014-09-18 15:41] yhahn commented on #855
https://github.com/mapbox/mapbox-studio/pull/861

[2014-09-18 15:41] #855 closed, assigned to nobody

[2014-09-18 15:45] yhahn opened #862 "Reindent style.js/source.js"
4 spaces like our other js. Will give you the heads up and do this when we're at a paused point.

cc @samanpwbb @camilleanne

[2014-09-18 15:49] samanpwbb commented on #862
I've been tempted to do this on a few occasions. Sounds good.

[2014-09-18 16:14] GretaCB commented on #854
Hey @samanpwbb, this is set [here in mapbox studio](https://github.com/mapbox/mapbox-studio/blob/mb-pages/app/source.js#L347). `metadata` is the info coming from `mapnik-omnivore`.

Originally I was setting zoom level for the map view to `maxzoom - 1`, but this was zooming out too much for some files. This was a tricky middle ground, because if a file has very little data, like city border of DC (

[2014-09-18 16:18] GretaCB commented on #854
@samanpwbb @yhahn I can also play around in mapnik-omnivore with setting maxzoom to a larger/smaller number depending on if avg tilesize is less than 1000 (some threshold for "less data per tile"?
- less data in the tiles -> larger the maxzoom
- more data in the tiles -> smaller the maxzoom

to help buffer this a bit.

[2014-09-18 16:21] yhahn commented on #854
@samanpwbb @GretaCB hrm... I don't know if there is a perfect zoom level that can be autodetected easily for every datasource without actually doing a lot of work and finding tiles in the source that have data. `maxzoom - 1` has worked pretty well for most sources so far. Other things I've tried in the past:
- minzoom
- the exact middle zoom between minzoom and maxzoom (e.g. for 0-10 => 5)

There

[2014-09-18 16:29] samanpwbb commented on #854
This sounds better than maxzoom. Then, minzoom runs into issue where tiles don't render at z0 or z1 (due, i think, to size issues with vector tiles).

[2014-09-18 16:33] samanpwbb opened #863 "Better empty state for tiffs"
Loaded a tiff, it looks fine, here's the 'fields' screen:

![screen shot 2014-09-18 at 12 32 22 pm](https://cloud.githubusercontent.com/assets/108094/4323562/73b3b930-3f51-11e4-8918-3d7e75733bc6.png)

@GretaCB are there cases where tiffs will have fields?

We might want to solve this my simply changing the text to 'no fields' or something.

[2014-09-18 16:53] samanpwbb opened #864 "visibility toggle has no effect on raster layers"
They're always visible.

[2014-09-18 17:20] samanpwbb opened #865 "Set changed if layer is deleted"
![2014-09-18 13_19_47](https://cloud.githubusercontent.com/assets/108094/4324215/0441ba78-3f58-11e4-82d6-823362405281.gif)

After deleting layer, save button state should change and alert should appear on page exit.

[2014-09-18 17:41] samanpwbb opened #866 "Document 'map' cartocss rules"
These aren't available anywhere from mapbox studio:
https://www.mapbox.com/carto/api/2.3.0/#map

[2014-09-18 18:38] savannahjune commented on #837
I cd'ed back into mapbox-studio, ran rm-rf node_modules, and then npm install.

[code]

Install worked, with only one warning:

[code]

Then I tried npm start and got this error message:

[code]

[2014-09-18 18:43] yhahn commented on #837
@savannahjune if you run

[code]

Do you get the same error?

[2014-09-18 18:46] savannahjune commented on #837
I get this error:

[code]

[2014-09-18 19:04] skorasaurus opened #869 "Value -nan can not be represented in the target integer type. (Boost error?)"
I'm getting the following error while browsing a style that I made:
`Error in function boost::math::round(double): Value -nan can not be represented in the target integer type.`

As shown in the image below:
![selection_050](https://cloud.githubusercontent.com/assets/955351/4325574/8923893e-3f66-11e4-9b75-49a1eb26ba4a.png)

Otherwise, tm2 is operating as normally expecting.

I'm using a self-built

[2014-09-18 19:11] yhahn commented on #837
@savannahjune hrm, this likely means that `.mapbox-studio/app.db` and other files in that directory have permissions that your current user doesn't have access to write to.

Did you ever run mapbox studio as root/using `sudo` or as an Administrator?

[2014-09-18 20:58] springmeyer commented on #824
Noting the fix in tilemill that may or may not help with solving this one: https://github.com/mapbox/tilemill/issues/1679

[2014-09-18 23:19] camilleanne commented on #856
@flemmens We've got a fix for the path issue coming up.

But regarding compositing multiple sources, you can only composite remote sources.

If you want to composite a custom source with Mapbox Streets for instance, you will need to upload your custom source to Mapbox.com from the source view. Sources can be uploaded without a Standard account. If you would like to upload your style to Mapbox.com

[2014-09-18 23:52] savannahjune commented on #837
Hi @yhahn ,

Great news, studio's working for me again!  I do not think I ever ran mapbox studio as root/using sudo or as an Administrator but I did take a stab at re-downloading the files after deleting the .mapbox-studio folder from users/Savannah where the main mapbox-studio folder is located.

Then it worked properly and I am now using studio again!  Not sure if it was because I deleted and re

[2014-09-18 23:55] geografa commented on #837
:+1: yes @savannahjune!

[2014-09-19 09:47] esisa opened #873 "minzoom in source changes its value"
minzoom in the source settings panel has a tendency to change it value. Seems to be totally random for me when it happens so I cannot give steps to replicate. However, it mostly goes from a higher value to a lower value. For examle 13 to 10.

[2014-09-19 10:28] flemmens commented on #856
Uploading our data on Mapbox is not an option. 1) Our license model do not allow us to export these data on third party servers 2) The size is about 500Gb which means the upload would take days to complete 3) Your biggest plan offer a total storage of 30Gb which is a way to small.

In my opinion, the greatest advantage of studio compare to tilemill would be the possibility to combine customized Ma

[2014-09-19 13:28] jeichert commented on #853
I just gave it a couple more shots, and it seems to be working better, I was able to do a number of exports at z18 and z19.  So it may have just been a weird error with my computer or something. Thanks!

[2014-09-19 13:28] #853 closed, assigned to camilleanne

[2014-09-19 14:44] samanpwbb opened #874 "Style export status indication"
Add loading + success states after exporting an image.

[2014-09-19 15:18] yariksheptykin commented on #865
Hi! This could be fixed by appending window.editor.changed(); at the end of the Modal.show handler in app/source.js:372.
I can send a pull request for this if somebody helps me writing a test.

[2014-09-19 15:21] samanpwbb commented on #865
I've got it covered :)

[2014-09-19 15:24] yariksheptykin commented on #865
Good! Area there any docs on writing tests for the studio?

[2014-09-19 15:28] samanpwbb opened #875 "Document test writing best practices"
Add as section to CONTRIBUTING.md. Refs https://github.com/mapbox/mapbox-studio/issues/865#issuecomment-56192053

[2014-09-19 18:45] #866 closed, assigned to nobody

[2014-09-19 20:19] #844 closed, assigned to samanpwbb

[2014-09-19 20:19] #854 closed, assigned to nobody

[2014-09-19 20:20] #865 closed, assigned to samanpwbb

[2014-09-19 20:20] yhahn opened #876 "Docs runthrough"
We've changed quite a few things recently, do a quick sweep of source/style quickstart to make sure there's nothing rocky.

[2014-09-19 20:31] #856 closed, assigned to nobody

[2014-09-19 23:56] camilleanne commented on #874
This is hard -- I don't remember why exactly, but it's hard to pass a 'success' state back to the client. I will look into it again.

[2014-09-20 17:24] samanpwbb commented on #874
Ya, @yhahn mentioned that it may be better to wait until atom shell handles downloads.

[2014-09-22 14:50] flemmens opened #878 "Unable to type # and { characters in Windows version"
All is in the title, it is impossible to type # or { characters in the style sheet, the only way I have found is to use copy/paste.

[2014-09-22 14:55] yhahn commented on #878
Hrm, I'm unable to reproduce this. Anything special about your setup (keyboard/otherwise?) that could help us track this down?

[2014-09-22 20:08] #837 closed, assigned to nobody

[2014-09-23 07:28] wilhelmberg commented on #878
Strange, I can partially reproduce with MBS 0.1.2 on W7, W8.1 and Server 2012.
All with GUI set to EN and keyboard set to DE:

`#` works
`}` works
`{` doesn't work

[2014-09-23 09:19] flemmens commented on #878
Nothing special about my keyboard, this is the only software where I have this issue. It works correctly in Tilemill too. I use a French/Belgian keyboard.

[2014-09-23 10:05] wilhelmberg commented on #878
`[` and `]` also don't work for me.

[2014-09-23 11:56] wilhelmberg commented on #611
@yhahn or @springmeyer
I might be missing something obvious, but how to I get the installer that has been created by nsis from travis?

[2014-09-23 12:02] yhahn commented on #611
@BergWerkGIS it is uploaded to s3 so you can download it at:

[code]

The url is in the logs of publish builds, e.g. https://travis-ci.org/mapbox/mapbox-studio/jobs/35459762#L1532

[2014-09-23 12:08] wilhelmberg commented on #611
Thanks. I looked through the log, but missed this line.

[2014-09-23 15:14] GretaCB commented on #863
@samanpwbb right now there are no cases where tiffs will have fields. So yeah, probably just show a generic 'no fields' message for rasters.

[2014-09-23 18:37] baditaflorin opened #879 "Mapbox Studio osm_id is limited to 32 bits or somehow some osm_id have negative numbers"
poi_label
address
localrank 5
maki shop
name Librăria Luceafărul
name_de Librăria Luceafărul
name_en Librăria Luceafărul
name_es Librăria Luceafărul
name_fr Librăria Luceafărul
network
osm_id -501911073
ref
scalerank 4
type Books
website
![negative osm id](https://cloud.githubusercontent.com/assets/2330999/4377556/ff73b1f8-434f-11e4-9403-7f4b9ecc76ee.png)

http://www.openstreetmap.org/node/5019110

[2014-09-23 18:44] ajashton commented on #879
Hi,

osm_ids in the mapbox-streets vector tile source are modified from the original osm_ids in order to avoid conflicts between the overlapping number spaces of nodes, ways, and relations. See the OSM IDs section of the [Mapbox Streets vector tiles documentation](https://www.mapbox.com/developers/vector-tiles/mapbox-streets/) for details about the transformations.

[2014-09-23 18:44] #879 closed, assigned to ajashton

[2014-09-23 18:55] baditaflorin commented on #879
hmm, this kind of complicate my idea.

I want to use Mapbox studio beyond making a map, i want to use it as a analyst tool to show the age of a POI

The idea is that if a restaurant or club POI is older then 5 years, let`s say , is possible that that amenity is now closed.

I was looking to make a map that show old poi in different colors, to know the poi that we need to verify on mapillary or do

[2014-09-23 19:17] ajashton commented on #879
You could do that, but it would have to be with a [custom vector tile source](https://www.mapbox.com/mapbox-studio/source-quickstart/) since the mapbox-streets vector tiles do not contain any modification date information. (The osm_id can be a useful approximation of the object's creation time, but its common for very old objects to be kept up-to-date with recent edits.)

If your idea is to correl

[2014-09-23 22:06] baditaflorin opened #880 "Export limit ?"
There is a export limit size ?

I see that over 20000x20000 i will get red and it will not allow me to save.

If i try to save around 10000x10000 it will only create the file, that will have 0 bytes, and it will not give any error message

[2014-09-23 22:18] ajashton commented on #880
10000x10000 is a large image; you will have to wait a bit for the file to finish being made. See #809 for updates about UI improving the feedback about work happening in the background.

[2014-09-23 22:56] samanpwbb opened #881 "Document expressions (waiting on mapnik 3.x.x)"
See https://github.com/mapnik/mapnik-reference/pull/79

[2014-09-23 23:01] springmeyer commented on #881
Just a note that this can be tested before actually upgrading to Mapnik 3.x (since mapnik-reference and carto don't actually depend on Mapnik 3.x directly) by flipping the `2.3.x` to `latest` in the places evident in https://github.com/mapbox/mapbox-studio/pull/768/files.

But yes, once Mapnik 3.x is actually released then I'll add a new mapnik-reference entry for `3.0.x` we can point at.

[2014-09-24 17:13] yhahn opened #883 "Calculate source extents for sources in non WGS84/900913 projections"
This extent function currently only handles WGS84/900913 source files. Source layers in any other projection are being skipped leading to extent calculations of ~ -180,-85.0511,180,85.0511 -- aka, way too large.

https://github.com/mapbox/mapbox-studio/blob/mb-pages/lib/source.js#L294-L320

Look into maybe using node mapnik's projection API for handling this.

https://github.com/mapnik/node-mapnik

[2014-09-24 17:39] springmeyer commented on #883
:+1:

[2014-09-24 20:41] karenzshea opened #884 "Better indicate errors in carto"
![screen shot 2014-09-24 at 4 45 36 pm](https://cloud.githubusercontent.com/assets/5521326/4395516/c96e3100-442b-11e4-94f0-91c5f6805734.png)

For carto errors that don't trigger a modal, Is there a way to either move to where the error is tabbed in the style or at least indicate which tab it's in? Sometimes I make a few changes and then save only to have to scroll through each tab to find one miss

[2014-09-25 17:56] MichaelMarkieta commented on #395
Would love to hear an update.

[2014-09-25 18:09] KristinHenry opened #886 "unzip install folder failed on ubuntu 14.04"
To recreate:
1. click on install button on website and begin download for mapbox studio
2. open local download folder and locate zipped folder
3. mouse over folder, and select "extract here" option

result: "failure to extract files"

Running ubuntu 14.04

[2014-09-25 18:11] springmeyer commented on #395
The main puzzle piece to get this working is mostly done in Mapnik 3.x, but is waiting on a node-mapnik release based on Mapnik 3.x which involved a lot more that just font improvements. Thanks for everyone's patience. You can see when this lands at https://github.com/mapnik/node-mapnik/issues/317.

[2014-09-25 20:40] GretaCB commented on #883
PR here: https://github.com/mapbox/mapbox-studio/pull/887

~~Merging.~~ Merged.

[2014-09-25 20:40] #883 closed, assigned to GretaCB

[2014-09-25 20:54] aaronlidman opened #889 "Can't open directory that ends in .shp"
Was given a zip that unzipped to `Stuff.shp/` but I can't navigate into it with the file browser, it just sits there. No js errors.

[2014-09-26 01:44] diligentpig opened #891 "Upload source project crashes MB Studio every time on specific data.(Windows)"
Reproduce steps:
1. Download SF footprints data here: https://data.sfgov.org/Geographic-Locations-and-Boundaries/Building-Footprints-Zipped-Shapefile-Format-/jezr-5bxm
2. In mapbox studio, new a source project and add a new layer which data source is the SF footprints shapefile downloaded above.
3. Save the project, and in setting page, click "Upload to Mapbox":
![image](https://cloud.githubuserco

[2014-09-26 02:07] springmeyer commented on #891
We are working on and very close to releasing a 64 bit version of Mapbox studio for windows. It may be that the memory needed to render the data is exceeding what the current, 32 bit, app is allowed to use. Just a guess. Anyway, we will take a closer look. Thanks for the report.

[2014-09-26 02:10] springmeyer commented on #891
Another idea: this shapefile has a lot of attribute fields. You might try editing the data to remove all the attributes you don't need and then try again. (Note: in the future we plan to provide a mechanism to strip attributes on the fly to save space).

[2014-09-26 02:13] wboykinm commented on #368
:+1:

@yhahn are there technical or licensing limitations on the ability to composite a local source on a remote one? It's definitely not working on my setup.

![sources](https://cloud.githubusercontent.com/assets/735463/4414968/a3baafc2-4522-11e4-979f-edb6fa4024ba.gif)

I think I would find the platform rapidly-limiting if I'm unable to easily (read: without quickly filling up my account storage

[2014-09-26 04:16] yhahn commented on #368
Currently only remote sources can be composited -- the compositing is done by the mapbox api at the moment. At some point I can try a sketch of local + remote compositing but am unsure of whether the experience will be desirable given that the performance of local sources is far less consistent/reliable.

[2014-09-26 06:58] diligentpig commented on #891
Hi @springmeyer , thank you for your quick replay, and by follow your suggestion, I drop several fields of the shapefile and keep only about 5 or 6 fields, than I add it to Mapbox Studio, finally I uploaded the data successfully to my accout! Cheers:)

PS: With original data, while upload, usage of memory of node.exe quickly raise up to 900MB and then it crashed Mapbox Studio. With the modified da

[2014-09-26 07:44] wilhelmberg commented on #891
My 2 cents:

Studio crashed the first 3 times I tried to add the shapefile and clicked on 'Done'.
With the 4th try adding was successfull.
Upload seemed to hang for quite some time at 0.1% before I killed it.
node.exe was idling at 0 to 1% CPU and 95MB RAM.

ArcGIS 'Check Geometry' found about 20 self intersecting geometries.
QGIS 2.4 'Topology Checker' reports 557 invalid geometries.

After remov

[2014-09-26 20:07] amyleew opened #892 "Allow search by multiples in Places"
It would be cool to be able to search by more than just one feature, location or OSM tag in the Places search box.

![image](https://cloud.githubusercontent.com/assets/4587826/4426847/8407a40a-45b8-11e4-9e2c-b60ca9bbe0a5.png)

/cc @samanpwbb

[2014-09-26 20:27] #735 closed, assigned to samanpwbb

[2014-09-26 21:35] nickidlugash commented on #892
Let's implement AND as default, with an OR option. Maybe this?:

"[firstWord] [secondWord]" = AND
"[firstWord] OR [secondWord]" = OR

@amyleew FYI for roads, this is going to return partial matches for tags, so that e.g. if you search for "road path", this will return not only "road, path", but also "tunnel, path", "road, street" etc. Currently if you just search "road, path" (with the comma), you

[2014-09-26 21:48] samanpwbb commented on #892
Ya, definitely

I would prefer to implement just 'and' to start, and if there continues to be demand for more flexibility, we can add an OR keyword or UI for doing similar as a next step.

[2014-09-26 23:23] nickidlugash commented on #892
If we implement this, I guess we'll have to wrap exact phrases in quotation marks? E.g. "road, main" or "osm data"?

I think this would be useful in the cases where you want to style two features the same way – e.g. you want to style road:service the same as road:driveway. For now you could do two separate searches, but it would be nice to see these in one search.

[2014-09-27 06:34] samanpwbb opened #894 "color picker (again)"
Was curious, so I sketched out how [spectrum](http://bgrins.github.io/spectrum/) might work (https://github.com/mapbox/mapbox-studio/commit/3fa3e3f908427755403f0bd33683d730c1228255):

![2014-09-27 02_34_37](https://cloud.githubusercontent.com/assets/108094/4429959/604e9fac-4610-11e4-926b-8ea642aa8c15.gif)

This is just a prototype that I wrote quickly with jquery, but I think all the concepts (usi

[2014-09-27 08:17] samanpwbb commented on #894
Done: https://github.com/mapbox/mapbox-studio/pull/895

[2014-09-27 08:17] #894 closed, assigned to samanpwbb

[2014-09-29 12:24] yhahn commented on #611
@springmeyer @BergWerkGIS I'm wondering if this would be a simpler approach to this:

**Goal:** eliminate very deep paths in `node_modules` tree. The main directories not being removed are ones in deep `node-pre-gyp` dependency trees -- inparticular `mapnik-omnivore/node_modules/gdal/node_modules/node-pre-gyp/node_modules/*` and `mbtiles/node_modules/sqlite3/node_modules/node-pre-gyp/node_modules/

[2014-09-29 14:21] wilhelmberg opened #896 "Expose shapefile encoding"
I have a lot of shapefiles with `latin1` (German umlauts) and they look like this:

![shapefile-encoding-latin1](https://cloud.githubusercontent.com/assets/4549888/4442737/08b9c3d8-47e2-11e4-9b00-6c0656cb99a0.png)

I tried adding a `CPG` file and `export SHAPE_ENCODING=1252` or `export SHAPE_ENCODING=latin1` before starting studio from the command line, but no effect.

Only thing that worked for m

[2014-09-29 14:23] yhahn commented on #896
Hrm, @BergWerkGIS do you know if the encoding used is stored in the shapefile in a way that could be autodetected by [mapnik-omnivore](https://github.com/mapbox/mapnik-omnivore) ?

[2014-09-29 14:36] wilhelmberg commented on #896
Sure, `code page` in the DBF, but it doesn't have to be correct:
[description](http://www.clicketyclick.dk/databases/xbase/format/dbf.html#DBF_NOTE_5_TARGET)
[file position](http://www.clicketyclick.dk/databases/xbase/format/dbf.html#DBF_NOTE_5_SOURCE)

Another established standard is a `<SHAPEFILENAME>.CPG` accompanying the shapefile.

[2014-09-29 14:39] wilhelmberg commented on #896
Same problem as it was with TileMill:
https://github.com/mapbox/tilemill/issues/557

[2014-09-29 15:02] samanpwbb opened #897 "Appveyor test failures that don't show up in travis"
Appveyor tests are failing:
- https://ci.appveyor.com/project/Mapbox/mapbox-studio/build/1.0.1121
- https://ci.appveyor.com/project/Mapbox/mapbox-studio/build/1.0.1135

Both are failing on the same thing - front end source layer modal tests.

On the other hand, the Travis tests are passing those same tests:
- https://travis-ci.org/mapbox/mapbox-studio/builds/36391771
- https://travis-ci.org/mapbox

[2014-09-29 15:43] keikreutler opened #898 "Build from source on 32-bit Linux"
Hi, I'm running Linux Mint 17 on a 32-bit Mac.

Is there any way I could receive greater instruction as to installing the dependencies from source? Would really love to use MapBox studio.

[2014-09-29 16:26] samanpwbb commented on #892
Just talked with @nickidlugash @amyleew -

Freeform search is not the future of the places interface. It's too easy to get no results because the scope of the search is so limited, and currently the UI doesn't do a good job of managing user expectations: "How come there's _another_ search on the map toolbar? What sorts of things am I supposed to search for here vs there?".

Instead, we should purs

[2014-09-29 17:18] springmeyer commented on #611
@yhahn sounds good. This feels similar to what motivated me to start working on https://github.com/mapbox/node-pre-gyp/pull/80, but using `npm dedupe` is a nice shortcut.

[2014-09-29 17:29] springmeyer commented on #898
@keikreutler - right, as you've noticed we only provide binaries for things like node-mapnik for 64 bit platforms. So if you need to get things working for 32 bit linux then overall the task will be:
- install Mapnik v2.3.0
- ensure you have `mapnik-config` on your path
- then run `npm install mapnik` and make sure it works and if it does then the rest of the install should work

To install Mapnik

[2014-09-29 17:39] yhahn commented on #851
Went with always prompt for now using the example that nsis has.

[2014-09-29 17:39] #851 closed, assigned to nobody

[2014-09-29 18:17] nickidlugash commented on #892
@samanpwbb Just to clarify – are you thinking that we should get rid of the search entirely? I think tag browsing should be the main way to interact with Places, but I also like that right now you can search for sub-strings, e.g. so that searching "road" will return "road:path:steps", etc, and "road:path" will return "road:path:steps", etc.

[2014-09-29 18:20] samanpwbb commented on #892
'road' could just be a tag. There would be no substring searching based on the proposal in my comment above. I am ok with this, as allowing substring matches leads to a mental model that suggests that freeform searching is going to work for a user. In reality, freeform searching leads to a lot failed searches.

[2014-09-29 18:28] nickidlugash commented on #892
@samanpwbb this would mean that, e.g., an entry with 'road:path:steps' would also need tags for both 'road' and 'road:path'. And every city tagged 'city:scalerank1', 'major city', etc would also need to be tagged 'city', and every poi tagged 'poi:scalerank1', 'poi:museum' would also need to be tagged 'poi'. I'm fine with this, but just want you to be aware that this will mean a lot of additional t

[2014-09-29 18:49] samanpwbb commented on #892
@nickidlugash you and @amyleew should sketch wireframes for how you want this to work. The UI should come first, and then adjustments to the gazetteer data structure should follow to match. If you want to be able to filter by both "road", "road path" and "road path steps", which it sounds like you do, lets first figure out what a UI for that should look like then adapt everything else to follow.

[2014-09-29 19:09] amyleew commented on #892
@nickidlugash @samanpwbb  - First pass on sketches for UI... Tag browsing could function as a a filtering tool that you can either refine or expand.

General UI allowing users to search by feature which is either a layer, class or class type. Shows all available tags, categorized by #layer then listing classes and class types.

![image](https://cloud.githubusercontent.com/assets/4587826/4447224/2d

[2014-09-29 22:16] gundersen commented on #894
Lets blog the color picker once we go live @samanpwbb

[2014-09-30 04:06] #611 closed, assigned to nobody

[2014-09-30 04:07] #711 closed, assigned to yhahn

[2014-09-30 04:20] #847 closed, assigned to nobody

[2014-09-30 15:01] ajashton opened #901 "Source export bounding box does not account for buffer setting"
At least I think that is what's going on here:

![](https://pbs.twimg.com/media/Byhf5iuIMAAL4bf.png:large)

The bounding box when you export a source is autodetected, but the buffer necessary for rendering markers, etc doesn't seem to be included for points that fall near tile edges.

cc @MichaelMarkieta

[2014-09-30 15:26] MichaelMarkieta commented on #901
slightly modified json source for the map above

https://gist.github.com/MichaelMarkieta/48bc42d16fe88a54c9f0#file-windfarms-json

[2014-09-30 21:02] yhahn commented on #897
Made some headway on this but haven't 100% stabilized this.

[2014-10-01 01:23] samanpwbb opened #904 "fix font directory example"
![screen shot 2014-09-30 at 9 22 46 pm](https://cloud.githubusercontent.com/assets/108094/4468999/7e1d6e40-4909-11e4-83d8-86629c4b7639.png)

[2014-10-01 04:37] geografa opened #905 "Save button stuck on both states"
In 0.1.3, Save button appears to be stuck in both states:
![screen shot 2014-09-30 at 9 32 34 pm](https://cloud.githubusercontent.com/assets/134753/4470359/80a0ca5c-4924-11e4-9cc9-ccd261d216f5.png)

/cc @samanpwbb

[2014-10-01 04:38] samanpwbb commented on #905
Can you try to restart studio a couple times? I wouldn't  be surprised if this were a caching issue

[2014-10-01 05:12] geografa commented on #905
Negative.
- I opened 0.1.2
- it prompted for the update, I downloaded
- closed 0.1.2
- installed 0.1.3 and opened
- restarted multiple times
- cleared ~/.mapbox-studio cache

[2014-10-01 05:16] samanpwbb commented on #905
Can you list steps to reproduce? I'm not seeing it.

[2014-10-01 05:35] geografa commented on #905
ugh. not seeing it now. Steps were listed above - just a update of the app. Possible last restart cleared this. Sorry to bother - closing for now.

[2014-10-01 05:35] #905 closed, assigned to nobody

[2014-10-01 09:01] ashleyclough opened #906 "v0.1.3 postgres layers control lost"
The recent v0.1.3 update has lost the top right controls to manage postgres layers:

![studio 013 postgres layers missing](https://cloud.githubusercontent.com/assets/912721/4472598/5dcda39a-4949-11e4-8c9b-623b4dbbc241.jpg)

Also odd 'SaveSaved' text top left.

[2014-10-01 12:24] samanpwbb commented on #906
Hi Ashley, this is almost certainly a caching problem. Can you try restarting Studio a few times to see if the problem persists?

[2014-10-01 12:27] samanpwbb opened #907 "Cache bust for next release"
Every release seems to cause major problems for users on first run because of caching issues. We should make sure node atom is pulling fresh assets when there's a version bump.

Not sure if there's tm1 precedence for this or what. Would this technique work for us? http://stackoverflow.com/questions/9692665/cache-busting-via-params - requires updating asset path names in templates with each release

[2014-10-01 13:36] ashleyclough commented on #906
That's sorted it, thanks.

Is the change to a default black checkerboard background for styles a conscious decision or a similar caching/temporary problem? I notice if I specifically render a map background in white and then remove it the default returns to the white checkerboard of previous versions.

[2014-10-01 13:54] samanpwbb commented on #906
Great.

The color of the checkerboard is based on the background color you've defined for your `Map` layer. With no background set, it's dark gray.

[2014-10-01 13:54] #906 closed, assigned to nobody

[2014-10-01 15:39] tristen opened #908 "Title alignment is off on new version screen."
![screen shot 2014-10-01 at 11 37 46 am](https://cloud.githubusercontent.com/assets/61150/4477863/1642ab00-4981-11e4-99f8-5036377b6e79.png)

[2014-10-01 17:36] geografa opened #909 "SHPs with dash in filename can not access properties"
If a shapefile has dashes in the filename, the layer properties can not be accessed.
![dashs](https://cloud.githubusercontent.com/assets/134753/4479780/5384e48c-4991-11e4-8510-00176c0d98fe.png)

[2014-10-01 18:23] ajashton opened #910 "Problem when initial save contains CartoCSS error"
1. Create a new style project
2. Enter some invalid CartoCSS
3. Ctrl+S to save-as
4. Get error about invalid CartoCSS, close modal & fix the code.
5. Ctrl+S again, get error "Destination path /whatever.tm2 exists"

The Save As button does work at this point, its just the keyboard shortcut that raises the error.

[2014-10-01 18:25] yhahn commented on #910
https://github.com/mapbox/mapbox-studio/issues/858

[2014-10-01 18:25] #910 closed, assigned to nobody

[2014-10-01 18:29] davo opened #911 "Save button displays 2 states"
The "Save" button is displaying 2 states: "Save" and "Saved" at the same time.

In Mapbox Studio Version 0.1.3 for Mac.

![screen shot 2014-10-01 at 3 25 50 pm](https://cloud.githubusercontent.com/assets/76307/4480598/b3fcca6c-4998-11e4-8a38-5b9fd4ca3ac8.png)

[2014-10-01 18:32] samanpwbb commented on #911
@davo see https://github.com/mapbox/mapbox-studio/issues/905

[2014-10-01 18:32] #911 closed, assigned to nobody

[2014-10-01 19:41] #908 closed, assigned to samanpwbb

[2014-10-01 20:11] #904 closed, assigned to samanpwbb

[2014-10-01 20:25] luiscape opened #914 "UI bugs in v0.1.3"
After installing v0.1.3 I've been seeing a number of UI related bugs. The overall functionality seems to be fine thus far though.

I'm on a Mac OSX (10.9.4)

![screen shot 2014-10-01 at 4 24 16 pm](https://cloud.githubusercontent.com/assets/953118/4482469/f123589c-49a8-11e4-8264-a56313901f34.png)

[2014-10-01 20:27] yhahn commented on #907
I wonder if adding a nocache kind of querystring to the CSS URLs will do the trick:

https://github.com/mapbox/mapbox-studio/blob/mb-pages/templates/style.html#L25-L28

[2014-10-01 21:30] samanpwbb commented on #914
@luiscape I am almost positive that this is a caching issue. Can you try quitting Studio and restarting a couple times? See https://github.com/mapbox/mapbox-studio/issues/907

[2014-10-01 21:30] #914 closed, assigned to nobody

[2014-10-01 21:38] #767 closed, assigned to samanpwbb

[2014-10-01 22:46] #909 closed, assigned to samanpwbb

[2014-10-02 03:14] #907 closed, assigned to nobody

[2014-10-02 04:40] yhahn commented on #874
Stopgap for now ^^ -- anything that's generic for the browser would prob require image exports to take part in the app task/state system. Not worth it atm.

[2014-10-02 04:40] #874 closed, assigned to camilleanne

[2014-10-02 04:41] yhahn commented on #741
@camilleanne hit this.

[2014-10-02 04:41] #741 closed, assigned to nobody

[2014-10-02 04:42] yhahn commented on #561
We're in a good spot here.

[2014-10-02 04:42] #561 closed, assigned to yhahn

[2014-10-02 11:51] petzlux commented on #860
I have the same problem, but have built from source, and set the npm proxy config parameters:

npm config set proxy http://proxy.company.com:8080
npm config set https-proxy http://proxy.company.com:8080

Still no luck !

[2014-10-02 15:35] amyleew opened #920 "Places: Tag-first UI and filtering"
## Tag-first UI for Places filtering

![image](https://cloud.githubusercontent.com/assets/4587826/4491936/27072a94-4a3d-11e4-88c2-6ffd12010ade.png)

@nickidlugash @samanpwbb @yhahn Picking up from [Allow search by multiples in Places #892](https://github.com/mapbox/mapbox-studio/issues/892).
### Hidden and nested tags

Hidden and nested tagging system allow for refined Places filtering within Mapb

[2014-10-02 16:00] amyleew commented on #892
Tracking on fresh ticket - https://github.com/mapbox/mapbox-studio/issues/920

[2014-10-02 16:00] #892 closed, assigned to amyleew

[2014-10-02 17:28] #441 closed, assigned to amyleew

[2014-10-02 17:37] wboykinm commented on #441
- As a user I would like to perform rudimentary markup (title, text box, image) on my print map so that I don't have to mess around with GIMP or Inkscape in order to create a full composition.
- As a user I recognize how frighteningly close this is to a GIS-platform print layout toolset, and would like to avoid all appearances of unhipness.

[2014-10-02 17:44] yhahn commented on #441
... awkward silence ...

[2014-10-02 17:49] springmeyer commented on #441
@wboykinm I agree on usefulness, but... this would be a serious technical lift on the mapnik side for generation (map canvas + other elements) and would be duplicating the UI layout functionality that is the core value of Inkscape/Illustrator/etc. So it seems like it would be a distraction for us to take this on. For the record I'll note that a variety of Mapnik users have tackled their print+layo

[2014-10-02 17:53] stev-0 commented on #860
I also have this issue on the prebuild 0.1.5 Windows binary and get the error message `500 'GET' '/oauth/mapbox?error=access_denied' 'Err...` which I assume is the same as the error above but with the less detailed error message.

[2014-10-02 17:55] wboykinm commented on #441
Totally, and no real worries here. I'm just noticing that's the first question I get when I point out the new print feature: "Awesome! How do I add a title?"

[2014-10-02 22:51] #884 closed, assigned to samanpwbb

[2014-10-02 22:52] #864 closed, assigned to samanpwbb

[2014-10-02 22:54] samanpwbb commented on #834
This is now fixed.

[2014-10-02 22:54] #834 closed, assigned to samanpwbb

[2014-10-02 22:58] samanpwbb commented on #863
Fixed with https://github.com/mapbox/mapbox-studio/commit/b7992a35e533f3ca0d78bcadc11ec4adc1a2bbef

[2014-10-02 22:58] #863 closed, assigned to nobody

[2014-10-02 22:59] samanpwbb opened #929 "write codemirror ui tests"

[2014-10-03 02:06] karenzshea commented on #884
yeaa

[2014-10-03 16:40] samanpwbb commented on #876
Base updates included icon changes:
- `inspect` instead of `eye`
- `crosshair` instead of `marker` for layer centering in source mode
- `globe` instead of `home` for Map docs (wasn't documented in the fist place)

[2014-10-06 14:31] geografa opened #934 "Add Layer message obscures Layer name for Postgis layer"
When I add a layer using Postgis, the message "You haven't imported any data layers yet. Add one now' remains on top.
![](https://d33v4339jhl8k0.cloudfront.net/inline/11929/48221722a9536878a9990dbb296866c2e889376f/debd061bb142a08eee645f98de6837375083acc5/PastedGraphic-1.png)
Only noticing this with postgis layers, atm.

[2014-10-06 19:11] #920 closed, assigned to nobody

[2014-10-06 22:37] #934 closed, assigned to samanpwbb

[2014-10-07 19:44] artemp commented on #645
Looks like this one is back  - 0.1.5. zooming in/out

[code]

[2014-10-07 19:51] samanpwbb commented on #929
Not totally satisfied with this, but closing, see https://github.com/mapbox/mapbox-studio/pull/936

[2014-10-07 19:51] #929 closed, assigned to samanpwbb

[2014-10-07 23:14] mick opened #937 "upload process can go past 100%"
While exporting via mapbox studio `0.1.8` I got an upload to finish at 100.4%  The tiles I was making we very large, multiple MBs, if that makes a difference.

[2014-10-08 19:04] GretaCB commented on #728
Notes for myself:
- [ ] check [`node-gdal` for gdal_translate implementation](https://github.com/naturalatlas/node-gdal/issues/67)
- [ ] Checkout `gdal_contrast_stretch`
- [ ] account for percentile min/max of 16-bit file (1, 99)

[2014-10-08 21:09] jfirebaugh opened #938 "zoomed in too far after creating new data layer"
1. New project, Blank source
2. New layer from [this file](https://www.dropbox.com/s/7u8oziiptw1xls2/Rainy%20Watershed.kml?dl=0)

Result: Xray view zooms to  -92.6679, 48.3483 @ z22 and I can't see any of the data.

Expected: Something more like -92.7026, 48.3088 @ z8:

![image](https://cloud.githubusercontent.com/assets/98601/4567243/52f358ac-4f2f-11e4-9dad-4b6fcf4767a0.png)

[2014-10-08 21:11] jfirebaugh opened #939 "can't "Create style from this source" after adding a layer"
1. New project, Blank source
2. New layer from a file
3. Click on "Create style from this source":

![image](https://cloud.githubusercontent.com/assets/98601/4567266/8a929052-4f2f-11e4-8141-8a2a6c6cf1fc.png)

Result: it doesn't do anything. Is it disabled? Hard to tell, since grey text is so prevalent in the UI. If it is disabled, I should have some indication as why, and what I need to do to make

[2014-10-08 21:14] samanpwbb commented on #939
ya, this is the pattern we use elsewhere:
![screen shot 2014-10-08 at 5 13 45 pm](https://cloud.githubusercontent.com/assets/108094/4567323/0419ab7c-4f30-11e4-850e-6136dbb53a79.png)

[2014-10-09 13:18] Reach-Above commented on #824
This would be great to have.

[2014-10-09 15:04] fallenartist opened #940 "Metric units on image export"
It would be nice if Mapbox Studio allowed to choose between imperial and metric units on export. Or better, simply honour system settings in this regard. Many thanks.

![screen shot 2014-10-09 at 16 00 34](https://cloud.githubusercontent.com/assets/661820/4578489/363c2f0e-4fc5-11e4-9989-0ce9432c5650.png)

![screen shot 2014-10-09 at 16 03 57](https://cloud.githubusercontent.com/assets/661820/45785

[2014-10-09 15:38] wilhelmberg commented on #824
Maybe leave the enumeration of drives to a native module?
Like [node-usb-detection](https://github.com/KABA-CCEAC/node-usb-detection).

I think [GetLogicalDriveStrings](http://msdn.microsoft.com/en-us/library/aa364975%28VS.85%29.aspx) would probably be a good starting point. Or [GetLogicalDrives](http://msdn.microsoft.com/en-us/library/aa364972%28v=vs.85%29.aspx), which returns a bitmask (position

[2014-10-09 16:11] springmeyer commented on #824
@BergWerkGIS perhaps. This is the really cheap solution I can up with previously: https://github.com/mapbox/tilemill/commit/696f142b6e500bea9f8367b1a5a596709989d080. Other than being slow for lots of mapped drives can be see any major pitfalls?

[2014-10-09 16:11] yhahn commented on #824
lol I just read this code

[2014-10-09 16:50] wilhelmberg commented on #824
@springmeyer
Well, uhm, yeah. :smirk: Brute force at its best.
Despite to being slow I don't see any major pitfalls.
Even Windows itself takes quite some time to open Explorer if there are slow drives in your machine or mapped network drives (e.g. sleeping NAS).

[2014-10-10 13:02] dalekunce opened #941 "timeout on new session"
Studio crashes (timesout) on initial load everytime. I can continue by cancelling the error message and selecting a default project and then selecting my personal project.

![screen shot 2014-10-10 at 8 57 19 am](https://cloud.githubusercontent.com/assets/1913857/4592570/46910902-507d-11e4-9f63-1e9f11c77afa.png)

**Version 0.1.5 (darwin)**
**OS:** Mac OS X 10.9.5

[2014-10-12 12:30] kkaefer opened #942 "Crash on CSV import"
I tried importing a CSV file to a new data source, but Mapbox Studio repeatedly crashes without any warning or message. The file I'm trying to import is the de.txt file from geonames; I manually added a custom header. TileMill imports this file just fine.

[2014-10-15 05:56] springmeyer opened #943 "Windows 64 bit package"
node-mapnik@3.0.4 provides windows 64 bit binaries so we should start making both 32 and 64 bit windows packages of studio (with the goal of phasing out 32 bit eventually).

Atom-shell only has 32 bit windows releases (https://github.com/atom/atom-shell/releases/) but I figure it should be okay to use a 32 bit atom-shell with a 64 bit mbstudio core. I see that will require some minor tweaks to htt

[2014-10-15 17:03] chriscalip opened #944 "Export Mbtiles download feature. -- bug. no download files showing."
Occuring in both Windows 7 and MAC OS.
Shapefile with about 652K of features .. and 4 attributes.
Generated mbtiles; but at the download phase.. saving file yields nothing.

[2014-10-15 17:11] chriscalip commented on #944
I can see the in ~/.mapbox-studio/cache

[2014-10-15 17:16] springmeyer opened #945 "Crashreporter"
Functionality that detects a C-land crash (e.g. segfaults or silent crashes not in js) and reports the backtrace to github (or some other way a dev like me can see it) is going to be essential to ensuring studio is as stable as possible.

This is one feature where I think focusing on OS X only would have the greatest gain for effort. @incanus  hopefully will have ideas about best practices these d

[2014-10-15 17:44] incanus commented on #945
https://www.plcrashreporter.org is the go-to lately.

[2014-10-17 13:49] thhomas commented on #860
Same issue on 0.1.5 Mac OS X version
`Mapbox Studio @ http://localhost:3000/`
`500 'GET' '/oauth/mapbox?error=access_denied' 'Error: Access denied'`

[2014-10-20 21:08] camilleanne opened #946 "VTFX UI"
Beyond polish and maybe a decent design direction, some functionality should be in place in the [VTFX](https://github.com/mapbox/mapbox-studio/tree/vtfx) pane:
- [ ] Support ['chainable'](https://github.com/mapbox/vtfx/blob/master/parameters.md) filter options
- [ ] Ability to reorder filters
- [ ] Form validation
- [ ] Pass errors through to the client (this may coincide with form validation)
- [

[2014-10-21 04:03] amoeba commented on #939
I just ran into this issue. You need to save your source first. Then you will see the text become white and clickable.

[2014-10-21 18:47] dbaldwin commented on #944
Just wanted to share that I'm seeing this issue as well with OS X and MapBox Studio 0.1.5.

[2014-10-21 21:09] samanpwbb opened #948 "changes to 'my places' not saved on save"
Changing 'my places', then exiting project and re-opening project will resent places to original position. Not sure when this bug was introduced.

[2014-10-21 22:36] samanpwbb commented on #948
Fixed with #949

[2014-10-21 22:36] #948 closed, assigned to nobody

[2014-10-21 22:38] #939 closed, assigned to samanpwbb

[2014-10-22 14:23] alianthes opened #951 "Downloading Studio upgrade is a never-ending loop"
I can only download the upgrade for Studio over and over again. Upon opening the new version I get this prompt every time (despite deleting all old remnants):

![](https://s3.amazonaws.com/uploads.hipchat.com/81832/1108700/KzEHvgXclBaun66/Screenshot%202014-10-22%2010.21.02.png)

cc @yhahn @camilleanne

[2014-10-22 15:51] ian29 opened #952 "zoom/pan disabled after adding a layer in new source project"
1. zoom/pan re-enabled after "save as"
2. only happens with certain data:
### disables zoom/pan when added to a new project
- [2.5_month.csv](http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_month.csv) from quickstart
- [places.geojson](https://github.com/mapbox/mapnik-test-data/blob/master/data/geojson/places.geo.json)
- [dc_polygon.geojson](https://github.com/mapbox/mapnik-test-data/

[2014-10-22 18:50] samanpwbb commented on #881
Closed with  https://github.com/mapbox/mapbox-studio/commit/ee167be69acfb89ae2bf354a692399364aa007f0 in `mapnik3` branch.

[2014-10-22 18:50] #881 closed, assigned to samanpwbb

[2014-10-22 18:58] springmeyer commented on #881
\o/

[2014-10-22 20:42] samanpwbb opened #954 "[website] Replace references to win32 with win64"
As soon as we release a 64 bit windows package (https://github.com/mapbox/mapbox-studio/issues/943), URLS and copy on the mapbox website will need to be updated from "32" to "64".

[2014-10-22 23:16] springmeyer opened #956 "Docs on where logs are"
Logs get put in `~/.mapbox-studio/app.log` I learned from reading the changelog, but ideally we could have a docs page to point users at to help in debugging crashes.

[2014-10-23 14:31] artemp opened #958 "Link to old binaries on https://www.mapbox.com/mapbox-studio/"
A new version of Mapbox Studio is available
Your version: 0.1.5 Latest version: 0.1.6

https://www.mapbox.com/mapbox-studio/#darwin still points to 0.1.5

[2014-10-23 14:38] samanpwbb commented on #958
Agh, sorry. I did this out of sync. Should be updated any minute now.

[2014-10-23 14:38] #958 closed, assigned to nobody

[2014-10-23 14:39] #954 closed, assigned to nobody

[2014-10-23 14:43] jqtrde opened #959 "Binary download link points to 0.1.5. Should point to 0.1.6"
Starting Mapbox Studio 0.1.5 prompts you to download 0.1.6, which takes you to [mapbox.com/mapbox-studio](https://www.mapbox.com/mapbox-studio/#darwin), which shows a download link for the old 0.1.5 version.

The link to the [0.1.6 binary](https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-darwin-x64-v0.1.6.zip) does work.

[2014-10-23 14:52] artemp commented on #958
No worries, cheers!

[2014-10-23 15:26] samanpwbb commented on #959
Should be fixed now.

[2014-10-23 15:26] #959 closed, assigned to nobody

[2014-10-23 17:55] springmeyer opened #961 "Auto-index shapefiles"
The node-mapnik@3.0.5 binaries now ship with the `shapeindex` command line tool from Mapnik bundled (https://github.com/mapnik/node-mapnik/blob/master/CHANGELOG.md#305). Now that this tool will be predictably available we should start auto-indexing shapefile sources added to Mapbox Studio. This will radically improve performance when creating vector tiles from shapefiles. We can call `shapeindex f

[2014-10-23 17:58] yhahn commented on #961
I'm hesitant to add this to the normal flow for either because keeping this index up to date and managing user expectations while indexing occurs is going to be complex.

What if
- mapnik omnivore adds a bool flag to indicate if a datasource is not indexed
- we display a warning in studio if a shp layer is not indexed and have docs/a modal that instructs you on how to index it?

[2014-10-23 18:04] springmeyer commented on #961
:+1: a somewhat manual process I think would be fine. The main hurdle I'm keen to address is avoiding people needing an external mapnik install just to get shapeindex. It is available right here now:

[code]

Because shelling out just to complete the path is going to be brittle I'm going to add this https://github.com/mapnik/node-mapnik/issues/337

[2014-10-23 18:35] wboykinm commented on #961
:+1: for the flag. "Is your source slow to load? Try Indexing it! (May take some time)" - would be helpful for importing and debugging and without breaking flow.

[2014-10-23 21:21] samanpwbb commented on #897
Got another unexpected test failure, this one is x86 only:

https://ci.appveyor.com/project/Mapbox/mapbox-studio/build/1.0.1320 `source exit 1`.

[2014-10-24 16:51] MarkWS commented on #951
I'm on version 0.1.5 and upgraded to 0.6
now v0.6 fails to start so I've moved back to version 0.5
Win 7 pro, 64bit

[2014-10-24 16:57] MarkWS opened #963 "Fonts, how to load custom fonts?"
has anyone loaded fonts from the local font directory or loaded any other fonts that are not part of MBS? With TileMill it was rather easy to locate the font directory, I'm having a hard time figuring out how to load our font sets with the new MBS?
Thanks.

[2014-10-24 16:58] MarkWS commented on #826
this was fixed with version 0.4 and up.

[2014-10-24 16:58] #826 closed, assigned to nobody

[2014-10-24 17:16] samanpwbb commented on #963
This feature is on it's way: https://github.com/mapbox/mapbox-studio/issues/395

[2014-10-24 17:16] #963 closed, assigned to nobody

[2014-10-24 21:15] incanus opened #964 "limit OS X 10.9+ in app shell"
One way we can reduce confusion around the new 10.9 minimum for OS X is to limit this in the `Info.plist` directly.

See `LSMinimumSystemVersion` on https://developer.apple.com/library/ios/documentation/General/Reference/InfoPlistKeyReference/Articles/LaunchServicesKeys.html

[2014-10-25 08:19] wilhelmberg commented on #951
@MarkWS
The problem appears, because 0.1.6 is now a 64bit app.

On Windows you can do the following:
- manually uninstall 0.1.5:
  - go to the Control Panel
  - choose `Uninstall a program`
  - select `mapbox studio`
  - afterwards make sure that `C:\Program Files (x86)\mapbox-studio` is gone
  - if not, delete it
- install 0.1.6
  - verify that it has been installed into `C:\Program Files\mapbox-

[2014-10-25 09:57] jaksky opened #965 "Cannot run studio on linux ubuntu 13.10"
1/ download the zip
2/ unpack
3/
bro@home:~/Development/mapbox-studio-linux-x64-v0.1.6$ ./atom
bash: ./atom: cannot run a binary file

Version OS:
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 13.10
Release:        13.10
Codename:       saucy

[2014-10-25 15:13] yhahn commented on #965
@jaksky are you on a 32-bit ubuntu install?

[2014-10-27 16:53] blm14 opened #967 "Trouble installing mapbox-studio on ubuntu precise 12.04LTS 64-bit"
Output from npm install --build-from-source is here:  http://pastebin.com/KW7Bgx5r

It looks like there are two sections with errors. One where it complains about the version of sqlite3, and the second where it tells me that there is no directory /mapbox-studio/node_modules/mapnik.

Any help appreciated. Thanks!

[2014-10-27 17:07] yhahn commented on #967
@blm14 check out the section on ubuntu 12.04 here:

https://github.com/mapbox/mapbox-studio#depends

[2014-10-27 17:13] blm14 commented on #967
I had already done this:

sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
sudo apt-get update -q
sudo apt-get install -y libstdc++6

Before I did the install shown in the pastebin above. Does that mean I am SOL and need to upgrade to 14.04LTS?

[2014-10-27 17:18] yhahn commented on #967
@blm14 have you tried just `npm install` instead of `npm install --build from source` ?

[2014-10-27 17:26] blm14 commented on #967
here is the output without the --build-from-source directive:

http://pastebin.com/3fUZmKTN

and here is the content of npm-debug.log from running it without --build-from-source directive:

http://paste.ubuntu.com/8706957/

[2014-10-27 17:26] yhahn opened #968 "Testing mapnik 3 font-scoping"
@samanpwbb per convo, we should be able to test this out already.
- [x] Add packageable font extensions to this filter: https://github.com/mapbox/mapbox-studio/blob/mb-pages/lib/style.js#L440-L449
- [x] Create a test style with a local custom font + package
- [x] Test how it handles when uploaded to Mapbox API

[2014-10-27 17:28] yhahn commented on #967
@blm14 it looks like you are using node v0.8.x which is ancient. Mapbox Studio requires node v0.10.x -- you can grab it from http://www.nodejs.org

[2014-10-27 17:35] blm14 commented on #967
that's the version of node packaged with precise LOL! OK I just Chris Lea's NODEjs repo and am trying again. It installed a much newer node and a much newer npm. Lets see what happpens

[2014-10-27 17:39] blm14 commented on #967
OK, getting further. This is the output of install:

[code]

Now it is failing on the start:

[code]

[2014-10-27 17:41] yhahn commented on #967
Ok, give it a clean slate and one more go

[code]

Sometimes stale files are leftover from previous build attempts that can prevent a new install attempt from trying all the things.

[2014-10-27 17:44] blm14 commented on #967
Yup I realized that there was probably something bad from the prior earlier version of node and I just wiped the entire git and redownloaded and and now it looks like it's working.

[2014-10-27 17:44] #967 closed, assigned to nobody

[2014-10-27 22:45] WEMcode opened #969 "Application Will Not Start"
System Windows 7 64-bit OS.
Version: 0.1.6

Behaviour:
Application screen is white with spinning loader; Application then closes.

Other Notes:
Nothing in the system or application event log.

Rollback Behaviour:
Reverted to 0.1.5 and everything loads - projects and account included.
Project was created with 0.1.5 application was not upgraded prior to this.

[2014-10-28 08:07] wilhelmberg commented on #969
@cdunsingwem Could you try the steps outlined [here](https://github.com/mapbox/mapbox-studio/issues/951#issuecomment-60475603) and report back, if that solved your problem.

[2014-10-28 10:53] ramotswa opened #970 "Loading postgis layer has rendering issues"
Hello,
So what I've done;
New project  - blank - + New Layer
Select import from postgis
Enter all the details (including the confusing table name into the freetext box)
It seems to add it but with a few problems;
A: It doesn't seem to calculate autoextent, which means it doesn't zoom to my area which means I have to do an actual search for my location (with the very very handy search tool).
B: Onc

[2014-10-28 11:12] ffepora commented on #951
I have the same problem on win7 64bits, but the solution doesn't work. And it is not possible to moved back to version 0.1.5, because the problem is now the same with this version.

[2014-10-28 11:15] wilhelmberg commented on #951
With `problem` you mean just seeing the loading screen and then MapBox Studio disappears?
Have you tried deleting `C:\Users\<YOUR_USER_NAME>\.mapbox-studio`?

[2014-10-28 12:45] ffepora commented on #951
yes exactly. I have deleted C:\Users<YOUR_USER_NAME>.mapbox-studio and the problem is the same.

[2014-10-28 13:09] TheMapSmith commented on #970
I had the same rendering problem when I was setting up sources. @ajashton helped me out with the solution [here](https://twitter.com/aj_ashton/status/496159356472541184)

The twitter link is dead due to file name changes, but this is the new doc:
https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-source-manual.md

**Solution: In the Source Settings panel (top left), increase the

[2014-10-28 14:00] lqb2 opened #971 "Toolbar buttons have mismatched icons"
Almost all of the buttons are mismatched. The search function (tied to the far left/first button) is wrong, the zoom buttons are the search icon and some alien thing, etc.

![screen shot 2014-10-28 at 9 50 23 am](https://cloud.githubusercontent.com/assets/6601609/4809338/ba7e4128-5eaa-11e4-8c13-7eb84a1909c4.png)

[2014-10-28 14:05] samanpwbb commented on #971
Hey @lqb2 - this is a caching isssue, can you try restarting the app a few times and see if the problem persists?

[2014-10-28 14:05] #971 closed, assigned to samanpwbb

[2014-10-28 14:08] ramotswa commented on #970
Hi Steven, that's great thanks - worked a charm.

I am now trying to label polygons as described in your link (i.e. use the sql query to get a point geometry), and the query works fine in pgadmin, but not so well in mapbox studio.. have you ever gotten that to work?

Cheers,
Ramo

[2014-10-28 14:08] #970 closed, assigned to nobody

[2014-10-28 14:27] TheMapSmith commented on #970
Ramo,

I haven't done the polygon to point query that they talk about in the document so I'm not sure I can help you there, sorry.

The way I've learned about the queries is by looking at other repositories for examples.

Here is the NaturalEarth source configuration file:
https://github.com/mapbox/natural-earth-tm2/blob/master/natural-earth.tm2source/data.yml

And here is the most advanced one I'

[2014-10-28 14:37] lqb2 commented on #971
Three restarts fixed it. Thanks.

[2014-10-28 14:38] wilhelmberg commented on #951
@ffepora are you working with shapefiles locally?
At the moment it seems there are some problems with shapefiles on Windows.

You could try to create a spatial index with the `shapeindex.exe`, which you can find here:

[code]

e.g.:

[code]

Do this with all the shapefiles you have in your local source.

Do this help?

[2014-10-28 14:42] ffepora commented on #951
I have shapefiles on my local disk, but i don't use them in mapbox. I jsu use the mapbox street data. Is it possible that shapefiles can make trouble on Mapbox Studio startup ?

[2014-10-28 14:49] wilhelmberg commented on #951
No, they won't do any harm if you don't use them with MapBox studio.

Have you tried starting Studio several times?
Does your `C:\Users\<USER>\.mapbox-studio\app.log` contain any messages except `Mapbox Studio @ http://localhost:3000/`?

[2014-10-28 15:10] chadwilcomb commented on #951
I recently downloaded version 0.1.6 and am getting the same issue referenced above (just seeing the loading screen and then MapBox Studio disappears). I had previously installed version 0.1.0 (it was removed during install of 0.1.6) but had never run it that I recall.

I followed the steps listed <a href="https://github.com/mapbox/mapbox-studio/issues/951#issuecomment-60475603">here</a>, including

[2014-10-28 15:14] ffepora commented on #951
@BergWerkGIS my app.log file is empty, without the mention ~~Mapbox Studio @ http://localhost:3000/~~

[2014-10-28 15:47] chadwilcomb commented on #951
Yes, forgot to mention, my app.log file is empty as well.

A colleague of mine mentioned he had a similar issue but after starting the application 4-5 times, it finally opened. I have not had such luck.

[2014-10-28 15:50] WEMcode commented on #969
I followed these steps and problem persists:

**manually uninstall 0.1.5:**
- go to the Control Panel
- choose Uninstall a program
- select mapbox studio
- afterwards make sure that C:\Program Files (x86)\mapbox-studio is gone
- if not, delete it

**install 0.1.6**
- verify that it has been installed into C:\Program Files\mapbox-studio

If Mapbox studio just shows the white/gray loading screen and

[2014-10-29 06:42] jordantrain opened #974 "Crash on Startup"
Upgraded mapbox studio to v.0.1.6 after removing mapbox studio and manually deleting C:\Program Files\mapbox-studio.  On startup the program crashes with an uncaught exception Error: Spawn UNKNOWN at exports._ernoException (util.js:742:11)  ...  Machine is running Windows 7.

[2014-10-29 07:52] wilhelmberg commented on #974
@jordantrain
Maybe you deleted the wrong directory. You should delete
`C:\Program Files (x86)\mapbox-studio` not
`C:\Program Files\mapbox-studio`.

Could you run the 0.1.6 installer again and see if that solves the problem?

[2014-10-29 14:23] ian29 commented on #956
big huge +1

also we should add this to `CONTRIBUTING.md`

[2014-10-29 15:48] jordantrain commented on #974
Thanks for responding.  My Windows 7 32 bit OS machine does not have a Program Files (x86) directory, only a Program Files directory.  I have tried removing and reinstalling the app several times.  I finally gave up and was able to reinstall the 0.1.5 version of Mapbox Studio and it works fine, though I would like to be able to access the new features in the current release.

[2014-10-29 16:03] wilhelmberg commented on #974
Oh, sorry, I forgot to ask about your architecture.
Latest Mapbox Studio is 64bit only.
Any chance you upgrade to a 64bit OS?

[2014-10-29 16:25] jordantrain commented on #974
Not on this machine.  How about doing an OS check before seducing people to upgrade their software?   There was no mention that the update was for 64 bit OS only.   I am lucky I still had the original setup.exe file for 0.1.5 lying around.  I really didn't want to clone or install the source code of the historic releases and compile from there and I never could find a link to compiled earlier rele

[2014-10-29 16:28] yhahn commented on #974
@jordantrain sorry about the bumpy ride.
- we added a list of previous releases here: https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-previous-releases.md
- the 64 bit switch was mentioned in the changelog here: https://github.com/mapbox/mapbox-studio/blob/mb-pages/CHANGELOG.md#016

We can look into linking to the changelog from the update page in the future.

[2014-10-29 17:00] jordantrain commented on #974
I just did a fresh install of v.0.1.6 on a Windows 8 64 bit OS machine.   No version of mapbox has ever been on this machine.  The app launches to show the white screen with the progress circle, then closes down immediately.  Can't get past the white screen.  Any ideas?

[2014-10-29 17:03] jordantrain commented on #969
Same thing here.  See later comments in issue #974.

[2014-10-29 17:12] wilhelmberg commented on #974
@jordantrain We are working on the problem, but are still looking for the real cause of this behavior.
As odd as it may seem, just restarting Studio several times might help.

[2014-10-29 17:49] camilleanne commented on #956
Also users on mac can access them from the menu bar --> Help --> Application Log

[2014-10-29 19:34] ajashton opened #975 "Can't export image with local source"
Mentioned in #691, but there's no technical reason why static image export should be disabled when using a local source, right? Also it's not obvious that the "Use remote source to share" warning in the settings panel is related to the image export button.

[2014-10-29 20:05] samanpwbb commented on #968
https://github.com/mapbox/mapbox-studio/pull/973

[2014-10-29 20:05] #968 closed, assigned to samanpwbb

[2014-10-29 20:47] tkrajacic commented on #975
Interestingly, the Natural Earth example can be exported as image, and I would consider this a local source (it is being imported into the local PostGIS database isn't it?)

I never really understood why some features are disabled (from looking at the interface)

I just guessed that Mapbox wants to sell their service, so other sources' features are "crippled" in Mapbox Studio (which is of course a

[2014-10-29 21:03] Jaxattack opened #976 "Crash on Startup"
Using Mac OSX 10.8.5,

Mapbox Studio opens with the grey loader/spinner screen, and then immediately closes/crashes. Every time

[2014-10-29 23:15] geografa commented on #976
Hey @Jaxattack - currently, Mapbox Studio is only available for 10.9 and higher. https://github.com/mapbox/mapbox-studio/#depends

[2014-10-30 09:18] sindile commented on #976
The same is happening with Windows 8.1 64bit
This after downloading and installing mapbox-studio-win32-x64-v0.1.6

[2014-10-30 13:08] springmeyer commented on #976
thanks for these reports @Jaxattack and @sindile - we are working on understanding the problem and will hope to have a new release soon to fix these issues.

[2014-10-30 14:52] jasonpomerleau commented on #976
I have same issue as @sindile, mapbox-studio-win32-x64-v0.1.6. Happy to provide any info requested.

[2014-10-30 17:59] dholstius opened #977 "Layer ordering"
#359 and #363 were closed but layers in the UI do not seem to be draggable per https://www.mapbox.com/mapbox-studio/source-manual/. Tested in Chrome and OS X app.

[2014-10-30 18:46] duncangraham opened #978 "Custom font rule breaks initial save"
I creating a new project, and added the rule for custom fonts

[code]

Then I tried to save the project and went through the following process

![fonts](https://cloud.githubusercontent.com/assets/865298/4849811/6ecd945c-6064-11e4-9906-bac85e60c634.gif)

It seems like the project saved (a new project directory was created), but I still see initial Save as option, and can't use the original namespac

[2014-10-30 18:48] samanpwbb commented on #978
This is a dupe of https://github.com/mapbox/mapbox-studio/issues/858

[2014-10-30 18:48] #978 closed, assigned to nobody

[2014-10-30 19:34] tmcw opened #980 "Nest "Add" button under Places"
![2014-10-30 at 3 33 pm](https://cloud.githubusercontent.com/assets/32314/4850674/a8e77372-606b-11e4-84d2-6377b6f50bdf.png)

This button isn't very clear in what it does: adds what? Can we either
- Rename it "Add Place"
- Or only show it when you are in the places UI

[2014-10-30 19:35] yhahn commented on #980
https://github.com/mapbox/mapbox-studio/issues/747

[2014-10-30 19:35] #980 closed, assigned to nobody

[2014-10-30 21:28] springmeyer opened #981 "Refreshing postgis layer that changed"
Working alongside @amyleew we noticed that after dropping and recreating a postgres table with the same name (but a new projection) mbstudio would not display it in the source editor even after:
- changing the projection from wgs84 to 900913
- resaving
- leaving the project and returning back to it

We did not try restarting since mbstudio was running on a remote machine.

[2014-10-31 14:20] wilhelmberg commented on #976
@jpomer74 If you have some time to spend, you could follow my gist about [debugging mapbox-studio](https://gist.github.com/BergWerkGIS/534a5e74301c5607af5c).

Let me know, if you need any further assistance in doing so.

[2014-10-31 15:21] dakotalightning opened #982 "Syncing project styles"
Is it possible to sync styles across multiple projects? Right now I have grunt copying the styles (.mss files) to my other projects, however it will not load the styles till I open those projects refresh and save them. Is there a way to automate this workflow using grunt and/or Mapbox Studio?

I did notice that there is a project for uploading styles [mapbox-upload](https://github.com/mapbox/mapbo

[2014-10-31 18:01] pnorman opened #983 "Relative paths"
I'm uncertain how to create a style using a relative path to a tm2source.

I have my style in `/home/pnorman/foo/bar.tm2` and source in `/home/pnorman/foo/bar.tm2source`. `/home/pnorman/foo` is a git repository.
If I define my source as `tmsource:///home/pnorman/mq-carto-style-vector/mq-carto-style.tm2source` it works, but this is non portable.

I tried both `./mq-carto-style.tm2source` and `../mq

[2014-11-01 12:21] srrichter commented on #976
I have the same issue on Windows 7 x64. I started the gist with WinDbg and it stopped at ntdll's ZwTerminateProcess, allowing me to see an error with stacktrace in the mapbox-studio window saying that it could not find the gdal node. The path it tried is "C:\Program Files\mapbox-studio\resources\app\node_modules\mapnik-omnivore\node_modules\gdal\lib\binding\gdal.node", where I do have a gdal.node.

[2014-11-01 12:28] wilhelmberg commented on #976
Very strange. Never seen this before. Could you post the log file from `c:\mbslog\` to a gist?

[2014-11-02 10:21] wilhelmberg commented on #976
@srrichter would you mind downloading [this zip](https://dl.dropboxusercontent.com/u/13256369/gdal-node.zip) and replacing the following files (please make a backup of the existing files, just in case) in your 0.1.6 install:

Replace `gdal.node` in

[code]

Replace `node.exe` in

[code]

Does Mapbox Studio still crash?

[2014-11-02 19:25] ColoGISpro commented on #976
I was experiencing the startup crash issue using mapbox-studio-win32-x64-v0.1.6.  I downloaded @BergWerkGIS Zip and replaced the two files noted above.

That fixed it for me!  Thank you @BergWerkGIS .

[2014-11-02 20:08] springmeyer commented on #395
Mapnik 3.x is now deployed and upcoming Mapbox Studio (v0.1.7) will support custom fonts (see #973 and https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-advanced-features.md). NOTE: v0.1.7 will arrive once we can fix the startup crasher in the Windows build.

[2014-11-02 20:08] #395 closed, assigned to nobody

[2014-11-03 01:35] wboykinm commented on #395
:beers:

[2014-11-03 04:35] springmeyer commented on #976
Great! Thanks for testing @ColoGISpro!

[2014-11-03 06:43] sindile commented on #976
I have replaced the files as per @BergWerkGIS.

Mapbox Studio works, Thank you.

[2014-11-03 08:03] alexrollin commented on #976
Also (again) on Win7 64., I tried the zips, yay! it goes again!

[2014-11-03 08:49] wilhelmberg commented on #976
@discursives Thanks for letting us know.

[2014-11-03 13:48] jasonpomerleau commented on #976
This fixed it for me as well; thanks. I was away this weekend, sorry I couldn't assist w/testing, but looks like you've got it.

[2014-11-03 14:02] wilhelmberg commented on #976
@jpomer74 that's what weekends are for :smile:
Thanks for your feedback, good to know that it is fixed for you, too.

[2014-11-03 14:08] wilhelmberg commented on #974
@jordantrain Could you try the steps outlined [here](https://github.com/mapbox/mapbox-studio/issues/976#issuecomment-61400660) (assumes 0.1.6 on 64bit machine) and tell me if it works for you, too?

[2014-11-03 14:12] wilhelmberg commented on #969
@cdunsingwem could you try the steps outlined [here](https://github.com/mapbox/mapbox-studio/issues/976#issuecomment-61400660) with a 0.1.6 install and tell if this works for you?

[2014-11-03 15:59] jameslaneconkling opened #984 "MB Studio crashes when uploading source w/ custom postgres functio [0.1.6]"
crashes when I try to upload a source project with a custom postgres function, which is funny because:
- it draws the results w/o a problem
- it worked fine when I first defined this on an older version (0.1.4 or 0.1.5)

No error is output in the logs.

workaround for now is to just create a table w/ the custom function's results, which uploads fine.  But it's curious b/c the query used to upload

[2014-11-03 16:03] springmeyer commented on #984
What operating system? We are working on fixing a general Windows instability issue currently.

[2014-11-03 18:14] jameslaneconkling commented on #984
MacOS 10.9.5

[2014-11-04 02:41] alexrollin opened #990 "Labels Cut Off at Tile Border in Online Tiles and Exported Flat Images"
I have a lot of labels but the cutoff applies at various zoom levels whether they are particularly dense or not

MS 1.6 patched on win7/64

Is there a way to adjust meta tile size? Setting meta tiles to 8 in TM1 fixed this in 98% of my own cases.

[2014-11-04 02:47] alexrollin commented on #990
This image shows how consistant the cropping is.
![20141104_094651](https://cloud.githubusercontent.com/assets/114659/4894117/e7e63798-63cc-11e4-828f-73670e41d602.jpg)

[2014-11-04 07:55] petzlux commented on #860
Okay, one month later no progress on this :-(

[2014-11-04 12:17] yhahn commented on #990
@discursives hrm, what is the buffer size on the layer you're using? Based on the placement of your labels you will need a large buffer to accommodate the text across tile boundaries.

Note: you can increase the buffer size beyond 64 by editing the `data.yml` of your source project directly.

[2014-11-04 13:56] alexrollin commented on #990
I have only defaults.
Would you please advise a buffer size?
Data is geojson 3000 points at 3.5mb as vector data layer.
In TM I ran as high as 1024.
On Nov 4, 2014 7:17 PM, "Young Hahn" notifications@github.com wrote:

[2014-11-04 16:45] MarkWS commented on #963
Any new news on this?we are at a standstill until we can load our own fonts.
Thanks.

[2014-11-04 16:47] MarkWS opened #991 "Any news on adding custom Fonts?"
any news when the next version will be able to handle custom fonts? We are at a standstill until we can load our own fonts.
Thanks..

[2014-11-04 16:56] samanpwbb commented on #963
@MarkWS check out https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-advanced-features.md#custom-fonts -> if you built Mapbox Studio from source this feature is available now. Expect a proper release in a few days.

[2014-11-04 16:59] springmeyer commented on #991
Yes, the next version will support custom fonts and we will be sharing details on this via the mapbox blog as soon as we get to a stable release (currently focused on Windows stability).

[2014-11-04 17:06] MarkWS commented on #991
That's great! Thanks...

[2014-11-04 17:11] wboykinm commented on #991
Thanks Dane; it works great.

[2014-11-05 00:32] alexrollin commented on #990
OIC this is a different kind of buffer:

https://www.mapbox.com/mapbox-studio/source-manual/

I am sorry, I cannot find an example of data.yml

Can you point me at something?  And perhaps 128 will be enough?

##

Alex

On Tue, Nov 4, 2014 at 8:56 PM, Alex Rollin alex.rollin@gmail.com wrote:

[2014-11-05 11:09] fallenartist commented on #991
Awesome, looking forward to the release.

[2014-11-05 11:11] lhilarides commented on #974
@BergWerkGIS I experienced the same issue on a 64bit Windows 7 machine and your solution solved it. Thanks!

[2014-11-05 11:42] wilhelmberg commented on #974
@lhilarides Thanks. Good to know. We are working hard on a new release.

[2014-11-05 12:46] ste-goldstein opened #992 "Reapeated labels on polygon feature"
I'm trying to label a polygon layer.
I wanted to have only one label per feature showing, but right now there is one label per feature per tile.

So the more I zoom in, the more repeated lables I have:
http://imgur.com/PBaQPUp

I tried using
text-placement: point
and
text-placement: interior;

Is this a bug or am I missing somehting ?

[2014-11-05 12:51] alexrollin commented on #974
FYI I tried the solution on a fresh install and it didn't work.
On the machine where the patch worked, it was previously running an earlier
version. I installed 1.6, tried opening it, discovered the issue, patched,
and then found success.

On the 2nd machine, I did a fresh install of 1.6 and patched it before even
opening MS. The program will not open, and it doesn't even show a grey
loading hint,

[2014-11-05 16:29] ajashton commented on #992
Hi,

This is not really a bug, just a consequence of how vector tiles work. Polygon layers should not be used directly for labeling; create a separate layer of polygon center points for the labels. See the Labeling Polygons section of the [source manual](https://www.mapbox.com/mapbox-studio/source-manual/)

[2014-11-05 16:47] #992 closed, assigned to nobody

[2014-11-05 16:51] ste-goldstein commented on #992
Hi.
This was my first guess. I searched around but I missed the link you sent.
Thanks!

[2014-11-05 21:28] wboykinm opened #993 "Raster styling guidance"
@ajashton - I've continued playing with the Satellite Afternoon template, but I keep running into what is essentially desaturated imagery at high-res:

![2014-11-05_1624](https://cloud.githubusercontent.com/assets/735463/4926317/7066e8ae-6532-11e4-9e5b-9b9d2ec86d45.png)

Is this inherent to the `#mapbox_satellite_full` source or is there a way to "colorize" such sites?

[2014-11-05 21:31] pnorman opened #994 "Easier adjustment of buffer"
I had to adjust the buffer on a layer from 8 to 16. I found myself very carefully moving the mouse, trying not to overshoot the value I wanted by a single pixel.

It would be nice to be able to input the value, or at the very least, a wider bar, as a workflow that relies on single pixel positioning of the mouse is not ideal.

[2014-11-05 22:27] probabble opened #995 "unable to read metadata"
Just trying to use Studio to test out some cartocss designs on some PostGIS layers. I can connect to the db, use a query to show me the available fields, but when i click on the marker icon (I think this would "zoom-to" the extent), I get this error:

![image](https://cloud.githubusercontent.com/assets/3421159/4927290/486212ea-653a-11e4-99ca-4238134fed96.png)

![image](https://cloud.githubusercont

[2014-11-06 00:13] alexrollin commented on #994
mmm...where is the buffer adjustment?

##

Alex

On Thu, Nov 6, 2014 at 4:31 AM, Paul Norman notifications@github.com
wrote:

[2014-11-06 17:46] pnorman opened #996 "Link font-directory to help"
![image](https://cloud.githubusercontent.com/assets/1190866/4940683/d236e656-65dc-11e4-90a0-697a81978384.png)

It would be helpful to link the text `font-directory` to the appropriate help item.

[2014-11-06 19:05] nickidlugash opened #997 "Zoom text (not map) when cursor is in text editor"
Currently, `command (+)` and `command (-)` (on OSX) zooms the map, no matter where your curser is in the UI. When the curser is in the text editor, can we change this to increasing and decreasing the text size instead?

This would be nice for doing live demoes on a projection/large screen. I currently use accessibility settings to zoom in and out the entire contents of my screen, but that is clunk

[2014-11-06 19:07] samanpwbb commented on #997
Sounds good. Should be easy to only override the behavior of `+` and `-` when user is interacting with map.

[2014-11-06 21:48] pnorman commented on #645
Also getting it, but no mentions of Protobuf

[code]

I got this when zooming to an unoptimized zoom level, which Mapbox Studio said timed out after 5000ms

[2014-11-06 22:22] samanpwbb opened #999 "Add UI for displaying user-provided font names"

[2014-11-06 23:58] pnorman commented on #994
Layer configuration

![image](https://cloud.githubusercontent.com/assets/1190866/4946176/bdffc692-6610-11e4-86a9-7050ed906de9.png)

[2014-11-07 00:03] yhahn commented on #994
y textfield == less fancy but better in all ways right?

[2014-11-07 00:05] pnorman commented on #994
For me yes. The advantage of a bar is that it gives some context to what a reasonable maximum is - but in my case I'm working out buffers from the style, so I get the numbers from a calculator.

[2014-11-07 03:14] duncangraham commented on #994
I frequently bump into the same issue.
I think the best solution would be updating the value on the right as you move the slider.

[2014-11-07 15:27] alexrollin commented on #956
Windows?

[2014-11-07 15:30] alexrollin commented on #990
Are data.yml files used on Windows? Can someone give me a pointer for how to create the data.yml file from ...other project information?

[2014-11-07 16:11] yhahn commented on #999
Per voice, the main challenge here is making sure this list of fonts stays up to date as the user works on her map. We have a nice mechanism in the UI for updating on every save for a similar map-specific property -- the map background color -- and we can piggyback off the infrastructure we have already to add more information to this feedback loop.
- [x] update to mapnik 3.1.0
- [x] add a new cal

[2014-11-07 16:21] #977 closed, assigned to samanpwbb

[2014-11-07 16:21] #858 closed, assigned to samanpwbb

[2014-11-07 19:11] springmeyer commented on #999
@samanpwbb - I've done a first pass on docs for how fonts work in Mapnik that hopefully will help you think about this: https://github.com/mapnik/node-mapnik/commit/0732841cc3e79e717225e29355613a4f3f29be17

[2014-11-07 19:14] samanpwbb commented on #999
This is great, looks like I have some flexibility for how to implement this. Thanks @springmeyer

[2014-11-08 00:08] tpstigers commented on #974
I had the same problem running on Windows 8.1 64bit.  Replacing gdal.node and node.exe worked for me.

Thanks!

[2014-11-08 00:10] springmeyer commented on #974
thanks for the report @tpstigers. Update here is that we are still working overtime to release an official update that applies this fix - it is taking some time since we want to make sure this is the last time this type of glitch happens.

[2014-11-08 00:34] jordantrain commented on #974
Thanks, Dane.  It's a great product... looking forward to using it some
more.
- Jordan

On Fri, Nov 7, 2014 at 5:11 PM, Dane Springmeyer notifications@github.com
wrote:

##

-Jordan

[2014-11-08 01:52] tnightingale commented on #368
As an exercise to get familiar with the tilelive.js pipeline I whipped this up: https://github.com/tnightingale/tilelive-vector-composite. I'm not sure if there's a way to load external tilelive.js modules into Mapbox Studio but you can use it with tessera (https://github.com/mojodna/tessera) and a modified tilelive-xray module (https://github.com/tnightingale/tilelive-xray/commit/c7fb632d5dcbd770

[2014-11-08 02:16] wboykinm commented on #368
@tnightingale Thanks for testing that.

[2014-11-08 03:57] tmcw opened #1002 "Flatten IA for "New Source""
You need to click on "New Project" to get to a modal with the option "New Source" in it. Let's flatten it and have "New Project" and "New Source" at the same place in the hierarchy?

[2014-11-10 12:42] markiliffe commented on #856
@camilleanne could you shed some light on @flemmens question? I'm dealing with gigabytes of data - not as much as @flemmens but big enough, seeing as I already pay for Mapbox (but at a level where I don't need to mortgage my flat) exporting maps would be rather useful...

[2014-11-10 14:36] dnomadb opened #1003 "Settings icon missing"
In `0.1.6`
![screen shot 2014-11-10 at 6 34 56 am](https://cloud.githubusercontent.com/assets/5084513/4977390/e6ed61f8-68e6-11e4-9f7a-5d0b88d3c421.png)

[2014-11-10 14:46] samanpwbb commented on #1003
Caching issue, try refreshing a few times

Sent from my iPhone

[2014-11-10 15:30] #1003 closed, assigned to nobody

[2014-11-10 15:34] samanpwbb opened #1004 "up base version before next release"
newer versions of base are correctly cache busting fonts, so lets get that it.

[2014-11-10 17:59] ajashton commented on #990
@discursives data.yml files exist automatically for all Mapbox Studio source projects, you shouldn't have to create one yourself. It exists inside the `*.tm2source` project folder. After making changes to the yml file in a text editor you'll need to restart Mapbox Studio and re-export your source project. To see the changes in your style project, hit the refresh button in the layers panel.

[2014-11-10 18:01] alexrollin commented on #990
i set the layer to 256 , but, seems i need 512 set in the yml file, eh?

thanks.

##

Alex

On Tue, Nov 11, 2014 at 12:59 AM, AJ Ashton notifications@github.com
wrote:

[2014-11-10 18:43] jamierob opened #1006 "ability to 'favorite' a postgis server"
It would be great to be able to add connection settings for a postgis server to a list of favorites (like there was in tilemill) so it wasn't necessary to enter the db, host, port, user, and pw manually each time a layer is added from the server.

[2014-11-10 21:15] samanpwbb opened #1007 "client tests hanging (osx 10.10)"
Unable to run client tests on any of my dev branches or gh-pages. Client tests are hanging on phantom.js with no terminal output, no CPU activity. I have waited 10+ minutes.

I went through commit history to see if there was a point at which the tests began. No luck.

I tried using old versions of phantom.js, no luck

Here are the affected tests:

[code]

For me, the tests that pass give this warn

[2014-11-10 21:21] ian29 commented on #1007
actually not all tests passed for me. 2 js-upload tests fail:

[code]

full output from test-client.js:
https://gist.github.com/ian29/2e3ab541e15c1405bb76

[2014-11-10 21:23] ian29 commented on #1007
also im on MAC OS X 10.10

[2014-11-11 02:28] springmeyer commented on #981
Thinking now this could likely have been solved by hitting the  "Refresh button" for the layer which I was not aware of and must clear the local cache of vector tiles.

[2014-11-11 02:28] #981 closed, assigned to nobody

[2014-11-11 20:14] tmcw opened #1008 "Document source file format support"

[2014-11-11 20:15] yhahn commented on #1008
https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-source-manual.md#supported-formats ?

[2014-11-11 20:16] tmcw commented on #1008
Ah, totally missed that..

[2014-11-11 20:16] #1008 closed, assigned to nobody

[2014-11-11 22:26] metsfan opened #1009 "aeroway=aerodrome is classified as industrial? Confused about tagging system"
Hello MapBox team.  I have recently been using Mapbox Studio, and as an avid user of OSM, I am impressed.  I am, however, a bit confused regarding your classification scheme.  I wanted to style airports and had expected that the #aeroway selector would have controlled the "aeroway=aerodrome" tag, but instead it seems to be controlled by the "#landuse[class='industrial']" selector in Mapbox Studio.

[2014-11-11 23:36] TheMapSmith commented on #1009
Echoing @metsfan, I've been wondering about the way the tags are processed too. @ajashton has done an **amazing** job simplifying the OSM tagging system for ease of use in MBS and on their data platform, but sometimes when I get into the cartographic weeds I have to scratch my head a little.

I'm not sure the MBS repo is the place for us to dissect and question the data system, so maybe AJ and his

[2014-11-12 05:14] yhahn commented on #1004
@samanpwbb we should switch to the npm installable version of base btw.

[2014-11-12 05:32] #991 closed, assigned to nobody

[2014-11-12 05:32] #996 closed, assigned to nobody

[2014-11-12 05:32] #999 closed, assigned to samanpwbb

[2014-11-12 19:49] yhahn opened #1012 "Such CHANGELOG"
Got some catching up to do for next release. Will give this a quick pass.

[2014-11-12 20:42] #997 closed, assigned to samanpwbb

[2014-11-12 20:42] #1004 closed, assigned to samanpwbb

[2014-11-12 23:28] tmcw commented on #747
Noting that we're seeing one or two users in support tripping over this thinking it will add sources and not getting any informative feedback after clicking it.

[2014-11-12 23:39] samanpwbb commented on #747
oof, that's bad. I will fix this :P

[2014-11-13 00:39] samanpwbb opened #1016 "Warn user if style is too slow"
![screen_shot_2014-11-12_at_7_39_07_pm](https://cloud.githubusercontent.com/assets/108094/5021459/a3954ccc-6aa3-11e4-998c-73dcfb58ec4c.png)
- source mode as well.

Should we disallow uploading if value is above limit?

[2014-11-13 00:40] yhahn commented on #1016
Samesame for source btw.

[2014-11-13 00:41] samanpwbb commented on #1016
@yhahn you say these limits are hardcoded somewhere? Can you point me to the right place?

[2014-11-13 00:46] yhahn commented on #1016
Yep we have to multiple limits:

[code]

[2014-11-13 09:11] pistou commented on #718
Just had the same issue on Windows Vista 32 bit (install via Chocolatey)

[2014-11-13 09:22] wilhelmberg commented on #718
@TouPye
**Vista** is not supported. You might want to switch to a more recent OS anyway.

Keep in mind MapBox Studio 0.1.6 is 64bit only, at the moment.
On a 32 bit OS (W7 and newer), you might want to use 0.1.5:
https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-previous-releases.md

[2014-11-13 17:07] #747 closed, assigned to samanpwbb

[2014-11-14 03:07] bladepeter commented on #751
I running mapbox studio on win7 x64,the process running , then colsed itself,why?

[2014-11-14 03:09] springmeyer commented on #751
@bladepeter see https://github.com/mapbox/mapbox-studio/issues/976#issuecomment-61400660 for a workaround until we get a new release out.

[2014-11-14 03:22] bladepeter commented on #976
this fixed worked,thanks @BergWerkGIS

[2014-11-14 08:52] jfreyre opened #1018 "polygon-geometry-transform seems erroneous"
Hi,

I'm trying to create a style to render soccer fields like real ones (with median lines, center circle, etc.)

What I've done actually is displaying the center circle like that

[code]

And the renderings is quite good:

![capture d ecran 2014-11-14 a 09 48 59](https://cloud.githubusercontent.com/assets/1135557/5043250/837e95a6-6be3-11e4-8a0c-1c6698af8968.png)

Now I'm trying to render median

[2014-11-14 13:47] jasonwoo commented on #976
Thanks for this fix @BergWerkGIS. It was a huge help. (Windows 7 64bit)

[2014-11-14 15:21] yhahn opened #1020 "Windows installer tests"
Should be feasible to grab a built windows installer and run some tests on appveyor:
- fresh install, check that right paths are written to
- install old version, test that uninstall wipes
- install old verison, test that install wipes old + installs new

Task for a rainy day.

cc @BergWerkGIS

[2014-11-14 16:34] springmeyer commented on #1020
good idea

[2014-11-14 19:07] duncangraham commented on #994
I've made a branch that improves the functionality of range inputs [here](https://github.com/mapbox/mapbox-studio/tree/oninput)

![oninput](https://cloud.githubusercontent.com/assets/865298/5051600/4e00257e-6bee-11e4-9f6e-968b1de183b5.gif)

I grepped the folder for all occurrences of rangeHandler, and replaced the onchange listeners with oninput listeners.

![screen shot 2014-11-14 at 10 52 57 am]

[2014-11-14 21:34] mtirwin opened #1021 "UI and file export for Atlas integration"

[2014-11-14 22:05] mtirwin commented on #1021
Wrong repo.

[2014-11-14 22:05] #1021 closed, assigned to nobody

[2014-11-14 22:10] wboykinm commented on #1021
@mtirwin Too late - interest piqued. "Atlas"? Is that referring to the enterprise server?

[2014-11-14 23:06] samanpwbb commented on #1016
--> #1017

[2014-11-14 23:06] #1016 closed, assigned to samanpwbb

[2014-11-14 23:28] mtirwin commented on #1021
@wboykinm yep. Check out the specs at www.mapbox.com/enterprise.

[2014-11-15 01:07] springmeyer commented on #976
Anyone here on OS X 10.8, can you try this mapbox-studio build: https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-darwin-x64-windows-cpp11.zip

Anyone on windows can you try this build: https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-windows-cpp11.exe

And report back how they work?

[2014-11-15 01:08] springmeyer commented on #974
Anyone here on OS X 10.8, can you try this mapbox-studio build: https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-darwin-x64-windows-cpp11.zip

Anyone on windows can you try this build: https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-windows-cpp11.exe

And report back how they work?

[2014-11-15 01:09] springmeyer commented on #969
@jordantrain and @cdunsingwem can you try this build: https://mapbox.s3.amazonaws.com/mapbox-studio/mapbox-studio-win32-x64-windows-cpp11.exe and let me know if it works for you?

[2014-11-15 01:10] springmeyer commented on #984
@jameslaneconkling do you see any crash reports in ~/Library/Logs/DiagnosticReports/ with the word `node` in them? If so can you share them?

[2014-11-15 03:25] tpstigers commented on #974
Just installed and ran it on my Windows 8.1 box.  Started up and ran just fine.  I poked around a bit and everything was fine, but I won't have time to really put it through its paces until later this weekend.

[2014-11-15 08:55] andymiller-gb commented on #974
Hi Dane

I'm on OS 10.9 and it seems to work fine. (Sorry if that's a bit vague but I'm  a newbie to MapBox so I don't know enough yet to do more than launch it and have a look around).

[2014-11-15 20:29] maptastik commented on #976
Thanks for the fix @BergWerkGIS. It did the job!

[2014-11-16 19:36] ikmolbo opened #1024 "Export image through command line?"
I've just discovered MapBox Studio and its excellent hi-res image export function. But is it possible to achieve the same via the command line (so that I can export an image without using the GUI)?

I'd really appreciate an example.

Many thanks,

[2014-11-17 02:52] jameslaneconkling commented on #984
nope. just tested a few times and no crash reports.

[2014-11-17 15:16] samanpwbb commented on #1002
See https://github.com/mapbox/mapbox-studio/pull/801#commitcomment-7697357 - which introduces this change. Earlier versions of the app were more like you describe. I am not sure which is better. There are advantages to both.

In Studio we use the word "project" differently from how you're using it here. You can have two types of projects: a "style project" and a "source project". The semantics of

[2014-11-17 15:46] samanpwbb commented on #952
I have seen this same problem and I'm not sure what's causing it. Could it be caused by user hitting a cache limit or something like that? Once the source has been saved the problem goes away. We could fix this by requiring or forcing a save after importing a new source.

[2014-11-17 15:51] samanpwbb commented on #784
Done

[2014-11-17 15:51] #784 closed, assigned to yhahn

[2014-11-17 16:23] samanpwbb commented on #634
@g12n latest release of Mapbox Studio uses mapnik 3, which supports SVG patterns. These will scale with the map.

@TheMapSmith your issue is a bit different. All the mapnik `transform` functions ignore scale factor, while the `geometry-transform` functions take scale into account. See https://github.com/mapnik/mapnik-reference/pull/86

[2014-11-17 16:23] #634 closed, assigned to springmeyer

[2014-11-17 19:24] samanpwbb opened #1026 "Source UI: clarify meaning of buffer size"
Buffer size is mysterious:
![screen shot 2014-11-17 at 1 53 37 pm](https://cloud.githubusercontent.com/assets/108094/5075487/2ce63a70-6e61-11e4-991c-b0772e9b18aa.png)

Inline copy? Something like:

A UI component that visualizes buffer size?
![image3540](https://cloud.githubusercontent.com/assets/108094/5075980/647443d4-6e65-11e4-9429-c529fec1fbc9.gif)

[2014-11-17 19:26] samanpwbb opened #1027 "Source UI: clarify meaning of minzoom/maxzoom"
These innocuous looking sliders are powerful / dangerous:
![screen shot 2014-11-17 at 2 25 28 pm](https://cloud.githubusercontent.com/assets/108094/5076005/9e24c1c6-6e65-11e4-9784-ee556d40c4ca.png)
- Add explanatory copy.
- Visualize or display the size (in tiles?) of export for user as user changes export area.

[2014-11-17 19:45] ajashton commented on #993
Assuming the unmodified imagery is not greyscale (some parts of our satellite imagery are) I suppose this is just a consequence of our MODIS & Landsat data being much more saturated than most of our other imagery. Even though the satellite team is working on reducing the jump, I think there will continue to be at least a bit of a difference for a while. You might be able to reduce the effect with

[2014-11-17 20:52] duncangraham commented on #994
PR for range input improvement here https://github.com/mapbox/mapbox-studio/pull/1028

[2014-11-17 20:52] #994 closed, assigned to nobody

[2014-11-17 22:02] osxi opened #1029 "Use remote GeoJSON API endpoint for Source Datasource"
I've tried adding a URL to the OGR File field in a Source as per:
![image](https://cloud.githubusercontent.com/assets/6734090/5078415/37937e40-6e72-11e4-8a79-cd589a09ffc9.png)

and I get: `OGR Plugin: connection failed: /<path/to/my.tm2source>/https://my.api.endpoint.com/features.geojson was not found or is not a supported format`.

I tried manually adding my URL endpoint in my data.yml file and g

[2014-11-17 23:16] franckl commented on #944
+1 OSX and studio 0.1.6

[2014-11-17 23:40] yhahn opened #1030 "0.2.0+ windows followup tasks"
Capturing @springmeyer's tasks from https://github.com/mapbox/mapbox-studio/pull/1005.
- [x]  tag mapnik-omnivore (on master currently)
- [x]  fix appveyor to use our node.exe (default node.exe is 32 bit on appveyor vms) - https://github.com/mapbox/mapbox-studio/commit/4225324cb888944b97552774809ee8a6c38b661a
- [x]  Try to workaround problem setting of environment variables for c++ addons - https:

[2014-11-18 00:28] alexkurtz opened #1032 "Styles for mapbox-gl-js"
Hi!

I've found there is no way to use the Studio generated styles with mapbox-gl-js, since we can export only to mapbox (or mbtiles), which is no the json spec they use there. Is there any way of doing so? If not, could be a good feature to have (may require some coordination between the teams, though).

Thanks!

[2014-11-18 00:31] samanpwbb commented on #1032
Soon there will be tools for styling GL, stay tuned. https://twitter.com/Mapbox/status/530890936998322176

[2014-11-18 00:31] #1032 closed, assigned to nobody

[2014-11-18 02:06] springmeyer commented on #1030
working on omnivore tag now

[2014-11-18 02:43] springmeyer commented on #1030
Looks like appveyor on windows is now passing all serverside tests and hitting errors that have been around since before the window-cpp11 merge:

[code]

[2014-11-18 03:42] wboykinm commented on #993
Aha; I was wondering if it was a balance issue or if the histogram matching wasn't going well. Indeed, some of the high-res imagery is just destined to be grayscale in this iteration. Check out the multiple spectral resolutions:

![2014-11-17_2239](https://cloud.githubusercontent.com/assets/735463/5082248/d9f23158-6eaa-11e4-9cbe-9b5ae5a23043.png)

Thanks for the filter suggestions; I'll keep tryin

[2014-11-18 04:27] springmeyer commented on #1030
gah: looked more into what is going on with environment variables and node on windows. It looks like if `process.env` is modified then node c++ addons:
- On unix `getenv` will see it no problem
- On windows with node.js node.exe then `getenv` will only see the variable if `process.env` was modified before the addon was `require`'d
- On windows with node-cpp11 node.exe then `getenv` will only see t

[2014-11-18 07:59] springmeyer commented on #1030
I think I've found a fix which is to use `putenv` instead of `SetEnvironmentVariableW` in node: https://github.com/mapbox/node/commit/34d3d20624419f2100ba47118ec7dccb973177e5. Pushed https://github.com/mapbox/node-cpp11/commit/fe5f4d58745f39b90e37a63a312e283cbffbc588 to try to build this into a binary to test further.

[2014-11-18 08:03] springmeyer commented on #1030
@BergWerkGIS - I wonder if you have ideas of how best to do this? The idea is that we want the appveyor builds of mbstudio to fail if either node.exe or any c++ addons are using anything other than visual studio 2014. So, if we made a mistake in packaging this would be the final catch to signal not to create a release yet. My best idea is that we'd glob the node_modules folder looking for files th

[2014-11-18 08:14] wilhelmberg commented on #1030
@springmeyer
I've done something similiar to determine MT/MTd/MD/MDd:
https://github.com/BergWerkGIS/mapnik-dependencies/blob/windows/linktype.ps1
It's Powershell, but shouldn't be a problem to port to Python/node.js.

[2014-11-18 16:25] MarkWS commented on #976
That worked for me as well. Thanks!

[2014-11-18 16:53] yhahn opened #1033 "Disallow trailing slash from MapboxAPITile setting"
Or bad things happen.

[2014-11-18 19:39] #1033 closed, assigned to yhahn

[2014-11-18 20:04] camilleanne commented on #1024
@wriggle

Yes -- this is possible. The Download button in the export pane is is a link to the Mapbox Studio endpoint that delivers the image. As long as Mapbox Studio is running, you can hit the endpoint from either the browser or the terminal.

There are actually two endpoints -- one takes WSEN coordinates and generates pixel dimensions from that, the other takes a center point and width & height

[2014-11-18 20:04] #1024 closed, assigned to nobody

[2014-11-18 21:17] wboykinm commented on #1024
AWESOME

[2014-11-18 21:58] springmeyer commented on #1030
update on putenv issue: I'm running around re-starting appveyor builds to make sure things are working and its looking good. Node v0.10.x with omnivore is working: https://ci.appveyor.com/project/Mapbox/mapnik-omnivore/build/1.0.182. Waiting for this build to finish https://travis-ci.org/mapbox/node-cpp11/jobs/41409644 and then I think v0.11.x will be working too.

[2014-11-18 22:31] springmeyer opened #1036 "test-client.js failing on appveyor"
Not sure when this started to fail.

[code]

[2014-11-19 00:20] springmeyer commented on #1030
@BergWerkGIS - thanks for the script reference. From that based I've started https://github.com/mapbox/mapnik-omnivore/blob/46e760293d819cb4f909ce047b9a8a6ea2689993/test/check_shared_libs.py

However, I'm not able to detect the presence of /MT linking. Take node.exe from nodejs.org as an example. It was surely linked with /MT against the 2013 C++ runtime, but how can we validate this?

The outputs

[2014-11-19 00:26] springmeyer commented on #1030
hmm, so node.exe is compiled with `WholeProgramOptimization` or `/GL` (https://github.com/joyent/node/blob/cfcb1de130867197cbc9c6012b7e84e08e53d032/common.gypi#L96) which may be why things are not showing up (http://stackoverflow.com/questions/25284513/check-what-run-time-static-library-or-dll-uses). However `-HEADERS` does not give much of interest either: https://gist.github.com/springmeyer/7e0e

[2014-11-19 00:31] springmeyer commented on #1030
win-ldd also does not show anything other than the dynamic libs so we may need to validate based on the lack of a dynamic link to the c++ runtime rather than a direct indication of /MT:

![screen shot 2014-11-18 at 4 30 19 pm](https://cloud.githubusercontent.com/assets/20300/5098831/644a6e66-6f40-11e4-96d9-8e1e7f4d065b.png)

[2014-11-19 01:21] yhahn commented on #1036
https://github.com/mapbox/mapbox-studio/pull/1037

[2014-11-19 01:21] #1036 closed, assigned to nobody

[2014-11-19 02:12] springmeyer opened #1039 "32 bit windows package"
In v0.1.6 we switched from providing a 32 bit package for windows to a 64 bit package.

We are very close to being able to provide a 32 bit package again for the few users still on 32 bit systems. Steps to get there:
- [x] - new node-mapnik tag that supports 32 bit
- [x] - push 32 bit node-srs binaries
- [x] - push 32 bit node-sqlite binaries
- [x] - push 32 bit node-gdal binaries
- [x] - tweaks t

[2014-11-19 02:13] springmeyer commented on #1030
all done here, tracking 32 bit support at #1039 (which can come later).

[2014-11-19 02:13] #1030 closed, assigned to nobody

[2014-11-19 02:16] springmeyer commented on #1029
This is not a supported feature. The GeoJSON file needs to be local to your filesystem.

[2014-11-19 02:31] springmeyer commented on #964
I presume the Info.plist we'd need to modify is inside atom-shell. If anyone takes the lead on this note that as of 0.1.7 OS X 10.8 should now be supported again: 8e20e1a50ccc40a09ffa10b77a71c941c83c31e5

[2014-11-19 02:42] springmeyer opened #1040 "Release v0.2.0"
Remaining to get this out:
- [x] Pushed a test package of `v0.2.0-pre` - will download on windows box and make sure it runs - just for a sanity check since appveyor is kapoot tonight
- [x] Anything more to add to https://github.com/mapbox/mapbox-studio/issues/1012?
- [x] bump package.json, etc and follow https://github.com/mapbox/mapbox-studio/blob/mb-pages/CONTRIBUTING.md#tagging--releasing - #10

[2014-11-19 02:43] springmeyer commented on #943
got 64 bit now, lost 32, next up at #1039

[2014-11-19 02:43] #943 closed, assigned to nobody

[2014-11-19 02:44] springmeyer commented on #897
closing, appveyor is back from vacation.

[2014-11-19 02:44] #897 closed, assigned to nobody

[2014-11-19 02:45] springmeyer commented on #898
@keikreutler - just checking in here: did you make any progress?

[2014-11-19 02:47] springmeyer commented on #969
fixed by #1040 - thanks @BergWerkGIS for making this happen

[2014-11-19 02:48] springmeyer commented on #974
Thanks for the testing feedback everyone and to @BergWerkGIS for figuring out and helping fix the problems. This will be fixed in the next release that will land anytime now: #1040

[2014-11-19 02:48] #974 closed, assigned to nobody

[2014-11-19 02:48] springmeyer commented on #976
Thanks for the testing feedback everyone and to @BergWerkGIS for figuring out and helping fix the problems. This will be fixed in the next release that will land anytime now: #1040

[2014-11-19 02:48] #976 closed, assigned to nobody

[2014-11-19 02:49] springmeyer commented on #869
This is due to some faulty data likely - if you can narrow down the table and geometry/row it is coming from that would be really helpful.

[2014-11-19 02:52] springmeyer commented on #859
/cc @GretaCB - could this be because mapnik-omnivore is currently looking at the first layer and not all of them? (https://github.com/mapbox/mapnik-omnivore/issues/43#issuecomment-63045822)

[2014-11-19 03:00] springmeyer commented on #689
As I mention at https://github.com/mapbox/node-pre-gyp/issues/6#issuecomment-59550543 I think this results from some kind of lag in how npm shasum updates work. Not seen it in the last month or so, so closing.

[2014-11-19 03:00] #689 closed, assigned to nobody

[2014-11-19 03:00] springmeyer commented on #616
anything left to do here?

[2014-11-19 03:01] springmeyer commented on #627
bump @BergWerkGIS  - still hitting this?

[2014-11-19 03:02] springmeyer commented on #527
@tmcw happy to offer osmium c++ help, but I think I saw you already knocked this outa the part with go? Let me know :)

[2014-11-19 03:40] yhahn opened #1041 "Matrixize app building/testing"
Will take this on. Should make it cleaner to support https://github.com/mapbox/mapbox-studio/issues/1039 when we're ready.

[2014-11-19 03:42] yhahn commented on #616
Nope, this happened.

[2014-11-19 03:42] #616 closed, assigned to nobody

[2014-11-19 05:29] osxi commented on #1029
Any chance of this being implemented in the near future or is there a good alternative? (asked for posterity and then issue should probably be closed)

I was hoping to style GeoJSON from a remote API with CartoCSS.

[2014-11-19 05:40] springmeyer commented on #984
perhaps related: #966

[2014-11-19 06:07] springmeyer commented on #850
hi @flemmens  - Mapbox Studo v0.2.0 was just released (you can download it from https://www.mapbox.com/mapbox-studio/). I would be interested to know if this helps resolve some of the instability issues you have been seeing. As far as the logs you provided above those errors do not look directly related to the crashes but rather look like invalid styling or datasource options. I presume you were a

[2014-11-19 06:08] springmeyer commented on #878
Can anyone replicate this in the new v0.2.0 release? (https://www.mapbox.com/mapbox-studio). I'm hoping it was an atom shell bug. If it still persists can you check if the problem also exists if you load up Mapbox Studio at http://localhost:3000 in your web browser?

[2014-11-19 06:19] springmeyer commented on #976
v0.2.0 is now available for download: https://www.mapbox.com/mapbox-studio

[2014-11-19 06:19] springmeyer commented on #974
v0.2.0 is now available for download: https://www.mapbox.com/mapbox-studio

[2014-11-19 06:19] springmeyer commented on #969
v0.2.0 is now available for download: https://www.mapbox.com/mapbox-studio

[2014-11-19 06:20] springmeyer commented on #1040
done and available at https://www.mapbox.com/mapbox-studio

[2014-11-19 06:20] #1040 closed, assigned to nobody

[2014-11-19 06:46] #1012 closed, assigned to nobody

[2014-11-19 07:15] springmeyer commented on #805
@camilleanne - In v0.2.0 we're now upgraded to atom-shell v0.19.2 (https://github.com/atom/atom-shell/releases/tag/v0.19.2) - want to test this again?

[2014-11-19 07:17] springmeyer commented on #718
MapBox Studio v0.2.0 is now out and the installer kindly enforces at least Windows 7. Mapbox Studio v0.2.0 also uses atom-shell https://github.com/atom/atom-shell/releases/tag/v0.19.2. If anyone hits problems like this again please create a new issue.

[2014-11-19 07:17] #718 closed, assigned to nobody

[2014-11-19 12:12] stevage opened #1043 "Text labels on polygons"
As noted in the common questions:

Just wondering whether this is a permanent design decision, or if there are any plans to address this? Two possibilities that come to mind are:

1) The data source could compute and distribute centroids (possibly altering APIs, breaking standards...)
2) Mapbox Studio could assist in the generation of a centroids layer (messy, now you have a local labels layer and

[2014-11-19 16:19] ian29 commented on #1026
+1 for anything that communicates to users that source mode is basically making 1 vector tile at time

[2014-11-19 16:24] alexrollin commented on #1026
+1 for even more information than that :)

##

Alex

On Wed, Nov 19, 2014 at 11:19 PM, Ian Villeda notifications@github.com
wrote:

[2014-11-19 16:26] ian29 commented on #1026
er, to clarify @samanpwbb: i was specifically referring to the graphic of the buffer size increasing. i think this could be really helpful.

[2014-11-19 16:51] GretaCB commented on #859
@springmeyer the projection is `+init=epsg:4326` because currently, mapnik-omnivore [assumes projection for gpx and kml](https://github.com/mapbox/mapnik-omnivore/blob/master/lib/datasourceProcessor.js#L117).

@springmeyer should this still be assumed?

And I ran the gpx file above through `mapnik-omnivore` and Mapbox Studio, and fields are coming out fine. This ticket might've been related to [a

[2014-11-19 17:17] franckl opened #1044 "Style UI: Add an autocomplete search box on the documentation column"
This search box would filter the cartocss properties

[2014-11-19 18:42] springmeyer opened #1045 "Appveyor target that tests packaging workflow"
Appveyor is working nicely now (https://ci.appveyor.com/project/Mapbox/mapbox-studio/build/1.0.1521), We run all the tests (server and client) and validate the shared libraries and node c++ modules to ensure they are all visual studio 2014 binaries (#1038).

But we should create another appveyor matrix that focuses on testing the way the app is packaged (or maybe the packaged app itself?). Because

[2014-11-19 18:48] springmeyer commented on #945
I don't have the bandwidth to look into this, but here to say:
- I noticed [this line](https://github.com/mapbox/mapbox-studio/blob/46af290f96697ee00950e757bcc1d444bb4abab8/index-shell.js#L30-L31) which seems to indicate that crashes are already being reported, but to the atom-shell developers not us.
- So, it seems like the next step is to read the atom-shell docs and code to figure out if we can

[2014-11-19 18:51] springmeyer commented on #891
@diligentpig - would be great if you could download the latest release (https://www.mapbox.com/mapbox-studio/) and try your original data again. The app is now 64 bit and should be able to cope with more data on windows. There are still a number of optimizations we could make, but I bet your case will work now. Let me know in a new issue if it does not and we can look closer together.

[2014-11-19 18:51] #891 closed, assigned to nobody

[2014-11-19 19:08] springmeyer commented on #1043
Hi @stevage - thanks so much for sharing your ideas.

No this is not permanent in that yes: ideally we can come up with ways to mitigate the impact of tiled data. Pre-computing centroids is definitely something we've considered. Overall I've been thinking about  a vector tile geometry storing not only the clipped geometry (like it does now) but also potentially metadata like the original centroid,

[2014-11-19 19:09] springmeyer commented on #1045
perhaps related #1041

[2014-11-19 19:11] springmeyer commented on #983
Yes, this would be quite useful. If you have ideas for how it could be done please comment more. I've personally not looked closely yet at what breaks/what would need fixing to support relative paths, but this is on my radar to research.

[2014-11-19 19:12] springmeyer commented on #1044
/cc @samanpwbb and @tristen who will have a sense of whether this is feasible.

[2014-11-19 19:13] springmeyer commented on #1027
:+1: Would love @amyleew 's ideas of good language for this.

[2014-11-19 19:15] samanpwbb commented on #1044
Yes, feasible. I am a little wary about implementing this, since built-in browser cmd + f works pretty decently for searching cartocss.

[2014-11-19 19:26] franckl commented on #1044
I am using the os x app. I didn't know you could get it in the browser

[2014-11-19 19:29] samanpwbb commented on #1044
@franckl ahh, you're right. Node-atom doesn't provide a search bar. This certainly helps your case.

[2014-11-19 19:50] aaroncrawford commented on #1029
:+1: to this request.  This would be a very powerful feature.

[2014-11-19 19:52] camilleanne commented on #805
@springmeyer :+1:  I'll take a look.

[2014-11-19 19:55] caarloshugo commented on #965
how can i run it in 32?

[2014-11-19 20:03] springmeyer commented on #965
@caarloshugo 32 bit linux is not supported via the provided packages. I would highly recommend using a 64 bit system. If you can't for some reason, then a source install would be needed: #898

[2014-11-19 20:03] #965 closed, assigned to nobody

[2014-11-19 20:34] artemp opened #1047 "Wonky internet connection results in mapbox-studio 0.2.0 crashes"
[code]

[2014-11-19 20:40] springmeyer commented on #1029
The reason this feature (which was supported in TileMill) is not implemented is that to do it properly is very involved and unit tests for it would need to be sophisticated and mock various types of http and network failures.

There is no doubt this is useful and powerful, but it would need a serious champion to implement in a way that would be viable to support long term.

[2014-11-19 20:50] pnorman commented on #983
A bare mapbox id would need to be changed to a mapbox URL. A bare id would not be suggested for portability with software other than mapbox studio (e.g. kosmtik), and having the field either able to accept a generic piece of text or a URI is confusing.

Aside from that, there's probably a node URI parser which can identify relative paths. I'm not sure if the relative paths should be relative to th

[2014-11-19 20:56] springmeyer commented on #859
@GretaCB - thanks! Yes, the assumed `+init=epsg:4326` is correct, but the `No available fields. Make sure your layer is referencing valid data.` seems odd. However I just tested the above data and the fields load fine so I think you are right that this was fixed in
https://github.com/mapbox/mapbox-studio-internal/issues/117

![screen shot 2014-11-19 at 12 55 36 pm](https://cloud.githubusercontent.

[2014-11-19 20:56] #859 closed, assigned to nobody

[2014-11-19 23:25] #663 closed, assigned to nobody

[2014-11-19 23:27] stevage commented on #961
In my experience as a user, indexing shapefiles has been relatively quick and the pay-off has been big. So I'd suggest it should be opt-out. If you have the ability to terminate a shapeindex shell call, how about something like:
1. User adds layer
2. If no `.index` file present, immediately start indexing, and show a spinning-wheel dialogue "Indexing shapefile for speed. This may take a few moment

[2014-11-19 23:51] camilleanne commented on #805
Unfortunately there is no sign of it in 0.2.0 :/

[2014-11-20 00:11] springmeyer commented on #961
@stevage - I like it.

[2014-11-20 01:26] alexrollin opened #1049 "maki SVG marker-fill not available in mapbox studio?"
Is it by design that SVG marker-fill does not work in Mapbox Studio?

[2014-11-20 04:22] #1029 closed, assigned to nobody

[2014-11-20 04:25] yhahn commented on #983
@pnorman could you describe your need rather than a particular technical solution?

Early in development we had a relative path system that we scrapped because it was brittle and asking all users using the projects involved to layout their filesystem in a similar way did not work well. We found it better to materialize the source and share it that way as a tilejson URL or mapbox map ID.

[2014-11-20 08:26] pnorman commented on #983
I need to share a project with both a style and source with git (e.g. [natural-earth-tm2](https://github.com/mapbox/natural-earth-tm2)), where I know the path of the source relative to the style, but don't know the absolute path. I don't have a tilejson url, since I don't have a tile directory. I don't have a mapbox map ID, since it's a local source.

[2014-11-20 08:52] alexrollin commented on #983
I am interested in this also.

##

Alex

On Thu, Nov 20, 2014 at 3:26 PM, Paul Norman notifications@github.com
wrote:

[2014-11-21 03:06] springmeyer opened #1050 "unavoidable conflict: node-pre-gyp"
![screen shot 2014-11-20 at 7 04 45 pm](https://cloud.githubusercontent.com/assets/20300/5137115/38ee7e70-70e8-11e4-8fa5-ccdb49c449b3.png)

[2014-11-21 03:09] #1050 closed, assigned to nobody

[2014-11-21 03:39] springmeyer opened #1051 "Not all documentation pages are visible"
There are pages in `website/_posts` that are not displayed in the "Documentation" index at https://www.mapbox.com/mapbox-studio/.

I have to dig into `website/_posts` to know how to guess the public urls. Am I missing something obvious here?

[2014-11-21 05:42] springmeyer commented on #1039
All done here, except for actually revealing `mapbox-studio-win32-x86-v0.2.0.exe` on the website. @samanpwbb would you be able to do that? Basically we just need two windows binaries displayed at once.

[2014-11-21 13:28] samanpwbb commented on #1039
@springmeyer yeah, i'll take care of it this morning!

[2014-11-21 15:56] yhahn commented on #1051
This is intentional atm -- docs like https://github.com/mapbox/mapbox-studio/blob/mb-pages/docs/0000-01-01-previous-releases.md are available via the package/github and linkable there.

[2014-11-21 16:21] amyleew commented on #1027
@samanpwbb @springmeyer how does these sound:

Minzoom
- "Lowest zoom where data appears"
- "Data first appears at this zoom"

Maxzoom
- "Highest zoom with _stored_ data, high quality  [overzooming](https://www.mapbox.com/mapbox-studio/source-manual/) available 4-6 levels beyond maxzoom."
- "Highest zoom where data is stored, check quality of [overzoommed](https://www.mapbox.com/mapbox-studio/sour

[2014-11-21 18:20] amyleew opened #1053 "Studio connection error with v0.2.0"
Styles will not load but source files load fine.

![image](https://cloud.githubusercontent.com/assets/4587826/5146925/551f74a4-717f-11e4-93f0-2655665ff998.png)

[2014-11-21 18:50] #1053 closed, assigned to nobody

[2014-11-21 20:53] larslevie commented on #1006
+1

[2014-11-21 21:31] caarloshugo commented on #965
Ok, I will try with 64t bit, thank you!

[2014-11-21 22:41] geografa opened #1054 "Display geometry of layer in layer panel"
Is it possible to show the geometry (icon) of a layer in the panel? Relying on layer name alone can be cumbersome for numerous layers with similar names.
![mapbox_studio](https://cloud.githubusercontent.com/assets/134753/5150898/079f5912-718c-11e4-84ba-e697d8408966.png)

[2014-11-21 22:42] yhahn commented on #1054
https://github.com/mapbox/mapbox-studio/issues/543

[2014-11-21 22:42] #1054 closed, assigned to nobody

[2014-11-21 22:44] oeon commented on #307
I noticed #171 is closed now. Is there any other information regarding this issue to-date?

[2014-11-21 23:45] springmeyer commented on #307
@oeon not yet, but we should add this soon. Support will first need to be added to mapnik-omnivore and would make sense to land as part of supporting a few other GDAL based formats like https://github.com/mapbox/mapnik-omnivore/issues/13

[2014-11-22 00:14] samanpwbb commented on #1039
Committed this to your `multiarch` branch:
![screen shot 2014-11-21 at 7 07 08 pm](https://cloud.githubusercontent.com/assets/108094/5151824/c14447ae-71b1-11e4-98f8-74b25d626047.png)

[2014-11-22 00:37] #1039 closed, assigned to nobody

[2014-11-23 23:18] incanus opened #1056 "download link not detecting"
On OS X Safari, going to http://mapbox.com/mapbox-studio results in a non-detecting download link:

![screen shot 2014-11-23 at 3 16 32 pm](https://cloud.githubusercontent.com/assets/17722/5159701/eec14fa6-7323-11e4-9d8b-249000d23a4b.png)

Then, if you click any OS, including OS X, things show up right:

![screen shot 2014-11-23 at 3 17 52 pm](https://cloud.githubusercontent.com/assets/17722/51597

[2014-11-23 23:45] #1056 closed, assigned to nobody

[2014-11-23 23:50] incanus opened #1057 "OS X fullscreen state not remembered"
Unlike TileMill and Apple's OS X apps, if fullscreen mode is on when last quit, Studio doesn't restart in fullscreen.

[2014-11-24 02:58] incanus opened #1058 "typo"
Tried digging in a bunch of repos, but can't find out where this is sourced:

![screen shot 2014-11-23 at 5 18 48 pm](https://cloud.githubusercontent.com/assets/17722/5160505/98f77f9a-7342-11e4-9e90-8aa0c9043073.png)

Should be "geometry extend" not "extent".

[2014-11-24 03:01] samanpwbb commented on #1058
@incanus -> https://github.com/mapnik/mapnik-reference/blob/master/3.0.0/reference.json#L644

[2014-11-24 03:03] incanus commented on #1058
https://github.com/mapnik/mapnik-reference/pull/88

[2014-11-24 03:03] #1058 closed, assigned to nobody

[2014-11-24 19:05] samanpwbb opened #1059 "big icons for dividing type are disorienting"

[2014-11-24 19:05] #1059 closed, assigned to nobody

[2014-11-24 21:08] WEMcode commented on #969
I downloaded v0.2.0 this and am seeing no change. Loading screen then application closes.

[2014-11-24 21:18] springmeyer commented on #969
@cdunsingwem the v0.2.0 installers are currently temporarily unavailable at https://www.mapbox.com/mapbox-studio/, so I'm not sure how you downloaded it?

[2014-11-24 22:35] WEMcode commented on #969
It was available on the 19th (I downloaded it then). I see that it is no longer available. Shouldn't this ticket still be open?

[2014-11-25 01:08] springmeyer commented on #969
@cdunsingwem - thanks for clarifying. Re-opening this ticket so we can try to resolve why this is happening on your system. I will ping here once we have a new installer for you to test.

[2014-11-25 01:43] springmeyer opened #1060 "Win installer: make sure it can be run silently from command line"
This will come up as a required feature once labs need to install studio on multiple machines. Noting the trick with tilemill was done in https://github.com/mapbox/tilemill/commit/b862533cc00684356af7b4f921ca1c86e94e7381#diff-d494e52118ca448c0ec277e3d046bffa

Ideally we can hook up the appveyor script to test this once it is working.

Also, would be good to look into versioning ala https://github.

[2014-11-25 05:53] springmeyer commented on #969
@cdunsingwem - can you try:
- Rebooting your machine (this should effectively stop any background process that might be running and preventing the install from working, notably "atom.exe" processes)
- Upon rebooting then re-run the mapbox-studio v0.2.0 installer and make sure you don't have Mapbox Studio running at the same time

After doing this then try starting Mapbox Studio again - and let me

[2014-11-25 06:10] springmeyer commented on #951
v0.2.0 should fix both of the issues described above:
- startup fails (window closes before you see anything)
- upgrade windows keeps on prompting

If startup still does not work for anyone finding this issue can you please try these steps to fix it: https://github.com/mapbox/mapbox-studio/issues/969#issuecomment-64313694

[2014-11-25 06:10] #951 closed, assigned to camilleanne

[2014-11-25 06:11] springmeyer commented on #878
closing unless/util this is confirmed again.

[2014-11-25 06:12] springmeyer commented on #886
should be fixed now. Please let me know if not.

[2014-11-25 06:12] #886 closed, assigned to nobody

[2014-11-25 06:34] springmeyer commented on #1047
Just hit this at startup on windows. The app tried to load for a few seconds then crashed. Refs #645

[2014-11-25 06:42] springmeyer opened #1062 "Broken app.db crashes Mapbox Studio at startup"
If you open app.db and add text to create a json syntax error then this crashes Mapbox Studio the next time it tries to start.

An abrupt crash can lead to a corrupt app.db (seen this several times with TileMill like https://github.com/mapbox/tilemill/issues/2013).

So, we need to either:
- allow the app to open even if the app.db cannot be opened (and perhaps overwrite it)
- have the uninstaller/

[2014-11-25 07:07] springmeyer commented on #1047
Interestingly I intentionally disconnected my internet connection to try to replicate the crash. In this case instead of the whole application going down I saw `Timed out after 5000ms` displayed on a blue atom-shell window. So, not sure what is different that would cause a full crash and abrupt application in one case but not in the other.

[2014-11-25 07:47] wilhelmberg commented on #878
These still don't work for me: `{`, `[`, `]`
Win7, Win8.1

[2014-11-25 07:49] springmeyer commented on #878
okay :)

[2014-11-25 07:57] wilhelmberg commented on #878
Forgot: doesn't make a difference if I start `mapbox.exe` (atom-shell) or `node index.js` (browser, tested with latest IE, FF, Chrome).

[2014-11-25 08:22] wilhelmberg commented on #878
Using [ALT codes](http://usefulshortcuts.com/alt-codes/punctuation-alt-codes.php) I can enter `{` via holding down `Alt`-key and typing `123` on the numeric keyboard.

[2014-11-25 09:29] wilhelmberg commented on #878
Comparing the keyboard events from the demo on the startpage of http://codemirror.net/ (which accepts `{`) and Studio the only difference I can see is the `returnValue` property.
On codemirror.net it's `true` and in Studio it's `false`.

KeyboardEvent in Studio (Germany keyboard layout) for `{`:

![keyboard-event](https://cloud.githubusercontent.com/assets/4549888/5180612/b8a97f7c-748d-11e4-8483-e

[2014-11-25 10:06] yhahn commented on #1062
I can take this. Should be easy to ignore/wipe a broken db as part of the compaction routine https://github.com/mapbox/mapbox-studio/blob/mb-pages/lib/tm.js#L52-L59.

[2014-11-25 10:13] yhahn commented on #878
O_O

[2014-11-25 10:14] wilhelmberg commented on #1047
Difference is:
_no connection at all_ versus _intermittent connection with possibly corrupted data_.

The latter is a nightmare to debug: I once faced a cooperate firewall that let all requests pass, but deleted some parts of some request bodies that it deemed dangerous. Image the time it took to figure _that_ out.

I tried to simulate bad connection with [Fiddler](http://www.telerik.com/fiddler)

[2014-11-25 10:27] wilhelmberg commented on #1062
FYI:
I faced this problem this morning when I accidentally started two instances of Studio.
I deleted `app.db` and renamed `app.db.compacted` to `app.db` and then it worked again.

[2014-11-25 12:11] yhahn commented on #1047
I've always assumed this was an upstream issue where a closed connection by the server could lead to incomplete payloads because node's core does not check the content length header for you. (Note I could not find any similar check in request either).

Implemented a check in node-get here:

https://github.com/mapbox/node-get/pull/17

Will look at more testing + release today.

[2014-11-25 17:48] springmeyer commented on #1047
thank you @yhahn. To make sure I understand do you think checking content length and handling that error would address both `Error: Timed out after 5000ms`, `Can't parse message of type "vector_tile.Tile" because it is missing required fields`, and `Can't set headers after they are sent.`? I notice All three are showing up above. The only one I saw in the startup crash was `Error: Timed out after

[2014-11-25 17:53] yhahn commented on #1047
I'm not sure it will solve any of these cases for sure other than turning #2 into a different error.

I get the impression that 2+3 are caused by some bad error handling somewhere in our stack where a callback is getting called twice where it should be getting called once. It might only be triggered in the protobuf parse failure case though, so it's possible it will be fixed by this change.

[2014-11-25 17:55] springmeyer commented on #1047
okay, thanks, makes sense and sounds good to focus on getting in front of the protobuf parse error.

[2014-11-25 18:21] springmeyer commented on #1062
13ef2af1226828e7d25bc405382b49abc860efba fixes the problem I was able to simulate. @BergWerkGIS the corruption of an app.db by starting two instances of studio sounds problematic. Can you ticket that out separately with details?

[2014-11-25 18:21] #1062 closed, assigned to yhahn

[2014-11-25 18:30] springmeyer commented on #1051
What do you mean by `package/github` exactly? That it is intentional that they are only viewable as markdown on github? And that I should point users there?

[2014-11-25 18:30] yhahn commented on #1051
Yep.

[2014-11-25 18:31] springmeyer commented on #1049
@discursives - no, what are you seeing exactly?

[2014-11-25 18:42] springmeyer commented on #1051
What about linking to the extra documentation link (https://github.com/mapbox/mapbox-studio/tree/mb-pages/docs) from the bottom of https://github.com/mapbox/mapbox-studio/blob/mb-pages/website/_includes/docnav.html so that it can be found via the public website? /cc @samanpwbb

[2014-11-26 08:34] thhomas commented on #860
Error on 0.2.0 Mac OS X version:
`Mapbox Studio @ http://localhost:3000/`
`500 'GET' '/oauth/config?MapboxAPITile=https%3A%2F%2Fa.tiles.mapbox.com' 'Error: Cannot find Mapbox API at https://a.tiles.mapbox.com'`

[2014-11-26 12:28] mariusmustatea opened #1068 "Error when wanting to install"
It's the first time I want to install it. I'm using a 64-bit Windows 7 Ultimate. The .exe is: mapbox-studio-win32-x86-v0.2.0.exe so should be the same.
But, nevertheless every time I want to instal it, this error appears:
![image](https://cloud.githubusercontent.com/assets/9947998/5201202/b9172c76-7577-11e4-810a-67cd5d61ebb7.png)
What to do?

[2014-11-26 12:42] wilhelmberg commented on #1068
@mariusmustatea Could you try re-downloading the installer from https://www.mapbox.com/mapbox-studio/#win64
And since you are on 64bit OS making sure you get the 64bit installer:
"mapbox-studio-win32-**x64**-v0.2.0.exe"

[2014-11-26 13:27] wilhelmberg commented on #1068
Just verified that the downloads work for me.

Could you go into a commad prompt in the directory you downloaded the installer to and execute:
`mapbox-studio-win32-x64-v0.2.0.exe /NCRC`

[2014-11-26 13:33] wilhelmberg commented on #1068
Another thing to try (It's a known bug of NSIS to not work out of directories with special characters):

Move the installer into a directory, that doesn't have any special characters in it's path, only ASCII characters, and try from there.

[2014-11-26 13:53] mariusmustatea commented on #1068
Indeed I was trying to install it in a directory with non-ASCII characters. Once I have changed that> no more error and a swift install.
Thank you BergWerkGIS. You have been more then helpful.

[2014-11-26 13:53] #1068 closed, assigned to nobody

[2014-11-26 14:12] yehiyam opened #1069 "Error starting studio"
On windows 7 64 bit, with studio 0.2.0
when I start the application I get the following screen:

![image](https://cloud.githubusercontent.com/assets/6139491/5202433/96331bc0-7586-11e4-9b31-ab910f4fa194.png)

Clicking on Connect switches to the following screen:

![image](https://cloud.githubusercontent.com/assets/6139491/5202461/cc075ef0-7586-11e4-9c16-6732ef339809.png)

Do I need to enter a diffe

[2014-11-26 14:27] wilhelmberg commented on #1068
@mariusmustatea No problem.

[2014-11-26 14:34] wilhelmberg commented on #1069
@yehiyam
Do you connect to the internet through a proxy at your workplace?

We are still working on proxy support.

When looking at your connection settings in Internet Explorer/Firefox/Chrome do you see a proxy server and proxy port configured or is there a PAC (proxy auto-config) script?

[2014-11-26 15:32] ljbade opened #1070 "Silent crash on Linux"
Frequently Studio was silently crashing on my Linux machine. It would lose unsaved work each time.

I am on 64 bit Ubuntu 14.04

[2014-11-26 15:33] ljbade opened #1071 "No make folder button"
In file picker for saving a new project, there is no easy way to make a new folder. You have to switch to another program to make the folder.

[2014-11-26 15:36] ljbade opened #1072 "Hard to understand relation ship between styles, layers and sources"
Coming from previously using TileMill I got really confused about the relationship between styles, layers and sources. I had trouble figuring out the pieces of the puzzle to make a simple map with custom data overlayed on a base map.

The tutorials didn't help me too much as I skimmed them but did not absorb enough info to get my map working properly. I had to go back and spend a bit of time readi

[2014-11-26 15:38] ljbade opened #1073 "Hard to figure out how to have multiple sources, plus ordering"
The UI for selecting sources makes it look like you can only have one at a time. If you don't read the tutorials you get frustrated as the base map disappears after selecting your custom data source.

The UI should be refactored into a list with check boxes, or two lists, left one for available sources, right one for selected sources with an add/remove. The two lists would also make it easy to sor

[2014-11-26 15:40] ljbade opened #1074 "CartoCSS is case sensitive to layer names"
When referencing layer names in CartoCSS it is case sensitvie to the name.

Really annoying as when creating a custom data source the layer names can have caps if you don't realise you can rename them to lowercase.

I lost 30 minutes to this bug as I could not figure out why it did not render my data despite xray mode showing that it was there.

[2014-11-26 15:42] ljbade opened #1075 "Can't drag drop, or insert from layers panel into CSS, same with docs panel"
You should be able to click or drag to insert/copy layer names from the layers panel into the CartoCSS.

You should also be able to do that with the CartoCSS property names from the docs panel.

[2014-11-26 15:51] springmeyer commented on #1070
Can you check ~/.mapbox-studio/app.log for details?

[2014-11-26 17:23] pnorman opened #1076 "Fails to read uncompressed vector tile sources"
Mapbox Studio expects vector tiles to be compressed, however uncompressed vector tiles are valid according to the [specification](https://github.com/mapbox/vector-tile-spec) which is silent on compression.

This leads to valid vector tile sources not working with MBS, even if they work with [mapbox-gl-js](https://github.com/mapbox/mapbox-gl-js), [kosmtik](https://github.com/kosmtik/kosmtik) and [A

[2014-11-26 22:40] rcoup commented on #651
In addition to this, valid URLs are dropped (silently) c/- the HTML5 form validation

eg. `http://example.com/foo;bar=1/~bob,jim` and even the fully URL-encoded version `http://example.com/foo%3Bbar%3D1/~bob%2Cjim` fail the pattern

I think relaxing it to something like the below would probably be okay?

[code]

[2014-11-27 10:40] lyzidiamond opened #1078 "Application unresponsive on second export to PNG"
Mapbox Studio becomes unresponsive when trying to export a second 24-bit png from a map project. The image files themselves are only ~500kb and export only takes a second when saving the first image. I looked up what was going on in Console and this is what it gave me:

[code]

I'm running OS X 10.9.4 and the newest version of Mapbox Studio.

[2014-11-27 13:20] yehiyam commented on #1069
Hi
Yes. I am connecting through a proxy server. I understand that this is not supported at the moment?

[2014-11-27 15:04] wilhelmberg commented on #1069
@yehiyam yes, at the moment connecting through proxies is not possible, but this problem should be solved soon.

[2014-11-27 17:49] gravitystorm commented on #592
What's the easiest way to turn off the analytics? I'm concerned that I might be leaking my client's commercially-sensitive information (e.g. project names, status, sql queries, etc) to mapbox without realising it!

[2014-11-28 19:00] crackernutter opened #1079 "Problems installing on EC2 instance of Ubuntu 14.04 (Trusty)"
I have successfully installed node v0.10.33 to /home/ubuntu/local/node/bin/node.  But when I run npm install from mapbox-studio directory, I get an error:
Because it's an EC2 instance, I am running as user ubuntu (sudo npm install doesn't work) - I changed the owner of the /home/ubuntu/local directory to ubuntu as well, but am still unclear on what's going on.

[code]

[2014-11-28 23:37] gabrielflorit opened #1080 "How to: command line / programmatic access"
I'd like to setup a cronjob that does the following every X minutes:
- update a source file with new point data
- update a source file of raster data
- generate a new map with the updated source files

Is this possible? Can I do this without the GUI?

Thanks,

Gabriel

[2014-11-30 02:36] wboykinm commented on #1080
:+1:

[2014-11-30 16:15] willwhite opened #1081 "Source upload errors are not handled correctly"
If an error occurs upstream in mapbox-upload, it does not appear to be reflected in the UI. The upload appears to hang forever instead.

I was able to trace the error to [this line](https://github.com/mapbox/mapbox-studio/blob/9f9de6cc8bf171716ec6126fae9b960e390b1f50/lib/source.js#L729) but from there I got a little lost in the Task construct.

You can replicate by forcing a error to be returned b

[2014-12-01 14:32] kristfal opened #1082 "Failed to upload a part to S3: The provided token has expired"
Error dump:

<pre><code>
Mapbox Studio @ http://localhost:3000/
Error: Failed to upload a part to S3: {"message":"write EPIPE","code":"NetworkingError","errno":"EPIPE","syscall":"write","region":"us-east-1","hostname":"tilestream-tilesets-production.s3.amazonaws.com","retryable":true,"time":"2014-12-01T14:22:48.833Z","statusCode":400}
 Additionally failed to abort the multipart upload on S3: Expir

[2014-12-01 16:05] springmeyer commented on #1082
Thanks for the report. Yes, please try again and let us know how it goes. Also I see you are building from source - can you confirm which git revision you are built from?

[2014-12-01 16:09] kristfal commented on #1082
It is: mapbox-studio@0.2.0

[2014-12-01 16:21] yhahn commented on #1082
@kristfal after how long did the upload fail? The current upload credentials from the mapbox API expire after 12 hours I think which may be too short in some cases -- if this is what you ran into I can look at increasing the expiration time.

[2014-12-01 16:24] kristfal commented on #1082
Less than 6 hours, probably roughly 4.

[2014-12-01 16:42] kristfal commented on #1082
Finshed building the mbtiles locally without any failure. The build indicator stopped at 3,9% before it jumped to 100%, but other than that, everything worked.

Total datasize: 310 MB
Build time: Roughly 2 hours

[2014-12-02 19:05] MattSidor commented on #798
@camilleanne How do you modify the default port in Mapbox Studio?

[2014-12-02 19:26] camilleanne commented on #798
@seadour
If you are running Mapbox Studio from your command line (instead of the packaged desktop app), you can set the port when you start Mapbox Studio: `node index.js --port=8000`

Alternatively, you can get into the guts of it and modify this line: https://github.com/mapbox/mapbox-studio/blob/9f9de6cc8bf171716ec6126fae9b960e390b1f50/index-server.js#L25

[2014-12-02 19:32] MattSidor commented on #798
@camilleanne Fantastic, thank you.

[2014-12-02 20:44] springmeyer opened #1083 "OS X only test failure"
Seeing an OS X only test failure (https://travis-ci.org/mapbox/mapbox-studio/jobs/42784529#L1344). Logging here until I have time to investigate:

[code]

[2014-12-02 20:52] springmeyer opened #1084 "OS X only test failure"
Seeing an OS X only test failure (https://travis-ci.org/mapbox/mapbox-studio/jobs/42784529#L1344). Logging here until I have time to investigate:

[code]

[2014-12-02 20:52] springmeyer commented on #1084
hmm, this passed when I restarted the build. Perhaps some kind of race condition that only happens in rare cases?

[2014-12-02 22:23] MarkWS opened #1085 "Map files not uploading when using custom fonts"
I'm getting this on the MapBox site after I 'upload' from MBS. The path is where we have the fonts located for this project on our local machine.
Any ideas how to resolve this issue?
![invalid upload](https://cloud.githubusercontent.com/assets/8440284/5272068/d65953f4-7a36-11e4-8801-315b399faaa0.JPG)

Thanks,
Mark

[2014-12-03 02:16] peterqliu opened #1086 "Warn overwrite when saving as same name as existing file"
Just lost a day's worth of work because I was a goober.