[2013-03-16 07:07] yhahn opened #1 "consider toml when multiline strings are in"
Main current advantage of YAML is multiline strings. Once this is in and supported by libraries, vet and consider TOML:

https://github.com/mojombo/toml/pull/92

[2013-03-18 17:13] yhahn opened #2 "batch export vector tiles from bridge"
- [x] Bake `project.data.xml` as part of save or so.
- [x] Update bridge to load from xml filepath.
- [x] Clean up tilelive / tilelive copy.

[2013-03-19 19:45] yhahn commented on #2
First shot at this here,

https://github.com/mapbox/tilelive.js/commit/4609d3e49b4ec03a08a2ac30e4c0fb3e08e7f7b7

Once it's tested will look at rolling a 4.4.0

[2013-03-21 20:13] ajashton opened #3 "Warn if leaving an unsaved project"
After hitting Ctrl-S its easy to forget a project might not actually be saved to disk.

[2013-03-27 21:50] yhahn opened #4 "Using carto to generate data.xml"
Per chat convo with @tmcw, https://github.com/mapbox/carto/commit/5d626d3c10f15984752349c0dd717de5f46fa235 breaks tm2's usage of carto for generating style-less mapnik XML for datasources.

Carto's behavior of skipping layers that have no styles defined for them is totally sensible for the rest of the world, so will have to do some meditation on how to proceed here (flag in carto? would it make se

[2013-03-28 14:48] #2 closed, assigned to yhahn

[2013-04-08 10:15] artemp opened #5 "`npm install` fails to untar (what appears to be valid tar archive)"
[code]

[2013-04-08 10:21] artemp commented on #5
`npm cache clean` <-- doesn't help

[2013-04-08 14:18] springmeyer commented on #5
Usually when I see something like this it indicates a download is failing due to something like a github timeout. I have to step through each install to figure out the culprit. In this case however I see a line about the Unicode test I added to node-mapnik. So maybe that is messing up npm.

[2013-04-19 16:45] ajashton opened #7 "more interesting/detailed default style"
Show off more of the data

[2013-04-19 16:52] yhahn commented on #7
y a couple params here
- 1 stylesheet/file
- no image assets for now
- hrm fonts hrm would be great to bundle some open ones with tm2 and use one of them?

[2013-04-19 18:13] springmeyer commented on #7
yes, I would love to release a new node-mapnik version that completely stops trying to register any fonts and leave this up to tm2/tilemill. Bundling a few in the app sounds good to me.

[2013-04-22 16:15] ajashton commented on #7
Here is something I came up with: https://gist.github.com/ajashton/49da609fb8ec21cd7aa2

I used [Source Sans](http://sourceforge.net/adobe/sourcesans) but could change this to Open Sans or something else.

Not sure how to approach adding this to TM2 given the current default style is just a string in index.js

[2013-04-22 16:26] yhahn commented on #7
Greato, next actions for you @ajashton
- [x] Put it in its own repo (`tm2-default-style` or so?)
- [x] Add a `package.json` similar to that in mapbox-streets
- [x] Add an entry for it in tm2 `package.json`
- [x] Check that npm install for tm2 pulls it into the `node_modules` directory

I can take it from there.

[2013-04-22 17:05] ajashton commented on #7
to @yhahn

[2013-04-22 18:12] yhahn opened #8 "Free font library"
Want to collect this list? I think we can pull it in as a dependency as well, `tm2-default-fonts` or so.

[2013-04-22 18:48] yhahn commented on #7
Basics in place, needs #8 to do font path registration as well.

[2013-04-22 19:43] ajashton commented on #8
About how many are you thinking? Here's an initial list I pulled together from FontSquirrel's popular fonts listing.

## Definitely
- Source Sans Pro
- Open Sans
- PT Sans
- Colaborate
- Roboto
- Lato
- Droid Serif
- Vollkorn
- Charis SIL
- Crimson
- Merriweather

## Maybe
- Cantarell
- Quicksand
- Bebas Neue
- League Gothic
- TitilliumText
- Yanone Kaffeesatz
- Raleway
- TeX Gyre Heros
- Gentium

[2013-04-22 19:49] yhahn commented on #8
I like the length of your def list. It's easier to add than remove so good to start small.

[2013-04-22 21:00] ajashton commented on #8
Repo [here](https://github.com/mapbox/tm2-default-fonts) and dependency added in eadd437f25ff39ac586c43f19472bd86ec6792df

[2013-04-22 21:40] #8 closed, assigned to ajashton

[2013-04-22 22:35] #7 closed, assigned to yhahn

[2013-04-23 20:28] springmeyer opened #9 "OSX binary package"
Been working on a script to build standalone package for OSX of tm2.

First working result is now available at: http://tilemill.s3.amazonaws.com/index.html?path=dev/

Next steps:
- [x] - work to reduce the size of the package
- [x] - set up script on cron on osx build machine
- [x] - node v0.10.x support - node-eio is blocker

[2013-04-23 20:43] ajashton opened #10 "delete button only for active stylesheet?"
Some screenspace could be saved and accidental clicks avoided.

[2013-04-23 20:44] ajashton opened #11 "@media screen width based editor width"
Like TM1

[2013-04-23 20:45] yhahn commented on #10
doit

[2013-04-23 20:52] ajashton opened #12 "book and cog buttons do nothing"
In the root view.

[2013-04-23 20:54] yhahn commented on #12
ya they're disabled on purpose atm... eventually was planning on them being data library / app config

[2013-04-23 21:07] ajashton commented on #10
654243525276f9c2772807f3dc713458126b5e8c

[2013-04-23 21:07] #10 closed, assigned to nobody

[2013-04-24 17:52] incanus commented on #9
This runs well for me and looks great. Love the new style, too.

[2013-04-24 18:41] yhahn opened #14 "README.md for sources/mbstreets"
How would you feel about an in-depth README.md at `sources/mbstreets/README.md` ? I think at some point we can probably at UI integration for reading and rendering such files for datasources.

To start, though, it would be a good place to point people who want more details beyond the source helptext.

[2013-04-24 18:43] #12 closed, assigned to nobody

[2013-04-24 18:43] yhahn commented on #11
u did it

[2013-04-24 18:43] #11 closed, assigned to nobody

[2013-04-24 18:47] springmeyer commented on #5
This turned out to be due to the paths that use non latin characters inside the node-mapnik tests. I could not replicate on my machine, but removing the tests from the node-mapnik-data-tile repo worked around the issue for @artemp. The tests are still in node-mapnik proper so @artemp will still get hit by this if he tries to install node-mapnik from github, but should be safe when pulling node-map

[2013-04-24 18:47] #5 closed, assigned to nobody

[2013-04-24 19:03] yhahn commented on #1
Also worth following https://github.com/nodeca/js-yaml/issues/66

[2013-04-24 21:38] ajashton commented on #14
[Started](https://github.com/mapbox/tm2/blob/master/sources/mbstreets/README.md), will continue to add/refine info.

![](http://www.textfiles.com/underconstruction/mimidohttcimagesunder-construction-header.ani.10.gif)

[2013-04-25 00:08] springmeyer opened #16 "Setting UV_THREADPOOL_SIZE for node v0.10.x"
If running node v0.10.x we can now bump the threadpool size above `4` via the `UV_THREADPOOL_SIZE`. It looks like this needs to be set before node is run, but I need to research this more to be sure. We should also keep an eye on https://github.com/joyent/libuv/issues/649#issuecomment-11281626 to see if/when node/libuv move to autoscaling.

[2013-04-25 03:06] springmeyer commented on #9
done, this script (https://gist.github.com/springmeyer/e312f51bc3ddc1e0da5e) is running on a cron every hour and pushing builds that can be browsed at http://tilemill.s3.amazonaws.com/index.html?path=dev/

[2013-04-25 03:06] #9 closed, assigned to nobody

[2013-04-25 16:49] kkaefer commented on #9
Can you change the filename template to include Y-m-d before the hash so that they are sorted by date?

[2013-04-25 17:06] springmeyer commented on #9
yes, good idea. I'd also like to move to using the output of `git describe` once we have made a first annotated tag.

[2013-04-25 17:13] springmeyer commented on #9
@kkaefer filename changed now to include Y-m-d, thanks. Not sure if my js s3 browser hack will respect the sorting, but we'll see soon.

[2013-04-25 19:14] #16 closed, assigned to nobody

[2013-04-25 19:15] springmeyer commented on #16
as noted by @bnoordhuis - setting this on `process.env` should work, and does (i confirmed by watching the thread count reported in `Activity Monitor`) if we do it at startup in the index.js, which is now in place.

[2013-04-25 19:48] ajashton opened #17 "document available fonts"
The full names of the default fonts should be available in the interface. Bonus: previews.

[2013-04-28 20:42] wboykinm opened #18 "Ubuntu Linux Install Fail"
Obviously a nonessential problem, but `npm install` failed [with the following errors reported](https://gist.github.com/wboykinm/5478331), seemingly based on a tarball failure. Following up with `node index.js` failed for lack of underscore.

On Ubuntu Quantal

[2013-04-28 20:51] wboykinm commented on #18
The install fails a little bit differently as root user. [Here's the full debug log](https://gist.github.com/wboykinm/5478370).

[2013-04-30 18:16] ajashton opened #19 "Encoding of default project.yml"
The `©` in the default project attribution string becomes `ﾩ` when I create a new project in TM2. The tm2-default-style files should all be UTF8.

[2013-05-08 14:53] yhahn opened #20 "Profiling tools"
Brainstormed some concepts on the train to help designers determine how fast/slow their styles are in terms of rendering speed.

Will prototype.

cc @ian29 @ajashton @springmeyer

[2013-05-08 15:03] springmeyer commented on #20
Great, curious to hear your ideas. Starting really high level I think will be good - like just providing quick feedback on aggregate tile load times (maybe reporting a small sparkline of last 10 saves?) or a quick hover per tile mode. I logged more low level ideas previously at https://github.com/mapbox/mapbox-streets/issues/368

[2013-05-08 15:05] yhahn commented on #20
y agreed

[2013-05-09 15:27] yhahn opened #21 "`format` param chicken-egg"
Looked briefly into adding a `format` attribute to projects for defining mapnik image output format (e.g. `png8`). There's a chicken-egg problem atm in that `tilelive-vector` tries to set `format` at init time before the map has been loaded -- but the map needs to be loaded to read the parameters to set the format.

Should be fixable upstream, at which point this option can be added sensibly.

[2013-05-09 15:30] yhahn opened #22 "Deleting projects from within app"
Out of curiosity ss this something you expect to be able to do? I find that other desktop apps generally don't provide this so was curious what your take is.

[2013-05-09 15:32] ian29 commented on #22
i have a lot of trash projects that would create serious clutter without an easy delete option

[2013-05-09 15:35] yhahn commented on #22
do u have a file manager

[2013-05-09 15:39] ajashton commented on #22
Probably best to leave this to the file manager, where it's clear to the user what is being removed. From the TileMill UI there could be confusion around whether its deleting from disk or simply 'forgetting' about it from the screen.

[2013-05-09 15:40] ajashton commented on #22
Also if the user is doing things correctly they should have to `git rm` to remove anything :P

[2013-05-09 15:42] #22 closed, assigned to ajashton

[2013-05-09 18:29] springmeyer commented on #18
Not sure what is up - can't see anything obvious in those logs.

Both node v0.8.x and v0.10.x should work. I've fixed a few things recently in dependencies. Can you try again and let me know if you hit the same error?

Dane

[2013-05-09 18:37] wboykinm commented on #18
Old node version was holding it up. Maybe note the version requirement.

[2013-05-09 18:43] yhahn commented on #18
Hrm does this no longer work? https://github.com/mapbox/tm2/blob/master/package.json#L6

[2013-05-09 18:45] springmeyer commented on #18
@yhahn https://github.com/mapbox/tm2/commit/d54a7bb703a807cd5bb4eb6d7f8e3054e8befff5

[2013-05-09 18:47] yhahn commented on #18
o `enginesStrict` eh : )

[2013-05-09 18:52] springmeyer commented on #18
closing, @wboykinm - if you hit errors when you re-try with new instructions (https://github.com/mapbox/tm2/commit/2b314cb65a8bbaad1bc7c5214a2724644d5652b7) please post a new issue.

[2013-05-09 18:52] #18 closed, assigned to nobody

[2013-05-09 18:55] springmeyer commented on #18
ugh, `enginesStrict` does not seem to work though. odd. Tested with node v0.10.5 and modified package.json to only declare 0.8.x support...

[2013-05-09 20:08] wboykinm commented on #18
Errors? What errors? [This is maaaaaarvelous](http://www.flickr.com/photos/65259390@N08/8723304773/)!

[2013-05-09 20:26] wboykinm opened #23 "Code Window Scroll Bug - Chrome"
On Ubuntu 12.04 - just on Chrome 26 (FF works fine) - the scrolling behavior of the code window is wonky, like there's a rubber band holding the text to the top. [Video here](http://youtu.be/VP-JFRMrsF8).

[2013-05-09 20:43] ajashton commented on #23
Weird. Doesn't happen in Chrome 27 on 13.04

[2013-05-13 04:57] yhahn commented on #20
I've started some experiments with this in the `renderstats` branch. Currently focusing on measuring render time (ie. excludes time to download/cache hit vector tiles, map compile/load time, etc.) as it's the most relevant stat for the designer to tune for.

The code so far stores min, max, and avg for tile draws. I wanted to see if this stat would yield consistent enough results to be useful. So

[2013-05-13 14:59] aredridel opened #24 "What's the license on tm2?"
Just what the question says on the tin.

[2013-05-13 15:20] yhahn commented on #24
BSD.

[2013-05-13 15:20] #24 closed, assigned to nobody

[2013-05-14 13:49] wboykinm commented on #23
Considering market saturation of 12.04 you can probably ignore it then :)

[2013-05-14 13:50] wboykinm commented on #17
+1000 - but the ones you've already got in there are a lot of fun.

[2013-05-14 13:55] wboykinm opened #25 "Add error handling for text-face-name"
Ubuntu 12.04, FF 20.0 . . .

TM2 fails to throw an error when an invalid font is plugged into `text-face-name`, instead it just [doesn't render the affected tiles](http://flic.kr/p/ej6Kov).

TM1 (or whatever you're calling it), handles this with the usual highlight and verbose error:
`Invalid value for text-face-name, the type font is expected. Umpqua (of type string) was given. (line X)`

[2013-05-14 19:07] yhahn commented on #20
Merged.

[2013-05-14 19:07] #20 closed, assigned to yhahn

[2013-05-14 19:07] yhahn commented on #17
Will take a look at this.

[2013-05-24 07:15] patrikkernke opened #26 "Installing TM2"
Hello TM-2 Team,
By installing TM2 with your manual at github I receive an error: "npm-gyp rebuild failed with 1". It is happening at the "npm install" command. Can you help me please?

[2013-05-24 17:19] springmeyer commented on #26
Can you paste the whole error? `npm-gyp rebuild failed with 1` does not provide anything helpful, only the outcome.

[2013-05-31 21:52] springmeyer commented on #26
@chargol - did you see my question?

[2013-06-01 00:36] springmeyer commented on #4
once https://github.com/mapbox/carto/issues/247 is fixed there will be strong incentive in my mind to start pulling in an updated tag of carto, so this issue should track that.

[2013-06-01 00:39] springmeyer commented on #4
the original issue that was solved and broke tm2 usage (https://github.com/mapbox/carto/issues/244) is now a non-critical and could be rolled back. The reason for this is that latest Mapnik also can avoid the overhead of empty styles after https://github.com/mapnik/mapnik/commit/0d8f415070ea527d0045d3f7f864511e35478b64 | https://github.com/mapnik/mapnik/issues/1670

[2013-06-08 17:11] zeke opened #27 "Mapnik S3 URL is busted"
I'm here at SOTMUS, trying to set up TM2, but the S3 url in [the gist](https://gist.github.com/springmeyer/f2f85aad63f1597ddd5b) mentioned in [the readme](https://github.com/mapbox/tm2/commit/507044bf3270e0defad2c52a9ed89f14d32dfa1b#L0R11) seems to be 404ing.

http://mapnik.s3.amazonaws.com/dist/mapnik-osx-v2.1.0-1105-g98d7b66.tar.bz2

[2013-06-08 21:11] springmeyer commented on #27
recommended route now is to install mapnik v2.2.0 via homebrew, see 93793c545c8045363fc37acb22559c3700e1c756

[2013-06-08 21:11] #27 closed, assigned to nobody

[2013-06-08 21:12] zeke commented on #27
Per @springmeyer's recommendation I did a `brew install mapnik`, but I'm still getting errors on `npm install`:

[code]

Full stack trace at https://gist.github.com/zeke/5736594

[2013-06-08 21:40] springmeyer commented on #27
what does `mapnik-config -v` return for you?

[2013-06-09 03:58] zeke commented on #27
[code]

[2013-06-10 04:35] ivancamilov commented on #26
I think I have the same problem. Here's a gist of my output when running npm install https://gist.github.com/ivancamilov/5746531.

I'm trying to install it on Ubuntu Precise.

[2013-06-10 23:34] springmeyer commented on #26
@ivancamilov - looks like you have a problem with your mapnik version. Are you running v2.2.0. If not you should be. Check your mapnik version with `mapnik-config -v`.

[2013-06-10 23:59] springmeyer commented on #27
@zeke - that looks right. It might be that you have duplicate mapnik installs via brew. Can you check that?

[2013-06-11 00:00] springmeyer commented on #27
or it could be that you installed the mapnik.pkg (which does not provide headers). you'll need to ensure, if that is the case, that the homebrew version is installed.

[2013-06-12 06:46] JAYSONHOOGY commented on #26
I am not able to run TM2 after following the instructions. I get the following info.
https://gist.github.com/JAYSONHOOGY/5763299

[2013-06-12 22:16] springmeyer commented on #26
@JAYSONHOOGY - that error indicates the node-mapnik did not install properly (the error would have flown by in earlier terminal output). Can you tell me 1) what node version you are running, 2) how you installed mapnik itself, and when, and 3) what is the output if you  do `npm install https://github.com/mapnik/node-mapnik/tarball/vector-tile`

[2013-06-13 06:36] JAYSONHOOGY commented on #26
@springmeyer 1) Sorry I am a noob and I don't know how to get the version of node. 2) I had Tilemill 1 initially installed but uninstalled it before trying to install TM2, so mapnik must have been installed with this version, but I assumed it would update with the commands for installing TM2. 3) Here is the output. https://gist.github.com/JAYSONHOOGY/5771633

[2013-06-13 14:56] crofty opened #30 "TM2 only for generating map tiles?"
Hi,
I've used tilemill in the past and I'm just starting to take a look at tm2 - thanks for releasing them.

Is tm2 only for generating map tiles?  The reason I ask is that I used to use tilemill from the command line to generate maps of arbitrary size with custom styles.  I know this functionality doesn't exist in tm2 but is something like this even possible when using a vector tile source or is

[2013-06-20 03:39] JAYSONHOOGY commented on #26
@springmeyer I have created a fresh install of Ubuntu and installed TM2 and it is now running fine.

[2013-06-20 03:41] springmeyer commented on #26
great, thanks for following up.

[2013-06-20 03:41] #26 closed, assigned to nobody

[2013-06-24 16:20] yhahn commented on #30
@crofty it's our plan to make it possible to generate images of arbitrary size/bounds with TM2 eventually. Will keep you posted here.

[2013-06-24 16:21] #4 closed, assigned to nobody

[2013-06-25 21:02] springmeyer opened #35 "support ":.format" url parameter"
So that we can accept various formats like png/jpeg/svg/etc

[2013-06-27 17:23] gravitystorm opened #36 "UI icons don't work in Firefox"
The UI icons rely on `background-position-x` (and `-y`) CSS properies to move around the sprite, but this isn't a w3c standard and doesn't work on Firefox.

https://github.com/mapbox/tm2/blob/master/app/base.css#L157

http://stackoverflow.com/questions/9653685/is-background-position-x-background-position-y-a-standard-w3c-css-property

It makes it somewhat challenging to navigate around!

[2013-07-01 22:26] yhahn commented on #14
FYI there is a v3 schema source added now, I copied over v2s readme. Would be good to update this as well, and maybe UPGRADE.md or so.

[2013-07-01 22:51] yhahn commented on #35
Done in https://github.com/mapbox/tm2/commit/d05ba4d80828f3c6d4338d9b5c8fd3311ef37cac

[2013-07-01 22:51] #35 closed, assigned to yhahn

[2013-07-01 22:51] yhahn commented on #36
y sorry about that, will fix this up at some point : )

[2013-07-03 03:33] yhahn opened #37 "Handle tile render errors"
You know how. Do it.

[2013-07-09 10:30] #37 closed, assigned to yhahn

[2013-07-10 19:36] ajashton opened #39 "reverse order of project listing"
seems like its oldest-first right now?

[2013-07-10 19:37] ajashton opened #40 "source editor: reverse order of layers"
It should match what you see in a project's layer panel

[2013-07-10 19:39] ajashton opened #41 "source editor: cannot focus postgis dbname or host by mouse click"
Username steals the focus

[2013-07-10 19:43] ajashton opened #42 "Meanings of some fields are unclear once populated"
The meanings of the Postgres connection fields and the key field / geometry column fields is unclear without the default empy field text.

Icons with hover tooltips inside the fields might suffice?

[2013-07-10 19:45] yhahn commented on #41
Yeah i cannot figure out why this happens.

[2013-07-11 05:22] #39 closed, assigned to nobody

[2013-07-11 05:31] #40 closed, assigned to nobody

[2013-07-11 05:55] #42 closed, assigned to nobody

[2013-07-13 18:11] willwhite opened #43 "UI for source MBTiles export"
Right now this required running tilelive copy on the command line.

[2013-07-13 18:12] willwhite opened #44 "UI for adding remote source"

[2013-07-14 21:25] yhahn opened #45 "Dual life of sources"
A source you generate locally can be represented in two ways once it has been uploaded, similarly to how a git repo has a local clone and a remote:

[code]

And

[code]

Depending on what you're doing a style will reference one of these or another but it is desirable to switch easily/based on the action involved. For example, during development of a style you may want to point at a local version o

[2013-07-14 21:27] #21 closed, assigned to nobody

[2013-07-17 14:19] ajashton opened #46 "alpha sorting keys in data.yml is harder to skim"
With the keys now being alphabetically sorted, the layers are more challenging to visually navigate in a text editor. The identifying keys - id and name - appear below the datasource and don't stand out at all. The key that stands out most when skimming is the first one because of the dash, but now its exactly the same for every layer.

Maybe make id or name an exception that always gets written f

[2013-07-18 15:33] #44 closed, assigned to nobody

[2013-07-18 15:33] #14 closed, assigned to ajashton

[2013-07-18 15:59] #46 closed, assigned to nobody

[2013-07-19 18:13] ajashton opened #47 "Filesystem browser for opening styles / sources"
The only way to open an existing TM2 project for the first time is to hack the URL.

[2013-07-19 22:18] yhahn commented on #47
Ya on my list

[2013-07-22 19:29] pkorac opened #48 "Tilemill 2 on OS X install fails at npm install"
I'm trying to install the new TileMill 2 on my OS x 10.7.4 machine, but the install fails when I run the npm install command and of-course later the node index.js doesn't work either.

Here's the error code:

[code]

And here's what node says after running index.js:

[code]

[2013-07-22 19:32] springmeyer commented on #48
`mapnik-config: command not found` is the relevant error, which indicates that you did not install Mapnik, which is required for TileMill 2.

[2013-07-22 19:35] pkorac commented on #48
Thanks
I've just noticed that when I run the `brew install mapnik || brew upgrade mapnik` it doesn't install it.
It must be homebrew/macports issue I get this error:

[code]

I'll try to uninstall macports and try again

[2013-07-22 19:39] springmeyer commented on #48
okay, thanks for the details. When you try to build mapnik again, do `brew install --verbose mapnik` and if you hit any trouble paste the entire terminal output to a gist. There was a report of the mapnik brew install not working today over at https://github.com/mapnik/mapnik/issues/1957 (which is still unsolved), so if you hit this I'll want as many details as possible.

[2013-07-22 19:43] pkorac commented on #48
Uninstalled macports( using [this](http://bitboxer.de/2010/06/03/moving-from-macports-to-homebrew/) technique ), still not solved. Here's the terminal output:

[code]

[2013-07-22 19:55] springmeyer commented on #48
hmm, looks like a 10.7 <-> homebrew formula dependency issue. Try doing:

[code]

Then again trying:

[code]

[2013-07-22 19:57] pkorac commented on #48
The two libraries installed ok, however the stubborn error still persists:

[code]

[2013-07-22 20:34] springmeyer commented on #48
okay, sorry this is not working. pretty odd. Can you try:

[code]

Which will install mapnik with a slightly modified formula which is more explicit about the paths needed for libpng and freetype: https://gist.github.com/springmeyer/6057402

[2013-07-22 21:28] ajashton opened #49 "source preview: isolate current layer"
Eg hide all other layers. Would be useful for tweaking queries, esp at z14 :P

[2013-07-23 18:31] yhahn opened #50 "Wishlist: source README"
1. Source READMEs. Load 'em onto the info?
2. Render in markdown and show in UI?

[2013-07-23 19:24] ajashton opened #51 "Source field descriptions get cut off at apostrophes (single quotes)"

[2013-07-23 19:40] ajashton opened #52 "Source field descriptions should be quoted if they contain ':'"
Currently project will appear to save correctly but will fail if freshly loaded

[2013-07-23 20:19] yhahn commented on #52
Should be fixed with https://github.com/mapbox/js-yaml/commit/afb534dcabeaa01b04ecdb8318ef428f9f381298. To test

[code]

[2013-07-25 18:52] #17 closed, assigned to yhahn

[2013-07-25 18:55] yhahn commented on #17
![tmp-fonts-1](https://f.cloud.github.com/assets/83384/857925/d09addcc-f55b-11e2-96a8-71fc8ea5d234.png)
![tmp-fonts-2](https://f.cloud.github.com/assets/83384/857926/d0a70408-f55b-11e2-9708-c3954cd30091.png)

[2013-07-25 18:59] yhahn commented on #25
Should be addressed by https://github.com/mapbox/tm2/commit/f77c3312c1b0468cbd3918d5d6a49bb6c190227d

[2013-07-25 18:59] #25 closed, assigned to nobody

[2013-07-25 19:02] ian29 commented on #17
:yum:

[2013-07-25 19:30] yhahn opened #53 "js-yaml dumper edgecases"
Fork of js-yaml dumper with scalar resolver needs to quote strings that could be confused with inline lists and objects:

[code]

[2013-07-25 19:38] yhahn commented on #53
https://github.com/mapbox/js-yaml/commit/bbc5c63faa41313944aa1d014c951c7dd3672c73

[2013-07-25 19:38] #53 closed, assigned to yhahn

[2013-07-25 19:45] #51 closed, assigned to nobody

[2013-07-25 19:45] #52 closed, assigned to nobody

[2013-07-25 21:17] yhahn opened #54 "Source min/maxzoom vs layer min/maxzoom"
Easy to configure things so that there is no common zoom level between layer ranges and project ranges. Think about this.

[2013-07-25 22:43] ajashton opened #55 "Saving SQL containing an error resets field descriptions"
In the source editor

[2013-07-26 16:53] yhahn commented on #43
@TODO
- [x] limit bounds of export. Would be _great_ to autodetect this...
- [ ] upload. Implement `mapbox-upload` API in separate module?
- [ ] oauth ...

[2013-07-26 16:54] yhahn opened #56 "Cache management"
- [ ] Ability to flush the entire cache to start to clear out disk space.
- [ ] Do we really care about selectively clearing cache?

[2013-07-29 21:32] ajashton opened #57 "Mouse zoom interactions offset"
![](http://ubuntuone.com/65rlQzPLwG8z537BslfhN3)

In the above screenshot, I shift-clicked and dragged to create the selection box. However my actual click started in the middle of the Italy label and ended around the Hala'ib Triangle, not where the box is shown. Zooming via double-click or scroll wheel also zooms west of where I want to go.

[2013-07-29 21:36] ajashton opened #58 "Blurry map preview"
Latest master gives me a blurry map preview. Below are an example raw tile, a screenshot of what was displayed by Chrome, and a difference of the two. 3D CSS transforms not working right perhaps?

![](http://ubuntuone.com/2zfrpZQj6tpeozXb5UD8UF)
![](http://ubuntuone.com/69DdnGkaLc0pnDgOooG8SQ)
![](http://ubuntuone.com/6QQfidzLhoLKB6h45lBEas)

[2013-07-29 21:41] yhahn commented on #58
Let me know if reverting https://github.com/mapbox/tm2/commit/a0ca2cb7553bcd452c9e16c49b04a8143fc8da44 fixes it.

[2013-07-29 21:46] ajashton commented on #58
Yes, it also fixed #57

[2013-07-29 21:54] ajashton commented on #57
Fixed by 3084747ae36ffbb2e35dacc134bbc3c2f354a396

[2013-07-29 21:54] #57 closed, assigned to nobody

[2013-07-29 21:54] ajashton commented on #58
Reverted in 3084747ae36ffbb2e35dacc134bbc3c2f354a396

[2013-07-29 21:54] #58 closed, assigned to nobody

[2013-07-30 12:11] lxbarth opened #59 "Build error in mapnik"
@springmeyer -

Just tried to build tm2 but I get this error in building mapnik:

https://gist.github.com/lxbarth/743434dc5d44ef376a42

I have this feeling I'm including wrong headers from somewhere but not sure how to debug this.

[2013-07-30 16:04] springmeyer commented on #59
I'm working on binaries right now, so you can wait a few hours for those.

Or to get this working update your Mapnik install to the v2.2.0 release via homebrew. Check the readme for details: https://github.com/mapbox/tm2/blob/master/README.md#mac-os-x

I think the problem is you have a pre-release v2.2.0 mapnik install.

[2013-07-30 20:34] #47 closed, assigned to yhahn

[2013-08-01 16:37] lxbarth commented on #59
Thanks @springmeyer - will give this a shot.

[2013-08-01 16:37] #59 closed, assigned to nobody

[2013-08-02 16:09] springmeyer commented on #59
@lxbarth - if you continue to have any trouble, know that you can also just grab a standalone binary for OS X: https://github.com/mapbox/tm2/blob/master/README.md#binary

[2013-08-08 16:15] ajashton opened #60 "Can't remove empty stylesheet"
The 'x' button does nothing for a tab that contains nothing.

[2013-08-19 22:03] springmeyer opened #61 "Support custom vector tile sources"
Would be great to be able to point at a tm2 source at an arbitrary url. Perhaps this could be done like:

[code]

To prove to myself that this is viable/close to working I was able to offer a tilejson endpoint at `http://localhost:4000/custom.custom-vtiles.json` which provided [this json](https://gist.github.com/springmeyer/bbf49c89180485f477b9) by using this temporary patch: https://gist.github.c

[2013-09-16 15:57] andyburgess1978 opened #62 "Using old tilemill projects"
Is there a way yet to use TileMill (v0.10.1) projects in TileMill 2? Or use data from a Postgres database?

[2013-09-27 05:54] matthewbrunsdon1 opened #63 "Roads being cut off at edge of tiles - Data from Postgre"
Hey Guys,

I have a TM2 instance with road/basemap data being powered by a Postgre database - we have set the map buffer size to be higher (512) than the default as this was a suggestion however this has not fixed the issue.

At the edge of the tiles the roads are getting cut off (see screenshot)... Has anyone experienced this issue before?

Thanks,
Matt.

![roads-cut](https://f.cloud.github.com/a

[2013-09-27 06:34] nilshoerrmann opened #64 "Whitespace in install path"
Using the latest code from this repository, it doesn't seem to be possible to run TileMill if it's located in a folder containing whitespace in its name, e. g. `TileMill 2`. This hasn't been a problem when I first tried out TileMill 2, it broke after pulling in changes from Github. I'm not sure which commit I was using before.

This is what I get in Terminal:

[code]

Renaming the folder `TileMill

[2013-09-27 06:47] nilshoerrmann opened #65 "MapBox Streets not loading"
Using Safari 6.0.5 on Mac OS 10.7.5, MapBox Street is not loading. I get this error in the console, referencing a line in `Editor.prototype.refresh`:

[code]

It's working just fine in Firefox.

[2013-10-08 16:17] yhahn opened #66 "Set format based on styles"
[code]

[2013-10-09 15:23] springmeyer opened #67 "tile request timing out for specific tile"
hitting this for a tile in seattle. It may be that it is too big, but this needs a look.

![screen shot 2013-10-09 at 11 21 58 am](https://f.cloud.github.com/assets/20300/1298703/b1a94e68-30f6-11e3-8b4d-e68f76ec0ec2.png)

[2013-10-09 15:24] springmeyer commented on #67
hmm, finally loaded after much refreshing...

[2013-10-09 15:24] #67 closed, assigned to nobody

[2013-10-15 16:49] springmeyer commented on #66
you mean things like check if the style has a fully opaque background and if so then default to octree (m=o) instead of hextree (m=h) for png, because the former is faster as it does not need to support any more than a few levels of alpha.

[2013-10-16 14:41] yhahn commented on #61
@rclark here's how I would proceed here:
- Add a `tilejson:` protocol to `lib/source.js` which currently handles `mapbox:` and `tmsource:`. `mapbox:` is actually very close to a generic tilejson protocol but adds the additional ease of using a mapbox map ID instead.
- Add/refactor for the `tilejson:` protocol here: https://github.com/mapbox/tm2/blob/master/lib/source.js#L297-L319.
- Test with the

[2013-10-16 17:04] ajashton opened #68 "ability to reference local source other than `.`"
Currently `source: .` is a hardcoded hack, but referencing a local source other than the current project is sometimes desireable.

[2013-10-16 18:25] rclark commented on #61
Had to use `http:` and `https:` instead of `tilejson:` because of oddness in how [url.parse](http://nodejs.org/api/url.html#url_url_parse_urlstr_parsequerystring_slashesdenotehost) works against something like this:

[code]

`http` becomes the host, `tilejson` the protocol, `//a.tiles...` the path.

[2013-10-17 10:57] kkaefer commented on #61
If we'd explicitly want to encode the `tilejson` type in the URL, we could use `http+tilejson://...`, much like Git is using `ssh+git://`.

[2013-10-17 11:11] rclark commented on #61
I like that idea, but don't understand the system enough yet to weigh the benefits / detriments of just using http://. Happy to implement it that way if folks are on board.

[2013-10-17 13:51] rclark commented on #61
Actually it gets even stranger -- a URL like this in your browser:

[code]

... ends up treating the `+` as a space, so by the time `url.parse` gets it we're parsing

[code]

... and you get very shabby parse results (i.e. `null` protocol). It works fine in tests, its just that the browser is interpreting it wrong.

[2013-10-17 14:09] kapouer commented on #61
encodeURIComponent ?!?

[2013-10-17 14:37] rclark commented on #61
what to encode? `req.query.id` already contains spaces by the time express gets it here: https://github.com/mapbox/tm2/blob/master/index.js#L57

Its actually [querystring.parse](http://nodejs.org/api/querystring.html#querystring_querystring_parse_str_sep_eq_options) that drops the `+`:

[code]

I think I would just have to look for `http+tilejson` and `http tilejson`.

[2013-10-17 14:40] yhahn commented on #61
I think with the additional potential points of confusion you mention @rclark going back to the `http:` and `https:` as the protocols should be fine.

The only format I foresee supporting through these protocols is tilejson, and if we ever need to distinguish between additional formats we can require the path to have an extension or provide an HTTP header we can interpret.

[2013-10-17 14:55] kapouer commented on #61
i meant that a url given as parameter must be properly encoded using encodeURIComponent:

[code]

it isn't pretty but it's like that...

[2013-10-17 20:43] ajashton opened #69 "Can't stop TM2 with Ctrl-c after exporting source"
After exporting a source MBTiles from TM2 (or starting one then cancelling it), I can no longer stop the server with ctrl-c.

[2013-10-18 22:17] yhahn opened #70 "%20 => spaces in FS paths"
Handle spaces in folders/project names etc.

[2013-10-18 22:52] springmeyer commented on #70
also #64

[2013-10-25 20:09] caged opened #72 "Encountering aggressive simpliciation"
I'm pulling in a PostGIS source for US Census blocks, however when rendering the source, it appears there's some really aggressive simplification happening somewhere.

Here's a zoomed in version of Portland, OR which typically should contain a bunch of small square polygons.

![screen shot 2013-10-25 at 1 03 03 pm](https://f.cloud.github.com/assets/25/1411078/05842f96-3db1-11e3-869c-f7ae36a46f99.p

[2013-10-25 20:10] yhahn commented on #72
What is the maxzoom of your source? I think it defaults to z6 which is super low...

[2013-10-25 20:23] caged commented on #72
The zoom extent appears to be 0-22.  I tried another source, a shapefile this time, and it appears to have the same issue. [Here's a zip of the shapefile](https://dl.dropboxusercontent.com/u/602885/portland-neighborhoods.zip) (337kb).

![screen shot 2013-10-25 at 1 19 26 pm](https://f.cloud.github.com/assets/25/1411190/22599ed8-3db3-11e3-9083-4358974283ee.png)

[2013-10-25 20:26] yhahn commented on #72
Yeah sorry this can be very confusing right now. I'm talking specifically about the source, not the style:

![tmp-source](https://f.cloud.github.com/assets/83384/1411216/b8de6d5c-3db3-11e3-8d18-bb60621a3aca.png)

[2013-10-25 20:33] caged commented on #72
No problem.  The new UI can be a bit confusing. It was set on 6, as you suspected.  I bumped it up to 22, but there wasn't any noticeable difference when going back to the Style area and viewing the map again.

![screen shot 2013-10-25 at 1 29 56 pm](https://f.cloud.github.com/assets/25/1411252/4d3759c8-3db4-11e3-8cb5-94f1e2a1404c.png)

Let me know if if there's anything else I can take a look at.

[2013-10-25 20:36] yhahn commented on #72
Yep, make sure your source is saved and you may need to clear all kinds of caches atm (source cache, browser cache, restart tm2):

![tmp-sourcecache](https://f.cloud.github.com/assets/83384/1411300/07c9def0-3db5-11e3-8228-ab01b65d9867.png)

[2013-10-25 20:43] caged commented on #72
Nice.  That definitely moved things in the right direction.  Now it appears there are stray grid lines running through the area.  I've included a TileMill 1 screenshot for comparison.

**TileMill 2**

![screen shot 2013-10-25 at 1 40 44 pm](https://f.cloud.github.com/assets/25/1411336/f0eebe02-3db5-11e3-8b6b-8491693af555.png)

**TileMill 1**

![screen shot 2013-10-25 at 1 40 31 pm](https://f.cloud

[2013-10-25 20:44] yhahn commented on #72
Yep, try increasing the buffer-size slider on the source layer to something like 4 or 8.

Save + caches will need to be cleared.

[2013-10-25 20:49] caged commented on #72
Perfect!  That appears to have cleared things up.  Thanks for walking me through the process.  Feel free to consider this issue closed.

[2013-10-25 21:04] yhahn commented on #72
Nope, we have had long discussions here about trying to automate this process (most of these values can have sensible defaults detected for them by a machine) so leaving this open to remind us of how painful it is : )

[2013-10-26 18:01] jqtrde opened #73 "build error"
`osx: 10.9` `node -v: 0.10.21` `mapnik: 2.2.0`

Ran through the source install steps as described [here](https://github.com/mapbox/tm2#source-install).

Getting the following error on `node index.js`

[code]

I'd happily just use one of the binaries, but [https://tilemill.s3.amazonaws.com/index.html?path=dev/](https://tilemill.s3.amazonaws.com/index.html?path=dev/) just sits at `loading...` foreve

[2013-10-31 19:08] springmeyer commented on #73
@jacquestardie - question: did you recompile mapnik after installing 10.9? Also reported at https://github.com/mapnik/node-mapnik/issues/189. I'm looking into it (need to get 10.9 set up first myself).

[2013-10-31 20:57] rclark commented on #73
I had the same issue yesterday on an entirely fresh 10.9 installation. For
my part `npm install` goes fine (once I installed xcode in its entirety),
but these errors are thrown when I try and run tm2.

On Thu, Oct 31, 2013 at 12:08 PM, Dane Springmeyer <notifications@github.com

[2013-11-01 04:52] springmeyer commented on #73
The root of problem appears to be that while libmapnik is being properly linked to libc++ (when rebuilt on 10.9) node-mapnik still ending up linking to libstdc++. Linking to 2 different incompatible c++ standard libraries is not going to work. Node itself is also linking to libstdc++ (even when I compile from source on homebrew).

So, I have no viable workaround yet: will continue investigating to

[2013-11-01 05:11] springmeyer commented on #73
Found a workaround:

[code]

[2013-11-01 05:15] thomasgalambos commented on #73
It works, thank you!

[2013-11-01 11:53] jqtrde commented on #73
works here too, thanks @springmeyer

[2013-11-01 11:53] #73 closed, assigned to nobody

[2013-11-01 19:48] springmeyer commented on #73
@jacquestardie - glad the workaround fixed your source compile. However the binaries should work. Can you tell me which binary you tried and provide more detail about the hang? I just tested the latest one: http://tilemill.s3.amazonaws.com/dev/tm2-osx-2013-11-01-d734ec2.tar.gz. I needed to edit my security settings to be able to run the `start.command`, but otherwise things worked:
![screen shot 2

[2013-11-01 19:56] jqtrde commented on #73
Didn't actually get to try any of the binaries. https://tilemill.s3.amazonaws.com/index.html?path=dev/ just sits and hangs for me.

![](http://i.imgur.com/vyvbgW7.png)

Can wait here 30m, and it'll just keep `loading...`. I've tried with different connections, always using Chrome.

[2013-11-01 19:57] jqtrde commented on #73
Just tried Safari, opened immediately..

[2013-11-01 19:59] springmeyer commented on #73
ah, I see. cool, well can you try http://tilemill.s3.amazonaws.com/dev/tm2-osx-2013-11-01-d734ec2.tar.gz ? I'd also be interested if you can detect any differences in performance between the binary and your source compiled version, but no worries if you can't.

[2013-11-01 20:00] jqtrde commented on #73
yep, grabbing it now

[2013-11-01 20:10] jqtrde commented on #73
The binary is certainly more stable than what I compiled.

I get a `segfault` when I try to affect any of the options in the compiled version. In addition, the basemap itself doesn't render with the source build. Meanwhile, the binary works fine.

I'm hoping to get around to actually making and uploading a map later today, if I have any issues I'll post em up.

[2013-11-01 20:17] springmeyer commented on #73
@jacquestardie - thanks for the details. Regarding uploading: there is no support for uploading at this time.

[2013-11-04 17:36] ajashton commented on #36
fixed now

[2013-11-04 17:36] #36 closed, assigned to nobody

[2013-11-12 20:03] ajashton opened #75 "Saved center of exported source can be invalid"
I exported an mbtiles from z0-7, but the saved center happened to be at z8. Makes sense for the source but not the exported mbtiles. Could either be fixed here or should things that read the mbtiles be more flexible?

[2013-11-12 20:04] yhahn commented on #75
Heh, this is no longer invalid because of overzooming... guess technology overtook our spec : P

Will meditate.

[2013-11-20 17:35] cappelaere commented on #73
Just add the same problem installing node-mapnik in a node.js app.  Thank you for the workaround.
Pat.

[2013-11-21 08:18] Pana commented on #73
TKS, this works for me

[2013-12-01 15:38] georgecoltart opened #78 "Support for background images?"
Am I right in saying background-image is not supported in vector tiles?
Are there plans for it to work in the future?

[2013-12-02 10:29] gravitystorm opened #79 "Crash when running offline"
Tilemill 2 crashes when various remote urls are unavailable, for example when working on local-only sources while offline.

The following urls always need to be accessible to avoid crashing:

in lib/tm.js

[code]

and in node_modules/tm2-default-style/project.yml

[code]

These can be temporarily changed to accessible urls (e.g. localhost) in order to navigate to whichever offline-compatible proje

[2013-12-02 19:05] springmeyer commented on #78
`Map` level `background-image` works you just need to supply an absolute path to a local image file. TileMill 1 (through millstone) supports downloading remote files and supports interpreting relative paths based on the local project folder, but neither of these things are currently supported in TM2.

[2013-12-02 19:05] springmeyer commented on #79
Thanks for the heads up on this problem.

[2013-12-03 19:42] ajashton opened #80 "File browser: reset scroll when entering subdirectory"
When browsing for a project, if you scroll down the list and click on a directory, the next list view will still be scrolled down.

[2013-12-03 21:31] ajashton opened #81 "zoom-to-layer-extent button in the source editor"
For when you're creating a source from scratch and have no navigational hints in the black void

[2013-12-03 21:48] ajashton opened #82 "add zoom level indicator in source editor"

[2013-12-03 21:51] ajashton commented on #68
Pretty sure this is a dupe of #61

[2013-12-03 21:51] #68 closed, assigned to nobody

[2013-12-03 21:54] ajashton commented on #19
No longer seeing this

[2013-12-03 21:54] #19 closed, assigned to nobody

[2013-12-06 00:19] ajashton opened #83 "cartocss syntax error crashes tm2"
Trying to open an existing project containing a syntax error crashed tm2 entirely:

[code]

[2013-12-07 17:10] jqtrde opened #84 "publishing to Mapbox"
I'd love be able to be able to publish tiles generated with TM2 to Mapbox. Is there a means to do that?

Hack-ey solutions are welcome!

[2013-12-07 17:15] yhahn commented on #84
Yes, coming soon : )

[2013-12-07 17:18] jqtrde commented on #84
:metal:

Any ideas on timeframe? Getting ready to start a new project, would like to use TM2, but will use the original if this is still a few months off.

[2013-12-10 21:50] nickidlugash opened #85 "Lost saved edits while editing in the UI"
I just lost about 2 hours of saved edits on a TM2 project while editing in the browser UI. I'm racking my brain, but I can't think of anything I did differently that immediately proceeded this. Perhaps I navigated away from localhost:3000 and then hit the back button (but I really can't recall if I did this).

When saving, I had mostly used the save button, and occasionally hit command S.

@ian29

[2013-12-10 22:06] yhahn commented on #85
@nickidlugash was it a new project? Currently if you never hit the **Save as** button on a new project it never gets written to the hard disk.

I'll look into fixing this and buying you a drink sometime : )

[2013-12-10 22:53] nickidlugash commented on #85
@yhahn  good to know. Not sure if that was the case or not – here's what I did (which was probably terrible, terrible workflow):

I copied a different project of mine from the tm2-custom-styles repo into another (non-repo) place on my computer. I renamed that folder to be my new project. Then I checked out a new branch of the repo, and dragged the new project folder into the repo. And then opened

[2013-12-12 16:50] makella opened #86 "Rendering of light colored roads against light background"
Hello,

I'm working with TileMill 2 building our National Park Service basemap Park Tiles.  I hope this is an OK place to post a question/issue I'm seeing.

For the 'streets' class I'm using a light color with no casing at zooms 12 and 13, zoom>=14 I'm adding a casing.

At z12 and z13, I'm noticing that the light lines against the lightish background of my map are not rendering properly.  If I cha

[2013-12-12 17:32] #86 closed, assigned to ajashton

[2013-12-12 17:43] springmeyer commented on #86
My hunch is that this is due to the default image format used in TM2: png with colors reduced to 256. You can click on the project name to get its settings and try changing the format to full color png. However, to have this work (and actually request a full color PNG you'll need my fix from just now: e9fd312b0c89de53e84fbb0354761425b8856a8c). A binary build for OS X based on this commit `e9fd312`

[2013-12-16 23:09] incanus opened #87 "scale tile URL argument"
Would be nice to be able to request retina tiles on the fly by tile URL argument for such things as live preview of styles on mobile devices.

[2013-12-20 16:31] yhahn opened #88 "Move geocoding logics upstream to tilelive-bridge"
Look into moving https://github.com/mapbox/tm2/blob/carmen/lib/tm.js#L366-L371 upstream either to carmen or tilelive-bridge so carmen-index commandline behaves the same.

[2013-12-20 18:04] ryantroyford opened #89 "tm2 screencast"
@nickidlugash @gundersen

we're gonna make a screencast to show off tm2 and blow people's minds.

a few thoughts right off the bat:
- this isn't a walkthrough or instructional video. it should be fast and exciting. think of it like a tm2 demo reel with a little more behind-the-scenes stuff.
- we need to choose our coolest maps. from ian's wheatpaste map to AJ's pencil map to the clean-but-unique f

[2013-12-21 15:34] gundersen commented on #89
Basically a version of @ajashton screencast: https://www.mapbox.com/blog/vector-tiles-tilemill2-preview, but focused just on SF, custom fonts, something really unique w/ patterns.

[2013-12-22 04:40] wboykinm commented on #89
The majesty of [Spokane](http://www.flickr.com/photos/vtcraghead/11490011703/), the thrill of [Topeka](http://www.flickr.com/photos/vtcraghead/11489945584/) . . .

[2013-12-22 18:19] migurski commented on #89
The lake of [Oakland](http://mike.teczno.com/notes/lake-merritt.html)…

[2013-12-26 21:45] incanus commented on #89
![](http://www.draplin.com/pics/021909_port_of_portland_sign.jpg)

[2014-01-03 05:22] rclark commented on #61
hmm... been a few months since I've thought about this. Can it be closed with the merged pull request?

[2014-01-08 17:09] ajashton opened #92 "Background tile layer option for source editor"
This would be very useful for context, especially when designing a minimal vector source from scratch. Could also help identify/verify issues in your data.

[2014-01-09 00:35] connor commented on #73
Workaround worked for me! Thanks @springmeyer

[2014-01-09 01:33] springmeyer commented on #73
@connor - great, thanks for the followup!

[2014-01-09 18:53] ajashton opened #95 "Source editor: can't change layer name"
Once you've created a layer there's not way in the UI to change its name.

[2014-01-09 19:30] mikemorris opened #96 "Handle Mapnik strict mode errors"
**Mapnik non-strict mode `tilelive-vector@0.3.1`**
Allows saving and loading `tm2` projects with missing fonts.
![screen shot 2014-01-09 at 2 16 20 pm](https://f.cloud.github.com/assets/1149913/1881241/3b7507f8-7964-11e3-94b4-0ec7e2b8aebb.png)

---

**Mapnik strict mode `tilelive-vector@0.4.0`**
Disallows saving, but the user is not given any feedback.
![screen shot 2014-01-09 at 2 14 38 pm](https

[2014-01-13 03:43] #96 closed, assigned to nobody

[2014-01-13 20:11] ajashton opened #98 "Source editor: Support custom input projections"
Right now the only choices are WG84 and Web Mercator. Is this an intentional restriction for performance, or should we support any input like TM1?

[2014-01-13 22:36] samanpwbb opened #99 "teach me about good maps"
@nickidlugash @ajashton @EleanorLutz @ryantroyford

Hey map makers. I am going to get in the map design game. Anyone have links to drop for me that you guys find useful. I am talking books, blogposts, Pinterest collections, short fiction ect. that you've looked to for guidance and inspiration when it comes to making good maps.

Thanks!

[2014-01-13 22:42] #99 closed, assigned to nobody

[2014-01-14 19:59] ajashton opened #100 "Source editor: always start with general config for new layer"
When you create a new layer in the source editor, the configuration screen you're shown will be the last one you happened to look at on a different layer.

It would be better to make sure the general configuration options are shown first for a newly created layer, to make sure the user enters important things like the database name and user.

[2014-01-14 20:55] mojodna commented on #61
I've been living with this for a couple months now and am inclined to agree with @kkaefer's earlier comment about encoding `tilejson` (as the format) in the URL.

I'd propose `tilejson+http://example.com/path/to/tilejson.json` in order to disambiguate from HTTP template URLs (i.e. `http://example.com/{z}/{x}/{y}.png`), which may have been provided by a TileJSON file.

In other words, prepending th

[2014-01-14 23:22] skorasaurus opened #101 "Automatically add .tm2 to layer name in save dialogue"
When I went to save my project, I erased the .tm2 that was already prefilled in the form and then entered in my project's name, clicked save, and then received message "please match the required format"

It would be a nice simple fix to just automatically add .tm2 to a project when it is saved in case the user deletes it.

[2014-01-16 00:42] incanus opened #102 "Safari JS error prevents use"
Any use on Safari causes a JS error in the console and no tiles show up.

[code]

![screen shot 2014-01-15 at 4 40 45 pm](https://f.cloud.github.com/assets/17722/1926611/fe9d55d2-7e46-11e3-80a2-55e935ccbff1.png)

[2014-01-16 01:07] springmeyer commented on #102
Somehow the global `map` variable is getting set in Safari to `<div id=​"map" style=​"background-color:​rgba(255,255,255,1.00)​;​">​</div>​` such that the map is never initialized because is not undefined here: https://github.com/mapbox/tm2/blob/527458cb989b652bf2b2a79a3fde889a4309f86f/templates/style._#L433

[2014-01-16 01:08] #102 closed, assigned to nobody

[2014-01-16 21:16] ajashton commented on #82
this exists

[2014-01-16 21:16] #82 closed, assigned to nobody

[2014-01-17 15:58] ajashton opened #103 "Source editor: bounds setting destroyed on save"
We can manually add a `bounds` object to data.yml to limit exports, but it's lost as soon as you save any changes in TM2.

[2014-01-17 17:33] springmeyer opened #104 "Packaging/exporting unsaved style/source crashes tm2"
We need to ensure this does not crash, either by prompting for a save (#3) or not allowing the package/export button to be active.

[2014-01-18 22:45] #103 closed, assigned to nobody

[2014-01-19 19:46] nickidlugash opened #105 "Pattern alignment not rendering accurately?"
@springmeyer @ajashton

While reviewing @EleanorLutz's woodcut project, I noticed that there were patterns using local polygon-pattern-alignment that looked seamless in TM2. In the deployed version the seams became visible (switching them to global alignment made the patterns in the deployed map seamless). Do you know what's going on? Thanks!

[2014-01-21 03:13] springmeyer commented on #105
Interesting. I don't know what would cause this. It does not strike me as a version/mac vs linux build issue, but I guess it could be. Thanks for flagging this.

@nickidlugash - I'm working on a longer term solution to versioning issues right now - the milestone I'm hoping to hit by midweek is a new TM2 packaging workflow that will make it easier to keep in sync between local and deployed. Once th

[2014-01-24 04:22] rclark opened #106 "Protobuf message too big"
I pointed tm2 at a PostGIS table containing a lot of complex polygons. The map churns for a bit before saying

The console shows this error once for each tile that was in view and would've contained data

[2014-01-24 04:42] springmeyer commented on #106
Yes, the libprotobuf library has a 64 MB internal limit for encoded size. We've considered loosening this, but settled on the fact that in all cases so far 64 MB tiles have indicated something wrong with the layer query. In short the SQL was not optimized and pulling way more data than intended for a given zoom. So, can you take a look at simplifying your polygons before encoding?

[2014-01-24 05:54] rclark commented on #106
I definitely can simplify, and I can see the rationale behind not loosening the restriction. That's a tough usability problem though -- there's really nothing wrong per se with my layer query (select \* from mytable), but its definitely not optimized for this usage. Tough part is figuring out how to make that clear and easy.

Thanks!

[2014-01-24 05:54] #106 closed, assigned to nobody

[2014-01-24 06:22] springmeyer commented on #106
longer term plan is built-in simplification, but yeah, tricky problem to solve for all cases.

[2014-01-24 16:29] rclark commented on #106
Interestingly, just `st_simplify(geom, 10)` was enough to bring things down to size.

[2014-01-27 20:41] bsudekum opened #107 "Error uploading large mbtiles source"
After importing a .shp into tm2, exporting a .mbtiles and uploading to mapbox.com, my tileset seems to be non-functioning. Background:
- Large .shp
- limiting zoom level to 0-10
- mbtiles 500mb
- Export to mbtiles seems to be successful; took appropriate amount of time (~45 minutes)
- Clicking the share button opens /data again
- mapid: `bobbysud.tvokcsor`

cc @yhahn

[2014-01-27 20:45] bsudekum commented on #107
ah so it appears when I add the mapid in tm2, the data is in fact there. Thinking the should be made more clear on mapbox.com?

[2014-01-27 20:57] ajashton opened #108 "Interactivity can't cross 180 deg E/W"
It only works on the 'middle earth'

[2014-01-27 21:06] yhahn commented on #107
This is a vector source?

We currently don't have anything (like an x-ray style) in place to visualize the data.

[2014-01-27 21:28] bsudekum commented on #107
Yes, this is a vector source:

![](https://i.cloudup.com/HbqCdOdzDJ-3000x3000.png)

[2014-01-28 14:54] yhahn commented on #108
At least one case of this is when the map is panned past -180 or 180 -- the grid breaks.

First step here is to just upgrade mapbox.js -- might be fixed upstream.

[2014-01-28 16:59] ajashton commented on #108
Confirmed that this was just caused by crossing 180. Updated issue to clarify.

[2014-01-28 19:56] ryantroyford commented on #89
[merged](https://github.com/mapbox/mapbox.github.com/pull/3255).

[2014-01-28 19:56] #89 closed, assigned to nobody

[2014-01-29 18:47] ajashton opened #109 "fullscreen preview in source edit mode"
sometimes you just want immerse yourself in a screen of data

[2014-01-31 05:12] wprater commented on #84
wanting to push vector tile styles to mapbox too!  any news?

[2014-01-31 20:16] springmeyer opened #110 ".app + auto updates"
@incanus - I'd like to put this on your radar.

I'm considering that future tm2 builds will soon:
- need to be become an actual .app (and need to be signed)
- will optionally be able to be created on a machine without xcode (no clang++ needed) as C++ modules will come via node-pre-gyp based binaries
-  should be able to auto-update: meaning every time a user opens TM2 their app would update to the

[2014-02-04 23:37] wprater opened #111 "external GeoJSON source not showing polygons"
are we supposed to see a outline of the polygons for a GeoJSON file after I add a layer to a new source?

[2014-02-05 01:35] springmeyer commented on #111
Try saving the project to trigger rendering.

[2014-02-05 01:38] springmeyer commented on #105
not had time to hit my packaging goals or review this in any more detail. let me know if its blocking or if you have any more details. Otherwise let's just keep this open and I will keep on my radar.

[2014-02-05 03:32] wprater commented on #111
Ive tried to save the project and also use the 'refresh' button after I chose the data source from the hamburger menu.  I just get an empty screen.  I've tried a know to work GeoJSON and a Shapefile.

[2014-02-05 04:12] yhahn commented on #111
@wprater have you set the projection for the layer to be WGS84?

[2014-02-05 07:18] wprater commented on #111
@yhahn nice, that works for one dataset, but not the Zillow neighborhood boundaries which I converted from a shapefile to geojson.  Perhaps there was an issue with the conversions?

They did display in TileMill.

Also tried an original shapefile from Zillow and it's also not displaying.

[2014-02-06 19:17] springmeyer opened #112 "Enable referencing/rendering layers more than once"

[2014-02-07 01:14] mojodna opened #113 "Refreshing a source should re-fetch the TileJSON"
We've been re-ordering layers and changing zoom level availability without changing the source's URL.  Refreshing the source deletes the cached data but not does currently update the metadata

Workaround: creating a newer source with `%3Fv%3D2` (`?v=2`) appended and distinguish between it and prior versions by URL.  It works, but it's not ideal.

[2014-02-12 18:01] zzolo commented on #73
I can confirm that the workaround that @springmeyer mentioned worked for me.
https://github.com/mapbox/tm2/issues/73#issuecomment-27548009

[2014-02-12 20:31] wprater commented on #111
Removed all my projects data in ~./tilemill and tried the geojson files again.  Got them to render, but I have to save and also change zoom levels.

[2014-02-12 20:31] #111 closed, assigned to nobody

[2014-02-13 16:27] crofty commented on #30
@yhahn is it possible for you to give me a high level run down of the things that need to be done in order to generate images of arbitrary size?  It's something that I would like to start exploring.

[2014-02-13 16:47] dkniffin commented on #30
I'd be interested in this breakdown as well. I was thinking of trying to take a stab at some sort of export functionality, but I have no idea where I'd start.

[2014-02-13 21:00] nickidlugash opened #114 "How do non-existent characters get rendered?"
Most fonts seem to render characters that don't exist in their character set as a box with an 'x' in it, while some render a box with a '?' in it:

![screen shot 2014-02-13 at 3 51 35 pm](https://f.cloud.github.com/assets/5607844/2164871/5aace8a4-94f1-11e3-8340-dcc93daa363e.png)

Today, for the first time, I came across a font that renders a blank space:

![screen shot 2014-02-13 at 3 48 24 pm](ht

[2014-02-13 22:05] nickidlugash commented on #114
so guessing that this is specified in the font glyph table?

![screen shot 2014-02-13 at 5 02 51 pm](https://f.cloud.github.com/assets/5607844/2165567/a663f96e-94fa-11e3-8f68-5787ac2624c5.png)

Is there anything we can do to change the behavior of how missing characters are rendered? (Not a big issue, I'm mostly just curious).

[2014-02-13 22:45] springmeyer commented on #114
I don't know off hand. I'll dig into the code for this in a spare moment and let you know.

[2014-02-17 18:18] springmeyer commented on #79
I ran into what could be a similar problem - when only trying to access sources the app crashed when offline. I worked around it by removing the `~/.tilemill/v2/app.db`. After removing that file then I could restart the app and access `http://localhost:3000/new/source` without a net connection.

[2014-02-21 19:55] samanpwbb opened #118 "Cannot full text search carto stylesheets with command+f"
If there was one thing in TM2 that would allow me to work faster and better it would be this.

[2014-02-21 19:56] samanpwbb opened #119 "Expose variable values in UI"
It's nice to be able to use variables across stylesheets, but awkward to refer back to variable values.

[2014-02-21 19:57] samanpwbb opened #120 "Toggle for satellite layer"
It would be nice to be able to compare my style with satellite imagery to see how my road widths and other features compare with what's on the ground

[2014-02-21 19:58] samanpwbb opened #121 "Enable location search or lat/lon input"
I'd be great to be able to navigate around the map more efficiently.

[2014-02-21 19:59] yhahn commented on #120
FYI there is a secret option -- you can add a `baselayer` key under `_prefs` in your project.yml to specify a mapbox layer ID to display under your style.

[2014-02-21 20:00] samanpwbb opened #122 "code pane overlaps map pane when in #layers mode"
Frustrating to lose zoom level display when left panel is open:
![screen_shot_2014-02-21_at_2_58_57_pm-2](https://f.cloud.github.com/assets/108094/2234077/b5f43f68-9b32-11e3-850a-b6eac4a61260.png)

[2014-02-21 20:01] samanpwbb opened #123 "Enable selection + copying in layers panel"
Right now everything in layers panel is an `<a>` element, and that for some reason makes it impossible to copy any text. I'd be nice to be able to grab data attributes for use in selectors by copy+pasting them.

[2014-02-21 20:03] samanpwbb opened #124 "Less clicks to view fonts"
My brain gets confused sometimes trying to see my font listing. This would be nice:

![screen_shot_2014-02-21_at_3_01_53_pm-2](https://f.cloud.github.com/assets/108094/2234109/1ca53938-9b33-11e3-86df-47b90fba71e0.png)

[2014-02-21 20:05] ajashton commented on #118
CodeMirror search addon(s)? http://codemirror.net/doc/manual.html#addon_searchcursor

[2014-02-21 20:11] samanpwbb opened #125 "Color swatch + picker in code editor for hex colors"
I need to keep a scratch pad open in inkscape whenever I'm working with colors because my brain can't translate any color code syntax. I am in love with these things in code editors:
![screen shot 2014-02-21 at 3 09 21 pm](https://f.cloud.github.com/assets/108094/2234164/19aed8f0-9b34-11e3-98b4-9d5d015d87e8.png)

Here's a codemirror plugin that does this: http://enjalot.github.io/Inlet/

[2014-02-21 20:15] samanpwbb opened #126 "More contrast between full, docs, code template buttons"
These three buttons look too similar:

![screen shot 2014-02-21 at 3 14 17 pm](https://f.cloud.github.com/assets/108094/2234203/d3b45798-9b34-11e3-982f-fb56059d3923.png)

I get confused sometimes. Contrast between them should be increased. A different colored background or so on the docs icon would help.

[2014-02-21 20:19] tristen opened #127 "Errors since last upgrading tm2"
I pulled in the latest changes, npm installed and I get hit with this:

[code]

Blowing away node_modules and npm installing still throws this. @springmeyer @yhahn Any ideas?

[2014-02-21 20:49] nickidlugash commented on #125
:+1:

For me, I'm indifferent as to whether we include a picker (I prefer using external pickers, anyway), but I'd LOVE to be able to see swatches for the colors I've picked.

[2014-02-21 20:51] nickidlugash opened #128 "Fatter scrollbars, please!"
Maybe my mouse-handling skills are just not up to par, but I have trouble selecting the scrollbars because they're so narrow.

[2014-02-21 20:53] nickidlugash opened #129 "Add ability to rearrange mss tabs?"
This is not a big deal, but if it's an easy change I would love to be able to rearrange mss tabs, just so projects can be organized better.

[2014-02-21 20:56] nickidlugash commented on #124
:+1: Um yes, please.

[2014-02-21 21:00] samanpwbb opened #130 "add keybindings"
Would love to be able to do the following with my keyboard:
- Tab between stylesheets
- Open docs
- Open data sidebar
- Open project overlay
- _Controversial_ Expand code manipulation tools with codemirror (multi-line select, multi-line comment-out, ect)

[2014-02-21 21:07] nickidlugash commented on #126
For me, the confusion has a lot to do with the fact that the icons are unclear, not just that there's not much contrast. Could we possibly making the code reference icon be a question mark? The current icon is confusing to me because I keep thinking it's referring to my mss code files.

[2014-02-21 21:10] nickidlugash commented on #121
:+1:

[2014-02-21 21:16] incanus commented on #128
This will be OS-dependent. I should probably get cracking on https://github.com/mapbox/tm2/issues/110?source=cc to help address this.

[2014-02-21 21:21] tmcw commented on #128
Er, it will be but it's a quick fix right now: https://github.com/mapbox/tm2/blob/master/app/base.css#L52-L54

[2014-02-21 21:28] yhahn commented on #128
^^ @nickidlugash set this to whatever width/style you want pls

[2014-02-21 21:38] nickidlugash commented on #128
Submitted pull req: https://github.com/mapbox/tm2/pull/131

[2014-02-22 17:43] rclark commented on #127
I think that's the one where you need to

[code]

before you `npm install node-mapnik`?

[2014-02-22 17:56] tristen commented on #127
@rclark Ah! you nailed it - Thanks! I forgot to add these again when I started a new terminal session and didn't want to add it to my bash profile.

[2014-02-22 17:56] #127 closed, assigned to nobody

[2014-02-24 16:18] samanpwbb opened #132 "Codemirror text flashes in and out [Chrome]"
![screen shot 2014-02-24 at 11 18 10 am](https://f.cloud.github.com/assets/108094/2247486/4796fdaa-9d6f-11e3-9353-19aa39834c40.png)

[2014-02-24 16:26] mikemorris commented on #132
I vaguely remember seeing similar issues with Prose that I believe ended up being bugs in Chrome's rendering engine.

[2014-02-24 16:28] samanpwbb commented on #132
Probably something we'll have to live with then, thanks @mikemorris

Going to close so people don't waste time on this.

[2014-02-24 16:28] #132 closed, assigned to nobody

[2014-02-24 16:39] mikemorris commented on #132
@samanpwbb May be worth filing an issue in the CodeMirror repo if you can find a reliable test case https://github.com/marijnh/codemirror/issues?state=open

[2014-02-24 16:44] yhahn opened #133 "Layer reordering vs layer instancing"
I know we've discussed this at varous points but I want to make sure I understand correctly...
- **We can _reorder_ layers** from a vector tile using mapnik XML. This is just a matter of changing the order in which the layers appear in the style XML.
- **We can? can't? declare multiple instances** of a layer from a vector tile using mapnik XML. I can't see how we would be able to do this, just wan

[2014-02-24 16:45] yhahn commented on #132
Hold on that, we're on an old version and figuring out how to upgrade (without nuking performance) will take priority.

[2014-02-24 17:05] springmeyer commented on #133
Yes to both: render order is determined by the layers as declared in the Mapnik XML and multiple Mapnik XML layers can be defined with the same name, which will effectively render that layer twice, applying its specific styles. If there is something blocking this from working I'd look at whether carto is enforcing unique layer names.

On Feb 24, 2014, at 8:44 AM, Young Hahn notifications@github.co

[2014-02-24 17:06] yhahn commented on #133
o you just define it twice? xml is so dumb : )

[2014-02-24 18:30] incanus commented on #110
I'm going to try to take a bite out of this during this coming week.

[2014-02-24 18:41] yhahn commented on #110
@incanus @springmeyer let's voice on this this week.

[2014-02-25 19:51] springmeyer commented on #121
@yhahn what do you think here? I think ideally this could be a plugin, but that would require porting over the plugin system from tm1.

[2014-02-25 21:10] mojodna commented on #121
:+1:

Even just having the current view in the URL would help to start.

I've been using a modified version of [L.GeoSearch](https://github.com/smeijer/L.GeoSearch) in our browsing boilerplate and preliminarily added leaflet-hash to stamen/tm2#1, though it currently breaks panel functionality (@standardpixel and I have been thinking about using something along the lines of [veltman/hashnav](https:

[2014-02-25 22:15] incanus commented on #110
Capturing chat notes: core engine stuff by @springmeyer needs to happen first, then we will tackle this. Our frame of reference right now is how things are done in TM1, but things could change. We'll use this ticket as a scratchpad for planning what a TM2 app should be when the time comes.

[2014-02-26 00:04] samanpwbb opened #134 "Add location bookmarking"
Allow user to save points on the map and then quickly jump between them. Bookmarks should be project-specific.

[2014-02-26 01:42] skorasaurus commented on #134
a huge +1 to this.

[2014-02-26 14:58] jqtrde commented on #134
:+1:

[2014-02-26 19:36] springmeyer opened #135 "Source export does not respect changes to zoom without save"
Its feasible in the UI to edit settings and then export. The Export button should be disabled until a save is done I think, otherwise the edits are not respected.

[2014-02-26 19:45] springmeyer commented on #69
ha, also just hit this.

[2014-02-26 20:57] wboykinm commented on #134
:+1: :+1:

[2014-02-27 15:19] samanpwbb opened #136 "Add inline images for comp-op documentation"
Would save a lot of time to have descriptive images attached to each option:
![screen shot 2014-02-27 at 10 19 31 am](https://f.cloud.github.com/assets/108094/2283863/9cc08d5a-9fc2-11e3-8f40-0ed6b398fd9e.png)

[2014-02-27 15:21] tmcw commented on #136
This would be in the domain of [mapnik-reference](https://github.com/mapnik/mapnik-reference), though it would be weird to maintain thumbs there. Maybe another project that's joined with mapnik-reference. `mapnik-visual-reference` :)

[2014-02-27 15:27] springmeyer commented on #136
Joining sounds reasonable.  `mapnik-visual-reference` sounds good, or maybe just a link to other docs - in this case that would be https://www.mapbox.com/tilemill/docs/guides/comp-op/.

[2014-02-27 16:17] samanpwbb opened #137 "Better reference for cartoCSS color operations"
_not sure if this is the right place for this_

it's easy to miss that there are more color functions that the seven on this page:

![screen shot 2014-02-27 at 11 14 41 am](https://f.cloud.github.com/assets/108094/2284526/52d8551c-9fca-11e3-86a8-7a69f71bc10b.png)

I didn't realize it until today. This section of documentation to be extended to include more examples or at least link to relevant les

[2014-02-27 16:24] tmcw commented on #137
We're missing a function or two that we should add. I don't want to link to LESS docs since confusing carto & less has been a common point of user confusion & frustration.

[2014-02-27 17:45] ajashton commented on #137
Also needs to be fixed in the primary documentation: https://www.mapbox.com/carto/api/2.1.0/#color

[2014-02-27 17:48] wboykinm commented on #136
That existing docs page is awesome. Link it from everywhere you can.

[2014-02-27 21:02] skorasaurus opened #138 "support of mapnik 2.3.x branch"
Would love to start using some of the new features in mapnik 2.3 in tm2.

I presume you're already working on this but I hadn't seen an issue for it.

[2014-02-27 22:06] ian29 commented on #138
binary builds for mac os x come with mapnik 2.3 if you're on mac @skorasaurus

[2014-02-27 22:06] ian29 commented on #138
err, link: https://github.com/mapbox/tm2#binary

[2014-02-27 22:20] springmeyer commented on #138
Correct, currently targeting 2.3.x for the tm2 binary builds. If you want to use mapnik master (3.x) you'll need to compile from source currently.

[2014-02-27 22:20] #138 closed, assigned to nobody

[2014-02-28 05:20] samanpwbb opened #139 "Allow user to copy + paste font names"

[2014-02-28 08:27] samanpwbb opened #140 "Clarify UI around inspection in source mode"
The 'click checkbox' -> 'click save' flow is unintuitive.

[2014-02-28 16:45] samanpwbb opened #141 "Correctly align data sidebar tables"
Misaligned at the moment:
![screen shot 2014-02-28 at 11 45 19 am](https://f.cloud.github.com/assets/108094/2295988/c31dd77a-a097-11e3-9b26-d0d194437f7b.png)

[2014-02-28 16:47] samanpwbb opened #142 "bring back styles/sources headings"
Without a heading on the left column to offset the "settings" heading, looks too much like everything on page falls under 'settings'.

![screen shot 2014-02-28 at 11 46 15 am](https://f.cloud.github.com/assets/108094/2295993/daad047e-a097-11e3-912b-96d857409c9a.png)

[2014-02-28 16:49] samanpwbb opened #143 "use consistent button styles"
We should stay consistent with button styles/meanings. Seeing three hierarchy levels:
1. blue (use rarely - an action that makes significant changes)
2. gray background (middle - an action that can be undone)
3. no background (reconfigures ui, does other trivial things)

[2014-02-28 19:00] springmeyer opened #144 "declare mapnik-reference version for carto"
Need to do this soon to adapt to upcoming changes in mapnik 3.x

[2014-02-28 23:33] ian29 opened #146 "profiling tools for source editor"
**tl;dr** TM2 should help users know how dangerous / unreasonable their potential vector tiles are. given [profiling tools in the style editor](https://github.com/mapbox/tm2/issues/20#issuecomment-17792932), ideally TM2 provides per-zoom-level stats.

My first escapade into rendering + _optimizing_ vector tiles left me wishing i knew more about how impactful my queries were - felt like i was writi

[2014-02-28 23:36] yhahn commented on #146
@ian29 hrm, you may want to start by reading this function:

https://github.com/mapbox/tilelive-vector/blob/master/index.js#L239-L340

This is built around choosing tiles that shoudl bust up render time but could easily be repurposed to focus on VT tile size.

I haven't built a UI to run/represent the stats generated here but your notes/goals are exactly what it's going for.

[2014-03-01 23:42] yhahn commented on #133
urgl https://github.com/mapbox/tm2/blob/master/lib/style.js#L181-L185 for in layer group-by property...

[2014-03-02 04:05] samanpwbb opened #148 "More clearly show state in #settings mode"
It is unclear what the close button in the top right corner does, because this panel doesn't feel enough like a modal on top of active project, it feels like a separate page. We should expose the active project more clearly and ensure the close button in the top right is clearly for closing this modal, not exiting the project.

Thanks for taking note of this @nickidlugash

[2014-03-02 04:14] yhahn commented on #148
y def not opposed to a rethinking of how this pane is laid out. My only notes are
- **Fully modal.** You shouldn't be able to get to make changes to your carto, map preview, or datasource layers in this state (though it's fine to see them).
- **Browser (?)** In the past the style project switcher/source switcher have been a separate state but I combined at some point. Not wedded to this idea and i

[2014-03-02 04:17] yhahn opened #149 "OAuth UI"
Finish Mapbox OAuth UI and flow. Identifying the user's mapbox account and enabling use of map IDs will enable
- Use of Mapbox geocoding API in UI
- Satellite or other baselayer display while styling
- Tighter integration between local and remote sources (https://github.com/mapbox/tm2/issues/45)

[2014-03-02 04:34] samanpwbb commented on #141
Done in mbbase branch

[2014-03-02 04:34] #141 closed, assigned to nobody

[2014-03-02 04:34] samanpwbb commented on #124
done in mbbase

[2014-03-02 04:34] #124 closed, assigned to nobody

[2014-03-02 04:48] samanpwbb commented on #124
Looks like this now:
![screen shot 2014-03-01 at 11 47 36 pm](https://f.cloud.github.com/assets/108094/2303505/d4922bc6-a1c5-11e3-93fb-d92cf6449410.png)

[2014-03-02 05:35] samanpwbb commented on #122
Fixed in mbbase branch.

[2014-03-02 05:35] #122 closed, assigned to nobody

[2014-03-02 08:03] samanpwbb commented on #139
Done in mbbase with 779434332e0b65de43b36de626fcfb402baa325f

[2014-03-02 08:03] #139 closed, assigned to nobody

[2014-03-02 08:04] samanpwbb commented on #123
Done in mbbase

[2014-03-02 08:04] #123 closed, assigned to nobody

[2014-03-02 08:25] ghost opened #150 "error installing tilelive-bridge --> node-mapnik-1.4 not found (ubuntu)"
Hello,
while installing tm2 i got few problems with npm install. So i try to install each module a time.
when i try
nmp install tilelive-bridge

i got this error:

368 http 404 https://github.com/mapbox/tilelive-bridge/tarball/node-mapnik-1.4
369 error fetch failed https://github.com/mapbox/tilelive-bridge/tarball/node-mapnik-1.4
370 silly lockFile 8d9f9130-e-bridge-tarball-node-mapnik-1-4 https:/

[2014-03-02 08:51] samanpwbb opened #151 "View map while in #docs mode"
User should be able to view docs and edit map at the same time. I would use this feature all the time, especially when playing with carto features that are rare or hard to remember (composite operations).

One way to do this would be to limit the #docs panel to 50% or so of screen height. Rather than modifying #docs mode, we could add a new mode ( #docs-preview) that showed map.

An alternative ap

[2014-03-02 14:47] yhahn commented on #150
@andriaz can you try again after git pull'ing to make sure you have this commit?

https://github.com/mapbox/tm2/commit/76bb543329bdd1a68898cc170817fc5a4067626d

[2014-03-03 18:42] samanpwbb commented on #142
Done in mbbase branch

[2014-03-03 18:42] #142 closed, assigned to nobody

[2014-03-03 20:12] rclark commented on #146
@ian29 I was working my way into this kind of thing while thinking about https://github.com/mapbox/mapbox-streets/issues/740. I was thinking of ways to take it a step deeper and be able to give some kinds of statistics about geometries within the tile -- how many coordinates? ave distance between coordinates? number of repeated coordinates? If you have anything started around this lets sync up

[2014-03-04 13:55] tristen commented on #151
I kind of like this approach and doesn't introduce a new mode. It might be nice to only support a view like this on larger screens and go back to a 50/50 split with the docs covering the map on smaller screens. ie:

[code]

[2014-03-04 14:50] tristen commented on #151
Or actually, maybe a 50% split for the editor is better. previewing doesn't necessarily need to occupy that much room. So like:
- [25% map] [50% editor] [25% Docs]
- Move the toggle switch to the right ![screen shot 2014-03-04 at 9 47 33 am](https://f.cloud.github.com/assets/61150/2322041/fc592f50-a3ab-11e3-81d1-ca08a57ff5ca.png)
- Slide out drawer from the right.

[2014-03-04 17:50] rclark commented on #146
What I'd like to see are a few different ways to "profile"
- Give me stats about one `[z, x ,y]`
- Give me min/max/ave stats about these `[ [z1, x1, y1], [z2, x2, y2], ... ]`
- Give me stats about the tiles that I see when I move around and look at different parts of the map

As I mentioned before, I'd like to not only see tile sizes, but also geometry details. I think these kinds of parameters ar

[2014-03-04 19:10] e-n-f commented on #146
I don't know if this goes along with what you're doing @rclark or if it's completely orthogonal to it, but my hope is still to finish making an alternate vector tile producing tool where you can throw in an arbitrary shapefile or GeoJSON and get back a set of vectors that Just Work, automatically simplified to throw away as much detail as is necessary at low zooms and while still being complete an

[2014-03-04 23:58] samanpwbb opened #152 "use js- prefixed event trigger classes"

[2014-03-05 06:18] samanpwbb commented on #148
I'm not seeing a need for anything drastic. If we added a map thumbnail / map title to the right column, to clarify that these are settings specifically for your active project, this ambiguity might go away. I introduced stronger contrast between the two panels, which helps.

[2014-03-05 06:24] samanpwbb commented on #148
I solved this in mbbase just by clarifying the corner action with cccff2603e407b7901f8aa20a98a29e1817ff4bb:
![screen shot 2014-03-05 at 1 24 28 am](https://f.cloud.github.com/assets/108094/2330238/d60509f4-a42e-11e3-875a-9b22dd40aba7.png)

[2014-03-05 06:24] #148 closed, assigned to nobody

[2014-03-05 06:32] samanpwbb opened #153 "Merge mbbase"
Lots of polish to do here still. My list for merging mbbase looks like this right now:
- [x] Cleanup background tones (can we get away with removing fill-dark / fill-light?)
- [x] Cleanup large screen media queries (keep @ajashton happy)
- [x] One last round of cleanup to custom styles
- [x] Re-introduce panel drop shadow along map
- [ ] Style x-ray popup
- [ ] Fix autocomplete dropdown
- [ ] Ensu

[2014-03-05 06:32] samanpwbb commented on #143
Pretty much set here.

[2014-03-05 06:33] samanpwbb commented on #126
Done in mbbase

[2014-03-05 06:33] #126 closed, assigned to nobody

[2014-03-05 06:34] samanpwbb commented on #109
Done in mbbase

[2014-03-05 06:34] #109 closed, assigned to samanpwbb

[2014-03-05 15:29] ajashton commented on #153
I don't have strong feelings on the blue either way, but if we keep it this text will need more contrast:

![](http://i.imgur.com/hnDoc0M.png)

The horizontal rules in the layers list on the other hand (in both Style and Source mode) could use some toning down. They seem to overpower the text:

![](http://i.imgur.com/B1UeRae.png)

Also, long source names are not handled [edit: but master doesn't e

[2014-03-05 15:40] ajashton opened #154 "mbbase: cannot change source of style"
Attempting to select a different source in a style has no effect in mbbase, works fine in master.

[2014-03-05 15:50] ian29 commented on #153
agree w/ @ajashton that the horizontal rules are a bit distracting.

also the keylines around the source editor forms were initially very distracting but im getting used to them.
![image](https://f.cloud.github.com/assets/1056106/2334954/12f9a630-a47f-11e3-87d3-49bdaa3afed7.png)

the extent field could be wider - this is often a string of 4 long numbers
![image](https://f.cloud.github.com/assets/1

[2014-03-05 16:00] samanpwbb commented on #153
This stuff is great - keep flagging things guys. At the moment we only have 1 keyline style. I'll look into some ways to work with this.

[2014-03-05 16:07] samanpwbb opened #155 "Show when data is loading/done/broken in source editor"
When I add a new source I have a hard time knowing if my source is bad or if it just hasn't rendered on the map yet.

[2014-03-05 16:21] ian29 commented on #155
big +1.

also, many errors are getting `console.log()`'d, and it would be great to surface at least some of these in the UI.

[2014-03-05 17:59] yhahn opened #156 "Disallow source center's that are outside min/maxzoom bounds"
Or bad news bears.

cc @ian29 @aaronlidman

[2014-03-05 17:59] ian29 commented on #156
yesh.

[2014-03-05 18:25] ian29 commented on #156
also require a zoom level param. i just rendered an mbtiles without a zoom center, and tm2 does not complain.

[2014-03-05 19:13] ajashton opened #157 "mbbase: save doesn't work in source mode"
Eg open a source and tick one of the inspector boxes.
- clicking the save button does nothing
- ctrl-s brings up the browser's save-page dialog and overlays a spinner on the screen that never goes away

[2014-03-05 19:21] ajashton opened #158 "UI to delete old, unwanted sources from menu?"
Currently they just build up forever unless you delete or manually edit app.db.

[2014-03-05 19:25] tristen commented on #157
I'm sure this has something to do with a change I made. Will be sure to hit this when #152 is covered.

[2014-03-05 20:29] edenh opened #159 "Draw more attention to close docs btn"
It can be disorienting with the docs pane covering the map. Let's call a little more attention to the close button.

![screen shot 2014-03-05 at 12 10 10 pm](https://f.cloud.github.com/assets/1577766/2338042/caca6568-a4a4-11e3-9415-558b5dc9253b.png)

[2014-03-05 20:35] #159 closed, assigned to nobody

[2014-03-05 21:13] rclark commented on #146
Starting to flesh out some ideas based on our discussion. The blueprint is
- branch of `tilelive-vector` where you can [set a flag](https://github.com/mapbox/tilelive-vector/blob/more-stats/index.js#L184) that will perform some [more detailed statistics gathering](https://github.com/mapbox/tilelive-vector/blob/more-stats/tile-profiler.js)
- at first, [flip the flag](https://github.com/mapbox/tm2/b

[2014-03-05 21:50] edenh commented on #151
@tristen I like your approach to moving the toggle switch to the right. It would also be nice to see the data pane while viewing the code and map. Could we do something like this:

![screen shot 2014-03-05 at 1 47 41 pm](https://f.cloud.github.com/assets/1577766/2338992/112b8f2c-a4b0-11e3-88be-f92f4848bfd4.png)

This result in a consolidated 'get help' area with either docs or data ref. Open would

[2014-03-05 21:55] samanpwbb commented on #151
How about:
![screen shot 2014-03-05 at 4 54 58 pm](https://f.cloud.github.com/assets/108094/2339053/d2e753e4-a4b0-11e3-92fb-27df89c90058.png)

[2014-03-05 22:00] tmcw commented on #151
For reference docs, saman's suggestion reminds me of how adobe brackets does this, pretty effectively

![2014-03-05 at 4 59 pm](https://f.cloud.github.com/assets/32314/2339120/84f77064-a4b1-11e3-9ee1-90260f2c7337.png)

[2014-03-05 22:05] edenh commented on #151
@tmcw ha I was about to reference brackets. I think the best solution really is contextual help like this with a more comprehensive _external_ docs window.

[2014-03-05 22:10] edenh opened #160 "Add auto-closing brackets"
http://codemirror.net/demo/closebrackets.html

[2014-03-05 22:11] tmcw commented on #160
File as 'highly divisive' and plz make it optional.

[2014-03-05 22:17] edenh opened #161 "Autocomplete hints"
![screen shot 2014-03-05 at 2 13 56 pm](https://f.cloud.github.com/assets/1577766/2339253/8b9daf8a-a4b3-11e3-865f-ce9d2eb2b706.png)

http://codemirror.net/demo/complete.html
*as an option cc/@tmcw

[2014-03-05 22:30] MateoV opened #162 "Can't cancel export"
I started and subsequently hit cancel on an export of a source. However, the export starts again every time that source is opened and prevents me from exporting any other source (there is no button, I assume it is hidden if it detects an export happening in the background). At this point I must force quit tm2 because the export continuously restarts. Seems to be a routing bug but I can't determine

[2014-03-05 22:39] ian29 opened #163 "saving tmp style crashes app"
if you try to save or export a style that has not been saved as `.tm2` directory, app throws this error and crashes

[code]

[2014-03-05 22:43] springmeyer commented on #163
dupe of #104

[2014-03-05 22:43] #163 closed, assigned to nobody

[2014-03-05 23:17] samanpwbb commented on #154
Fixed in mbbase

[2014-03-05 23:17] #154 closed, assigned to nobody

[2014-03-06 00:16] samanpwbb commented on #153
Closed replaced by https://github.com/mapbox/tm2/pull/164

[2014-03-06 00:16] #153 closed, assigned to nobody

[2014-03-06 05:53] samanpwbb opened #165 "Cannot delete unsaved + empty .mss tab"
Make a new tab, can't delete it until you add content and save.

[2014-03-06 06:24] samanpwbb commented on #152
Started in https://github.com/mapbox/tm2/tree/mbbase-js-prefix - still some broken things to fix.

[2014-03-06 07:01] samanpwbb commented on #152
Done in mbbase

[2014-03-06 07:01] #152 closed, assigned to nobody

[2014-03-06 07:09] samanpwbb commented on #157
Done in mbbase

[2014-03-06 07:09] #157 closed, assigned to nobody

[2014-03-06 07:39] wilhelmberg commented on #151
I would love to have the possibility to resize the panels by myself.
Not fixed to 50%, 30% or whatever.
Reason: I'm using several monitors in portrait mode (https://twitter.com/WilhelmBerg/status/372707259970617344/) and aligning the edges of the panels to the bezels between the monitors is really a PITA when moving windows around or resizing them.

[2014-03-06 07:46] samanpwbb opened #166 "bug with codemirror in source editor"
Getting a black screen with SQLite and PostGIS sources panels :( - not sure what I changed.

[2014-03-06 16:45] samanpwbb opened #167 "move add carto tab button inline"
When using TM2 i am used to reaching up to the tab area (pink), so i would like the add tab button to the inline (green):

![screen_shot_2014-03-06_at_11_44_54_am](https://f.cloud.github.com/assets/108094/2347627/c54baee4-a54e-11e3-9ce7-b8d41fcefab3.png)

[2014-03-06 16:46] samanpwbb commented on #143
@edenh do you have thoughts on this?

[2014-03-06 16:49] samanpwbb opened #168 "Always show .mss or never show .mss for file tabs"
It is required here to add .mss to your filename:
![screen shot 2014-03-06 at 11 47 27 am](https://f.cloud.github.com/assets/108094/2347655/06f476d2-a54f-11e3-8662-d83a868dabe0.png)

but in the UI, tabs show up without suffixes:
![screen shot 2014-03-06 at 11 48 01 am](https://f.cloud.github.com/assets/108094/2347663/16c46734-a54f-11e3-9ee0-f33b85e997cf.png)

We should either:
1. Always hide .mss

[2014-03-06 17:28] ajashton opened #169 "edit code and inspect layers at the same time"
It would be more useful if you could edit CartoCSS code while the layers list is open.

[2014-03-06 17:30] samanpwbb commented on #169
Will play around with this: thinking less map will feel fine here.

[2014-03-06 17:31] edenh commented on #168
If the only tabs are .mss tabs, we should drop the .mss from the new tab overlay.

[2014-03-06 17:33] edenh commented on #143
I like the idea of a hierarchy of button styles, but binding them specific actions/meanings can be limiting sometimes.

[2014-03-06 17:44] skorasaurus opened #170 "Support for GPX as a Layer Source"
Just curious if you're planning to support GPX files as a layer source, didn't see it listed a possible source option.

(obviously, could just convert it into another format as a workaround)

[2014-03-06 17:48] samanpwbb commented on #168
:+1:

[2014-03-06 18:01] ajashton commented on #60
getting attention here https://github.com/mapbox/tm2/issues/166

[2014-03-06 18:01] #60 closed, assigned to nobody

[2014-03-06 18:03] springmeyer opened #171 "Source Layer UI specific to OGR+GDAL datasources"
There are a variety of geodata formats which can contain more than one layer, like GPX (tracks, waypoints, routes), or ESRI FileGDB (can contain arbitrary layers of raster or vector).

In TileMill 1 we never respected this complexity and the user experience suffered.

Here is a sketch of how this could be done better:
1. Create a list of known file extensions that may contain multiple layers, eg:

[2014-03-06 18:04] springmeyer commented on #170
Yes, all OGR datasources we support in TileMill 1 will eventually be supported. But we want to do this right. I've created #171 to track actually adding support for OGR datasource like GPX that contain one or more layers inside.

[2014-03-06 18:04] #170 closed, assigned to nobody

[2014-03-06 18:05] skorasaurus commented on #170
No problem; thanks for the prompt and informative response! :)

[2014-03-06 18:06] samanpwbb commented on #143
@edenh agreed - something to keep in mind. One thing I like about the tm2 UI is that it is very quiet and feels technical - it harkens to other tools made for extended use, like Photoshop or Sublime Text. I think we want to maintain that vibe. (I broke this rule hard with my fill blues, I know). The easy way to add emphasis to buttons is to add color, but we should try to resist this.

[2014-03-06 18:07] samanpwbb opened #172 "cleanup 'base candidates' CSS"
Cleanup and move over good styles to base. Eliminate the attempts at generalization that didn't catch on.

[2014-03-06 18:13] edenh commented on #143
Cool, I'll get that fill-blue out of the close docs button. As someone who is relatively new to this interface, I was mostly reacting to interactions that felt fuzzy.

[2014-03-06 18:23] edenh commented on #143
https://github.com/mapbox/tm2/commit/f4e2c2450e062fe6a1c7a44a74cb20a00afa8a84

[2014-03-06 18:23] #143 closed, assigned to nobody

[2014-03-06 18:48] edenh commented on #168
https://github.com/mapbox/tm2/commit/bbf7782a87eaf51eef5ef52836195893f3d7a4c0

[2014-03-06 18:48] #168 closed, assigned to nobody

[2014-03-06 19:09] samanpwbb commented on #166
fixed in mbbase

[2014-03-06 19:09] #166 closed, assigned to nobody

[2014-03-06 19:10] samanpwbb commented on #60
I think you meant #165 :P

[2014-03-06 19:12] samanpwbb commented on #167
Closing, there might be good reasons to let the tab bar overflow (cc @edenh ), and then we'll want the button to the positioned outside of flow.

[2014-03-06 19:12] #167 closed, assigned to nobody

[2014-03-06 19:14] samanpwbb commented on #172
taking this now.

[2014-03-06 21:04] samanpwbb commented on #172
Done.

[2014-03-06 21:04] #172 closed, assigned to samanpwbb

[2014-03-06 21:34] samanpwbb opened #173 "reset selected source editor tabs when dismissing editor"
Right now, if user tabs to 'fields' tab in one layer, exits, then opens a new layer, 'fields' tab will still be active. We should always default back to conf tab.

[2014-03-06 21:56] ajashton commented on #173
I think this is similar to / the same as https://github.com/mapbox/tm2/issues/100 ?

[2014-03-06 21:58] samanpwbb commented on #173
Ya, closing in favor of #100

[2014-03-06 21:58] #173 closed, assigned to nobody

[2014-03-06 22:34] ian29 commented on #162
i can replicate, fwiw

[2014-03-06 22:39] ajashton opened #174 "Challenge: make layer type dropdown look good cross-platform"
There is probably only sadness down this road.

Ubuntu + Firefox, too tall:

![](http://i.imgur.com/VE7b2PO.png)

Ubuntu + Chrome, too short:

![](http://i.imgur.com/wWcs4Tv.png)

[2014-03-06 22:50] samanpwbb commented on #174
It's pretty easy to set height on these guys - i think we can get close without too much effort.

Edit, heh, we can do this but then you get the old school dropdown:
![screen shot 2014-03-06 at 5 59 38 pm](https://f.cloud.github.com/assets/108094/2351956/13394092-a583-11e3-9ea7-bed4ca31d796.png)

[2014-03-06 22:55] springmeyer commented on #69
https://github.com/mapbox/tilelive-vector/issues/41 should be fixed but does not appear to be the cause of this problem.

[2014-03-07 00:00] kapouer commented on #174
My humble experience led me to believe the "select dropdown" was not a good UI element to use. Almost every time it is present somewhere, another way of presenting the choices can be used that doesn't suffer from this impossibility to style it cross-browser. Get rid of it !

[2014-03-07 00:08] tmcw commented on #174
@kapouer we're open to concrete suggestions - what other kind of UI element might work here?

[2014-03-07 00:22] kapouer commented on #174
Well, the simplest idea is to replace the `<select>` by a `<ul>` list. Of course it's not a drop-in replacement.

[2014-03-07 01:04] samanpwbb commented on #174
I would be game for working no replacements for the `<select>` elements. As long as it's scalable and easy to maintain.

[2014-03-07 17:14] rclark commented on #146
Tested this approach out and it appears to be working great. My goal is to make it possible for a user to collect named "stat sets". User experience would eventually include changes to this piece of the interface:

![screen shot 2014-03-07 at 10 11 25 am](https://f.cloud.github.com/assets/515424/2359753/b410c72c-a61b-11e3-8951-7b15e2dfbcf8.png)

User might be click a button, assign a name for a st

[2014-03-07 17:16] yhahn commented on #146
Rock. Is the cookie-as-parallel-to-tile-transport mechanism scaling ok for you so far?

[2014-03-07 17:18] rclark commented on #146
Not sure yet about scaling. I'm about to try, but in the event it doesn't scale, we might be able to reduce the cookie just a storing stat-set-names and then writing an API call the client can use to get stat values.

[2014-03-07 19:41] samanpwbb opened #176 "don't require refresh after clicking inspect checkbox"
@yhahn is there a reason why refreshing map is required after clicking inspect checkbox on source layer list?
![screen shot 2014-03-07 at 2 40 58 pm](https://f.cloud.github.com/assets/108094/2361367/6d4cfda0-a630-11e3-9151-14ab4f81c55c.png)

Can we just auto-refresh page when user clicks this?

[2014-03-07 20:04] yhahn commented on #176
y, to get the inspection change we also have to do a save/update of the source.

If you have other changes going on forcing the save on this interaction could save changes the user was not expecting.

I think this could be reworked but will require some pretty significant changes deeper down.

[2014-03-07 20:08] samanpwbb commented on #176
Right now it's a usability issue. To work with this and not against it: after user has clicked the mag. glass, we show a popup like, "save map to inspect [x] layer".

[2014-03-07 20:10] yhahn commented on #176
y something like this would be fine for now.

[2014-03-07 21:15] samanpwbb commented on #176
Here's a try: https://github.com/mapbox/tm2/pull/177

[2014-03-07 21:34] #100 closed, assigned to samanpwbb

[2014-03-07 22:13] samanpwbb opened #178 "Improve add remote source panel"
We should do this now:

![screen_shot_2014-03-07_at_4_44_17_pm](https://f.cloud.github.com/assets/108094/2362971/9303624a-a645-11e3-8a8b-1fd7c2ca51d6.png)

With expectations to evolve it once mapbox account authorization is unlocked.

[2014-03-07 22:57] #118 closed, assigned to nobody

[2014-03-07 23:06] #165 closed, assigned to nobody

[2014-03-08 00:49] edenh opened #179 "retina icon color"
![screen shot 2014-03-07 at 4 45 30 pm](https://f.cloud.github.com/assets/1577766/2363971/841512e0-a65b-11e3-8db4-96da19294f1e.png)

@samanpwbb I'm seeing white icons for <code>a.icon:not(.button)</code> on retina. Probably due to https://github.com/mapbox/tm2/blob/master/ext/base/base.css#L2258 ?

[2014-03-08 02:11] edenh commented on #130
https://github.com/mapbox/tm2/commit/126f36d245f315846b3a782467d2ecda2bc326af

<code>Cmd/Ctrl+[1-9]</code> Go to tab 1 - 9
<code>Cmd/Ctrl+H</code> Open docs
<code>Cmd/Ctrl+L</code> Open layers
<code>Cmd/Ctrl+I</code> Open settings

Let's wait until the cm upgrade for this one.

[2014-03-08 04:51] samanpwbb commented on #179
Fixed in https://github.com/mapbox/tm2/commit/b3e449efd24d0bdbd9b067f304e5e6da5d5612e8

[2014-03-08 04:51] #179 closed, assigned to nobody

[2014-03-08 04:57] #169 closed, assigned to nobody

[2014-03-08 05:30] samanpwbb commented on #176
Done-ish.

[2014-03-08 05:30] #176 closed, assigned to nobody

[2014-03-09 01:58] samanpwbb commented on #130
:pray:

[2014-03-09 02:21] samanpwbb opened #181 "Add documentation to source mode"
Format should mirror style mode.

[2014-03-09 02:38] samanpwbb opened #182 "document keybindings"

[2014-03-10 01:43] ian29 commented on #130
hrm, cmd+L selects the address bar in at least Chrome and Safari - which i (and maybe others?) use frequently.

[2014-03-10 01:54] tristen commented on #130
Yeah ...  I use cmd+L a lot myself. I would be pretty hesitant overriding Cmd+I or Cmd[1-9] as well if tm2 remains a browser rendered application.

[2014-03-10 16:03] yhahn opened #183 "Server tests"
Currently there are tests written for API libs but not for the tm2 server itself.

[2014-03-10 16:04] yhahn commented on #149
- [ ] style out `oauth/mapbox` page
- [ ] include username (... avatar eventually?) persistently in UI?
- [ ] add early express middleware that 1. checks that oauth creds are available and 2. makes a testing API request with them to make sure they work
- [ ] middleware redirects to `oauth/mapbox` if oauth creds fail
- [ ] tests

cc @samanpwbb @edenh

[2014-03-10 16:08] samanpwbb commented on #130
Just switched to `cmd+,` for left layer palette.

Not seeing an obvious better alternative to `cmd+#` for tabs - I think it's okay to be aggressive about this. Adding a second modifier key or using a weird modifier adds complexity to keybindings, making them hard to remember. It would be nice to avoid this. TM2 should be treated like an app, whether it runs in the browser or not, and we shouldn't

[2014-03-10 16:52] tristen opened #184 "UI tests"
Tests for UI interaction need to be built out to ensure we don't break interactions moving forward.

Looks like mocha is already in place for API side tests my plan would be to use mocha for this as well.

[2014-03-10 16:57] yhahn commented on #184
@tristen let me know if you want to sync up here -- curious to see what you're thinking.

[2014-03-10 17:00] ajashton commented on #130
Discussion from chat re: overriding Cmd-[1-9]

[code]

[2014-03-10 17:03] incanus commented on #130
Using `ctrl`, period, on OS X is kind of foreign. It pushes TileMill that much further out of feeling like native app territory...

Overriding `Cmd-S` seems ok, though, as that's your typical "save this page", which isn't going to apply in TileMill.

[2014-03-10 19:50] yhahn commented on #184
- [x] **Add a template var `test` to the style template.** The vars to this template are passed in here (https://github.com/mapbox/tm2/blob/master/index.js#L148-L155). If you add a value like `test: 'test' in req.query,` then in the template you'll be able to only include test scripts if `test` is in the querystring.
- [x] **Include chai, mocha, and a test lib for the style page in the template.**

[2014-03-10 19:55] samanpwbb commented on #130
I just spent some time digging around in here, with https://github.com/mapbox/tm2/commit/8efe91bba1274ef08837b021bb990ecefbec0af6. This is what I did:
- Command or control + option + # for tabs
- Everything else still using command or control as modifier key
- Hold down shift to override TileMill's keybindings and use system keybindings

[2014-03-10 20:53] samanpwbb commented on #174
Attempt at https://github.com/mapbox/tm2/pull/185

[2014-03-10 21:23] samanpwbb opened #186 "data sources not showing up in browser"
filtering is broken, looking into this now.

[2014-03-10 22:18] #186 closed, assigned to samanpwbb

[2014-03-10 22:24] samanpwbb opened #187 "source delete button doesn't work"

[2014-03-10 22:24] samanpwbb opened #188 "source rename doesn't display unless page refresh"

[2014-03-10 22:27] samanpwbb opened #189 "automatically include .tm2 in save as filename"
Auto-suffix `.tm2` to save as text input.

I often forget to add this, get the little warning, and then need to think for a second to remember what the suffix is because the hint is gone at that point.

[2014-03-10 22:37] #188 closed, assigned to nobody

[2014-03-10 22:40] ajashton opened #190 "Firefox: long source names become elipses"
![](http://i.imgur.com/QB1dq5n.png)

[2014-03-10 22:42] #187 closed, assigned to nobody

[2014-03-10 23:05] #190 closed, assigned to samanpwbb

[2014-03-10 23:19] samanpwbb commented on #174
Merged #185

[2014-03-10 23:19] #174 closed, assigned to samanpwbb

[2014-03-10 23:35] samanpwbb commented on #182
fixed with 8efe91bba1274ef08837b021bb990ecefbec0af6

[2014-03-10 23:35] #182 closed, assigned to nobody

[2014-03-11 00:24] rclark commented on #146
@yhahn I'm actually not seeing cookies getting truncated, so I think we're still alright.

@ian29 there are some adjustments in the `more-stats` branch I'd be interested in your feedback on. Specifically, if you browse around your map and then check out `http://localhost:3000/style/statistics.json?id=your-style-id` you ought to get a JSON object that you could reduce in order to create tables like

[2014-03-11 15:12] samanpwbb commented on #158
@ajashton / @yhahn have either of you thought about how/if this should work for local sources? Right now TileMill is in an in-between place where you half expect it to manage files in a self-contained and half expect to need to work with your the file system separately. My thinking is that local files should just be managed by the user, independently of the TileMill UI.

[2014-03-11 15:15] samanpwbb commented on #158
This also leads me to ponder about deleting / removing styles. If we leave local sources along, these should be left alone as well.

Edit: then again, an 'x' button on sources to not delete the files, but remove the references, actually does make sense. I will hold off on anything here until I hear some second opinions.

[2014-03-11 15:18] yhahn commented on #158
Let's do this. Don't delete any files, just TM2s awareness of the obj in your history.

[2014-03-11 15:26] ajashton commented on #158
:+1:

[2014-03-11 15:59] samanpwbb opened #191 "Search usability improvements"
- [x] cmd+f when search is already open should not open browser search.
- [x] Allow user to create a new search based on old search. Right now if a search is in, no way to reset it and start a new search.
- [x] cmd+g only works after search has been started. Cannot start a search with cmd+g.
- [ ] inform user of number of search results or if search result failed.
- [x] Clarify that user must pres

[2014-03-11 18:01] tristen opened #192 "Light cleanup of new tab creation"
Now that we don't require a user from entering `.mss` we should make sure a file extension isn't added to the filename on tab creation.

![tab-creation](https://f.cloud.github.com/assets/61150/2388929/3a09f88e-a947-11e3-8de4-88dcdf31e4c1.gif)

[2014-03-11 18:12] samanpwbb commented on #192
Here's what I'd like to see:
1. Automatically append '.mss' to the end of the filename, like this:
   ![screen shot 2014-03-11 at 2 05 43 pm](https://f.cloud.github.com/assets/108094/2388973/d279b1d6-a947-11e3-9105-477aa161a129.png)
2. Show '.mss' on the tabs. Users should know what kind of file they are writing to. TM2 should correctly educate users about the makeup of a TM2 project in the file s

[2014-03-11 23:43] samanpwbb commented on #158
Have this started with 87e91841eafc064838d9859c998de3a7f5df0f5d, needs:
- [x] Add to source side
- [ ] Fix error reporting, inform user that delete doesn't work on active project (ideally, hide/disable del action altogether on active project)

[2014-03-12 17:22] samanpwbb commented on #158
Covered with https://github.com/mapbox/tm2/pull/196

[2014-03-12 17:35] tristen commented on #184
https://github.com/mapbox/tm2/pull/194

[2014-03-12 17:35] #184 closed, assigned to tristen

[2014-03-12 17:39] samanpwbb opened #197 "Clarify Title bar"
This needs another design pass - it should feel more like a heading:
![screen shot 2014-03-12 at 1 34 23 pm](https://f.cloud.github.com/assets/108094/2400659/0b7041f6-aa0d-11e3-9268-fc6aaf53b249.png)

[2014-03-12 17:39] ian29 opened #198 "new layout broken at >1580px"
started after https://github.com/mapbox/tm2/pull/195

![image](https://f.cloud.github.com/assets/1056106/2400710/9512d2d4-aa0d-11e3-9e5c-6bce1dd35eeb.png)

@edenh @samanpwbb

[2014-03-12 17:41] samanpwbb opened #199 "source thumbnails are broken"
These never show up for me, always get:
![screen shot 2014-03-12 at 1 41 17 pm](https://f.cloud.github.com/assets/108094/2400705/8aebf1fa-aa0d-11e3-9422-f0f5e9506251.png)

[2014-03-12 18:48] tristen opened #200 "`Cmd option i` triggering layers"
This triggers the developer console in the browser and we should leave it alone.

[2014-03-12 18:58] #197 closed, assigned to edenh

[2014-03-12 19:11] aaronlidman opened #201 "Clarify forms"
![screen shot 2014-03-12 at 3 07 20 pm](https://f.cloud.github.com/assets/58878/2401768/caf78744-aa19-11e3-8f81-0a47dd43fd65.png)

What requested format?

Only figured it out through trial and error. The html indicates a `\w+` pattern, which should be explained in the interface somewhere.

[2014-03-12 20:08] samanpwbb opened #202 "text label for save button"
@edenh you sure you want to remove the text label from the save button? I think this is important - open to hearing your thoughts.

[2014-03-12 20:35] samanpwbb commented on #201
Yeah, we need helper text for this throughout the UI

[2014-03-12 21:04] tristen opened #203 "window.location blocks tests"
When you save a project `window.location` is called to point to the project in the file system path. This breaks the ability to clientside test saving a project which further prevents other interactions from being tested on.

One idea to circumvent would be to use pushstate? or already have a saved project to load from?

cc @yhahn

[2014-03-12 21:30] samanpwbb commented on #189
closing, lets add help text instead see #201

[2014-03-12 21:30] #189 closed, assigned to nobody

[2014-03-12 21:45] #202 closed, assigned to edenh

[2014-03-12 21:46] edenh commented on #202
Not a good reason for this besides attempting to give settings more presence.

[2014-03-12 22:04] edenh commented on #198
@ian29 I can't reproduce. Is this still an issue after https://github.com/mapbox/tm2/commit/8e0f2e7dbd88702929ebc644e9a7f735618552d4 ?

[2014-03-12 22:23] tristen opened #204 "node environment for frontend tests in travis"
With the [oauth branch](https://github.com/mapbox/tm2/tree/oauth) coming down the pipeline a user will be required to authenticate with user credential. This breaks clientside tests running in .travis that expect no authentication. One idea would be to set up a node environment that leaves out oauth middleware.

[2014-03-12 23:09] #200 closed, assigned to nobody

[2014-03-13 14:41] samanpwbb commented on #151
I'm going to experiment with alternative approaches to docs today.

[2014-03-13 16:16] nickidlugash commented on #119
@samanpwbb want to chat about how you see this functionality working? One thing I really want is a color palette UI (like the swatch window in Illustrator and Photoshop), but I'm not sure if this needs to be a unique UI, or if it's really just a combo of this functionality + having visible color swatches (https://github.com/mapbox/tm2/issues/125).

[2014-03-13 17:26] connor commented on #198
@edenh works fine for me now (at 2421px wide).

![](http://cl.ly/image/1p2e3z461L2j/Screen%20Shot%202014-03-13%20at%2010.25.42.png)

[2014-03-13 17:27] edenh commented on #198
Thanks @connor

[2014-03-13 17:27] #198 closed, assigned to nobody

[2014-03-13 18:19] samanpwbb opened #206 "Rework large screen approach"
UI panels should have a max width so on larger screens, they hit their maximum and then stay fixed. This ensures large screen users have big maps + simplifies the media query code.

With all UI components now pinned to the left, this will be easier to do than it was before.

[2014-03-13 18:29] samanpwbb commented on #151
plan:
![screen shot 2014-03-13 at 2 28 54 pm](https://f.cloud.github.com/assets/108094/2413344/5da37864-aadd-11e3-9b8b-3caa96c3840b.png)

[2014-03-13 18:31] edenh commented on #151
:+1: looks good

[2014-03-13 18:44] samanpwbb opened #207 "Rework projects view"
We could clarify the meaning of the left and right panels of the projects view by reworking the layout a bit.

Here's a first sketch:
![screen shot 2014-03-13 at 2 44 26 pm](https://f.cloud.github.com/assets/108094/2413568/8bc19760-aadf-11e3-917f-5f2915c5d7ba.png)

This also makes #206 easier to solve for projects panel.

[2014-03-13 18:58] samanpwbb commented on #140
Fixed this.

[2014-03-13 18:58] #140 closed, assigned to nobody

[2014-03-13 19:50] tristen commented on #207
Oh I like how this separates the headspace a **projects settings** vs **other projects + sources** in the 2nd wire.

[2014-03-14 03:29] #128 closed, assigned to nobody

[2014-03-14 15:43] samanpwbb commented on #151
Done with #208

[2014-03-14 15:43] #151 closed, assigned to samanpwbb

[2014-03-14 15:57] ajashton opened #210 "Adjust keyboard shortcut docs per platform"
I'm pretty sure most TM1 users are on Windows. These keys do not apply to them, or Linux hippies like me:

![](http://i.imgur.com/XZZYYfg.png)

[2014-03-14 16:01] samanpwbb opened #211 "cmd+d conflict"
cmd+d is delete line in codemirror
it's open data panel in tm2

[2014-03-14 16:31] incanus commented on #211
The cmd-d shortcut traditionally on OS X means either "go to desktop" (in file picker panels) or "throw away unsaved changes" in unsaved changes prompts.

[2014-03-14 16:35] samanpwbb commented on #211
cmd-d is also 'add-bookmark' in chrome. Not a good keybinding to use.

[2014-03-14 16:36] incanus commented on #211
Same in Safari, actually -- forgot since I never use it.

[2014-03-14 17:27] kkaefer commented on #211
Other shortcuts conflict too, e.g. Cmd+H, Cmd+Alt+I

[2014-03-14 18:06] tristen commented on #210
Done in https://github.com/mapbox/tm2/commit/b69b4fdfa107891831157faa7a451fd5c042b3b8

[2014-03-14 18:06] #210 closed, assigned to nobody

[2014-03-14 18:11] edenh commented on #204
https://github.com/mapbox/tm2/pull/193

[2014-03-14 19:17] nickidlugash opened #214 "Vector tile load error"
Got this error twice today:

[code]

[2014-03-14 19:18] #149 closed, assigned to yhahn

[2014-03-14 19:18] #204 closed, assigned to nobody

[2014-03-14 19:25] nickidlugash commented on #214
Gist with application crash file: https://gist.githubusercontent.com/nickidlugash/3d2a7686a7d20ff61cd1/raw/946a6bd1671a35c046ef2f29134a9a07cf989ba8/tm2-crash-2.md

[2014-03-14 19:39] nickidlugash commented on #214
Last commit for the version I source installed:

commit 7d1d405b8ce61f848af3aa518eeaaedb19e82083
Author: samanpwbb samanpwbb@gmail.com
Date:   Mon Mar 10 12:05:42 2014 -0400

[code]

[2014-03-14 19:49] samanpwbb opened #216 "layers listing broken"
![screen shot 2014-03-14 at 3 49 29 pm](https://f.cloud.github.com/assets/108094/2425210/c99f4b5e-abb1-11e3-9bbe-20128f2e2646.png)

[2014-03-14 20:08] samanpwbb commented on #207
Covered in https://github.com/mapbox/tm2/pull/218

[2014-03-14 20:08] #207 closed, assigned to nobody

[2014-03-14 20:40] samanpwbb commented on #216
Closed with https://github.com/mapbox/tm2/pull/218

[2014-03-14 20:40] #216 closed, assigned to nobody

[2014-03-14 20:40] samanpwbb commented on #206
Ready to take this on after finishing #207

[2014-03-14 20:55] ian29 opened #219 "make fields selectable in layer view"
would be great if you could copy+paste fields from the layer fiew into your CartoCSS

![image](https://f.cloud.github.com/assets/1056106/2425786/ded666ac-abba-11e3-9a59-f807a94bb045.png)

[2014-03-14 21:14] edenh opened #220 "Use geocoding API"
For users with access, add geocoding.

[2014-03-14 21:18] samanpwbb commented on #219
Oops, fixed with https://github.com/mapbox/tm2/commit/1a5a984c7e7d2822163b2e37fc5237df667eb785

[2014-03-14 21:18] #219 closed, assigned to nobody

[2014-03-14 21:20] springmeyer commented on #220
:+1: Will be really nice in combination with #134

[2014-03-14 21:56] samanpwbb commented on #125
Started in - https://github.com/mapbox/tm2/pull/217

I would love to see:
- Swatches after variables if variables are colors.
- Swatches for output of color functions

[2014-03-14 22:09] yhahn commented on #125
I'm going to discourage pursuing variable handling here for now.

The right approach to this would be to use carto to parse and materialize the colors from the stylesheets but this would require more or less constant carto compilation of the style and it's just not what carto is designed for atm.

We attempted cheap/hackish solutions in TM1 without going through the real parser and I would say tho

[2014-03-14 22:10] samanpwbb opened #221 "unexpected autocomplete behavior"
when i press "return" or "enter" on autocomplete, the autocomplete goes through, but I also end up making an unwanted `cm-tab` space.

[2014-03-14 23:32] samanpwbb opened #222 "less disruptive action on user icon click"
This is big and blocking:
![screen shot 2014-03-14 at 7 32 04 pm](https://f.cloud.github.com/assets/108094/2426966/e4908e2c-abd0-11e3-9c5e-5b5eff0db828.png)

And the user icon kind of begs to be clicked.

[2014-03-14 23:34] samanpwbb opened #223 "scroll bar flicker when opening docs or layers"
code panel scroll bars flicker during docs/layers in and out animations

[2014-03-14 23:42] samanpwbb commented on #206
Done with https://github.com/mapbox/tm2/commit/89fcfcb2355c4c27a5b3a7780cbfe7426c017d28

[2014-03-14 23:42] #206 closed, assigned to samanpwbb

[2014-03-15 07:02] samanpwbb commented on #222
Eh, it's not so bad. I like seeing my name.

[2014-03-15 07:02] #222 closed, assigned to nobody

[2014-03-15 07:04] samanpwbb commented on #136
Now that docs and map are both visible at the same time, inline images not important. This would be hard to make work well anyway.

[2014-03-15 07:04] #136 closed, assigned to nobody

[2014-03-15 07:08] #23 closed, assigned to nobody

[2014-03-16 04:05] samanpwbb commented on #192
Will be wrapped in to #201

[2014-03-16 04:05] #192 closed, assigned to nobody

[2014-03-17 16:53] #134 closed, assigned to nobody

[2014-03-17 18:03] tristen opened #225 "Disappearing remote link"
![remote-link](https://f.cloud.github.com/assets/61150/2439598/79599fec-adfe-11e3-91f4-bd180e52d75d.gif)

This may be intentional. cc/ @yhahn

[2014-03-17 19:00] #223 closed, assigned to nobody

[2014-03-17 19:23] samanpwbb opened #226 "AddLayer form broken in master"

[2014-03-17 19:28] springmeyer commented on #226
/cc @hrwgc - this is what you hit, try importing sqlite again once @samanpwbb has been able to fix.

[2014-03-17 19:29] hrwgc commented on #226
w00t. thanks @springmeyer + @samanpwbb

[2014-03-17 19:48] samanpwbb commented on #226
Introduced in https://github.com/mapbox/tm2/commit/6c5102f135b43f93202f8aac818baee6c3739279

[2014-03-17 20:04] #137 closed, assigned to nobody

[2014-03-17 20:43] springmeyer commented on #214
@nickidlugash - Curious: have you seen this again yet?

[2014-03-17 21:04] #226 closed, assigned to tristen

[2014-03-17 21:10] nickidlugash commented on #214
@springmeyer no, have not seen it again.

As of this morning, this is the last commit for the version I'm using:

commit 4ad9fcdff0537f6adf1aabc307bef21c3628512f
Merge: a62b115 e08df12
Author: tristen tristen@tristen.ca
Date:   Mon Mar 17 11:10:32 2014 -0400

[code]

[2014-03-17 23:14] samanpwbb commented on #201
Done in #227

[2014-03-17 23:14] #201 closed, assigned to samanpwbb

[2014-03-17 23:40] samanpwbb commented on #178
Re-opening, this would be an easy way to help users understand this part of TileMill.

[2014-03-18 14:55] tristen opened #228 "localStorage bookmarks per project"
@edenh any objection to this?

[2014-03-18 14:57] samanpwbb commented on #228
This would be ideal, if it's not too tricky to implement. Different projects call for attention to be payed to different places.

[2014-03-18 15:27] samanpwbb commented on #130
Notes from #211:
Conflicts that need to be addressed:
- cmd+d for data drawer
- Cmd+H
- Cmd+Alt+I

[2014-03-18 15:27] #211 closed, assigned to nobody

[2014-03-18 16:11] #228 closed, assigned to nobody

[2014-03-18 16:19] bsudekum opened #230 "Native file browser"
Is there a technical reason why we are not using a native file picker/browser for adding sources? It seems a little overkill to reinvent the wheel and create our own.

Plus, there are advantages to using the systems file browser for adding sources:
- Recent places
- Tagged folders
- Familiar

  cc @tristen @samanpwbb

[2014-03-18 16:23] kkaefer commented on #230
See https://github.com/mapbox/tm2/pull/227#issuecomment-37940499.

We discussed this in chat. The reason is that the native browser does not divulge the absolute file system path, but returns something like `C:\fakepath\file.ext`. However, we need to send the path from the client to the server because it needs to read/write from there.

[2014-03-18 16:26] #230 closed, assigned to nobody

[2014-03-18 16:36] incanus commented on #230
Background as well: https://github.com/mapbox/tilemill/issues/907

We could do this on certain platforms if it's not a lot of code. The TM1 picker always gets me when it comes to not remembering my place, not having access to keyboard shortcuts like `Cmd-D`, not having quick access to the data folder I've bookmarked in the sidebar, etc.

[2014-03-19 17:45] nickidlugash opened #231 "When toggling back to default map/code view, change "x" icon to "minimize" icon?"
To me, the "x" icon doesn't make sense:
![screen shot 2014-03-19 at 1 12 51 pm](https://f.cloud.github.com/assets/5607844/2463547/13be6182-af8d-11e3-9c61-5b1b4356fe06.png)
![screen shot 2014-03-19 at 1 12 42 pm](https://f.cloud.github.com/assets/5607844/2463469/637045ca-af8c-11e3-8ab9-5649a274e092.png)

I think it would make more sense for it to be a "minamize" icon that matches the "fullscreen" i

[2014-03-19 17:51] edenh commented on #231
I suggest we go with the <code>brackets</code> icon to be explicit about where the button leads.

![screen shot 2014-03-19 at 10 49 30 am](https://f.cloud.github.com/assets/1577766/2463727/dd6cf10a-af8e-11e3-8a19-2c1c77f418c0.png)

[2014-03-19 22:24] samanpwbb opened #232 "Bookmarks duplicated on every save"
![screen shot 2014-03-19 at 6 24 08 pm](https://f.cloud.github.com/assets/108094/2466813/3634600e-afb5-11e3-82aa-b30ae883a6ba.png)

[2014-03-19 22:43] edenh commented on #232
@samanpwbb I'm having trouble reproducing this. Could you try clearing <code>tm2.bookmarks</code> from local storage?

[2014-03-20 21:28] #232 closed, assigned to edenh

[2014-03-21 18:31] tristen commented on #129
https://github.com/mapbox/tm2/pull/233

[2014-03-21 18:31] #129 closed, assigned to nobody

[2014-03-21 23:09] nickidlugash opened #234 "Expose zoom level ranges for different classes, types, etc of each data layer in the data sidebar?"
Some subsets of data layers are available at different zoom levels. Right now we only display a blanket range of available zoom levels for each layer:
![screen shot 2014-03-21 at 7 02 03 pm](https://f.cloud.github.com/assets/5607844/2488855/db389da2-b14c-11e3-93b0-1a10e3105cff.png)

Is there any way to add more specificity here? E.g. what zoom levels are available for the street_limited class of r

[2014-03-23 17:40] ajashton commented on #191
Also: the first two lines are hidden by the search UI. Possibly minor, but if you're treating search as a "don't make me think" mode, you could easily miss something you're searching for.

What about: same search is applied to new tab automatically? Given that the same variables, filters, etc can be used across stylesheets, searching across an entire project might be a common task.

[2014-03-23 18:29] ajashton commented on #234
There isn't a good way to automatically determine this, and we wouldn't want to anyway since this is only useful to know for a few specific fields. Adding it manually would be possible, but the UI isn't really conducive to this.

Perhaps a separate place to capture more detailed documentation like this would be useful. Like a readme, but stored in the source so you can access it while styling. (Th

[2014-03-23 19:58] skorasaurus commented on #234
+1 to that. I was curious, for example, if I could differentiate by type of sport used.

[2014-03-24 13:08] tristen opened #235 "Rename directory prompt"
Downloading a package uses the first name you gave a project when you saved it with a title. Maybe there should be some sort of **"Rename the directory for this project?"** prompt when you change the title of a project a click save.

[2014-03-24 13:20] tristen opened #236 "Save a project even if there are errors on the page."
I lost a few minutes worth of work designing a map when I:
1. Dropped a variable value declared in a **stylesheet-one.mss** used in **stylesheet-two.mss**
2. Continued working in **stylesheet-one.mss**, clicked save and restarted tm2.

There are a couple ways I can think of to combat this:
1. Only allow variable values to be used in the stylesheet it's in. or [expose them](https://github.com/mapbo

[2014-03-24 13:20] tristen opened #237 "window.onbeforeunload unsaved changes"

[2014-03-24 22:01] mojodna opened #238 "Source viewer isn't working"
http://localhost:3000/source?id=mapbox:///mapbox.mapbox-streets-v4 should display source data as a slippy map.  Since updating today, it has stopped requesting tiles.  (Not sure when this regressed, as I haven't used the source viewer/editor since the most recent spike started).

[2014-03-24 22:07] samanpwbb commented on #238
Hm, this should work in latest master. What errors are you seeing? Did you rebuild your node_modules after updating?

[2014-03-24 22:11] mojodna commented on #238
No errors.  Rebuilt `node_modules/` against Node-0.10.26.

![screen shot 2014-03-24 at 3 10 57 pm](https://f.cloud.github.com/assets/45/2506028/37707cc4-b3a1-11e3-8dc1-a53011c3113f.png)

[2014-03-24 22:20] mojodna commented on #238
Err, scratch that.  Switching to proper `master` mostly works.  Probably something unstashed sticking around.

[2014-03-24 22:20] #238 closed, assigned to nobody

[2014-03-25 14:44] samanpwbb opened #239 "update project name in listing when name changes"

[2014-03-25 18:31] samanpwbb opened #240 "fix positioning of error notice"
![screen shot 2014-03-25 at 10 58 06 am](https://f.cloud.github.com/assets/108094/2516220/b7501bb6-b44b-11e3-961e-99727d87ae83.png)

Guessing this broken when upgrading codemirror

[2014-03-25 23:46] edenh opened #243 "List remote source layer properties"
It would be nice to reference layer properties while in source view without having to click on an actual feature. Currently, only local source layers have a toggled pane for fields and their descriptions:

![screen shot 2014-03-25 at 4 28 50 pm](https://f.cloud.github.com/assets/1577766/2519641/6b4eaa22-b476-11e3-8861-80d964e3c149.png)

We should:
- [x] Clarify this pane with better formatting (po

[2014-03-25 23:51] edenh commented on #240
@samanpwbb where was this error notice positioned before the upgrade?

[2014-03-25 23:56] samanpwbb commented on #240
The yellow highlight covered the line number

[2014-03-25 23:59] aaronlidman commented on #240
Previously:
![screen shot 2014-03-25 at 7 58 18 pm](https://f.cloud.github.com/assets/58878/2519784/63cd21ae-b479-11e3-8a68-c313b8815680.png)

I'm working on this.

[2014-03-26 02:02] #240 closed, assigned to aaronlidman

[2014-03-26 02:12] aaronlidman commented on #239
Looove how github saves my previous embarrassing attempt. "Live in public", github is telling me, and hesitantly I ponder it's wise whispers.

[2014-03-26 02:12] #239 closed, assigned to nobody

[2014-03-26 11:12] nilshoerrmann opened #244 "Closing and deleting"
I really like the direction TM2 is heading to but if you are new to the UI, there are a few confusing aspects:

![tm2](https://f.cloud.github.com/assets/25466/2523788/49e8626e-b4d6-11e3-9c2b-b8580145e734.png)
1. What is the `x` button for? Even if you understand that the close button overlays the icon of the current area, you loose context.
2. The style deletion UI makes the action ifself very pro

[2014-03-26 13:45] aaronlidman commented on #244
Yeah I agree, all good points.

Saman is working on replacing the `x` here: https://github.com/mapbox/tm2/pull/212 but maybe we should have an `x` for the style tabs instead of the trash can, to look like most web browsers?

[2014-03-26 15:28] samanpwbb commented on #244
Thanks for the feedback. All good points.

Here are my thoughts:

I've been back and forth on `trash` vs `x` icon meanings in TM2. Right now, `x` is _always_ for exiting state, never for manipulating projects or data. On the other hand, trashcans are _always_ for making a change that is saved permanently in the project. Note that under no circumstances does TM2 _actually_ delete files from a user'

[2014-03-26 18:57] samanpwbb opened #245 "Make setting/understanding projection easier in source editor"
Right now, loading up a shapefile that is in WGS84 defaults to 900913 and the data looks broken. Unless you already know about projections and formats, there's no way to know that you need to switch it over.

Can we clarify the situation by asking user for projection off the bat /  adding help text to projection dropdown / autodetecting format / ???

[2014-03-26 18:57] samanpwbb commented on #155
At the very least lets add a notice to the source UI after saving that says something like, "your data may take up to a few minutes to render".

[2014-03-26 19:02] samanpwbb opened #246 "geojson sources appear to not work"
I tried to use geojson from https://github.com/benbalter/dc-maps/blob/master/abra-licensee.geojson - it passes http://jsonlint.com/ just fine, but errors in TM2 with a file not found:

![screen shot 2014-03-26 at 3 02 16 pm](https://f.cloud.github.com/assets/108094/2529301/2f2b458e-b519-11e3-8360-6c3d308f76cb.png)

[2014-03-26 19:03] ajashton commented on #245
TM1 is able to autodetect projections in most cases; I assume we can have the same functionality for TM2? Also somewhat related: #98

[2014-03-26 19:15] samanpwbb opened #247 "JS error after deleting source in source mode"
Steps to reproduce:
1. Make a new project
2. Add json data source
3. Save
4. Delete that source
5. Add a new data source
6. Upon saving, I get this error: `Uncaught NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.`

Attempting to add future data sources give the same error.

The source of the error is at: https://github.com/mapbox/tm2/bl

[2014-03-26 19:18] samanpwbb opened #248 "new layer with same name as old layer silently fails"
We should prevent user from making a new layer that has the same name as an existing layer.

[2014-03-26 20:02] ajashton opened #249 "Clicking zoom or bookmark buttons in fullscreen mode"
If you're in fullscreen map mode and you click one of the buttons at the bottom left, you get kicked out of full screen mode.

[2014-03-26 20:30] ajashton opened #250 "Composited source names get too long for the UI"
In both the layers list header and in the source selection UI ("+ Data" button), something like "Mapbox Streets V4 + NE Bathymetry + My Custom Layer" gets truncated so it's hard to tell different composited sources apart.

One idea other than just showing the full source name somehow would be to allow custom names for composited sources rather than "Name1 + Name2 + etc"

![](http://i.imgur.com/1WZ

[2014-03-26 22:31] yhahn commented on #245
Long quest. We don't want to implement this in the same way it was done in TM1.

[2014-03-26 22:33] yhahn commented on #250
Almost certainly not going to fix with custom names, but if you could name them customly what would you name such a composite?

[2014-03-26 22:58] ajashton commented on #250
Something project specific or just a short nickname. Like streets + terrain + bathymetry might be "Outdoors". If I'm working with a custom layer, I might want the title to be just focused on that part (eg "My favorite hiking trail").

[2014-03-27 00:31] samanpwbb commented on #249
Moving away from :target-based toggle for search + returning false on controls would solve these problems, and agree would be nicer.

[2014-03-27 05:04] nilshoerrmann commented on #244
A few more thoughts:

#### Regarding trash and delete actions

I think this concept works just fine and seems to be used consistently across the interface – the user should understand that difference. My point is actually about the positioning and visibility of those actions. Although I understand that `x` closes something, it hides _what_ I'll be closing – that's the issue, not the used metaphors

[2014-03-27 17:25] samanpwbb opened #251 "Emphasize/clarify zoom bounds settings in source mode"
Easy to miss zoom level settings when making vector tiles. User _needs_ to think about this for both individual layers and for entire source. For the longest time, I was trying to upload simple vector tiles from csv's/shp files and getting `Invalid upload Error: Tilesource has invalid longitude as center` errors

[2014-03-27 18:59] aaronlidman opened #254 "Refactor to use lib.js for shared js"
Totally didn't know this existed.

[2014-03-27 19:24] samanpwbb commented on #243
Closed with https://github.com/mapbox/tm2/pull/252

[2014-03-27 19:24] #243 closed, assigned to samanpwbb

[2014-03-27 19:31] yhahn commented on #251
@samanpwbb let's voice on this sometime -- I'd love to try to advance tech to the point where these settings can disappear/be configured automatically.

[2014-03-27 21:06] samanpwbb commented on #250
I un-truncated the data source name here, seems to work fine.

[2014-03-27 21:56] edenh opened #255 "Truncate bookmarks"
![screen shot 2014-03-27 at 2 55 17 pm](https://cloud.githubusercontent.com/assets/1577766/2544065/a79ac4b8-b5fa-11e3-837b-49275703c1dd.png)

[2014-03-27 22:08] #255 closed, assigned to nobody

[2014-03-27 22:10] #220 closed, assigned to aaronlidman

[2014-03-27 22:57] #225 closed, assigned to nobody

[2014-03-27 23:17] edenh commented on #120
Grabbing this.

I'm thinking the most useful implementation of this is a satellite toggle that adds the satellite layer composited before the actively-styled layer and fills in all transparent areas with satellite.

@samanpwbb @yhahn is this what you had in mind?

[2014-03-27 23:22] yhahn commented on #120
Hrm, I would prefer exposing a UI for the baselayer option first which is more generic.

[2014-03-28 15:18] #199 closed, assigned to nobody

[2014-03-28 15:51] wboykinm commented on #255
Oh sweet! Micron bookmarks!

[2014-03-28 17:03] ajashton opened #257 "more helpful formatting of PostgreSQL errors"
- wider text area
- left-aligned text
- monospace font

The current, less-helpful version:

![](http://i.imgur.com/YBTgFCQ.png)

[2014-03-28 17:20] samanpwbb commented on #120
This _combined_ with layer visibility toggle to quickly turn my style on and off to compare with satellite would get me something close to what I want.

[2014-03-28 17:56] samanpwbb commented on #121
@aaronlidman did this.

[2014-03-28 17:56] #121 closed, assigned to nobody

[2014-03-28 18:08] aaronlidman opened #258 "Direct upload to mapbox.com"

[2014-03-28 18:11] yhahn commented on #258
Let's discuss : )

[2014-03-28 18:12] samanpwbb opened #259 "Add instructions for how to upload styles/sources"
Explain to users what they can/should do with their vector mbtiles from source mode and their .tm2z packages from style mode. Dependent on #258

[2014-03-28 19:49] ian29 opened #261 "saving before all preview tiles have rendred deletes sql field is postgis layer editor"
i can only inconsistently reproduce this, but it does happen in different .tm2 projects
1. open a postgis source
2. zoom in some
3. hit save _before tiles have finished rendering_

occasionally this deletes all the sql in the sql field. other layer settings seem untouched. if you refresh you will an error like

[code]

I'll keep messing with this and see if i can't isolate steps further.

[2014-03-28 19:52] ian29 commented on #261
updated with important caveat in step 3.

[2014-03-28 20:02] ian29 commented on #261
can't replicate after https://github.com/mapbox/tm2/pull/241 so im guessing that fixed it.

this is what i get for using an hours-old tm2. closing.

[2014-03-28 20:02] #261 closed, assigned to nobody

[2014-03-28 20:08] ajashton commented on #41
no longer happens

[2014-03-28 20:08] #41 closed, assigned to nobody

[2014-03-28 20:55] ian29 opened #262 "adding a new sql layer fails with invalid protocol error"
on 03df6ae
1. create a new source project
2. add a sqlite or postgis layer
3. see this guy:

![image](https://cloud.githubusercontent.com/assets/1056106/2555159/266420f8-b6bb-11e3-9db5-49dddf64940c.png)

doesnt happen with csv/geojson/shp data source

[2014-03-28 21:21] heyitsgarrett opened #263 "Shapefile doesn't show up until `Save as` action performed"

[2014-03-28 22:15] samanpwbb opened #265 "Adding style to map doesn't report carto error, prevents map save"
![screen shot 2014-03-28 at 6 11 51 pm](https://cloud.githubusercontent.com/assets/108094/2555842/10605186-b6c6-11e3-9e33-58075c706996.png)

That `line-color: red;` line gives me an error in the console, but no signifier anywhere in the UI. When I try to save my map, I see a spinner, so it looks like the map saved. However, the console error tells me that the save doesn't actually go through (and

[2014-03-28 22:17] #120 closed, assigned to nobody

[2014-03-28 23:02] tristen commented on #265
Also #236 ?

[2014-03-31 16:31] ian29 commented on #262
happens after #241. previous commit (9e40612) lets you add postgres/sqlite layers just fine

[2014-03-31 18:07] springmeyer commented on #262
Second time this has broken recently. #226 was also just postgis/sqlite. We need tests for all supported sources.

[2014-04-01 09:28] kapouer opened #267 "phantom and mocha-phantom should be devDependencies"

[2014-04-01 16:15] MateoV opened #268 "baselayer on by default"
I feel like if a baselayer is defined this toggle should be on by default. In my experience you would want this on the vast majority of the time and it is a little annoying having to hit the toggle every time the project is opened.

[2014-04-01 16:18] samanpwbb commented on #268
This could be confusing for users who are building base-maps. A newbie would not know necessarily know where the base-layer ends and their style begins.

We should however store the baselayer toggle setting between page refreshes.

[2014-04-01 16:20] MateoV commented on #268
Yes, saving its state would be enough.

[2014-04-01 16:22] samanpwbb commented on #268
talked with @yhahn - on by default is fine because new maps don't have any baselayer at all, so this would not actually lead to confusion.

[2014-04-01 16:39] #268 closed, assigned to nobody

[2014-04-01 17:23] samanpwbb commented on #181
First draft done with #266

[2014-04-01 17:23] #181 closed, assigned to samanpwbb

[2014-04-01 20:16] samanpwbb commented on #135
Agreed, this is continually causing problems for me.

[2014-04-01 20:41] aaronlidman opened #270 "Disable 'package' and 'upload' buttons on tmp maps"
![screen shot 2014-04-01 at 4 37 00 pm](https://cloud.githubusercontent.com/assets/58878/2584378/c8a3cd26-b9dd-11e3-8663-7299d82e5c62.png)

Because packaging tmp maps causes the server to crash, which should also be fixed. Should use the brand new .pill .disabled class.

OR

prompt to save if those buttons get clicked on a tmp map

[2014-04-01 20:43] springmeyer commented on #270
related: #104

[2014-04-01 21:12] samanpwbb commented on #244
To user, delete actions delete references to files. That makes them disappear from the UI. Unlink icon is ambiguous.

I am closing now, the original issues brought up here have been addressed. Thanks for the input @nilshoerrmann

[2014-04-01 21:12] #244 closed, assigned to nobody

[2014-04-01 21:27] #267 closed, assigned to nobody

[2014-04-01 22:46] samanpwbb opened #272 "update layer list to reflect layers config in project.yml"
if user has duplicated or re-ordered data in layer list, reflect this in the project's data inspection sidebar.

[2014-04-01 23:40] samanpwbb opened #273 "cursor positioning around color swatch is broken"
Codemirror doesn't correctly display cursor position around swatches. Not exactly sure how to describe the behavior right now, but it is not what I would expect.

[2014-04-02 01:29] edenh commented on #273
I know _exactly_ what you mean. As a somewhat-temporary fix for the cursor problem, we can place the palettes at the end of the line. This does create a few weird edge cases:

![screen shot 2014-04-01 at 6 26 24 pm](https://cloud.githubusercontent.com/assets/1577766/2586632/1e715e62-ba06-11e3-8b63-edc10fc641cc.png)

[2014-04-02 15:27] samanpwbb commented on #273
Ah, much better. Closing for now, we can make a new issue to address related issues.

[2014-04-02 15:27] #273 closed, assigned to samanpwbb

[2014-04-02 15:30] samanpwbb opened #274 "codemirror swatch bug"
![2014-04-02 11_29_53](https://cloud.githubusercontent.com/assets/108094/2593022/ab290042-ba7b-11e3-8a0f-525211b71200.gif)

existed even before #273

[2014-04-02 17:27] samanpwbb commented on #231
now simply changing bg color. I think this works well.

[2014-04-02 17:27] #231 closed, assigned to nobody

[2014-04-02 17:29] samanpwbb commented on #84
Duplicate of https://github.com/mapbox/tm2/issues/258

[2014-04-02 17:29] #84 closed, assigned to nobody

[2014-04-02 17:30] samanpwbb commented on #105
This was fixed with an updated mapnik on mapbox.com

[2014-04-02 17:30] #105 closed, assigned to nobody

[2014-04-02 18:12] springmeyer commented on #105
Sweet, thanks for confirming mapnik 2.3.x fixed @samanpwbb

[2014-04-02 20:07] ajashton commented on #250
Still an issue for the source selection. These are all different sources:

![](http://i.imgur.com/vtYWmLQ.png)

[2014-04-02 21:44] springmeyer commented on #214
another report from @makella: https://gist.github.com/makella/e1c76b604f541cc05bc6. Looks like the common problem is `mapnik::freetype_engine::create_face`, so I think this must have something to do with a font that is being read and Mapnik is not reading it correctly and memory is being corrupted.

[2014-04-02 21:50] makella commented on #214
@springmeyer I am using a custom font, Frutiger, for all features on the map.
I am not running any exports on my machine.  The only pattern I've noticed so far is that it happens when I change something and hit Save.  It just happened again when I changed the `text-size` property for a feature.  I'll keep better track of what I'm doing when it happens from here on out and comment back here.

[2014-04-02 22:01] springmeyer commented on #214
Really? Interesting and good info. So you've not seen is when simply browsing? Only recently after a save?

I though I heard from you earlier that this crash happened during an export? Did I get that wrong? Or maybe it happened right at the start of an export perhaps? (which would be after loading the map, like a save).

[2014-04-02 22:03] springmeyer commented on #214
btw, how many MB is `Frutiger`?

[2014-04-02 22:03] ian29 commented on #162
looks like this was fixed? i can no longer replicate. @MateoV you can confirm that you no longer see this bug, right?

[2014-04-02 22:03] ian29 commented on #69
looks like this is still occurring as of 98f3273

[2014-04-02 22:08] makella commented on #214
Yeah, sorry for the confusion.

On the other machine where we're doing the majority of the exports, that's where we were getting kicked out of TM2 with the Abort Trap: 6 error.  In that case, TM2 was only exporting nothing else.

On my machine, I'm only designing nothing else.  This is the one that is giving me the font issue that you mention above.

It may have been due to panning but I didn't re

[2014-04-02 22:09] MateoV commented on #162
The offending source still resumed export when opening, so I just deleted it. Has not occurred on any subsequent cancellation attempts.

[2014-04-02 22:09] #162 closed, assigned to nobody

[2014-04-02 22:41] ajashton opened #276 "Find & replace doesn't know when it's hit the end"
Most Find/Replace UIs tell you when there are no more replacements to make. TM2 just leaves the Yes/No buttons open with nothing left for them to do.

[2014-04-02 22:43] ajashton opened #277 "Find (& replace) z-index"
Its below the line numbers:

![](http://i.imgur.com/vX8UatM.png)

[2014-04-02 22:46] springmeyer commented on #214
Okay, great, thanks that is all clear now. So, abort trap is due to postgres wait. This crash appears related to fonts, but if Frutiger is so small, my hunch is that its actually related to map loading (which happens after saving). I'm working on a workaround over at https://github.com/mapbox/tilelive-vector/issues/45

[2014-04-02 22:52] mojodna commented on #214
I see this not infrequently, but typically with different stack traces (all of which appear to point at Express).  Here's the most recent one I've seen:

[code]

[2014-04-02 23:01] springmeyer commented on #214
@mojodna - thanks for the details. I've not paid any attention to the node.js stack trace myself because of the segfault in Mapnik that is also happening. I'm assuming that the segfault is the cause and not the result. But this may be an incorrect assumption.

[2014-04-02 23:04] mojodna commented on #214
I don't see corresponding segfaults, FWIW (my stacks usually don't touch mapnik when tm2 crashes).

[2014-04-02 23:11] springmeyer commented on #214
@mojodna interesting. Can you say more: on what OS are you seeing this error but with no segfaults? If OS X are you sure there are not crashlogs in `~/Library/Logs/DiagnosticReports/` after this error?  If Linux no evidence of a crash in `/var/log/kern.log`? Also what do you mean by `my stacks usually don't touch mapnik when tm2 crashes`?

[2014-04-02 23:27] mojodna commented on #214
OS X 10.9.2 w/ tm2@HEAD (node-0.10.26).  Nothing in `~/Library/Logs/DiagnosticReports/`.

The stack traces I've seen when this happens haven't included `tilelive-vector` (the one from @nickidlugash does).  Sometimes it'll just do this when I first load the app (before it gets to loading CSS).  I'm unable to reproduce it consistently though.

IOW, this may be 2 separate issues: `TypeError: Cannot r

[2014-04-03 01:30] springmeyer commented on #214
okay, thanks. Yes, I think this could be separate but related issues. @makella is hitting the same error as you except with a segfault in addition:

[code]

[2014-04-03 01:53] yhahn commented on #250
@ajashton guessing you wouldn't miss all these `No description.`s ? @samanpwbb what do you think about nuking the descriptions which seem like they're becoming less important and letting the title wrap here?

[2014-04-03 01:56] samanpwbb commented on #250
@yhahn i am halfway through this right now. Planning on shrinking the data source listing in a few ways. This should be more differentiated from the settings source list to avoid confusion.

[2014-04-03 01:56] yhahn commented on #250
:+1:

[2014-04-03 02:32] samanpwbb commented on #250
:arrow_right:   https://github.com/mapbox/tm2/pull/278

[2014-04-03 13:51] samanpwbb commented on #250
Closed with #278

[2014-04-03 13:51] #250 closed, assigned to samanpwbb

[2014-04-03 16:24] ajashton opened #279 "Expose center and saveCenter settings in UI"

[2014-04-03 17:03] makella commented on #214
@springmeyer just wanted to let you know this happened again this time after I had made some changes to `project.yml` (for layer ordering) and then restarted TM2.  I stopped TM2 before editing `project.yml`

From my Terminal window:

[code]

[2014-04-03 20:32] samanpwbb commented on #130
~~cmd+/ conflicts with multi-line comment-out in codemirror~~ fixed with 413ba1488a7e82b8bb206334f261c61f69de3f2d

[2014-04-03 20:51] aaronlidman opened #280 "Zoom thingy disappears after z21"
![zoomthingy](https://cloud.githubusercontent.com/assets/58878/2609025/9459c256-bb71-11e3-9989-49fc78a071ae.gif)

[2014-04-03 21:03] springmeyer commented on #280
yeah, lets go to z30 :)

[2014-04-04 05:51] springmeyer commented on #214
Thanks @makella. Interesting to see that there appears not to have been a segfault at the end of that. That starts to point to the segfault being a random result rather than the cause of this.

[2014-04-04 06:38] springmeyer commented on #245
To do this better from my perspective we need to tackle #171.

[2014-04-04 20:20] aaronlidman commented on #265
@samanpwbb you still seeing this? Works as intended for me.

![screen shot 2014-04-04 at 4 19 07 pm](https://cloud.githubusercontent.com/assets/58878/2619928/7b43f6a4-bc36-11e3-93ad-b5a4a168dcea.png)

[2014-04-04 21:33] ajashton commented on #265
If the error occurs on a line not currently visible in your editor, there is no indication that something went wrong. It looks like a successful save.

[2014-04-08 11:58] ian29 commented on #262
still hitting this as of e5e3e2b : |

[2014-04-08 19:00] ajashton opened #281 "search does not work in firefox"
type in any place, hit enter, go nowhere

[2014-04-09 02:12] #248 closed, assigned to aaronlidman

[2014-04-09 02:12] #270 closed, assigned to nobody

[2014-04-09 02:12] #277 closed, assigned to nobody

[2014-04-09 02:12] #280 closed, assigned to nobody

[2014-04-09 15:51] bsudekum opened #283 "Retina mode"
It'd be great to have a button that would switch on `detectRetina: true` for when working on a retina screen/developing for a retina screen.

Right now you can scale text/items on tiles but the tile itself cannot be scaled down to `128px` within tm2.

cc @samanpwbb

[2014-04-09 15:57] samanpwbb opened #284 "Add bookmark from search result"
would be nice to be able to save a search result as a bookmark

[2014-04-09 15:58] rclark commented on #283
:+1: I tried throwing in `detectRetina` but it didn't work the way I expected it to.

[2014-04-09 16:04] bsudekum commented on #283
@rclark it can be tricky to get it to work sometimes, make sure you're applying it to the tileLayer and not the map. Something like:

[code]

Also, if we want this to be available to all users, regardless if they're on a retina screen or not, we can add `L.Browser.retina = true;` to force leaflet into retina mode.

[2014-04-09 20:30] ian29 commented on #262
fixed by #282

[2014-04-09 20:30] #262 closed, assigned to nobody

[2014-04-09 20:41] ian29 opened #285 "return mapid on successful style upload to mapbox.com"
i dont know how much work this would be, but it would be great to have a copiable mapid in the dialog letting you know that your style has successfully uploaded.

![](http://cl.ly/image/380K0p2w212N/Image%202014-04-09%20at%204.41.20%20PM.png)

@aaronlidman

[2014-04-09 20:46] aaronlidman commented on #285
@ian29 Yep agree. I can expose a mapid easily but I'd prefer to link directly to an open map pane on mapbox.com/data, something like `http://mapbox.com/data?mapid=awesomemap.ian29` which will open that exact map.

We have an internal ticket (3757) about this.

[2014-04-10 00:20] skorasaurus opened #286 "Unable to open project that has an error in it"
so, one of my projects that I opened had an error in it and I managed to save it with the error.

When I tried to open the project again in tm2 (using the current master), https://github.com/mapbox/tm2/commit/e599c65b2451e0ad634a2fd37403aabfebf8840f
I receive an error message and prompted to hit back. Once I hit back, I am at the default project instead of my project.

screen shot of this:

![sele

[2014-04-10 16:27] aaronlidman commented on #258
Style uploading is in place. If tm2z uploads are enabled on your account, you should see an upload button.

[2014-04-10 19:45] jqtrde commented on #258
That's awesome, congrats! :+1:

Any way I can get this enabled for my account? (jacques)

[2014-04-11 06:38] animaux commented on #258
I’d like to know how to be able to enable this for my account too. What is the official way? (ar@animaux.de)

[2014-04-11 18:06] samanpwbb opened #288 "Automatically fix/fill file name extensions for users everywhere"
Let users either use or omit extension when naming files, add it for them after submission. Right now we do this for mss tabs but not elsewhere in the app and it's confusing.

[2014-04-11 18:07] aaronlidman commented on #288
I'll try hitting this before I'm out next week but no promises, big weekend.

[2014-04-12 15:12] jqtrde opened #290 "Can't parse message of type "mapnik.vector.tile""
Running OSX 10.9. Receiving the following errors after both cloning and building, or with [the most recent binary](http://tilemill.s3.amazonaws.com/dev/tm2-osx-2014-04-11-689bb4e.tar.gz).

[code]

Anyone else?

[2014-04-12 15:45] samanpwbb opened #291 "Make project settings panel work on short screens"
Too tall, doesn't scroll:
![screen shot 2014-04-12 at 11 44 11 am](https://cloud.githubusercontent.com/assets/108094/2687499/79f8dd68-c259-11e3-9494-717996dfbf19.png)

[2014-04-13 13:25] springmeyer commented on #290
try clearing the cache: `rm -rf ~/.tilemill/v2/cache`. I presume these errors occurred due to a failed network connection and things should be working fine otherwise.

[2014-04-13 16:44] jqtrde commented on #290
seems to work, thank you.

[2014-04-13 16:44] #290 closed, assigned to nobody

[2014-04-14 18:08] aaronlidman opened #295 "No tabs after removing the last tab"
![no-tab](https://cloud.githubusercontent.com/assets/58878/2698839/3d769040-c3ff-11e3-8cbe-f347295df48d.gif)

Fix the UI or don't allow the last tab to be removed.

The actual stylesheet is created, I'm guessing we just need a better selector.

[2014-04-14 18:22] jqtrde opened #296 "Scrolling issues in Chrome"
Running `OSX 10.9.2` with `Chrome 33.0.1750.152`.

Scrolling in the editing panel causes it to disappear. The only way I'm able to restore visibility is by zooming in on the map. Doesn't happen in Firefox.

![](http://i.imgur.com/myZszg7.gif)

Anyone else?

[2014-04-14 20:57] samanpwbb commented on #291
Fixed with https://github.com/mapbox/tm2/pull/299

[2014-04-14 20:57] #291 closed, assigned to nobody

[2014-04-15 18:48] ajashton opened #301 "sql editor line numbers bg is transparent"
..which causes issues when horizontally scrolling long lines:

![](http://i.imgur.com/t2a8uMH.png)

[2014-04-15 18:59] #301 closed, assigned to nobody

[2014-04-15 19:23] samanpwbb opened #302 "Show add layer modal immediately when making new source"
This is a confusing first screen:
![screen shot 2014-04-15 at 3 22 09 pm](https://cloud.githubusercontent.com/assets/108094/2711882/4923f0de-c4d3-11e3-8b43-e6c509b1503b.png)

Could we show off the bat:
![screen shot 2014-04-15 at 3 22 43 pm](https://cloud.githubusercontent.com/assets/108094/2711888/5f6f4e42-c4d3-11e3-8c5a-ed28534cf090.png)

Will need a heading, and a few more touches to make frien

[2014-04-15 21:02] #284 closed, assigned to nobody

[2014-04-15 22:44] zeke commented on #70
Saving to my `Dropbox (Personal)` directory didn't work. tm2 created a new directory with a `%20` where the space should be:

[code]

[code]

Interestingly when I browse that _accidental_ directory in tm2, it reads from the _original_ directory:

![http://cl.ly/image/06120t0e2t0f/Screen%20Shot%202014-04-10%20at%209.00.23%20AM.png](http://cl.ly/image/06120t0e2t0f/Screen%20Shot%202014-04-10%20at%209

[2014-04-15 22:50] zeke opened #304 "Seeing "No spaces allowed" error when filename does not contain spaces"
![no-spaces](https://cloud.githubusercontent.com/assets/2289/2714071/5e35fc3e-c4f0-11e3-816a-bbe75399502f.png)

[2014-04-15 22:52] zeke opened #305 "Don't make me type .tm2 when saving"
If the `.tm2` extension is omitted by the user, it should be appended automatically.

[2014-04-15 22:56] samanpwbb commented on #305
Covered by https://github.com/mapbox/tm2/issues/288

[2014-04-15 22:56] #305 closed, assigned to nobody

[2014-04-15 22:56] zeke commented on #230
What does it divulge? Seems like there's gotta be a way to work around this. In my experience working with TM2, browsing for files is the most frustrating interaction.

[2014-04-15 22:56] springmeyer commented on #101
closing tracking at #288

[2014-04-15 22:56] #101 closed, assigned to nobody

[2014-04-15 22:58] samanpwbb commented on #304
@zeke nice catch. This needs to match the regex ( https://github.com/mapbox/tm2/blob/master/templates/source._#L215)

[2014-04-15 23:07] samanpwbb commented on #302
Covered by https://github.com/mapbox/tm2/pull/303

[2014-04-15 23:07] #302 closed, assigned to nobody

[2014-04-16 01:05] tristen commented on #230
It doesn't pass an absolute path which is currently required when accessing tm2 files.

[2014-04-16 01:09] zeke commented on #230
Yeah I guess this is an obvious security risk. I wonder if wrapping tm2 in something like webkit.js or node-webkit would help.

[2014-04-16 01:15] springmeyer commented on #230
I've been paying some attention to node-webkit - it looks to be extremely sophisticated and I've sought to support it with node-pre-gyp binaries in part to make this possible to experiment with. Though I've always been turned away by the extra size you pay for, at least compared to using system webkit on OS X like we do now.

[2014-04-16 01:23] springmeyer commented on #296
have not tested, but curious: do you see any js errors in the js console?

[2014-04-16 13:13] jqtrde commented on #296
Nope, nothing in the console. Chrome has been acting wonky in some other situations for me as well. If no one else is having the same issue I'll go ahead and close this.

[2014-04-16 13:13] #296 closed, assigned to nobody

[2014-04-16 13:56] samanpwbb commented on #304
fixed with https://github.com/mapbox/tm2/pull/303

[2014-04-16 13:56] #304 closed, assigned to nobody

[2014-04-16 15:03] ian29 opened #306 "add additional source to style"
currently the UI there's no way to add an _additional_ vector tile source to your style project. the UI allows you to change vector tile sources for your style, but you can't add an additional vector tile source.

adding a new composited vector tile source seems like a reasonable workflow: imagine you have a basemap style (remote) that you rarely change, but you want to swap out vector tile data b

[2014-04-16 15:16] springmeyer opened #307 "Support ESRI FileGDB format in source editor"
TileMill 1 just landed support (https://github.com/mapbox/tilemill/issues/2205). Planning to port to TM2 next. Since FileGDB supports more than one layer, to get this working is dependent on #171.

[2014-04-16 17:01] samanpwbb commented on #295
Should be a pretty easy fix with a better selector.

[2014-04-16 18:42] #295 closed, assigned to samanpwbb

[2014-04-16 21:13] ajashton opened #310 "source listing splits remote and local"
Sources appear to be listed by modification date, but all remote sources are shown first, then all local sources listed after that the bottom. Would probably make more sense to mix them and just go by date.

[2014-04-17 03:15] samanpwbb opened #311 "display lat/lon coordinates alongside zoom level"
This would be especially valuable in source mode, where it's easy to get lost.

[2014-04-17 14:18] ajashton commented on #311
see also #92, tangentially related re: getting lost in the source editor

[2014-04-18 15:43] srsjojo opened #312 "Win7 npm install fails @ mapnik 1.4.2"
Hello,

I'm trying to install TileMill 2 on Windows 7 x64. npm install fails at the mapnik install section. When I type node index.js I get "Cannot find module 'mapnik'"

Thanks,
~Stephen

[code]

[2014-04-18 17:06] wilhelmberg commented on #312
@srsjojo
It looks like you are using Node x64.
Please try again with Node x86 (node-mapnik binaries are provided for 32bit only).

[2014-04-19 17:48] pantierra commented on #214
Just did a fresh installation from the master branch and used only the out of the box Mapbox Streets V4 source. I was playing around to see the changes between the stable version and the new tm2. Unfortunately it is crashing now and then, especially when going into the source configuration, with a similar error, if not the same, as @makella is reporting:

TypeError: Cannot read property '0' of und

[2014-04-21 13:18] srsjojo commented on #312
Thanks for the help Wilhelm, I removed Node x64 and installed x86 and Mapnik succeeded. I re-cloned tm2 and `npm install` didn't throw any errors this time, but now I get the following errors when I try to start tm2:

[code]

[2014-04-21 17:38] rclark opened #314 "Fix failing tests"
https://github.com/mapbox/tm2/blob/master/test/tm-copytask.test.js#L31

https://github.com/mapbox/tm2/blob/master/test/tm.test.js#L112-L131

These tests are failing.

[2014-04-21 17:52] wilhelmberg commented on #312
@srsjojo
Sorry, but I can't help you further. When I try, I don't even get as far as you and get some other errors.
As the main page mentions, tm2 is not yet ready to use with a stable version:
"Experimental version of TileMill powered by vector tiles. There are currently no supported releases of this software."
If it is an option for you, you could try with Linux or try to ping one of the main co

[2014-04-21 18:01] rclark commented on #314
Fixed by [`94076212`](https://github.com/mapbox/tm2/commit/94076212a5151a0212a2902f2f669083a7be8c860) after only a few blind shotgun blasts.

[2014-04-21 18:01] #314 closed, assigned to rclark

[2014-04-22 00:01] incanus commented on #230
Just because we can't do this universally for _all_ web clients doesn't mean we shouldn't do it for _some_ native clients. Choosing an absolute file path and passing that to the server is clearly a security risk for the web globally, but makes the most sense from a user point of view for an operation that is repeated many times throughout the editing of a project. Yes, it's code branching, but it'

[2014-04-22 19:04] springmeyer opened #315 "Windows support"
TM2 does not work on windows yet, but it should be feasible to port it and have it work reasonably well in a modern browser like Chrome.

This ticket stands to track this task.

Porting will require:
- [x] - setting `process.env.HOME = process.env.USERPROFILE;` at startup (https://github.com/mapbox/tm2/commit/019471c42b9dd45be582223b290b4690f85f69d3#diff-168726dbe96b3ce427e7fedce31bb0bc)
- [x] - F

[2014-04-22 19:05] springmeyer commented on #312
Hi @srsjojo tm2 does not work yet on windows because we've not actually tried to run it on windows yet. There are going to be changes to the code needed to get it working. Closing this issue and tracking at #315. In short, please check back in a week or so.

[2014-04-22 19:05] #312 closed, assigned to nobody

[2014-04-23 00:20] ericsond opened #317 "unable to change Map background color at zoom levels."
I'd like to be able to change the background color at a particular zoom level. There doesn't seem to be a way to do this through:

Map {
  background-color: #ff0000;
}

Ideally there is a polygon on the lowest layer that can be controlled via css.

Here is a work around described in this thread but wondering if there is a cleaner solution?
http://gis.stackexchange.com/questions/71908/cartocss-diff

[2014-04-23 02:49] springmeyer opened #318 "Fields don't show up until entire source is saved"
After loading a new layer for a source from a shapefile I noticed that no fields would show up even though the shapefile layer had seemingly been added/saved by choosing it and clicking "done". Its fields would not display until the entire source was saved. This is going to be very confusing for new users.

[2014-04-23 04:05] springmeyer commented on #69
still occurring in master. workaround either with `killall tm2` in another terminal or with this nuclear patch:

[code]

[2014-04-23 19:42] springmeyer commented on #317
I'd recommend sticking with the workaround of adding an entire planet polygon layer. There is not a cleaner solution at this point. If this feature were added it would be implemented in [Mapnik](https://github.com/mapnik/mapnik) and then would also need to be supported by [Carto](https://github.com/mapbox/carto). Then tm2 would be able to support it.

[2014-04-23 19:42] #317 closed, assigned to nobody

[2014-04-23 20:06] springmeyer commented on #214
@xamanu - generally it seems like this error is happening when the network connection drops. So you can likely work around for now by making sure your wifi is solid :)

[2014-04-25 16:29] springmeyer opened #319 "sources do not render at z0-1"
Been consistently noticing this: sources appear to be invisible until you zoom to z2. This makes it very confusing for new users to find there data by zooming out. Need to figure out if this is a carto zoom levels bug, or tolerance throwing the data out, or....?

[2014-04-25 16:38] springmeyer opened #320 "By default pass `autodetect_key_field` for postgis layers"
The classic problem with postgres/postgis layers is and interactivity is:
- postgres tables are not guaranteed to have a primary key
- for grid interactivity preview a primary key is not needed
- when grids are re-written to mbtiles they are optimized and then break unless a unique id (primary key) was used for interactivity
- Mapnik currently needs either the user to supply a `key_field` to know

[2014-04-25 18:29] ajashton commented on #319
How are you noticing this - could it be a caching issue? The source preview is currently pretty agressive about caching, so if you add some data while looking at z1 it might not show up right away, but if you zoom into uncached z2 it starts showing up. I've found updating data in sources to be kind of like updating images in styles - I need to restart TM2 to be sure I'm looking at the right thing.

[2014-04-25 19:17] springmeyer commented on #319
Interesting. I've also been restarting tilemill as my go to solution, but did not consider it here. Though you are likely right: just about every time I add a layer something is broken the first time I try to save, so yes, maybe empty vector tiles are being cached. Will look closer next time...

[2014-04-25 19:45] aaronlidman opened #321 "Source/style extensions"
Both sources and styles use `.tm2`, it's confusing as they are not interoperable in source/style panes and leads to errors when opening the wrong type.

I'm partial to changing sources to `.tm2source` and leaving styles as `.tm2`.

Thoughts?

[2014-04-25 19:45] ian29 opened #322 "vector tile export progress graph broken"
says 100% but it's actually not done.
D:

![](http://cl.ly/image/1T2Q3a38053I/Image%202014-04-25%20at%203.44.15%20PM.png)

cc @samanpwbb

[2014-04-25 19:49] ian29 opened #323 "source export doesnt save changes?"
i often change the zoom levels around right before exporting, but if i don't hit the save button first, an export doesn't respect any last-minute changes (i.e. changes to the zoom  range)

[2014-04-25 19:52] ian29 commented on #323
not sure if it's desirable to have the `export` button function as `save+export`. i see at least 2 options to clarify what's going on:
1. have the button say `save+export`, and have the button do that
2. disable `export` button until project is saved

[2014-04-25 19:59] aaronlidman commented on #323
Same as style packaging/uploading? Save then export.

[2014-04-25 21:19] springmeyer commented on #315
Updated the list of broken things above. We're not very far off from supporting windows. The problems are restricted to filesystem stuff. By working around the `app.db` problem I got the default project to load:

![screenshot 2014-04-25 14 17 38](https://cloud.githubusercontent.com/assets/20300/2805863/4f0a0364-ccbf-11e3-9ce4-b4481a24b53b.png)

[2014-04-25 21:22] springmeyer opened #324 "Ditch dirty?"
node-dirty in [TileMill 1](https://github.com/mapbox/tilemill/issues/2032) has shown corruption problems.

And node-dirty is not working in TM2 on windows leading to permissions errors trying to open the db (#315).

What about using node-sqlite3?

[2014-04-25 21:24] yhahn commented on #324
Hrm, I've implemented boot-time compaction of the node-dirty DB at boot time for this very reason. I'd like to stay away from node-sqlite3 and other DBs as it's much easier to use the synchronous interface of dirty.

The permissions errors are maybe due to the "compaction" dance going on at boot time?

[2014-04-25 21:40] aaronlidman commented on #288
Done in https://github.com/mapbox/tm2/pull/325.

[2014-04-25 21:40] #288 closed, assigned to aaronlidman

[2014-04-25 21:47] springmeyer commented on #324
Yes, the permissions error appears to be because the file is deleted while is being read and windows catches this as impossible because it locks on file handles. Commenting out the [unlink here](https://github.com/mapbox/tm2/blob/23196a54a6d4d3f46b6e8847c437cbeca2eb4d68/lib/tm.js#L46) works around the problem.

[2014-04-25 21:49] yhahn commented on #324
Ok cool, I can play around with ways to close the file handle, delete, and then write the new "compacted" db.

[2014-04-25 21:50] springmeyer commented on #324
okay, sounds good, will close this and can track at #315.

[2014-04-25 21:50] #324 closed, assigned to nobody

[2014-04-26 00:59] srsjojo opened #326 "Local PostGIS OSM Source - "missing parameter...""
I'm trying to host my own local OSM data for Washington State. I've loaded the geofrabrik extract into Posgres with `osm2pgsql`. When I go to the Sources tab and add a new PostGIS source I put in the exact info from the `\conninfo` command in `psql`. When I hit "Save" I get an error at the bottom that says

`Postgis Plugin: missing parameter encountered during parsing of layer <layername> in Layer

[2014-04-26 01:02] springmeyer commented on #326
Its quite confusing - the UI needs more work, but to get this working you want to go to the `SQL` tab for the postgis layer and enter the table name in the large box:

![screenshot 2014-04-25 18 01 32](https://cloud.githubusercontent.com/assets/20300/2807118/747f8f3c-ccde-11e3-940c-a7e48f17848d.png)

[2014-04-26 01:10] srsjojo commented on #326
That's awesome, thanks Dane. Will I want to put in all the tables under the same layer?

[code]

[2014-04-26 01:16] springmeyer commented on #326
no, you need a new layer per table. And that textarea either supports the tablename or a subquery in the same format as TileMill 1 (step 6 at https://www.mapbox.com/tilemill/docs/guides/postgis-work/).

[2014-04-28 01:29] #1 closed, assigned to nobody

[2014-04-28 01:31] yhahn commented on #43
Main remaining work: https://github.com/mapbox/tm2/issues/45

[2014-04-28 01:31] #43 closed, assigned to nobody

[2014-04-28 01:32] yhahn commented on #150
Reopen if still occurring.

[2014-04-28 01:32] #150 closed, assigned to nobody

[2014-04-28 01:32] #107 closed, assigned to nobody

[2014-04-28 01:33] #88 closed, assigned to nobody

[2014-04-28 01:39] #80 closed, assigned to nobody

[2014-04-28 02:04] yhahn commented on #235
Not replicating finder functionality.

[2014-04-28 02:04] #235 closed, assigned to nobody

[2014-04-28 15:06] samanpwbb opened #327 "error 'cannot find [projectname].tm2.tm2'"
@aaronlidman I can't open existing projects in tm2. The app seems to be looking for a version of my project with two suffixes.

[2014-04-28 15:06] aaronlidman commented on #327
@samanpwbb Arg sorry, looking now.

[2014-04-28 15:43] aaronlidman commented on #327
Fixed in ffdab21e227813270992f59983d3402b533760ec.

[2014-04-28 15:43] #327 closed, assigned to nobody

[2014-04-28 18:02] summer4096 opened #329 "512 by 512 tiles"
65,536 pixels isn't cool. You know what's cool? 262,144 pixels.
![reallytho](https://cloud.githubusercontent.com/assets/216009/2820879/4221a3e0-ceff-11e3-9e60-6685163d918f.png)

[2014-04-28 18:39] wboykinm commented on #329
:+1: for a 512px endpoint.

[2014-04-29 23:04] lxbarth commented on #321
Give sources `.vt` extension for vector tiles? Or `.vtf` for vector tile file or `.vtiles` to go with `.mbtiles` flow?

[2014-04-30 15:10] yhahn commented on #245
Rough outline in my head is
- [ ] Add a route that the UI can hit to request srs autodetection for a given filepath ... (?)
- [ ] The route calls some library (node-srs ? subset of millstone https://github.com/mapbox/millstone/blob/master/lib/millstone.js#L899-L944?) that detects srs for the file
- [ ] UI takes that value and includes it in the form

[2014-05-02 11:21] ian29 opened #330 "saving in the UI destroys layers array"
1. manually edit the `layers` array in `project.yml` in text editor + save changes
2. restart tm2, as with all manual edit to `project.yml`
3. save project via tm2 UI
4. look at `project.yml`, layers array is no more.
- this looks specific to the `layers` object, as changes to `center` persist after saving subsequent changes in the UI.
- this seems to be a newish development

[2014-05-02 13:00] aaronlidman commented on #330
![](http://media.giphy.com/media/LVsmysvGBiZEs/giphy.gif)

[2014-05-06 16:30] ingalls opened #332 "Tabs disappear after 10"
If more than 10 tabs are opened the buttons get wrapped underneath the editor pane making them difficult to access.

![screen shot 2014-05-06 at 12 28 50 pm](https://cloud.githubusercontent.com/assets/1297009/2892334/bc10f4b6-d53b-11e3-87df-354d49e799e4.png)

[2014-05-06 16:42] ingalls opened #333 "Tabs Not being deleted"
If a tab is created, deleted, and then attempted to be created again tm2 does not allow the creation. This suggests that the stylesheet is not actually being deleted.

![tm2error2](https://cloud.githubusercontent.com/assets/1297009/2892524/fbf747e0-d53d-11e3-9d19-19b7289f3283.gif)

[2014-05-06 16:50] aaronlidman commented on #333
Probably my bad on #325. I'll look into it.

[2014-05-06 18:25] ingalls opened #334 "Closing New Layer should drop back into map"
![tm2confusing](https://cloud.githubusercontent.com/assets/1297009/2893731/78a9ecea-d54b-11e3-802d-a368c672c8eb.gif)

If the user is adding a new source and changes their mind, closing the modal, it should drop the user back into the environment where they came from, not the layers environment.

[2014-05-06 18:38] #333 closed, assigned to nobody

[2014-05-06 18:57] aaronlidman commented on #334
This is tricky because of the :target selector usage and because we use this same 'add a layer' modal to add another layer to existing source, so sometimes the behavior is desired. Falling back to style mode wouldn't always apply, and when it does we don't have a straightforward way of remembering which style it came from to direct back to.

[2014-05-06 19:04] samanpwbb opened #335 "Modals lose context"
Right now as soon as a user enters a modal, they exit their current context (defined by the target in the URL), because the modal takes over the context and isn't aware of where it came from. Normally, users expect modal to behave as overlays on top of context, that when dismissed, allow user to return to the previous context. We should seriously consider dropping target based interaction for moda

[2014-05-06 19:46] yhahn commented on #335
Yep, I can look into a sketch that uses something more node-like for modals, e.g.

[code]

[2014-05-06 22:02] zeke commented on #230
Hey y'all. I'm sure you heard about the open-sourcing of atom.io, but did you see atom-shell?! This could be a good fit for tm2: https://github.com/atom/atom-shell/blob/master/docs/tutorial/quick-start.md

[2014-05-06 22:21] springmeyer commented on #230
Thanks @zeke! Yes, I poured over atom-shell this morning - looks very very interesting as a wrapper. The trick it looks like would be to have it be optional - you should be able to launch tm2 either as an atom shell app or just a server process. The other issue is that native addons would need to be rebuilt against node v0.11.x. So atom-shell is not going to work until I port [node-mapnik to use N

[2014-05-07 00:43] #3 closed, assigned to aaronlidman

[2014-05-07 00:56] aaronlidman commented on #48
It's been a while. Feel free to open another issue if you're still having issues.

[2014-05-07 00:56] #48 closed, assigned to nobody

[2014-05-07 01:00] #64 closed, assigned to nobody

[2014-05-07 14:23] yhahn commented on #45
### Brain dump

All things subject to change.
1. **Remove true remotes from source UI.** Source UI for _remote only_ sources is used as a kind of debug/inspection mode for styling. Instead, the style UI could have a toggle for displaying the xray tiles and also a "click-to-query" function for grabbing data about features under a given spot on the map (https://github.com/mapnik/node-mapnik/issues/2

[2014-05-07 17:25] ian29 commented on #330
also happens to the `bounds` object : \

[2014-05-07 17:29] ian29 commented on #323
i think the problem is that the current flow allows you make changes to your project, hit export, and have you export reflect a past state of your project. again, just needs clarification.

[2014-05-07 17:32] ian29 commented on #246
geojson sources work for me consistently. @samanpwbb maybe your geojson is weirdly formatted? can you post?

or can we close?

[2014-05-07 18:07] samanpwbb commented on #246
Okay, now geojson sources are working. They definitely weren't for a while. Tested with https://github.com/benbalter/congressional-districts/blob/2233c76ca5bb059582d796f053775d8859198ec5/IL/04.geojson and works just fine.

[2014-05-07 18:07] #246 closed, assigned to nobody

[2014-05-07 18:08] samanpwbb opened #336 "source mode empty tooltip shows on hover"
This is weird:
![screen shot 2014-05-07 at 11 08 23 am](https://cloud.githubusercontent.com/assets/108094/2906576/97ddab5c-d612-11e3-8070-f987ba499829.png)

[2014-05-07 22:47] aaronlidman commented on #330
![](http://media.giphy.com/media/13yEy26lZIvDJm/giphy.gif)

[2014-05-08 00:06] yhahn commented on #54
https://github.com/mapbox/tm2/pull/337

[2014-05-08 00:06] #54 closed, assigned to nobody

[2014-05-08 00:07] yhahn commented on #329
Action starting upstream to start.

https://github.com/mapbox/tilelive-vector/issues/53

[2014-05-08 00:41] wboykinm commented on #329
Woohoo!

[2014-05-08 19:14] aaronlidman opened #340 "Add a remote source doesn't work"
![screen shot 2014-05-08 at 3 12 24 pm](https://cloud.githubusercontent.com/assets/58878/2920293/c298019e-d6e4-11e3-826a-060f90b475a5.png)

![screen shot 2014-05-08 at 3 13 26 pm](https://cloud.githubusercontent.com/assets/58878/2920301/ecb733f0-d6e4-11e3-9aca-db813a9fe108.png)

Always 400s.

[2014-05-08 19:38] aaronlidman commented on #340
Cached lib.js wins again.

[2014-05-08 19:38] #340 closed, assigned to nobody

[2014-05-08 20:22] sgillies commented on #323
@ian29 I just stumbled over the same thing. How about a 3rd option: save when a zoom slider is released?

[2014-05-08 20:42] samanpwbb commented on #323
I like this approach.

[2014-05-08 22:11] aaronlidman opened #341 "Inspect button should be toggleable"
![screen shot 2014-05-08 at 6 03 16 pm](https://cloud.githubusercontent.com/assets/58878/2922125/2628a840-d6fd-11e3-9fa2-479c96eefc34.png)

There's currently no way to turn off inspect mode, it behaves like radio buttons.

Clicking on an already selected button should toggle it.

[2014-05-08 22:17] yhahn commented on #341
Possibly being nuked shortly in https://github.com/mapbox/tm2/tree/inspector

[2014-05-09 00:04] yhahn commented on #341
https://github.com/mapbox/tm2/pull/342

[2014-05-09 00:04] #341 closed, assigned to nobody

[2014-05-09 00:17] yhahn commented on #336
https://github.com/mapbox/tm2/pull/342

[2014-05-09 00:17] #336 closed, assigned to nobody

[2014-05-09 19:11] yhahn opened #346 "js-prefix modal actions, no data-modal"
Per chat, let's just go with one way to do this.

[2014-05-09 19:17] #335 closed, assigned to nobody

[2014-05-09 21:09] yhahn commented on #263
@aaronlidman want to look at having layer "Done" actions trigger a save here and see how it feels? I think this should work even for temporary source projects.

[2014-05-09 21:19] #346 closed, assigned to aaronlidman

[2014-05-09 21:21] yhahn commented on #130
@aaronlidman putting this in your hands to be ruthless with. For things that conflict I think people would be fine with just removing the bindings for now.

[2014-05-09 21:25] samanpwbb commented on #130
Keybindings that I rely on heavily when working on maps:
- Save (obviously)
- Stylesheet switching (with cmd option #)
- fullwidth map
- info panel
- data panel

The rest are less important, but can we try hard not to lose these.

[2014-05-09 23:20] #263 closed, assigned to aaronlidman

[2014-05-10 16:54] brockpetrie commented on #258
Any updates on this? Would love to be able to publish my map to my account. Not seeing any upload functionality anywhere, in TM2 nor Mapbox.

[2014-05-11 23:37] #108 closed, assigned to nobody

[2014-05-12 15:41] yhahn commented on #254
Originally about duplicated Bookmarking + Search code between source/style.

[2014-05-12 19:54] dbaldwin opened #351 "Cannot export mbtiles"
Hi, I'm new here so I apologize if this is a known issue. We have been following the TM2 project for a few months and have been working with various daily builds for OS X. The most recent build (tm2-osx-2014-05-11-8b4328d) will not allow us to export mbtiles. I get redirected to a url such as the following:

http://localhost:3000/mbtiles?id=tmsource:///Users/db/Desktop/medina_rivers.tm2source

But

[2014-05-12 20:36] yhahn commented on #351
y, looks like a visual issue -- some stale css needs updating. Will have a fix shortly.

[2014-05-12 20:43] yhahn commented on #351
@dbaldwin should do the trick for you -- please reopen if you run into it again on the next build.

[2014-05-12 20:43] #351 closed, assigned to nobody

[2014-05-12 22:28] ingalls opened #352 "Crashes on TMP source"
Steps to Reproduce
- Create source
- Change some settings
- Kill Tilemill
- Open Tile mill back up
- An error message will say ~/TMP/... Not found
- Click Back Button
- TM2 Crashes with

[code]

I was using the PostGIS source specifically.

[2014-05-12 22:32] ingalls commented on #352
##### Solution

Update NPM sources.

[2014-05-12 22:32] #352 closed, assigned to nobody

[2014-05-12 22:44] ingalls opened #353 "Postgres Errors not shown"
If there is an error in a postgis connection it is shown in console but not the UI

[2014-05-13 03:58] #78 closed, assigned to nobody

[2014-05-13 04:01] #160 closed, assigned to nobody

[2014-05-13 04:02] yhahn commented on #334
@aaronlidman did this.

[2014-05-13 04:02] #334 closed, assigned to nobody

[2014-05-13 04:02] yhahn commented on #332
^^ you can add more CSS if you need more tabs : )

https://github.com/mapbox/tm2/blob/master/app/style.css#L37-L59

[2014-05-13 04:02] #332 closed, assigned to nobody

[2014-05-13 04:03] #310 closed, assigned to nobody

[2014-05-13 04:05] yhahn commented on #306
Compositing sources together isn't particularly more posh now but there's no extra step of adding the source and then backtracking to add to your map. Closing for now.

[2014-05-13 04:05] #306 closed, assigned to nobody

[2014-05-13 04:06] yhahn commented on #283
Tracking here https://github.com/mapbox/tm2/issues/329. This will be a bit different from the current retina mode in mapbox.js and will likely involve an update to mapbox.js that handles 512x512, 1024x1024, etc. tiles.

[2014-05-13 04:06] #283 closed, assigned to nobody

[2014-05-13 04:08] #237 closed, assigned to nobody

[2014-05-13 04:11] yhahn commented on #50
Punting for now. Description will do for now.

[2014-05-13 04:11] #50 closed, assigned to nobody

[2014-05-13 04:12] yhahn commented on #62
@MobileAndyB no, and a programmatic migration is looking harder than ever. It's pretty straightforward to move Postgres queries over from a TM1 project to a [TM2 source](https://github.com/mapbox/tm2#creating-a-source-with-tm2) however and it's where I'd recommend starting.

[2014-05-13 04:12] #62 closed, assigned to nobody

[2014-05-13 04:13] yhahn commented on #87
- [x] Add a scale factor express param to these routes
- [x] Pass on to tilelive-vector to override project-level scale param

[2014-05-13 04:15] yhahn commented on #63
@matthewbrunsdon1 you likely need to increase the buffer-size on your road layer to about 0.5x-1x the max stroke width you expect to use on your road style.

[2014-05-13 04:15] #63 closed, assigned to nobody

[2014-05-13 04:16] yhahn commented on #183
@rclark has us on a good start here with middleware tests.

[2014-05-13 04:16] #183 closed, assigned to nobody

[2014-05-13 04:42] samanpwbb commented on #259
Design adjustments have smoothed this out.

[2014-05-13 04:42] #259 closed, assigned to nobody

[2014-05-13 15:25] yhahn commented on #315
Above commit should (?) fix no 2 `EPERM` issue.

[2014-05-13 15:26] yhahn opened #354 "Switch to minimist or (?)"
Currently pinned to a fork of optimist. Switch to minimist or some other npm registry module.

[2014-05-13 15:27] tmcw commented on #354
minimist is a+

[2014-05-13 15:39] #354 closed, assigned to yhahn

[2014-05-13 15:47] yhahn opened #357 "Exporting stitched images"
Once better handling of retina and higher DPI tiles are unlocked it's tempting to provide a nice flow for users to render static map images from TM2 styles.
- [x] Add a route at `/image` or `/static` or so that loads a style,
- [x] Provides a display-only UI for picking an image viewport/other settings for exporting,
- [x] Use [leaflet-image](https://github.com/mapbox/leaflet-image) or some other

[2014-05-13 15:47] #30 closed, assigned to nobody

[2014-05-13 15:59] srsjojo commented on #357
I'm not a developer ~~(but I stayed at a Holiday Inn Express last night)~~ so I'm not sure if Python will play well with TM2, but I've been using a modified version of [this guy](http://www.instructables.com/id/Animated-Watercolour-Map-for-Cycle-TourRace-Video/step7/Using-the-Functions/) `overlay.py` script to stitch together any tiles I can get my hands on. Stamen, TM2, MapBox, @samanpwbb's [Asse

[2014-05-13 16:11] crofty commented on #357
I wrote a ruby gem to stitch together static tiles (https://github.com/crofty/mapstatic) writing a similar package for node would be simple.  However, I'm not sure if this is the approach that TM2 should take.  It would be preferable to come up with a solution that allowed PDF's and SVGs to be exported (Tilemill1 has this functionality).

Stitching SVG tiles together isn't easy and so I think it'd

[2014-05-13 16:17] yhahn commented on #66
Punting for now.

[2014-05-13 16:17] #66 closed, assigned to nobody

[2014-05-13 16:28] yhahn commented on #318
_Done_ button is hooked up to updating now. Once we land more datasource inspection we can update even sooner, probably on any change to the filepath https://github.com/mapbox/tm2/issues/171

[2014-05-13 16:28] #318 closed, assigned to nobody

[2014-05-13 16:46] yhahn commented on #65
Please reopen if still happening.

[2014-05-13 16:46] #65 closed, assigned to nobody

[2014-05-13 18:57] dbaldwin commented on #351
@yhahn Thanks for the prompt reply. Exporting works great now.

[2014-05-13 20:31] springmeyer commented on #315
EPERM issue is fixed, thanks! Tested on windows and updated the above checkboxes to reflect that saving styles also works now. File browser is still broken (does not display any entries and does not allow moving up a directory) so I can't yet test source creation:

[2014-05-13 20:32] yhahn commented on #315
Word, will consider that next up.

[2014-05-13 20:35] springmeyer commented on #315
seeing this when I try to open the browser and click up a directory:
![screenshot 2014-05-13 13 33 53](https://cloud.githubusercontent.com/assets/20300/2963685/0c2229f0-dade-11e3-82df-520b272d8354.png)

[2014-05-14 11:12] wheresrhys opened #358 "Install fails to unpack tarball"
The situation is I'm using npm to install a branch of a repo. The repo is on stash, which uses crazy long urls for its branch/tag/ref tarballs, so I don't think the `git+http` protocol will work and I'm forced to use a tarball url

[files & debug info](https://gist.github.com/wheresrhys/35b6a66b29c00faa0a77)

[2014-05-14 11:12] #358 closed, assigned to nobody

[2014-05-14 11:12] wheresrhys commented on #358
Oops - wrong repo

[2014-05-14 14:03] ghost opened #359 "layer drawing order"
can tilemill 2 specify drawing order for layers within a source?
the layers are dragable, but this doesn't seem to affect the rendering.

[2014-05-14 14:07] yhahn commented on #359
Yes, the layer order affects drawing order once you start styling a source. When inspecting a source the the layer UI the layers are drawn in order but use the screen comp-op mode (https://github.com/mapbox/tilelive-vector/blob/master/templates/layer.xml#L1) so visually there is more or less no effect.

[2014-05-14 14:07] #359 closed, assigned to nobody

[2014-05-14 14:27] samanpwbb opened #360 "Modal when first creating new source"
With the modal refactor, we lost this: when creating a new source, user was immediately prompted with add layer modal.

[2014-05-14 14:29] ghost commented on #359
Right, it only matters once we move to the style interface of course. I was wondering about how to influence the layer order. It seemed like changing the orders of layers in the xml/yml wasn't having effect, but now it seems to be working. I must have been mixed up.

[2014-05-14 14:29] samanpwbb opened #361 "a elements need an href"
Modal refactor seems to have left us with `a` elements with no href attribute. Hovering over these elements doesn't trigger pointer cursor. If the link is just for triggering js event, use `#`. Seems to mostly affect empty states in source mode.

[2014-05-14 14:37] samanpwbb commented on #360
Talked to @ajashton - I think we'll be able to guide users in source mode in more effective ways than this. It's a little intrusive: better to let user see the UI and understand how layers fit in before forcing them to add a layer.

[2014-05-14 14:37] #360 closed, assigned to aaronlidman

[2014-05-14 14:51] samanpwbb opened #362 "restyle + fix centering of export modal"
Blue background feels out of place now and this is not centered:

![screen shot 2014-05-14 at 10 49 58 am](https://cloud.githubusercontent.com/assets/108094/2972746/1793b260-db77-11e3-9378-cea71aa0ecc7.png)

[2014-05-14 14:55] ajashton opened #363 "reordering layers in source does not stick"
1. Reorder a layer in the sources UI
2. Close & re-open TileMill or refresh page
3. Layers are back in their original order

[2014-05-14 15:02] samanpwbb opened #364 "Modals aren't centered on large screens"
![screen shot 2014-05-14 at 11 01 39 am](https://cloud.githubusercontent.com/assets/108094/2972932/b93fab54-db78-11e3-92f2-01676e799862.png)

[2014-05-14 15:03] yhahn commented on #359
https://github.com/mapbox/tm2/issues/363 for reference, may be an issue in the UI currently.

[2014-05-14 15:27] ian29 commented on #363
related? #330

[2014-05-14 15:48] yhahn commented on #361
Slight change to recommendation here -- I often use a hash state that reflects a reasonable target as a stopgap/nonbreaking tactic in the event that js event handler is delayed in being attached, e.g. during a page load.

In many cases this is `#` but if a modal is derivative of another state (e.g. `#layers` => change source) you may want to use that state instead.

[2014-05-14 16:22] ajashton opened #365 "close button for source inspector popup"
If you've got data everywhere there's nowhere to click to dismiss the inspector popup

[2014-05-14 19:36] yhahn commented on #365
yar

[2014-05-15 16:57] springmeyer commented on #171
Regarding point 4 above:

@sgillies and I are working on this: looking at using and contributing to https://github.com/naturalatlas/node-gdal and https://github.com/naturalatlas/node-ogr. Steps I see are: kick the tires on the bindings in general, make sure test coverage is good for opening layers and projection detection, figure out whether node-srs is needed anymore, and then commence with node-

[2014-05-15 18:30] camilleanne commented on #87
branch 512 of tm2 and tilelive-vector has these things now.
e.g. `http://localhost:3000/style/16/34349/22970@2x.png?id=tmstyle:///...`
goes up to `@4x`

[2014-05-15 18:30] #87 closed, assigned to camilleanne

[2014-05-15 20:32] JesseCrocker opened #367 "No way to add a remote source that is not a Mapbox source"
I have my own server serving vector PBF tiles and would like to add it as a source, but I cannot seem to find a way to add a remote vector tile source that is not a Mapbox source.

[2014-05-15 20:38] JesseCrocker opened #368 "Compositing local sources"
The ability to composite multiple remote Mapbox sources together into a single source is great. It's seems like it should be possible to do the same thing with local sources. This may seem like an odd request, but it would be very useful when working on a display style that is designed to be rendered from multiple tile sets, and developing the tile sets at the same time.

[2014-05-15 22:36] ajashton commented on #321
Need to finish the opening projects side of this. I took a quick look but couldn't figure out where to make the change.

[2014-05-15 23:07] #363 closed, assigned to nobody

[2014-05-15 23:21] aaronlidman commented on #321
@ajashton Can you try that ^ fix?

[2014-05-16 10:45] yhahn commented on #247
Hrmm, no longer seeing this and makes sense since gridControl is removed. Closing.

[2014-05-16 10:45] #247 closed, assigned to nobody

[2014-05-16 11:23] #55 closed, assigned to nobody

[2014-05-16 11:32] yhahn commented on #353
Fixed-ish with https://github.com/mapbox/tm2/commit/c11d53f03eaf90961c67985976d8445e2962ec07

[2014-05-16 11:33] yhahn commented on #214
I haven't seen this in a while now. Closing.

[2014-05-16 11:33] #214 closed, assigned to nobody

[2014-05-16 11:38] #104 closed, assigned to aaronlidman

[2014-05-16 11:49] yhahn commented on #286
Going to say no to this for now. The approach we're going to take is to try to make sure invalid projects can't be saved rather than making project loading totally open to any kinds of errors.

The case above was a rare where a major switch was made (mapnik `strict: true`) and it's changes like this that make pre-relase atm.

[2014-05-16 11:49] #286 closed, assigned to nobody

[2014-05-16 11:49] yhahn commented on #236
https://github.com/mapbox/tm2/issues/286

[2014-05-16 11:49] #236 closed, assigned to nobody

[2014-05-16 11:50] #353 closed, assigned to nobody

[2014-05-16 11:51] yhahn commented on #155
Fixed by https://github.com/mapbox/tm2/commit/c11d53f03eaf90961c67985976d8445e2962ec07.

Other cases like having a bad projection is basically not detectable automatically. Fixes there will have to be at doing better projection detection or so.

[2014-05-16 11:51] #155 closed, assigned to nobody

[2014-05-16 13:55] yhahn commented on #49
This is usually like a shift click or ctrl click in certain apps, right? (What does photoshop do?)

[2014-05-16 13:56] yhahn commented on #257
On this.

[2014-05-16 17:31] ajashton commented on #321
:+1:

[2014-05-16 21:49] #254 closed, assigned to nobody

[2014-05-19 00:42] #361 closed, assigned to samanpwbb

[2014-05-19 07:44] animaux opened #373 "Is »classic MBTiles-Export« even planned for TM2?"
Or will it always only be exporting styles for external tile servers or Mapbox accounts?

[2014-05-19 15:08] dbaldwin opened #374 "Cannot zoom in & out"
In the latest TM2 build I'm no longer to zoom with the plus/minus buttons in the UI. It's not completely unusable since I'm able to zoom using my trackpad, but wanted to mention. The build I'm using on OS X is tm2-osx-2014-05-18-792705f

Thanks,
Dennis

[2014-05-19 15:15] dbaldwin commented on #374
BTW I should mention that this appears to only be a problem when in "source" view. It looks like zoom in/out functionality was removed here:

https://github.com/mapbox/tm2/commit/feff6b476cb52c6d500769b4c39bc4849e4141e5#diff-487c1365e5c2efc56989c5d0310a01a3L94

I'd be more than happy to submit a patch but am new to this project and am uncertain of the process.

[2014-05-19 15:49] yhahn commented on #374
Oops, will be an easy fix.

[2014-05-19 16:23] #362 closed, assigned to samanpwbb

[2014-05-19 16:23] #364 closed, assigned to samanpwbb

[2014-05-20 14:28] landonreed opened #376 "Inspect feature content decoding failed"
When in the inspection mode, clicking on a feature gives me an ERR_CONTENT_DECODING_FAILED error (see screenshot below).  This is occurring with both the default `mapbox.mapbox-streets-v4` source and with local shapefile sources.

![image](https://cloud.githubusercontent.com/assets/2370911/3028295/c366e7ee-e02a-11e3-8310-fff6fc88b092.png)

EDIT: I'm on the latest `master` branch commit `172cc50c53

[2014-05-20 15:28] camilleanne commented on #357
In branch export-static we now have a 'print' feature which will export the viewport in either 72 dpi, 144 dpi (if on a retina screen), or 288 dpi. It's doing this serverside with [node-blend](https://github.com/mapbox/node-blend/). This is accessible through the Settings menu.

Current API is: `localhost:3000/static/{z},{x},{y}/{px}x{py}{scale}.png?id={tmstyle}` where `x` and `y` are `lon` and `l

[2014-05-20 15:41] tmcw commented on #357
geo-viewport is an encapsulation of that trick: https://github.com/mapbox/geo-viewport

[2014-05-20 17:55] e-n-f commented on #357
I've got a lat-lon-oriented fractional tile stitcher too, if it's any help, at https://github.com/ericfischer/tile-stitch

[2014-05-20 18:16] sgillies opened #377 "Kicking the tires on naturalatlas node-gdal"
Background: https://github.com/mapbox/tm2/issues/171#issuecomment-43236258.

I hate to say it, @springmeyer @tmcw, but https://github.com/naturalatlas/node-gdal instantly feels wrong to me.

[code]

It wants `0` not `'r'` for the mode argument. Is this right for Node? It's wrong for Python, which is partly why I wrote Fiona and Rasterio ;)

[code]

There we go. But then...

[code]

Oof. It's not r

[2014-05-20 18:24] tmcw commented on #377
No way, y - this interface looks cruddy and non-idiomatic. We can definitely do better.

[2014-05-20 18:37] yhahn commented on #373
TM2 to won't be exporting image tiles again -- vector tiles + styling dynamically is much more versatile.

[2014-05-20 18:37] #373 closed, assigned to nobody

[2014-05-20 18:47] animaux commented on #373
Thanks @yhahn. Good to hear a definite word about this. You are of course right. But MBTiles were a nice and simple way to serve tiles independently. Guess I have to embrace the future :)

[2014-05-20 18:54] #257 closed, assigned to yhahn

[2014-05-20 19:13] wboykinm commented on #373
. . . and hang onto a copy of TM1 on a VM :) _Update_: Aha - I thought they were still using different versions of mapnik . . .

[2014-05-20 19:15] #374 closed, assigned to nobody

[2014-05-20 19:16] animaux commented on #373
@wboykinm no need for a VM, they work happily side by side :)

No problem sticking with TM1 for now, it’s just that styling with TM2 is so much smoother.